[2020-10-13 21:27] shannon-lunarg commented on #2227
I have a header update in the works if that is what you're looking for. #2228
It will be merged upon passing internal testing and approval.

[2020-10-14 00:09] y-novikov commented on #2227
Cool, thanks!

[2020-10-14 08:40] rg3igalia commented on #2195
CTS tests submitted for review.

[2020-10-14 16:48] mark-lunarg commented on #2222
@timo-suoranta-varjo, can you share which version of the layer or SDK you are using?  We attempted to address issues such as this in eb3a42af3, which should've first shown up in the 1.2.148 SDK.   If you are on one of the later versions, can you share how you are creating/obtaining your VkDisplayKHR object?  Thanks!

[2020-10-14 17:27] mark-lunarg commented on #2224
@pdaniell-nv, do you agree with @baldurk?

[2020-10-14 19:51] pdaniell-nv commented on #2224
Yes, there should be extra checks for !has_dynamic_viewport_with_count or !has_dynamic_scissor_with_count. I suspect I missed this because this is for the !multiViewport case which our implementation doesn't have. @mark-lunarg are you planning to fix this?

[2020-10-14 20:02] baldurk commented on #2224
FWIW this is checking what features are enabled, not which ones are available. You can still hit this even if the driver supports multiViewport as long as the application doesn't enable it (and a good vulkan application shouldn't enable features it doesn't use).

[2020-10-15 17:01] locke-lunarg commented on #2171
@x3DCoder, @egdaniel, @samwalls-arm, can you please try PR 2223 and see if it fixes the issues you were seeing?

[2020-10-15 17:03] mark-lunarg commented on #2224
Sure, I'll give it a shot.

[2020-10-15 20:11] locke-lunarg commented on #1998
@Ralith @mark-lunarg

I added a test to reproduce this issue, but it couldn't.
The image's arrayLayer is 2. It only changes layer:0 into correct layout. layer:1 is still wrong layout. ImageView uses only layer:0, so it supposed to trigger the false positive. But it doesn't. Could you help me to reproduce the false positive? Thanks.

https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/3d

[2020-10-15 21:27] locke-lunarg commented on #2148
The change have been undo, so the issue should be gone.

[2020-10-15 21:27] #2148 closed

[2020-10-16 02:52] y-novikov commented on #2227
Fixed by #2228

Roll into ANGLE passed https://chromium-review.googlesource.com/c/angle/angle/+/2477443

[2020-10-16 02:52] #2227 closed

[2020-10-16 14:37] #2224 closed

[2020-10-16 14:37] mark-lunarg commented on #2224
@baldurk, please lemme know right away if this doesn't cover the issue you discovered, or if you run into anything else.  Thanks!

[2020-10-16 14:45] mark-lunarg commented on #2222
@timo-suoranta-varjo, 🔔.

[2020-10-16 14:47] mark-lunarg commented on #2221
This may also depend on information requested in #2222.

[2020-10-16 15:39] #2029 closed

[2020-10-16 15:42] mark-lunarg commented on #1998
@Ralith, can you please take a look at the test @locke-lunarg created, and see if you can tell how it differs from your use-case?  Also, which version of the layers are generating these errors?

[2020-10-16 18:38] Ralith commented on #1998
I'm having a difficult time getting master to build, but this is probablythe divergence. In my case, the image view covers the entire array, but the shader only dynamically accesses layers in the correct layout.

[2020-10-16 18:52] locke-lunarg commented on #1998
@Ralith
Yes. If the imageview covers the entire array, and some layers don't change to the correct layout, it will trigger positive because this validation only verify VkImageView data. It doesn't verify what happen in shader. Could you give me a sample how you do in shader "only dynamically accesses layers in the correct layout"? Thanks.

[2020-10-16 19:03] Ralith commented on #1998
Right, and that's an annoying false positive, to the point that I've had to complicate my code to hack around the issue by performing unnecessary layout transitions.

My use case is a very large array where each layer corresponds to a heightmap for a particular region of terrain. As the viewpoint moves around, data is streamed into layers that aren't currently being sampled. An instance buffer ins

[2020-10-16 19:49] locke-lunarg commented on #1998
Sorry for inconvenient. We'll schedule for it.

[2020-10-17 05:12] FilippoLeon opened #2233 "Identically defined descriptor sets ordering of sets"
So, in a mild abuse of the vulkan specs I have stretched the meaning of "identically defined" descriptor set layouts to mean same bindings of same type but in any order. So I just defined a descriptor set layout with 2 buffers at binding 3 and 4 and flipped the bindings around when creating the pipeline.

This used to work with no validation error, until I used MoltenVK:
https://github.com/Khronos

[2020-10-17 06:09] x3DCoder commented on #2171
@locke-lunarg  I have just tested it, works fine now, no more validation errors!
Thanks!

[2020-10-17 06:09] #2171 closed

[2020-10-17 15:12] mark-lunarg commented on #2233
@jzulauf-lunarg, could you please comment on what the pipeline layout compatibility validation accepts and what it doesn't (or, what it'd do if it encountered the same bindings but in a different order)?

[2020-10-17 19:59] Pursche opened #2234 "GPU Validation layer loads 16 bit variable with a 32 bit load"
Hi, I have a Vulkan based project using multidraw indirect, dynamic array indexing, 16 bit int types, and GPU culling. After updating to Vulkan SDK 1.2.154.1 my GPU assisted validation layers seems to patch the shader incorrectly.

Here is the HLSL shader in question: https://gist.github.com/Pursche/2efb1fc2a0e74bf20f404e124e68d93a

If I run this with the standard validation, everything renders co

[2020-10-18 05:51] sfricke-samsung opened #2235 "Remove redundant copy command implicit VU checks in non-generated StatelessValidation"
From https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2209#discussion_r502051631

(@jackohound let me know if you plan to apply a PR fix, otherwise I am happy to fix this all up! Just don't want to have us overlap work if you started)

There are various `VkImageAspectFlags` checks in `parameter_validation_utils.cpp` and `buffer_validation.cpp` that shouldn't be there check. The spec ha

[2020-10-19 02:00] jackohound commented on #2235
#2236 is the follow-up to #2209, and should address (1) from above.

[2020-10-19 08:45] timo-suoranta-varjo commented on #2222
I am using loader and validation layers from 1.2.154.0.

Display objects are obtained from physical device with the following codes:
[code]
[code]
[code]
Display scanning seems to work based on output:
[code]
Full log of application output below:
[code]

[2020-10-19 08:49] timo-suoranta-varjo commented on #2221
I added comment with more information to #2222.

[2020-10-19 14:07] Nightmayr opened #2237 "Failed build 'sdk-1.2.154.0' SPIRV_TOOLS_LIB not found"
Hi, sorry in advance if this is the wrong place for support on build problems. I followed the build instructions and built the the dependencies (Vulkan-Headers, glslang, SPIRV-headers) successfully. Each of these components were installed using `DCMAKE_INSTALL_PREFIX=/usr`. The cmake build command is as follows: `cmake /root/parts/vulkan-validationlayers/src/ -G Unix Makefiles -DCMAKE_INSTALL_PREF

[2020-10-19 14:50] mark-lunarg commented on #2237
@Nightmayr, can you detail where the build instructions came from (the BUILD.md file or the SDK maybe)?  Looking at the BUILD.md file in the repo indicates that there should be a `-DSPIRV_TOOLS_INSTALL_DIR=absolute_path_to_install_dir` in the cmake build command.  I do see that the 'Repository Dependencies' section does not have a separate entry for SPIRV-Tools...

[2020-10-19 15:20] jzulauf-lunarg commented on #2233
I don't believe the declaration order in the descriptor sets is supposed to matter.  If Molten is relying on this, it may be a bug there.  I don't see anything in the text the implies that order matters, in fact the treatment of bindings as indices to a sparsely filled array is strongly implied.

If the VkDescriptorSetLayoutBinding*    pBindings contains the same VkDescriptorSetLayoutBinding entri

[2020-10-19 15:24] Nightmayr commented on #2237
The build instruction I'm using are from the BUILD.md. I accidentally forgot to provide the output with `-DSPIRV_TOOLS_INSTALL_DIR` set, I've edited the first post to include this, but the result is the same. I think the SPIRV-Tools dependency is installed as part of the glslang build instructions.

[2020-10-19 15:45] sfricke-samsung commented on #2235
@jackohound Awesome! Sounds good, will take on 2, 3 and 4

[2020-10-19 16:08] FilippoLeon commented on #2233
Thank you for chiming in. I'd like this to be maybe clarified in the Specs (additionally to being fixed in Molten): should I open an issue on Vulkan-Docs and close this one (or do you have it from here on)? (Wouldn't hurt for the Validation to issue a warning, in the meantime...)

[2020-10-19 16:16] johnzupin commented on #2237
Do you have `pkgconfig` installed? What distro are you using? On ubuntu/debian it would be `sudo apt isntall pkg-config`

[2020-10-19 16:34] jzulauf-lunarg commented on #2233
@mark-lunarg  -- the warning would be a moltenvk specific best practices, yes?

[2020-10-19 16:36] jzulauf-lunarg commented on #2233
@FilippoLeon -- I don't think the spec is particularly unclear on this point.  The preferred workflow is for whoever wants a clarification to propose a spec edit.

[2020-10-19 16:41] mark-lunarg commented on #2233
If this can be fixed in MoltenVK, that's the preferred solution.  If not, it might be applicable to the new Portability extension (VK_KHR_portability_subset).

[2020-10-19 16:58] jzulauf-lunarg commented on #2233
@mark-lunarg @FilippoLeon  -- if I'm correct and this is a Molten issue, it should be fixed there.  As this is bookkeeping issue, implementations supported by portability should be able to support it, as it's independent of the underlying implementation.

[2020-10-19 17:05] baldurk opened #2238 "Validation layers don't validate descriptor updates against variable descriptor counts"
If a descriptor set layout is created with `VK_DESCRIPTOR_BINDING_VARIABLE_DESCRIPTOR_COUNT_BIT_EXT` for a binding, it should have a `VkDescriptorSetVariableDescriptorCountAllocateInfo` struct passed along at create time.

This is processed currently and stored in `cvdescriptorset::DescriptorSet::variable_count_` but this only seems to be used for e.g. limiting the amount of validation that happen

[2020-10-19 17:29] johnzupin commented on #2237
My previous comment wasn't related to your problem

[2020-10-19 17:56] johnzupin commented on #2237
What happens when you try adding `-DSPIRV_TOOLS_INSTALL_DIR==/root/stage/usr` to your cmake command?

[2020-10-19 18:07] Nightmayr commented on #2237
@johnzupin Sorry just realised my original comment wasn't matching in terms of the cmake command I said I ran and the cmake output (corrected now). The output provided above includes `-DSPIRV_TOOLS_INSTALL_DIR=/root/stage/usr`

[2020-10-19 18:24] greg-lunarg commented on #2234
Sorry for the inconvenience. Thanks for the detailed analysis. Should have a fix shortly.

[2020-10-19 19:20] ShabbyX opened #2243 "Bug in input attachment validation"
A recent [roll into ANGLE][1] is exposing a VVL bug that says:

[code]

To repro, apply [this change][2] to ANGLE, build and run:

[code]

In the above test, there's a single color attachment / resolve attachment pair. In the second render pass, there are two subpasses. The first of the two subpasses uses the resolve attachment as input attachment and renders into the color attachment. Subpass' `p

[2020-10-20 12:22] snowman791 commented on #2243
I have a similar problem:

Validation Error: [ VUID-vkCmdDraw-None-02686 ] Object 0: handle = 0x26956baba10, name = CommandBuffer: 0, type = VK_OBJECT_TYPE_COMMAND_BUFFER; Object 1: handle = 0x9c93ec00000001c2, name = Render Pass: result, type = VK_OBJECT_TYPE_RENDER_PASS; | MessageID = 0x242cb6b8 | vkCmdDraw(): VkRenderPass 0x9c93ec00000001c2[Render Pass: result], subpass #0, input attachment #1

[2020-10-20 14:40] mark-lunarg commented on #2233
Updated the MoltenVK issue above with findings, closing this for now.  Will reopen if any action on the part of the VL is needed.  Thanks!

[2020-10-20 14:40] #2233 closed

[2020-10-20 14:58] mark-lunarg commented on #2222
@timo-suoranta-varjo, thank you for the additional information.  The thread_safety validation was recently modified to track objects as an optimizaton. To operate correctly, this means it now needs to also capture all vulkan object creation/deletion events, and this is currently incomplete.  Thanks for the report, we hope to be able to address it in the near future!

[2020-10-20 15:45] johnzupin commented on #2237
What cmake version are you using?

I'm having a hard time recreating this. It looks like https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/dd3a099c78450cd1baea10a7aa7829d9c0526f64/CMakeLists.txt#L239 isn't descending into the "x86_64-linux-gnu" directory but that shouldn't be the case.

[2020-10-20 15:48] johnzupin commented on #2237
Nevermind there is a cmake check so you should be using at least 3.10.2

[2020-10-20 16:43] johnzupin commented on #2237
Ok I am able to recreate this now.

Changing the CMakeLists.txt file to add PATH_SUFFIXES of "x86_64-linux-gnu" fixes your issue. Here's a diff of my changes:
[code]

I am going to create a pull request for this...

[2020-10-20 16:45] johnzupin commented on #2237
I thought cmake descended into the "x86_64-linux-gnu" directory but apparently not.

[2020-10-20 18:33] Nightmayr commented on #2237
Nice, I've just patched in that diff and can confirm it builds successfully now

[2020-10-20 18:54] #2243 closed

[2020-10-20 19:56] johnzupin commented on #2237
I'm still investigating but the "x86_64-linux-gnu" gets created sometimes from the glslang.

Using your use case by installing glslang with `cmake `-DCMAKE_INSTALL_PREFIX=/usr ....` then `DESTDIR=/root/stage make install` it will create the "lib/x86_64-linux-gnu"

If I install glslang with  `-DCMAKE_INSTALL_PREFIX=/root/stage/usr ....` and run `make install` then the "x86_64-linux-gnu" directory n

[2020-10-21 07:59] sfricke-samsung commented on #2235
Note: Currently `3` is not possible due to not being able to grab `AllVkImageAspectFlagBits` from `parameter_validation_utils.cpp` or `stateless_validation.h` so I feel for now it should just be fine

[2020-10-21 19:19] Ralith commented on #1998
Maybe a good approach here would be to emit an error iff no subresource is in the correct layout? That should still catch most common errors while being conservative when there's clever shader stuff going on.

[2020-10-22 15:27] johnzupin commented on #2237
I'm closing this issue out. Looks like you're able to compile now, feel free to open it back up if not. I'm still looking into if I should create a PR for this and will link to this issue if I do.

[2020-10-22 15:27] #2237 closed

[2020-10-22 15:38] mark-lunarg commented on #2237
Thanks a ton @johnzupin!

[2020-10-22 17:14] obhi-d opened #2253 "No validation error on vkCmdBuildAccelerationStructureNV called twice on top level VkAccelerationStructureKHR without VK_BUILD_ACCELERATION_STRUCTURE_ALLOW_UPDATE_BIT_NV"
Hello,

I notice that vkCmdBuildAccelerationStructureNV called on a top level VkAccelerationStructureKHR without the VK_BUILD_ACCELERATION_STRUCTURE_ALLOW_UPDATE_BIT_NV flag a second time (after updating the instance buffer again) do not throw any validation error. The result is undefined behaviour as I discovered though a very hard to find bug, which caused a random driver crash. It might be usef

[2020-10-22 17:23] mark-lunarg commented on #2253
@jmacnak, @souravpNV, there doesn't seem to be a VUID for this particular case.

[2020-10-22 19:42] souravpNV commented on #2253
@mark-lunarg, I will check internally for this.

[2020-10-22 21:03] kyrios123 opened #2254 "error: ‘OpAtomicFAddEXT’ is not a member of ‘spv’"
Hello,

Since commit 25b6c3575f3816ff8268d4269d274b808830b642 I get the following error when building Vulkan-ValidationLayers. What did I miss ?
[code]

[2020-10-22 21:05] jzulauf-lunarg opened #2255 "syncval: Usability improvements tracking issue"
This issue will track the potential improvements for usability of the synchronization validation

## Specific Items
- [ ] Add oldLayout/newLayout transition information to image barrier hazard detection message
- [ ] Specialize the error messages to encode more than just the hazard.  Target would be message string for *every* different hazard source (layout transition, load, store, descriptor refe

[2020-10-22 21:33] mark-lunarg commented on #2254
can you try rerunning `update_deps.py` or updating your `glslang/SPIRV-Headers` dependencies?

[2020-10-23 12:02] Kangz opened #2256 "vkCreateSwapchainKHR: oldSwapchain doesn't need to be on the same VkDevice"
Currently the validation layers emit an error when the `VkSwapchainCreateInfoKHR::oldSwapchain` is set to a swapchain created on the same `VkInstance` but not on the same `VkDevice`.

However the Vulkan specification states the following for [`VUID-VkSwapchainCreateInfoKHR-commonparent`](https://www.khronos.org/registry/vulkan/specs/1.2-khr-extensions/html/vkspec.html#VUID-VkSwapchainCreateInfoKHR

[2020-10-23 14:56] mark-lunarg commented on #2256
@Kangz, would you mind sharing the error message and platform you are using, please?  Thanks!

[2020-10-23 15:01] Kangz commented on #2256
It repros on Linux and Windows on Intel and NVIDIA (all configurations in which we run tests with the VVL).

[2020-10-23 15:11] mark-lunarg commented on #2256
Thanks for the extra information! I think I see the root of the problem.

[2020-10-23 16:00] locke-lunarg commented on #1998
This test is related to this issue.
https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/435a9d80261c31c55e8a342058045b7e72a33015

Now, the image layout validation only check image_view. It doesn't validate if the layer is used in shader. We need to validate in shader_validation if the layer is used or not.

[2020-10-23 17:04] jzulauf-lunarg opened #2257 "syncval: Performance tracking issue"
This issue is used to track know areas for potential performance optimization.

- Range Generation
  - [ ] RangeGeneration Constructor -- copy from image or view for full extent/full subresource range in image/view
  - [ ] Specialization/Overload/Derived class for full extent (simplify constructor/++)
- Range traversal
  - [ ] Minimize Subpass DAG walks for lazy access context evaluation -- full e

[2020-10-23 17:44] kyrios123 commented on #2254
I updated `glslang` to [SDK-candidate-26-Jul-2020](https://github.com/KhronosGroup/glslang/releases/tag/SDK-candidate-26-Jul-2020) instead of [stable release April 27, 2020](https://github.com/KhronosGroup/glslang/releases/tag/8.13.3743) and it works.

It would be nice to have a consistent toolchain. The sdk-1.2.154.0 is a stable version so it shouldn't rely on release candidate/unreleased glslang

[2020-10-23 17:55] mark-lunarg commented on #2254
You are right, and there are efforts in progress to reduce these frustrations but it is a complex issue and we are sorry for any confusion.

[2020-10-23 17:55] #2254 closed

[2020-10-23 19:44] #2221 closed

[2020-10-23 19:44] #2222 closed

[2020-10-23 21:17] jonahryandavis commented on #2243
This issue is still happening even with the above fix.
Examples documented here: https://bugs.chromium.org/p/angleproject/issues/detail?id=5228

[2020-10-24 02:05] #33 closed

[2020-10-24 02:06] mark-lunarg commented on #55
Both of these VUIDs are implemented in shader validation.

[2020-10-24 02:06] #55 closed

[2020-10-26 01:28] ShabbyX commented on #2243
Wrong bug Jonah! This comment should have been on #2148.

[2020-10-26 08:31] locke-lunarg commented on #2243
@jonahryandavis  @ShabbyX

I'm confused. Why is the error message is VkNonDispatchableHandle? It should have been VkPipelineLayout.

[2020-10-26 19:04] ShabbyX commented on #2243
@locke-lunarg it may be a false alarm. I had a change that fixes a pipeline-binding bug which was probably the cause of this validation error.

[2020-10-27 14:30] ShabbyX commented on #2243
@locke-lunarg Confirmed that the warning was actually due to an ANGLE bug.

[2020-10-27 16:07] greg-lunarg commented on #2234
The spirv-tools commit above should fix your problem. It will show up in the next SDK in the December time frame. In the meantime, you can get the fix now if you build your own VVL and manually include this version of spirv-tools.

[2020-10-27 16:07] #2234 closed

[2020-10-27 16:22] mark-lunarg commented on #2234
Thanks @greg-lunarg!

[2020-10-27 16:25] Pursche commented on #2234
Thank you for a quick fix!

[2020-10-27 18:29] jaebaek opened #2267 "Feature request for GPU-assisted validation: print the detailed information for OOB buffer"
This is a feature request for GPU-assisted validation.

Since spirv-opt supports [OpenCL.DebugInfo.100](https://www.khronos.org/registry/spir-v/specs/unified1/OpenCL.DebugInfo.100.html), we can print what buffer causes the OOB error using the debug information (if it exists).

In addition, I found that the `OpLine` information for the instruction (the location in the high-level language source cod

[2020-10-27 19:23] Tony-LunarG commented on #2267
With respect to the OpLine information, the GPU-AV code does parse the shader source and print OpLine info when it's found.  For instance, running the validation layer test GpuValidationArrayOOBGraphicsShaders, the third subtest generates the following error message:
[code]
@jaebaek when you ran GPU-AV and didn't see OpLine information, are you certain that your shader was compiled debuggable?

[2020-10-27 20:13] jaebaek commented on #2267
I modified some unit tests and ran them but I did not know `GpuValidationArrayOOBGraphicsShaders` demonstrates it. Since all the unit tests pass without a failure, it might be fine.

One question .. what if the code has OpLine without the shader source?

[2020-10-27 20:21] Tony-LunarG commented on #2267
I believe you'll get an error that looks like "Unable to find SPIR-V OpString for file id " << reported_file_id << " from OpLine instruction."

[2020-10-27 20:34] jaebaek commented on #2267
Ah .. I remember I saw it. Yes, I think we can provide the file name and line/column numbers even when we do not have the source code. It will be very useful (at least, for me). What do you think?

[2020-10-27 20:58] Tony-LunarG commented on #2267
Yes, that seems reasonable.

[2020-10-29 00:29] Noxagonal opened #2272 "vkSignalSemaphore() payload change seems to be ignored by validation layers."
Hey.
So basically vkSignalSemaphore() doesn't report setting value backwards, and trying to submit with a timeline semaphore which value is higher than the VkTimelineSemaphoreSubmitInfo::pSignalSemaphoreValues, it should report about it but doesn't.

I put up a minimal VS project here as a zip if needed.

[VulkanTimelineSemaphoreTest.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/fil

[2020-10-29 01:05] Noxagonal commented on #2272
Using Vulkan SDK 1.2.154.1

[2020-10-29 07:57] sfricke-samsung commented on #2272
For the record, the 2 VUs in play here are

and

Both of which have coverage and a test for them

[2020-10-29 08:22] sfricke-samsung commented on #2272
@Noxagonal ... so found the problem... so when the layers were updated to Vulkan 1.2, the `PreCallValidateSignalSemaphoreKHR()` never turned into an "overloadded" `PreCallValidateSignalSemaphore()` version (actually only for CoreChecks it got missed)

So sure enough if I changed the `InvalidSignalSemaphoreValue` test to use `vkSignalSemaphore()` instead of `vkSignalSemaphoreKHR()` it never gets in

[2020-10-30 10:22] rg3igalia opened #2279 "Unexpected validation error in renderpass2 attachment reference"
When running some CTS tests related to multisample resolve attachments, like

The layers are reporting errors like this one:

However, the spec says:

While the error is being reported for resolve and color attachments.

[2020-10-30 15:38] #2272 closed

[2020-10-30 16:10] #2235 closed

[2020-11-01 15:28] sfricke-samsung commented on #2197
So VU `VUID-VkGraphicsPipelineCreateInfo-rasterizerDiscardEnable-04493` has been added into spec. I can get a PR up to add logic to check for it

[2020-11-02 05:06] sfricke-samsung commented on #2197
@ShabbyX About to write a unit test for this in Validation Layers and I think your case is actually valid.

So your `subpass 0` should be ignoring the `VkPipelineColorBlendStateCreateInfo` so the `attachmentCount` can be what it wants actually... let me know if I am misreading your original issue

[2020-11-02 15:26] sfricke-samsung commented on #2197
It's fair, I do plan to write `VUID-VkGraphicsPipelineCreateInfo-rasterizerDiscardEnable-04493` still and feel this whole issue slightly improved the wording in the spec, so for nothing to be sorry about

[2020-11-02 15:58] mark-lunarg commented on #2197
@sfricke-samsung, @ShabbyX, thanks very much to both of you!

[2020-11-02 19:49] Tony-LunarG commented on #2238
Fixed with #2270

[2020-11-02 19:49] #2238 closed

[2020-11-02 20:02] Tony-LunarG commented on #2267
The OpLine portion of this request has been addressed by #2271

[2020-11-03 08:51] rg3igalia commented on #2279
This was fixed by #2250.

[2020-11-03 08:51] #2279 closed

[2020-11-03 15:58] Izhido opened #2287 "AHardwareBuffer_describe symbol missing in latest release"
Attempting to include the validation layers in the latest release, in a project that targets Android 25, generates the following message:

E/vulkan: failed to load layer library '/data/app/com.blablabla.myapp/lib/arm64/libVkLayer_khronos_validation.so': dlopen failed: cannot locate symbol "AHardwareBuffer_describe" referenced by "/data/app/com.blablabla.myapp/lib/arm64/libVkLayer_khronos_validatio

[2020-11-03 17:07] mark-lunarg commented on #2287
@Izhido, in the past, issues like this have been because a version of Android was used that was not current enough (I believe this symbol was added in Android 'O', or Oreo).  Android 25 should be fine however.  Can you enumerate the NDK version you are using?  Thanks!

[2020-11-03 17:16] Izhido commented on #2287
Sure. I'm currently on NDK 21.3.6528147, which incidentally is the version (I believe) the latest release was compiled against.

Being stuck in Android 25 in my device has given me no small grief - Android Studio offers a fully featured native code profiler which I'd love to use for my app - problem is, the "native code" part of it is enabled for Android 26 and later :(

[2020-11-03 18:34] birdcat87 opened #2289 "RPCS3 emulator Vulkan error: CHECK_RESULT for vkCreateDevice VK_ERROR_FEATURE_NOT_PRESENT"
This error has occurred for the last several months of RPCS3 software releases, and the same line of code creates the problems every time.  So when I try to play Demon Souls using Vulkan (the problem doesn't occur in OpenGL), I get:

RPCS3 Error Page:
(https://user-images.githubusercontent.com/73905602/98024987-06093780-1e01-11eb-967a-251f73e25b9a.png)

The line of code referenced is (used to be l

[2020-11-03 18:57] mark-lunarg commented on #2289
@birdcat87, Vulkan provides API support to query hardware platforms for supported extensions, features, and limits.  Attempting to create a device object with invalid combinations of them would certainly produce a result such as you are seeing.

Are the validation layers loaded when the application generates this error?  If so, could you include the output from the layers before encountering this

[2020-11-03 18:59] mark-lunarg commented on #2287
@Izhido, i'm certainly not an Android expert, but am confident that the validation layers (and the latest Android and Android SDK versions) support this symbol.  The only other thing I can think of might be the setting of APP_PLATFORM in your Application.mk file -- what might that be?

[2020-11-03 19:11] Izhido commented on #2287
Interesting point. My project **does not** include APP_PLATFORM in its own Application.mk. However, there is one Application.mk at root level in the Oculus Mobile SDK, which includes the following:

[code]

[2020-11-03 19:17] birdcat87 commented on #2289
Thank you, @mark-lunarg for responding so quickly and helpfully!

I have version 1.2.154.0 of vulkan-validation-layers installed on my Linux computer, but unfortunately I don't know how to actually run or get the output from the validation layers.  I have some command line experience (I can use cat to get the output of a file, then pipe it to grep to search for a word) but I have no real experienc

[2020-11-03 19:49] mark-lunarg commented on #2289
@birdcat87, as we are desperately short of bandwidth I am only able to point you to the [Vulkan SDK Documentation](https://vulkan.lunarg.com/doc/sdk/1.2.154.1/windows/layer_configuration.html), which has information about configuring and using the layers.  Perhaps Reddit or maybe the Vulkan Slack channel might be of help, but I am confident that once you fix the issues discovered by validation you

[2020-11-03 19:49] #2289 closed

[2020-11-03 19:54] mark-lunarg commented on #2287
@Izhido, I would think that android-24 should be sufficient.  I'm sorry but I don't think we can be of much more help with application issues.  The layers included in the latest Android SDK have been tested and cleared by the Android folks, so they are not seeing this issue.  Likewise, have seen no issues with our Android testing including AHardwareBuffer-specific tests.

[2020-11-03 20:02] mark-lunarg commented on #2287
@Izhido, just heard from the Android folks.  I (as I suspected) was wrong, AHardwareBuffer was not [introduced until Android 26](https://en.wikipedia.org/wiki/Android_version_history#Android_8.0_Oreo_(API_26)
) (Oreo), so to use any layers built since that time you'd need to target a newer API level.

[2020-11-03 21:36] sfricke-samsung commented on #2287
So the issue is the Validation Layers need to be built without using AHB just like when its built for Windows/Linux.

in [android_ndk_types.h](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/android_ndk_types.h) we should have wrapping around so if you set the [APP_PLATFORM](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/build-android/jni/Application

[2020-11-03 21:52] mark-lunarg commented on #2287
@sfricke-samsung, thanks, this explains a lot.  I think we could update the build to work correctly as you suggest.  I don't see new releases being made for the old Android versions, but they could still be built if needed.

[2020-11-03 22:11] sfricke-samsung commented on #2287
@mark-lunarg did you want me to make the PR for the macros then (happy to do so)?

As for adding a build to CI or release, it actually easy as you should be able to just append `APP_PLATFORM=android-24`to the [ndk-build](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/build-android/build_all.sh#L63) command to build it for "pre-AHB"

Note: Android 24 is the first version that s

[2020-11-03 23:05] mark-lunarg commented on #2287
The repo is required to have the latest version (matching the SDK-release) available on Github for the Android binary releases. I'd still prefer updating the docs for users who need the the pre-AHB versions (@Izhido is the second person in four years AFACT!).  A PR would be GREATLY appreciated!  The AHB stuff was all added before hardware was available, so it's a bit shaky as you have noticed.

[2020-11-03 23:20] sfricke-samsung commented on #2287
Sounds good to me. I should have a PR up tomorrow with both the fixes the way to build it in the BUILD.md

The we can have @Izhido test it to confirm it satisfies this issue

[2020-11-03 23:38] mark-lunarg commented on #2287
This is super -- you guys are great!

[2020-11-04 00:03] #24 closed

[2020-11-04 01:29] Izhido commented on #2287
Concur. Let me know when to start testing.

I guess the intersection of the Venn diagram of “people who do Vulkan” vs “people who code for Oculus Quest” vs “people who use validation layers” is pretty small...

[2020-11-04 19:15] Izhido commented on #2287
Just tested the new build generated from the PR above, successfully. The validation layer lib works now as expected!

[2020-11-04 21:28] mark-lunarg commented on #679
The items included in this tracking issue are now being tracked under the repo's Project page, [here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/2).

[2020-11-04 21:28] #679 closed

[2020-11-04 21:36] mark-lunarg commented on #852
The items in this issue are now being tracked in [this repositories project pages](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/3).  Please reference that for current status.

[2020-11-04 21:36] #852 closed

[2020-11-04 22:11] #2287 closed

[2020-11-04 22:15] mark-lunarg commented on #2267
Added to the GPU-Assisted validation project page, [here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/3).

[2020-11-04 22:15] #2267 closed

[2020-11-04 22:20] mark-lunarg commented on #67
This issue has been rolled into the [Validation Layer Enhancements Project Page](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/4).

[2020-11-04 22:20] #67 closed

[2020-11-04 22:21] mark-lunarg commented on #1279
This issue has been rolled into the [Validation Layer Enhancements Project Page](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/4).

[2020-11-04 22:21] #1279 closed

[2020-11-04 22:21] mark-lunarg commented on #1782
This issue has been rolled into the [Validation Layer Enhancements Project Page](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/4).

[2020-11-04 22:21] #1782 closed

[2020-11-05 10:50] kpet opened #2304 "Workgroup size not validated when the size comes from an object decorated with `WorkgroupSize`"
The workgroup size for compute shaders can be specified using two mechanisms:

1. `LocalSize` execution mode
1. Using an object (constant or specialisation constant) decorated with `WorkgroupSize`

Workgroup sizes are only validated against device limits when specified with the `LocalSize` execution mode. They should always be validated.

[2020-11-05 14:14] jzulauf-lunarg commented on #2257
Moved to Sync Val project.

[2020-11-05 14:14] #2257 closed

[2020-11-05 14:15] jzulauf-lunarg commented on #2255
Moved tracking items to Sync Val project

[2020-11-05 14:15] #2255 closed

[2020-11-05 14:17] jzulauf-lunarg commented on #2088
Fixed, with no issue author feedback.

[2020-11-05 14:17] #2088 closed

[2020-11-05 17:01] courtney-g opened #2305 "Missing header dependency in BUILD.gn"
A recent change added an #include "android_ndk_types.h".
Things build fine but Chromium's gn build presubmit check export_targets.py noticed that the header file is not listed in the appropriate target's sources list.

[2020-11-05 18:46] jzulauf-lunarg opened #2308 "syncval: Add vkCmd(Set|Wait)Event support -- device side only"
Add support for barrier updates and hazard detection w.r.t. synchronization events

[2020-11-05 18:51] jzulauf-lunarg commented on #72
Now tracked in [Synchronization Validation Project](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/5)

[2020-11-05 18:51] #72 closed

[2020-11-05 19:59] mark-lunarg commented on #2305
Fixed by #2306.

[2020-11-05 19:59] #2305 closed

[2020-11-05 20:00] mark-lunarg commented on #2253
@souravpNV, is there any new information?

[2020-11-05 20:41] souravpNV commented on #2253
Sorry, I lost track of this, I checked with Eric and there is some confusion, as per Eric If the “Rebuild the TLAS” doesn’t have the update flag set, then it sounds like that should be legal, but I can’t tell either way from what he’s saying.
Adding @ewerness-nv  here directly

[2020-11-05 22:30] obhi-d commented on #2253
I wanted to add that, in Nsight, the AccelerationStructure appears invalid in this case. Which is why I tried to recreate the TLAS, and it seemed to be working after that.

[2020-11-06 09:50] rg3igalia opened #2309 "Unexpected validation error related to vertex attributes"
When running some variants of the CTS robustness2 tests, like `dEQP-VK.robustness.robustness2.bind.notemplate.r32i.dontunroll.nonvolatile.vertex_attribute_fetch.no_fmt_qual.null_descriptor.samples_1.1d.vert`, the layers are reporting the following validation error due to the vertex buffer being VK_NULL_HANDLE:

It looks like the layers are not taking into account that `nullDescriptor` is enabled f

[2020-11-06 19:55] Tony-LunarG opened #2311 "Parameter validation false positive validating VkSubpassDescriptionDepthStencilResolve"
Starting with headers version 1.2.159, in validating:

**VUID-VkSubpassDescriptionDepthStencilResolve-stencilResolveMode-parameter
stencilResolveMode must be a valid VkResolveModeFlagBits value**

parameter validation does not take into account that

**VkSubpassDescriptionDepthStencilResolve::stencilResolveMode is ignored if the VkFormat of the pDepthStencilResolveAttachment does not have a stenci

[2020-11-06 20:42] #2309 closed

[2020-11-06 21:06] karl-lunarg commented on #1001
This tracking issue is now closed.

All Validation Layer Performance information is now tracked via the Validation Layer Performance project [page](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/6).

[2020-11-06 21:06] #1001 closed

[2020-11-10 15:02] karl-lunarg commented on #2188
The Abseil [compatibility documentation](https://abseil.io/about/compatibility) suggests that Abseil cannot reliably be used in dynamically-loaded libraries.  In particular:

* Do not rely on dynamic unloading. We consistently use patterns that may not be friendly to dynamic unloading of shared libraries. We make no claims that any of this code is usable in a system with regular unloading of such

[2020-11-10 15:10] Facundo961 opened #2313 "Crash and false reports when using push constants."
I've recently encountered an error when using push constants.

I have several pipeline layouts describing different sets and bindings and everything works fine, but when I try to add a push constant to the first pipeline layout (or anyone of them for that matter) the validation layers crash at vkCmdDrawIndexed() time while de-referencing a descriptorSet pointer and reports an error through debug u

[2020-11-10 15:19] mark-lunarg commented on #2313
@Facundo961, this validation is currently passing tests and we're unaware of other outstanding reports.  Could you please share a repro case along with the shaders in question?

[2020-11-10 15:30] Facundo961 commented on #2313
**Vertex Shader:**
[code]

**Fragment Shader:**
[code]

Those are the shaders. And I'm sorry I'm still quite new to this but what do you mean by a repro case? Thanks!

[2020-11-10 16:07] mark-lunarg commented on #2311
This will be partially resolved by [this spec issue](https://gitlab.khronos.org/vulkan/vulkan/-/merge_requests/4217).

[2020-11-10 18:33] mark-lunarg commented on #2256
@Kangz, I wrote a test for this and did not see the same result as you observed.  In my case, the thread-safety layer crashed on an assert, but the object lifetimes validation worked as expected.  Can you share which version of the layers (or SDK) you noticed this behavior with?  Also, if you are able to build the branch in the PR above (or grab the [build artifacts here](https://ci.appveyor.com/p

[2020-11-10 21:01] Wunkolo opened #2318 "Framebuffer attachments extent check using image-create extents rather than image-view extents."
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/1019fbcee5fd0c87c2dadeb05439258f97f3b66c/layers/core_validation.cpp#L10068

This validation message, for both `width` and `height`. Seems to be verifying the framebuffer attachment extents against the `pImageCreateInfo` of the created image rather than the width/height of the particular subresource being addressed by the **ImageView**.

[2020-11-11 00:14] Phildo opened #2319 "validation layers fail to catch erroneous VkRenderPassMultiviewCreateInfo.pViewMasks"
My bug was the following:

[code]

that is, `viewMask` was out of scope at the time its address was referenced in the renderPassCreateInfo. This caused my left eye to render black, and my right eye to flash black/white for a handful of frames before losing the device.

If the value at the address given by `pViewMasks` can be something which might eventually cause the device to be lost, I think tha

[2020-11-11 14:52] mark-lunarg commented on #2319
@Phildo, we wish there was a practical way to check pointer validity.  There are code analysis tools such as valgrind or Visual Studio Code Analysis that can help to identify such situations, but it's well beyond the capabilities of this tool.

[2020-11-11 16:07] Phildo commented on #2319
@mark-lunarg I agree that "pointer validity" is reasonably out of scope for a validation layer. however, if the pointer is pointing to _invalid data which might result in a crash_, I believe that is _within scope_ to test.

to be clear, there are two possibilities here:

A. my bug arose from a UB pointer dereferencing, and the dereferencing itself set off a chain of events which eventually resulte

[2020-11-11 19:04] mark-lunarg commented on #2319
@Phildo, after some digging and conferencing, we're not positive that this could be done statically (or at all, usefully).  In any case, we came across nothing in the Vulkan spec nor in the SPIIR-V spec that says this is invalid behavior, so there's little we can do.  A possible next step might be to open an issue at [Vulkan-Docs](https://github.com/KhronosGroup/Vulkan-Docs).

[2020-11-11 19:46] mark-lunarg commented on #2313
Sorry about that, it'd be a simple test case that we could compile and run to reproduce the issue and find the errors.

[2020-11-11 19:53] Phildo commented on #2319
Ah, interesting. So it's technically a bug in the _runtime_ that it crashed, as the spec doesn't disqualify any uint32_t as a viewMask, regardless of other context (such as "views available").

If that's the case, I'm unsure what change is needed in the docs... Unless by "open an issue in the docs" you're implying I "open an issue for the _spec_ to _make_ it disqualify invalid uint32_ts"?

(sorry

[2020-11-11 20:38] baldurk commented on #2319
What about `VUID-VkFramebufferCreateInfo-renderPass-04536`?

Which could verify at framebuffer create time that the view mask which was read (unknowingly from an invalid pointer) has no invalid bits set. Curiously the imageless framebuffer version `VUID-VkFramebufferCreateInfo-renderPass-03198` is checked, but this one isn't.

My guess is that the device lost is because the viewMask actually had b

[2020-11-11 20:42] mark-lunarg commented on #2319
@Phildo, no problem at all, this is a complicated issue at best.  I'm don't have a working knowledge of the MultiView extension, but as I understand it the if the viewmask matches the ViewIndex decoration in the shader, then it Does Something to those layers of the framebuffer attachment.  It might be that there should be a valid usage statement that says something like 'no index set in pViewMask

[2020-11-11 21:00] mark-lunarg commented on #2319
@baldurk, thanks!  I was searching for `pViewMasks `and totally missed this.  @Phildo, sorry for the confusion.

[2020-11-11 21:05] mark-lunarg commented on #2319
Leaving a note here for the eventual implementer, closed PR #1142 contains checks for another handful of unimplemented and related VUIDs.

[2020-11-12 01:37] timvpGoogle commented on #2311
ANGLE recently started getting this false positive as well:

[code]

From the ANGLE bug tracking the issue:
https://bugs.chromium.org/p/angleproject/issues/detail?id=5331#c2

Do you think this bug should resolve this issue as well, or should we open another?

[2020-11-12 11:35] Kangz commented on #2256
I just tried with top of tree (6668bbea6c935f33441b0a2dfd0e5808988c3c0a) which includes #2316 and the error is still raised. Here's the stack trace:

[code]

Of note it goes through `ObjectLifetimes::CheckObjectValidity` that has special conditions to skip the device check for VkSurfaceKHR but not VkSwapChainKHR. I'm not sure why the test you added in the PR doesn't trigger the same issue though.

[2020-11-12 13:48] mark-lunarg commented on #2256
@kangz, Ugh, must be something wrong with the test.  If you could paste in your source or pseudo-code for the instance/device/surface/swapchain creation that shows the problem it'd really help.

[2020-11-12 17:01] Facundo961 commented on #2313
Ok. Would a generated CPP from a frame capture suffice? Because the application is part of an engine that is not quite ready to be built on another machine. Or would an executable for the final app be ok?

[2020-11-12 18:06] mark-lunarg commented on #2313
@Facundo961, the CPP-framecap (maybe with buildtips) would be great, or the exe, as long as it'll run on Win10/VS2019 -- either would be a huge help!

[2020-11-12 18:18] ShabbyX commented on #2311
Probably different bugs. In ANGLE, we have a use case where a depth/stencil resolve attachment resolves depth but not stencil. Probably the validation is not taking independentResolveNone into account.

[2020-11-13 13:05] Kangz commented on #2256
Pseudo-code is a bit buried inside the layers of Dawn, but doing printf debugging I was able to confirm the calls should be similar to what you did in the test. I was able to run an API dump of the minimal repro case here: https://gist.github.com/Kangz/5adb1a0de6c603d1b19c8129c54e468f

Note that the validation fails before api_dump outputs the last call so I added it at the bottom (from a previous

[2020-11-16 05:49] Facundo961 commented on #2313
I've finished prepping up the [executable](https://drive.google.com/file/d/1VtKEp0GJIACigHUWKCnegDLWcEnzb6lZ/view?usp=sharing). Please tell me if that works. In the Debug-x64 folder, you'll find a setings.ini file. You can toggle validation on and off with the debug parameter, and you can toggle push constant use or dynamic buffer use with the "usePushConstants" setting. If needed you can find las

[2020-11-16 05:54] Facundo961 commented on #2313
Also, runtime crashes inside this function.

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/d0de1f88d802f42d911cf4e77fb85e4cca5cbac9/layers/synchronization_validation.cpp#L1519

[2020-11-16 14:52] mark-lunarg commented on #2313
@Facundo961, this is greatly helpful, thanks.  A couple more questions please:  Can you include the error message, and from the crash location it sounds like you also have synchronization validation enabled?

[2020-11-16 15:58] Facundo961 commented on #2313
These are the errors:

[code]

That's also strange I have recently enabled synchronization validation and that's what that app shipped with, but the error also appeared before I included sync validation.

Also, [here's](https://github.com/Game-Tek/Byte-Engine/blob/bef5e785d0e9de80e9f6ac528dd1cf1fdbdf6cdd/ByteEngine/src/ByteEngine/Render/RenderOrchestrator.cpp#L789) the main rendering function if y

[2020-11-16 20:10] mark-lunarg commented on #2256
@Kangz, this helped a lot, but things are still fuzzy.  Looking through the APIDumps, I cannot see where the VkSurfaces came from -- not sure if they were outside of the dump or if api_dump has a hole in it.  Either way, I think I found the issue, which is that the '-parent' VUIDs are only correctly code-generated if the parent object is a VkDevice, and obviously, swapchains don't fall into that c

[2020-11-17 10:11] Kangz commented on #2256
Maybe the surface creation doesn't appear in the api_dump because it doesn't support `VK_EXT_metal_surface` ? I'm not sure.

I checked out the PR locally and it fixes the issue I was seeing!

[2020-11-17 14:38] mark-lunarg commented on #2256
Well shoot, I started to ask about the platform but it said Intel & Nvidia Windows above so I assumed that couldn't be the case.  This is a big help, and thanks for taking a look at the branch!

[2020-11-17 14:40] Kangz commented on #2256
Oh yeah, I'm developing Vulkan on macOS using Swiftshader a lot of the time but I understand it's not a super usual configuration so I try to make sure it fails on other configurations as well :)

[2020-11-17 17:28] ShabbyX opened #2329 "syncval: is it possible to validate host read after shader write?"
Take the following scenario:

1. A host-visible buffer is created and bound
2. A compute shader writes to this buffer
3. `vkInvalidateMappedMemoryRanges` is called
4. The host reads back from the buffer

Between steps 2 and 3, there should be a pipeline barrier from (COMPUTE_SHADER,SHADER_WRITE) -> (HOST,HOST_READ). Is there a way syncval can validate this?

[2020-11-17 18:37] jzulauf-lunarg commented on #2329
@ShabbyX -- host synchronization after multi-command buffer on the plan.

[2020-11-17 21:24] jzulauf-lunarg commented on #2329
Added to https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/5#card-48793604

[2020-11-17 21:27] #2329 closed

[2020-11-18 00:17] locke-lunarg commented on #2313
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/state_tracker.cpp#L3913

You can look at this code. I guess when you bind different descriptor sets, you use different pipeline layouts. Plus, those pipeline layouts have different pPushConstantRanges, so they are not compatibility, as a result, the validation layers clean the other descriptor sets to cause null and crash a

[2020-11-18 16:39] mark-lunarg commented on #2313
@Facundo961, can you take a look and see if the new information can help you with the issue?

[2020-11-18 16:40] #2256 closed

[2020-11-18 16:49] #175 closed

[2020-11-18 20:31] Facundo961 commented on #2313
@locke-lunarg You are absolutely right, that's what was happening. Only some of the pipeline layouts were compatible in regards to the push constant ranges. Thank you guys. I'm sorry I opened the issue but I would have never realized that myself.

[2020-11-18 21:06] #306 closed

[2020-11-18 21:11] #794 closed

[2020-11-18 21:20] mark-lunarg commented on #1340
`VUID-VkSwapchainCreateInfoKHR-imageExtent-01274` is implemented.

[2020-11-18 21:44] mark-lunarg commented on #2313
@Facundo961, added [an item](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/1#card-49642560) to the best practices project which might help to provide the info you'd have needed to track down the source of the unbound descriptorSets.

[2020-11-18 21:44] #2313 closed

[2020-11-19 03:20] ShabbyX opened #2333 "syncval bug w.r.t depth/stencil attachments that use storeOp=DONT_CARE"
To reproduce:

- Take ANGLE and apply the following patches:
  * An optimization to avoid storeOp=STORE (if not landed): https://chromium-review.googlesource.com/c/angle/angle/+/2548319
  * Enable syncval: https://chromium-review.googlesource.com/c/angle/angle/+/2297884
- Run `./angle_deqp_gles3_tests --deqp-case=dEQP-GLES3.functional.fbo.blit.default_framebuffer.r8`
- Observe validation errors

T

[2020-11-19 03:22] ShabbyX commented on #2333
[1]: RenderDoc capture: https://drive.google.com/file/d/1ERMNFR8STZPXx6b8E-ZUA823TBzJhkHZ/view

[2020-11-19 10:44] haasn opened #2334 "False negative for very specific simultaneous wait on VkSemaphore from different queues"
**Describe the situation in which you encountered the missing validation**
When debugging the FFmpeg `hwcontext_vulkan.c` code, I noticed that the code seems to, across the board, re-use the same VkSemaphore for a given VkImage - that is, a command buffer using this VkImage will wait on and signal the *same* semaphore.

I'm honestly surprised the validation unit doesn't already throw up on this al

[2020-11-19 13:04] expipiplus1 opened #2335 "Is it useful to warn about VK_ERROR_OUT_OF_DATE_KHR being returned from vkQueuePresentKHR?"
**Describe the Issue**

When I resize the window which holds the surface to which my application is presenting `vkQueuePresentKHR` returns `VK_ERROR_OUT_OF_DATE_KHR` as expected, and the validation layer prints:

`Validation: Validation Warning: [ UNASSIGNED-BestPractices-Error-Result ] Object 0: handle = 0x120e3b0, type = VK_OBJECT_TYPE_INSTANCE; | MessageID = 0x5f379b89 | vkQueuePresentKHR(): Re

[2020-11-19 15:20] mark-lunarg commented on #2335
@expipiplus1, you are absolutely right, this is normal usage and operation.  This is why the check is outside the standard validation and part of Best Practices validation.  The point of BP is to warn of API usage that is technically valid but may be inefficient, unnecessary, or unintended.  It is common for developers to fail to check return codes and this layer warns on all non-success return co

[2020-11-19 16:58] expipiplus1 commented on #2335
Thank you for the useful reply

Do the cases above fit into any of these categories though?

Yeah, setting `khronos_validation.message_id_filter=UNASSIGNED-BestPractices-Error-Result` in `vk_layer_settings.txt` does suppress this message. In my case this is fine as I'm definitely checking everything, however it does seem like a large hammer, i.e. it's disabling cases where I might really want to k

[2020-11-19 21:27] jeffbolznv opened #2336 "ThreadSafety::...DeviceWaitIdle should treat all queues as being written to"
**Describe the situation in which you encountered the missing validation**
We got a bug report from a developer about a driver crash, which ended up being due to calling vkDeviceWaitIdle and vkQueueSubmit for one of that device's queues at the same time. ThreadSafety::{Pre,Post}CallRecordDeviceWaitIdle should call {Start,Finish}WriteObject on all queues belonging to the device.

**Valid Usage IDs

[2020-11-20 19:46] mark-lunarg commented on #2335
@expipiplus1, those are both great suggestions, and your issue generated a lot of sympathy in our team. I will add [both](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/1#card-49789238) [items](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/1#card-49789341) to the Best Practices project page in the hopes we can get to them in the near future.  Thanks!

[2020-11-20 19:46] #2335 closed

[2020-11-20 20:26] mark-lunarg commented on #1570
These checks have been implemented as part of the security VUIDs effort.  Thanks!

[2020-11-20 20:26] #1570 closed

[2020-11-20 20:31] mark-lunarg commented on #1604
Hey @jeremy-lunarg, anything new to add here --is this still an issue?

[2020-11-20 22:38] jzulauf-lunarg commented on #2333
@ShabbyX  --

Note the difference between DONT_CARE and the vendor specific NONE extension.  It's not guaranteed that store will or won't happen, and validation cannot depend on implementation dependent behavior.  NONE guarantees NONE, but is not supported in SyncVal at this time.  If you think this is incorrect, I recommend a spec issue to clarify.

[2020-11-21 00:20] mark-lunarg commented on #1670
Taking care of this one AWA 02259.

[2020-11-21 02:07] expipiplus1 commented on #2335
Thanks! And thanks for the hard work on such a useful tool!

On Sat, Nov 21, 2020, 3:46 AM Mark Lobodzinski <notifications@github.com>
wrote:

[2020-11-22 22:51] Martionex opened #2340 "Timeline Semaphore value not properly tracked when using vkSignalSemaphore"
**Describe the Issue**
I'm using timeline semaphores to track the completion of compute shaders. The initial timeline semaphore value is set to 0. The signal value, indicating its completion, is 1. After completion I use `vkSignalSemaphore` to reset the timeline semaphore value back to 0, in order to reuse the same timeline semaphore for another compute shader invocation submit. However, the valid

[2020-11-24 15:44] sfricke-samsung commented on #2340
I think I fixed this in
https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2272

[2020-11-24 16:19] mark-lunarg commented on #2340
This PR (#2275) was merged in the 1.2.158 timeframe, a few weeks after the 1.2.154 SDK.  @martionex, if you could build the repo to verify, that'd be great.  Alternatively, you might try the [Windows build artifacts here](https://ci.appveyor.com/project/Khronoswebmaster/vulkan-validationlayers/builds/36473781/job/wmp7qi91vk8ksbir/artifacts) and let us know if this issue has been sufficiently addre

[2020-11-24 16:38] Joshua-Ashton opened #2344 "Message filtering via an env var"
Support for filtering message ids via an env var would be very useful.

[2020-11-24 16:43] mark-lunarg commented on #2344
Dude, try `VK_LAYER_MESSAGE_ID_FILTER`. Lemme know if it doesn't work for you.

[2020-11-24 17:04] KarenGhavam-lunarG commented on #2344
The Vulkan Configurator (vkconfig) included with the Vulkan SDK also enables message filtering.

[2020-11-24 17:06] Joshua-Ashton commented on #2344
I have tried this before and I thought it didn't work, but it turns out it's only filtering out the first one I have specified.

(I am doing `set VK_LAYER_MESSAGE_ID_FILTER=0x682a878a,0x99fb7dfd`, I have tried both with and without quotes)

The Vulkan Configurator's message filtering option and layer injection doesn't work at all on my machine, even with applications I start through it's own launc

[2020-11-24 17:08] KarenGhavam-lunarG commented on #2344
It's best for us to resolve this. Can you submit an issue to LunarG/VulkanTools detailing more about your usage so that we can resolve it?

[2020-11-24 17:10] Joshua-Ashton commented on #2344
I will try this later today before ensuring it wasn't a PEBKAC

[2020-11-24 17:16] mark-lunarg commented on #2344
@Joshua-Ashton, I'm guessing you're on Windows?  Please lemme know and I'll check into it right away.

[2020-11-24 17:17] Joshua-Ashton commented on #2344
Yes, I am using Windows right now on the latest Vulkan SDK

[2020-11-24 17:20] Joshua-Ashton commented on #2344
It also occurs with `vulkan-validation-layers 1.2.158-1` on Arch.

[2020-11-24 17:32] mark-lunarg commented on #2344
@Joshua-Ashton, confirmed the issue here, thanks so much for the report.  Working on this now.

[2020-11-24 18:53] mark-lunarg commented on #2344
@Joshua-Ashton, in the environment variable cases, the traditional validation layer delimiter is the **semicolon**, not a comma.  On Linux, it's a `colon`. It is on our [list of upcoming layer enhancements](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/4#card-50002507) to expand the usable list of delimiter characters.  Please try the semicolons -- hopefully it'll get you going

[2020-11-25 07:20] Joshua-Ashton commented on #2344
The documentation says to use `,`s and the examples have `,` delimiters.

[code]

[2020-11-25 15:15] ShabbyX commented on #2333
@jzulauf-lunarg Thank you, I had missed that!

This is somewhat related, and maybe you can shed light on it too. Take the following situation:

- Transition D/S image to DEPTH_STENCIL_READ_ONLY
- Start render pass with D/S storeOp = DONT_CARE
- Draw, with D/S test enabled, but write disabled
- Draw, with D/S test disabled, but D/S image is sampled from in the shader
- End render pass

The above ge

[2020-11-25 16:22] jzulauf-lunarg commented on #2333
@ShabbyX   It's possible we aren't tracking the d/s read/write enables correctly ... can you open this as a separate issue?

Note that the image layout transition and the store op will still be treated as writes, so there may need to be dstAccessMask to protect the store from the transition.

[2020-11-25 16:32] #1670 closed

[2020-11-25 16:35] mark-lunarg commented on #2344
@Joshua-Ashton, it is confusing -- that's actually for using the layer settings file and you're right, the differences between the various option-setting methods have been an ongoing issue.

[2020-11-25 17:52] ShabbyX commented on #2333
Will do.

[2020-11-25 17:52] #2333 closed

[2020-11-25 18:16] ShabbyX opened #2349 "syncval WRITE-AFTER-READ error with DEPTH_STENCIL_READ_ONLY attachment"
Take the following situation:

- Transition D/S image to DEPTH_STENCIL_READ_ONLY
- Start RP with storeOp=DONT_CARE (or STORE, doesn't matter as long as it's not NONE_QCOM)
- Draw with depth write disabled, and the D/S image simultaneously bound as a texture (and sampled from)
- End RP

syncval warns that storeOp is a WRITE operation that is done after the draw call READ from the image. However, th

[2020-11-26 11:03] HansKristian-Work opened #2350 "Descriptor indexing with VARIABLE_DESCRIPTOR_COUNT triggers false positive without maintenance1."
**Describe the Issue**

When using descriptor indexing, and VARIABLE_DESCRIPTOR_COUNT_BIT, validation layer does not use the variable count when validating if the descriptor pool is filled.

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/descriptor_sets.cpp#L2825.
VARIABLE_COUNT is only considered down below:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/

[2020-11-26 12:09] hevrard opened #2351 "syncval: RaW not flagged for consecutive vkCmdCopyBuffer()"
**Describe the Issue**
I expect the following snippet to trigger a sync validation warning/error, but there is no message from the layer:
[code]

I believe a barrier is needed between the two commands, to make sure the content of buf2 are properly up-to-date before doing the second copy. If so, the synchronization validation should report an error for this snippet.

Some details:
- this is silly c

[2020-11-30 17:48] #2344 closed

[2020-11-30 18:02] Joshua-Ashton commented on #2344
Did this get fixed?

[2020-11-30 18:56] mark-lunarg commented on #2344
@Joshua-Ashton, right now it's working as designed and we have an open issue in the projects page to change the design.  The commas are for the layer settings file, and the colons and semicolons are for environment variables.  If we missed some environment variable documentation that indicates commas, please point us to it and we can fix it immediately.

[2020-12-01 17:20] ncesario-lunarg opened #2361 "layers: Add finer VkFormat size information for VUID 04466"
**Add more detailed size information to vk_format_utils**
VUID 04466 requires bit-per-channel information which is currently not present in the `VULKAN_FORMAT_INFO` struct. This information should probably be generated by the python scripts.

**Valid Usage ID**
- VUID-VkImageViewCreateInfo-imageViewFormatReinterpretation-04466

This is part of #2208.

FYI @mark-lunarg.

[2020-12-01 18:13] jeremyg-lunarg commented on #2351
@hevrard, I agree that a barrier should be required between the copies in your code.

We have a unit test that covers hazards in buffer copies here: [SyncBufferCopyHazards](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/tests/vklayertests_buffer_image_memory_sampler.cpp#L12403).  It covers a couple of different RaW cases.  It is working for me with the validation layer from th

[2020-12-01 19:00] hevrard commented on #2351
Many thanks for the details. Please find a gfxreconstruct trace of my test case attached, zipped to please github:
[gfxrecon_capture_20201201T185222.gfxr.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/5624791/gfxrecon_capture_20201201T185222.gfxr.zip)

On my end, I'll try and enable synchonization validation without relying on `vk_layer_settings`, to make sure it is properly en

[2020-12-01 19:17] jeremyg-lunarg commented on #2351
Thanks for the capture. When I run it on my GPU I do get the expected error:
[code]

[2020-12-01 19:19] hevrard commented on #2351
HA! it's a typo in my `vk_layer_setting`, sorry for the waste of time!

Missing a `s` at `.enables`:
`
khronos_validation.enable**s** = VK_VALIDATION_FEATURE_ENABLE_SYNCHRONIZATION_VALIDATION_EXT
`

I do get a validation error, as expected:

[code]

Apologies for the noise. Thanks!

[2020-12-01 19:19] #2351 closed

[2020-12-02 01:08] llatta opened #2362 "Invalid report of raytracing geometry.transformData->deviceAddress misalignment"
**Describe the Issue**
I'm getting this validation error when invoking vkCmdBuildAccelerationStructuresKHR with a geometry.transformData->deviceAddress of 0, which should be exempted from the mentioned alignment requirement.

Validation Error: [ VUID-vkCmdBuildAccelerationStructuresKHR-pInfos-03810 ] Object 0: handle = 0xee2ddf28, type = VK_OBJECT_TYPE_DEVICE; | MessageID = 0x4f220e0c | vkCmdBuild

[2020-12-02 10:22] rg3igalia commented on #2362
I can reproduce the problem, so I'll provide a pull request with the fix.

[2020-12-02 22:26] #2362 closed

[2020-12-02 23:47] x3DCoder opened #2368 "False positive on updating descriptor sets for top level acceleration structure"
**Describe the Issue**
I have a validation error upon vkUpdateDescriptorSets() for a top-level acceleration structure.
I have confirmed that I am correctly vkCreateAccelerationStructureKHR() with the correct type (as mentioned in the error) BEFORE updating descriptor sets.
However, I am not building the top level acceleration structure yet, but as far as I understand this should not be necessary u

[2020-12-03 23:35] mark-lunarg commented on #2368
@dgkoch, will you please take a look at @x3DCoder's issue?

[2020-12-03 23:57] dgkoch commented on #2368
Oh that's fun. I think we'll need a spec change to actually make that legal, but I think what we meant that VU to be would more like:

Each acceleration structure in pAccelerationStructures must have been created with VK_ACCELERATION_STRUCTURE_TYPE_TOP_LEVEL_KHR; or created with VK_ACCELERATION_STRUCTURE_TYPE_GENERIC_KHR and built with VK_ACCELERATION_STRUCTURE_TYPE_TOP_LEVEL_KHR.

[2020-12-04 00:11] dgkoch commented on #2368
Discussing more internally, we probably want to allow either type to be used "non-built", so @souravpNV will remove that part of the check while we figure out how to spec this correctly.

[2020-12-04 00:26] dgkoch commented on #2368
See https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2371

[2020-12-04 00:34] dgkoch commented on #2368
Assigning myself as I still need to deal with spec side of this.

[2020-12-07 20:11] zmike opened #2376 "vkCmdBindVertexBuffers2EXT stride validation doesn't handle null param"
**Describe the Issue**
Passing NULL for `pStrides` in this function erroneously throws errors as though an array of 0 was passed.

**Valid Usage ID**
[code]

**Environment:**
 - OS: linux
 - GPU: intel
 - SDK or header version if building from repo: 154
 - Options enabled (synchronization, best practices, etc.):

**Additional context**

[2020-12-07 20:29] #1022 closed

[2020-12-07 21:36] zmike commented on #2376
Disregard, Monday is hitting hard this week :/

[2020-12-07 21:44] mark-lunarg commented on #2376
Hit me too, I couldn't figure out WHAT was going on!  Thanks, and we hope to hear from you again.

[2020-12-07 21:51] zmike commented on #2376
Alright, then having considered this further, I'm back.

The correct error in this case would be to inform the user that they can't pass NULL with `VK_DYNAMIC_STATE_VERTEX_INPUT_BINDING_STRIDE_EXT` in their pipeline creation flags, so this is still a valid issue.

[2020-12-07 22:37] mark-lunarg commented on #2376
I think that's probably this missing check:

[2020-12-07 22:44] zmike commented on #2376
Right, that's the one :+1:

[2020-12-08 10:41] adevaykin opened #2378 "message_id_filter only works with hex message IDs"
**Describe the Issue**
`message_id_filter` documentation says it should be a comma-delimited set of VUIDs, decimal or hexadecimal validation message IDs that should be muted. In practice this is not the case - I only managed to mute messages by their hexadecimal IDs - neither strings nor decimal IDs worked.

**Environment:**
 - OS: Windows 10
 - GPU: Nvidia GTX 1070
 - SDK or header version if bui

[2020-12-08 14:34] mark-lunarg commented on #2378
@adevaykin, would you please share the lines from your `vk_layer_settings.txt` file that are not working?  Thanks!

[2020-12-09 17:17] Tony-LunarG opened #2383 "dEQP-VK.subgroups.partitioned.graphics.subgroupadd_int8_t assert with validation enabled"
**Describe the Issue**
As of #2299 the test in the title gets an assert "Can't dereference out of range vector iterator"

**Environment:**
 - OS: Windows 10 x64
 - GPU: GeForce RTX 2080
 - SDK or header version if building from repo: 0065ce08 layers: Generate SPIR-V Capability/Extension
 - Options enabled (synchronization, best practices, etc.): No options

**Additional context**
shader_validation

[2020-12-09 17:49] jeffbolznv commented on #2383
I bet this is happening because OpGroupNonUniformPartitionNV doesn't have a scope operand, and validation is assuming it does. This is a mistake in the spec (my bad), but not something that's fixable without a whole new replacement opcode.

[2020-12-09 17:52] sfricke-samsung commented on #2383
Ok, that would 100% be the issue... Happy to just add a

[code]

I remember looking at all the other group operations and noticed the scope operand and yes, it is making the assumption

[2020-12-09 17:54] sfricke-samsung commented on #2383
@jeffbolznv does one just assume the `OpGroupNonUniformPartitionNV` is always in `Subgroup` scope for validation?

[2020-12-09 17:56] jeffbolznv commented on #2383
Yeah, best to just assume `Subgroup`.

[2020-12-10 18:45] jzulauf-lunarg commented on #2308
WIP:
Complete event state machine logic
Add "event state machine" test
CommandBufferAccessContext::event_state_ clean up on destroy event
WaitEvents *import* from AccessContext prev/external, as wait isn't limited to subpass as pipeline.
Add "wait inside renderpass" test

[2020-12-10 20:12] dgkoch commented on #2368
Created spec issue https://gitlab.khronos.org/vulkan/vulkan/-/issues/2466

[2020-12-11 00:21] ncesario-lunarg commented on #2151
It looks like [this](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/descriptor_sets.cpp#L822) code is checking for this?

@sfricke-samsung would you happen to have any insight into this VUID? I'm pretty sure I'm missing something here, especially with respect to "if you set the dynamic offset to anything other than 0."

[2020-12-11 15:34] sfricke-samsung commented on #2151
So this the set of Draw VUs for ` VUID-vkCmdDraw-None-02699`. I think @locke-lunarg put these together (I didn't)

The main difference is that code is checked at draw time from what the descriptor was set as, while VUID `01979` is at `vkCmdBindDescriptorSets` itself.

[2020-12-11 16:02] ncesario-lunarg commented on #2151
Thanks for the quick response @sfricke-samsung! My mistake, I'll follow up with @locke-lunarg.

[2020-12-11 19:35] locke-lunarg commented on #2151
Thanks @sfricke-samsung . My mistake to set a wrong VUID.

[2020-12-11 21:31] mikes-lunarg opened #2390 "Validation calling vkGetPhysicalDeviceProperties2KHR without enabling VK_KHR_get_physical_device_properties2"
`GetPhysicalDeviceExtProperties` in state_tracker.h is unconditionally calling the "KHR" version of `vkGetPhysicalDeviceProperties2`, even when the VK_KHR_get_physical_device_properties2 extension is not enabled. This does appear to be working (possibly due to loader magic in the `pfnNextGetInstanceProcAddr` provided to the layer) but is causing some warnings when using gfxreconstruct to replay a

[2020-12-11 21:56] sugoi1 opened #2391 "Control flow integrity error in CoreChecks::VerifyWriteUpdateContents"
Running CFI (Control flow integrity) checks on Vulkan Validation Layers picks up the following error:
[code]

The CFI run can be found here:
https://ci.chromium.org/ui/p/chromium/builders/try/linux_chromium_cfi_rel_ng/1458/steps

The error happens on this line:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/28168c539d5960ec9e2f52e346875524ef24b389/layers/descriptor_sets.cpp#L3302
Whi

[2020-12-11 22:02] null77 commented on #2391
For context we caught this when we enabled the SwiftShader + ANGLE using the VVL on a CFI-enabled config. The bug is currently blocking us from enabling this path in Chrome. http://crbug.com/1061151

@mark-lunarg fyi

[2020-12-11 22:21] ncesario-lunarg commented on #2391
I believe something like the following will fix this (i.e., just cast to the base type)?
[code]

If this looks right I can make a PR, though I'm not setup to reproduce this error.

[2020-12-11 23:50] sugoi1 commented on #2391
I tested this locally and it works, so yes, I would appreciate if this could be fixed.

Based on your change, it looks like this line:
`ImageSamplerDescriptor *desc = (ImageSamplerDescriptor *)dest_set->GetDescriptorFromGlobalIndex(index + di);`
can also be changed to:
`const ImageSamplerDescriptor *desc = (const ImageSamplerDescriptor *)dest_set->GetDescriptorFromGlobalIndex(index + di);`
so you

[2020-12-14 19:48] #2383 closed

[2020-12-15 08:02] chaoticbob commented on #1866
Hi,

I'm using 1.2.162.0 and running into this issue. The only possibly difference is that I'm using the EXT version (`vkResetQueryPoolEXT`) and not the Vulkan 1.2 version (`vkResetQueryPool`). If I disable validation I get the expected results. Was wondering if there might have been a regression.

Thanks,
Hai

[2020-12-15 09:52] archimedus opened #2397 "Fragment shader rate validated on incorrect pipeline type"
I have crashes in compute pipeline using SDK 1.2.162.0 running CTS stating:
[code]

I suppose  Pipeline Fragment Shading Rate is applicable only for graphics pipeline, thus following line should be guarded:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/6663c9bccb4b13355eefa354c00c6e9989761468/layers/shader_validation.cpp#L3687

Even more I suppose it should be checked only if raster

[2020-12-15 17:16] mark-lunarg commented on #2390
Confirmed fixed by #2392.

[2020-12-15 17:16] #2390 closed

[2020-12-15 17:20] mark-lunarg commented on #2378
@adevaykin, we've so far been unable to reproduce this behavior so I'm going to temporarily close this issue.  If you get a chance to share the issue repro details here, I will reopen it and look at it right away -- thanks!

[2020-12-15 17:27] mark-lunarg opened #2398 "Some validation output of promoted enum values uses the _KHR versions instead of the core versions"
Noted in `stateless_validation.h,` in situations like the one below.  Aliases should be changed to the core versions where it is not specifically related to a KHR-specific version.

[code]

VUID for this example is 03298/03284, but the entire file should be scrubbed.

[2020-12-15 17:52] Tony-LunarG commented on #1866
@chaoticbob I modified the VkPositiveLayerTest BasicQuery to use vkResetQueryPoolEXT instead of vkCmdResetQueryPool and I don't get any validation errors.  Could you reproduce the false positive you are seeing using that test?  If so, please open another issue with the changes you made to the test to get the false validation error.

[2020-12-15 19:10] ncesario-lunarg commented on #2391
@sugoi1 closing this issue as the fix is merged. Let me know if you're still having errors with it!

[2020-12-15 19:10] #2391 closed

[2020-12-15 20:45] mark-lunarg commented on #2180
Created a [card in the Validation Layer Enhancements Project](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/4#card-51312614) to track this.

[2020-12-15 20:45] #2180 closed

[2020-12-15 20:46] #2195 closed

[2020-12-15 20:53] mark-lunarg commented on #2012
The `*-None-02690` VUIDs have been renamed `*-magFilter-04553`.

[2020-12-16 04:15] sfricke-samsung commented on #2398
[VK_VERSION_1_1.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/5700267/VK_VERSION_1_1.txt)
[VK_VERSION_1_2.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/5700268/VK_VERSION_1_2.txt)

These are the generated files when you build the Vulkan spec that references the appendix with what is different/promoted... might be easier to run a regex...which I know I have

[2020-12-16 04:45] sfricke-samsung commented on #2398
so found script and ran it (on non-generated files), there are like 1200 places in ./tests and 600 places in ./layers that use KHR/EXT alias instead of the new 1.1 or 1.2 core version... I can quick get a PR up on just `stateless_validation.h` and you can decide if you want it else where

[2020-12-16 08:12] adevaykin commented on #2378
@mark-lunarg sorry, I totally forgot to provide an example. This particular configuration has had no effect on messages:
```khronos_validation.message_id_filter = "VUID-vkBindBufferMemory-memory-02726","VUID-vkBindImageMemory-memory-02728"```

Thanks!

[2020-12-16 14:57] mark-lunarg commented on #2378
@adevaykin, thank you!  Will take another look today.

[2020-12-16 20:50] #2378 closed

[2020-12-16 20:52] mark-lunarg commented on #2378
@adevaykin, hoping that PR took care of the problem but please let us know if it persists.  We have a void in our testing around the `vk_layer_settings.txt` file and we appreciate the reports!

[2020-12-16 20:56] adevaykin commented on #2378
@mark-lunarg thank you! Can't believe I didn't try without quotes... :)

[2020-12-16 21:07] mark-lunarg commented on #2378
But we said to use them in the doc!  Ah well.

[2020-12-17 08:18] azhirnov opened #2405 "Incorrect validation in vkCmdPipelineBarrier for ray tracing"
**Describe the Issue**
I get validation error:
`MessageID = 0x69c8467d | vkCmdPipelineBarrier(): pBufferMemBarriers[0].dstAccessMask (0x20) is not supported by dstStageMask (0x2000000).`
where dstAccessMask is VK_ACCESS_SHADER_READ_BIT, dstStageMask is VK_PIPELINE_STAGE_ACCELERATION_STRUCTURE_BUILD_BIT_KHR, which is allowed:
https://vulkan.lunarg.com/doc/view/1.2.162.0/windows/1.2-extensions/vkspe

[2020-12-17 09:17] Tobski commented on #2397
Ack, yep that should be guarded. I'm rather surprised this didn't show up in any of the existing validation layer tests 🤔

That interaction isn't called out the spec, so that would need a correction first, but I think I agree.

[2020-12-17 09:57] archimedus commented on #2397
EDIT: Changed pViewState to pViewportState.

I think it's already in the spec:

i.e. when rasterization is disabled this pointer can be NULL and lead validator to crash. Or hangups (for example dead loop via pNext pointing to it selves) if the pointer just invalid.

[2020-12-17 10:00] Tobski commented on #2397
Ah I missed that - thanks. I shall look into providing fixes for both of these.

[2020-12-17 11:51] MichaelRizkalla opened #2406 "False positive when calling vkGetAccelerationStructureBuildSizesKHR with pBuildInfo->geometryCount equals 0"
**Describe the Issue**
I have an issue when calling vkGetAccelerationStructureBuildSizesKHR with pBuildInfo->geometryCount equals to 0. I am passing a pBuildInfo struct with 0 geometry as follows.
[code]
Error message:
Validation Error: [ VUID_Undefined ] Object 0: handle = 0x19e7e9f6188, type = VK_OBJECT_TYPE_DEVICE; | MessageID = 0x79de34d4 | vkGetAccelerationStructureBuildSizesKHR: parameter pB

[2020-12-17 16:00] mark-lunarg commented on #2405
@souravpNV, can you please have a look?

[2020-12-17 17:09] souravpNV commented on #2405
Sure will have a look

[2020-12-17 18:12] Tony-LunarG commented on #2406
Triage Notes:
Problem is in code generated parameter validation at:
[code]
The first true indicates that count is required, yet the spec only says:
If type is VK_ACCELERATION_STRUCTURE_TYPE_TOP_LEVEL_KHR, geometryCount must be 1
The xml that is likely confusing parameter validation codegen is:
[code]

[2020-12-17 18:28] souravpNV commented on #2405
@mark-lunarg  fix for review https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2408

[2020-12-18 15:16] mark-lunarg commented on #2398
Fixed by #2402 and #2409.  Thanks guys!

[2020-12-18 15:16] #2398 closed

[2020-12-18 15:17] mark-lunarg commented on #2405
Fixed by #2408.  Thanks Gentlemen!

[2020-12-18 15:17] #2405 closed

[2020-12-18 16:29] christophe-lunarg opened #2410 "VALIDATION_CHECK_ENABLE_VENDOR_SPECIFIC_ARM is not documented."
**Describe the Issue**
`VALIDATION_CHECK_ENABLE_VENDOR_SPECIFIC_ARM` best practices flag should be documented in https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/vk_layer_settings.txt but the flag is missing...

I was trying to figure out when (which SDK) this setting was introduced, if I could get an answer for that, that would be great!

Thanks,
Christophe

[2020-12-18 16:29] christophe-lunarg opened #2411 "VALIDATION_CHECK_ENABLE_VENDOR_SPECIFIC_ARM documentation is missing"
**Describe the Issue**
`VALIDATION_CHECK_ENABLE_VENDOR_SPECIFIC_ARM` best practices flag should be documented in https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/vk_layer_settings.txt but the flag is missing...

I was trying to figure out when (which SDK) this setting was introduced, if I could get an answer for that, that would be great!

Thanks,
Christophe

[2020-12-18 16:36] christophe-lunarg commented on #2410
Duplicated from #2411

[2020-12-18 16:36] #2410 closed

[2020-12-18 17:02] mark-lunarg commented on #2411
It was the most recent one.  You can do a **git log -S "VENDOR_SPECIFIC_ARM"** to see which commit added the terms, and figure out the SDK from that.

[2020-12-18 17:14] Pilzschaf opened #2412 "Missing validation for queue ownership transfer for image with VK_SHARING_MODE_EXCLUSIVE"
Issue description:
I use a graphics and a compute queue with different queueFamilyIndices.
1. Create an image with sharingMode = VK_SHARING_MODE_EXCLUSIVE
2. Using the image as a framebuffer attachment in a renderpass on graphics queue.
3. Submitting on graphics queue with signal semaphore
4. Binding image as sampled image in a compute shader with a DescriptorUpdateTemplate.
5. Submitting work on

[2020-12-18 18:43] Pilzschaf commented on #2412
I just found this part in the spec which I have missed before:

Which states that the above code is at least somewhat valid. The content in the image is just undefined in that case. As I am binding the image as a sampled image which suggests I try to read from the image it would still be nice if the validation layer would at least warn about it.

[2020-12-18 18:51] mark-lunarg commented on #2412
@Pilzschaf, we don't warn in the standard layers, but this is a perfect candidate for the Best Practices layer.  I've added a [card to the BP project](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/1#card-51513886) for this case -- thanks a bunch @Pilzschaf.

[2020-12-19 01:24] #2308 closed

[2020-12-20 00:02] #2411 closed

[2020-12-20 22:13] w23 opened #2417 "Crash when updating VK_DESCRIPTOR_TYPE_ACCELERATION_STRUCTURE_KHR with missing pNext chain"
**Describe the Issue**
Validation layers crash when trying to update descriptor sets with expected type of `VK_DESCRIPTOR_TYPE_ACCELERATION_STRUCTURE_KHR` if `VkWriteDescriptorSetAccelerationStructureKHR` is missing in `pNext` chain.

Short reproduction example:
[code]

Example stack trace is:
[code]

Relevant lines are (`object_tracker_utils.cpp:213`):
[code]
I believe the issue is that `accInfo`

[2020-12-21 02:51] ncesario-lunarg commented on #2417
Thanks for filing this @w23! Are you getting any validation errors before this crash? It looks like [VUID-VkWriteDescriptorSet-descriptorType-02382](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/parameter_validation_utils.cpp#L3259) should have printed before getting to this point.

Each validation check assumes there have been no validation errors before it. If there

[2020-12-21 03:12] w23 commented on #2417
Thanks for getting back to me that quickly, @ncesario-lunarg!
No, there's no validation errors reported prior to getting to this crash. This particular validation check is unreachable because it's under a condition that `pNext` is not `NULL`: https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/420d8c48d062e7093ef13db7954fbb29e188916a/layers/parameter_validation_utils.cpp#L3254

[2020-12-21 13:49] mark-lunarg commented on #2417
@souravpNV, might you take a look?  @w23 and @ncesario-lunarg are correct, pNext cannot be null in this situation.  Also applies to the NV version, VUID 03817.  Thanks!

[2020-12-21 18:00] mark-lunarg commented on #2406
This line in the XML is likely the source of the false positive:

`<param len="pBuildInfo-&gt;geometryCount">const <type>uint32_t</type>*  <name>pMaxPrimitiveCounts</name></param>`

@souravpNV, @jeffbolznv, we looked into this a bit and @mikes-lunarg noticed that these two VUIDs seem to be in conflict:

• VUID-vkGetAccelerationStructureBuildSizesKHR-pMaxPrimitiveCounts-parameter
pMaxPrimitiveCount

[2020-12-21 21:02] null77 opened #2419 "compiler style warning: inconsistent-missing-override"
Example failure:

[code]

This is popping up in the Chromium integration. We turn on a lot of additional compiler warnings and use -Werror. I'll submit a CL to disable this specific warning in GN. If the VVL maintainers would like to enforce this style that would involve fixing the code generation and turning this warning on in your presubmit.

Context: https://chromium-review.googlesource.com/c/c

[2020-12-21 21:24] mark-lunarg commented on #2419
@null77, is this the only one of these you get?  I haven't confirmed, but my impression is that the override keyword is probably just missing from that one line in stateless_validation.h.  A couple of weeks ago we did update the code-gen for this and the warning is enabled on the Android compilers, but this particular case is Windows-only (possibly explaining why it was missed).  If this is actual

[2020-12-21 21:28] null77 commented on #2419
Hey Mark, if you want to fix the warning, please go ahead and make sure you turn this on as an error in your presubmit. If it's not blocking presubmits this is just going to pop up again and I'd rather we just turn it off permanently. i.e. either you integrate it into your process or we just ignore it.

[2020-12-21 21:44] mark-lunarg commented on #2419
It is integrated into our process and it does block submissions on failure, but the compiler we use for this doesn't build Windows. I didn't think MSVC supported this warning, but I'll go back and check.

[2020-12-21 22:12] KarenGhavam-lunarG opened #2422 "shaderInt64 is needed for GPU-AV, but only for some checks, but it is being enabled unconditionally."
**Describe the Issue**
shaderInt64 is needed for GPU-AV, but only for some checks (debug printf), but it is being enabled unconditionally.

**Environment:**
 - OS:  macOS
 - GPU:
 - SDK or header version if building from repo: 1.2.162.0
 - Options enabled (synchronization, best practices, etc.): GPU-AV

Fixing this might enable GPU-AV to be supported on macOS with MoltenVK

[2020-12-21 22:31] null77 commented on #2419
Ah, I get it. You don't have coverage for Windows/Clang. I didn't see a warning for a missing override in MSVC when I looked quickly. Not sure if you have the capacity to add a build config for win/clang, but if you think this breakage is fairly rare then please go ahead and land the warning fix instead of this CL.

[2020-12-22 11:26] Jasper-Bekkers opened #2423 "Crash in PrefilterBindRequestMap::FilteredMap"
**Describe the Issue**
Crash when omitting descriptor set. Obviously this is an application bug that we're fixing, so I'm reporting the crash here for posterity.

**Environment:**
 - OS: Windows
 - GPU: 2080 Ti
 - SDK or header version if building from repo: 1.2.162
 - Options enabled (synchronization, best practices, etc.):

**Additional context**

[code]

[code]

[code]

[2020-12-22 19:12] Ay-Aitch opened #2424 "vkQueuePresentKHR(): Image Layout Comparison Error(?) for Image -> Present (VK_IMAGE_LAYOUT_SHARED_PRESENT_KHR)"
I'm rendering onto images in VK_IMAGE_LAYOUT_SHARED_PRESENT_KHR layout.

These images are then blitted at each frame onto SC images.

I get this validation error per vkQueuePresentKHR() :
_(Note that the required image layout is already set as per the validation message)_

[2020-12-22 19:51] ncesario-lunarg commented on #2423
Thanks for the issue @Jasper-Bekkers! If the crash in the validation layer is happening _after_ a validation error was reported (looks like that's what's happening if I understand correctly?), that could be expected: all validation checks assume there have not been any prior validation failures. Is it possible that's what is happening here?

[2020-12-22 23:28] #2419 closed

[2020-12-25 00:01] mark-lunarg commented on #2424
Were there any other validation error messages which occurred prior to this one, maybe an error when calling `GetSwapchainStatusKHR()`?  It looks as if you don't have the `VK_KHR_shared_presentable_image `device extension enabled.

[2020-12-27 12:31] Ay-Aitch commented on #2424
No other validation error messages.  I get the desired effect, images are rendered how they should be.

But you're right, there isn't a `VK_KHR_shared_presentable_image` device extension.  Apologies for this spurious bug report.

(JIC others arrive here searching a similar issue; the specification - v1.0 in my case - doesn't state whether layouts, flags, and other parameters, are guaranteed featur

[2020-12-27 12:31] #2424 closed

[2020-12-28 16:21] jzulauf-lunarg opened #2429 "VK_LAYER_KHRONOS_validation causing memory corruption"
From Rene Lindsay [LunarXchange -- 1001](https://vulkan.lunarg.com/issue/view/5fe404bf5df112bcbc11ae67)

**Describe the Issue**
My application has a main rendering pipeline, which uses either rasterization or raytracing to render to the display, while a second pipeline can be triggered to raytrace images to an off-screen buffer, for output to a file. (Texture baking). The app runs fine, but when I

[2020-12-28 16:26] jzulauf-lunarg commented on #2429
At first blush we could have a double free in the clean up somewhere (a unique_ptr where a shared_ptr was needed, or a plain point not null'd out.

However, arena corruption can also happen in mutli-threaded applications during uncontrolled shutdown on an assert -- so the corruption could be symptom instead of cause.

[2020-12-28 16:34] null77 opened #2430 "Compiler warning on Linux due to unused result (-Wunused-result)"
Error showed up here:

https://chromium-review.googlesource.com/c/angle/angle/+/2601340

https://ci.chromium.org/ui/p/angle/builders/try/linux-clang-rel/18555/overview

[code]

@mark-lunarg is this warning enabled in the loader build? Should we fix the specific warning and/or enable it in the CI or should I remove this warning from the supported set in GN?

[2020-12-28 16:39] null77 commented on #2430
Whoops, wrong repo.

[2020-12-28 16:39] #2430 closed

[2020-12-28 16:46] mark-lunarg commented on #2429
@jzulauf-lunarg, we'll need a list of any validation messages that were generated before the shutdown/crash, and a repro case.

[2020-12-28 20:05] souravpNV commented on #2406
Sorry for late revert, was away last week, adding @dgkoch  for spec changes

[2020-12-28 22:37] rjklindsay commented on #2429
Hi John. Yes, a double free could definitely cause this.  The error happens regardless of whether I run the app in single-threaded or multi-threaded mode.
Since it only happens when validation layers are enabled AND multiple pipelines (and renderpasses+swapchains+...) are used, I'm wondering if validation is getting its internal handles confused, and maybe deleting the wrong object instance?

Mark

[2020-12-28 23:06] mark-lunarg commented on #2429
Hi Rene!  Any chance you can run it through Valgrind and share the results?  You are the lucky first person to find this issue!

[2020-12-28 23:29] souravpNV commented on #2417
@mark-lunarg  have a fix out for review
https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2434

[2020-12-29 15:47] mark-lunarg commented on #2423
Thanks @Jasper-Bekkers, this situation is not unlike passing in an invalid object handle -- we might be able to guard against a crash in this particular location, but it would just move on a bit and crash somewhere else or ultimately crash in the driver.

[2020-12-29 18:09] jzulauf-lunarg commented on #2429
@rjklindsay  -- or any way to get a replay of a simple test case?

[2020-12-29 19:54] mark-lunarg commented on #2417
Fixed by #2434.

[2020-12-29 19:54] #2417 closed

[2020-12-29 20:17] rjklindsay commented on #2429
Hi Mark. Long time no see. :)    Sure I'll try Valgrind, and get back to you if/when I find new insights.
John: I heard you guys are working on a replacement for the old trace/replay tool. Is that right?
Which tool is currently the preferred option?

[2020-12-29 20:47] jzulauf-lunarg commented on #2429
@rjklindsay  -- gfxreconstruct is the preferred tool.

[2020-12-30 18:30] timo-suoranta-varjo opened #2437 "vkGetPhysicalDeviceQueueFamilyProperties2() / CoreValidation-DevLimit-MissingQueryCount false positive"
I get this message:
[code]
from calling vulkan.hpp `PhysicalDevice::getQueueFamilyProperties2()`.

To me vulkan.hpp code looks valid. It _does_ call first with `pQueueFamilyProperties` set to `nullptr`:

[code]

[2020-12-30 18:41] timo-suoranta-varjo commented on #2437
Possible cause:

- `BestPractices::PreCallValidateGetPhysicalDeviceQueueFamilyProperties2()` calls `ValidateCommonGetPhysicalDeviceQueueFamilyProperties()`
- `BestPractices::ValidateCommonGetPhysicalDeviceQueueFamilyProperties()` examines for `bp_pd_state->vkGetPhysicalDeviceQueueFamilyPropertiesState` - _nothing updates this_
- `BestPractices::PostCallRecordGetPhysicalDeviceQueueFamilyProperties(

[2020-12-30 18:43] mark-lunarg commented on #2437
@ncesario-lunarg, @timo-suoranta-varjo is correct, the best practices PostCallRecord routines are not plumbed in for the other GPDQFP flavors.

[2020-12-30 20:52] #2376 closed

[2020-12-31 06:54] baryluk commented on #2376
@mark-lunarg Thanks for improving this!

[2020-12-31 18:20] mbechard opened #2441 "Timeline semaphores and resource state tracking issues"
**Describe the Issue**
Hey, I'm having a validation error show up that I think is incorrect. I have a texture that is updated from the transfer queue and then used as a sampler in the graphics queue. The transfer queue releases the texture and does a TransferDst->ShaderRead layout transition. The graphics queue acquires it and records a usage of it, and then gives the texture pointer back to the t

[2021-01-01 19:57] #1514 closed

[2021-01-02 04:54] sfricke-samsung commented on #2012
@locke-lunarg actually fixed in #2182 so :tada:

My extra tests are re-uploaded to #2442

[2021-01-02 04:54] #2012 closed

[2021-01-04 14:15] dgkoch commented on #2368
VU was updated in the 1.2.166 spec update.

VU text was fixed to match in https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2434

[2021-01-04 14:15] #2368 closed

[2021-01-04 15:18] mark-lunarg commented on #2368
Thanks Daniel!

[2021-01-04 17:23] mark-lunarg commented on #135
Coverage exceeds original VUID totals and CmdDraw validation, while incomplete and still in progress, is on par with other API coverage.

[2021-01-04 17:23] #135 closed

[2021-01-04 18:26] mark-lunarg commented on #1723
@Tony-LunarG, someday, when all the promised spare time falls into your lap, maybe you could throw together a test for this, and then either fix it or tell me what to do to fix it?  If not, just assign it back to me.

[2021-01-05 04:46] dgkoch commented on #2406
I agree with this analysis.

I filed Khronos spec issue https://gitlab.khronos.org/vulkan/vulkan/-/issues/2480 for fixing this.

[2021-01-05 15:40] pixeljetstream opened #2448 "vkCmdWriteAccelerationStructuresPropertiesNV reports error on legal queryType"
**Describe the Issue**
vkCmdWriteAccelerationStructuresPropertiesNV reports errors on the NV enums used for queryType which have different values than the KHR enums. The NV function was called with VK_QUERY_TYPE_ACCELERATION_STRUCTURE_COMPACTED_SIZE_NV

**Valid Usage ID**
Validation Error: [ VUID-vkCmdWriteAccelerationStructuresPropertiesNV-queryType-03432 ] Object 0: handle = 0x1eb14914ee8, type

[2021-01-05 15:59] kspagnoli opened #2449 "VUID-VkSamplerYcbcrConversionCreateInfo-format-04060 incorrectly fails a UNorm check"
**Describe the Issue**
Seeing false positives for format that is failing a check in `FormatIsUNorm`. Doing a quick audit, it looks like a handful of formats are missing. Specifically, I'm seeing this in vkCreateSamplerYcbcrConversion for the VK_FORMAT_R12X4G12X4_UNORM_2PACK16 format but I'm guessing this'll manifest in some other false positives as well.

**Valid Usage ID**
Validation Error: [ VUI

[2021-01-05 16:49] seanbaxter opened #2450 "Validator errors that "Push constant is used in VK_SHADER_STAGE_FRAGMENT_BIT" when it's not used in the fragment shader."
In a multiple entry-point module, if the vertex shader uses a push constant, Validator errors if the fragment shader isn't marked to use a push constant in the pipeline layout, even if the fragment shader doesn't use a push constant.

[code]

[bbox_shaders.cxx.spv.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/5771466/bbox_shaders.cxx.spv.zip)

[code]

You can see the interface

[2021-01-05 21:56] #2449 closed

[2021-01-05 21:58] mark-lunarg commented on #2449
@kspagnoli, updated the FormatIsUNorm() format list, please let us know if this doesn't resolve your issue.  And thank you very much for bringing this to our attention!

[2021-01-05 22:43] mark-lunarg commented on #1276
To the eventual issue owner:  @jeremy-lunarg said he would "...have a lot of info/data on #1276 so if he wants that one, he should talk to me."

[2021-01-05 23:24] ncesario-lunarg commented on #2450
Thanks for the issue @seanbaxter! A repro case might make it a bit easier to understand what's going on.

I tried to reproduce this by tweaking [this](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/56a96658b750858b8177032c7ceb7cb103817f91/tests/vklayertests_pipeline_shader.cpp#L3558) test (effectively making the test _not_ fail by setting the `VkPushConstantRange` correctly to only t

[2021-01-05 23:33] mark-lunarg commented on #2448
@pixeljetstream, the validation is technically accurate according to the spec:

My hunch is that this is a vuid typo -- could you, @souravpNV or @dgkoch confirm this?

[2021-01-05 23:47] #2423 closed

[2021-01-05 23:48] souravpNV commented on #2448
I too think this is VUID typo, and will need spec update, for NV the queryType should be replaced by VK_QUERY_TYPE_ACCELERATION_STRUCTURE_COMPACTED_SIZE_NV or VK_QUERY_TYPE_ACCELERATION_STRUCTURE_SERIALIZATION_SIZE_NV

[2021-01-05 23:49] #2208 closed

[2021-01-05 23:52] mark-lunarg commented on #2448
@souravpNV, this was the complication for me -- there is not an NV flavor of `VK_QUERY_TYPE_ACCELERATION_STRUCTURE_SERIALIZATION_SIZE_KHR`.

[2021-01-06 00:00] souravpNV commented on #2448
@mark-lunarg Thanks for the correction, yes it should be COMPACTED_SIZE_NV and SERIALIZATION_SIZE_KHR.

[2021-01-06 03:30] dgkoch commented on #2448
There was a point when those were all aliased and were the same, but then we changed it, so yes will need a spec fix.
BTW SERIALIZATION_SIZE isn't supported for the NV extension.

[2021-01-06 04:19] dgkoch commented on #2448
Spec fix in https://gitlab.khronos.org/vulkan/vulkan/-/merge_requests/4310

[2021-01-06 15:33] null77 opened #2453 "GN: Windows build error in ANGLE Clang build with "min" and "max""
See build error here:

https://ci.chromium.org/ui/p/angle/builders/try/win-clang-x86-dbg/17796/overview

[code]

We can fix this pretty easily in the GN.

[2021-01-06 15:58] #2453 closed

[2021-01-06 21:42] mark-lunarg commented on #2448
Thanks Daniel.

[2021-01-07 02:21] tuxerr opened #2456 "SPV_KHR_multiview incompatibility between validation layers and glslangvalidator."
When using master validation layers on a multiview application (UE4/Vulkan on Oculus Quest 2 in my case) I'm getting this error:
`
LogVulkanRHI: Warning: *** [Error:Validation(VUID-VkShaderModuleCreateInfo-pCode-04146)] Validation Error: [ VUID-VkShaderModuleCreateInfo-pCode-04146 ] Object 0: handle = 0x79f8241eb0, type = VK_OBJECT_TYPE_DEVICE; | MessageID = 0xd80a42ae | vkCreateShaderModule(): A

[2021-01-07 07:17] sfricke-samsung commented on #2450
So the issue is the multi-entry points. I just took the basic vert/frag shader and merged into a single SPIR-V module and seeing same error message, about to investigate where the shader validation code went bad

[2021-01-07 07:35] sfricke-samsung commented on #2456
So recently there was code added to the Validation Layers that generates the error you see

The issue, as you pointed out, is there is no
[code]
which is 100% a Vulkan Spec bug.

I will get a fix into the [Vulkan-Docs](https://github.com/KhronosGroup/Vulkan-Docs) repo so this can get properly generated in the Validation Layer

[2021-01-07 19:09] tuxerr commented on #2456
Perfect, thanks! I'll re-generate my validation layers when that's done :)

[2021-01-07 20:25] kvark commented on #12
Reading https://github.com/KhronosGroup/Vulkan-Docs/issues/117 now, there is a lot of interesting detail on how the fence is different from the semaphore in the wait. It also mentions that the spec has this text fixed in 1.0.9.
Going back to the original post by @karl-lunarg it would be great to get a definite resolution on whether this is a valid render loop pseudo-code or not.

[2021-01-07 23:59] tuxerr opened #2457 "Potentially incorrect requirement to enable VK_KHR_external_fence_capabilities to use VkPhysicalDeviceIDProperties"
I'm getting a validation error (parameter_validation.cpp, line 836 on case VK_STRUCTURE_TYPE_PHYSICAL_DEVICE_ID_PROPERTIES) when having a VK_STRUCTURE_TYPE_PHYSICAL_DEVICE_ID_PROPERTIES pNext while not enabling the parent extension VK_KHR_external_fence_capabilities. However, I did enable VK_KHR_external_memory_capabilities, and looking at the man page in https://www.khronos.org/registry/vulkan/sp

[2021-01-08 00:38] mark-lunarg commented on #2457
@tuxerr, no, I think you are correct.  We had long operated under the assumption that a struct should be owned by a single extension and this is no longer true.  It's fiddly but we'll get it fixed.  Thanks!

[code]

And in the xml, `VkPhysicalDeviceIDPropertiesKHR `is included in the `VK_KHR_external_fence_capabilities`, `VK_KHR_external_memory_capabilities `and the `VK_KHR_external_semaphore_capa

[2021-01-08 00:41] ncesario-lunarg commented on #2457
Was just about to tag @mark-lunarg and ask if [this](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/scripts/parameter_validation_generator.py#L386) should get converted to a list :D

[2021-01-08 01:18] tuxerr commented on #2457
Thanks!

[2021-01-08 14:43] KarenGhavam-lunarG opened #2458 "Synchronization Validation Documentation has some typos"
Enable Synchronization Valdation => Enable Synchronization Validation
Can indicate an insufficient or incorrect source mask (first scope) => needs a terminal period

[2021-01-08 15:14] danginsburg commented on #1495
I'm hitting this issue too, using Validation layers v1.2.162.0.  Same exact use case as the original bug reporter.

[2021-01-08 15:24] mark-lunarg commented on #2458
Fixed and pushed to Master.

[2021-01-08 15:24] #2458 closed

[2021-01-08 15:26] mark-lunarg commented on #2456
Fix bubbling through the pipeline at https://gitlab.khronos.org/vulkan/vulkan/-/merge_requests/4314.

[2021-01-08 15:29] mark-lunarg commented on #2406
NOTE:  This will require a VVL PR as the VUID will change.

[2021-01-08 15:31] mark-lunarg commented on #2448
**NOTE:** This will require a VVL PR when the headers containing the fix have been updated.

[2021-01-08 15:31] mark-lunarg commented on #1495
@pdagobert, @danginsburg, will bump in priority.

[2021-01-08 17:27] dgkoch commented on #2448
Yes. Spec change is approved and should be in next spec update.
Do we need to wait for the spec to be published, or can we just go ahead and fix it now?

@souravpNV can you implement this?

Relevant modified VUs are:

  * [[VUID-vkCmdWriteAccelerationStructuresPropertiesNV-accelerationStructures-03431]]
    All acceleration structures in pname:pAccelerationStructures must: have
    been built with

[2021-01-08 17:29] dgkoch commented on #2406
Spec change is approved and will be in the next update.

With this change, the previous implicit VU:
* VUID-vkGetAccelerationStructureBuildSizesKHR-pMaxPrimitiveCounts-parameter
pMaxPrimitiveCounts must be a valid pointer to an array of pBuildInfo->geometryCount uint32_t values

becomes:
* VUID-vkGetAccelerationStructureBuildSizesKHR-pMaxPrimitiveCounts-parameter
If pMaxPrimitiveCounts is not NULL

[2021-01-08 17:33] mark-lunarg commented on #2448
@dgkoch, we usually wait for the spec to change, but if you're OK with it I am.  And I can make the change here, it'll be faster.

[2021-01-08 17:36] dgkoch commented on #2448
Go for it!

[2021-01-08 18:54] MichaelRizkalla commented on #2406
Thanks, I can see the change is approved now. Should this issue be closed at this point since the fix will be merged internally?

[2021-01-08 19:26] mark-lunarg commented on #2406
I'll let ya'll decide.  Since this is an implicit VU and is code-generated, the correct code will not show up in this repo until all of the upstream repositories have been through their automatic updates, probably a couple of weeks.  That said, there's nothing else to be done (manually) in this repo or the upstream ones, so I'm cool with closing it.

[2021-01-08 19:40] dgkoch commented on #2406
If this only affects autogenerated stuff which will automatically get fixed by the appropriate header update, I don't mind if we close it now. One less thing to remember later ;-)

[2021-01-08 19:43] mark-lunarg commented on #2406
Sweet!  Thanks very much to the both of you.

[2021-01-08 19:43] #2406 closed

[2021-01-08 20:51] #2422 closed

[2021-01-10 16:39] #2448 closed

[2021-01-11 19:23] Novum opened #2463 "Crash in vkQuake with enabled anti aliasing"
Crash in code validating attachment image views when running vkQuake with multi/super sampling loading into any level. No message, just crashes

 - OS: Windows 10
 - GPU: NVIDIA GeForce RTX 3080
 - SDK or header version if building from repo: 1.2.162.0
 - Options enabled (synchronization, best practices, etc.): Default options

This was not happening with earlier validation layers. I can't rule ou

[2021-01-11 20:48] mark-lunarg commented on #2429
Hey @rjklindsay, know things are busy -- any updates at all about valgrind results?

[2021-01-12 05:02] seanbaxter opened #2464 "How to set printf buffer and direct to debug callback"
How do I programmatically set the printf buffer size? It's way too small by default. I want to set the buffer size and use it without the validation layer turned on, as the doc suggests.

Also, I only see output when I export DEBUG_PRINTF_TO_STDOUT. I do have a VkDebugUtilsMessengerCreateInfoEXT user callback registered, but it isn't getting fired with the printf text. I am setting the INFO severi

[2021-01-12 05:32] seanbaxter opened #2465 "Validator hangs in vkCreateShaderModule"
/usr/lib/x86_64-linux-gnu/libVkLayer_khronos_validation.so enters an infinite loop or something inside vkCreateShaderModule.

This is the module:
https://gist.github.com/seanbaxter/5ab783bac4e2293865e8fc71b8e7cd0c

It passes spirv-val. It's no great surprise that it gives the validator a problem, because this is pretty bleeding edge. It uses physical storage buffers in a way that is much different

[2021-01-12 10:09] locke-lunarg commented on #2463
When anti aliasing is enabled, the attachment is 2 in vulkan_globals.main_render_pass.
https://github.com/Novum/vkQuake/blob/master/Quake/gl_vidsdl.c#L1054

But framebuffer_create_info.attachmentCount is 2 to trigger the assert.
https://github.com/Novum/vkQuake/blob/master/Quake/gl_vidsdl.c#L1823

A weird thing it is rendering ui.
https://github.com/Novum/vkQuake/blob/master/Quake/gl_draw.c#L1025

[2021-01-12 13:41] ravensiris opened #2466 "kInstErrorBindlessBuffOOB removed from spirv"
https://github.com/KhronosGroup/SPIRV-Tools/commit/c32277c0ba0df26c8661a7daadc8743dc5a10bd3

Won't compile with newest spirv-tools.

error: ‘kInstErrorBindlessBuffOOB’ was not declared in this scope
 1269 |         case kInstErrorBindlessBuffOOB: {

[2021-01-12 16:05] pixeljetstream opened #2467 "unexpected PushConstantOutOfRange with buffer_reference"
**Describe the Issue**
Following setup should be correct behavior, but throws the errors below on pipeline creation.

[code]
**Valid Usage ID**
ERROR: UNASSIGNED-CoreValidation-Shader-PushConstantOutOfRange
 --> Validation Error: [ UNASSIGNED-CoreValidation-Shader-PushConstantOutOfRange ] Object 0: handle = 0xecc2050000000040, type = VK_OBJECT_TYPE_SHADER_MODULE; Object 1: handle = 0x203fc60000000

[2021-01-12 16:08] Tony-LunarG commented on #2466
Yes, those changes are in support of better GPU-AV error reporting.  The validation layers will be updated to use the kInstErrorBuffOOB* codes with the next revision of glslang, which will pull in the new spirv-tools.

[2021-01-12 16:09] pixeljetstream commented on #2467
https://drive.google.com/file/d/1Dalx_9WyPchZcROp95ISAl6yTS76_I6J/view?usp=sharing reproducer program, let me know when you have it so I can delete it

[2021-01-12 16:11] pixeljetstream commented on #2467
while encountered in a different app, a colleague mentioned that sdk 148 didn't have that problem but he sees same error in 162

[2021-01-12 16:28] mark-lunarg commented on #2464
@Tony-LunarG, hard to tell, but this looks like GPU-AV. Is there a way to set the buffer size?  Also @seanbaxter, can you clarify "..use it without the validation layer turned on, as the doc suggests"?

[2021-01-12 16:32] seanbaxter commented on #2464
"Validation itself is not necessary for Debug Printf and can be disabled without affecting Debug Printf functionality." I found the vkconfig tools with all the checkboxes, so I think that's what this refers to. But this is backburner until the vkCreateShaderModule hangs are resolved.

[2021-01-12 16:32] mark-lunarg commented on #2465
@seanbaxter, can you share the validation message output before the hang if there was any?  That should tell you if you do not have the extensions set correctly.  @ncesario-lunarg, a hang in CSM is often caused by a malformed shader, but it's disturbing that it passes spirv-val(?).  Can you have a quick look, perhaps after we hear back from Sean?  Thanks!

[2021-01-12 16:35] mark-lunarg commented on #2464
@seanbaxter, thanks!  @Tony-LunarG, 'validation' seems like it could be a bit misleading, since debug-printf is part of 'KHRONOS_validation'.  Just sayin'.

[2021-01-12 16:35] seanbaxter commented on #2465
There are no validation messages, just the hang. This code was generated with my own compiler. The SPIR-V differs from glslang's considerably.

[2021-01-12 16:40] mark-lunarg commented on #2466
@ravensiris, this repo has a mechanism in place to manage the numerous upstream repo dependencies, concentrated in the [scripts/known_good.json](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/scripts/known_good.json) file.
The repo is only guaranteed to build correctly with that specific combination of dependencies.  The `known_good.json` file is typically updated about a week

[2021-01-12 16:40] #2466 closed

[2021-01-12 16:42] mark-lunarg commented on #2467
@ncesario-lunarg, can you grab the repo app (for later) and let Christophe know?  Or I can grab it, either way.

[2021-01-12 17:38] ncesario-lunarg opened #2468 "Scrub dispatch calls from CreateInstance hooks"
See https://github.com/KhronosGroup/Vulkan-Loader/issues/537 for more details.

In short, `CreateInstance` is more of a "constructor" than a "hook," and dispatch calls should not be made from inside CreateInstance. This issue is to track finding and removing dispatch calls from within CreateInstance hooks.

FYI @lenny-lunarg @jeremyk-lunarg @mikes-lunarg @mark-lunarg

[2021-01-12 18:07] mark-lunarg commented on #2468
Didn't notice any after a quick scan. Hopefully this won't be a big deal.  Thanks Loader!

[2021-01-12 18:32] Tony-LunarG commented on #2464
Yes, you have to enable the KHRONOS_validation layer, but it is advised that you turn off the standard validation checks.  vkconfig is the easiest way to do so.  Selecting debug printf in vkconfig should disable the standard validation checks automatically.
Right now, the only way to set the debug printf buffer size is through a vk_layer_settings.txt file.  Set khronos_validation.printf_buffer_siz

[2021-01-12 18:37] ncesario-lunarg commented on #2467
@pixeljetstream @mark-lunarg got it and the app runs on my machine. I will take a look at this later today.

[2021-01-12 19:09] mark-lunarg commented on #2463
@Novum, there doesn't appear to be valid usage preventing this particular situation, do you feel that there should be?  We are leaning towards changing the assert into a validation error, but it'd be helpful to know what you'd prefer from the developer-side of things.

[2021-01-12 23:03] mark-lunarg commented on #1495
@danginsburg, this is now at the top of my list -- I would very much appreciate the gfxrecon trace, please.

[2021-01-13 01:36] seanbaxter commented on #2464
Ya it's registered in both those places. After fiddling with vkconfig, and having INFO debug messenger severity, I get printfs formatted to stdout as validator info, eg:
[code]

When I export `DEBUG_PRINTF_TO_STDOUT` I see them as regular messages:
`thread = 154`

Don't know if this is by design. Doesn't matter that much though.

[2021-01-13 02:52] UHFT opened #2469 "debugPrintfEXT issues with ray tracing shaders"
**Describe the Issue**

I'm using 'debugPrintfEXT' to trace the flow and debug some values.

It works fine for *.vert, .frag files(passthrough.vert,frag_shader.frag,vert_shader.vert,post.frag)
but somehow it does not work on raytrace. (raytrace.rgen, raytrace.rchit etcs).
Please check NVPro example (https://github.com/nvpro-samples/vk_raytracing_tutorial_KHR, especially ray_tracing__simple ) with

[2021-01-13 05:10] Novum commented on #2463
The asserts in optimized code are useless for most people. I have no idea what it means because I don't know the code. And the SDK doesn't even ship the sources so you have to dig them up from github. That's not explained anywhere either.

So yes, never assert or crash if possible. It should return validation errors instead.

[2021-01-13 05:54] Novum commented on #2463
@locke-lunarg That's not the frame buffer that is used for the first sub pass. It's this one: https://github.com/Novum/vkQuake/blob/master/Quake/gl_vidsdl.c#L1802

Are you sure there isn't some problem with sub passes in this validation step?

[2021-01-13 06:06] Novum commented on #2463
Considering the cause of this: It would be nice if the validation layer would verify that the render pass of the pipeline matches the active one?

[2021-01-13 14:10] mark-lunarg commented on #2463
Yeah, that's what I was _trying_ to ask -- do you think it should be declared in the spec that these two things must match?  We are planning to add a check either way, but we are on more solid ground if I can take this back to the Vulkan group and get their approval as well.

[2021-01-13 17:00] ncesario-lunarg commented on #2465
@seanbaxter I'm trying to reproduce this, but unfortunately I'm not able to build the project (e.g., not sure what is producing SPIR-v code via this [-shader](https://github.com/seanbaxter/vulkan_compute/blob/hang/CMakeLists.txt#L12) flag). Could you point me to the SPIR-v compiler you're using? Also, are there any other requirements for running this (e.g., OS/GPU/etc)? Thanks!

[2021-01-13 17:05] seanbaxter commented on #2465
I wrote the compiler and the version that generates this particular module isn't ready for public. Just load the module into any Vk project. You don't have to run it. It hangs immediately in vkCreateShaderModule. The validation layer must be interpreting the SPIR-V incorrectly and getting itself stuck.

[2021-01-13 18:06] Tony-LunarG commented on #2464
That looks like your callback isn't being called.  When you don't have a callback, validation and debug printf messages go to stdout, and debug printf will call LogInfo and that adds the validation formatting.  When you export DEBUG_PRINTF_TO_STDOUT, debug printf does not call LogInfo and instead just sends the message to stdout directly.

[2021-01-13 18:34] ncesario-lunarg commented on #2465
Thanks @seanbaxter, I created a test case that creates a compute pipeline to try to reproduce this, and I'm seeing `vkCreateShaderModule` fail first, then the following validation errors. I'm not able to reproduce the hang, though.
[code]
The setup I used was based off of [this](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/f5dea94f6f1507f637c0500b01a818d9217be1fe/tests/vkpositivela

[2021-01-13 18:38] ncesario-lunarg commented on #2465
Just noticed that it looks like the result of [vkCreateShaderModule](https://github.com/seanbaxter/vulkan_compute/blob/hang/context.cxx#L184) is not being checked? Is that call succeeding on your platform?

[2021-01-13 18:42] jeffbolznv commented on #2465
This was changed in SPIR-V 1.4. Is your test using too old of a SPIR-V or Vulkan version?

[2021-01-13 18:44] seanbaxter commented on #2465
vkCreateShaderModule doesn't return. It hangs, so it can't be checked.

But it looks like your repro case shows the problem. Why does vkCreateShaderModule fail in your test? It's a valid module. The diagnostic that it's printing is wrong.

[code]

From the SPIR-V spec for OpEntryPoint:
[code]

I'm less concerned with the hang than the fact that on both of our systems the validation layer is failin

[2021-01-13 18:52] mark-lunarg commented on #2465
@seanbaxter, the failure is saying that it is not a valid module.  That particular check means that the spirv-validator has failed (the layers call it directly).  We are just passing through the error from the validator.  Perhaps there's an issue with [spirv-tools](https://github.com/KhronosGroup/SPIRV-Tools/tree/master/tools/val)?

[2021-01-13 19:07] seanbaxter commented on #2465
It passes spirv-val. This is my version of that: SPIRV-Tools v2020.7-dev v2020.6-15-g1bb80d27

[2021-01-13 19:20] ncesario-lunarg commented on #2465
Ah, typo on my part (`VK_VERSION_1_2` -> `VK_API_VERSION_1_2` when setting up the instance). Thanks @jeffbolznv as I thought I had the versions setup correctly!

This is hitting an assert in [shader_validation.cpp](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/f5dea94f6f1507f637c0500b01a818d9217be1fe/layers/shader_validation.cpp#L1260). Don't know why yet, but this is in the same ar

[2021-01-13 23:40] Novum commented on #2463
Well, the spec allows for compatible render passes. I guess the validator would need to check if the render pass provided in the pipeline is compatible with the active render pass.

The render pass compatibility thing is important for creating pipelines at startup without actual rendering yet.

[2021-01-14 10:33] turanszkij opened #2473 "vkCreateComputePipelines crash when VK_KHR_FRAGMENT_SHADING_RATE is enabled"
Calling vkCreateComputePipelines results in crash when the fragment shading rate extension is used and validation layers enabled. The crash reason is:
[code]
The compute pipeline doesn't have viewport state, but for some reason the call crashes on it.

**Valid Usage ID**
There are no validation layer messages using DebugUtilsMessenger callback

**Environment:**
 - OS: Windows 10 (19042.746)
 - GPU

[2021-01-14 10:45] turanszkij opened #2474 "vkUpdateDescriptorSetWithTemplate crash when using ray tracing"
The vkUpdateDescriptorSetWithTemplate fails when using ray tracing. The descriptor writes contain an acceleration structure. The crash only happens when validation layers are enabled, but there are no validation errors/warnings. Without validation layers, there aren't any problems.

**Valid Usage ID**
There are no validation layer messages using DebugUtilsMessenger callback

**Environment:**
 - OS

[2021-01-14 14:34] seanbaxter commented on #2465
While you're at it, file a bug that VK_VERSION_1_2 ought to be the same as VK_API_VERSION_1_2. Someone is likely to get stung by that.

[2021-01-14 19:48] Tony-LunarG commented on #2469
@UHFT #2472 should fix this problem

[2021-01-14 19:54] UHFT commented on #2469
What procedure I have to follow to test whether it works?

[2021-01-14 20:04] Tony-LunarG commented on #2469
You can build the validation layers from this repository and use them with your ray tracing tutorial build that has debug printfs in the shaders, or wait for the next SDK.

[2021-01-14 20:09] Tony-LunarG commented on #2469
Or if you are using Windows, https://ci.appveyor.com/project/Khronoswebmaster/vulkan-validationlayers/builds/37253285/job/mio9orlqplk3oho8/artifacts would have the layer executables that you can use.

[2021-01-14 21:48] #2469 closed

[2021-01-15 16:09] seanbaxter commented on #2465
How do I turn off shader module validation and keep the other layers on? I'm flying blind without it and don't know Vulkan.

[2021-01-15 16:52] ncesario-lunarg commented on #2465
Hi @seanbaxter, I don't think there is a way to turn off _only_ shader validation (@mark-lunarg @jeremy-lunarg?). You can see a list of "features" you can enable/disable in the **VK_LAYER_KHRONOS_validation** layer [here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/docs/khronos_validation_layer.md#validationfeatures).

It looks like the hang is happening because the type po

[2021-01-16 11:00] turanszkij commented on #2473
Additionally, I include the call stack from the crash:

[code]

[2021-01-16 11:01] turanszkij commented on #2474
Additionally, I include the call stack from the crash:

[code]

[2021-01-16 17:52] danginsburg commented on #1495
@mark-lunarg Sorry, this slipped through the cracks on me this week.  I'll get you the trace on Monday, please ping me by e-mail if I forget.

[2021-01-17 09:11] TheNumbat commented on #1340
I've also run into this issue; a validation error is triggered when the surface extent race condition occurs during resizing on X.

According to [Vulkan-Docs/issues/828](https://github.com/KhronosGroup/Vulkan-Docs/issues/828) and what was suggested above, it seems that in this case vkCreateSwapchainKHR should create a new swapchain that immediately gets marked as out of date, since the spec doesn'

[2021-01-17 15:42] pc-john opened #2476 "syncval: RaW in cmdCopyImage after RP"
Take the following situation:
- RP writes to colorBuffer using TRANSFER_SRC_OPTIMAL layout
- vkCmdCopyImage() follows, copying from colorBuffer

SYNC-HAZARD-READ_AFTER_WRITE is reported in vkCmdCopyImage, complaining about READ_AFTER_WRITE hazard with usage info: SYNC_TRANSFER_TRANSFER_READ and prior_usage: SYNC_IMAGE_LAYOUT_TRANSITION

I tried to insert pipelineBarrier between RP and vkCmdCopyIma

[2021-01-17 22:57] kaiserschmarrn0 commented on #1340
with xwayland it is even more of an issue, the race condition is triggered much more often and it seems to be fatal. that said, xwayland is probably not a priority when vulkan supports wayland native.

[2021-01-18 03:19] sfricke-samsung commented on #2311
So currently the spec change was put in as commented above and that removed the implicit VUs, but trying to implement it I ran into more issue that I feel need to be clarified in the spec.

Going to propose further spec fix and also will push up a patch for validation to match with it

[2021-01-18 18:11] kennyalive commented on #1519
Hello,

Are there any updates on this issue? In our engine it spams each frame and the solution with disabling image layout transition validation completely is not ideal.

I prepared small program that shows the issues. I tested it using the latest validation layers code from Jan 18 2021.

Here's the source code:
https://github.com/kennyalive/layout-mismatch-false-positive

It's windows only, and

[2021-01-18 18:16] mark-lunarg commented on #1519
@jzulauf-lunarg, can you bump this in priority please?

[2021-01-18 18:47] jzulauf-lunarg commented on #1519
@Tony-LunarG  updated this most recently, I can certainly support efforts to address.

[2021-01-18 19:09] jzulauf-lunarg commented on #2476
The barrier at 294 looks required and correct.  Without that, you would have a hazard with the final_layout transition. You could eliminate this by adding a VkSubpassDependency from srcSubpass 0 to dstSubpass VK_SUBPASS_EXTERNAL with the same parameters as the image memory barrier. The other choice would be to leave finalLayout as COLOR_ATTACHMENT_OPTIMAL, and do the transition in PipelineBarrier.

[2021-01-18 20:50] jeremyg-lunarg commented on #2476
I can reproduce this error with the test program with the barrier at line 394 enabled:

[code]

@jzulauf-lunarg 's suggestion about using a VkSubpassDependency is probably the best bet. Using a barrier after a renderpass will usually require a similar subpass dependency.  The implicit subpass dependency that gets inserted if you do a layout transition has  .dstAccessMask = 0 and   .dstStageMask =

[2021-01-19 15:13] pc-john commented on #2476
Perfect! Thank you jeremyg-lunarg! This subpass dependency and brief explanation was exactly what I was missing. The code works now!

Just the last question still lurks in my mind why the original code with the barrier at line 294 did not solve the problem. Old and new layout were both TRANSFER_SRC_OPTIMAL, so no layout change, but I would expect that the pipelineBarrier would really make sure tha

[2021-01-19 15:34] jeremyg-lunarg commented on #2476
The layout transition in the renderpass from COLOR_ATTACHMENT_OPTIONAL to TRANSFER_SRC_OPTIONAL gives you an implicit subpass dependency. But the dstStageMask and dstAccessMask don't 'match up' with your barrier, which causes the barrier to be ineffective.  The implicit subpass dependency dstStageMask (BOTTOM_OF_PIPE) and dstAccessMask (0) doesn't make the result of the renderpass visible to anyth

[2021-01-20 15:44] pc-john commented on #2476
Thanks! I even read the spec you are mentioning before, but only you provided the missing pieces. Now, I got it. I can even find it in the spec now. Anyway, the synchronization is not simple thing. Maybe not too complicated once you understand it, but difficult to get all the pieces...

Thanks for the support and for the synchronization validation layer! It is extremely useful.

[2021-01-20 15:44] #2476 closed

[2021-01-21 22:42] pdaniell-nv commented on #2473
Since Vulkan CTS enables all extensions, this crash happens for all compute tests. It would be nice if this was fixed asap.

[2021-01-21 23:14] pdaniell-nv opened #2486 "Incorrect usage of descriptor set update after bind not detected"
**Describe the Issue**
There is a new CTS test that has a bug where it does a descriptor set update after bind, but failed to flag any of the bindings, descriptor set layout or descriptor set pool with the UPDATE_AFTER_BIND flags.

The new test is here: https://gerrit.khronos.org/c/vk-gl-cts/+/6194/6. The test is called "dEQP-VK.api.descriptor_set.descriptor_set_layout_binding.update_subsequent_bi

[2021-01-21 23:54] Tony-LunarG commented on #1723
First, apologies for it taking us so long to get to this
I modified the validation layer test ImageDescriptorLayoutMismatch to match the issue description by changing the first call to do_test to:

do_test(&image, &view, VK_IMAGE_ASPECT_COLOR_BIT, VK_IMAGE_LAYOUT_SHADER_READ_ONLY_OPTIMAL,
                VK_IMAGE_LAYOUT_GENERAL, /* positive */ false);

which does an UpdateDescriptorSets using an i

[2021-01-22 00:07] jeffbolznv commented on #2486
I was chatting with Piers about this. It looks like the descriptor set doesn't get "bound" (in the state_tracker sense) to the command buffer until UpdateDrawState. So the validation layers would miss an error like "Bind, Update, Dispatch", because there are no command buffers bound to the descriptor set at Update time.

[2021-01-22 02:41] YunHsiao opened #2487 "descriptor image layout check should happen at submit-time instead of record-time"
**Describe the Issue**
Descriptor image layout checks now happen as soon as any vkCmdDraw* is called, which can lead to false positives when the layout transitions are recorded into a separate command buffer afterward but being submitted first.

**Valid Usage ID**
VUID-VkDescriptorImageInfo-imageLayout-00344: Validation Error: [ VUID-VkDescriptorImageInfo-imageLayout-00344 ] Object 0: handle = 0x1

[2021-01-22 16:42] baldurk opened #2488 "Validation for descriptor pool over-allocation turned off too completely"
**Describe the Issue**
When KHR_maintenance1 is enabled either explicitly or implicitly by using vulkan 1.1+, the validation layers omit validation for descriptor sets being allocated from descriptor pools that don't have enough space reserved.

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/ab73ad6376066d73c6f592aca91cb423c8abfc63/layers/descriptor_sets.cpp#L2904-L2927

This was rem

[2021-01-22 17:00] mark-lunarg commented on #2488
@baldurk, you're right, and without a change to the spec our best option will be to add these checks (without the 1.0 context limits) to the best-practices validation.  Maybe these VUs could be added back into the spec?

[2021-01-22 17:25] baldurk commented on #2488
I think if nothing else then it should be added somewhere, but my concern with adding this to the best practices validation is that not everyone is going to run with that enabled so it would be easy to miss this check. Also it's not really a best practice to correctly size pools, but indeed it's also not technically invalid and I'm not sure what's a better alternative.

Arguably applications shoul

[2021-01-22 20:48] Tony-LunarG commented on #2464
Closing assuming you got it working.  Re-open if that's not the case

[2021-01-22 20:48] #2464 closed

[2021-01-22 22:03] Tony-LunarG commented on #2473
Fixed with #2490

[2021-01-22 22:03] #2473 closed

[2021-01-22 22:34] mark-lunarg commented on #2474
@souravpNV, is it valid to use raytracing acceleration structures with the old template APIs?  Looks like the writes would need the info that would normally come in a `VkWriteDescriptorSet->pNext`, but I can't see how this would fit in with the templates -- can you help out @turanszkij?

[2021-01-22 22:47] turanszkij commented on #2474
The `VkDescriptorUpdateTemplateEntry` is used for creating the template, and it has a `VkDescriptorType    descriptorType` property, so I give it a `VK_DESCRIPTOR_TYPE_ACCELERATION_STRUCTURE_KHR`.

This is my datafor the descriptor table template:
[code]

The `VkDescriptorUpdateTemplateEntry::stride` is using `sizeof(Descriptor)`.
I am also using `vkCreateDescriptorUpdateTemplate`, `vkUpdateDescri

[2021-01-22 22:50] turanszkij commented on #2474
By the way, why did you say "old template APIs"? Is there a newer one I should be using? Or is it more expected to use the `vkUpdateDescriptorSets`?

[2021-01-22 23:04] mark-lunarg commented on #2474
@turanszkij, I could have sworn I remembered some chatter about deprecating these a long time ago, but I can see nothing in the spec. I apologize for the mistaken impression!

[2021-01-22 23:29] jeffbolznv commented on #2474
To answer Mark's question - yes, update templates work with acceleration structures. The offset is the byte address of the acceleration structure handle, very similar to how the other descriptor types all work.

[2021-01-22 23:36] souravpNV commented on #2474
It could be possible that in validation layers khr acceleration structure is not being filled properly for this case, will look into it.

[2021-01-23 01:36] souravpNV commented on #2474
@turanszkij can you provide a minimal repro, or instructions to run your repro scenario.
For me using "Editor_Windows.exe Vulkan " the app dies silently

probably update is NULL leading to crash when accessing pNext, need to have a repro build to debug it.

[2021-01-23 09:26] turanszkij commented on #2474
@souravpNV Sorry, I think the shaders might have been missing.

I will try to provide steps to reproduce the issue. You can either:
- download the latest build from here: https://ci.appveyor.com/api/projects/turanszkij/wickedengine/artifacts/WickedEngineEditor.zip?branch=master&job=Platform%3A%20x64 and run `Editor_Windows.exe vulkan` . This should work as it has all the shaders prebuilt in the pa

[2021-01-23 09:46] YunHsiao commented on #2487
Sorry, the false positive is my bad. The vkCmdCopyBuffer stuff was mistakenly put in the second command buffer. After correcting this the error was gone. But still, I wonder whether the current approach would give false negatives though, for there is just no way to tell what the image layout was before the current command buffer.

[2021-01-23 13:45] glaudiston commented on #874
Would be nice to fix scripts to solve this issue, not just ignore/close it because @danielmaciel wrote a workarround. New users will stuck at it and lost time searching for this solution.

[2021-01-23 16:47] mark-lunarg commented on #2487
Thanks very much for the update @YunHsiao.  We have somebody currently looking at this from our side to see if action is needed, and appreciate you bringing this to our attention.  Looking forward to hearing from you in the future!

[2021-01-24 03:48] souravpNV commented on #2474
Thanks, @turanszkij, but the provided build has missing spirv shaders.

As per code, there should be a spirv directory created under WickedEngine\shaders folder but that is missing in the provided build
		if (use_vulkan)
		{
#ifdef WICKEDENGINE_BUILD_VULKAN
			wiRenderer::SetShaderPath(wiRenderer::GetShaderPath() + "spirv/");
			wiRenderer::SetDevice(std::make_shared<GraphicsDevice_Vulkan>(window,

[2021-01-24 11:23] turanszkij commented on #2474
@souravpNV Really? I swear that the spirv shaders are there for me in the appveyor build that I linked (not the github repository). But I will attach them here too then.
[shaders.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/5862070/shaders.zip)

[2021-01-25 00:09] souravpNV commented on #2474
thanks @turanszkij , the provided zip works, and I see the crash with validation layers, though that happens before writeupdate, looking into it

cs:
ucrtbased.dll!00007fff20727255()	Unknown
 	ucrtbased.dll!00007fff20727073()	Unknown
 	ucrtbased.dll!00007fff207299ff()	Unknown
 	VkLayer_khronos_validation.dll!GetConstantValue(const SHADER_MODULE_STATE * src, unsigned int id) Line 317	C++
 	VkLayer_

[2021-01-25 03:50] souravpNV commented on #2474
@turanszkij ,ignore above comment and thanks for the repro steps, hacking validation layers a bit, now I see the CS you are seeing,

[2021-01-25 06:34] souravpNV commented on #2474
@turanszkij @mark-lunarg  fix out for review
https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2491

[2021-01-25 17:31] danginsburg opened #2492 "GPU-AV check index buffer out-of-bounds"
We recently had a GPU hang that GPU Assisted Validation was unable to catch.  We were running with robustBufferAccess disabled and had a -1 in our index buffer.  The draw with the index buffer was dispatched from an indirect draw command.  It would be a nice feature addition if GPUAV could check this case since we couldn't catch it with validation or GPUAV.

@Tony-LunarG @greg-lunarg

[2021-01-25 18:17] greg-lunarg commented on #2492
@Tony-LunarG I think the technique we chatted about the other day where we insert a compute pipeline to check buffers before they are consumed by the API might be the ticket here. This is another case that would help justify the infrastructure investment.

[2021-01-25 20:03] karl-lunarg commented on #874
Since the time this issue was closed, it looks like the Vulkan Loader repository was removed as a dependency.  It no longer appears in the `known_good.json` file and so won't be built by `update_deps.py`.  Therefore, I think this issue no longer applies.

The [BUILD.md](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/BUILD.md#vulkan-loader) file talks about this a little bit.

[2021-01-25 23:43] glaudiston commented on #874
@karl-lunarg, glad you asked.

Yes, I having a hard time to figure out how to get things working here.

Using ubuntu 20.10 here. I've downloaded the SDK at "https://vulkan.lunarg.com/sdk/home#linux" (current version 1.2.162.1), "sourced" the `setup-env.sh` and tried to build the `cube.c`.

the `./x86_64/bin/vkcube` works fine. But when compiling `cube.c`:
[code]

[code]

Then I tried to rebuild th

[2021-01-26 00:39] Duttenheim opened #2498 "Incorrect validation error claiming pipeline subpass and render pass subpass index mismatches"
**Describe the Issue**
I get a seemingly incorrect validation error for every render pass which uses more than 1 subpass, claiming the pipeline is built for another subpass index. I can reproduce the error 100% and present a RenderDoc capture illustrating this issue. It seems to me that the subpass index validation is off by one if a render pass has more than one subpass; Pipeline was built for su

[2021-01-26 02:16] jzulauf-lunarg commented on #1519
@kennyalive  -- excellent reproduction case.  Validation and queue submit was incorrectly validating the state of the descriptor against the *last* state of the image layout in command buffer, not the first state.  Fix is in progress, but not longer produces the false positive.

It's a significant change, so it's going to take some additional testing before merging.

[2021-01-26 11:43] rg3igalia opened #2500 "Assertion failure when running VK-GL-CTS test"
**Describe the Issue**
When running the VK-GL-CTS test dEQP-VK.image.mismatched_formats.image_read.d16_unorm_with_r16, the layers (built from source in debug mode) crash with an assertion failure. As of the time I'm writing this, the test [contains a mistake ](https://github.com/KhronosGroup/VK-GL-CTS/blob/b29bf0434c16796dc48a17a52c7fe219d558af31/external/vulkancts/modules/vulkan/image/vktImageMis

[2021-01-26 14:13] karl-lunarg commented on #874
This is way off-topic for this repo and this is a closed issue.  Since at least part of the problem has to do with the SDK, it may be good for you to work with us on [LunarXChange](https://vulkan.lunarg.com) (where you got the SDK from) and open an issue there.  @johnzupin can help with SDK-specific issues.

But before you do that, it may make sense to review the Getting Started guide available th

[2021-01-26 14:18] Luke-Filewalker opened #2501 "Descriptor: when using a variable descriptor count a false positive error is always thrown"
**Describe the Issue**
When a descriptor is created with VK_DESCRIPTOR_BINDING_VARIABLE_DESCRIPTOR_COUNT_BIT_EXT set, the following error is always thrown and the error message always says that the variable descriptor size is 0. This happens when the set describtor count is smaller and even when it is equal to the max set describtor count.

**Valid Usage ID**
Validation Error: [ VUID-VkWriteDescri

[2021-01-26 14:58] jzulauf-lunarg commented on #2487
@YunHsiao  -- there are both record time and submit time checks.  Effectively we track the *first* use of a given resource and check that against the global (submit) image layout at submit time.  Additionally "update after bind" is validated at queue submit time... though there is an open issue against the current handling of that case.

[2021-01-26 15:24] jzulauf-lunarg commented on #1519
@kennyalive  -- after further analysis, the fix will simply cause a *different* set of false positives. (even though it fixes yours)

[2021-01-26 15:32] kennyalive commented on #1519
okay, but does it worth to make the change then? I mean, does in general it makes validation layers better or the area of new false positives could be larger than old new positives?

[2021-01-26 16:08] jzulauf-lunarg commented on #1519
@kennyalive equal in magnitude, opposite in sign.  Several tiers of solutions in discussion.

[2021-01-26 16:23] mark-lunarg commented on #1519
@kennyalive, while not a solution in itself, you can quiet the spam by using the **message_id_filter** layer option.  In the `vk_layer_settings.txt` file, this would be `khronos_validation.message_id_filter` (see the [vk_layer_settings.txt file](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/vk_layer_settings.txt) for details) or you can use the `VK_LAYER_MESSAGE_ID_FIL

[2021-01-26 16:26] kennyalive commented on #1519
@mark-lunarg, thanks for the suggestion. My current solution is to use vk_layer_settings with
khronos_validation.disables = VALIDATION_CHECK_DISABLE_IMAGE_LAYOUT_VALIDATION
but it sounds like your solution provides better granularity.

[2021-01-26 17:37] kvark opened #2502 "Bogus image usage check in vkCmdBeginRenderPass with KHR_imageless_framebuffer"
**Describe the Issue**

See https://github.com/gfx-rs/wgpu/issues/1175 for details.
Validation triggers an error with image-less framebuffers. We believe it's a VVL bug.

**Valid Usage ID**

**Environment:**
 - OS: Linux
 - GPU: Nvidia GTX 1050
 - SDK or header version if building from repo: 1.2.162.0 release 11
 - Options enabled (synchronization, best practices, etc.): standard validation

**Add

[2021-01-26 17:43] kvark opened #2503 "Bogus width and height check in vkCmdBeginRenderPass with KHR_imageless_framebuffer"
**Describe the Issue**
The code is rendering to mipmap levels of an image, using `KHR_imageless_framebuffer`.

**Valid Usage ID**

object info: (type: RENDER_PASS, hndl: 6321173711944679479)

**Environment:**
 - OS: Linux
 - GPU: AMD Ryzen 3500U
 - SDK or header version if building from repo: 1.2.162.0
 - Options enabled (synchronization, best practices, etc.): standard validation

**Additional co

[2021-01-26 20:51] Tony-LunarG commented on #2503
I believe this is a duplicate of #2318

[2021-01-27 00:21] jzulauf-lunarg commented on #1519
@kennyalive  -- the above PR disables the image layout checks at queue submit time that were generating the false positives, but only narrowly, all other queue submit checks for update-after-bind are retained.

A broader fix to reenable those checks is planned.

[2021-01-27 02:11] YunHsiao commented on #2487
Alright, although arguably not ideal that sounds good enough for my case, so closing this.

[2021-01-27 02:11] #2487 closed

[2021-01-27 10:29] glaudiston commented on #874
First all, thank you for your tips.
[code]
Worked for me.

Now looking at the `cube.c` code it seems pretty obvious. Shame on me.

Sorry to be kind of "off-topic" here, this was the place closer to my the problem I found while searching the internet.

I got it, I took a wrong learning path that made my journey harder.

Now I'm trying to read the [C++ tutorial](https://vulkan.lunarg.com/doc/sdk/1.2

[2021-01-28 16:20] pdaniell-nv commented on #2473
Is there an ETA for when this will land in an updated SDK? I know this issue is blocking some folks. Thanks.

[2021-01-28 16:25] Tony-LunarG commented on #2473
The next SDK is scheduled to be available 3/1

[2021-01-28 23:17] Tony-LunarG commented on #2503
Fixed in #2508

[2021-01-28 23:17] #2503 closed

[2021-01-29 01:01] DethRaid opened #2509 "Attempting to enable extension VK_EXT_debug_utils, but this extension is intended to support the following uses: use by applications when debugging"
**Describe the Issue**
I'm running my renderer with the best practices layer during development, and using the debug utils extension to name my objects. The best practices layer is telling me that I should only use the debug utils extension during application debugging... which is exactly what I'm doing

I guess the point of this message is to tell people to not use the debug utils extension in a

[2021-01-29 14:00] Kangz opened #2510 "Missing validation logic for bufferImageGranularity"
**Describe the situation in which you encountered the missing validation**
Issue description: While changing the memory types selected for resources on NVIDIA GPUs sampling a textures returned invalid values, but only when a specific allocation pattern was used. I root caused the issue to our memory allocator not honoring the `VkPhysicalDeviceLimits::bufferImageGranularity`.

**Valid Usage IDs req

[2021-01-29 17:52] ncesario-lunarg commented on #2437
@timo-suoranta-varjo This should be resolved with #2447. Please re-open if you're still having issues with this.

[2021-01-29 17:52] #2437 closed

[2021-01-29 18:03] mark-lunarg commented on #2509
@DethRaid, the best practices can be spammy this way, since they don't know (and can't know) your intent.  All BP checks are for things that are technically legal, and these 'specialuse' designations come directly from the spec and were added by the Vulkan Working Group specifically for this purpose.  If these messages are interfering with your workflow, you can suppress these or other messages us

[2021-01-29 18:19] ncesario-lunarg commented on #2465
@seanbaxter if you're able to build the ValidationLayers, #2497 should fix the hang you were seeing, though you will likely get an additional error about `OpExtension` using a non-SPV extension now. Please re-open if you are still seeing this issue.

[2021-01-29 18:19] #2465 closed

[2021-01-30 06:49] sfricke-samsung commented on #2502
This VU was recently (1.2.165) changed to ` VUID-VkRenderPassBeginInfo-framebuffer-04627` to address another issue
https://github.com/KhronosGroup/Vulkan-Docs/issues/1391

Code change:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2480

If you were by change using `VkImageViewUsageCreateInfo` from `VK_KHR_maintenance2` this will probably fix your issue

[2021-01-30 06:59] sfricke-samsung commented on #2500
So for context, I think the error message is missing the word "only"

[code]

Also these error messages in `ValidateImageAspectMask()` should 100% be printing out the format actually in the error (I am already in progress of a PR for that)

[2021-01-30 07:03] sfricke-samsung commented on #2500
Making an action to add better error message to `ValidateImageAspectMask()` to print the format and aspect mask being used

[2021-01-31 23:20] gununes opened #2512 "Memory Leak/Unbounded growth when Allocating descriptor sets/resetting descriptor pools"
**Describe the Issue**
Have a simple demo app where it allocates descriptors sets every frame and reset the descriptor pools associated with it. When validation layers are enabled, I see unbounded memory growth coming from the validation layers.dll. After 4 minutes running the app I see a growth of about ~40MB. The same behavior does not happen when disabling the validation layer.

The repro steps

[2021-02-01 14:22] kruseborn commented on #1458
We are getting this specific validation error quite often in our Engine, is it possible to get a higher priority on this issue?

[2021-02-01 16:34] mark-lunarg commented on #1458
@ncesario-lunarg, lets get together today and come up with a plan for this one.

[2021-02-01 18:38] sfricke-samsung commented on #2500
@rg3igalia with the improved wording merged, curious if you grabbed ToT of validation layers and re-ran if you could give the new error as it will either quickly point out what is actually happening

[2021-02-02 08:39] rg3igalia commented on #2500
I just did. Validation error (correct) and later crash:

[code]

[2021-02-02 10:33] jesusdz commented on #467
I had a similar issue when recreating the swapchain upon a resize flag. The crash was at the same point within the validation layers, also when calling vlCreateImageView, and also the second time I recreate the swapchain,  as explained in this thread. The only difference is that it only happened whenever the synchronization validation layer was enabled. My solution was not recreating the swapchain

[2021-02-02 14:48] mark-lunarg commented on #467
@jzulauf-lunarg, @jeremyg-lunarg, FYI JIC.

[2021-02-02 14:50] ilkkasaa opened #2518 "Push descriptors with immutable samplers VUID-VkWriteDescriptorSet-descriptorType-02752"
**Describe the Issue**
The issue can be reproduced by running following Vulkan CTS tests: `dEQP-VK.binding_model.shader_access.*.with_push*.sampler_immutable.*`

`vkCmdPushDescriptorSetKHR()` and `vkPushDescriptorSetWithTemplateKHR()` triggers the validation error when an immutable sampler is used in the descriptor set being pushed.
I think the error shouldn't be triggered, because of the nature o

[2021-02-02 16:32] jzulauf-lunarg commented on #467
@mark-lunarg / @ncesario-lunarg -- looks like a bookkeeping error in DestroySwapchain.  It's assuming that the image handles are unique w.r.t. the swap chain, and they aren't.

[2021-02-02 20:21] #2509 closed

[2021-02-02 20:22] mark-lunarg commented on #2474
Addressed by #2491.  Thanks guys!

[2021-02-02 20:22] #2474 closed

[2021-02-02 20:50] turanszkij commented on #2474
Thank you, this will be a huge help!

[2021-02-03 15:49] mark-lunarg commented on #2512
Triage notes:  Thread safety was modified to track whether allocated descriptor sets and layouts used `UPDATE_AFTER_BIND`.  There are two maps, `dsl_update_after_bind_map `and `ds_update_after_bind_map `which are connected up to the DS allocate logic, but not to the reset/free logic.  The thread-safety manually written source code in `inline_custom_source_preamble `likely needs to be updated to cl

[2021-02-03 18:39] Nimanf opened #2520 "nullDescriptor crash for acceleration structures with VK_NV_RAY_TRACING"
**Describe the Issue**
Spec is updated to allow "**nullDescriptor**" (**VK_EXT_robustness2**) to be used with both **VK_NV_RAY_TRACING** and the new official VK_KHR extensions (on latest drivers and SDK 1.2.162.1), so a null descriptor is interpreted as a miss shader.

However, there are bugs in validation layers in which those acceleration structure descriptors are being accessed to retrieve some

[2021-02-03 20:29] llatta opened #2521 "False positive for missing query reset"
**Describe the Issue**
I'm seeing this validation issue fire in valid conditions:

_Validation Error: [ UNASSIGNED-CoreValidation-DrawState-QueryNotReset ] Object 0: handle = 0xa35fbec8, type = VK_OBJECT_TYPE_COMMAND_BUFFER; | MessageID = 0x9cacd67a | vkCmdWriteTimestamp(): VkQueryPool 0x12298e00000000eb[] and query 96: query not reset. After query pool creation, each query must be reset before it

[2021-02-04 17:37] vonture opened #2525 "Compilation failure with the latest Vulkan headers"
**Describe the Issue**
When compiling Vulkan-ValidationLayers with the latest Vulkan-Headers, an updated macro causes compilation errors in the validation layers:

vk_extension_helper.h:902:28: error: use of undeclared identifier 'VK_QCOM_rotated_copy_commands_EXTENSION_NAME'
            std::make_pair(VK_QCOM_rotated_copy_commands_EXTENSION_NAME, DeviceInfo(&DeviceExtensions::vk_qcom_rotated_copy

[2021-02-04 22:06] karl-lunarg opened #2530 "syncval: Crash on nullptr deref"
**Describe the Issue**
Access violation at synchronization_validation.cpp:890
`Image.fragment_encoder` is null/empty
Fails with commit 1c3d365b
Does not fail with commit 6668e1af
This limits the range to about 7 commits.

**Valid Usage ID**
n/a

**Environment:**
 - OS: Windows 10
 - GPU: NVIDIA RTX 3070
 - SDK 162 is OK, failing commit given above
 - Options enabled synchronization:

**Additional

[2021-02-04 22:50] ncesario-lunarg commented on #2530
@karl-lunarg is this an issue on that hardware, or is there a general way to reproduce this?

[2021-02-04 23:06] karl-lunarg commented on #2530
I don't think that it would be GPU-specific.  The app isn't available, but I will be happy to test attempts at fixes.

[2021-02-04 23:25] ncesario-lunarg commented on #2530
You could try reverting 1c3d365. That change _should_ be benign, but if it is that change, that's just a "nice to have" change that can be easily reverted right away. If it's in one of the other commits, that might take a bit longer to find (for me at least).

[2021-02-04 23:32] jeremyg-lunarg commented on #2530
This is more likely to be related to the syncval changes near commit 6668e1a. The range traversal code that got changed calls into AccessContext::ImageAddressType()

[2021-02-04 23:36] karl-lunarg commented on #2530
Yes, it still crashed with 1c3d365 reverted.  I'd suggest letting @jzulauf-lunarg take a crack at it.

[2021-02-05 15:53] jzulauf-lunarg commented on #2530
@karl-lunarg  -- does the app run clean with core/stateless validation?  An invalid VkImage could cause this.  Looking at the change set to if I it drops any guard checks.

[2021-02-05 16:15] karl-lunarg commented on #2530
Yes, the crash does not happen if I turn off syncval.   And validation is otherwise clean.

There could be an image problem since I'm chasing another bug that might be a timing problem with an image.  By "invalid VkImage", do you mean the image is bad at the application level or something in the VL state tracking.   An app bug is certainly not out of the question here.

[2021-02-06 18:31] #2530 closed

[2021-02-08 18:05] sfricke-samsung commented on #2456
Should be fixe now with 1.2.169 headers merged in

[2021-02-08 18:05] #2456 closed

[2021-02-08 18:34] Novum opened #2537 "Performance optimization suggestions"
Context: I've been looking at validation layer perf a bit and those are my findings. I have been profiling with our use case (Doom Eternal) and on Windows 10 with MS compiler and STL. Disclaimer: I don't completely understand the code and I might have unknowingly broken things.

1. Consider using a better hash map than std::unordered_map. I've been doing experiments with robin hood hashing (https:

[2021-02-08 20:55] Tony-LunarG commented on #1723
Assuming my experiments show that validation is happening, I'll close this issue.  Feel free to re-open or re-submit if you are still seeing a problem here.

[2021-02-08 20:55] #1723 closed

[2021-02-08 23:18] shannon-lunarg commented on #2525
This should have been addressed in #2531. If you are still seeing this error or similar after building the latest VVL, you can reopen this issue. Thanks!

[2021-02-08 23:18] #2525 closed

[2021-02-09 19:19] mark-lunarg commented on #1310
Implemented for non-overloaded Device APIs by PR #2529.

[2021-02-10 01:16] ncesario-lunarg commented on #2467
Closing as this should be resolved by #2497. @pixeljetstream I am not seeing this locally with the `vk_pushconstant_address.exe` you referenced, but please re-open if you are still encountering this problem.

[2021-02-10 01:16] #2467 closed

[2021-02-10 16:51] mosra opened #2541 "vkCmdBindVertexBuffers2EXT() should accept VK_NULL_HANDLE if nullDescriptor is enabled"
**Describe the Issue**

While `vkCmdBindVertexBuffers()` accepts null `pBuffers` entries when the `nullDescriptor` feature from `VK_EXT_robustness2` is enabled, `vkCmdBindVertexBuffers2EXT()` does not. I checed the spec, and [it's allowed in this command as well](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/vkCmdBindVertexBuffers2EXT.html), so I think it's a validation lay

[2021-02-10 20:36] ShabbyX opened #2542 "XFB stage is removed as valid for XFB_COUNTER_READ as part of refactor"
@jeremyg-lunarg [This change](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2519) effectively undoes my fix in [this change](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2506)

Could you please rectify this?

[2021-02-10 20:45] ShabbyX commented on #2542
I suspect it's sufficient to update the spec snippet in `scripts/sync_val_gen.py` according to [this MR](https://gitlab.khronos.org/vulkan/vulkan/-/merge_requests/4355/diffs), but I'm not able to run `scripts/helper_file_generator.py` (errs on `from generator import *`).

[2021-02-10 21:25] jeremyg-lunarg commented on #2542
Doh! Good catch. I'll get a fix up shortly.

[2021-02-10 21:36] kevall474 opened #2543 "Build fail"
Got an issue when building validation layers. If somebody can help me

Os : Archlinux
clang : 13.0.0
gcc : 10.2.0
kernel : 5.10.14-zen1-1-zen

build config :

cmake -H. -G Ninja -Bbuild_64 \
-DCMAKE_C_FLAGS=-m64 \
-DCMAKE_CXX_FLAGS=-m64 \
-DCMAKE_INSTALL_PREFIX=/usr \
-DVULKAN_HEADERS_INSTALL_DIR=/usr \
-DGLSLANG_INSTALL_DIR=/usr \
-DSPIRV_HEADERS_INSTALL_DIR=/usr \
-DSPIRV_TOOLS_INSTALL_DIR=/usr

[2021-02-10 22:48] ncesario-lunarg commented on #2543
Thanks for pointing this out @kevall474. Looks like that `IsValid` function is indeed unused in Release builds. Wrapping the `IsValid` definition and call in a `#ifndef NDEBUG/#endif` should get things compiling for you.

For the gcc build, you may need to run ninja again, but that should succeed. I have also been seeing this `fatal error: Killed signal terminated program cc1plus` error sporadical

[2021-02-10 23:06] kevall474 commented on #2543
Thanks! just pass -DCMAKE_BUILD_TYPE=Debug on my build config and did the trick.

[2021-02-10 23:37] ncesario-lunarg commented on #2543
:+1: as long as you don't need a release build, that should work too :)

[2021-02-11 14:37] eliasnaur commented on #2501
Did you specify the variable descriptor count through a [vkDescriptorSetVariableDescriptorCountAllocateInfo](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/VkDescriptorSetVariableDescriptorCountAllocateInfo.html) to vkAllocateDescriptorSets? I got the tip from https://gist.github.com/NotAPenguin0/284461ecc81267fa41a7fbc472cd3afe#creating-the-descriptor-sets.

I got a similar

[2021-02-11 16:58] #2501 closed

[2021-02-11 17:04] mark-lunarg commented on #2501
This community really is great -- thanks to the both of you!

[2021-02-14 10:44] SpaceIm opened #2548 "glslang should only be required if BUILD_TESTS ON"
**Describe the Issue**

Looking at source code, `glslang` is only used in tests (included in `tests/vktestframework.h`).
Currently, CMakeLists requires `glslang` if `BUILD_TESTS OR BUILD_LAYERS`, and `glslang` is linked into `VkLayer_${target}` targets (`VkLayer_khronos_validation`) while it's not used at all.

**Additional context**

I've tested building `Vulkan_Utils` and `VkLayer_khronos_valida

[2021-02-14 20:34] mark-lunarg commented on #2548
@ncesario-lunarg, this may be true now -- we used to rely on glslang for the spirv-tools it included and they might now be discrete components as far as the build goes.

[2021-02-14 21:42] SpaceIm opened #2550 "Question for windows build: install folder and symbols export"
**Describe the Issue**

I don't know if it's the good place to ask. Maybe I miss something, but:
- why `VkLayer_khronos_validation` is built as `SHARED` and not `MODULE`, and why its symbols are exported? I thought that it was not supposed to be linked, but dynamically loaded by `vulkan-loader`. AFAIR, import lib is not even provided in Vulkan SDK. Moreover `-fvisibility=hidden` is passed to GNU c

[2021-02-15 20:01] Ralith commented on #1340
@mark-lunarg, please reopen the issue; this bug still exists.

[2021-02-16 16:10] Nimanf opened #2556 "vkCmdWriteAccelerationStructuresPropertiesNV incorrect errors with KHR flags - a common validation bug"
**Describe the Issue**
This is very common every time that Vulkan SDK promotes an extension to a KHR extension, we start getting incorrect errors of flags for previous VK_NV/VK_EXT extensions.

Issue: Running an app with `vkCmdWriteAccelerationStructuresPropertiesNV` that uses `VK_QUERY_TYPE_ACCELERATION_STRUCTURE_COMPACTED_SIZE_NV` flag now generates incorrect errors. Using a newer extension shou

[2021-02-17 01:53] mikes-lunarg commented on #2556
Thanks for the report! The 1.2.162 spec actually mandated that check, from https://vulkan.lunarg.com/doc/view/1.2.162.1/windows/1.2-extensions/vkspec.html#VUID-vkCmdWriteAccelerationStructuresPropertiesNV-queryType-03432:

queryType must be VK_QUERY_TYPE_ACCELERATION_STRUCTURE_COMPACTED_SIZE_KHR or VK_QUERY_TYPE_ACCELERATION_STRUCTURE_SERIALIZATION_SIZE_KHR

This is a case of a bug in the specific

[2021-02-17 19:17] jeremyg-lunarg opened #2560 "syncval: unaddressed review comment in SyncOpPipelineBarrier::Validate"
**Describe the Issue**

In PR 2559, @jzulauf-lunarg  said:
This is safely wrong, and reflects a misapprehension about PipelineBarrier2... only one barrier set. Should just assert and look up the 0th one... but this code parallels the WaitEvents2 path incorrectly, but with correct results except for the odd barrier_set_string in the error message. @jeremyg-lunarg -- this is an @jzulauf-lunarg error

[2021-02-18 11:02] rg3igalia opened #2563 "Incorrect validation error in many ray tracing CTS tests"
**Describe the Issue**
Many ray tracing tests in CTS use common utility functions when creating acceleration structures. When the acceleration structure is built on the GPU, these utility functions insert a memory barrier to indicate acceleration structure reads and writes must happen in the proper order, like this:

srcStageMask: `VK_PIPELINE_STAGE_ACCELERATION_STRUCTURE_BUILD_BIT_KHR (0x02000000

[2021-02-18 16:05] jeremyg-lunarg commented on #2563
This is almost certainly related to the changes I'm making for synchronization2. I'll take a look.

[2021-02-18 20:07] Nimanf commented on #2556
Another case was when `VK_EXT_buffer_device_address `was promoted to `VK_KHR`.
`VK_KHR `version added some new flags not existing in `VK_EXT`, and they were being mistakenly required by `VK_EXT `validation layers during every allocation for a while. it was fixed in the future validation releases.

Such bugs are at least easy to filter by ID, but cases like **timeline** semaphores have been very ch

[2021-02-19 12:01] danielmaciel opened #2565 "vkCmdDrawIndexed validation does not respect VK_DESCRIPTOR_BINDING_PARTIALLY_BOUND_BIT"
The following validation does not respect VK_DESCRIPTOR_BINDING_PARTIALLY_BOUND_BIT when using statically used descriptors:
[code]

The spec states that:
For descriptor set bindings created with the VK_DESCRIPTOR_BINDING_PARTIALLY_BOUND_BIT bit set, all descriptors in that binding that are dynamically used must have been populated before the descriptor set is consumed.

For descriptor set bindings

[2021-02-19 15:23] MarijnS95 commented on #2563
We ran into this problem as well. It appears to have been caused by `VK_ACCESS_ACCELERATION_STRUCTURE_READ_BIT_KHR` not being allowed in `VK_PIPELINE_STAGE_ACCELERATION_STRUCTURE_BUILD_BIT_KHR` anymore, now only `VK_ACCESS_SHADER_READ_BIT` is allowed:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/e02e6f73e68cb381ac849630f0b90dfb62166d27#diff-ff6265e16106f281beca571129c8ba7142ddc5

[2021-02-19 19:27] kc87 opened #2567 "VUID-VkRenderPassBeginInfo-framebuffer-03212"
uint32_t view_height = image_create_info->extent.width ???

Lazy copy past error: Don't drink and code!!

[2021-02-20 17:34] mark-lunarg commented on #1340
Are y'all getting the 01274 error in these cases?  I looks like the only thing validation does there is to throw an error, but this should not affect creating the swapchain in any way (unless TRUE is returned from the debug callback).  The spec seems pretty clear in this case and if the check is removed it wouldn't catch errors for folks who _are_ doing it incorrectly (which we completely understa

[2021-02-20 19:34] TheNumbat commented on #1340
Yeah, I believe swapchain creation is working as intended given I ignore the validation error. It's just a bit inelegant to have to ignore the error in this specific case, since as you said it is a real error when the usage is incorrect.

[2021-02-21 00:27] Ralith commented on #1340
I would strongly prefer that the validation layers not knowingly emit false positives. That undermine the usefulness of the validation layers as a whole by training people to ignore them, and is a recurring source of pain and confusion for new users, who must rediscover this issue the hard way.

In the original post I described a compromise solution that should still catch severe bugs, but even di

[2021-02-22 05:26] sfricke-samsung commented on #1340
So I just saw this issue and I actually a bit ago tried to add support for multi-surface tracking of surface capabilities... so uploaded to #2573 as it can be used as a base for this issue as I currently had the issue of knowing "when" to have the layer go and query for the newest capabilities

[2021-02-22 14:24] jeremyg-lunarg opened #2574 "corechecks synchronization2 support causes false positives in ANGLE"
**Describe the Issue**
From a comment in
[code]
This breaks ANGLE (https://crbug.com/1180594) with messages like:
[ VUID-vkCmdPipelineBarrier-srcStageMask-4098 ] Validation Error: [ VUID-vkCmdPipelineBarrier-srcStageMask-4098 ] Object 0: handle = 0xc25874b8, type = VK_OBJECT_TYPE_COMMAND_BUFFER; | MessageID = 0xa3eee6be | vkCmdPipelineBarrier(): srcStageMask flag VK_PIPELINE_STAGE_TRANSFER_BIT is

[2021-02-22 16:22] jeremyg-lunarg commented on #2542
This should still be fixed even after syhcnronization2 is closed.  Please let us know if you find otherwise.

[2021-02-22 16:22] #2542 closed

[2021-02-22 21:29] jeremyg-lunarg commented on #2574
Fix is part of https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2569

[2021-02-23 09:26] MarijnS95 commented on #2563
This appears to have been fixed by #2570, thanks!

@jeremy-lunarg If you use one of the keywords listed in https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword (unfortunately `Fixes issue #xxxx` is not one of them) this issue would be auto-closed when the PR is merged, in turn notifying us :grimacing:

[2021-02-23 13:46] #2567 closed

[2021-02-23 14:02] ncesario-lunarg opened #2576 "Investigate cause of trace crash in"
See https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2564 for context, specifically [this](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2564/files#r579391706) comment.

In short the type check on https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2564/files#diff-031322650ec7e38a7158e5f2aa110b3b4f07ff124fd75b039cd46dc1bb67e91dR878 should not be necessary, but w

[2021-02-23 15:10] haasn opened #2577 "Feature request: Layer for simulating errors (especially device loss)"
It can be difficult to test failure paths, especially for device loss, without a good way of artificially triggering those types of errors. It would be very useful to have a layer that can insert errors into vulkan calls that allow them.

In particular, I'm interested in simulating a device loss. This means that the layer should be capable of randomly/programmatically inserting device loss errors

[2021-02-23 15:14] mark-lunarg commented on #2563
With apologies to @jeremy-lunarg, adding @jeremyg-lunarg for the previous comment.

[2021-02-23 15:38] jeremyg-lunarg commented on #2563
Doh, sorry about that I've definitely got a case of 'too many different git frontends' in my head...

[2021-02-23 15:38] #2563 closed

[2021-02-23 15:49] jzulauf-lunarg commented on #2574
@y-novikov  -- can you confirm this issue resolved as of our update?

[2021-02-23 17:56] Tony-LunarG commented on #2565
I've written a test in #2580 that shows a descriptor that hasn't been updated doesn't get an error if the PARTIALLY_BOUND flag is set in its binding flags, and it does get 02699 if it isn't.  @danielmaciel could you describe what in your use case is different from the simple test that is triggering the error where the test does not?

[2021-02-23 20:51] ShabbyX commented on #2574
@jzulauf-lunarg I'll let you know if the roll into ANGLE succeeds tonight.

[2021-02-24 00:54] y-novikov commented on #2574
Yes, the tests pass now in https://chromium-review.googlesource.com/c/chromium/src/+/2716146
Thanks for fixing!

[2021-02-24 03:19] #2574 closed

[2021-02-24 09:22] danielmaciel commented on #2565
This is what my uniforms look like in my shader:
[code]
The error is about the second binding which is not fully updated (some items of the array are not updated).
Let me know if you need further input.

[2021-02-24 09:35] khyperia opened #2583 ""Push constant is used in .... But ... doesn't set ..." incorrectly reported for modules with multiple entry points"
Full validation error, for context:

[code]

Repro:

Create a SPIR-V module with at least two entry points. At least one entry point must use a push constant (`OpVariable PushConstant ...`), however, the _last_ entry point in the module (as determined by the order of the `OpEntryPoint` instructions) must _not_ use a push constant. Load the module into Vulkan with validation layers on etc. and the

[2021-02-25 06:26] sfricke-samsung commented on #2583
This is a known issue and I was able to reproduce it as well in #2450

So I was originally going to add a quick fix, but realized the shader validation code needed some refactoring as well... it is on my near future list of things to do. I do appreciate your detailed write up though as another example of it

[2021-02-25 15:41] ncesario-lunarg commented on #2583
Thanks @khyperia and @sfricke-samsung, this is super helpful!

[2021-02-25 16:01] ncesario-lunarg commented on #2583
@sfricke-samsung should I go ahead and assign this to you?

[2021-02-25 16:18] ncesario-lunarg commented on #2583
Closing this as a duplicate of #2450.

[2021-02-25 17:38] ncesario-lunarg commented on #2577
This sounds like a great idea @haasn. As you mentioned this would most likely not be a trivial effort, and we don't have anything like that planned that I'm aware of.

I don't think this is necessarily a "_validation_ layer" project/issue, but I'm also not sure where the best place would be to track this.

[2021-02-25 18:46] ncesario-lunarg commented on #2577
Tracking via project card [here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/4#card-55704840).

[2021-02-25 18:46] #2577 closed

[2021-02-26 15:36] jeremyg-lunarg opened #2590 "synchronization2 queue capability vs pipeline stage checks produce bad error messages"
**Describe the Issue**
The error messages for VUID-vkCmdPipelineBarrier2KHR-srcStageMask-03849 and  VUID-vkCmdPipelineBarrier2KHR-dstStageMask-03850 are incorrect.
**Valid Usage ID**
[code]
**Environment:**
 - OS: Windows
 - GPU: AMD Radeon RX 5700 XT
 - SDK or header version if building from repo:
 - Options enabled (synchronization, best practices, etc.):

**Additional context**

[2021-02-26 22:51] kloczek opened #2592 "sdk-1.2.170.0 : build fails"
With vulkan-loader and vulkan-headers- version sdk-1.2.170.0
[code]

[2021-02-26 23:17] Tony-LunarG commented on #2565
Ok, I pushed a change to the test's shader to look like:

layout(set = 0, binding = 0) uniform foo_0 { int val; } doit;
layout(set = 0, binding = 1) uniform sampler TextureSamplers[2];
layout(set = 0, binding = 2) uniform texture2D Textures2D[];

I didn't update the samplers or textures and I still get no false positives from validation.
@danielmaciel could you provide a small program to reproduce

[2021-02-26 23:41] johnzupin commented on #2592
Looks like you need a newer glslang version. Check the `scripts/known_good.json` file for the glslang commit to use. Check the spirv-headers commit in the `known_good.json` as well to be sure that dependency is up-to-date.

[2021-02-26 23:48] kloczek commented on #2592
Yeah .. glslang provudes pkgconfig file which could be used to check availability of the glslang in exact minimum version.

[2021-02-26 23:55] kloczek commented on #2592
Last version is from Nov/2020 https://github.com/KhronosGroup/SPIRV-Headers/tags :/
And looks like spirv-tools v2020.7 (why mnot v2021.2?) does not build because new SPIRV-Headers needs to be released as well.

[2021-02-26 23:59] kloczek commented on #2592
Yep .. glslang to 11.2.0 did not help :/
[code]

[2021-02-27 00:04] kloczek commented on #2592
So do you know which one version of what needs to be instralled to build VVL?
Based on that I can try to prepare patch for cmake to check those componets using pkg_check_modules from cmake FindPkgConfig https://cmake.org/cmake/help/latest/module/FindPkgConfig.html

[2021-02-27 01:04] SpaceIm commented on #2592
Unfortunately, AFAIK, the all Vulkan ecosystem doesn't rely on releases of glslang, spirv-tools and spirv-headers, but just specific "random" commits, making latest glslang, spirv-tools and Vulkan-ValidationLayers (and at some point MoltenVK) releases quite tedious to build with releases of their dependencies.

[2021-02-27 06:58] adioskid commented on #2592
work for me update all dep to the latest commit version.

thanks

[2021-02-27 08:41] kloczek commented on #2592
OK but I'm talking about tagged/released stuff.
Is it really so hard to work with other people and ask them to make new release before make actuall own release?

[2021-03-01 07:31] oddhack commented on #2311
The spec change associated with this issue has been published in the 1.2.171 spec update.

[2021-03-01 11:29] danielmaciel commented on #2565
Hi Tony,

About this phrase
[code]
Does that mean that the binding 1 array index 1 is being used but never updated?
So that would mean that on your test you need to update the first element of the array but not the second, and then try using the second element.

Kind regards,
Daniel

[2021-03-01 11:48] danielmaciel commented on #2565
Okay I tested updating the second element of the array, and now it says:
[code]
So there's that.

[2021-03-01 16:22] #2590 closed

[2021-03-01 21:59] Tony-LunarG commented on #2565
Ok, I updated the first element of the array and used the second, and received no validation errors.
What does your call to CreateDescriptorSetLayout look like, and what is in the pNext of the CreateInfo?

[2021-03-02 18:54] ncesario-lunarg opened #2600 "CTS crashing due to #2540"
CTS is crashing due to #2540.

From @Tony-LunarG: the issue can be reproduced with `dEQP-VK.binding_model.shader_access.primary_cmd_buf.uniform_buffer_dynamic.no_access.multiple_discontiguous_descriptors.offset_view_zero_dynamic_nonzero`. At https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/476f5e2a9f6525143ee9cc48f4c4c8108d00f22a/layers/core_validation.cpp#L6972 the returned `descripto

[2021-03-02 19:27] sfricke-samsung commented on #2600
I have CTS locally, will look into this sometime later today... hopefully, its nothing too fun to fix 😄

[2021-03-02 20:26] danielmaciel commented on #2565
[code]
The `ArrayCount(...)` function returns the number of elements on a given array.
The only major difference I see is I am using Vulkan 1.2 where you are using 1.1 plus extensions. Is that something I should watch for? Maybe if I am not declaring a specific extension or something...

[2021-03-03 00:16] Tony-LunarG commented on #2565
That all looks good.  Vulkan 1.2 made descriptor indexing core, so you shouldn't need the extension.
Is the "used but not updated" error the very first validation error that you get?  And are you getting it from your call to vkCmdDrawIndexed and not from vkQueueSubmit?

[2021-03-03 13:48] tambry opened #2602 "BP shouldn't warn if present mode is VK_PRESENT_MODE_FIFO_KHR"
**Describe the Issue**
Currently best practices warns about creating a swapchain before retrieving available present modes. I think it'd be better if it didn't if the present mode is `VK_PRESENT_MODE_FIFO_KHR` as it's guaranteed to be always supported per the spec.

**Valid Usage ID**
`UNASSIGNED-BestPractices-vkCreateSwapchainKHR-surface-not-retrieved`

**Environment:**
 - OS: Debian Unstable
 -

[2021-03-03 16:28] jeremyg-lunarg opened #2603 "syncval: No hazard detection of swapchain images causing false negatives"
** Former Title **
syncval: different output for color vs. depth stencil renderpass attachments

**Describe the Issue**
See https://www.reddit.com/r/vulkan/comments/lvkr35/writeafterwrite_hazard_for_a_simple_programs/

The program here https://github.com/vblanco20-1/vulkan-guide/blob/c7cb7ae7fdbcfb3153f224e8abbe584ed371cb53/chapter-3/vk_engine.cpp#L400  produces WaW errors for the depth / stencil

[2021-03-03 17:39] danielmaciel commented on #2565
Yes.

`vkCmdDrawIndexed` yes.
I'll see if I can get this `gfxreconstruct` thing you asked about.
Thanks,
Daniel

[2021-03-03 17:44] Tony-LunarG commented on #2565
We'll also need to know what graphics card you are using, hopefully something we have here.

[2021-03-03 17:47] Tony-LunarG commented on #2565
And if you are getting validation layers from an SDK, what SDK version you're using

[2021-03-03 20:25] danielmaciel commented on #2565
Radeon 6800 XT, using RADV on Linux
I am using validation layers from git, compiling it myself, master branch (clean clone + build from a couple of days ago).

[2021-03-04 15:38] Tony-LunarG commented on #2600
Now dEQP-VK.binding_model.descriptorset_random.sets4.noarray.ubolimitlow.sbolimitlow.sampledimglow.outimgonly.noiub.nouab.frag.ialimitlow.1 is crashing (after getting validation errors) .  Starts crashing at #2540 and crashes despite #2601.  Crash is at
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/a4cb494beecaddd8e84661b662ae363f76696c3e/layers/core_validation.cpp#L6974
Where descr

[2021-03-04 15:38] Tony-LunarG commented on #2600
Now dEQP-VK.binding_model.descriptorset_random.sets4.noarray.ubolimitlow.sbolimitlow.sampledimglow.outimgonly.noiub.nouab.frag.ialimitlow.1 is crashing (after getting validation errors) .  Starts crashing at #2540 and crashes despite #2601.  Crash is at
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/a4cb494beecaddd8e84661b662ae363f76696c3e/layers/core_validation.cpp#L6974
Where descr

[2021-03-04 15:41] kvark commented on #2502
We are getting multiple reports about the validation layers just plain crashing after showing this error.
It appears to me that VVL tries to access garbage memory, which is a severe issue given that VVL are supposed to be mostly enabled during development and testing of applications. Can we prioritize this, please?

[2021-03-04 15:44] sfricke-samsung commented on #2502
Sure, unless @ncesario-lunarg wants, I can take this on

[2021-03-04 15:56] jzulauf-lunarg commented on #2603
I believe the WAW is correct.  The render pass instance is performing a `VkAttachmentDescription::stencilLoadOp` `VK_ATTACHMENT_LOAD_OP_CLEAR` defined @ [line 328](https://github.com/vblanco20-1/vulkan-guide/blob/c7cb7ae7fdbcfb3153f224e8abbe584ed371cb53/chapter-3/vk_engine.cpp#L382) after image-layout-transition, which occurs as a stage/access not covered by the `VkSubpassDependency` @ [line 400](

[2021-03-04 16:01] jeremyg-lunarg commented on #2603
Should there be a similar error if the subpass dependency is changed to not cover the COLOR_ATTACHMENT_OUTPUT pipeline stage / access mask? (there isn't)

[2021-03-04 16:08] jzulauf-lunarg commented on #2603
I'm more worried about the reported missing WAW when the `VK_PIPELINE_STAGE_COLOR_ATTACHMENT_OUTPUT_BIT` / `VK_ACCESS_COLOR_ATTACHMENT_WRITE_BIT` are removed from the `VkSubpassDependency`

[2021-03-04 16:26] sfricke-samsung commented on #2600
@Tony-LunarG yes I can take a look later today, sorry for the hassle, the `descriptor_sets.cpp` is my favorite file in the repo

[2021-03-04 16:28] ncesario-lunarg commented on #2600
Thanks @Tony-LunarG @sfricke-samsung!

[2021-03-04 17:34] ncesario-lunarg commented on #2602
Thanks for the issue @tambry! This sounds like a good idea to me. I think this should be pretty easy to add by checking the presentMode here https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/79f0658e9fbaf419e75607fda57785cbb7a17863/layers/best_practices_utils.cpp#L298

[2021-03-04 17:58] ncesario-lunarg commented on #2502
If you're offering, it's all yours @sfricke-samsung!

[2021-03-04 18:37] jzulauf-lunarg commented on #2603
This is a known gap.  Currently we aren't validating acquired swapchain images as they don't have VkDeviceMemory associated and thus aren't considered "Simple" bindings.

Looking at closing that gap, as it's causing confusion IRL.

[2021-03-04 22:40] Tony-LunarG commented on #2565
I have an RX 5700 running on RADV on Linux.  I think there's at least a chance a gfxreconstruct trace would play across devices.  If that's the way you want to go.  Output from VK_LAYER_LUNARG_api_dump might help too.

[2021-03-04 23:25] jzulauf-lunarg commented on #2603
Branch available for test above ^^^.

[2021-03-04 23:49] Ralith opened #2607 "VUID-VkRenderPassBeginInfo-framebuffer-03212 false positive"
When beginning a render pass using an imageless framebuffer, the layers complain e.g.:

However, the image view in question (indeed, every attachment image view in my process) has a *width* of 896, and a height of 1008. The error is reported for every single attachment, for every single render pass. Are the validation layers getting their axes swapped somewhere?

**Environment:**
 - OS: NixOS
 - G

[2021-03-05 10:32] sfricke-samsung commented on #2607
This was caught 2 weeks ago, idk if it missed getting into the 1.2.170 SDK or not
https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2571

[2021-03-05 10:39] sfricke-samsung commented on #2502
@kvark

1. Is the issue still there with the current Validation (post #2480)
2. I am having a hard time reproducing it, I grabbed the `trace.zip` file in the wgpu repo issue, and I see the `play` tool, but with my complete lack of rust, you have a one line command for how to compile play.rs (on ubuntu) or is there a binary somewhere I can quick use

[2021-03-05 14:25] jeremyg-lunarg commented on #2607
This change is in the  sdk-1.2.170 branch

https://github.com/KhronosGroup/Vulkan-ValidationLayers/commits/sdk-1.2.170
 commit 9ce7c8e67684d4a9448d8d909931cd443c361eb7

On Fri, Mar 5, 2021 at 3:32 AM sfricke-samsung <notifications@github.com>
wrote:

[2021-03-05 15:46] ncesario-lunarg commented on #2607
I'll see if I can reproduce this locally. @Ralith, can you please confirm where you got the SDK? e.g., was it from https://www.lunarg.com/vulkan-sdk/, your repo's package manager, etc.?

[2021-03-05 17:14] kvark commented on #2502
One way to reproduce this would be by running the affected wgpu-rs example:
[code]
The current VVL version on my system (Solus) is 1.2.162.0, where it still reproduces.

As for #2480, it only improves the error message and fixes `VkImageViewUsageCreateInfo`, which we aren't using anyway right now (considering in https://github.com/gfx-rs/gfx/issues/3659), so I don't think it's going to fix this.

[2021-03-05 17:17] sfricke-samsung commented on #2502
sounds good... using this as an excuse to learn about setting up cargo for other rust projects as it was on my bucket list in life anyways 😄

[2021-03-05 19:14] #2600 closed

[2021-03-05 19:34] mbechard commented on #2441
Can anyone confirm this behavior is occurring?

[2021-03-05 20:02] Ralith commented on #2607
Thanks! I built it myself from the v1.2.170 tag, which doesn't seem to have the fix, so that explains the issue. It's confusing that the tag and the published version differ.

[2021-03-05 20:08] jeremyg-lunarg commented on #2607
The v1.2.170 refers to where we picked up the corresponding version of Vulkan-Headers, the sdk-1.2.170.0 is what was used to build the SDK.

[2021-03-05 22:23] Ralith commented on #2607
That's confusing. sdk-1.2.170.0 works, anyway.

[2021-03-05 22:23] #2607 closed

[2021-03-05 22:32] #2603 closed

[2021-03-07 06:32] sfricke-samsung commented on #2502
So I ran with a GTX 1070 and Swiftshader, I checked out the [sdk-1.2.162.1](https://github.com/KhronosGroup/Vulkan-ValidationLayers/releases/tag/sdk-1.2.162.1) commit and ran that, and got a few  `VUID-VkRenderPassBeginInfo-framebuffer-03211`/`VUID-VkRenderPassBeginInfo-framebuffer-03212` errors, so then grabbed [sdk-1.2.170.0](https://github.com/KhronosGroup/Vulkan-ValidationLayers/releases/tag/s

[2021-03-08 23:55] jeremyg-lunarg commented on #2441
I apologize for the delay in our response to this issue. I think you are correct about the current behavior of validation in this case.  Handling this in validation without ruining performance or introducing potential deadlock could be tricky, so this will most likely not be a trivial fix.

Would it be easy for you to provide sample code that demonstrates the problem?

Also, another workaround cou

[2021-03-09 08:51] mklefrancois opened #2616 "timeline_semaphore ValidationStateTracker::PostCallRecordQueueSubmit error"
The test in `ValidationStateTracker::PostCallRecordQueueSubmit` is incorrect, as it can access the array of signal or wait semaphore without checking its size. I hit the issue while I have a binary semaphore for wait and timeline semaphore in signal.

The second issue, it is accessing the timeline semaphore info index, from the global semaphore index. Meaning that if you have a mix of semaphores b

[2021-03-09 18:36] jeremyg-lunarg commented on #2616
Thank you for reporting this and including a proposed fix!  Unfortunately I do not think this fix is required. Please see  the paragraph describing VkTimelineSemaphoreSubmitInfo (right above this [VUID tag](https://vulkan.lunarg.com/doc/view/1.2.170.0/windows/chunked_spec/chap7.html#VUID-VkTimelineSemaphoreSubmitInfo-sType-sType)):

Also, while this part of the code did change a great deal in sdk-

[2021-03-09 20:43] #2560 closed

[2021-03-10 09:30] mklefrancois commented on #2616
Thanks @jeremy-lunarg for looking into the issue. I see the issue with the change, and I will try to give more explanations.

Lets assume a `vkQueueSubmit` with the following semaphores:
* A wait binary semaphore to wait for the frame
* A signal timeline semaphore to signal something external.

The `VkSubmitInfo` will be initialize with the following information
[code]

Since there is a timeline s

[2021-03-10 19:13] sfricke-samsung opened #2619 "Look into other promoted extensions missing a feature bit"
**Describe the situation in which you encountered the missing validation**
Issue description: After doing the mental exercise in https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2605 I plan to quickly go through the other extensions that were promoted to Vulkan 1.1/1.2 that didn't have a dedicated feature bit and make sure they are not suffering from the same issue as `drawIndirectCoun

[2021-03-10 21:10] jeremyg-lunarg commented on #2616
Thank you for the clarification @mklefrancois , those definitely are regressions from my change. I will get a fix ready for them.

I agree that there's nothing that forbids mixing timeline and binary semaphores in the specification, the section I quoted about "must ignore the value in the pWaitSemaphoreValues or pSignalSemaphoreValues" is trying to address how this case should work.  But it isn't

[2021-03-10 22:01] jeremyg-lunarg commented on #2616
After further reviewing the code, my comment above is not quite correct.  There are 2 VUIDs that are relevant here:

To restate the example correctly:
If we had a sequence of semaphores like the one you describe:
0: binary, 1: TL, 2: binary, 3: TL, 4, 5, 6, 7 all binary
Then the "pXSemaphoreValues" array would need a length of exactly 8. BUT, the implementation (and validation) should only look at

[2021-03-10 22:51] #2583 closed

[2021-03-10 22:56] jeremyg-lunarg commented on #2616
Note: PR 2621 isn't relevant to this issue, but I mistakenly referenced it when creating that pull request.

[2021-03-11 03:35] ncesario-lunarg commented on #2592
Thanks for the issue @kloczek! Were you able to get things building, or should this issue remain open?

I'm not sure what exactly the question (suggestion?) is here? Is this specifically in reference to how the Vulkan-ValidationLayers repo specifies dependencies? Or is this a more "holistic" suggestion regarding the release process of "all Vulkan-related repos" (as I believe @SpaceIm's comment is

[2021-03-11 03:51] KarenGhavam-lunarG commented on #2592
The known_good.json for this repository specifies the compatible version of glslang (and that version of glslang specifies the version of spirv-tools). The glslang and spirv-tools repositories don't follow the same SDK tagging methodology that you find in this repository.

Perhaps the suggestion is for the SPIRV-tools and glslang repositories to also have the same SDK tags? Due to the number of re

[2021-03-11 10:16] mklefrancois commented on #2616
Thanks @jeremy-lunarg for looking into this issue..

Note, I saw in the change, the following test:
[code]

Shouldn't be instead like this, just to be sure?
[code]

I will definitively look into [VK_KHR_synchronization2](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/VK_KHR_synchronization2.html), seems less confusing. ;-)

[2021-03-11 12:43] jeremyg-lunarg commented on #2616
Yes! Thank you for catching this.

[2021-03-12 11:17] s9w opened #2624 "Confusion about ALL_COMMANDS_BIT and VUID-00838: spec wording vs validation"
When speccing stage masks for a `VkSubpassDependency`, there are two very special values: `VK_PIPELINE_STAGE_ALL_COMMANDS_BIT` and `VK_PIPELINE_STAGE_ALL_GRAPHICS_BIT`. What those mean is a bit unclear to me. The graphics_bit is described as a "logical OR" of an impressive list. If I would actually bool-OR them together, things go wrong. For example because that list contains a `GEOMETRY_SHADER_BI

[2021-03-12 23:22] mbechard commented on #2441
Sure, attached is an edited example from
https://github.com/KhronosGroup/Vulkan-Samples/tree/master/samples/api/texture_loading

[texture_loading.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/6133600/texture_loading.zip)

I'm just transferring ownership from transfer queue -> gfx -> transfer queue while doing layout transitions. Search for 'BUGPOI' to find the line of interest

[2021-03-13 18:36] jeremyg-lunarg commented on #2624
@s9w You are correct that ALL_COMMANDS_BIT does refer to all pipeline stages supported by a queue, as specified in Table 3, excluding pipeline stages related to features that were not enabled when creating the VkDevice associated with the queue.

With the information you've given, I'm unable to tell you what is going wrong.

What version of the validation code are you running? Much of this code ha

[2021-03-13 18:54] s9w commented on #2624
I'm on SDK version 1.2.162.1. And okay not sure if this is what you call sync validation - sorry if I sent anyone on a wrong path there. The VUID is [straight from the Vulkan spec](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/vkspec.html#VUID-VkRenderPassCreateInfo-pDependencies-00838).

The exact error message is
[code]

The subpass dependency that triggers it is as following

[2021-03-13 20:00] kloczek commented on #2592
I'm only tryint to tell that that releaseing new sdk release without necessary https://github.com/KhronosGroup/SPIRV-Headers release is a bit messy. Especially as SPIRV-Headers and Vulkan-ValidationLayers projests are under the same github organisathin which means that it is some level of communication between KhronosGroup projects. Am I right?
I see that SPIRV-Headers is commiting new changes how

[2021-03-13 21:08] jeremyg-lunarg commented on #2624
Thank you for the clarification. After looking into VUID 00838 further, I agree that *something* is wrong here. Given that these dependencies have been in the spec since 1.0 it seems to me that validation should change. Several open source drivers, such as the [radv driver](https://gitlab.freedesktop.org/mesa/mesa/-/blob/master/src/amd/vulkan/radv_pass.c#L89), use these exact dependencies in their

[2021-03-13 22:12] KarenGhavam-lunarG commented on #2592
This is not what is occurring when we do an SDK release. From my previous post:

And the version of spirv-tools is also specifying the commit for spirv-headers. So the SDK is being built with compatible versions of the repositories.

This original issue was indicating that the build for 1.2.170.0 was broken. That isn't the case (if you followed the BUILD.md instructions and had the dependencies co

[2021-03-13 22:12] #2592 closed

[2021-03-14 04:07] kloczek commented on #2592
BUILD.md should be about general build procedure.
Checking details about exact version of other components required during build procedure shpuld be part of the build automation.
I see that spirv-headers does not provide proper platform in form of pkgconfig file which would allow detect vrrsion of those files for other components ehen cmake, meson or GNU auto tools are used as build framework.
Sim

[2021-03-14 09:09] s9w commented on #2624
So okay this is a validation bug then. But I'm still somewhat confused. Let's say I have a perfectly valid dependency and randomly add `VK_PIPELINE_STAGE_FRAGMENT_DENSITY_PROCESS_BIT_EXT` to either or both stageMasks. I don't know what fragment density is, at least I'm pretty sure I don't use it. So it shouldn't go through validation since it's not part of the pipeline, right? There's VUID-00838/0

[2021-03-14 16:09] mark-lunarg commented on #2624
There may be some additional context in this existing [Vulkan spec issue](https://github.com/KhronosGroup/Vulkan-Docs/issues/1020).

[2021-03-15 12:39] jeremyg-lunarg commented on #2624
Thanks Mark. I should have thought to check for history on this. Based on reading the spec issue, it looks like my patch is not supported by the replies from @Tobski , although I'm not 100% certain about that :confused:

@s9w, some of the stages you listed are not checked by validation until 1.2.170 and some of them still aren't checked. The current code for managing feature to pipeline stage incl

[2021-03-16 17:42] #2616 closed

[2021-03-17 15:49] sfricke-samsung opened #2628 "Find places not using LvlInitSruct to set sType and pNext"
As brought up in https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2627

This is issue is to track a 2nd "refactor change" PR

[2021-03-17 15:55] sfricke-samsung opened #2629 "Missing runtime atomic feature validation check"
**Describe the situation in which you encountered the missing validation**
Issue description: Currently there is no coverage of `VK_EXT_shader_atomic_float`, `VK_EXT_shader_atomic_float2`, `VK_EXT_shader_image_atomic_int64`, or `VK_KHR_shader_atomic_int64` feature bits to see if the SPIR-V is allowed to use the various forms of atomics

**Valid Usage IDs requested**
Please include the valid usage

[2021-03-18 00:38] airlied opened #2631 "depth format compatiblity validation is missing"
**Describe the Issue**
"42.1.6. Format Compatibility Classes

Uncompressed color formats are compatible with each other if they occupy the same number of bits per texel block. Compressed color formats are compatible with each other if the only difference between them is the numerical type of the uncompressed pixels (e.g. signed vs. unsigned, or SRGB vs. UNORM encoding). Each depth/stencil format i

[2021-03-18 06:43] sfricke-samsung commented on #2631
The Validation Layers have a `vk_format_uilts.cpp` that handles all of this and these 2 formats are listed as

[code]

But I just wrote a test and I see the issue is

[code]

is passing because they are both the same...but you are correct, it needs to properly handle the case they are both "only compatible with itself"

[2021-03-18 16:57] #2631 closed

[2021-03-18 22:32] Tony-LunarG commented on #2565
I've provided an example #2580 showing that, at least in the test case I wrote, validation does respect VK_DESCRIPTOR_BINDING_PARTIALLY_BOUND_BIT.  Closing, but please open another issue if you get a reproduction case you can share.  Thanks.

[2021-03-18 22:32] #2565 closed

[2021-03-19 15:02] jeremyg-lunarg commented on #2537
Since #2581 and #2618 have merged, we've addressed the specific suggestions given in this Issue. Thank you very much for the feedback. However, closing this does not mean we are done optimizing against Doom Eternal.

[2021-03-19 15:02] #2537 closed

[2021-03-20 10:15] Eichenherz opened #2635 "Buffer device address validation bug ?"
**Issue**
I'm using Vulkan1.2 with all available features enabled, this means VkDeviceBufferAddress is core and SPV should use the
SPV_KHR_physical_storage_buffer not SPV_EXT_physical_storage_buffer.
I am compiling with glslangValidator set to env Vulkan 1.2.

**Valid Usage ID**
[code]
**Environment:**
 - OS: win10
 - GPU: nvidia gtx 1050 mobile with 461.72 driver version
 - SDK or header version

[2021-03-21 02:42] ShabbyX opened #2636 "syncval: Validation error with resolve attachments"
Take the following scenario:

1. Begin render pass
   - Subpass has resolve attachments
   - Final layout of resolve attachments is SHADER_READ_ONLY_OPTIMAL
2. End render pass
3. Dispatch compute call that reads from resolve attachments as sampled image

Between steps 2 and 3, I have added a global memory barrier:

[code]

According to spec, color resolve happens at COLOR_ATTACHMENT_OUTPUT stage w

[2021-03-22 13:10] jeremyg-lunarg commented on #2636
Do you have a subpass dependency with dstSubpass set to VK_SUBPASS_EXTERNAL? If not, the final image layout transition of your renderpass will be synchronized with the implict subpass dependency described in chapter 8 of the spec:
[code]
Because of the dstStageMask of this implicit dependency, any pipeline barrier after the renderpass will need include BOTTOM_OF_PIPE_BIT, as you've found,  in orde

[2021-03-22 15:35] #2635 closed

[2021-03-22 15:36] Eichenherz commented on #2635
This is a bug in glslangValidator therefore the Validation Layers were working correctly.

[2021-03-22 16:38] ShabbyX commented on #2636
Thanks for clarifying. It was not easy to make that connection.

[2021-03-22 16:38] #2636 closed

[2021-03-22 16:49] ben-clayton opened #2639 "Can the robin hood dependency be optional?"
https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/3e54036acdd1e56217aeb714eda9ab7db0d14287 introduced a new third_party dependency on github.com/martinus/robin-hood-hashing.
The Vulkan Validation Layers are in use within Chromium and the internal Google codebase. In both cases, we currently would prefer not to add `robin_hood` as a new transitive dependency.

Assuming 3e54036 is the o

[2021-03-22 17:19] ncesario-lunarg commented on #2639
@ben-clayton I agree it shouldn't be too difficult to make this optional. However, this change gives us a significant performance boost. Is this a build issue we could fix (e.g., would checking the header directly into the repo help), or is there a different reason you would rather not use the robin-hood-hashing library?

FYI @jeremyg-lunarg.

[2021-03-22 18:00] ben-clayton commented on #2639
Both internal-google and Chromium have their own fast-container implementations (the latter being [Abseil](https://github.com/abseil/abseil-cpp)), which we would prefer to use than adding another dependency that offers very similar functionality. Every additional dependency requires an initial security review, integration work, and then continual integration maintenance. For something that's pure-

[2021-03-22 18:02] ncesario-lunarg commented on #2639
Thanks for the clarification @ben-clayton! I'm trying out a change now that will remove this from the GN build. Is there any other build (e.g., cmake, Android) that would also be affected, or just the GN build?

[2021-03-22 18:37] ben-clayton commented on #2639
I've asked the Android team, and am waiting on a response. I strongly anticipate they'd respond with wanting this removed for the Android build files too.

Thank you.

[2021-03-22 21:34] #2639 closed

[2021-03-22 21:35] ncesario-lunarg commented on #2639
@ben-clayton, please re-open this if you're still having issues with the GN build after #2640.

[2021-03-22 21:38] ben-clayton commented on #2639
Thank you ever so much for the extremely rapid fix!

[2021-03-23 04:14] Joshua-Ashton opened #2642 "vkCmdBindVertexBuffers2EXT validation doesn't work with null descriptors"
**Describe the Issue**

When using vkCmdBindVertexBuffers2EXT with null descriptors I get garbage validation spam.

**Valid Usage ID**

VUID-vkCmdBindVertexBuffers2EXT-pBuffers-parameter(ERROR / SPEC): msgNum: 1747617674 - Validation Error: [ VUID-vkCmdBindVertexBuffers2EXT-pBuffers-parameter ] Object 0: handle = 0x7f041d10, type = VK_OBJECT_TYPE_INSTANCE; | MessageID = 0x682a878a | Invalid VkBuff

[2021-03-23 04:17] Joshua-Ashton commented on #2642
Ah, this is a dupe of https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2541