[2021-03-23 04:17] #2642 closed

[2021-03-23 04:18] Joshua-Ashton commented on #2541
Please fix this. It makes validation unusable for us in DXVK and VKD3D-Proton.

[2021-03-23 14:40] ncesario-lunarg commented on #2642
Thanks @Joshua-Ashton, we'll try to move #2541 up in the priority queue.

[2021-03-23 17:08] zmike opened #2643 "vkCreateDescriptorUpdateTemplate crashes in driver with validation enabled"
**Describe the Issue**
With the layer enabled (built from 50fb183594f5062be80de33f184f478dfe5d4b6c), this function crashes in any driver I've tested (in mesa) that accesses `pCreateInfo->descriptorSetLayout`, as it seems to be an invalid pointer provided by the layer.

**Environment:**
 - OS: fedora 33
 - GPU: any
 - SDK or header version if building from repo: 50fb183594f5062be80de33f184f478dfe5d

[2021-03-23 20:48] httpdigest opened #2645 "VUID-vkCmdPipelineBarrier-dstAccessMask-02816: Pipeline barrier with dstStage=VK_PIPELINE_STAGE_RAY_TRACING_SHADER_BIT_KHR and dstAccessMask = VK_ACCESS_ACCELERATION_STRUCTURE_READ_BIT_KHR"
**Describe the Issue**
I am getting a validation error for the following pipeline barrier (syntax is Java, but it should be clear what's being done here):
[code]
So, I want a pipeline barrier that syncs the build of a TLAS with the trace command in a ray tracing pipeline.
Apart from me not having seen anything that _mandates_ this barrier (neither the Nvidia Vulkan Ray Tracing Samples do such a ba

[2021-03-24 00:04] jeremyg-lunarg commented on #2645
This validation error does not look correct to me. I'll fix it.

I haven't been able to find an exact example of a barrier for shader binding table.

https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/vkCmdBuildAccelerationStructuresKHR.html describes barriers needed to access other data.  And  [CTS](https://github.com/KhronosGroup/VK-GL-CTS/tree/master/external/vulkancts/module

[2021-03-24 00:04] jeremyg-lunarg commented on #2645
This validation error does not look correct to me. I'll fix it.

I haven't been able to find an exact example of a barrier for shader binding table.

https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/vkCmdBuildAccelerationStructuresKHR.html describes barriers needed to access other data.  And  [CTS](https://github.com/KhronosGroup/VK-GL-CTS/tree/master/external/vulkancts/module

[2021-03-24 00:44] ncesario-lunarg commented on #2541
It looks like there is a change needed for vk.xml to fix this. I created an internal issue to get this changed upstream (assuming this is what needs to be done).

If you are blocked by this, you might be able to either use the `khronos_layer.message_id_filter` [layer setting](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/vk_layer_settings.txt) or the environment variab

[2021-03-24 07:58] httpdigest commented on #2645
@jeremy-lunarg thanks for pointing me to the CTS repo. I'll have a look.

So, to confirm: Given that https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/vkCmdBuildAccelerationStructuresKHR.html says

i take it that the source of the pipeline barrier must be VK_PIPELINE_STAGE_ACCELERATION_STRUCTURE_BUILD_BIT_KHR/VK_ACCESS_ACCELERATION_STRUCTURE_WRITE_BIT_KHR. However, I am still n

[2021-03-24 10:09] khyperia opened #2646 "Segfault in RunUsedStruct with two push constants"
Possible related issue: https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2583 (duplicate of https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2450 )

When validating this SPIR-V, a segfault occurs (`Program received signal SIGSEGV, Segmentation fault.`). The SPIR-V is a bit unusual in that it holds two OpVariable PushConstants (one of which is unused), because it's minim

[2021-03-24 13:16] jeremyg-lunarg commented on #2645
@httpdigest I agree about the source bits for the barrier. And that the destination seems right to me, but you do have to infer by piecing together multiple parts of the spec. We may need this part of your issue to become a https://github.com/KhronosGroup/Vulkan-Docs issue to get the attention of spec authors.

[2021-03-24 13:45] httpdigest commented on #2645
Thank you!
Okay, then I guess this issue here only is about the issued validation error `VUID-vkCmdPipelineBarrier-dstAccessMask-02816` and should only track its fixing in the validation layer.

[2021-03-24 15:22] ncesario-lunarg commented on #2541
#2648 works with the xml change I believe is necessary. Assuming this is the correct course, I will merge that PR once we pick up the xml change from upstream.

[2021-03-24 16:14] ncesario-lunarg commented on #2646
Thanks for the issue @khyperia, does "it's minimized down from a (rather large) SPIR-V file with multiple entry points" mean that the above SPV is a "snippet"/"portion" of another SPV file? If so, does the original SPV pass `spirv-val`? This SPV is failing spirv-val for me with the following:
[code]
Oddly (and I'm not sure if this is expected or not yet), validation does _not_ fail [here](https://

[2021-03-24 17:04] svenknobloch opened #2650 "Validation layer allocating lots of memory for variable descriptor sets"
**Describe the Issue**
Using the `variable_descriptor_count` feature from the `descriptor_indexing` extension with a large (u32::MAX) descriptor count causes the validation layer to allocate a bunch of memory (to the point where it stalls the program).
The actual allocation is only 1024 descriptors, specified in the `VkDescriptorSetVariableDescriptorCountAllocateInfo` and works fine without the va

[2021-03-24 17:49] ncesario-lunarg commented on #2643
Thanks @zmike, would you be able to provide a specific repro case and/or stack trace? I just tried a couple tests that use vkCreateDescriptorUpdateTemplate ([VkLayerTest.CreateDescriptorUpdateTemplate](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/b1a10a4bc60940e269b3c3d32d567e689e66e707/tests/vklayertests_descriptor_renderpass_framebuffer.cpp#L7683), [VkLayerTest.DSBufferInfoErrors

[2021-03-24 19:13] zmike commented on #2643
Which driver did you test? Lavapipe crashes on `VkLayerTest.CreateDescriptorUpdateTemplate`, and ANV crashes if you add a `ANV_FROM_HANDLE(anv_descriptor_set_layout, layout, pCreateInfo->descriptorSetLayout); line at the top of its implementation.

[2021-03-24 20:05] ncesario-lunarg commented on #2643
I first tested both of the tests mentioned on radv, and then just tried out VkLayerTest.CreateDescriptorUpdateTemplate on lavapipe version (from vulkaninfo):
[code]

Currently lavapipe is known to not work (well) with VVL (e.g., you will likely get several test failures and/or crashes). That said, I would very much like to get lavapipe working if for no other reason than testing purposes, but I'm

[2021-03-24 20:24] ncesario-lunarg commented on #2643
I noticed that my version of lavapipe was somewhat old, and after updating it to `git-674132dee8`, I'm now hitting an assert in the mesa code:
[code]

[2021-03-24 22:00] khyperia commented on #2646
It looks like you're assembling the SPIR-V with version 1.4 or 1.5, the asm specifies it's version 1.0 (and the test repo module is assembled using version 1.0)

[code]

Looking at the spec for OpEntryPoint, it states:

So because it's a PushConstant OpVariable, using version 1.0, the variable shouldn't be listed in OpEntryPoint.

(I'm guessing it should still repro using version 1.4 or 1.5 if the

[2021-03-25 01:13] airlied opened #2652 "license on docs/images/sync_diagram_source.txt"
We have a license scanner that scans for open source compatible licenses in the source code of packages we distribute via Fedora/RHEL. Since we ship the source rpms which contain these tarballs we have to try and keep them open source only.

Our recent scan flagged this file as having a CC-BY-ND-4.0 which isn't open-source.

This leaves us with the task of having to add a pre-step to out tarball p

[2021-03-25 02:03] ncesario-lunarg commented on #2652
@jzulauf-lunarg not sure what exactly needs to change here. Can you please take a look?

[2021-03-25 09:11] karolherbst commented on #2652
If the author still wants to use the CC license then the "ND" part has to go away.

[2021-03-25 11:21] pc-john opened #2654 "False positive on push constants updated before binding pipeline"
**In short**

Making vkCmdPushConstants() before binding a compatible pipeline causes validation layer to emit error that push constants were not updated.

**Details**

I have about 100 pipelines, all having compatible pipeline layout. So, I expected to record the things into the command buffer like this:
[code]
This emits validation error.

What works without any validation error is obviously:
[c

[2021-03-25 11:44] sfricke-samsung commented on #2654
Sorry, by chance do you have multiple entry points in your SPIR-V modules (See https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2450)

[2021-03-25 12:06] zmike commented on #2643
Yes, that's the bug. The assert is only triggered when validation is active, so this is a bug here.

[2021-03-25 12:30] pc-john commented on #2654
No. My GLSL code contains only single main() function. Ok, phong code in fragment shader contains two functions, but only main() is used as the entry point.

[2021-03-25 13:37] sfricke-samsung commented on #2654
Sorry, just making sure...

Correct, we have CTS tests confirming this now as well! (base internal spec issue 2168  to solve https://github.com/KhronosGroup/Vulkan-Docs/issues/1081)

So just to double check from your end (while I scan what we are doing), from the spec it says

so assume your `VkPushConstantRange` for all of them are the same?

[2021-03-25 14:09] sfricke-samsung commented on #2654
Ok so I see what is going on, background:
Last May I raised an issue to solve "when can you push the push constants" and we finally got CTS test in a few months ago after confirming with all the vendors it would be valid

I had some Validation Layers tests to exercise them, but were on a branch and totally forgot about it.

Trying them out, I think I am seeing the similar issue as well. I will thr

[2021-03-25 14:17] pc-john commented on #2654
Yes. VkPushConstantRange for all of them are the same. In other words, my app is using completely the same push constant declarations in all shaders.

Anyway, there is another important sentence in the spec (14.2.8. Push Constant Updates):

In other words, binding non-compatible pipeline should not be a problem. The problem is when a command is issued that uses pipeline incompatible with layout of

[2021-03-25 15:56] ncesario-lunarg commented on #2643
@mark-lunarg was kind enough to take a look at this and noted the following from [the spec](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/chap14.html#VkDescriptorUpdateTemplateCreateInfo):

Does this mean there should be a guard [here](https://gitlab.freedesktop.org/mesa/mesa/-/blob/master/src/gallium/frontends/lavapipe/lvp_descriptor_set.c#L564) on `pCreateInfo->templateType`

[2021-03-25 16:33] sfricke-samsung commented on #2654
Add here instead of making a new issue in case some goes searching

`dEQP-VK.pipeline.push_constant.lifetime.push_range0_bind_layout1_overlapping_range_bind_layout0`

Fails with same `VUID-vkCmdDraw-None-02698` error

[2021-03-25 17:40] llatta opened #2659 "Struct type check not correctly checking feature enablement"
**Describe the Issue**
I think this is a wider issue, but I've noticed this specifically by using a VkSemaphoreTypeCreateInfo struct in vkCreateSemaphore without enabling the timelineSemaphore feature. The expected validation error is not occurring. Looking at the code I believe this portion of parameter_validation.cpp is wrong:

[code]

SupportedByPdev returns true, and device_extensions.vk_khr_t

[2021-03-25 17:59] zmike commented on #2643
Huh, I missed that. Thanks, will update.

[2021-03-25 22:40] sfricke-samsung commented on #2659
`VkSemaphoreTypeCreateInfo::semaphoreType` can be `VK_SEMAPHORE_TYPE_BINARY` in Vulkan 1.2 and does not require you to enable the `timelineSemaphore` feature. There should only be an error if you are setting it to `VK_SEMAPHORE_TYPE_TIMELINE` without the feature set

[2021-03-26 03:28] llatta commented on #2659
Good point! These checks are apparently trying to validate the use of the structure at all based on enablement of the extension or the equivalent 1.2 feature, but it's good that the check is broken then...

In this specific case I am creating a timeline semaphore, which doesn't raise the associated validation error VUID-VkSemaphoreTypeCreateInfo-timelineSemaphore-03252 either, so that might be the

[2021-03-26 05:40] sfricke-samsung commented on #2659
@llatta so you were right, this is 100% a bug, and added fix

I think this is an isolated case and the main issue was the code was added without a unit test to catch this

There are other issues with the **fun** of [promotion for feature bits between versions](https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2619)

[2021-03-26 12:09] zmike commented on #2643
Actually, while there is an issue with that param while running that test, this isn't the same issue that I reported. The problem is that `descriptorSetLayout` is invalid.

[2021-03-26 14:27] mark-lunarg commented on #2643
@zmike, this parameter has the same restriction as `pipelineLayout`.  From the spec:

descriptorSetLayout is the descriptor set layout the parameter update template will be used with. All descriptor sets which are going to be updated through the newly created descriptor update template must be created with this layout. descriptorSetLayout is the descriptor set layout used to build the descriptor u

[2021-03-26 15:04] ncesario-lunarg commented on #2659
Thanks @sfricke-samsung!

[2021-03-26 15:47] #2659 closed

[2021-03-26 18:03] zmike commented on #2643
Ugh, yep, that's it. Thanks again, and sorry for the noise.

[2021-03-26 18:03] #2643 closed

[2021-03-26 18:28] mark-lunarg commented on #2643
NP at all, we've all been bitten the same way.  Thanks and keep 'em coming!

[2021-03-26 21:38] KolyaNaichuk opened #2661 "False-positive with validation of srcStageMask on VkSubpassDependency2"
**Describe the Issue**
I am using VkSubpassDependency2 with VkMemoryBarrier2KHR extension. I specify srcStageMask, srcAccessMask, dstStageMask, dstAccessMask on VkMemoryBarrier2KHR and keep srcStageMask, srcAccessMask, dstStageMask, dstAccessMask uninitialised on VkSubpassDependency2. According to the [specification](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/VkSubpassDe

[2021-03-26 23:06] jzulauf-lunarg commented on #2652
@airlied  -- everything *else* in docs appears to have CC-BY-ND-4.0 -- why does this file need to be different?\

[2021-03-26 23:20] ncesario-lunarg commented on #2661
Thanks for pointing this out @KolyaNaichuk, it looks like we don't currently have a way of ignoring these as this validation is currently generated (see `layers/generated/parameter_validation.cpp` around line 7051). It might take a bit of effort in the generation scripts to get this resolved.

[2021-03-27 00:22] KolyaNaichuk commented on #2661
Alright! No worries I am able to workaround the issue by initialising the masks to 0 on VkSubpassDependency2.

[2021-03-28 14:34] farnoy opened #2662 "Segfault in StateTracker::PostCallRecordQueueSubmit"
Hey @mark-lunarg & @jeremyg-lunarg

I believe a regression was introduced in timeline semaphore validations.

The code in [`PostCallRecordQueueSubmit`](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/4fdcd0eebfed3505732720fc6fd98293e847d697/layers/state_tracker.cpp#L2424) assumes that `LvlFindInChain<VkTimelineSemaphoreSubmitInfo>(submit->pNext)` being truthy implies safe dereferencin

[2021-03-29 01:47] airlied commented on #2652
Where is the CC-BY-ND-4.0 for the rest of the docs?

The license file says "
The majority of files in this project use the Apache 2.0 License.
There are a few exceptions and their license can be found in the source.
Any license deviations from Apache 2.0 are "more permissive" licenses."

I can find no mention that other docs are covered by anything by Apache 2.0.

Also CC-BY-ND-4.0 isn't more perm

[2021-03-29 08:45] congyue1977 opened #2663 "syncval WRITE-AFTER-WRITE error with DS input attachment"
**Describe the Issue**
1. Begin RP with 2 sub passes with a DS attachment, and RP's final layout is DEPTH_READ_ONLY_OPTIMAL.
2. Subpass 0 write DS, and DS reference layout is DEPTH_ATTACHMENT_OPTIMAL.
3. Subpass 1 read DS as input attachment, and DS reference layout is DEPTH_READ_ONLY_OPTIMAL.
4. End RP.
5. Dispatch compute shader, read the DS and image memory barrier's old layout is DEPTH_READ_ON

[2021-03-29 13:31] hrydgard commented on #2646
This crash happens in RunUsedStruct in shader_validation.cpp:

[code]

Indexing into data.struct_members[strcut_member_index] ends up out of bounds.

[2021-03-29 14:46] jzulauf-lunarg commented on #2652
All of:
[code]
Cite `'https://creativecommons.org/licenses/by-nd/4.0/` and use the `https://i.creativecommons.org/l/by-nd/4.0/88x31.png` badge to denote license.

@ncesario-lunarg -- given this is a docs global issue I'm going to push it back to you.

[2021-03-29 15:18] jeremyg-lunarg commented on #2663
@congyue1977, it looks like you may be getting errors from the [store operation](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/VkAttachmentStoreOp.html) of your attachment, but it is hard to be sure without knowing the subpass dependencies of your renderpass and the parameters you're giving to ckCmdPipelineBarrier(). Usually in cases like this you are better off using a sub

[2021-03-29 15:22] jeremyg-lunarg commented on #2662
@farnoy, what version of the Vulkan-ValidationLayers repository are you using? A similar segfault was reported and fixed a couple of weeks ago (see: https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2616).  Do you have that fix already?

[2021-03-29 21:36] gpx1000 opened #2665 "False positive in Linux for VUID-VkAccelerationStructureGeometryTrianglesDataKHR-sType"
**Describe the Issue**
This issue happens for both VkAccelerationStructureBuildGeometryInfoKHR::pGeometries and VkAccelerationStructureBuildGeometryInfoKHR::ppGeometries.

sample code:
`VkAccelerationStructureGeometryKHR geometry = Initializers::accelerationStructureGeometryKHR();
                geometry.geometryType = VK_GEOMETRY_TYPE_TRIANGLES_KHR;
                geometry.geometry.triangles.sT

[2021-03-29 22:08] farnoy commented on #2662
Good call, I forgot to check what the latest code there looks like. I think it got fixed indeed. I am using 1.2.170.0 from the binary distribution. Your merge commit e53e4e5f0cdcda471a425cceba778a0a154d233c appeared in the 1.2.173.0 tag first, so I don't have it yet.

I'm closing this and will re-test when the next version gets included in a binary SDK release.

[2021-03-29 22:08] #2662 closed

[2021-03-30 04:11] congyue1977 commented on #2663
@jeremyg-lunarg Thanks for your reply！
The RP subpass dependencies setting as follows:
[code]
The barrier is:
[code]

And I also tried the method you said, unfortunately, I got another WAW error:
`Validation Error: [ SYNC-HAZARD-WRITE_AFTER_WRITE ] Object 0: handle = 0x184115fd3d8, type = VK_OBJECT_TYPE_RENDER_PASS; | MessageID = 0xfdf9f5e1 | vkCmdEndRenderPass: Hazard WRITE_AFTER_WRITE with last

[2021-03-30 16:29] jeremyg-lunarg commented on #2663
it looks to me like your barrier should have srcAccessMask = DEPTH_STENCIL_ATTACHMENT_WRITE

[2021-03-31 00:28] airlied commented on #2652
I've updated the title. The document needs to be licensed under an open source license, I believe Lunarg/Khronos probably hold all the copyrights here, so someone just needs to enable it. Apache 2.0 should be fine for these docs.

[2021-03-31 00:32] airlied opened #2666 "validation layer tests get vulkan versioning test wrong"
At the moment, lavapipe driver reports as a Vulkan 1.0 driver, but with a new enough loader you can get cases where you have a 1.2 instance.

The correct way to determine supported versioning for features is to do a vkGetPhysicalDeviceProperties get the support version for the physical device and use the minimum of this and the instance version.

VkLayerTest.ValidateExtendedDynamicStateDisabled de

[2021-03-31 05:25] airlied opened #2669 "test VkLayerTest.ResolveImageFormatMismatch assumes 2 sample image will be supported"
This test never validates that it is legal to create a 2 sample image. This will get the wrong VU if that happens.

[2021-03-31 06:28] congyue1977 commented on #2663
@jeremyg-lunarg Thank you very much! Problem solved.

But I still have doubts. In another case, I set the barrier's srcAccessMask = 0 but there is no WAW error.
Another case is:
- Begin the first RP with 2 sub passes with a DS attachment, and RP's final layout is DEPTH_READ_ONLY_OPTIMAL.
- subpass 0 write DS, and DS reference layout is DEPTH_ATTACHMENT_OPTIMAL.
- subpass 1 read DS as input attachm

[2021-03-31 08:57] sfricke-samsung commented on #2669
I think a simple fix would just be using `VK_SAMPLE_COUNT_4_BIT` as `sampledImageColorSampleCounts` limit in Vulkan requires `4_BIT` to be supported for `VK_FORMAT_R8G8B8A8_UNORM`.

[2021-03-31 09:18] sfricke-samsung commented on #2666
So I guess this depends "what" you are looking for support for, if it something like `vkGetPhysicalDeviceFeatures2` (from `VK_KHR_get_physical_device_properties2`) is an [instance extension](https://github.com/KhronosGroup/Vulkan-Guide/blob/master/chapters/enabling_extensions.md#two-types-of-extensions), therefore the instance version matters here

Also there is a `DeviceValidationVersion` tests c

[2021-03-31 10:14] airlied commented on #2666
If you look at the MR linked I fixed tests to use the DeviceValidatuonVersion

My guess is those tests in CI are only exposing a 1.0 instance as wrl

[2021-03-31 13:17] rumblehhh opened #2671 "Duplicate pNext chain structure types reported incorrectly when using multiple VkDebugUtilsMessengerCreateInfoEXT structures"
In https://github.com/KhronosGroup/Vulkan-Docs/issues/1329 VkDebugUtilsMessengerCreateInfoEXT structures were made exceptions to the "each struct in the pNext chain must be unique" rule from 1.2.150 spec onwards however when using multiple VkDebugUtilsMessengerCreateInfoEXT structures in the pNext chain the validation layers report a validation layer error as is shown below. It seems the validatio

[2021-03-31 15:16] ncesario-lunarg commented on #2652
Sorry @airlied, I'm still confused here. As @jzulauf-lunarg pointed out, don't the other text files under docs have the same CC license? What is different about this file? If this file were converted to a markdown file and used the same CC header the other markdown files under docs use (e.g., https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/docs/best_practices.md), would that be

[2021-03-31 17:57] #2669 closed

[2021-03-31 22:25] jeremyg-lunarg commented on #2663
In this case, I think your code is relying on the implicit subpass dependencies that are added to each renderpass if there is a layout transition (from the [renderpass chapter](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/chap8.html#renderpass-creation))

It these dependencies are getting added, your barrier may be partially or completely redundant. Also, the dependency you sp

[2021-04-01 03:56] congyue1977 commented on #2663
@jeremyg-lunarg I appreciate your kind reply to my question!

It's a bit complicated.

First, If I remove the barrier, I'll get a WAW error. This is why a barrier is added here.

Secondly, the only difference between the first case and the second case is that after the first RP in the first case, dispatch a Compute shader that reads the DS Attachment, and the other parts are exactly the same.

So

[2021-04-01 04:10] congyue1977 commented on #2663
I found this description in the Vulkan documentation:

My understanding is that attachment subpass dependency is equivalent to VkImageMemoryBarrier , which guarantees synchronization.But whether this is contradictory with what you said?

[2021-04-01 15:03] #2652 closed

[2021-04-01 15:07] ncesario-lunarg commented on #2671
I was thinking this would be a quick fix, but looks like it's going to require a bit more time. I don't think this will be particularly difficult, more a question of how to implement it.

[2021-04-01 19:26] #2602 closed

[2021-04-01 23:00] jeremyg-lunarg commented on #2663
subpass dependencies are mostly equivalent to a pipeline barrier before or after the renderpass, if either the src or dst subpass is VK_SUBPASS_EXTERNAL, otherwise they only synchronize between the 2 subpasses of the renderpass. Here is the relevant section of the spec:

Notice that the 'Otherwise' sentence of each paragraph only mentions commands that are part of the source and destination subpas

[2021-04-02 02:07] congyue1977 commented on #2663
Thank you very much for your patient guidance! I fully understand the cause of the problem.
Synchronization in Vulkan is very complicated and often confusing. The recently launched VK_KHR_synchronization2 has further improvements, but I hope that new improvements will be introduced in the future to make it easier for developers to understand and use. Thank you again for your reply!

[2021-04-02 02:07] #2663 closed

[2021-04-02 05:29] ncesario-lunarg commented on #2671
@rumblehhh do the changes in #2676 fix your issue?

[2021-04-02 05:54] sfricke-samsung commented on #2654
So update: I have more push constant tests and used them to make the fix for this issue, but it failed other tests which when looking into turned out to be more ambiguity in spec regarding push constants and getting that cleared up as it might requires additional changes

[2021-04-03 14:16] danielmaciel commented on #2565
Hi @Tony-LunarG  I discovered my problem. The line `BindingFlagsInfo.pBindingFlags = &BindingFlags;` should have been `BindingFlagsInfo.pBindingFlags = LayoutBindingFlags` instead. It was my mistake. Thanks for your help.

[2021-04-04 03:41] sfricke-samsung opened #2681 "Fix and add draw time blendEnable format feature bit checks"
**Describe the situation in which you encountered the missing validation**
Issue description: `ValidateGraphicsPipelineBindPoint` currently has `VUID-VkGraphicsPipelineCreateInfo-blendEnable-04717` but should be moved back pipeline creation time as VU talks about the [potential format features](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/vkspec.html#potential-format-features)

[2021-04-05 19:39] #2671 closed

[2021-04-06 02:14] gpx1000 commented on #2665
I fell victim to shallow copy constructor.  Please disregard this bug report.  Works as designed.

[2021-04-06 02:14] #2665 closed

[2021-04-06 06:52] #2654 closed

[2021-04-06 07:41] pc-john commented on #2654
Thanks for the work!

[2021-04-06 12:15] pascal-gw opened #2686 "vkEnumeratePhysicalDeviceGroups shouldn't always give a validation error"
Hi,

Calling such a code
[code]
is triggering a validation layer which does not seem correct.
[code]

Cheers.

[2021-04-06 23:35] ncesario-lunarg commented on #2686
Thanks for the issue @pascal-gw! Unfortunately I'm not able to reproduce this on my local setup (Windows 10 + GTX 1650). Could you please provide the following information?
- OS
- GPU
- SDK or header version if building from this repo
- Options enabled (synchronization, best practices, etc.)

[2021-04-07 02:30] ShabbyX opened #2689 "Bug in validation of push constants"
ANGLE is starting to see this sort of validation error:

[code]

This is generated on any test that makes ANGLE use its internal shaders. For example:

[code]

I don't believe there to be an issue with the way ANGLE uses push constants.

[2021-04-07 03:57] ShabbyX commented on #2689
Note that [this change](https://chromium-review.googlesource.com/c/angle/angle/+/2808854) suppresses this warning which should be reverted to reproduce the errors.

[2021-04-07 04:50] pascal-gw commented on #2686
OS: Windows 10
GPUs: RTX 2080 (460.89) & Radeon RX 6800 XT (20.12.2)
Header version: 162
Validation layer version: 1.2.170.0
Options enabled in the Vulkan Configurator: just the validation one

I hope this can help.

[2021-04-07 16:34] ncesario-lunarg commented on #2689
This is most likely due to #2683.

The following are comments from @Tony-LunarG after he found a lot (I think around 86,000) new push constant errors in CTS (the specific test he looked at was `dEQP-VK.memory.pipeline_barrier.host_write_uniform_texel_buffer.1024`):
[code]

@sfricke-samsung would you be able to investigate this?

[2021-04-07 17:00] sfricke-samsung commented on #2689
Sure, I will take a look, the push constant ambiguity bubble I popped awhile ago seems to still be spilling out lol

but

[code]

This seems like the desired behavior to have the error, will look what those CTS tests are doing as well

[2021-04-07 17:00] sfricke-samsung commented on #2689
Sure, I will take a look, the push constant ambiguity bubble I popped awhile ago seems to still be spilling out lol

but

[code]

This seems like the desired behavior to have the error, will look what those CTS tests are doing as well

[2021-04-07 17:02] ncesario-lunarg commented on #2689
Thanks @sfricke-samsung! I'll assign this to you in the short term.

[2021-04-08 16:34] ncesario-lunarg commented on #2686
Thanks for the info @pascal-gw. Unfortunately we can't replicate your hardware setup at the moment.

That VUID should get triggered [here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/f563b367c72a73542b343a3a4523a3bd4826a7c0/layers/stateless_validation.h#L327), but that should only get hit if `physicalDeviceGroupCount != 0 && pPhysicalDeviceGroupProperties != nullptr`, and both of

[2021-04-08 23:10] azhirnov opened #2696 "Crash in ValidatePipelineVertexDivisors when pVertexInputState is null"
Spec says:
`If pStages includes a vertex shader stage, pVertexInputState must be a valid pointer to a valid VkPipelineVertexInputStateCreateInfo structure`
But pipeline with mesh shader does not have vertex shader stage and can set pVertexInputState to null.

[2021-04-09 05:38] pascal-gw commented on #2686
Please find attached a minimal cpp file with a Visual Studio solution.

The main function looks like this:
[code]

Thanks!

[Repro.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/6283372/Repro.zip)

[2021-04-09 14:12] karl-lunarg commented on #2686
You may need to enable the `VK_KHR_DEVICE_GROUP_CREATION_EXTENSION_NAME` instance extension before making that call or make sure that you are using Vulkan 1.1 or greater.  We can't tell what version your code is using.

For example, see this [code ](https://github.com/KhronosGroup/Vulkan-Tools/blob/a746136a81cc8ecb1c31f824b88242f820c1fb09/vulkaninfo/vulkaninfo.h#L1279)in `vulkaninfo`.  Can you run

[2021-04-09 15:22] pascal-gw commented on #2686
Indeed I didn't enable `VK_KHR_DEVICE_GROUP_CREATION_EXTENSION_NAME ` in the provided minimal code. In the original code I use Vulkan 1.2 with `VkPhysicalDeviceVulkan11Features` and `VkPhysicalDeviceVulkan12Features` enabled.

Here is the result from `vulkaninfoSDK.exe`
[vkinfo.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/6286757/vkinfo.txt)

[2021-04-09 15:49] karl-lunarg commented on #2686
Any chance you can run `vulkaninfo` with the validation layer enabled to see if you get the same validation errors you list in the original post?  The point of this experiment is to see if `vulkaninfo` can make the call without a validation error.  If it can, then we'll need to figure out what to change in your app so it can too.

If `vulkaninfo` generates the validation error, then there's someth

[2021-04-09 15:57] pascal-gw commented on #2686
With the validation layer enabled I don't get the error when running `vulkaninfoSDK.exe` ([vkinfo2.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/6287019/vkinfo2.txt))

Then I'll try to get a callstack. I'll need a couple of days to come back to you. Thanks for your help!

[2021-04-09 15:58] mark-lunarg commented on #2686
@pascal-gw, I did a quick sanity check here and things look OK.  I would say that from past experience this type of error output has occurred when the _second_ call is being made with a non-zero `pPhysicalDeviceGroupProperties `array pointer, and in which the array members to be filled in have not had their sType/pNext members initialized.

[2021-04-09 15:59] pascal-gw commented on #2686
I would say so too but it happens on the first call. So without any array provided.

[2021-04-09 19:26] #2696 closed

[2021-04-09 21:29] nanokatze opened #2730 "VkMemoryDedicatedAllocateInfo::image at time of vkBindImageMemory"
It is unclear whether the image provided in VkMemoryDedicatedAllocateInfo::image at time of vkAllocateMemory needs to remain live at the time of vkBindImageMemory. With dedicatedAllocationImageAliasing feature, I want to "dedicate" the allocation to a worst case _dummy image_ that will be used to vkAllocateMemory, but I will not bind this memory to that image. Instead, new images, smaller or equal

[2021-04-10 15:12] sfricke-samsung commented on #2689
So wrote a simple test, and confirmed the issue, the big problem is that `CMD_BUFFER_STATE` has a single `PushConstantRangesId` mapping, but really needs one for each [bindpoint](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/vkspec.html#pipeline-bindpoint-commands).

I know we spec'ed this out lately to make sure each bind point being push was independent of the other if there

[2021-04-10 21:47] jhs67 opened #2699 "SegFault in PreCallValidateCreateGraphicsPipelines when the VkPortabilitySubset is enabled"
**Describe the Issue**
When validating a graphics pipeline that contains a non-null pRasterizationState but a null pDepthStencilState and the VK_KHR_portability_subset extension is enabled there may be a segfault

**Valid Usage ID**
[code]

**Environment:**
 - OS: MacOS
 - GPU: AMD Radeon Pro 560

**Additional context**
The problem appears to be at line 5008 of [layers/core_validation.cpp](https:/

[2021-04-13 07:54] pascal-gw commented on #2686
The error is actually coming from `VK_LAYER_AMD_switchable_graphics`. Thanks for your time guys, I'll send the bug report to AMD.

[2021-04-13 07:54] #2686 closed

[2021-04-13 19:16] nickkuk commented on #12
Somewhat related question: when one could reuse binary `Semaphore` that signaled in `vkQueueSubmit` and waited in `vkQueuePresentKHR`?

One could
1. wait for `Fence` or timeline `Semaphore` that signaled in `vkQueueSubmit`;
2. wait for `vkAcquireNextImageKHR` to return the same image index, which was used in `vkQueuePresentKHR` before;
3. even more: wait for `Fence` or timeline `Semaphore` that si

[2021-04-13 19:35] vkushwaha-nv opened #2706 "Add validation support"

[2021-04-13 19:43] #2699 closed

[2021-04-13 20:15] ncesario-lunarg commented on #2689
Thanks for the quick investigation @sfricke-samsung. It sounds like the change as it currently exists in the code is incorrect, is that right?

[2021-04-13 20:17] sfricke-samsung commented on #2689
well that's a fun question as still trying to get a 100% understanding on what is valid vs invalid still https://gitlab.khronos.org/vulkan/vulkan/-/issues/2602

[2021-04-13 21:29] #2706 closed

[2021-04-14 03:20] nickkuk commented on #12
I've always used timeline `Semaphore`s instead of `Fence`s, so I've missed another option:

3-ε. wait for `Fence` from vkAcquireNextImageKHR that return the same image index, which was used in vkQueuePresentKHR before.

In the world without `Fence`s ε approaches to zero and 3-ε becomes 3.

Note that in 2 I meant just `vkAcquireNextImageKHR` function call without `Fence` waiting.

[2021-04-14 15:00] rumblehhh commented on #2671
These changes look perfect. Thanks for making the changes!

[2021-04-14 15:45] ShabbyX opened #2707 "Compile error after headers roll"
The Vulkan-Headers repository has changed the definition of `VK_NULL_HANDLE`:

[code]

VVL uses `uint64_t` for handles, causing compile error. For example:

[code]

Context of the above failure:

[code]

[2021-04-14 16:03] mark-lunarg commented on #2707
Yeah, this is a headers issue, [see here.](https://github.com/KhronosGroup/Vulkan-Headers/issues/197#issuecomment-819356229)

[2021-04-14 16:15] ShabbyX commented on #2707
That seems to be specific to MSVC. The above is a clang failure, so it _may_ not be entirely resolved by the fix for that issue.

[2021-04-14 16:17] pdaniell-nv commented on #2707
It's probably not safe for the app to assume that a "uint64_t" can interoperate with Vulkan handles. If it wants to use a "uint64_t" as a handle then it probably shouldn't use VK_NULL_HANDLE, which is designed for handles, not uint64_t.

Having said that it does suck when regressions occur...

[2021-04-14 16:20] mark-lunarg commented on #2707
Yikes.

[2021-04-14 16:57] ShabbyX commented on #2707
That's my feeling as well, that this is not entirely a Vulkan-Headers issue. VVL shouldn't be using `uint64_t`, but it also looks like there's no defined type-that-matches-non-dispatchable-objects.

[2021-04-14 17:03] pdaniell-nv commented on #2707
The Vulkan header allows you to define your own VK_DEFINE_NON_DISPATCHABLE_HANDLE, which is what we do to get around this issue, and we can interoperate with uint64_t without trouble.

[2021-04-14 18:05] ncesario-lunarg commented on #2671
Thanks for reporting the issue!

[2021-04-15 14:58] #2628 closed

[2021-04-15 16:16] ncesario-lunarg commented on #2707
From a validation layers perspective, could/would it make sense to use something like [HandleToUint64](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/675fbfaee4e7ecb34602d5bb20c35b73d0f85ace/layers/vk_layer_logging.h#L127) to store off VK_NULL_HANDLE to a static constant, then compare against that constant rather than VK_NULL_HANDLE in VVL code?

[2021-04-15 16:59] ncesario-lunarg opened #2711 "Push constant lifetimes not yet clarified (VUID 02698)"
Some reports of VUID 02698 are removed in #2710. If the issues surrounding the spec are resolved, then we should add these additional reports of 02698 back in.

@sfricke-samsung assigning to you for now as I think you have the most knowledge surrounding this subject. Please assign to me if you don't think don't plan on working on this anytime in the near future.

See https://github.com/KhronosGrou

[2021-04-15 18:49] #2689 closed

[2021-04-16 00:53] oddhack commented on #2707
@ShabbyX I did post a candidate header fix attached to https://github.com/KhronosGroup/Vulkan-Docs/issues/1502#issuecomment-820831500 . That may not affect this issue, though - give it a try and let us know if it's better with this header?

[2021-04-16 20:20] wilkesreid opened #2718 "Warn user when attempting to destroy a presentable vkImage"
**Describe the situation in which you encountered the missing validation**
Attempting to call `vkDestroySwapchainKHR` on a swapchain that has images which have been destroyed by the application via `vkDestroyImage` can result in a bad memory access. Validation layers currently don't catch this. The documentation is clear that applications should never call `vkDestroyImage` on a presentable image a

[2021-04-16 20:38] mark-lunarg commented on #2718
@wilkesreid, is there a VUID for this, or can you share the spec location where this is qualified?  It'll help us a lot...

[2021-04-16 22:54] wilkesreid commented on #2718
@mark-lunarg There doesn't seem to be a strict VUID in the spec, but the following is stated under `vkGetSwapchainImagesKHR` [here](https://renderdoc.org/vkspec_chunked/chap34.html#vkGetSwapchainImagesKHR):

It's a bit hard to say exactly where the VUID would go for this since it isn't really defining a valid usage of a particular method. It seems ways to refactor that documented requirement into

[2021-04-16 23:58] mark-lunarg commented on #2718
Great info from both of you!  @wilkesreid, we do have a way of adding VUIDs that don't have spec-assigned identifiers, and we can surely do this -- sounds like Nate already has a good line on it.  This is a good find, thank you for the report.

[2021-04-17 02:14] wilkesreid commented on #2718
Well due credit to @charles-lunarg who made me aware on the Vulkan discord server that this was an issue-worthy situation. I'm a beginner at Vulkan and had no idea what was going on, haha.

[2021-04-17 05:55] ShabbyX commented on #2707
@oddhack Ben's change to VVL fixes the issue. I didn't get a chance to try your change, sorry.

[2021-04-17 05:55] #2707 closed

[2021-04-19 05:30] sfricke-samsung commented on #2718
From spec under `vkGetSwapchainImagesKHR`

So agree that it is illegal and the validation layers should track it, but also think the spec needs an explicit VU so I will raise an internal issue to get an explicit VU for `vkDestroyImage`

[2021-04-19 07:10] sfricke-samsung opened #2720 "Non-generated implicit VU that are not stateless"
**Describe the situation in which you encountered the missing validation**
Issue description:

There is an implicit VU `*-cmdpool` for all `vkCmd` calls, but are currently being manually check, an example:

[code]

but the XML has `queues="graphics,compute" ` and it would be very easy to generate this logic

The issue is these are not stateless and ideally any generated code could just use `CoreCh

[2021-04-19 07:15] sfricke-samsung commented on #2720
Ok, so `*-renderpass` would be another use case as the following are missing

- VUID-vkCmdBeginTransformFeedbackEXT-renderpass
- VUID-vkCmdCopyImageToBuffer2KHR-renderpass
- VUID-vkCmdEndTransformFeedbackEXT-renderpass
- VUID-vkCmdExecuteGeneratedCommandsNV-renderpass
- VUID-vkCmdPreprocessGeneratedCommandsNV-renderpass

but could call `CoreChecks::InsideRenderPass` or `CoreChecks::OutsideRenderPa

[2021-04-19 07:31] sfricke-samsung commented on #2720
So sorry for talking to myself outloud but realized from https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2721 that `ValidateCmd(` is probably the best option here, since every `vkCmd` will have it (or at least pretty maintainable to do that manually)

(using the `*-recording` example) I guess maybe the real issue for a better way to track the strings for `vk_validation_stats.py`, curr

[2021-04-19 14:33] mark-lunarg commented on #2720
Spencer, another thing to at least have a _look_ at is the CommandCounter helper stuff.  Right now it's only enabled if performance queries are enabled, but we could just enable it all the time to get some autogenerated CmdXxx-related stuff in the main execution path.  (see 'command_counter_helper.*' in the generated files, and 'CoreChecks::InitDeviceValidationObject()'.

[2021-04-19 16:27] sfricke-samsung commented on #2718
Follow-up, spec change was approved this morning so good to go with PR (in terms of WG agreed it was missing and the issue raised was a valid issue)

[2021-04-19 18:00] #2718 closed

[2021-04-19 19:16] lcaum opened #2723 "shaderSampledImageArrayDynamicIndexing / shaderSampledImageArrayNonUniformIndexing not detected"
**Describe the situation in which you encountered the missing validation**
Issue description:
Access an array of textures using an index is not detected as invalid when
shaderSampledImageArrayDynamicIndexing and shaderSampledImageArrayNonUniformIndexing are not true.

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

**Additional Context**
Any add

[2021-04-21 18:53] jbeich opened #2729 "VkLayer_khronos_validation.json invalid layer manifest file version 1.2.0"
Regressed by cff0c7027ff099b5f112ff11dbeee040aa0c9746. `"file_format_version" : "1.2.0"` [isn't supported](https://github.com/KhronosGroup/Vulkan-Loader/blob/v1.2.176/loader/loader.c#L3559-L3566) by Vulkan-Loader yet.

[code]

[2021-04-21 19:20] christophe-lunarg commented on #2729
My understanding is that @charles-lunarg is changing / has changed the loader so that this warning is no longer emitted for version 1.2.0. This warning doesn't affect the behavior of the Vulkan Loader.

[2021-04-21 19:41] KarenGhavam-lunarG commented on #2729
[PR #567](https://github.com/KhronosGroup/Vulkan-Loader/pull/567)

Will be merged shortly.

[2021-04-21 22:34] charles-lunarg commented on #2729
I can confirm that this is a harmless warning. The only change the loader is the check for different manifest versions. The loader ignores all of the new fields being added to the layer manifest, as they are not used by the loader.

This warning occurs for when an older loader is on the system with newer validation layers (or any layer with the new manifest version). To fix it, simply update the V

[2021-04-21 22:34] #2729 closed

[2021-04-21 22:58] ncesario-lunarg commented on #2729
Thanks everyone for the quick resolution!

[2021-04-22 07:12] shakti-hub opened #2733 "VK_LAYER_SETTINGS_PATH in android doesn't work due to the newline character fgets() introduces"
**Describe the Issue**
The way "setprop VK_LAYER_SETTINGS_PATH " is being read in the GetEnvironment() function, it adds a newLine character at the end. fgets() is notorious for that.
Because of this, the settings file reading doesn't work.

**Valid Usage ID**
NA

**Environment:**
 - Android

**Additional context**
Remove the unwanted trailing newLine char that fgets() introduces.

--- a/layers/vk

[2021-04-23 15:20] #2720 closed

[2021-04-23 16:44] ncesario-lunarg opened #2742 "Android settings behavior"
@sfricke-samsung brought up some topics that could use some resolution regarding how settings are managed on Android [here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2736#issuecomment-825450313).

## 1. Using a C/C++ API over the `getprop` command  (_Resolved_)

I'm in favor of using an API over a command if it's "reliably available." It looks like the currently recommended way

[2021-04-23 16:44] #2733 closed

[2021-04-23 16:51] mark-lunarg commented on #2742
For 2, we absolutely want to keep the text the same for the individual settings, though we _could_ add a `vvl` sandbox for all the settings, it's just a slightly harder story to tell in some already challenging settings documentation.  I had some branches which added Android settings support but never pushed them due to lack of interest -- I vaguely remember significant issues with `GetProperty` a

[2021-04-23 17:16] ncesario-lunarg commented on #2742
Thanks @mark-lunarg. I was also thinking that perhaps just prefixing all the env vars with `debug.vvl` might work, but again, not sure how disruptive this would be in practice.

Strangely, based on the small amount of searching I've done, the `getprop` command (i.e., our current implementation) seems to be the most popular, and I'm guessing that's for a good reason. Unfortunate we need to launch a

[2021-04-23 17:24] mark-lunarg commented on #2742
This is probably obvious to everybody, but for these settings the `debug.` prefix for the properties is required -- the `vvl.` part would be a new piece.

[2021-04-23 17:41] sfricke-samsung commented on #2742
the `vvl` was an arbitrary suggestion I made before https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2651#discussion_r601405171

I pointed out in the PR api dump uses naming convention `setprop debug.apidump_log_filename` and validation could use `setprop debug.khronos_validation_report_flags` to be consistent with the SDK's `vk_layer_settings.txt` file

[2021-04-23 18:50] ncesario-lunarg commented on #2742
I'm marking the first topic as resolved, as I don't see a reason to change this in the short term.

I'll do some further investigation on (2). I need to get more familiar with the settings code.

[2021-04-23 19:12] qxsnap opened #2743 "thread_safety assertion failed with vkRegisterDisplayEventEXT"
Using vk_khr_display and VK_EXT_display_control, I'm getting a FindObject assertion failure on the VkDisplayKHR handle during thread safety validation.  This appears similar to #1569 and #1987.

[code]

Using SDK 1.2.174 on aarch64.   The VK_EXT_display_control extension performs correctly when validation layers are disabled.

It appears that `display` is never added to `layer_data` for `device` b

[2021-04-26 16:58] ncesario-lunarg opened #2746 "Security-related VUIDs Missing"
The following VUIDs have been identified as related to security and validation for them is currently missing.

- [ ] `VUID-vkCmdCopyBufferToImage-pRegions-00173`
- [ ] `VUID-vkCmdCopyImageToBuffer-pRegions-00184`
- [x] `VUID-vkCmdBlitImage-pRegions-00217`
- [x] `VUID-*-commandBuffer-02712`
- [x] `VUID-*-commandBuffer-02707`

FYI @Tony-LunarG.

[2021-04-27 18:39] shoober420 opened #2751 "vk_extension_helper.h:972:14: error: 'VK_QCOM_render_pass_store_ops_EXTENSION_NAME' was not declared in this scope;"
Building from git master as of https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/27193c3c3005af8f2d89dd51259a645fa388726e, I get this compile error.

vk_extension_helper.h:972:14: error: 'VK_QCOM_render_pass_store_ops_EXTENSION_NAME' was not declared in this scope; did you mean 'VK_QCOM_render_pass_store_ops'?

I have Robin Hood hashing disabled using -DUSE_ROBIN_HOOD_HASHING=OFF.

**

[2021-04-27 18:50] ncesario-lunarg commented on #2751
Thanks @shoober420, would you happen to be using headers 1.2.177? From @mikes-lunarg:

VVL has not been updated to 1.2.177 yet.

[2021-04-27 19:54] shoober420 commented on #2751
@ncesario-lunarg
I'm using the vulkan-headers-9999.ebuild, which builds directly from git master.

https://gitweb.gentoo.org/repo/gentoo.git/tree/dev-util/vulkan-headers/vulkan-headers-9999.ebuild

[2021-04-27 20:26] ncesario-lunarg commented on #2751
Right, looks like that that is pulling from the Vulkan-Headers master branch, which is expected to not work. You can view which Vulkan-Headers version will work in [known_good.json](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/27193c3c3005af8f2d89dd51259a645fa388726e/scripts/known_good.json#L23) (which is currently set to the `v1.2.176` tag).

Closing as this is expected. Please re

[2021-04-27 20:26] #2751 closed

[2021-04-27 21:04] ncesario-lunarg commented on #1996
Added remaining VUIDs to #2746.

[2021-04-27 21:04] #1996 closed

[2021-04-28 18:13] Jonathan-Weinstein opened #2753 "Incorrect `topology_at_rasterizer`, `VkPipelineShaderStageCreateInfo[]` element order matters when it should not."
I believe the order of elements in the array pointed to by `const VkPipelineShaderStageCreateInfo* VkGraphicsPipelineCreateInfo::pStages` should not matter, and the index of any element has no meaning; each element has a `stage` field. I found a case where the order does matter for the validation layers, which causes it to issue an incorrect warning.
It happened in a pipeline with isoline tessella

[2021-04-28 20:56] RoryO opened #2754 "False positive at vkCmdDispatch using descriptor indexing with static indices"
When using descriptor indexing and static indices, the descriptor set validator always returns id 0xe5d1743c for indices not used in the spir-v program. For example, if the spir-v only uses index 0, defined statically, the validation layers say index 1 in that descriptor set was not updated, even though it was not used anywhere. I have not tested this with other shader types, only compute shaders.

[2021-04-29 12:54] hevrard opened #2755 "Add support for `VK_EXT_provoking_vertex`"
**Describe the situation in which you encountered the missing validation**

The VVL seems unaware of the `VK_EXT_provoking_vertex` extension, I get validation errors like:

[code]

And looking in Vulkan headers:

[code]

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

All the VUID related to this extension.

[2021-04-29 13:31] KarenGhavam-lunarG commented on #2755
Once the 1.2.177 header is propagated to this repository, there will be a merge request to add the validation layer support from @locke-lunarg

[2021-04-29 13:56] hevrard commented on #2755
Sounds good! Thanks for the prompt clarification.

[2021-04-29 15:06] ncesario-lunarg commented on #2755
@locke-lunarg, could you please link this to your PR when 1.2.177 gets merged and you have a chance to create it?

[2021-04-29 16:45] hevrard opened #2756 "vkQueueWaitIdle is not considered as a fence w.r.t. command buffer lifetime"
**Describe the Issue**

The code conceptually does this:

[code]

and I get this validation error:

[code]

By changing the code to the following, the error is no longer reported:

[code]

The spec says:

So I believe the error should not be reported with the original code.

**Valid Usage ID**

VUID-vkDestroyCommandPool-commandPool-00041

**Environment:**
 - OS: Android11
 - GPU: Adreno640
 - SDK

[2021-04-29 18:01] ianelliottus opened #2757 "Replace now-deleted VUID-VkRectLayerKHR-offset-01261 with new check"
**Describe the Issue**
Vulkan spec MR [4442](https://gitlab.khronos.org/vulkan/vulkan/-/merge_requests/4442) recently removed VUID-VkRectLayerKHR-offset-01261, and changed the valid usage language per spec issue [2571](https://gitlab.khronos.org/vulkan/vulkan/-/issues/2571).

The `VK_KHR_incremental_present` extension has been modified such that the rectangles are not pre-rotated per `VkSwapchainC

[2021-04-29 18:17] ncesario-lunarg commented on #2754
Thanks for the concise repro case @RoryO!

At first glance this looks like a shader validation issue, but I'll put your repro case into our test suite and take a closer look.

[2021-04-29 18:41] mark-lunarg commented on #2757
@ianelliottus, the layers were most recently updated to Vulkan-Headers v1.2.174, and the change below arrived in 1.2.175.  I believe an update is imminent and this will be handled as  part of that update.  I'll confirm and add an ETA shortly.

[code]

[2021-04-29 18:57] mark-lunarg commented on #2757
I was mistaken, VVL is at 176 and so needs to have this fixed.  Sorry for the misinformation.  The above delta along with Ian's comments above is still pertinent.

[2021-04-29 20:23] mark-lunarg commented on #2757
Should be addressed by #2758.

[2021-04-29 21:41] #2757 closed

[2021-04-29 23:26] ittiput opened #2761 "Ittiput74"
**Describe the Issue**
Issue description.

**Valid Usage ID**
If applicable, please include the validation messages encountered leading up to the issue

**Environment:**
 - OS:
 - GPU:
 - SDK or header version if building from repo:
 - Options enabled (synchronization, best practices, etc.):

**Additional context**

[2021-04-30 00:53] #2761 closed

[2021-04-30 03:49] buzmeg commented on #1340
Just hit this as well on Windows 10 and nVidia.

Windows: 10.0.19042.928
Vulkan:  1.2.141
nVidia: GeForce RTX 2060

I'm literally going from vkGetPhysicalDeviceSurfaceCapabilitiesKHR to vkCreateSwapchainKHR with absolutely no other Vulkan calls in between.

[code]

[2021-04-30 13:31] aqnuep opened #2763 "Validation layer crashes in vkQueueSubmit if submit info contains timeline semaphore info, but also uses binary semaphores"
**Describe the Issue**
Consider the following scenario:
`vkQueueSubmit()` waits on binary semaphore, signals timeline semaphore.

Thus `VkSubmitInfo` has the following field values:
[code]

... and the chained `VkTimelineSemaphoreSubmitInfo` has the following field values:
[code]

This causes a crash in the validation layer in `ValidationStateTracker::PostCallRecordQueueSubmit()` at the following

[2021-04-30 15:48] ncesario-lunarg commented on #2763
Thanks for the detailed information @aqnuep! Looks like this is possibly addressed in #2620. This will be included in the upcoming 1.2.176 SDK. If building the layers from source is an option for you, you should be able to try the fix out now.

Please re-open this issue if the problem still exists on the latest source.

[2021-04-30 15:48] #2763 closed

[2021-04-30 16:04] aqnuep commented on #2763
Thanks, indeed PR #2620 should get this issue fixed.
I apologize for the redudant issue report, I should have searched also in the already closed issues when checking whether this was reported already and then I would have found #2616.

[2021-05-03 15:24] jzulauf-lunarg commented on #2349
@ShabbyX -- even though the storeOp is specified as DONT_CARE, the spec defines this as a write operation -- meaning that implementations may choose to write.  From section 8.1

https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/VkAttachmentStoreOp.html

• VK_ATTACHMENT_STORE_OP_STORE specifies the contents generated during the render pass and
within the render area are written

[2021-05-03 16:09] jzulauf-lunarg commented on #2756
@hevrard -- by code inspection, the two retire command buffers using the same underlying mechanism.  It looks like there's a bookkeeping bug re: what to retire.

Is there a repro case I could use to help me find it?

[2021-05-03 17:09] amhagan opened #2767 "vkCreateRayTracingPipelinesKHR with Deferred Operations"
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/884579ec2928a26cffac0573101f48efe82d87de/layers/generated/layer_chassis_dispatch.cpp#L2269-L2271

If result of vkCreateRayTracingPipelinesKHR is a VK_OPERATION_DEFERRED_KHR the pCreateInfos need to be available in memory until the deferred operation is complete.

[2021-05-03 17:57] ncesario-lunarg commented on #2767
Thanks for the issue @amhagan! Would you be able to provide some sample code that reproduces the issue you're seeing?

Also, I'm assuming this is referring to the `DispatchCreateRayTracingPipelinesKHR` rather than the  `DispatchCreateComputePipelines` code? https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/884579ec2928a26cffac0573101f48efe82d87de/layers/generated/layer_chassis_dispatch.

[2021-05-03 18:15] amhagan commented on #2767
Yes.. sorry.. DispatchCreateRayTracingPipelinesKHR not DispatchCreateComputePipelines

I will get a repo case together..

[2021-05-03 19:25] ShabbyX commented on #2349
@jzulauf-lunarg I have linked to a renderdoc capture in the OP, is that not usable? The description of the bug nevertheless has the necessary information required to write a test.

I realize that storeOp=DONT_CARE is a write operation as far as the spec is concerned. The issue is that using a read-only depth/stencil attachment without storeOp=NONE_QCOM will always result in a syncval warning with

[2021-05-03 20:26] Tony-LunarG opened #2770 "Null pointer dereference in state tracker in PreCallRecordCmdBindPipeline"
**Describe the Issue**
With the merge of #2749 (VK_NV_inherited_viewport_scissor coverage) the CTS test dEQP-VK.api.descriptor_set.descriptor_set_layout_lifetime.graphics run with validation dereferences a null pointer in state_tracker.cpp, line 3811/3812 where pipe_state->graphicsPipelineCI.pViewportState is NULL.  The test did not get any validation errors in previous runs.

**Environment:**
 -

[2021-05-03 20:39] ncesario-lunarg commented on #2770
@akeley98NV could you please take a look?

[2021-05-03 23:02] jzulauf-lunarg commented on #2349
Ah, I thought the hazard was following the store.  The rasterization ordering rules are *supposed* to handle this case (which the sync val is modelling), so there shouldn't be an error in the usual case.  I'll run your repro cases to try an understand if/what I'm missing here. If there needs to be a barrier, a self-dependency would be the way to handle it, but let's make sure it's not my issue.

[2021-05-04 10:01] hevrard commented on #2756
Unfortunately I don't have a handy small repro case at hand. I found this issue while debugging [AGI](https://github.com/google/agi), but you'd need a lock of small hacks in AGI to repro this the way I did, and compiling AGI is non-trivial.

You may reproduce by tweaking AGI's own Vulkan sample with this patch:

[code]

You can compile the sample with:

[code]

But again you'll need Bazel etc...

[2021-05-04 10:39] SunGrow opened #2773 "Validation layers with handle wrapping on cause a segfault on Swapchain creation"
**Describe the Issue**
Validation layers with handle wrapping on cause a segfault on Swapchain creation. No validation error (when validation is on) precede the segfault. Everything works perfectly fine, with 'handle wrapping' turned off

**Valid Usage ID**
[apidumpout.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/6420427/apidumpout.txt)

**Environment:**
 - OS: Linux 5.11.16-

[2021-05-04 16:38] ShabbyX commented on #2349
To confirm, the hazard is on render pass end! I'd also like to point out that this issue is 6 months old, so it might be already fixed. Unfortunately the ANGLE changes that brought this up weren't merged and I haven't looked into resolving the merge conflicts to see if the issue is still reproducible. Regardless, a unit test in VVL is useful.

[2021-05-04 21:13] ncesario-lunarg commented on #2773
Thanks for the issue @SunGrow! Do you have a sample reproduction case? Unfortunately, there are known issue when running AMD mesa drivers with `VK_LAYER_KHRONOS_validation`, with handle wrapping being one of them. Running the test suite gives somewhat of a good idea where some of the problems are (many tests either fail or crash in the driver), but some of the tests that are passing do call vkCrea

[2021-05-04 21:47] #2755 closed

[2021-05-04 22:48] kloczek opened #2775 "sdk-1.2.176.0: build fails"
spirv-headers from git master (still no release of those headers as regular release).
vulkan-loader sdk-1.2.176
[code]

[2021-05-05 04:19] akeley98NV commented on #2770
Sure. I am *really bad* at running vulkancts so I may report back asking for help reproducing the issue, but I'll make an independent attempt today or tomorrow. It looks like the fix is pretty trivial at first glance (just skip all this stuff when rasterization disabled) but I am not 100% sure this is the correct course of action as I've never disabled rasterization before ... this means that the

[2021-05-05 04:20] akeley98NV commented on #2770
Separate from vulkancts, are there any Vulkan-ValidationLayer test cases that exercise this code with rasterization disabled?

[2021-05-05 05:04] akeley98NV commented on #2770
For efficiency's sake, tried to take care of this issue w/o reproducing: https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2776

[2021-05-05 06:35] akeley98NV commented on #2770
Decided to take the only truly moral course of action and repro the issue in running vulkancts myself (which was way easier than I remembered from last time, probably because I wasn't trying to patch in a custom extension this time), I think I've fixed the issue properly this time (look at VkPipelineRasterizationStateCreateInfo::rasterizerDiscardEnable) but could use the eyeballs of someone with e

[2021-05-05 14:40] AaronHaganAMD commented on #2767
To repro this issue you can use the https://github.com/AaronHaganAMD/VK-GL-CTS repository with the RayTracingDeferredPipelines branch.

Command line arguments:
--deqp-validation=enable  -n dEQP-VK.ray_tracing_pipeline.large_shader_set.gpu.64

[2021-05-05 15:04] AaronHaganAMD commented on #2767
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/884579ec2928a26cffac0573101f48efe82d87de/layers/generated/layer_chassis_dispatch.cpp#L9012-L9015

I think its invalid to wrap the pipeline handle here if the operation is VK_OPERATION_DEFERRED_KHR.
The pipeline value is non-deterministic and unreadable until the deferred operation completes.

[2021-05-05 16:43] ncesario-lunarg commented on #2770
I'm not sure what all of the use cases are, but I think #2776 looks correct w.r.t. the spec.

[2021-05-05 16:46] akeley98NV commented on #2775
You need to run `scripts/update_deps.py` to fetch the new hashtable dependency.

[2021-05-05 16:55] kloczek commented on #2775
[code]
Are you kidding?
This **will not work** on builders on most of the Linux distributions whic are intentionally cut off any access to network eccept localhost.
Why you are fetching those trees instead just relly on system installed version of the components like spirv-headers or glslang?
So glslang needs to be updated?
If yes why did you not coordinate that with glslang maintainetr to ask to

[2021-05-05 17:00] kloczek commented on #2775
spirv-headers or glslang are maintained under common github organisation https://github.com/KhronosGroup
Why it is so poor communication inside that organisation before making exact releases?
SPIRV-Headers is not reacting at all on my monits about new release
https://github.com/KhronosGroup/SPIRV-Headers/issues/199
Did you try to contact SPIRV-Headers and glslang maintainers before make new sdk re

[2021-05-05 17:55] kloczek commented on #2775
I just updated my glslang rpm package to 11.4.0 which has been released only 12 days ago and Vulkan-ValidationLayers build still fails.

Really please taka as accusation or attack but please oh please better coordinate own release with releases all components which Vulkan-ValidationLayers is using because releasing own code as new version which is basing on unreleased code of other components it i

[2021-05-05 18:41] jeremyg-lunarg commented on #2775
As far as your original problem goes, the source of robin_hood.h is described here  https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/BUILD.md#robin-hood-hashing  and here https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/scripts/known_good.json#L34 .  Our you can build without it by setting the cmake variable USE_ROBIN_HOOD_HASHING to FALSE

[2021-05-05 18:50] kloczek commented on #2775
Thx will try that ASP 😀
Nevertheless will try to help with provide and use pkgconfig 😋

[2021-05-05 19:02] ncesario-lunarg commented on #2775
Thanks for the issue @kloczek! [known_good.json](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/scripts/known_good.json) (which `update_deps.py` makes use of) has been the mechanism for fetching VVL dependencies for a few years, and other repos in the Vulkan ecosystem (e.g., [glslang](https://github.com/KhronosGroup/glslang/blob/master/known_good.json)) use a similar mechanism

[2021-05-05 19:02] #2775 closed

[2021-05-05 19:13] filnet opened #2780 "Invalid layer manifest file version warnings after upgrading to SDK 1.2.176"
**Describe the Issue**

I am seeing the following warnings after upgrading to Vulkan SDK 1.2.176 (Windows):

[code]

**Environment:**
 - OS: Windows
 - GPU: RTX
 - SDK or header version if building from repo: 1.2.176
 - Options enabled : synchronization, best practices

**Additional context**

[2021-05-05 19:22] SunGrow commented on #2773
Yeah... The error appears to be on the driver side (crashes in amdvlk64.so). But, since it may be a known issue, I am not sure, if I should report it to the amdvlk repo... And what exactly to report... Let's hope I will have some free time for that in the future...
Either way, just in case, here is a validation test output:
[testout.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/file

[2021-05-05 19:26] kloczek commented on #2775
FYI `USE_ROBIN_HOOD_HASHING=OFF` fixed build issue. Thx 😀

If may I have two questions ..
- I've managed to build Vulkan-ValidationLayers with `-fno-exceptions` which is good however I see that RTTIs (`-fno-rtti`) are massively used. Q: is it not would be good to try to avoiduise RTTI? (as long ter target)
- what is the impact of  `USE_ROBIN_HOOD_HASHING=OFF`?🤔

[2021-05-05 20:50] jzulauf-lunarg commented on #2756
@hevrard -- the vulkan_sample change as given does not repro the error at the tip of master on ValidationLayers.

Can you repro, and against what version of the Validation Layers?

[2021-05-05 21:02] ncesario-lunarg commented on #2780
Based on @charles-lunarg comments [here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2705#pullrequestreview-636850981) and [here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2705#issuecomment-820546077), it sounds like a loader update should make these go away.

[2021-05-05 21:05] charles-lunarg commented on #2780
This is a harmless error, only caused by bumping the layer manifest version. Updating the loader to version 1.2.176 or newer will stop these warnings from being generated.

It was documented in the release notes.
https://vulkan.lunarg.com/doc/sdk/1.2.176.0/windows/release_notes.html

[2021-05-05 22:01] jeremyg-lunarg commented on #2775
Not easily... we're using RTTI to avoid calling default no-op virtual methods, which saves 5% of CPU time in multithreaded applications.  See; https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/generated/chassis_dispatch_helper.h#L27

That switches back to using std::unordered_map and std::unordered_set instead of the robin_hood:: versions.  The std:: versions are much slow

[2021-05-05 22:06] ncesario-lunarg commented on #2780
Going to close this as it sounds like this is expected. @filnet please re-open if you think there is something that needs to be changed on the validation layer side.

[2021-05-05 22:06] #2780 closed

[2021-05-05 22:49] jzulauf-lunarg commented on #2349
@shabbyX -- I'm not sure that the validation isn't correct.

accesses the sample in the last subpass where the attachment is used. Store operations for attachments with a depth/stencil format execute in the VK_PIPELINE_STAGE_LATE_FRAGMENT_TESTS_BIT pipeline stage. Store operations for attachments with a color format execute in the VK_PIPELINE_STAGE_COLOR_ATTACHMENT_OUTPUT_BIT pipeline stage.

The

[2021-05-06 11:19] hevrard commented on #2756
@jzulauf-lunarg I'm compiling the VVL at commit 5363130b75709e96e75cfecb75750c7ffe458b3e

I've just tried to repro by tweaking Sascha Willems' triangle demo, on Linux, and indeed I cannot reproduce there. I've also tried to repro with AGI's own sample, on Android, without luck.

I have a repro case on Android, but that involves an app I cannot share. I didn't manage to trigger it on a simpler exam

[2021-05-06 15:49] ncesario-lunarg opened #2784 "Get Windows mock ICD tests working in CI"
The `scripts/github_ci_win_linux.py` script does not work on Windows in its current form. This needs to be fixed so that mock ICD tests also run on Windows. Once `scripts/github_ci_win_linux.py` works properly on Windows, remove `scripts/github_ci_win.py` as it will no longer be necessary.

@mikes-lunarg was able to get this script working on Windows.

[2021-05-06 19:43] richard-lunarg opened #2785 "Validation false error for VUID-04450"
**Describe the Issue**
This looks like an error in the Khronos validation layer. A developer reported the issue here originally:
https://vulkan.lunarg.com/issue/view/602578385df1127a24f3cb4b

I have verified that the VkPhysicalDevicePortabilitySubsetFeaturesKHR element mutableComparisonSamplers is indeed coming back VK_TRUE (I've tried this on NVidia, and Intel, user is on an AMD), so this is not

[2021-05-06 20:14] ncesario-lunarg commented on #2785
@richard-lunarg, I think I know what the problem is. Unfortunately I don't have a mac to verify the fix.

Out of curiosity, if you include the `VkPhysicalDevicePortabilitySubsetFeaturesKHR` structure in the pNext chain of `VkDeviceCreateInfo` (after populating it from vkGetPhysicalDeviceFeatures2), do you then not see the error as expected?

[2021-05-06 21:12] richard-lunarg commented on #2785
Yes, the above does eliminate the error. I presume though this is not a strict requirement for creating the device?

I can test a PR for you on my Mac's here. I have a largish Vulkan App I'm working on, and it was easy to reproduce this using it as a test.

[2021-05-06 23:10] ncesario-lunarg commented on #2785
Thanks for trying that out @richard-lunarg. Since this is a _feature_ and not a _property_, my understanding of the spec is that features are supposed to be explicitly enabled (with the exception being "extensions that turned into features" after promotion). So if a user creates a device without enabling `mutableComparisonSamplers`, the implementation can effectively "disable" that feature.

For t

[2021-05-07 20:22] baldurk opened #2786 "Debug printf should support standard C format string for 64-bit integers"
**Describe the Issue**
Currently the [docs](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/docs/debug_printf.md) list `%ul` as the way to print a 64-bit integer, but this is backwards from the standard printf strings used everywhere else where it would be `%lu` (though that confusingly just means long i.e 32-bit so it would be `%llu` more likely, though this is not completely

[2021-05-09 03:12] sfricke-samsung opened #2787 "Checking if enum values are from non-enabled/supported extensions"
I recently came across the `PushDescriptorSetLayoutWithoutExtension` and `DescriptorIndexingSetLayoutWithoutExtension` tests which have a `kVUID_Core_DrawState_ExtensionNotEnabled` check if a given Enum value is used in `cvdescriptorset::ValidateDescriptorSetLayoutCreateInfo` witthout enabling the `VK_KHR_push_descriptor` extension.

This type of check is not done anywhere else (to my knowledge) a

[2021-05-10 14:46] mark-lunarg commented on #2787
Ah, I'm a bit shocked myself!  This also seems like it could be difficult for a user to debug so forge ahead, please.

[2021-05-10 16:17] ncesario-lunarg commented on #2787
Your knowledge > mine, so if you're feeling up to it, please do!

I'll assign to you for now, but if you're not able to work on this for some reason, please go ahead and "un-assign" assign yourself. Thanks!

[2021-05-10 17:32] kloczek opened #2790 "Messy tagging."
Up to now where used two git tag patters `<version>` and `sdk-<version>`
Today have been introduced `sdk.<version>-TAG`
Is it possible to stick with old patters?

[2021-05-10 17:58] ncesario-lunarg commented on #2790
@johnzupin, does this have something to do with the branch/tag name conflict you encountered?

[2021-05-10 18:46] KarenGhavam-lunarG commented on #2790
Due to required workflows for SDK releases, SDK tags moving forward will have a -TAG added to their name.

[2021-05-10 18:46] #2790 closed

[2021-05-10 20:14] jzulauf-lunarg commented on #2349
@ShabbyX  -- can you verify the prior access information for the WAR error, that it's a FRAGMENT_SHADER read?  (or just paste the error string)

[2021-05-11 00:47] charles-lunarg opened #2791 "Missing documentation of new options for vk_layer_settings.txt in LAYER_CONFIGURATION.md"
Both the Duplicated Messages Limit and the Mute Message VUID's are not documented in the LAYER_CONFIGURATION.md file.
I was helping users who were needing functionality that vkconfig exposed but could not see the relevant 'info' about it.

Shouldn't be a hard fix, I plan on working on this at some point but am making an issue to track it.

[2021-05-11 22:11] austinEng opened #2793 "Regression in image layout validation (VUID_Core_DrawState_InvalidImageLayout)"
I believe after the following changes by @jeremyg-lunarg, image layout transition validation (VUID_Core_DrawState_InvalidImageLayout) is incorrect.
Reverting the following commits fixes the issue we're seeing
 - layers: Fix Image Layout range splitting (884579ec2928a26cffac0573101f48efe82d87de)
 - corechecks: Simplify Image Layout Transition maps (5363130b75709e96e75cfecb75750c7ffe458b3e)
 - layer

[2021-05-12 01:17] rjklindsay commented on #2429
The issue was resolved when I upgraded to the latest SDK.
Thank you guys.
Rene

[2021-05-12 01:27] ncesario-lunarg commented on #2429
Closing at it looks like this is resolve. @rjklindsay please re-open if that is not the case.

[2021-05-12 01:27] #2429 closed

[2021-05-12 13:07] rumblehhh opened #2794 "BestPractices::ManualPostCallRecordAllocateMemory references vkReleaseFullScreenExclusiveModeEXT rather than vkAllocateMemory"
BestPractices::ManualPostCallRecordAllocateMemory references vkReleaseFullScreenExclusiveModeEXT rather than vkAllocateMemory which I believe should instead be referenced.
Line linked here: https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/20678fff2a19946fe8d5f3ee5300af1c3228268a/layers/best_practices_utils.cpp#L573

[2021-05-12 14:30] jeremyg-lunarg commented on #2793
Thanks, I'll try to write a test case to reproduce.

[2021-05-12 15:04] ncesario-lunarg commented on #2794
Yep, that makes sense :)

[2021-05-12 16:26] jzulauf-lunarg commented on #2349
@hapakj  -- the subpass dependency alone won't solve this.  The subpass dependency defines what vkCmdPipelineBarrier are legal within the subpass.  After the last access in the last subpass referencing the attachment, you'll need a vkCmdPipelineBarrier (with either a VkMemoryBarrier or VkImageMemoryBarrier) before the vkCmdNextSubpass or vkCmdEndRenderPass that ends that subpass.

[2021-05-12 20:51] ShabbyX commented on #2349
@jzulauf-lunarg Actually I don't believe we are restricted to fragment shader reads. I'm afraid the work I did that got me up to this message never got merged, and I don't intend to go through the merge conflicts. So, no, let's assume it's a vertex shader that's doing the sampling.

In that case, we can't use `VK_DEPENDENCY_BY_REGION_BIT` which effectively means pipeline barriers will result in an

[2021-05-12 22:14] jzulauf-lunarg commented on #2349
@ShabbyX  -- the issue is on gitlab... @Tobski and @jeffbolznv tagged.

Please add an issue to add support for VK_ATTACHMENT_STORE_OP_NONE_QCOM.  Currently Synchronization Validation has very little extension support, the issue will help prioritize it, especially if you note that it's going to be promoted to KHR.

[2021-05-12 22:17] jzulauf-lunarg commented on #2349
@ShabbyX  -- as for which shader stage could trigger the WAR... any read access by any non-framebuffer-local stage would be reported as WAR without the required barrier.  Any access by a framebuffer-local stage is guaranteed (if I'm reading the spec correctly) to be safe w.r.t. storeOp's.

[2021-05-13 18:00] #2793 closed

[2021-05-13 18:14] austinEng commented on #2793
Thank you for the fix!

[2021-05-13 20:08] zmike opened #2800 "provokingVertexModePerPipeline bug"
**Describe the Issue**
Provoking vertex validation does not seem to be working as expected. RADV sets `provokingVertexModePerPipeline` to true, but this error is still printed when I include a VkPipelineRasterizationProvokingVertexStateCreateInfoEXT struct in pipeline creation.

**Valid Usage ID**
[code]

**Environment:**
 - OS: Fedora
 - GPU: AMD 5700XT, RADV from main
 - SDK or header version if

[2021-05-13 20:27] ncesario-lunarg commented on #2800
@locke-lunarg do you have time to take a quick look?

[2021-05-14 10:19] johannesugb commented on #2645
Just ran into the same issue. The validation layer's message
[code]
must be a false positive, because it clearly contradicts the information in [Table 4](https://vulkan.lunarg.com/doc/view/1.2.176.1/windows/1.2-extensions/vkspec.html#synchronization-access-types-supported) from the specification.

SDK: 1.2.176.1 (Windows 10)

[2021-05-14 18:53] Tony-LunarG commented on #2786
Fixed in #2802

[2021-05-14 18:53] #2786 closed

[2021-05-14 22:25] timvpGoogle opened #2804 "Invalid UTF-8 character in `layers/gpu_validation.cpp`"
**Describe the Issue**
Commit f0d4e2bc438e281f5e271568a932a4adb520f10d (gpu: More info in draw indirect count message) introduced an invalid UTF-8 character:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/6da4ac2df971af6b2b697d94dd1e2e38c4bcd8fa/layers/gpu_validation.cpp#L1345

The "×" character cannot be encoded as UTF-8.   Opening the file in an IDE (e.g., CLion) will also generat

[2021-05-14 22:34] timvpGoogle commented on #2804
Pull request:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2805

[2021-05-14 22:42] timvpGoogle commented on #2804
I don't know how to use GitHub I can't find good documentation, so here's a new PR:

Pull request:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2806

[2021-05-14 22:44] ncesario-lunarg commented on #2804
👍 thanks! In the future, amending the commit and doing a force push to the branch should get the job done if that works for you.

[2021-05-15 04:10] #2804 closed

[2021-05-17 22:37] timvpGoogle opened #2810 "`BUILD.gn` is missing header files"
**Describe the Issue**
The `BUILD.gn` is missing the following header files:
- `layers/generated/gpu_pre_draw_shader.h`
- `layers/gpu_pre_draw_constants.h`

**Additional context**
This causes ANGLE's presubmit checks to fail, since it verifies the `BUILD.gn` contains all of the necessary files:
https://chromium-review.googlesource.com/c/angle/angle/+/2900288

[code]

[2021-05-17 22:38] timvpGoogle commented on #2810
Pull request is available at: https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2811

[2021-05-18 01:17] #2810 closed

[2021-05-18 13:50] kloczek commented on #2775
FYI I made PR to provide pkgconfig file by SPIRV-Headers https://github.com/KhronosGroup/SPIRV-Headers/pull/209
When this PR will be commited will try to create PR for Vulkan-ValidationLayers to use that.

[2021-05-18 21:13] hkr opened #2815 "Wrong validation error when using the same attachment as input and resolve attachment in the same subpass"
**Describe the Issue**
When using the same attachment as resolve attachment and input attachment in the same subpass I’m getting the following validation error:

vkCreateRenderPass2(): subpass 0 uses attachment 2 as both input and resolve attachment. The Vulkan spec states: Any given element of pPreserveAttachments must not also be an element of any other member of the subpass description (https:/

[2021-05-18 21:59] #2794 closed

[2021-05-19 07:23] Rua opened #2818 "`vkCreateDevice` doesn't check features against enabled extensions"
**Describe the situation in which you encountered the missing validation**
With `VK_KHR_get_physical_device_properties2` enabled, I include features structs in the `pNext` chain of `vkGetPhysicalDeviceFeatures2`, that require an extension to be supported on the given Vulkan `apiVersion`. For example, with the instance's `apiVersion` set to 1.0, I can include e.g. `VkPhysicalDevice16BitStorageFeatu

[2021-05-19 12:17] Rua opened #2819 "Incorrect error for `instanceCount` with multiview enabled on `apiVersion` 1.0"
**Describe the Issue**
I'm doing a simple draw with a single instance index 0. The `multiview` feature is enabled. I get a validation error that seems to be nonsensical, but I only get it if I'm running with `apiVersion` set to 1.0. If it's 1.1, then no error appears.

**Valid Usage ID**

    Objects: 2
        [0] 0x55eee246ca60, type: 6, name: NULL
        [1] 0xcfef35000000000a, type: 18, name:

[2021-05-19 13:12] Tony-LunarG commented on #2770
#2776 fixed it - thanks!

[2021-05-19 13:12] #2770 closed

[2021-05-19 14:03] janharaldfredriksen-arm commented on #2815
This logic looks wrong to me:

[code]

It will certainly give the wrong error code. I'm not sure why it checks for resolve attachments in the same way as preserve attachments.

[2021-05-19 15:35] ncesario-lunarg commented on #2818
Thanks for the issue @Rua! I also don't see anything in the spec that says you _must_ enable the extension to use a feature. If you're querying for feature support, and the implementation reports that the feature is supported, that is what really matters from my understanding of the spec. Closing this for now as it's not clear to me that there is a spec violation here; might be worth bringing this

[2021-05-19 15:35] #2818 closed

[2021-05-19 15:39] sfricke-samsung commented on #2815
So I [recently touched that error code](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2772/files), but don't think its the source of the issue

I noticed when I was touching it of the `// assumes input attachments are added prior to preserve` comment... I suspect that is what is causing the issue here. I assume there is also no positive test to make sure input and resolve can be the

[2021-05-19 15:49] sfricke-samsung commented on #2819
Are you using `VkPhysicalDeviceVulkan11Features` to enable `multiview`? With Vulkan 1.0 you would need to use `VkPhysicalDeviceMultiviewProperties` (`VkPhysicalDeviceMultiviewProperties` is also valid for 1.1 as well)

[2021-05-19 15:51] ncesario-lunarg commented on #2819
@jeremyg-lunarg recently fixed several printf errors like this in #2799. Are you able to build the latest version of VVL? If so, using that should at least give you a more "sensical" error message.

[2021-05-19 18:42] ncesario-lunarg commented on #2815
Based on what I'm seeing in the spec regarding 04440, 04438, 03074, and 00854, I would expect something along the lines of:
[code]

I think this would account for the "order dependence" of AddAttachmentUse. Tests seem to pass locally with these changes.

[2021-05-20 11:37] Xeais opened #2822 "`VkQueryPool` was reset, but validation layers do not recognize this!"
### Describe the Issue
Without activated validation layers everything runs flawlessly. Activated they insist on the messages given below. The query pool is definitely reset at the beginning of the concerning command buffer.

### Valid Usage ID

... continues for more queries.

### Environment
 - OS: Windows 10
 - GPU: GTX 980M
 - SDK or header version if building from repo: **1.2.176.1**
 - Option

[2021-05-20 13:58] sfricke-samsung commented on #2822
So the worst thing about undefined behavior is it sometimes works on some implementations but might not on others

... but not dismissing it might not be a validation layer bug

before calling the first `vkCmdWriteTimestamp()` are you calling `vkCmdResetQueryPool` or `vkResetQueryPool`?

[2021-05-20 14:36] ncesario-lunarg commented on #2822
@Xeais could you please provide a code sample reproducing the issue?

[2021-05-20 14:39] #2815 closed

[2021-05-20 21:43] cnorthrop opened #2825 "Linux CFI failures after changes to state tracking"
**Describe the Issue**
We've detected CFI (Control Flow Integrity) failures downstream in Chrome testing with ANGLE using the Vulkan backend with validation.

Here's an example failure from https://bugs.chromium.org/p/chromium/issues/detail?id=1211473:
[code]

We isolated the failures to this range:
https://chromium.googlesource.com/external/github.com/KhronosGroup/Vulkan-ValidationLayers.git/+log

[2021-05-20 21:53] y-novikov commented on #2825
The problem is with this cast:
void DEVICE_MEMORY_STATE::RemoveParent(BASE_NODE *parent) {
     auto it = bound_images.find(static_cast<IMAGE_STATE*>(parent));

When it's called from
void ValidationStateTracker::PreCallRecordDestroyBuffer(VkDevice device, VkBuffer buffer, const VkAllocationCallbacks *pAllocator) {
    if (!buffer) return;
    auto buffer_state = GetBufferState(buffer);
    buffer_

[2021-05-20 21:54] y-novikov commented on #2825
@jeremyg-lunarg

[2021-05-20 21:55] y-novikov commented on #2825
#2807

[2021-05-21 08:28] sfricke-samsung commented on #2787
So fun spec question maybe you might have insight:

Some enum/flags like `VK_FORMAT_FEATURE_TRANSFER_DST_BIT` added with 1.1 from `VK_KHR_maintenance1`
Some enum/flags like `VK_MEMORY_HEAP_MULTI_INSTANCE_BIT` also added with 1.1 from `VK_KHR_device_group_creation`

but one extension is an instance and one is a device extension

so if I have a 1.1 instance and 1.0 device with `VK_KHR_maintenance1`

[2021-05-21 11:14] Tobski commented on #2787
FORMAT_FEATURES_TRANSFER_DST_BIT is an information enum - you never have to pass it _into_ the API - it just is returned _by_ the implementation. So that's not a great example 😛

But actually this instance/device stuff is covered by the (admittedly poorly defined) instance/device/physical device functionality terms. So actually yes you can have a "instance/device/physical device enum value", kind

[2021-05-21 14:42] Tony-LunarG opened #2827 "Crash in Best Practices running CTS"
**Describe the Issue**
As of "1ced2b6ab - practices: Check efficiency around render passes" at least four CTS tests crash if Best Practices is enabled:
dEQP-VK.pipeline.render_to_image.core.3d.small.r8g8b8a8_unorm
dEQP-VK.pipeline.render_to_image.core.3d.huge.width_height.r8g8b8a8_unorm
dEQP-VK.pipeline.render_to_image.core.3d.huge.width.r8g8b8a8_unorm
dEQP-VK.pipeline.render_to_image.core.3d.huge

[2021-05-21 15:19] sfricke-samsung commented on #2787
Ok thanks Tobias, I feel like this is doable, not fun, but doable again

So I realize things like `VkResult` were also "output from driver only" enum, but now thinking about `VkFormatFeatureFlagBits`, I realize the current generation code doesn't have a way directly in the XML to know that (but can be figured out by lack of anyone calling it)

ya, I agree, can look over the current subset and make

[2021-05-21 15:53] #2827 closed

[2021-05-21 22:02] cnorthrop commented on #2825
Still failing.  Yuly has more info.

[2021-05-21 22:13] y-novikov commented on #2825
Thanks for the fix, but looks like it was insufficient.
CFI now fails with a different stack:
https://ci.chromium.org/ui/p/chromium/builders/try/linux_chromium_cfi_rel_ng/1644/overview

../../third_party/vulkan-deps/vulkan-validation-layers/src/layers/state_tracker.cpp:884:37: runtime error: control flow integrity check for type 'IMAGE_STATE' failed during base-to-derived cast (vtable address 0x7f

[2021-05-21 22:42] y-novikov commented on #2825
I thought of a couple of solutions that might actually work:
1. Set ` handle_.type = kVulkanObjectTypeUnknown;` in `BASE_NODE::Invalidate()`
2. Changing `BINDABLE::~BINDABLE()` to
[code]

[2021-05-21 23:47] jeremyg-lunarg commented on #2825
Thanks for the further debugging, I'll take another look.

[2021-05-21 23:51] jeremyg-lunarg commented on #2825
This seems like the safest fix (at least, until I clean the bound_images stuff up all the way).

[2021-05-22 14:51] danielmaciel opened #2831 "VK_BUFFER_USAGE_ACCELERATION_STRUCTURE_BUILD_INPUT_READ_ONLY_BIT_KHR is not validated"
Spec says:

VUID-vkCmdBuildAccelerationStructuresKHR-geometry-03673
The buffers from which the buffer device addresses for all of the geometry.triangles.vertexData, geometry.triangles.indexData, geometry.triangles.transformData, geometry.aabbs.data, and geometry.instances.data members of all pInfos[i].pGeometries and pInfos[i].ppGeometries are queried must have been created with the VK_BUFFER_USAG

[2021-05-22 15:41] Rua commented on #2818
[This part of the spec](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/chap3.html#fundamentals-validusage-extensions) states:

I would consider the `VkPhysicalDevice16BitStorageFeaturesKHR` struct to fall under "(physical) device functionality or behavior added by a device extension". However, two paragraphs before, the spec states:

This seems like a potential conflict in the s

[2021-05-22 22:35] ncesario-lunarg commented on #2831
Thanks @danielmaciel, indeed there is no check for this VUID currently. Looks like this will need to be added to https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/00cc43d56498abd14a7f5dc18278e06b1ad0b5fa/layers/core_validation.cpp#L6395.

[2021-05-23 09:27] danielmaciel opened #2832 "Wrong validation of VK_PIPELINE_STAGE_RAY_TRACING_SHADER_BIT_KHR vs VK_ACCESS_ACCELERATION_STRUCTURE_READ_BIT_KHR"
This validation is wrong:

Validation Error: [ VUID-vkCmdPipelineBarrier-dstAccessMask-02816 ] Object 0: handle = 0x2113620, type = VK_OBJECT_TYPE_COMMAND_BUFFER; | MessageID = 0x69c8467d | vkCmdPipelineBarrier(): .pMemoryBarriers[0].dstAccessMask bit VK_ACCESS_ACCELERATION_STRUCTURE_READ_BIT_KHR is not supported by stage mask (VK_PIPELINE_STAGE_RAY_TRACING_SHADER_BIT_KHR). The Vulkan spec states:

[2021-05-24 12:19] jeremyg-lunarg commented on #2832
This should be fixed by https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2824 once it merges.

[2021-05-24 15:48] pdaniell-nv commented on #2730
@ncesario-lunarg @Tony-LunarG is there someone that can pick up this validation bug?

[2021-05-25 02:29] oddhack opened #2834 "Would validation layers be impacted by removing 'pipeline' attributes from vk.xml?"
The Vulkan WG is hoping to remove the 'pipeline' attributes from vk.xml, and the corresponding 'Pipeline Types' column from the specification. Would this impact your use of the XML? Easiest way to tell is probably by substituting the [attached proposed vk.xml](https://github.com/KhronosGroup/VK-GL-CTS/files/6536053/vk.zip) in your build and see if it makes a difference. I believe @sfricke-samsung

[2021-05-25 05:19] sfricke-samsung commented on #2834
Took ToT (which has 1.2.179 headers) and the `vk.xml` from internal Vulkan MR 4594 and reran `python3 scripts/generate_source.py path/to/Vulkan-Headers/registry/` with it and nothing has changed confirming my confidence the VVL were not using it neither

[2021-05-25 06:19] oddhack commented on #2834
Thanks!

[2021-05-25 06:19] #2834 closed

[2021-05-25 11:57] Xeais commented on #2822
Thank you for the fast answer, unfortunately, I couldn't be equally fast.

So, over some period of time I tried many ways to reset that query pool - before, after and in between, 😉, `vkCmdWriteTimestamp()`: no success.

@ncesario-lunarg A high-level overview: `vkCmdWriteTimestamp()` is used for timing (functions: BeginGPUTimer/EndGPUTimer ) in a class called 'FrameProfiler'. The actual timing then

[2021-05-25 15:29] darksylinc opened #2835 "Validate PSOs follow maxFragmentInputComponents et. al."
**Describe the situation in which you encountered the missing validation**
Issue description:

I [found this issue](https://gitlab.freedesktop.org/mesa/mesa/-/issues/4524) by accident:

Overflowing number of varyings passed to pixel shader results in GPU crash

The following VS and PS will cause a GPU hang when using RADV. In OpenGL it correctly refuses to link this shader citing that the 'array i

[2021-05-26 14:17] danginsburg commented on #1495
@mark-lunarg Pinging on this issue - still seeing it with Vulkan SDK 1.2.176.1.  I believe I privately sent you a trace that showed the issue?  If not, I can send one again.

[2021-05-26 16:03] #2825 closed

[2021-05-26 16:59] ncesario-lunarg commented on #1495
@danginsburg  I'm traveling today, but I will hook up with Mark this week to get the trace.

[2021-05-26 20:46] mark-lunarg commented on #1495
Dan, forwarded the trace to Nathaniel.

On Wed, May 26, 2021, 10:59 AM ncesario-lunarg ***@***.***>
wrote:

[2021-05-26 22:17] ncesario-lunarg commented on #1495
Thanks @mark-lunarg!

[2021-05-27 07:52] Desperado17 opened #2837 "UNASSIGNED-CoreValidation-Shader-OutputNotConsumed"
Greetings, I'm new to vulkan and get the following error message:

vkDebug: Validation: 0: Validation Performance Warning: [ UNASSIGNED-CoreValidation-Shader-OutputNotConsumed ] Object 0: handle = 0x2cf63000002cf63, type = VK_OBJECT_TYPE_SHADER_MODULE; | MessageID = 0x609a13b | Vertex attribute at location 3 not consumed by vertex shader

I cannot explain this as vertex attribute 3 is definitivly

[2021-05-27 11:29] Desperado17 commented on #2837
Nevermind, there were attributes in my description that were optimized out by the GLSL compiler.

[2021-05-27 11:29] #2837 closed

[2021-05-27 15:47] ncesario-lunarg commented on #2822
Thanks for the additional info @Xeais.

From the [spec](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/chap18.html#queries-operation):

As far as I know, `vkCmdWriteTimestamp` is a query, so I think this sounds correct.

If your `FrameProfiler` class is calling `vkCmdResetQueryPool` and/or `vkCmdCopyQueryPoolResults`, you might be running into one of the following which would re

[2021-05-27 15:47] #2822 closed

[2021-05-27 15:52] ncesario-lunarg commented on #2837
No worries @Desperado17, glad it's resolved for you!

[2021-05-27 16:44] y-novikov commented on #2825
Verified this is fixed on our end
https://ci.chromium.org/ui/p/chromium/builders/try/linux_chromium_cfi_rel_ng/1646/overview

[2021-05-27 16:48] jeremyg-lunarg commented on #2825
Thanks! What compiler flags are you using to enable CFI? I gave it a try yesterday but got a bunch of false positives.

[2021-05-27 17:02] y-novikov commented on #2825
I think `-fsanitize=cfi-vcall -fsanitize=cfi-derived-cast -fsanitize=cfi-unrelated-cast -fsanitize=cfi-icall -fno-sanitize-trap=cfi`
Also `-fno-inline-functions -fno-inline -fno-omit-frame-pointer -O1`
We also have this ignore list https://source.chromium.org/chromium/chromium/src/+/main:tools/cfi/ignores.txt

Maybe I've missed something, the config is in https://source.chromium.org/chromium/chrom

[2021-05-27 17:10] y-novikov commented on #2825
I think it also requires `-Wl,-mllvm,-instcombine-lower-dbg-declare=0`

[2021-05-27 17:46] jeremyg-lunarg commented on #2825
Thanks, I'll try with those settings. I think disabling cfi-vcall like your
ignores.txt does will probably get me most of the way.

On Thu, May 27, 2021 at 11:10 AM y-novikov ***@***.***> wrote:

[2021-05-27 18:02] tuket commented on #2756
Hello.
I'm learning Vulkan and I stumbled upon this issue.
I can share my code. However, I'm new to Vulkan so there is a chance I'm doing something wrong.

It's all contained in a one .cpp and one shader.

Thanks!

main.cpp:

[code]

calc.comp.glsl:

[code]

[2021-05-27 19:04] locke-lunarg commented on #2800
@zmike Could you please test this PR https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2839 ? I recorded provoking vertex info in vulkan v1.1+, but vulkan supports it since 1.0+. I assume you didn't enable v1.1 in your program, so false positive happens.

[2021-05-28 11:38] rg3igalia opened #2841 "Unexpected validation error regarding swapchain image count"
**Describe the Issue**
There is a set of CTS tests called "dEQP-VK.wsi.*.swapchain.get_images.count" (e.g. dEQP-VK.wsi.xlib.swapchain.get_images.count) that call vkGetSwapchainImagesKHR() with a pSwapchainImageCount pointing to an integer that is one more than what the initial count returns. That is:

* Call vkGetSwapchainImagesKHR passing a non-null pSwapchainImageCount and a null pSwapchainImage

[2021-05-28 12:55] zmike commented on #2800
@locke-lunarg Thanks, I can confirm that this fixes my issue!

[2021-05-28 15:51] #2800 closed

[2021-05-28 21:25] #2841 closed

[2021-05-28 22:10] AllianceDarkSylinc commented on #2835
vulkainfo dump:
[vulkaninfo.txt.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/6563499/vulkaninfo.txt.zip)

Given that this issue is supposedly tested by the validator, let me check again (can't do it ASAP though) to avoid wasting time.

Perhaps I was on an old validation layer, or it wasn't enabled when I tested when I thought it was, or the layer warned but the GPU still cras

[2021-05-28 22:12] sfricke-samsung commented on #2835
I plan to look into this very soon, so happy to give a first stab at it. Thanks for the vulkaninfo dump, will see if I can spot a bug in the current validation layers with it

[2021-05-31 08:01] llyzs opened #2846 "Dynamic offset validation error when buffer range is VK_WHOLE_SIZE"
When buffer range is VK_WHOLE_SIZE and dynamic offset is larger than zero, the validation layer issues the following error:

Validation Error: [ VUID-vkCmdBindDescriptorSets-pDescriptorSets-01979 ] Object 0: handle = 0x7ffe368a1ea8, type = VK_OBJECT_TYPE_COMMAND_BUFFER; Object 1: handle = 0x2e237000001b59c, type = VK_OBJECT_TYPE_DESCRIPTOR_SET; Object 2: handle = 0x1285ab0000012cb2, type = VK_OBJE

[2021-05-31 11:37] rg3igalia commented on #2841
Thanks for solving the issue so quickly! I left a comment in the commit about a small detail that looks wrong to me. :+1:

[2021-05-31 15:50] #2730 closed

[2021-05-31 17:02] ncesario-lunarg commented on #2846
Thanks for the issue @llyzs!

It seems like the effective offset could still go past the end of the buffer, so I'm not sure 01979 can/should be completely ignored when `range == VK_WHOLE_SIZE`. Looks like maybe https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/94787b19f5f16271eb1dd5c7cdb6706361f37cf7/layers/core_validation.cpp#L6983 should be removed and we instead test against an "effe

[2021-06-01 01:35] sfricke-samsung commented on #2846
So if we have a 64 byte buffer and we set

[code]

With no dynamic offset,
- `info_a` is using `buffer[8:64]`
- `info_b` is using `buffer[8:40]`

if my `pDynamicOffsets` is `16`, **to my knowledge** it is shifting the offset to
- `info_a` is using `buffer[24:80]` (over range)
- `info_b` is using `buffer[24:56]`

I guess the

I read the spec saying

that `VK_WHOLE_SIZE` is does not act as a dynamic

[2021-06-01 02:39] llyzs commented on #2846
@sfricke-samsung

My opinion is that the spec regarding "range is the static size used for all dynamic offsets" statement is somewhat "ambiguous". The "range" value here can be treated as an "effective range" before dynamic offset is applied, or can be treated as whatever value it contains. In your example above, one could argue that when pDynamicOffsets is 16, the actual descriptor can be shifted

[2021-06-01 03:39] mbechard opened #2851 "Possible regression between 1.2.162.1 and 1.2.170.0/1.2.176.1 when rendering using VK_IMAGE_CREATE_2D_ARRAY_COMPATIBLE_BIT"
**Describe the Issue**
I'm rendering to a single slice of a 3D texture that has been created using VK_IMAGE_CREATE_2D_ARRAY_COMPATIBLE_BIT. The subresource for the view is only referencing a single layer, and it is a 2D view. The renderpass has SHADER_READ_OPTIMAL as both the initial and final layout for the attachment.
This runs without errors in SDK 1.2.162.1. Using 1.2.170.0 and 1.2.176.1, I ge

[2021-06-01 05:12] sfricke-samsung commented on #2835
So @AllianceDarkSylinc I added a test in #2853 to confirm the case above is being validated.

So my bet is your GPU hangs at `vkCreateShaderModule` time? The validation is done at pipeline creation time, so if you can confirm your crash/issue is at shader module time (instead of pipeline creation time), then the issue is not the validation coverage is missing, but rather "when" it is being covered

[2021-06-01 06:02] sfricke-samsung commented on #2851
So just doing a quick diff of `ValidateCmdBufImageLayouts` (function that throws the validation error) between [1.2.162](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/7cf6e361ee511723ae58fc17ffe88f16965be42b/layers/buffer_validation.cpp#L4144) and ToT seems the only real difference is

[code]

Haven't fully parsed everything yet, but dropping as some potential useful info

[2021-06-01 06:17] llyzs commented on #2846
Our use case is that we create a single big 64k UBO and a single descriptor with range = VK_WHOLE_SIZE, which contains dozens of chunks of data of different sizes. When binding the UBO we use dynamic offsets with this single UBO descriptor. It worked without any issue until this validation error pops up recently (although rendering is never an issue).

If we are going to follow the "effective rang

[2021-06-01 10:56] ilkkasaa opened #2854 "False positive in vkUpdateDescriptorSets() in some cases"
**Describe the Issue**
I was fixing some tests in Vulkan CTS while I encountered this unexpected validation error. The tests I was fixing are `dEQP-VK.image.astc_decode_mode.*` (the current tests still contain bugs, and causes other validation errors too, but those will be fixed once my changes are merged into CTS). The false positive validation error is emitted if a storage image descriptor is up

[2021-06-01 14:34] Tobski commented on #2846
Hi @llyzs - unfortunately @sfricke-samsung is interpreting the spec correctly. As far as I understand it, the end point of a buffer's range is baked into the descriptor on most GPUs - so baking multiple descriptors actually is the only option. If you're not using robust buffer access and you're staying within the actual buffer range it is likely fine _most of the time_. But it's one of those thing

[2021-06-01 14:36] Tobski commented on #2846
Oh also, FWIW the spec is nowhere near as clear here as it should be so we should definitely get the spec text updated..

[2021-06-01 15:11] jeremyg-lunarg commented on #2851
@sfricke-samsung, there's been a ton of performance work on image layouts in the past few months and that code diff is just the tip of the iceberg. I'll take a look.

[2021-06-01 15:14] llyzs commented on #2846
@Tobski Thanks for the clarification and the spec update proposal. We will update our application accordingly. Closing this issue.

[2021-06-01 15:14] #2846 closed

[2021-06-01 15:43] Tobski opened #2855 "Best Practices: Warn when depth bias is enabled without a depth attachment due to undefined values"
**Describe the situation in which you encountered the missing validation**
Discussed as a spec question about what happens when depth bias is enabled when there's no depth attachment. It seems that the depth bias applied to geometry is undefined when there is no depth attachment. The behaviour itself is legal - nothing bans it in the spec - it only generates undefined values - so this should ideal

[2021-06-02 11:24] djdeath opened #2858 "Crash in validation of vkCmdPipelineBarrier"
**Describe the Issue**
I'm getting a crash, here is the backtrace
[code]

**Environment:**
 - OS: Ubuntu 21.04
 - GPU: Intel Tigerlake
 - SDK or header version if building from repo: master at faea0bb06837c9e15655f833bd806c7a83db81eb
 - Options enabled (synchronization, best practices, etc.):

**Additional context**

Making this change makes the problem go away :
[code]

[2021-06-02 14:26] ncesario-lunarg commented on #2858
Thanks @djdeath. @jeremyg-lunarg does the proposed change look good to you? Looks like this is from e60d417b.

[2021-06-02 14:33] jeremyg-lunarg commented on #2858
LGTM, but that sure is a weird thing to cause a crash. @djdeath is this a thing that happens all the time with the 21.04 toolchain or is there a specific test that causes it?

[2021-06-02 14:50] djdeath commented on #2858
I'm running into the crash when running a the piglit (https://gitlab.freedesktop.org/mesa/piglit) drawoverhead benchmark using Zink (GL over Vulkan implementation).

[2021-06-02 15:41] ncesario-lunarg commented on #2858
Sorry, I've never used piglit before. Could you provide a command to run just the test that is crashing?

[2021-06-02 16:03] djdeath commented on #2858
Once you've compiled piglit just run :

[code]

[2021-06-02 16:14] jeremyg-lunarg commented on #2851
@mbechard https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2352/ looks like it is related to VK_IMAGE_CREATE_2D_ARRAY_COMPATIBLE_BIT validation, and it came in during 1.2.170.   It is possible that your problem is either caused by this change OR that the change is incomplete and similar logic needs to be changed in other parts of validaiton. (or I could be completely wrong and the culp

[2021-06-02 16:26] ncesario-lunarg commented on #2858
Thanks @djdeath, I get the following error when trying to run zink:
[code]
I have llvm 11.0.0.

[2021-06-02 17:24] djdeath commented on #2858
Hmm.. that's odd. What Vulkan drivers do you have on your system?

[2021-06-02 17:31] jeremyg-lunarg commented on #2854
@ilkkasaa Can you try the fix in https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2859 ? The driver I'm using at the moment doesn't support running the dEQP-VK.image.astc_decode_mode.* tests.

[2021-06-02 17:48] djdeath commented on #2858
Here are the argument of the crasher :
[code]

[2021-06-02 17:49] mbechard commented on #2851
Sure, here is an API dump. The first framebuffer created to render into the 3D texture is done at line 1,838,429. Let me know if this isn't helpful. Sorry the file is so large.

[api.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/6586525/api.zip)

[2021-06-02 19:27] ncesario-lunarg commented on #2858
@djdeath that was on WSL2 with lavapipe. I'm going to try to get things running on my AMD machine with radv next.

[2021-06-02 23:29] ncesario-lunarg commented on #2858
Eventually got things working on my AMD system. Are there known issues with zink + lavapipe?

Unfortunately I can't reproduce the issue with zink + radv (using mesa `git-a1c56b8091`). Do you have any insight as to why the proposed changes fix the crash? The fact that `metaFlags` is read-only seems indicative that the problem is occurring somewhere else, before that line. I'm ok with merging the pr

[2021-06-02 23:35] ncesario-lunarg commented on #2858
FWIW, I do get the following validation errors when running the drawoverhead test:

- UNASSIGNED-CoreValidation-DrawState-InvalidImageLayout(ERROR / SPEC): msgNum: 1303270965 - Validation Error: [ UNASSIGNED-CoreValidation-DrawState-InvalidImageLayout ] Object 0: handle = 0x559182b733d0, type = VK_OBJECT_TYPE_COMMAND_BUFFER; | MessageID = 0x4dae5635 | Submitted command buffer expects VkImage 0x6b2

[2021-06-03 05:22] ilkkasaa commented on #2854
@jeremyg-lunarg Thanks, that seems to be working!

[2021-06-03 06:09] djdeath commented on #2858
I really don't understand what the problem is. I thought maybe a compiler issue...

If metaFlags is `static const`, I suppose it's not on the stack and therefore callers shouldn't matter.

Trying to inspect the data in `metaFlags` from gdb :
[code]

[2021-06-03 06:18] djdeath commented on #2858
Got some valgrind traces that could help :
[code]

[2021-06-03 06:24] djdeath commented on #2858
So it looks like piglit is calling on exit() and that wipes a bunch of global variables before the atexit tears down the driver (which will stiff go through a bunch of Vk commands).

So probably not a validation layer issue I guess.

We can probably close this.

[2021-06-03 10:07] Xeais opened #2862 ""... has no matching release barrier queued for execution." is very (maybe too) persistent!"
### Describe the Issue
I am not entirely sure if this is a validation layer issue or something strange on my side. Fact is I have tried about everything and  the following validation error still remains. I am running out of ideas ...
### Valid Usage ID

### Environment:
 - OS: Windows 10
 - GPU: GTX 980M
 - SDK or header version if building from repo: **1.2.176.1**
 - Options enabled (synchronizat

[2021-06-03 13:11] #2854 closed

[2021-06-03 15:46] jeremyg-lunarg commented on #2851
Thanks I think I can work with this. Looking at the full history of the image that got the error will be possible in this dump and that's what I need to start with.

[2021-06-03 16:18] ncesario-lunarg commented on #2858
Sounds good, thanks for the further investigation! Please re-open if you're still seeing this problem after the issue in piglit is resolved.

[2021-06-03 16:18] #2858 closed

[2021-06-03 17:34] ncesario-lunarg commented on #2862
Thanks for the issue @Xeais, is there any chance you could provide a code sample? If there is an issue in the validation layers, we'll need that to create a test case to validate the fix. Vulkan synchronization is exceedingly tricky...

[2021-06-03 20:54] #2855 closed

[2021-06-03 21:32] jeremyg-lunarg commented on #2851
I was able to write a test case to reproduce this problem.  Working on a fix.

[2021-06-03 21:41] Xeais commented on #2862
The whole project isn't particularly small, but I could lay out the parts relevant to the problem.

[2021-06-03 22:53] ncesario-lunarg opened #2866 "Enable -Wconversion"
#2857 pointed out some implicit conversion issues. These issues should be addressed and `-Wconversion` added to the standard build flags.

[2021-06-04 08:15] samuelig opened #2867 "[Improvement] Warn if the application sets wait/signal semaphore pointers but the respective count is zero in VkSubmitInfo"
**Describe the situation in which you encountered the missing validation**
Issue description:

On CTS, we have found a tests that [was setting the wait semaphore pointer but wrongly setting its count value to zero](https://github.com/KhronosGroup/VK-GL-CTS/blob/c25238228ea42bbe9f508da1a765dbe224fb775c/external/vulkancts/modules/vulkan/synchronization/vktSynchronizationOperationSingleQueueTests.cpp

[2021-06-04 14:29] jeremyg-lunarg commented on #2851
After looking into this further, I think validation is working as it should. There's a specific statement about this case in the [renderpass chapter](https://www.khronos.org/registry/vulkan/specs/1.2/html/vkspec.html#renderpass) of the vulkan specification:

These 2 changes to CTS might also be of interest:
https://github.com/KhronosGroup/VK-GL-CTS/commit/3b7a9eb53d78e3d0fe7967a5560b57e62d167291
h

[2021-06-04 15:38] ncesario-lunarg commented on #2867
Thanks @samuelig, I'm wondering if this maybe belongs as a "best practice," as it looks like having the count == 0 with a non-null pointer _is_ valid according to the spec?

@Tony-LunarG @jeremyg-lunarg any thoughts?

[2021-06-04 15:41] mbechard commented on #2851
Right, the 'check' itself is correct. The issue is the renderpass has caused an automatic transition of all of those layers, but the validations code isn't tracking those changes, and thus the check is failing.

[2021-06-04 15:52] Tony-LunarG commented on #2867
I'd agree with Best Practices - we try not to put warnings or things that aren't specifically VUID violations into validation.  Also, it could be valid, intentional usage if the code wants to leave the pointers in place for future use, but wants the implementation to ignore them on one particular call.

[2021-06-04 16:12] jeremyg-lunarg commented on #2867
Yeah that seems like the best approach to me too.

[2021-06-04 16:55] ncesario-lunarg commented on #2867
Thanks guys, I'll leave this open for now and aim to add it to best practices.

[2021-06-06 03:33] souravpNV commented on #2767
@AaronHaganAMD I tried locally with your deferred pipeline builds commit,   I  see few validation warnings but no errors, I am using the latest public SDK.

I used  deqp-vk.exe --deqp-validation=enable --deqp-case=dEQP-VK.ray_tracing_pipeline.large_shader_set.gpu.64

[2021-06-07 06:27] samuelig commented on #2867
Yeah, Best Practices seems like a right place to me. Thanks everybody!

[2021-06-07 10:20] llyzs opened #2871 "OpImageRead validation error: Expected Result Type to have 4 components"
According to OpImageRead section in the SPIR-V spec: "Result Type must be a scalar or vector of floating-point type or integer type. It must be a scalar or vector with component type the same as Sampled Type of the OpTypeImage (unless that Sampled Type is OpTypeVoid)." which means OpImageRead can read a single scalar uint or float.

Following is a simplified sample shader, the bound image being re

[2021-06-07 14:37] sfricke-samsung commented on #2871
This is a `spirv-val` error https://github.com/KhronosGroup/SPIRV-Tools/blob/f0c96f40c79d03e42688aae48642a4759a5e376f/source/val/validate_image.cpp#L1492

The validation layers just run `spirv-val` here (probably could be labeled better that is what is doing)

[2021-06-07 14:51] sfricke-samsung commented on #2871
So seems this is a recent change to `spirv-val` in the 1.2.62.0 SDK doesn't throw the error. Regradless, this should be moved to a SPIRV-Tools issue

[2021-06-07 14:58] sfricke-samsung commented on #2871
Sorry, this is not actually an issue

The Result Type operand of any OpImageRead or OpImageSparseRead instruction must be a vector of four components

This is a Vulkan restriction on top of SPIR-V and I recently added the validation in `spirv-val` (but the system to pipe the VUID through is not set up)

[2021-06-07 15:13] ncesario-lunarg commented on #2871
Thanks for the clarification @sfricke-samsung! Closing as it looks like this is not a validation layer issue.

[2021-06-07 15:13] #2871 closed

[2021-06-08 17:35] jeremyg-lunarg commented on #2851
With a fixed up test case and a bunch of bisecting I was able to reproduce the problem and then find that it was fixed by 884579ec2928a26cffac0573101f48efe82d87de, which merged shortly after the 1.2.176.1 SDK.

Oddly, 884579ec2928a26cffac0573101f48efe82d87de was a fix for 5363130b75709e96e75cfecb75750c7ffe458b3e which is also NOT in the 1.2.176.1 SDK.  I suspect that the changes in #2352 exposed t

[2021-06-08 20:03] #2851 closed

[2021-06-09 04:48] smokesugar opened #2876 "Crash on VkRenderPassBeginInfo when and pClearValues is nullptr."
**Issue**
When VkRenderPassBeginInfo::pClearValues is nullptr, the validation layer will throw an exception even if the load op is VK_ATTACHMENT_LOAD_OP_DONT_CARE .

**Valid Usage ID**
No validation messages posted.

**Environment:**
 - OS: Windows 10 x64
 - GPU: NVIDIA GTX 1060 3GB
 - SDK or header version if building from repo: 1.2.176.1

[2021-06-09 15:36] ncesario-lunarg commented on #2876
Thanks for the issue @smokesugar. Can you please point to where in the spec this is stated? The only thing I'm seeing is that there _should_ (_must_? The spec doesn't seem clear) be a [clear value for every attachment](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/chap8.html#VkRenderPassBeginInfo), but I don't see anything stating that pClearValues can be null.

[2021-06-09 17:46] kvark commented on #2502
Looks to be fixed in vvl-1.2.170.0. Thank you!

[2021-06-09 17:46] #2502 closed

[2021-06-10 03:54] sfricke-samsung commented on #2876
By chance what is your `clearValueCount` because even if you `pClearValues` of `nullptr` most layers/drivers will still loop `clearValueCount`

granted the spec seems to be lacking the implicit VU text saying

[2021-06-11 07:10] DominikWitczakAMD opened #2878 "Invalid validation error reported when querying video queue family properties using vkGetPhysicalDeviceQueueFamilyProperties2KHR()"
Consider VkQueueFamilyProperties2 struct, to which VkVideoQueueFamilyProperties2KHR struct has been chained. The latter's videoCodecOperations field is set to 0, because we're expecting the implementation to fill the said struct with data at vkGetPhysicalDeviceQueueFamilyProperties2KHR() call time.

However, when calling vkGetPhysicalDeviceQueueFamilyProperties2KHR(), VL taken from SDK 1.2.176 rep

[2021-06-11 14:10] mark-lunarg commented on #2878
This looks to be an implicit VUID (auto-generated from the Vulkan registry/XML) so unless there's a problem with the VVL codegen it may need to instead be addressed in the [Khronos Vulkan private repo](https://gitlab.khronos.org/vulkan/vulkan) or the [Khronos Vulkan-Docs public repo](https://github.com/KhronosGroup/Vulkan-Docs).

[2021-06-11 15:26] ncesario-lunarg commented on #2878
Yep, thanks for @mark-lunarg!

I agree this doesn't make sense for a query API like `vkGet*Properties`; though, I think the VL are technically following the "letter of the law here."

My guess is that the `returnedonly` attribute needs to be added to the `VkVideoQueueFamilyProperties2KHR` struct in [vk.xml](https://github.com/KhronosGroup/Vulkan-Docs/blob/main/xml/vk.xml):
[code]
_IF_ that is inde

[2021-06-12 05:14] smokesugar commented on #2876
I must be mistaken, I assumed the clear values were irrelevant if the load op was not VK_ATTACHMENT_LOAD_OP_CLEAR.

[2021-06-13 12:43] Xeais commented on #2862
@ncesario-lunarg Code is here - an update, too?

[2021-06-13 13:34] ncesario-lunarg commented on #2862
Thanks @Xeais! Sorry, the previous notification slipped by me. I don't see anything glaringly obvious, but I'll get to this more on Monday.

[2021-06-13 13:47] Xeais commented on #2862
@ncesario-lunarg Very well, thank you for the fast response and your Monday-time.

[2021-06-14 12:36] ncesario-lunarg commented on #2876
Going to close this for now as it's not clear to me that a change is needed for the validation layers, though perhaps some updated language in the spec might help here.

[2021-06-14 12:36] #2876 closed

[2021-06-14 13:28] ncesario-lunarg commented on #2878
Closing this for now as this looks like a spec change is needed rather than a change to the validation layers. @DominikWitczakAMD please re-open if you feel otherwise.

[2021-06-14 13:49] #2878 closed

[2021-06-14 13:53] ncesario-lunarg commented on #2866
Turns out `-Wconversion` is more of a "meta flag" on some compilers, with some of the enabled flags being more pedantic than we want. Leaving this issue open to investigate all warnings when enabling all flags "under" `-Wconversion`.

[2021-06-14 14:53] ncesario-lunarg commented on #2862
After re-reading some of the spec regarding [queue ownership](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/chap7.html#synchronization-queue-transfers), I'm not sure queue ownership is being transferred correctly here, which could be part of the problem. Is the VUID happening in both the "multi-queue" _and_ "single-queue" cases?

It looks like `BeforeTransfer` is meant to trans

[2021-06-14 15:10] jeremyg-lunarg commented on #2862
I think `BeforeTransfer ` is being called in the wrong place. It should be after the last command on the transfer queue that uses the buffers.  That is:
[code]

Also you'll need similar GRAPHICS -> TRANSFER barriers before the copy operations if the buffers are constantly circulating between the 2 queues. This would happen at the original `BeforeTransfer `call site. I think I'm just rewording what

[2021-06-16 21:54] krOoze opened #2888 "Sus QFOT pipeline stage validation code"
This code handling queue family ownership transfer looks suspicious to me:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/ae3d0c3217316cd0364d4b9069d0e2afac5957b1/layers/core_validation.cpp#L7781..L7786

[code]

Validation of stage flags should not be skipped. Only access flags checking should be skipped on the particular struct that includes QFOT.

[2021-06-16 22:29] randomascii opened #2889 "chassis.cpp is taking 6-11 minutes to compile"
**Describe the Issue**
While working on Chrome I recently noticed that chassis.cpp recently started taking 6-11 minutes to compile on Windows. The exact time depends on the compiler flags and on how busy the machine is. On optimized builds using clang-cl the compile time for just this file is about six minutes when it gets a core to itself, and about eleven minutes when it is sharing a core with o

[2021-06-17 14:31] ncesario-lunarg commented on #2889
Thanks for the PR @randomascii, could you please share the compiler flags you're using? 6-11 minutes sounds about how long the entire build should take :).

chassis.cpp is [generated](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/ae3d0c3217316cd0364d4b9069d0e2afac5957b1/scripts/layer_chassis_generator.py#L63) and could be broken up into multiple cpp files, but it would require some

[2021-06-17 15:54] randomascii commented on #2889
When I'm doing a full Chrome build the cost of compiling this file usually manages to get overlapped with enough other steps (I use our build farm and get 1,000 way parallelism) to not affect things too much, but if something triggers a rebuild of chassis.obj when not much is going on it can make the incremental rebuild take ~ten times longer than it might otherwise. On a recent build chassis.obj

[2021-06-17 17:36] jeremyg-lunarg commented on #2889
seems like making chassis_dispatch_helper.h into a .cpp would be pretty easy and would at least get the really slow function into its own file that could churn in parallel with others.

[2021-06-17 19:37] jeremyg-lunarg commented on #2888
It looks like the code ended up this way because of earlier wording in the spec about the acquire and release barriers needing to be 'the same'.   (for context: https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/issues/2015)

I can't find anything in the current spec which says that the stage flags should be ignored.  So, I'm going to  run some tests here with this checking (and the

[2021-06-17 21:29] mbechard commented on #2441
This is coming up as a bigger issue for me. Using multiple queues with out-of-order submission via timeline semaphores with the debug layers is super prone to false positives. I've worked around it by manually doing wait() operations to serialize my queue submission to be in order of dependency, however this causes deadlocks if the multi-queue submission occurs within the same thread.
I would assu

[2021-06-17 21:39] #2645 closed

[2021-06-17 21:50] jeremyg-lunarg commented on #2832
#2824 is now merged

[2021-06-18 03:09] randomascii opened #2896 "vulkan.h is quite expensive on Windows"
**Describe the Issue**
I am working on the Chromium bug crbug.com/796644 to try to reduce how many of our translation units include Windows.h. This mostly involves avoiding including Windows.h from header files as much as possible because this can pass the considerable cost (and namespace pollution - #define GetMessage GetMessageW, and so much more) on to many translation units.

While working on

[2021-06-18 05:10] ncesario-lunarg commented on #2896
I think this is "by design," but that is probably more of a Vulkan-Docs question.

This again is probably a question for Vulkan-Docs (maybe Vulkan-Headers?).

I _think_ (I very well could be wrong), that, as you alluded to, this is the common use case, and therefore should be tested. If my assumption is incorrect and/or the user recommendation changes in the future, then I don't see a problem with

[2021-06-18 14:29] jeremyg-lunarg commented on #2888
My test change didn't seem to affect validation of our game replays. I was slightly worried we'd get a flood of VUID-vkCmdPipelineBarrier-*-4098 errors but we didn't.  The [CTS test cases for qfot](https://github.com/KhronosGroup/VK-GL-CTS/blob/master/external/vulkancts/modules/vulkan/synchronization/vktSynchronizationOperationMultiQueueTests.cpp#L334) also look like they won't be affected.

[2021-06-18 14:42] christophe-lunarg opened #2897 "Review of the Validation layer manifest"
Looking at the https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/json/VkLayer_khronos_validation.json.in file some issues appears:

1. There is no `introduction` property in the `layer` property. This introduction is meant for a parameter describing the purpose of layer. It's inserted at the beginning of the generated HTML file when present.

Here is an idea for it:
[code]

[2021-06-18 15:05] krOoze commented on #2888
If they did, that would also be a good thing. Would mean the layers do their job and found invalid usages for some users...

[2021-06-18 15:26] jeremyg-lunarg commented on #2897
how does Android fit in to the platform scheme? Is it just Linux?

[2021-06-18 15:31] jeremyg-lunarg commented on #2888
I agree, but if there were suddenly thousands of new errors we'd need to be a bit more careful about rolling it out and warning people. There were validation unit test cases that I had to update to remove errors though.

[2021-06-18 18:28] sfricke-samsung commented on #2896
I don't work with Windows at all, but I remember seeing this a while ago, maybe its useful, otherwise ignore me 😅
https://github.com/zeux/volk/blob/master/volk.h#L32-L34

[2021-06-18 18:57] randomascii commented on #2896
Chromium uses a similar tactic to allow some includes of Windows.h to be removed. Our "light" version can be seen here:

https://source.chromium.org/chromium/chromium/src/+/main:base/win/windows_types.h;l=9?q=windows_types.h&sq=

Even with this header file being used in numerous places in Chromium a recent analysis of our Windows builds have showed that Windows.h counts for 40% of the total size (

[2021-06-18 19:39] karl-lunarg opened #2899 "Missing check for VkSpecializationMapEntry"
**Describe the situation in which you encountered the missing validation**
Issue description:  My application had an error where it added an errant `VkSpecializationMapEntry` to a list that was set to all 0 values (for `constantID`, `offset`, and `size`).  The layer did not detect this problem unless I compiled the layer as Debug, when it then fired an assert.

https://github.com/KhronosGroup/Vulk

[2021-06-20 13:00] Xeais commented on #2862
@ncesario-lunarg, @jeremyg-lunarg I have updated the code above (https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2862#issuecomment-854200032) with the changes I made. Unfortunately, the error has not really changed:

[2021-06-21 14:38] nyorain opened #2900 "No error on recording & submitting command buffers with freed VkDeviceMemory"
When destroying VkDeviceMemory, all command buffers using resources bound to that memory are moved to invalid state, as specified in section 3.3.1 of the Vulkan spec. The validation layer (tested version 1.2.170, windows) does not report an error if we continue to record or even submit a command buffer using such resources.

The tested case: performing a vkCmdPipelineBarrier with a VkImageMemoryBa

[2021-06-22 16:12] ncesario-lunarg commented on #2896
Thanks for all the info @randomascii @sfricke-samsung. It's not clear to me whether or not the tests should change, but I will investigate doing something similar for the validation layer code.

[2021-06-22 16:37] Xeais commented on #2862
@ncesario-lunarg, @jeremyg-lunarg | Is there any news concerning this, slowly but surely annoying, case?

[2021-06-22 16:42] jeremyg-lunarg commented on #2897
How do we set the environment variable that goes with a setting?  There are several in VVL but the example html output doesn't show them:
[code]

[2021-06-22 16:59] ncesario-lunarg commented on #2897
<details>
<summary>Generated HTML for reference</summary>
<h1 id="top"><a href="https://vulkan.lunarg.com/doc/sdk/latest/windows/khronos_validation_layer.html">VK_LAYER_KHRONOS_validation</a>
</h1>
<h3>Khronos Validation Layer</h3>
<h2><a href="#top">Layer Properties</a></h2>
<ul>
	<li>API Version: 1.2.180</li>
	<li>Implementation Version: 1</li>
	<li>Layer Manifest: VkLayer_khronos_validation.jso

[2021-06-22 17:51] jeremyg-lunarg commented on #2897
"ANDROID" is just another option in the [schema](https://github.com/LunarG/VulkanTools/blob/master/vkconfig_core/layers/layers_schema.json), should we include ANDROID for this layer?

[2021-06-22 17:54] KarenGhavam-lunarG commented on #2897
Yes, we should include Android.

And macOS needs to be scrubbed because not all features work on macOS

[2021-06-22 19:15] jeremyg-lunarg commented on #2900
It looks like we're not adding images or buffers into CMD_BUFFER_STATE::object_binding for barrier commands. This should be pretty easy to fix.

[2021-06-22 22:11] llatta commented on #2521
This is a pretty frequent bug we encounter. Anyone know how to fix it?

[2021-06-22 22:12] jeremyg-lunarg commented on #2862
Sorry, I don't see anything else obvious to try based on what you've provided.  Is it possible for you to send us a gfxreconstruct replay file, or something else that would let us reproduce and debug the problem on our end?

[2021-06-22 22:35] ncesario-lunarg commented on #2862
I may just be parsing this wrong, but I still don't quite understand the queue family ownership transfer here, specifically with the `(src|dst)QueueFamilyIndex` fields for the memory barriers. It looks like something similar to the following is currently happening:
[code]

i.e, the src family index appears to _always_ be transfer and the dst appears to _always_ be graphics. This seems wrong. I wou

[2021-06-22 23:29] ncesario-lunarg commented on #2521
Looks like this might be the same as #1458?

[2021-06-22 23:38] #2831 closed

[2021-06-23 17:32] ncesario-lunarg opened #2906 "Add VK_KHR_portability_subset automated testing"
It is possible to test the `VkPortabilitySubsetTest`s via the mock ICD and devsim. This should be added to either internal CI or Github Actions.

[2021-06-23 20:11] #2888 closed

[2021-06-24 08:18] quehuo01 opened #2909 "Bug: DescriptorSet update of multiple bindings with one update is incorrect"
**Describe the Issue**
The bahavior of the layers are incorrect when updating a DescriptorSet with multiple bindings.
Our example is (Binding list):
1. type: UNIFORM_STORAGE_BUFFER stage:compute descriptorCount: 16
2. type: SOMETHING_ELSE stage:compute descriptorCount: 0
3. type: UNIFORM_STORAGE_BUFFER stage:compute descriptorCount: 16

A descriptor set update on the binding 1 with a descriptor co

[2021-06-24 14:15] Kangz opened #2910 "Error in the tracking for VUID_Core_DrawState_InvalidImageLayout"
I think there's an issue in the tracking of the required image layout. CC @jeremy-lunarg since this is similar to #2793 (and is part of the same [Dawn issue](https://bugs.chromium.org/p/dawn/issues/detail?id=785), we just didn't finish fixing it previously).

**Environment:**
 - OS: macOS (doesn't matter)
 - GPU: Swiftshader
 - SDK or header version if building from repo: f12691a7fca240719ae0be8c6

[2021-06-25 05:41] #2899 closed

[2021-06-25 06:56] samuelig opened #2912 "Crash when dereferencing VkGraphicsPipelineCreateInfo->pColorBlendState* when it should be ignored"
**Describe the Issue**

VkGraphicsPipelineCreateInfo->pColorBlendState* should be ignored
if the pipeline has rasterization disabled or if the subpass of
the render pass the pipeline is created against does not use
any color attachment.

https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/vkspec.html#VkGraphicsPipelineCreateInfo

**Valid Usage ID**
If applicable, please include the v

[2021-06-25 06:56] samuelig commented on #2912
I'm going to submit a PR fixing this.

[2021-06-25 18:30] #2912 closed

[2021-06-26 19:28] fctorial opened #2915 "Command buffer is reported as pending when it should be completed instead."
**Valid Usage ID**
    VUID-vkResetCommandBuffer-commandBuffer-00045
    VUID-vkFreeCommandBuffers-pCommandBuffers-00047

**Environment:**
 - OS: nixos
 - GPU: amd rx580
 - Options enabled (synchronization, best practices, etc.): All available options

**Additional context**

In my application, I have allocated a command buffer for each swapchain image. This is what the rendering function of this

[2021-06-26 21:28] fctorial opened #2916 "How to load custom validation layers build"
**Describe the Issue**
I would like to know how to load a custom build of this repository on a linux system. I've compiled the 1.2.182 release successfully. I've tried loading it by adding the resulting `so` file to `LD_PRELOAD` but the program fails with this error message:

[code]

[2021-06-28 15:14] ncesario-lunarg commented on #2916
Thanks for the issue @fctorial, unfortunately I haven't encountered that particular error, but if you're doing custom builds of this (VVL) repo, then usually setting the following environment variables is all that's necessary:
- `VK_LAYER_PATH` = the build output directory
- `VK_INSTANCE_LAYERS` = whatever layers you're interested
- If you have the SDK installed, make sure you `unset VULKAN_SDK`.

[2021-06-28 15:19] Tobski opened #2918 "[Best Practices] Validate invalid access/layout combinations for VkImageMemoryBarrier{2KHR}"
**Describe the situation in which you encountered the missing validation**
There are a number of situations in which the set of access flags in the source/destination mask make no sense with an old/new layout in an image memory barrier. While these are not invalid by the spec, it would be helpful to check that the access mask matches up with the specified layout and issue a warning if they don't m

[2021-06-28 17:29] #2900 closed

[2021-06-28 21:43] jeremyg-lunarg commented on #2910
I can reproduce this with the dawn unit test, working on a fix.

[2021-06-28 23:31] fctorial commented on #2916
@ncesario-lunarg I tried this and this resulted in one error from the validation layer system followed by a segmentation fault:

[code]

The segmentation fault happens when I do an operation that would usually generate a validation message, like freeing a resource before the device.

[2021-06-29 06:52] Kangz commented on #2910
Thank you for taking the time to look at building the unittest!

[2021-06-29 12:16] rg3igalia opened #2921 "Unexpected VUID-vkCmdDraw-None-02859"
**Describe the Issue**
There's a CTS test currently in review that produces VUID-vkCmdDraw-None-02859 unexpectedly in what looks like a Validation Layers bug.

The test uses VK_EXT_vertex_input_dynamic_state and a pipeline created with the VK_DYNAMIC_STATE_VERTEX_INPUT_EXT dynamic state. It proceeds as follows:

- Bind pipeline with that dynamic state.
- vkCmdSetVertexInputEXT to set vertex inputs

[2021-06-29 13:24] Kangz opened #2922 "Missing validation that integer varyings must be decorated with "flat" in SPIR-V."
**Describe the situation in which you encountered the missing validation**
Running some of the WebGPU CTS that use integer "varyings". Our SPIR-V was missing the Flat decoration for the variables.

**Valid Usage IDs requested**
No VUID but it is this excerpt from the Vulkan spec:

[2021-06-29 14:05] karl-lunarg commented on #2916
It may be productive to go after the cause of the undefined symbol.  The validation layer uses a SPIRV-Tools library which is built as one of the dependencies of the validation layer.  It is built as a static library and linked directly into the layer shared library (so file).

Your error message suggests that the validation layer is expecting to find a symbol in the SPIRV-Tools library that isn't

[2021-06-29 16:36] Xeais commented on #2862
@ncesario-lunarg, @jeremyg-lunarg | I have updated the code (https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2862#issuecomment-854200032) once more; Nate's last post was very useful.

First, the good news: The release barrier problem is finally gone! Unfortunately, another problem emerged (the two errors are closely linked):

The HERE-comment in the code above marks the position tha

[2021-06-29 19:01] fctorial commented on #2916
I cloned the repository again, checked out latest 1.2.182, ran the four commands in build.md, but I'm still getting the same error message.

[2021-06-29 20:03] gg8345 commented on #1661
The bug is still present in the latest version of the validation layer :

These lines should have been modified too ?

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/core_validation.cpp

[code]

[2021-06-29 20:41] ncesario-lunarg commented on #2916
@fctorial which VVL commit are you checking out? There is the `v1.2.182` _tag_, and the `sdk-1.2.182` _branch_. If your goal is to effectively "build the SDK VVL from source," then I believe the _branch_ `sdk-1.2.182` is what you want to be using. Though, I just tried building `v1.2.182` and that built and ran the tests fine for me as well.

A couple sanity checks that might be worth doing:
[code]

[2021-06-29 21:18] ncesario-lunarg commented on #2862
for 00049, it looks like you are trying to begin recording commands to a command buffer that is "in flight." i.e., the line immediately preceding the `HERE` comment submits the command buffer, and you have to wait for that command buffer to finish before you start recording to it again. From 6.1 [Command Buffer Lifecycle](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/chap6.html

[2021-06-29 21:24] sarahM0 opened #2925 "Request for build update to header 1.2.183"
**Describe the Issue**
This layers name is changed in the new version of vulkan-headers and causes a compilation error:
from: VK_STRUCTURE_TYPE_SUBPASSS_SHADING_PIPELINE_CREATE_INFO_HUAWEI
to: VK_STRUCTURE_TYPE_SUBPASS_SHADING_PIPELINE_CREATE_INFO_HUAWEI

this is causing a compilation errors when the top of tree of all vulkan dependencies is pulled.
Please update to the new version of vulkan-heade

[2021-06-29 21:38] fctorial commented on #2916
No, they were coming from my global install of glslang:

[code]

The build generates working output if I uninstall the package.

[2021-06-29 21:59] ncesario-lunarg commented on #2916
Closing as it looks like this is resolved. Please re-open if that is not the case.

[2021-06-29 21:59] #2916 closed

[2021-06-30 09:22] Xeais commented on #2862
@jeremyg-lunarg, @ncesario-lunarg

The reason for the break up is this:

---

That's not really what I wanted to hear. 😉

What would you recommend for such a case? Could you provide a short code example?

[2021-06-30 12:03] null77 commented on #2925
+1 , causing compile errors when integrating with ANGLE as well.

[2021-06-30 20:28] ncesario-lunarg commented on #2925
There are some problems with updating to 1.2.183 and synchronization validation. Tentatively assigning @jeremyg-lunarg (for the synchronization issues) and @mikes-lunarg (for general header update issue) for now.

[2021-06-30 21:00] nym9 opened #2927 "VK_PRESENT_MODE_FIFO_RELAXED_KHR vs UNASSIGNED-BestPractices-vkCreateSwapchainKHR-suboptimal-swapchain-image-count"
**Describe the Issue**
VK_PRESENT_MODE_FIFO_RELAXED_KHR doc says:

But while using FIFO_RELAXED with two images a warning is emitted:

Isn't there a contradiction?

**Valid Usage ID**
UNASSIGNED-BestPractices-vkCreateSwapchainKHR-suboptimal-swapchain-image-count(WARN / PERF): msgNum: 1698912437 - Validation Performance Warning: [ UNASSIGNED-BestPractices-vkCreateSwapchainKHR-suboptimal-swapchain-i

[2021-06-30 21:22] ncesario-lunarg commented on #2862
I think that VUID primarily (only?) shows up if you try to submit a command buffer before calling `vkEndCommandBuffer`; not 100% sure though. I think if you effectively just get rid of the first transfer queue submission, that should go away. i.e., something like:
[code]

As far as examples go, it might be a good idea use the following resources to post some questions:
- https://www.reddit.com/r/v

[2021-06-30 21:22] #2862 closed

[2021-06-30 21:40] mikes-lunarg commented on #2925
@jeremyg-lunarg I've got a workaround for the header update. I'll create a separate issue with more details on the sync problem and tag you.

[2021-06-30 22:51] #2925 closed

[2021-06-30 23:00] mikes-lunarg opened #2931 "Re-enable VK_HUAWEI_subpass_shading when it is ready"
VK_HUAWEI_subpass_shading is hard-coded off in the following files:
- scripts/generate_source.py
[code]
- scripts/sync_val_gen.py
[code]

Re-enable the extension in this repo once the upstream issues have been resolved

[2021-07-01 15:38] sfricke-samsung commented on #2922
It is, ` VUID-StandaloneSpirv-Flat-04744`

Also there is already a PR for this https://github.com/KhronosGroup/SPIRV-Tools/pull/4293

There is an internal GLSL/Glslang blocking it, but the logic in `spirv-val` is there handling this

[2021-07-01 15:45] Kangz commented on #2922
Thanks, feel free to close this issue.

[2021-07-01 16:48] #2922 closed

[2021-07-01 17:41] Tony-LunarG commented on #2897
From 7/1 engineering review:

In "Layer Settings Overview":
- Printf to stdout should not be for MacOS
- Verbose should be Printf Verbose and should not be for MacOS
- Printf buffer size should not be for MacOS
- Check Out of BOunds should be GPU-AV Check out of bounds and should not be for MacOS
- Check Draw Indirect Count Buffers and firstInstance values should mention GPU-AV and should not be f

[2021-07-01 18:32] #2897 closed

[2021-07-01 21:52] aeubanks commented on #2889
I tried wrapping the BUILD_DISPATCH_VECTOR macro in a lambda and that cuts down the time to build chassis.cpp from 2m35s to 1m25s. Otherwise ValidationObject::InitObjectDispatchVectors() is basically a 40000 line function, which some compilers don't do well with.

Would you be open to a change like that?

For reference, currently the code is something like
[code]

[2021-07-01 22:05] randomascii commented on #2889
A lambda instead of a macro sounds like an improvement even without the build-speed improvement. Does using a lambda also result in a smaller .obj file? Currently chassis.obj is ~33 MB (release 64-bit build on Windows) and a lot of that could be code replication due to the macro which I assume the lambda avoids.

[2021-07-02 04:04] aeubanks commented on #2889
hmm, the size actually increases with my patch from 14.2MB to 14.5MB. Somehow the typeid checks were previously getting optimized away, but now they're not.
But my newer better patch actually makes the time go from 2m34s to 33s. The previous iteration was still creating 1000 versions of the function, now we just have 1 function.

[2021-07-02 08:59] nisse-work opened #2932 "Validation layer crash for compute pipeline"
Hi, I've started to see crashes when running a compute pipeline with validation (used to work a few weeks ago, but not sure if problem appearing now is due to recent changes in the validation layers, or something unrelated on my side). My application crashes in a call to vk::CommandBuffer::dispatch. It defines a compute pipeline with two descriptors, a descriptor of type
vk::DescriptorType::eCombi

[2021-07-02 16:10] randomascii commented on #2889
I noticed that aeubanks' build times are much smaller than mine and I wondered if that might be related to optimization, since I have been testing on a release (optimized) build. I added "#pragma clang optimize off" and the compile time dropped from 420 s to 54 s. So, that's another option I guess, if this code isn't performance critical.

That change made the .obj file grow from 33 MB to 42 MB.

[2021-07-06 10:54] jengelh opened #2941 "FTBFS/link error 1.2.182 on Linux"
Building 1.2.182 on Linux fails because the link stage is forgetting to add vk_layer_config.cpp.o into the library libVkLayer_khronos_validation.so.

Setup:
[code]

Final parts of build:
[code]

**Environment:**
 - OS: openSUSE Tumbleweed 20210703
 - GPU: -
 - SDK or header version if building from repo: vulkan-headers-1.2.182.0 spirv-headers@dafead1765 spirv-tools-2021.1 glslang-11.5.0
 - Options

[2021-07-06 13:27] TLaviron opened #2942 "Image Operand Offset can't be used with OpImageFetch"
I am getting this vaildation error after upgrading the SDK:

Validation Error: [ UNASSIGNED-CoreValidation-Shader-InconsistentSpirv ] Object 0: handle = 0x2ad1122c048, type = VK_OBJECT_TYPE_DEVICE; | MessageID = 0x6bbb14 | SPIR-V module not valid: [VUID-StandaloneSpirv-Offset-04663] Image Operand Offset can only be used with OpImage*Gather operations
  %140 = OpImageFetch %v4float %127 %136 Offset

[2021-07-06 15:06] sfricke-samsung commented on #2942
This was added in `spirv-val` https://github.com/KhronosGroup/SPIRV-Tools/pull/4118

So correct, the SPIR-V spec doesn't restrict this, but the Vulkan spec does

Which is where this error is coming from

[2021-07-06 15:13] sfricke-samsung commented on #2941
I know the Travis CI uses `GNU 9.3.0` and not sure if the `GNU 11.1.1` is when the error is being introduced

[2021-07-06 17:24] ncesario-lunarg commented on #2941
I can't reproduce this using GCC 11.1.1. The SPIR-V libs look a little suspicious because 1) they are shared libraries and we usually link the SPIR-V libraries statically and 2) they are coming from `/usr/lib`, not `../external/...`. How are you generating the build project?

[2021-07-06 17:27] ncesario-lunarg commented on #2942
Thanks for the clarification @sfricke-samsung. I'm going to close this as it looks like VVL was working as expected here.

[2021-07-06 17:27] #2942 closed

[2021-07-06 17:37] Vincent-P opened #2943 "[Synchronization] Bindless textures support ?"
**Describe the Issue**
Hello,
It isn't clear to me if bindless is supported or not.
I am using one big descriptor array for COMBINED_IMAGE_SAMPLER descriptors, and I access them with non-uniform index.
Right now I have only one shader drawing imgui onto the swapchain. Because all of the images are bound in the bindless set, I am getting a READ_AFTER_WRITE hazard on the swapchain even though the sh

[2021-07-06 17:39] jengelh commented on #2941
I thought I had posted this (see `/usr/bin/cmake /home/abuild/rpmbuild/BUILD/Vulkan-ValidationLa....` above), or did you mean something different? (spirv's build instead of validationlayers's build?) Nonwithstanding the suspicious shared nature, the same approach was ok with 1.2.176.0.

[2021-07-06 17:42] jengelh commented on #2941
https://build.opensuse.org/package/view_file/openSUSE:Factory/vulkan-validationlayers/ver.diff?expand=1 is one of the modifications we did.

[2021-07-06 18:29] ncesario-lunarg commented on #2941
Yep, sorry. I missed it at the top. I can reproduce the error with your generate command + additional `-D...INSTALL_DIR` arguments to specify valid installation directories for Vulkan headers, spirv-tools, etc. However, I am not seeing a "[the link stage] forgetting to add vk_layer_config.cpp.o into the library" problem. Rather, I'm noticing the linker take an _incredibly long_ time, eventually fo

[2021-07-06 18:46] ncesario-lunarg commented on #2943
Thank you for the issue @Vincent-P, by "bindless textures," are you referring to a particular extension (e.g., `VK_EXT_descriptor_indexing`?)?

Would you be able to provide some sample code to reproduce the issue?

FYI @jeremyg-lunarg.

[2021-07-06 18:53] Vincent-P commented on #2943
Yes I am indeed referring to this extension.
I am creating the set with the following flags: `VK_DESCRIPTOR_BINDING_PARTIALLY_BOUND_BIT | VK_DESCRIPTOR_BINDING_UPDATE_AFTER_BIND_BIT | VK_DESCRIPTOR_BINDING_UPDATE_UNUSED_WHILE_PENDING_BIT`.

My actual code is quite complex but I can try to reproduce this error on a simpler example.

[2021-07-06 19:13] ncesario-lunarg commented on #2943
:+1: if it's difficult to "isolate" the code causing the error, would you be able to submit an API trace/replay file?

[2021-07-06 19:34] Vincent-P commented on #2943
Im not sure what kind of file you are expecting, I guess a gfxreconstruct file is ok?
[gfxrecon_capture_trim_trigger_20210706T213038.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/6772393/gfxrecon_capture_trim_trigger_20210706T213038.zip)

[2021-07-06 19:39] jeremyg-lunarg commented on #2943
gfxreconstruct is great.  The small number of errors you get could be the result of hitting the duplicate message limit, which defaults to 10. I'll give your capture file a try and see if I can figure out what is happening.

[2021-07-06 19:59] jengelh commented on #2941
Guess my shared lib patch is to blame.

[code]

1.2.176 did use -fvisibility=hidden already, it just did not show up because `layers/core_validation.cpp` only recently started using GetEnvironment.

[2021-07-06 19:59] #2941 closed

[2021-07-06 20:04] #2889 closed

[2021-07-06 20:05] jengelh commented on #2941
Had to add VK_LAYER_EXPORT to GetEnvironment.

[2021-07-06 21:34] sfricke-samsung opened #2945 "Label (and possibly add) new image view VUIDs"
**Describe the situation in which you encountered the missing validation**
Issue description:
New Image View VUID were added in 1.2.184
https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2944/files?file-filters%5B%5D=.h#r664891877
Most should be done, just need proper labeling

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:
~~VUID-VkIm

[2021-07-06 21:38] ncesario-lunarg commented on #2945
Thanks @sfricke-samsung!

[2021-07-07 15:27] Rua opened #2947 "Confusing interpretation of vkCmdDrawIndexed spec"
**Describe the Issue**

I got the message below when attempting a `vkCmdDrawIndexed` with no index buffer bound. While it makes obvious sense that an error occurs, the message itself quotes a VUID from the spec that I would not interpret in this way. Specifically, it mentions dynamic state required by the bound `VkPipeline`.

Nothing related to an index buffer is specified when creating a pipeline

[2021-07-07 16:35] ncesario-lunarg commented on #2947
Thanks for the issue @Rua, my understanding is that there is no specific VUID for making sure there is an index buffer bound at `vkCmdDrawIndexed` time (I could be wrong; might be worth asking on Vulkan-Docs). However, there _is_ a VUID for checking whether or not the appropriate dynamic state has been set. It sounds like in your case there is no dynamic state set _and_ no index buffer bound; whil

[2021-07-07 16:35] #2947 closed

[2021-07-07 16:48] Vincent-P commented on #2943
I am able to reproduce the error on a simpler code: https://github.com/Vincent-P/vulkan-sample.
I am creating a descriptor set with the flags mentioned above, containing images from the swapchain and one I created myself.
In the fragment shader I am sampling one image in the descriptor set with a constant index. (3 points to the image I created, there is a yellow background as a result)

I get thi

[2021-07-07 19:02] jeremyg-lunarg commented on #2943
Thanks for the shorter code! I was having to do some hardware swapping to get the trace to run but I can run the shorter program and reproduce the same errors you're getting. Hopefully I'll have  more info for you soon.

[2021-07-08 05:23] ncesario-lunarg commented on #2932
I wrote a unit test to reproduce this, and indeed I notice `cb_node->active_subpasses` being null; however, I do not observe a crash. I would have expected a crash when `0x0` was de-referenced, but it appears that, since the reference is never used, a crash never occurs. Can you share your platform, compiler toolchain, etc.? I'm surprised this hasn't surfaced previously.

[2021-07-08 14:38] jeremyg-lunarg commented on #2932
This seems like the kind of thing that ASan should be good at finding.

[2021-07-08 15:20] jeremyg-lunarg commented on #2943
You are indeed hitting a limitation of how the validation layer handles bindless descriptor sets.  Currently the code is only able to tell  if the entire descriptor set is used, not if individual descriptors are. In the example shader:
[code]
Since the array index is a constant we should in theory be able to find that is the only access into the set by more thoroughly parsing the SPIRV.  But more

[2021-07-08 15:49] ncesario-lunarg commented on #2943
This seems somewhat related to #1998 (which I'm sporadically working on) as far as shader/SPIRV validation goes. I'll try to keep this in mind when going through the shader runtime validation so we can hopefully handle this case better.

[2021-07-08 16:01] Tony-LunarG commented on #2943
This almost calls for GPU Assisted Synchronization Validation, since that's how we handle those cases in VUID validation.

[2021-07-08 21:00] Tony-LunarG commented on #1661
I think that check is correct.  It's saying that if the KHR feature is enabled, the ALLOCATE_DEVICE_ADDRESS_BIT is required, but the lack of enabled_features.buffer_device_address_ext.bufferDeviceAddress in the check is appropriate since the if just the EXT feature is enabled, the requirement doesn't apply.  The layer validation test BufferDeviceAddressEXT tests this case at the very end, where th

[2021-07-09 03:15] ShabbyX opened #2950 "Incorrect validation error if API specifies a constant that doesn't exist in the shader"
Take the following situation:

- Shader defines constant with id 1
- API specifies values for constants 0 and 1 during pipeline creation

VVL attempts to validate the size of constant 0, which doesn't exist in the shader and produces an error as described [in this comment][1]. This is legal usage per the spec:

[1]: https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2903#discussion_r6641

[2021-07-09 04:45] TestingPlant commented on #1910
Using this vertex shader:
[code]
compiled with `glslc`, and code like
[code]
causes `vkCreateShaderModule` to hang for me too. Interrupting it with gdb shows that it's stuck in `PreprocessShaderBinary` from this validation layer.

If relevant, I'm using Arch Linux's package for this, more specifically `vulkan-validation-layers` on version 1.2.182-1.

[2021-07-09 11:56] zmike opened #2953 "safe_VkFramebufferCreateInfo::initialize erroneously reads pAttachments"
According to the vk spec:

Despite this, safe_VkFramebufferCreateInfo::initialize ignores VK_FRAMEBUFFER_CREATE_IMAGELESS_BIT and will attempt to index into and copy pAttachments based on the conditional `if (attachmentCount && in_struct->pAttachments)`, which can crash if the struct has not been zero-initialized.

**Environment:**
 - OS: Linux
 - GPU: Any
 - SDK or header version if building from

[2021-07-09 12:09] ncesario-lunarg commented on #2950
Assigning to @sfricke-samsung since he already has a fix :)

[2021-07-09 17:34] vuchien000 commented on #2953
safe_VkFramebufferCreateInfo :: khởi tạo đọc sai pAttachments # 2953

[2021-07-09 18:14] ncesario-lunarg commented on #1910
@TestingPlant I tried this out on a small test app, and got the following before the hang:
[code]
Do you see something like this before the hang?

[2021-07-09 22:12] Tony-LunarG commented on #2953
Fixed in #2954

[2021-07-09 22:12] #2953 closed

[2021-07-09 22:19] zmike commented on #2953
Thanks!

[2021-07-09 22:27] ncesario-lunarg opened #2955 "Investigate solution for bad specialization constant entries"
#2952 exposes a crash at https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/b5dd25f4cd9c22a017370d88420a27866ad2ee92/layers/shader_validation.cpp#L1774

- [ ] This memcpy should be removed
- [ ] Add a test case with  specialization map entry size >8
- [ ] Add test cases for single and half precision specialization constants

FYI @sfricke-samsung

[2021-07-09 22:30] sfricke-samsung commented on #2955
Test case failing pulled out

[code]

[2021-07-10 03:19] #2950 closed

[2021-07-10 13:16] vuchien000 commented on #2953
https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2954

[2021-07-12 08:22] nisse-work commented on #2932
I'm afraid I don't know the fine details of the tool chain (I saw the problem when running tests via google-internal tools, and I'm a bit clueless as to what used under the hoods).

I did try enabling ASAN though, and that produced a cleaner crash with proper error message and accurate stack trace (and I could have save myself quite some debugging time if I had done that earlier...). I'm fairly su

[2021-07-12 09:36] nisse-work commented on #2932
Can you share this unit test?

[2021-07-12 16:31] ncesario-lunarg commented on #2932
I hacked `VkLayerTest.PipelineNotBound` to reproduce this behvior, but there might be another test that already does this: https://github.com/ncesario-lunarg/Vulkan-ValidationLayers/commit/85f61c4ca6fbc25ed301ba305bcc4d6e505ea49f

[2021-07-13 16:28] rumblehhh opened #2962 "Lockup when using GPU-Assisted Validation and skipping vkGetBufferDeviceAddress calls"
**Describe the Issue**
I'm currently seeing a lockup when using the extension VK_EXT_validation_features (GPU-Assisted Validation) from Vulkan-SDK 1.2.182.0 if I enable VK_VALIDATION_FEATURE_ENABLE_GPU_ASSISTED_EXT and VK_VALIDATION_FEATURE_ENABLE_GPU_ASSISTED_RESERVE_BINDING_SLOT_EXT. I see this lockup when "playing back" a PVRCarbon recording of https://github.com/nvpro-samples/vk_raytracing_tut

[2021-07-15 10:05] Xeais commented on #2862
@ncesario-lunarg, @jeremyg-lunarg | To conclude this, I have updated the code (https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2862#issuecomment-854200032) one last time with the working code.

Thank you again for the help - you were great.

[2021-07-15 11:00] Xeais opened #2968 ""... contains flag bits that are not recognized members of VkPipelineStageFlagBits" occurs in a strange way."
### Describe the Issue
[code]
With only one semaphore (`acquireSemaphore`) there is no error, but with all three it seems to corrupt the following struct entry (`pWaitDstStageMask`) for the validation layers; C++ does not seem to have a problem with it.
### Valid Usage ID

Validation[0]: Validation Error: [ UNASSIGNED-GeneralParameterError-UnrecognizedValue ] Object 0: handle = 0x1fb71a82418, type

[2021-07-15 14:13] jeremyg-lunarg commented on #2968
pWaitDstStageMask needs to be an array with the same length as waitSemaphoreCount.  Try changing this:

`const VkPipelineStageFlags waitStage {VK_PIPELINE_STAGE_ALL_GRAPHICS_BIT};
`
to this:
`const VkPipelineStageFlags waitStage[3] {VK_PIPELINE_STAGE_ALL_GRAPHICS_BIT, VK_PIPELINE_STAGE_ALL_GRAPHICS_BIT, VK_PIPELINE_STAGE_ALL_GRAPHICS_BIT};
`

[2021-07-15 15:48] ncesario-lunarg commented on #2862
You're welcome!

[2021-07-15 17:19] #2932 closed

[2021-07-15 17:30] Xeais commented on #2968
@jeremyg-lunarg | Now that you're saying this ... yes, of course, thank you!

But the message by the validation layers is not really good. It's quite better in the specification:

Yours is even better:

The validation layers reliably point out deviations from the specification (great job!), yet the messages that come with it range from excellent to problematic. In my opinion, the validation layers

[2021-07-15 17:43] jeremyg-lunarg commented on #2968
Thanks for the kind words!   As far as the error message, the validation code cannot really tell the difference between going off the end of an 'array' like in your example, or a correctly sized array that just contains bad values. In this case I noticed that the error message was for `pSubmits[0].pWaitDstStageMask[1]  and [2]` which aren't valid memory in your code. To detect this sort of thing a

[2021-07-15 17:43] #2968 closed

[2021-07-15 18:31] Xeais commented on #2968
You're welcome!

This is just one example and yes, I am totally aware of the difficulties that can arise from more precise messages. If the work that comes with such an undertaking is out of scale, no one (I hope) will criticize you for a more general message. Though, there are possibly some cases where it can be done without too much effort?

[2021-07-15 18:48] Xeais commented on #2968
@jeremyg-lunarg | As I remember, you are the Vulkan synchronization specialist, what is ideal as I have a short, rather general, question in this regard:
[code]
The validation layers report the following error: "... no matching release barrier queued for execution."

Can this be caused by a lack of synchronisation of this submission (signal a semaphore here) with the next following (wait for it th

[2021-07-15 19:48] jeremyg-lunarg commented on #2968
Possibly... Without a semaphore between the 2 queues, there is probably not anything to prevent the acquire barrier from executing before the release barrier, no matter which order they are submitted in. Also, the validation layer code does not record state of calls where an error is detected so with your original you could get additional errors like this one.

[2021-07-15 23:29] cnorthrop opened #2975 "Exception violation in ValidationStateTracker::PreCallRecordDestroySwapchainKHR"
We're doing a downstream roll of Vulkan-ValidationLayers into ANGLE:
https://chromium-review.googlesource.com/c/chromium/src/+/3032616

Its currently failing on most platforms.

Testing locally on Windows, I'm getting the following stack trace:

[code]

I grabbed a screenshot of the issue in Visual Studio, showing the first swapchain image as NULL:

![VVL_crash](https://user-images.githubuserconte

[2021-07-15 23:53] cnorthrop commented on #2975
@jeremyg-lunarg If I revert the following commit, things clear up:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/b4d170193ac62ed0fe483c65e0422e66bc507553

[2021-07-16 05:06] cnorthrop commented on #2975
When I step through the code in the debugger, all the images are good to start with.  On the first pass through the inner for loop, there is one bound_image.  But after the `imageMap.erase(...)`, the iterator becomes no good, and it tries to go through the inner for loop a second time, crashing.

You can see it more clearly by changing the loop to this and watching the iterator:
[code]
There are m

[2021-07-16 09:52] Xeais commented on #2968
@jeremyg-lunarg | Is there a way to synchronize this with only one submission? Performance-wise, one would be preferable.

In this regard is single-threaded CPU-coding so much easier! 😭😉😁

[2021-07-16 13:54] cnorthrop commented on #2975
It occurred to me after I posted the previous comment, the workaround only works in our case because there is one image and we're exiting the loop early.  If there are multiple images to iterate through, it won't work.  The iterator is toast.

[2021-07-16 14:40] jeremyg-lunarg commented on #2975
I got the angle tests built on linux last night but haven't seen the error yet running this morning.  Based on your comments I think I have an idea how to fix it though.

[2021-07-16 15:14] cnorthrop commented on #2975
You probably need to apply the roll to get latest layers.  See if this works in your ANGLE checkout:
[code]
If not, apply the diff from here:
https://chromium-review.googlesource.com/c/chromium/src/+/3032616/1/DEPS

[2021-07-16 15:27] jeremyg-lunarg commented on #2975
Ok I've got the crash now.

[2021-07-17 02:45] TestingPlant commented on #1910
I found out that I was using both this validator and Renderdoc's validator (`VK_LAYER_RENDERDOC_Capture`), it causes it to hang, but if I only use this layer, this layer works correctly.

I'm thinking it might be a bug in Renderdoc rather than this, but I can no longer reproduce the issue with the same code after finding out only using this layer makes it work correctly.

[2021-07-18 03:58] batcholi opened #2987 "Possible false positive - using bool specialization constant to decide whether to consume vertex input"
**Describe the Issue**
I am using a specialization constant as a conditional for deciding at load time whether we will be using vertex input buffers OR we will be using a push_constant and send one vertex per draw call (to draw stars as point lists).

Is this valid usage?

[code]

When loading the shader for use without vertex inputs (that constant set to false) I am not passing any vertex binding

[2021-07-18 04:34] Bxaa opened #2988 "Question (need help, custom layer)"
TEST.BAT:
set VK_LAYER_PATH=X:\TEST
set VK_INSTANCE_LAYERS=VK_LAYER_reshade;VK_LAYER_KHRONOS_validation
pushd "%~dp0"
start "TEST" /D "X:\TEST" "X:\TEST\TEST.EXE"

reshade32.json (X:\TEST\reshade32.json)
{
"file_format_version" : "1.0.0",
    "layer" : {
        "name": "VK_LAYER_reshade",
        "type": "GLOBAL",
        "library_path": ".\\rs.dll",
        "api_version": "1.2.131",
        "imp

[2021-07-19 14:19] ncesario-lunarg commented on #1910
👍 thanks @TestingPlant, I'm going to close this for now as it looks like there is no VVL issue, but please re-open if that is not the case.

[2021-07-19 14:19] #1910 closed

[2021-07-19 16:09] Xeais commented on #2968
@jeremyg-lunarg | The question can't be that hard to answer ... 😁

[2021-07-19 16:25] ncesario-lunarg commented on #2987
Thanks for the issue @batcholi, are you using [VK_EXT_vertex_input_dynamic_state](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/chap50.html#VK_EXT_vertex_input_dynamic_state) to set your vertex input information in your graphics pipeline? If not, then I think this error is valid. If you _are_ using `VK_EXT_vertex_input_dynamic_state` to dynamically set the vertex input state an

[2021-07-19 16:39] ncesario-lunarg commented on #2988
I'm sorry to say I have no experience with the reshade layer, but it looks like you may be running into the same problem described in https://github.com/KhronosGroup/Vulkan-Loader/issues/266?

[2021-07-19 20:45] charles-lunarg commented on #2988
This is intended behavior, environment variables such as VK_LAYER_PATH can be set without admin privileges and if you then run an app in admin mode, it would use those environment variables. A bad actor could set VK_LAYER_PATH to include a layer with malicious code, then if the loader didn't ignore the environment variable, the bad actor now has admin access to the whole machine.

[2021-07-19 22:10] ncesario-lunarg commented on #2988
Thanks @charles-lunarg, I'm going to close this you've noted it as "intended behavior." @Bxaa, if you feel there is still a change required to VVL, please re-open.

[2021-07-19 22:10] #2988 closed

[2021-07-19 22:51] #2975 closed

[2021-07-20 02:03] ghost opened #3012 "Layer warns about swapchain having 0 images if vkGetSwapchainImagesKHR hasn't been called"
**Describe the Issue**

When you issue an API call, which involves checking count of swapchain's images (ex. `vkQueuePresentKHR`) before `vkGetSwapchainImagesKHR` has been called on the swapchain, the validation layer will warn about swapchain having 0 images.
<br/>
If you called `vkGetSwapchainImagesKHR` on the swapchain before without once providing a non-null `pSwapchainImages` parameter, valid

[2021-07-20 04:31] ncesario-lunarg commented on #2968
Unfortunately these questions do take time, especially as Vulkan synchronization is not exactly straightforward :) Combine that with a growing list of VVL issues, and it might take a while before we get back to this. We will get to this when we can, but you might get a much quicker answer via posting on something like the vulkan reddit or discord.

Sadly, there is only one Jeremy :cry:

[2021-07-20 05:07] ncesario-lunarg commented on #3012
@Vironacorus is this scenario what you are referring to?
[code]

If so, I'm not able to reproduce this locally. Are you able to try this on a newer version of the SDK? There have been a few releases since 1.2.154.1.

[2021-07-20 06:03] Vironacorus commented on #3012
@ncesario-lunarg
I was able to reproduce the exact same error on the newest version of the SDK.

[code]

Bug appears even if I call `vkQueuePresentKHR` instantly after swapchain is created

[2021-07-20 08:07] Bxaa commented on #2988
@charles-lunarg, Thx, is a way to bypass this safety? (disable ignoring  the environment variable by loader from admin)

[2021-07-20 09:13] Xeais commented on #2968
Totally okay, I just wrote because I wasn't sure if poor me has been forgotten. 😃
Thank you for the clarifying answer

I am not really into reddit and let's say, I made other experiences with Vulkan Discord.

In contrast to Vulkan synchronization, this problem is not hard to dispel: Just clone him a few times. If it works for sheep, it _must_ work for Jeremy. 😉😁

[2021-07-20 14:38] zmike opened #3014 "crash on descriptor binding"
Binding a descriptor set containing dynamic buffer descriptors where the buffer is null but the dynamic offset is nonzero causes a crash.

**Environment:**
 - OS: Linux
 - GPU: Any
 - SDK or header version if building from repo:  f4fb2a0b00d10942997e3ff7b93c40b1409a8b2b
 - Options enabled (synchronization, best practices, etc.): Default

This is a bit of a weird one according to spec since it does

[2021-07-20 14:57] jeremyg-lunarg commented on #2968
Sorry, I have been distracted on a different problem the last couple of days...   If you are doing work on 2 different queues you are going to need at least 2 submissions, one on each queue.  You should be able to include the barriers and semaphore as part of the submissions that are doing the other work on those queues. The best you can probably get is something like this:

Submission on Queue 1:

[2021-07-20 16:01] ncesario-lunarg commented on #2988
I'm not familiar enough with Windows permissions, but I don't _think_ you can differentiate between "logged in as admin running everything as admin" and "logged in normally, but running an app with admin privileges." If there is indeed a way to differentiate between these two cases at runtime, I could see disabling the check for the former case making sense, but I don't know if this is possible.

[2021-07-20 21:05] batcholi commented on #2987
Is it possible that that extension is not supported on Linux?
Can't seem to be able to enable it.

[2021-07-20 22:05] ncesario-lunarg commented on #2987
It should be depending on your HW/driver. On Arch (Manjaro) I'm seeing it supported for nvidia (RTX 2060, proprietary driver 470.42.01) and llvmpipe (Mesa 21.3.0-devel (git-1132df843c)); I can't check RADV at the moment, but it's probably a good bet that other mesa drivers have it as well.

If you're not passing any vertex binding information to the pipeline and not using any dynamic state, then I

[2021-07-20 22:05] #2987 closed

[2021-07-20 23:28] batcholi opened #3019 "Writing to gl_Layer with invalid framebuffer layers"
Issue description:
I am writing to gl_Layer from within a geometry shader to draw points in a cubemap, while my framebuffers were configured with 1 layer instead of 6.

It was working flawlessly on an AMD GPU, but was only outputting on a single layer (0) on an NVIDIA GPU.
Changing the framebuffer to use 6 layers fixed it on the NVIDIA.

I think this should have given off a validation error.

[2021-07-21 08:30] Bxaa commented on #2988
_As i know:
System.Security.Principal class
You can check - if app launched with admin (but user not admin)
Also you can check - is user use integrated administrator account (but not group administrators)

I'll try to make example of this C++ implementation. If you need...

[2021-07-21 14:26] charles-lunarg commented on #2988
One thing to note, these environment variables are for debugging purposes and not intended for release. So they aren't really intended to operate in all circumstances, especially those that would undermine security.

Can I ask what is trying to be accomplished with the above script? Knowing the intent would help me judge what the use case is. What I can see is a script that when run, enables resha

[2021-07-21 14:30] KarenGhavam-lunarG commented on #2988
@charles-lunarg @ncesario-lunarg   Shouldn't this issue be in the Vulkan-Loader repository?

[2021-07-21 15:53] ncesario-lunarg commented on #2988
If it is still an open issue (i.e., if there is something we need to change), then yes, I think this belongs in Vulkan-Loader. I've closed the issue here, but it's up to @charles-lunarg whether or not this belongs as an open issue in Vulkan-Loader.

[2021-07-21 21:17] jeremyg-lunarg commented on #3014
I reproduced the crash by hacking VkPositiveLayerTest.DynamicOffsetWithInactiveBinding. Will work on a separate test case and figuring out what we should do in this case, besides not crashing.

[2021-07-21 21:20] Bxaa commented on #2988
@charles-lunarg  for debug with fast changing injected dll (requre admin by some reasons)
Reshade  - just simple example

As far as I remember this also does not work
(HKEY_CURRENT_USER/SOFTWARE or HKEY_CURRENT_USER)/Khronos/Vulkan/ImplicitLayers...
I'll check it again.
Anyway thx

[2021-07-21 21:26] charles-lunarg commented on #2988
@Bxaa Yes, HKEY_CURRENT_USER should _not_ work in admin mode because it is user settable.

Now that I see this is for debug purposes, it is a good time to move the issue over to the https://github.com/KhronosGroup/Vulkan-Loader repo. It would be very helpful if you could create the issue with what you use case is (debugging application with fast changing layer), explaining how admin mode is needed

[2021-07-22 12:42] nisse-work commented on #2512
I'm also seeing various complaints about leaks, when I enable validation layers in application tests that are run with leak checks enabled. This can be worked around, by disabling leak checking around certain vulkan calls (using https://github.com/abseil/abseil-cpp/blob/2e94e5b6e152df9fa9c2fe8c1b96e1393973d32c/absl/debugging/leak_check.h#L108). But it would be desirable to fix the leaks properly.

[2021-07-22 14:50] #2931 closed

[2021-07-22 19:36] ncesario-lunarg commented on #2512
Thanks @nisse-work, we are working on getting nightly runs with `-fsanitize=address` turned on which should help with this.

Yes, linux nvidia proprietary drivers should _work_ (I think we might have 1 or 2 tests black listed, but it's not nearly as bad as Intel + Mesa, for which we essentially don't check at the moment).

[2021-07-23 19:05] shakti-hub opened #3048 "GetLayerEnvVar() function unnecessarily changes layer_config.vk_layer_disables_env_var"
**Describe the Issue**
GetLayerEnvVar() function unnecessarily changes layer_config.vk_layer_disables_env_var

**Valid Usage ID**
NA

**Environment:**
 - OS: ANY
 - GPU: ANY

**Additional context**
GetLayerEnvVar() function should read the environment value of the given string with call to GetEnvironment().
This should copied into a temp string and it should return the value of the temp string.

<

[2021-07-23 20:07] #3014 closed

[2021-07-24 16:38] ncesario-lunarg commented on #3048
It's definitely a little suspect that we're returning a pointer to a string that is going to change later. Looks like this was done since GetLayerEnvVar is exported and we're avoiding returning a C++ object.

If this function still _really_ needs to be exported (I don't have the knowledge yet to know whether that's true or not), then I would vote for adding some comments/documentation that makes i

[2021-07-26 14:28] jeremyg-lunarg commented on #3048
I agree with the proposed fix. Its possible that layer_config.vk_layer_disables_env_var will need to be set in a more appropriate way, outside of this funciton.

[2021-07-26 14:32] jeremyg-lunarg commented on #3048
Ugh. I agree that I need more coffee, I totally missed the temporary storage problem.

[2021-07-26 14:51] Desperado17 opened #3059 "UNASSIGNED-CoreValidation-DrawState-InvalidImageLayout"
This is question as I didn't find a method to submit one otherwise. Sorry.

I get a validation error of type UNASSIGNED-CoreValidation-DrawState-InvalidImageLayout.

Is there a way to find out which command caused the error?

Regards

[2021-07-26 16:36] sfricke-samsung commented on #3059
It is a draw time error, which means it won't be detected until you call `vkQueueSubmit`

The issue is a command buffer in the submission has an image with an invalid layout

(I do agree the error message currently doesn't display the `vkQueueSubmit` like it should)

[2021-07-26 21:41] #3059 closed

[2021-07-27 11:00] Desperado17 commented on #3059
Yes, but what in the command buffer found the image in the wrong format? A drawcall that found the wrong imageLayout in the descriptor? Or something else? That would be nice to know.

[2021-07-27 14:26] sfricke-samsung commented on #3059
@Desperado17 Can you put the entire Validation Layer error message in this issue, can see if I can help decipher it for you (and if I can't, add more details to the error message)

[2021-07-27 21:37] lunarpapillo opened #3065 "Pixel3 with update 09/02/20 crashes in RenderPassAsyncHazard"
**Describe the Issue**
Updated **Pixel3** devices crash with a `SIGSEGV` while running `com.example.VulkanLayerValidationTests` while running the `VkSyncValTest.RenderPassAsyncHazard` test.

We need to understand whether the problem is within the validation code, the validation test code, or the device.

**Valid Usage ID**
N/A

**Environment:**
 - OS: Android
 - GPU: Adreno 630
 - SDK or header ve

[2021-07-28 10:37] JoseEmilio-ARM commented on #2832
Hi @jeremy-lunarg , I'm using the layers from SDK 1.2.182.0 which should include this fix, however I am seeing a similar issue, in my case with the combination of `VK_ACCESS_ACCELERATION_STRUCTURE_READ_BIT_KHR` and `VK_PIPELINE_STAGE_FRAGMENT_SHADER_BIT` which seems to be supported in the spec as shown above:

[2021-07-28 16:24] jeremyg-lunarg commented on #2832
@JoseEmilio-ARM, sorry about that. It looks like this is a problem with how 03927 is written:
[code]
We are using these VUIDs to generate tables of allowed access mask / pipeline stage combinations which are used even when synchronization2 isn't enabled.  I'll file an issue with the working group about the mismatch and then this should get fixed by new code generation.

[2021-07-28 16:51] jeremyg-lunarg commented on #2832
@JoseEmilio-ARM  you might also want to check out other parts of the [spec](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/vkspec.html#synchronization-access-types) that mention ACCELERATION_STRUCTURE_READ_BIT. I can only find text that indicates that it is used with the stages listed in VUID 03927.

vkCmdBuildAccelerationStructureNV():

etc...  I'd *guess* that means the VUID a

[2021-07-28 18:51] jeremyg-lunarg commented on #2910
Sorry for the delay on this issue, the fix I have up right now causes problems with sync validation. I think I've figured that out now and should hopefully have a fixed fix up soon.

[2021-07-28 19:24] Kangz commented on #2910
No rush, we ignore this VVL warning for now. Once the PR is landed I'll let you know what the next issue is :) (or will let you know that everything is A-OK)

[2021-07-29 03:53] sfricke-samsung opened #3071 "Add VkSurfaceKHR is supported when querying VUs"
**Describe the situation in which you encountered the missing validation**
Issue description:

Add newly added (1.2.186 headers) VUs that check the `VkSurfaceKHR` object is supported on the physical device when attempting to query information about it

**Valid Usage IDs requested**
- VUID-vkGetDeviceGroupSurfacePresentModes2EXT-pSurfaceInfo-06213
- VUID-vkGetDeviceGroupSurfacePresentModesKHR-surfa

[2021-07-29 08:24] byumjin opened #3072 "GPU-Assisted Validation on Mobile"
Hi, I'm trying to use `VK_EXT_validation_features` extenstion to fix my out of bounds issues on my android device (Samsung galaxy S21). I found that `vkEnumerateInstanceExtensionProperties` only can get two debug instance extensions `VK_EXT_debug_report`, `VK_EXT_debug_utils`. (I'm using NDK r22b)

I wonder that `VK_EXT_validation_features` is included in the current available NDK or the latest `l

[2021-07-29 14:13] mark-lunarg commented on #3072
@byumjin, can you share how you queried the available instance extensions?  `VK_EXT_validation_features` in this case is an extension supported by the layer, meaning one would need to query the extensions supported specifically by `VK_LAYER_KHRONOS_validation` -- it should show up there.  If you enable the extension, your CreateInstance call should succeed and the extension functionality should be

[2021-07-29 14:55] byumjin commented on #3072
Hi @mark-lunarg,

I queried VK_LAYER_KHRONOS_validation layer and the debug instance extension like this.
I could check that PC platform has `VK_EXT_validation_features`, but with my Android device, it only has other debug extensions such as debug_report, debug_utils, but **not** `VK_EXT_validation_features`

[code]

[2021-07-30 02:39] byumjin commented on #3072
FYI, if I force to use validationFeaturesExt even if my device can't find the `VK_EXT_validation_features`, the app prints the error below whenever it creates shaders

`[ UNASSIGNED-GPU-Assisted Validation Error.  ] Object: VK_NULL_HANDLE (Type = 15) | Detail: (Failure to instrument shader.  Proceeding with non-instrumented shader.) (0)`

[2021-07-30 17:12] Tony-LunarG commented on #3072
The extension reporting could be an issue.  We run GPU-AV tests on Android but they always assume the extension is there and enable GPU-AV.  I'll investigate.
As for your failure to instrument, are you saying that the same shader is successfully instrumented and run with GPU-AV on a deskstop setup (using what version of layers?), but you get failure to instrument running on Android?  Is anything p

[2021-07-30 17:30] timvpGoogle opened #3087 "Incorrect: VUID-vkDestroySurfaceKHR-surface-01266"
**Describe the Issue**
The VVL error VUID-vkDestroySurfaceKHR-surface-01266 is being reported incorrectly on Windows.

[code]

These tests were passing until a recent VVL roll into ANGLE.   We suspect:
https://chromium.googlesource.com/external/github.com/KhronosGroup/Vulkan-ValidationLayers.git/+/5a542f5e261170ae180c79218149f1464a08773a

**Environment:**
 - OS: Windows
 - GPU: NVIDIA
 - SDK or he

[2021-07-30 17:31] timvpGoogle commented on #3087
@jeremyg-lunarg

Can you take a look?

[2021-07-30 19:58] jeremyg-lunarg commented on #3087
I can reproduce these errors with angle_end2end_tests.exe, investigating...

[2021-07-30 22:16] #3087 closed

[2021-07-31 00:57] byumjin commented on #3072
Yes, desktop looks fine but Android only has this issue. For desktop setup, I used `1.2.162.1` and `1.2.182.0` SDK versions and both worked.

No, I couldn't see any related errors before `Failure to instrument shader` error.

No, my app does not use the features.

I use DXC to convert HLSL shaders to GLSL shaders for Vulkan platforms. At the moment, I use `-fspv-target-env=vulkan1.1` to set Vulkan

[2021-07-31 10:40] zmarlon opened #3091 "VK_NV_device_generated_commands vkCreateGraphicsPipelines crash"
**Describe the Issue**
When calling vkCreateGraphicsPipelines with VK_NV_device_generated_commands structure in pNext chain, it crashes with an access violation. After disabling validation layers, everything works fine.

My pipeline creation code:
https://pastebin.com/KpgWxPVN

**Valid Usage ID**
The application crashes at vkCreateGraphicsPipelines, so there is no Valid Usage ID

**Environment:**

[2021-08-01 09:11] kikijiki opened #3097 "Access violation in ValidateCmdBeginRenderPass"
**Describe the Issue**

I had some code incorrectly call `vkCmdBeginRenderPass2` without passing any clear value, even if some attachment was specifying a clear operation.

In `core_validation.cpp` the check `if (clear_op_size > pRenderPassBegin->clearValueCount)` happens after `ValidateClearDepthStencilValue`, which tries to access a null `pRenderPassBegin->pClearValues[i]` with no checks.

This

[2021-08-01 15:53] sfricke-samsung commented on #3097
some background: There normally an implicit VU to say something like

and this gets auto generated and would have been caught there. The issue is `VkClearValue` is a union so there is a special `noautovalidity` in the XML. I recently got `VUID-VkRenderPassBeginInfo-clearValueCount-04962` (and `VUID-vkCmdClearColorImage-pColor-04961`, for that matter) added to the spec and the "real issue" is that

[2021-08-02 19:15] mikes-lunarg opened #3112 "Keep glslang in known_good.json?"
With #3076, glslang is now a test-only dependency. Should it remain in the known_good.json file?

Some options:
- Everything stays the same, this just becomes another quirk. You get an extra repo downloaded and built even if you don't intend to build or run the tests.
- Remove from known_good.json
  - Update BUILD.md with version to use
  - Update CI systems to pull and build glslang for test buil

[2021-08-02 21:05] ncesario-lunarg commented on #3112
I would also vote for 3 (i.e., adding googletest to `known_good.json` behind a "test flag"). Having to lookup the test dependencies in the README and then manually clone them seems a bit awkward and unnecessary.

[2021-08-03 05:19] ShabbyX opened #3115 "Bug in "Validate creating pipeline with read-only depth/stencil""
A change (2eafdd8607e80b1c2477082a4d2212b74c9a7d27) to validate that pipelines don't write to depth if the layout is read-only is flakily asserting in ANGLE. For example, the following test produces a validation error once every few runs. The test itself is fine (i.e. there is no error in the Vulkan stream generated):

[code]

Running the test through `valgrind` didn't show anything interesting.

[2021-08-03 05:19] ShabbyX commented on #3115
Could we revert this change until it's fixed? @ziga-lunarg

[2021-08-03 07:48] byumjin commented on #3072
@Tony-LunarG, I investigated it more and checked the error message below after I used `VK_VALIDATION_FEATURE_ENABLE_BEST_PRACTICES_EXT` extension.

GPU-Assisted validation requires `fragmentStoresAndAtomics` and `vertexPipelineStoresAndAtomics`. GPU-Assisted Validation disabled.

It seems like my device only support `fragmentStoresAndAtomics` but not `vertexPipelineStoresAndAtomics`.

Do you think

[2021-08-03 09:27] byumjin commented on #3072
I have another question, after I made the app use GPU assisted validation without `vertexPipelineStoresAndAtomics`, it seemed to instrument the shaders correctly. But, the app runs **SUPER** slowly with Vulkan Validation layers, I already disabled `VK_VALIDATION_FEATURE_DISABLE_SHADERS_EXT, VK_VALIDATION_FEATURE_DISABLE_THREAD_SAFETY_EXT, 	VK_VALIDATION_FEATURE_DISABLE_API_PARAMETERS_EXT, VK_VALID

[2021-08-03 16:22] ncesario-lunarg commented on #3115
@ShabbyX this should be reverted with https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/592ea4ecb1c8c2838135dd46219ad50ea02ac719.

[2021-08-03 17:08] ShabbyX commented on #3115
Thank you. Let me know if you need help reproducing the issue with ANGLE.

[2021-08-03 21:10] ShabbyX opened #3119 "Build failure with latest Vulkan headers"
In the latest Vulkan headers change, `VkVideoCapabilitiesFlagBitsKHR` has been renamed to `VkVideoCapabilityFlagBitsKHR` causing build failures.

Please update to `1.2.187`. @mikes-lunarg

[2021-08-03 22:30] Tony-LunarG commented on #3072
This is a bit confusing, because the GPU-AV code checks at vkCreateDevice time for both fragmentStoresAndAtomics and vertexPipelineStoresAndAtomics and if either is not supported, GPU-AV should report:
GPU-Assisted validation requires fragmentStoresAndAtomics and vertexPipelineStoresAndAtomics.  GPU-Assisted Validation disabled.
and then no more GPU-AV functionality should be called.  This would i

[2021-08-03 22:32] #3097 closed

[2021-08-04 00:31] incertia opened #3122 "maxFragmentShadingRateInvocationCount is checked on the input to vkGetPhysicalDeviceProperties2"
**Describe the Issue**
Since `vkGetPhysicalDeviceProperties2` is supposed to write the `maxFragmentShadingRateInvocationCount` value, it does not make sense to validate it before it is written, as it likely contains some garbage data from the caller.

**Valid Usage ID**
[VUID-VkPhysicalDeviceFragmentShadingRateEnumsPropertiesNV-maxFragmentShadingRateInvocationCount-parameter](https://www.khronos.o

[2021-08-04 00:37] rtryan98 opened #3123 "Add Validation for attempting to clear a renderpass attachment without VK_ATTACHMENT_LOAD_OP_CLEAR"
When beginning a renderpass and attempting to clear it via `pClearValues` the there is no validation check for the case that the renderpass itself uses `VK_ATTACHMENT_LOAD_OP_DONT_CARE` for example. Is this intended behavior? There is nothing in the specification about this being invalid but it may be a candidate for a best practice validation error.

In case such a validation check already exists

[2021-08-04 15:31] sfricke-samsung commented on #3123
According the spec

so there is nothing invalid here, the driver should be just ignoring the `pClearValues` values

As for best practices, I guess I could see this being there as a "are you sure you intended this?" type warning

[2021-08-04 17:24] ncesario-lunarg commented on #3123
I don't have a sense of how this would effect app developers. e.g., it seems like this aspect of the spec _could_ be purposely used, but maybe not.

Thoughts @Tony-LunarG @jeremyg-lunarg @ziga-lunarg on making this a best practice warning?

[2021-08-05 15:23] karl-lunarg commented on #3112
I'm really happy that SPIRV-Tools is now a direct dependency for building just the layers.  It wasn't great to have to get and build glslang when only the layers were required.

It would be nice if this repo had the eventual goal of getting rid of update_deps and instead moved to use other methods to get the dependencies.  I know that there may be friction around this due to needing newer CMake ve

[2021-08-05 15:30] mark-lunarg commented on #3112
Shoot, while you're in there I believe @mikes-lunarg has always had the goal of getting rid of `generate_sources.py` and moving _that_ functionality into CMake.

[2021-08-05 16:11] ncesario-lunarg commented on #3112
#3120 WIP for option (3).

[2021-08-05 16:14] ncesario-lunarg commented on #3112
@mark-lunarg like this? https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/3bbc44b1b8cd108095ef56e974c5e186d0427e66/CMakeLists.txt#L405

[2021-08-05 16:45] mark-lunarg commented on #3112
@ncesario-lunarg, I think he was aiming to move the functionality out of the python file and into the cmake file.  There's nothing in there that can't be done in cmake.  It's obviously very low priority, and I'm not sure it's even still A Thing.

[2021-08-09 09:39] MatijaBrown commented on #236
Is this still a thing? I have very similar symptoms that vanish when I turn off of validation.

[2021-08-09 09:50] MatijaBrown commented on #236
Is this still a thing? I see it was fixed, but I am getting the exact same problem still.

[2021-08-09 16:41] ncesario-lunarg commented on #236
@MatijaBrown do you know which SDK version you are using? AFAIK this was fixed ~2 years ago. and I don't see any additional comments after the fix went in, so my assumption is that it was _actually_ fixed :), but it's certainly possible something has broken since then. If you can point us to a repro case, that will help us take a look at it faster.

[2021-08-09 21:45] Tony-LunarG commented on #2962
@rumblehhh I wrote a test that determines the opaque capture address (in one run) and then uses it in a second run, and GPU-AV seems to work fine.  The test is here https://github.com/Tony-LunarG/Vulkan-ValidationLayers/tree/tony-bda-opaque-test
So all appears to be working as expected and I don't see much more I can do without a reproduction case.

[2021-08-10 00:57] #3119 closed

[2021-08-10 03:36] mikes-lunarg commented on #236
It looks like this issue is indeed back. I wrote a pathological test case and was able to repro and bisect it to commit 34ec84e88a89e39456cb8f763bc591f615c2741f. Also worth noting that the leak goes away with `VK_LAYER_DISABLES=VK_VALIDATION_FEATURE_DISABLE_UNIQUE_HANDLES_EXT`

[code]

[2021-08-10 03:53] ncesario-lunarg commented on #236
Thanks @mikes-lunarg! Interesting about the handle wrapping.

[2021-08-10 12:48] MatijaBrown commented on #236
Thanks @mikew-lunarg for the repro case.
I use the LunarG SDK and Vulkan version 1.2

[2021-08-10 15:04] zmike opened #3148 "SIGILL on startup"
When enabling validation on a 32bit install, I sometimes get SIGILL on startup:

[code]

**Environment:**
 - OS: Linux
 - GPU: AMD RX5700XT
 - SDK or header version if building from repo: 27a13fa6a13fad942518a99efdc519ce62d1ae02
 - Options enabled (synchronization, best practices, etc.): default

**Additional context**
Triggered while running various steam games on zink. Would like to provide more

[2021-08-10 15:36] jeremyg-lunarg commented on #3148
This looks like it could be non-trivial to figure out... What compiler version are you using?

In case you haven't spotted it yet, there's a CMake option called USE_ROBIN_HOOD_HASHING which you can turn off and it'll hopefully unblock you.

[2021-08-10 17:34] christophe-lunarg opened #3150 "VALIDATION_CHECK_ENABLE_VENDOR_SPECIFIC_ARM description is incorrect"
Hi,

In the layer manifest the description of VALIDATION_CHECK_ENABLE_VENDOR_SPECIFIC_ARM is incorrect.

Suggestion:
`Activating this feature enables the output of warnings related to ARM-specific misuse of the API, but which are not explicitly prohibited by the specification.`

[2021-08-10 20:54] Tony-LunarG commented on #3072
#3136 should fix the visibility of the validation feature extensions.  @byumjin are you still seeing issues with GPU-AV?

[2021-08-11 09:28] byumjin commented on #3072
@Tony-LunarG thanks tony. I think it is fine to close this issue :)

[2021-08-11 15:22] nisse-work commented on #2512
Hi, I have tests working (on intel mesa), with some minor fixes from PR #3013. To start somewhere, and not get a too huge report, I made a run of ./tests/vk_layer_validation_tests --gtest_filter='VkPositiveLayerTest.*' in a build with leak checking on.

I see a couple of leaks, stack traces including:

VkPositiveLayerTest_DestroySwapchainWithBoundImages_Test, line number pointing to

        vk::C

[2021-08-11 15:25] #3150 closed

[2021-08-11 15:35] #3072 closed

[2021-08-11 16:02] #3012 closed

[2021-08-11 16:35] zhangyiwei opened #3155 "Allow AHARDWAREBUFFER_FORMAT_IMPLEMENTATION_DEFINED"
**Describe the Issue**
`VUID-VkImportAndroidHardwareBufferInfoANDROID-buffer-01881` currently complains about`AHARDWAREBUFFER_FORMAT_IMPLEMENTATION_DEFINED`.

**Valid Usage ID**

@chrisforbes @critsec

[2021-08-11 21:25] ncesario-lunarg opened #3158 "Add PDBs to cmake install target"
Add PDB files to the cmake install target for easier and clearer SDK packaging.

FYI @lunarpapillo.

[2021-08-12 12:18] #1596 closed

[2021-08-12 13:39] zmike commented on #3148
Hadn't tested it yet, but I still get the same error in a different place:

[code]

This is running Serious Sam 3: BFE under zink with layers built on gcc 10.3.1. I'll try building on a machine that has 11.1.1 next to see if that changes anything.

[2021-08-12 13:48] zmike commented on #3148
11.1.1 makes it a bit further, but I still get a robin hood abort with this error

[code]

[code]

Trying a build there without robin hood now...

[2021-08-12 13:53] zmike commented on #3148
Everything seems good on 11.1.1 with robin hood disabled.

I'd be fine resolving this issue by just updating the build documentation to warn against using robin hood or gcc10 with 32bit builds.

[2021-08-12 16:20] ziga-lunarg commented on #2520
Any chance you can provide a code sample for this? @Nimanf

[2021-08-12 16:30] ncesario-lunarg commented on #3148
@zmike I'm wondering if this is the overflow bug referred to in the [3.11.3 release](https://github.com/martinus/robin-hood-hashing/releases/tag/3.11.3) for robin-hood-hashing. Any chance you could try it with that release?

@jeremyg-lunarg looks like we might want to bump our version of robin-hood-hashing regardless.

[2021-08-12 16:45] jeremyg-lunarg commented on #3148
Yeah I can try that new fix, and probably running the unit tests in 32 bit mode is worthwhile too. I should have time to do that this afternoon or tomorrow.

[2021-08-12 16:46] ncesario-lunarg commented on #2520
Looks like this was supposed to be resolved by https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/3f145ae?

[2021-08-12 16:52] ziga-lunarg commented on #2520
Looks like it, I assume we should close this issue?

[2021-08-12 17:23] ncesario-lunarg commented on #2520
Looks like that fix was included in the 1.2.162 SDK.

@Nimanf any chance you could try this on the latest SDK? I vaguely remember another change related to `nullDescriptor`s that I think went in after 1.2.162, but having difficulty finding it at the moment.

[2021-08-12 17:36] zmike commented on #3148
Hm I tried it and it didn't seem to have any effect. If you want to do a PR with updates more officially, I'd be happy to test that too.

[2021-08-12 18:12] Nimanf commented on #2520
That commit is for the same old SDK I initially reported for 1.2.162 SDK.
I tried the latest 1.2.182 SDK, and got a crash using nullDescriptor (Note that KHR + nullDescriptor works correctly):

The crash is in `ValidateMemoryIsBoundToAccelerationStructure `when it is called by `ValidateAccelerationStructureUpdate()` for `VK_DESCRIPTOR_TYPE_ACCELERATION_STRUCTURE_NV` case in descriptor_sets.cpp.

I

[2021-08-12 18:17] ncesario-lunarg commented on #3148
If you generated the cmake project with `-DUPDATE_DEPS=ON`, you should only have to update [scripts/known_good.json](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/33cbaf8838358e05b7a4eb356ea23e3238db6144/scripts/known_good.json#L48) and then build to get new versions of dependencies.

If you did _not_ generate with `-DUPDATE_DEPS=ON`, you'll need to re-run `scripts/update_deps.py` m

[2021-08-12 18:37] zmike commented on #3148
I just copied the files from the release on top and built that :)

[2021-08-12 19:13] ncesario-lunarg commented on #2520
A binary or a gfxreconstruct trace (which would be even better :)) would definitely help.

"KHR + nullDescriptor," means using the KHR ray tracing extensions as opposed to the NV ones?

[2021-08-12 19:18] Nimanf commented on #2520
Yes, KHR raytracing extensions has no issue with nullDescriptor, only crashes with NV_ray_tracing

[2021-08-12 19:38] ncesario-lunarg commented on #3148
Well that should have definitely worked :/

[2021-08-12 21:53] jeremyg-lunarg commented on #3148
@zmike,  I haven't been able to reproduce this crash yet but there's a code change in #3163 that *might* help.  Please give it a try if you have a chance.

[2021-08-13 08:04] #2753 closed

[2021-08-13 08:25] rumblehhh commented on #2962
@Tony-LunarG  sorry for the delay.  Thanks for merging #2959 I gave this another shot this morning.
I'm unfortunately hitting an assert when creating a shader module:
"
Assertion failed: false && "unexpected buffer reference type", file C:\Users\James.Rumble\projects\temp\Vulkan-ValidationLayers\build\SPIRV-Tools\source\opt\inst_buff_addr_check_pass.cpp, line 149.
"
I don't see any issues when usi