[2019-08-16 15:35] fduranleau-gl commented on #1160
The intent was to try cut down on logging tax. If the validation layer would compute the hash at each call to `log_msg`, I see little point in doing so. Eventually we will migrate to use GL_EXT_debug_util, so we won't have to parse the message at that point.

[2019-08-16 15:35] #1160 closed

[2019-08-16 16:03] #1104 closed

[2019-08-16 17:30] Tony-LunarG commented on #1162
Is this a new crash?  Was it working before?  What is your system configuration?

When we were testing #1052 we had to update our driver to avoid an access violation in the Nvidia driver.  425.88 is working for us here with this morning's master. Could the driver be your problem?

I would agree that those are both invalid usages and are not checked for in current validation code.  @jmacnak-nv woul

[2019-08-16 17:33] mark-lunarg commented on #1160
Ah, OK.  Even if we precompute the hashes, we have to look up the hash value for the VUID string at log_msg time (or look up the string from the hash).  Thanks for your understanding.

[2019-08-16 17:42] krOoze commented on #1162
I have been ignoring it for a while. I think it is crashing for at least two weeks.

Crashes on NV GTX 1060 6 GB 431.60 DCH Game-optimized, Win 10 1903. Crashes inside driver dlls.

[2019-08-16 19:46] mark-lunarg commented on #1077
@zhaijialong, can you please share the spec text with this instance of valid usage?

[2019-08-16 20:08] daveh-lunarg commented on #1155
I can't spot an error in the validation code here. `GetImageSubresourceExtent` (which could possibly be better named) calculates the available extent _in texels_ for an image's specified mip level, which is independent of image format. Then (for compressed formats only) the copy region is checked against the available extent according to the compressed-block constraint VUs, e.g.
[code]

If you can

[2019-08-16 20:48] Tony-LunarG commented on #1064
We currently cannot validate image layouts with partially bound descriptor sets because we cannot, from the CPU, know which array elements will be used as part of a draw.  We use gpu assisted validation to validate updated descriptors and out of bounds array accesses with partially bound descriptors, and it would be a good idea to add layout validation to that  code.  I've added layout validation

[2019-08-16 20:48] #1064 closed

[2019-08-16 21:17] jeffbolznv commented on #1162
Eric tested this internally and said the crash in the driver is resolved in the next driver release, but it sounds like there may be some invalid usage here to resolve nonetheless.

[2019-08-16 23:48] nsubtil commented on #1134
I submitted PR #1165 and it works fine with the current AppVeyor setup. It captures the final binaries for each build as artifacts and makes them available (under the small "Artifacts" tab within the build job itself).

That PR does not switch to RelWithDebInfo because I want to understand if there are any relevant changes to build flags other than generating PDBs. But that can be done in parallel

[2019-08-18 18:19] Didgy74 opened #1168 "vkSetDebugUtilsObjectNameEXT does not copy contents of VkDebugUtilsObjectNameInfoEXT::pObjectName string"
This seems to have broken in a recent update. Testing in a Vulkan Community Discord Server showed that this functionality behaved correctly in SDK version 1.1.108.

In 1.1.144, when setting an object name using `vkSetDebugUtilsObjectNameEXT` the validation layer does not seem to copy the contents of the string supplied, but rather purely referencing the inputted string. I have written some example

[2019-08-18 19:32] jeffbolznv commented on #1168
Fixed by #1149?

[2019-08-18 19:48] Didgy74 commented on #1168
Yes, that looks like it should fix it.

[2019-08-19 15:51] #1168 closed

[2019-08-19 16:01] #1147 closed

[2019-08-19 19:07] #948 closed

[2019-08-20 01:01] lunarpapillo commented on #1134
I think with PR #1165 (thanks!) we're set for Windows.  For Linux, we'll need Khronos to invest in AWS storage (at which time we may consider moving Windows storage to AWS as well.)

[2019-08-20 15:08] krOoze commented on #1162
Indeed, new driver works.

[2019-08-20 22:47] #1162 closed

[2019-08-21 08:07] hrydgard opened #1179 "vkCmdWriteTimestamp validation bugs, incorrect message"
This is with SDK 1.1.114.0.

I create a query pool like this:
[code]

Then on the first frame I do this:
[code]

And I get the following validation error when submitting initCmd (together with another command buffer):

```ERROR(validation:0) vkCmdBeginQuery(): VkQueryPool 0x9[] and query 0: query not reset. After query pool creation, each query must be reset before it is used. Queries must also be

[2019-08-21 09:39] peterfsat commented on #1155
You're very right Dave, I've got this the other way around.

Apologies for the invalid issue.

[2019-08-21 16:27] daveh-lunarg commented on #1155
No worries.

[2019-08-21 16:27] #1155 closed

[2019-08-22 10:56] Tobski opened #1184 "Create a deprecation layer?"
Hi, something that I've been thinking for a while would be useful to have is a layer that gives warnings about functionality in use that is deprecated by other features that an application is relying on.

Right now, the Vulkan specification has a set of extensions that are listed as deprecated/promoted/obsoleted by Vulkan 1.1, or by other extensions, and to start with it could be useful to be able

[2019-08-22 10:57] Tobski commented on #1184
P.S. Hopefully this is the right place to file this issue, there's not a generic place to tag new layer ideas - I can move this if necessary!

[2019-08-22 15:17] mark-lunarg commented on #1184
This is the right place ☑️

[2019-08-22 16:39] Jasper-Bekkers commented on #1184
I would love to see this as a way to properly enforce the deprecation model, and as something we can hopefully lean on in the future to more aggressively deprecate things.

[2019-08-22 17:17] krOoze commented on #1184
@Jasper-Bekkers My not so old phone is stuck on 1.0.20 with zero extensions. How's that for min-spec :D

Seems reasonable. I am nominating it for #24.

[2019-08-22 17:18] tobine opened #1187 "Layers build ninja crashing on Android with DebugUtils"
I'm attempting to run the latest validation layers on Android using the Ninja build and they are immediately crashing in the layers when attempting to call vkCreateDebugUtilsMessengerEXT().
However, if I switch to using the older vkCreateDebugReportCallbackEXT() the layers work fine.

Posting this here in case someone else can verify and point to any potential changes in the layers of the last cou

[2019-08-22 18:15] mark-lunarg commented on #1187
Coupla new files, `best_practices.*` and `vklayertests_imageless_framebuffer.cpp`, but I don't know what either would have to do with that extension.

[2019-08-22 19:06] mikes-lunarg commented on #1187
Does VK_EXT_debug_utils require loader support? I see a loader terminator for vkCreateDebugUtilsMessengerEXT on desktop.

[2019-08-22 21:22] tobine commented on #1187
That's a good thought @mikes-lunarg. I just tried to dynamically load entrypoint and still seeing crash, though, so potentially loader not the issue. I do see that the layer_test still use vkCreateDebugReportCallback() for everything except VkLayerTest.DebugUtilsNameTest() in vklayertests_others.cpp. That test appears to be running and passing in our farm, though.
Still not sure what to make of th

[2019-08-23 02:19] Ralith commented on #1184
Are the originals of these functions considered deprecated? If not, this might be unpleasantly noisy for applications which don't need extensions on those interfaces.

[2019-08-23 07:10] Tobski commented on #1184
Pretty much, but this is why the ability to have a min spec is important - if you require e.g. VK_KHR_get_physical_device_properties2, then using v1 of that function is kind of pointless. But if you don’t, then you shouldn’t get that warning. Similarly you’d presumably still be able to filter messages via debug callbacks if you were deliberately using deprecated functionality.

[2019-08-24 02:29] krOoze opened #1194 "Not all image state set for swapchain images"
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/c8887f81511c334468b66a01e6fc333de8b18984/layers/core_validation.cpp#L13003-L13015

This likely does not set all image state. E.g. the protected flag, some pNext extensions...

[2019-08-26 23:40] krOoze opened #1202 "Note what when kSparseThreshold?"
@jzulauf-lunarg

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/c8887f81511c334468b66a01e6fc333de8b18984/layers/sparse_containers.h#L64

[2019-08-27 01:10] krOoze commented on #1106
I think I covered all the actionable items in previous or outstanding PRs...

[2019-08-29 16:21] jzulauf-lunarg opened #1211 "Guard C++ specific functions in vk_enum_string_helper.h code-generation script to regain 'C' compatibility."
Guard the utilities that compose a multi-bit flag word into a string joining all the bit stringifications into a single returned std::string, for example string_VkFenceCreateFlags.

These (and the header includes) should be guarded by:

#ifdef __cplusplus

in the auto-generation script.

From LunarXchange -- https://vulkan.lunarg.com/issue/view/5d4b09b5b736866d88e7e89d

[2019-08-29 19:20] nythrix commented on #330
I don't think this is resolved yet. I downloaded VulkanSDK v 1.1.114.0 and tested the scenario. I am still getting the performance warning. This time, I took a look around the code and found that the message is generated in `CoreChecks::VerifyImageLayout`: https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/25810d04dd0f9ba79022b9168541d68c147df255/layers/buffer_validation.cpp#L1109
I also

[2019-08-29 20:54] robbiesri opened #1214 "Bounds checks are missing from vkCmdCopyBuffer"
Recently ran into some bugs with incorrect copy sizes in vkCmdCopyBuffer. I was very surprised that validation didn't warn me about my over-sized copy. Came snooping around here, and saw that there was a ValidateBufferBounds function, but it isn't called from CoreChecks::PreCallValidateCmdCopyBuffer

[2019-08-29 21:43] mark-lunarg commented on #1214
I, too, am very surprised.  Relevant VUIDs:

[code]

[2019-08-31 13:27] harokyang opened #1217 "Validation Layer keep reporting widelines feature disabled"
vulkaninfo report widelines = 1, lineWidthRange is [1.0-64.0]

Everything works fine with static or dynamic line width pipeline setup
But validation layer keep reporting VkPhysicalDeviceFeatures::wideLines is disabled

Vulkan SDK 1.1.114.0, Windows 10 64bit, GTX 1060

[2019-09-02 03:08] harokyang commented on #1217
More information,

Error report on static line width:

ERROR: [Validation] Code 0 :  [ VUID-VkGraphicsPipelineCreateInfo-pDynamicStates-00749 ] Object: VK_NULL_HANDLE (Type = 19) | The line width state is static (pCreateInfos[0].pDynamicState->pDynamicStates does not contain VK_DYNAMIC_STATE_LINE_WIDTH) and VkPhysicalDeviceFeatures::wideLines is disabled, but pCreateInfos[0].pRasterizationState->l

[2019-09-02 15:12] Themaister opened #1218 "VK_EXT_host_query_reset validation does not seem correct"
I implemented this extension, and the validation layers appear to support this extension, but it doesn't seem to flag queries as being reset when I call vkResetQueryPoolEXT. Is this expected behavior?

[2019-09-02 16:07] mark-lunarg commented on #1217
@harokyang, can you confirm that you have enabled the WideLines feature in VkPhysicalDeviceFeatures as described in chapter 35 of the Vulkan Specification?

[2019-09-02 16:11] mark-lunarg commented on #1218
PR #1062 probably has relevant information.

[2019-09-02 16:14] #811 closed

[2019-09-02 16:32] Themaister commented on #1218
[code]
seems very similar to what I'm doing, was that PR supposed to fix these issues? I tried building master today and I'm seeing these kinds of error messages:
[code]
Calling code is: https://github.com/Themaister/Granite/blob/5e5404c16dee81cc15be378c1fce6e34788805ea/vulkan/query_pool.cpp#L61.

I can't see anything obviously wrong with it, my old approach of calling vkCmdResetQueryPool of one e

[2019-09-02 16:50] mark-lunarg commented on #1218
We'll take a look!

[2019-09-02 23:46] krOoze commented on #1211
This header does not seem to be part of the SDK on Windows... so perhaps this is a packaging error?

[2019-09-03 02:41] harokyang commented on #1217
Thanks for the remind
I forgot to enable it on device creation
The old validation layer say nothing about it, I thought it was enabled by default

[2019-09-03 02:41] #1217 closed

[2019-09-03 12:22] aejsmith commented on #766
I also think this warning should be removed. We hit it quite a bit but as far as I see the spec specifically says it's legal and the writes are just discarded.

[2019-09-03 15:28] mark-lunarg commented on #766
Hey @jeremy-lunarg, this seems to be low-hanging fruit.  Maybe it could be moved to Best Practices and taken out of CoreChecks.

[2019-09-03 23:22] #1214 closed

[2019-09-04 18:46] robbiesri commented on #1214
Cheers!

[2019-09-04 19:10] #658 closed

[2019-09-04 22:22] jzulauf-lunarg commented on #1218
TRIAGE NOTES:

This is a hole (or two) in our RetireWorkOnQueue logic.  Since `vkResetQueryPoolEXT` can (and in this case *does*) wait on query completion, the command functions similarly to `vkDeviceWaitIdle`, `vkQueueWaitIdle`, `vkWaitForFences` or `vkAcquireNextImageKHR` in that they provide information regarding execution synchronization with the queue the queries were submitted on.

Currently

[2019-09-04 22:25] jzulauf-lunarg commented on #1218
@Themaister  -- as a work-around, you should be able to wait on any fence subsequent to the EndQuery before resetting the queries to silence the error.  That's not optimal of course.

[2019-09-05 11:19] Avopeac opened #1226 "GPU assisted validation and usage of the nonuniformEXT qualifier"
When using the GPU assisted validation feature (in SDK 1.1.114.0) I'm getting a nullptr access in the instrumentation process when creating shader modules. This happens when using the nonuniformEXT qualifier to index a texture array. Stripping all the nonuniformEXT usage from the shader makes the validation feature work as intended. Is the qualifier supposed to be supported with the validation fea

[2019-09-05 16:52] greg-lunarg commented on #1226
Can you please supply the SPIR-V or the shader source and compilation command line?

[2019-09-06 17:54] mark-lunarg commented on #1211
After this imminent SDK, we'll be combing through the files included in the Source directory and removing unneeded ones.  Closing this issue as the layer support files in this repository are targeted at CPP.

[2019-09-06 17:54] #1211 closed

[2019-09-09 10:17] Avopeac commented on #1226
So I reduced the amount of shader code to reproduce the issue:

#version 450 core
#extension GL_EXT_nonuniform_qualifier : enable

layout( location = 0 ) in vec2 inTexcoord;
layout( location = 0 ) out vec4 outColor;

layout( set = 0, binding = 0 ) uniform Uniforms {
	vec2 var0;
} uniforms;

layout( set = 0, binding = 1 ) uniform sampler uniformSampler;
layout( set = 0, binding = 2 ) uniform textur

[2019-09-09 16:35] greg-lunarg commented on #1226
Thanks! Will take a look.

[2019-09-09 22:25] #750 closed

[2019-09-09 22:25] #1020 closed

[2019-09-10 05:29] locke-lunarg commented on #182
I'm not sure if the issue still exist.

If dstArrayElement is wrong, it shows `VUID-VkWriteDescriptorSet-dstArrayElement-00321: The sum of dstArrayElement and descriptorCount must be less than or equal to the number of array elements in the descriptor set binding specified by dstBinding, and all applicable consecutive bindings, as described by consecutive binding updates`.

And it crashes in `desc

[2019-09-10 09:54] haoxli opened #1236 "GN build fails on Windows with shared_mutex error"
When building Vulkan validation layers using GN on Windows 10 (VS2017 installed), I get an error says “shared_mutex" is unavailable in namepsace "std", this class is introduced in C++17.

Error log:
[code]

[2019-09-10 11:00] djdeath opened #1237 "Validation layers crashing on CTS"
On this particular set of tests :

[code]

Here are the valgrind backtraces :

[code]

At the following revision :
[code]

[2019-09-10 15:45] djdeath commented on #1237
No problem with validation layers 1.1.101.0

[2019-09-10 18:52] #1236 closed

[2019-09-11 22:09] jeremy-lunarg commented on #22
This is now covered by PR #1166.

[2019-09-12 16:00] jeremyk-lunarg opened #1251 "Khronos Validation Needs a Description Change"
Refer to [this issue](https://github.com/KhronosGroup/Vulkan-Tools/issues/261) on KhronosGroup/Vulkan-Tools.

[2019-09-12 16:10] rg3igalia opened #1252 "vkGetDeviceProcAddr returning non-NULL for disabled extensions"
When enabling some validation layers, vkGetDeviceProcAddr returns non-NULL pointers for functions that belong to extensions that have not been enabled in the device. According to the vkGetDeviceProcAddr spec, this should not be happening:

https://www.khronos.org/registry/vulkan/specs/1.1-extensions/html/vkspec.html#vkGetDeviceProcAddr

I've put together a small reproducer:

https://gist.github.co

[2019-09-12 16:13] #1251 closed, assigned to mark-lunarg

[2019-09-12 19:07] mark-lunarg opened #1254 "Thread safety crashes on encountering VK_ERROR_OUT_OF_HOST_MEMORY with custom allocator"
See (among others) the
`dEQP-VK.api.object_management.alloc_callback_fail_multiple.graphics_pipeline`
CTS test case.

Seems like the thread checker needs to grok non-success return codes and the creation of a subset of the requested objects (pipelines in this case).

[2019-09-13 03:11] Jelly3D opened #1256 "Crash when using the VK_KHR_imageless_framebuffer extension"
The framebuffer's VkFramebufferCreateInfo is filled with:
[code]
Then at render time a ptr to a VkRenderPassAttachmentBeginInfoKHR containing the actual image view used for rendering is passed in the pNext member of the VkRenderPassBeginInfo struct.

The validation layer then tries to validate the framebuffer's attachments in
ValidationStateTracker::RecordCmdBeginRenderPassState(),
--> ValidationS

[2019-09-13 12:11] baldurk opened #1257 "Layers validate basePipelineHandle object unconditionally"
The `basePipelineHandle` member in `VkGraphicsPipelineCreateInfo` and `VkComputePipelineCreateInfo` doesn't always have to be valid, but it's always checked in the object_tracker layer:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/be102ad6730ddc70d1e5b950ea7edc68063c5cad/layers/generated/object_tracker.cpp#L1087-L1092

In particular it only needs to be valid if flags contain `VK_P

[2019-09-13 16:29] mark-lunarg commented on #1252
Looking at this now.  And **THANKS** for the awesome repro case. 🥇

[2019-09-13 16:45] mark-lunarg commented on #1252
@rg3igalia, this API, `VkTrimCommandPoolKHR `was promoted to core in Vulkan 1.1.  So in 1.1 it is no longer an extension and does not need to be enabled.  If, in your test case, you change `appInfo.apiVersion` from `VK_API_VERSION_1_1 `to `VK_API_VERSION_1_0`, you _will_ get **NULL** since in 1.0 that API is part of the Maintenance1 extension.  Note that the names are aliased in the specification,

[2019-09-13 16:46] #1254 closed

[2019-09-13 18:14] danginsburg opened #1260 "VerifySetLayoutCompatibility swapping pipeline layout and binding layout?"
I'm on Vulkan SDK 1.1.121.0 and have been trying to debug this error:

[code]

I think this error message has reversed the descriptor set layout from the pipeline layout and the one from vkCmdBindDescriptorSets.

CoreChecks::PreCallValidateCmdBindDescriptorSets does:

[code]

Looking at VerifySetLayoutCompatibity it does:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/ad5d043ff34503

[2019-09-13 18:15] danginsburg opened #1261 "VerifySetLayoutCompatibility swapping pipeline layout and binding layout?"
I'm on Vulkan SDK 1.1.121.0 and have been trying to debug this error:

[code]

I think this error message has reversed the descriptor set layout from the pipeline layout and the one from vkCmdBindDescriptorSets.

CoreChecks::PreCallValidateCmdBindDescriptorSets does:

[code]

Looking at VerifySetLayoutCompatibity it does:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/ad5d043ff34503

[2019-09-13 18:16] danginsburg commented on #1261
Sorry for opening this twice - the github server error'd out on me and I didn't realize it had actually already submitted.

[2019-09-13 18:16] #1261 closed, assigned to nobody

[2019-09-13 20:53] djdeath commented on #1237
Unfortunately I'm unable to reproduce now.

I wonder if I was running with old generated files somehow...

[2019-09-13 20:53] #1237 closed

[2019-09-13 21:11] mark-lunarg commented on #1237
No problem, this is my favorite kind of issue!

[2019-09-14 14:23] JamesAMD commented on #546
I have the same question as @kennyalive : Is it okay to just ignore the `alignment` value returned by `vkGetAccelerationStructureMemoryRequirementsNV` ?

[2019-09-16 08:39] rg3igalia commented on #1252
Thanks for the quick reply and mentioning promotions. I've introduced some changes in the reproducer above so it requests function pointers for vkTrimCommandPool, vkTrimCommandPoolKHR and vkResetQueryPoolEXT. Without enabling the layers, I get output that looks like this:

[code]

While with the layers I get output like this one:

[code]

I'm not sure if the behavior observed above is correct or n

[2019-09-16 17:43] jzulauf-lunarg commented on #1252
@mark-lunarg  -- looks right.  We're going to have to track whether an extension/alias was actually enabled or with the feature was promoted.

TRIAGE NOTES: Easiest likely to add a duplicate "without promotion" copy of the InstanceExtensions/DeviceExtensions and modify InitFrom*CreateInfo to take a bool, enum, or tag type argument to control the promote logic that runs there.  Then the GIPA/GDPA s

[2019-09-16 21:42] mark-lunarg commented on #1256
@Jelly3D,  can you share a repro case?  I looked through the tests in vklayertests_imageless_framebuffer.cpp and it looks like this same scenario comes up a few times.  Did you receive any validation errors/warnings before the crash?  Thanks!

[2019-09-16 22:30] #590 closed

[2019-09-17 16:28] #1260 closed

[2019-09-17 16:49] jonslayer0 opened #1266 "Dedicated Allocation Aliasing (VkBindTextureMemory)"
Hello,

I'm sorry in advance if my problem has already been addressed and/or resolved.

I'm getting a validation layer error when calling vkBindTextureMemory (I'm using VMA and VulkanSDK 1.1.114.0).

Like the title says, I started by creating a vkImage, with preferred dedicated allocation (the VMA get memory requirements function returned the flag as true), then I'm creating a second vkImage and u

[2019-09-17 17:00] jeffbolznv commented on #1266
The "or an image that was created using the same parameters in sname:VkImageCreateInfo..." language is part of the VK_NV_dedicated_allocation_image_aliasing extension, and I don't think this was ever added to the validation layers. I'll fix this.

[2019-09-17 17:44] jonslayer0 commented on #1266
Thank you for the quick answer. For now, our callback function will ignore that message.

Regards,
Jonathan Siret

[2019-09-17 21:00] mark-lunarg commented on #1257
@baldurk, this should have been addressed by #1265, please let me know right away if the problem persists.  Thanks!

[2019-09-17 21:00] #1257 closed

[2019-09-18 20:17] mark-lunarg commented on #1202
Fixed by commit 0875f0c7f80.

[2019-09-18 20:17] #1202 closed

[2019-09-18 20:18] mark-lunarg commented on #1106
Closing for now, thanks a bunch guys!

[2019-09-18 20:18] #1106 closed

[2019-09-18 20:55] krOoze commented on #1106
@airlied BTW: new SDK is out if you feel like rescanning this...

[2019-09-19 18:26] #1266 closed

[2019-09-20 16:15] cdwfs opened #1272 "vkCreateDevice "best practices" check is testing the wrong state"
The check for `kVUID_BestPractices_CreateDevice_PDFeaturesNotCalled` in `best_practices.cpp` claims to be checking whether `vkGetPhysicalDeviceFeatures()` has been called before `vkCreateDevice()`. However, it's checking `vkGetPhysicalDeviceSurfaceCapabilitiesKHRState`, not `vkGetPhysicalDeviceFeaturesState`.

I started working on a PR for what I assumed would be a simple one-line change, but then

[2019-09-20 16:20] mark-lunarg commented on #1272
Sure @cdwfs, we'll take a look.  Thanks for finding it!

[2019-09-20 16:37] mark-lunarg commented on #1272
Hey, it's all yours!

[2019-09-20 16:38] mark-lunarg commented on #1272
You *may* need the change from #1273.

[2019-09-20 20:32] cdwfs opened #1275 "vkGetSwapchainImagesKHR best practices false negative"
I'm getting a false negative from the second call to `vkGetSwapchainImagesKHR()` in the following code:
[code]
The error:

(FWIW `swapchain_image_count` comes back as 3)

I stepped through the pre/post call validation in the debugger, and it looks like the `swapchain_state` that's retrieved and modified in `CoreChecks::PostCallRecordGetSwapchainImagesKHR()` isn't the same one that's retrieved and

[2019-09-20 21:20] cdwfs commented on #1275
Could it be because the state is recorded in `core_validation.cpp` but tested in `best_practices.cpp`? Do they end up in different maps? I see `CoreChecks::PreCallValidateGetSwapchainImagesKHR()` gets the same state object as `CoreChecks::PostCallRecordGetSwapchainImagesKHR()`, but `BestPractices::PreCallValidateGetSwapchainImagesKHR()` gets a different one.

[2019-09-22 15:23] nsubtil commented on #1105
This doesn't really help for the OneTree build, as it still requires a loader to be installed in the system in order to run VL tests, which is problematic (especially for CI).

Based on @lenny-lunarg's earlier comments, it sounds like modifying the tests to not rely on the loader would be a better approach anyway. Can we do that?

[2019-09-22 15:32] KarenGhavam-lunarG commented on #1105
Using the loader while running validation tests is also good testing of the loader that we currently rely upon.

Yes, there is a way to modify the tests to not use the loader. That would take some significant development and would take some time. Would first want to know that this doesn’t compromise QA.

The validation layer tests without some real hardware underneath them (CI environment?) is not

[2019-09-22 15:52] nsubtil commented on #1105
How can we figure out if modifying the tests would affect QA? If testing of VL + loader is used to verify the loader, I imagine that a compile-time switch could be created for this.

Mock ICD by itself won't help as it still requires a loader, so the WDK dependency is still present. OneTree needs to test VL without involving the WDK. Another way to achieve this could be to allow the loader to buil

[2019-09-22 15:59] KarenGhavam-lunarG commented on #1105
It was my understanding that the way Lenny resolved this issue does not require WDK to be on the system (removed the WDK dependency). He did this by including a binary on the system to remove the need for WDK being on the system. So OneTree can use the loader without having WDK on the system. That is my limited understanding and we can wait for Lenny to correct my understanding if needed.

[2019-09-23 03:24] lenny-lunarg commented on #1105
Do you mean removing the build-time dependency? If so my answer is yes, absolutely. Or do you mean removing the run-time dependency? If so, no that has no chance of working. There's nothing capable of loading the layers at all if there's no loader.

As far as QA concerns go, we run the validation layer tests against the loader's tip of master every time we push a change to the loader in LunarG's i

[2019-09-23 13:32] jekstrand opened #1276 "No validation for storage image formats in SPIR-V"
The Vulkan spec requires that the format specified in the SPIR-V for a shader must match the Vulkan format of the attached image view:

There is no validation for this and Intel relies on it for certain image formats for certain hardware.

[2019-09-23 14:22] danginsburg commented on #1276
To add a bit more detail about the bug in Dota 2, see: https://github.com/ValveSoftware/Dota-2-Vulkan/issues/314

The current version of Dota 2 on Steam Public has this bug if you enable the "Compute Shader" option so you could use that to check validation.  Although I plan to fix this today so it might not be there much longer.

The shader has an OpTypeImage declared with rgba32f but the actual f

[2019-09-23 15:38] jekstrand commented on #1276
We also need to make sure this is properly validated:

[2019-09-23 16:02] #1272 closed

[2019-09-23 16:36] mark-lunarg commented on #1105
Coincidentally, I have had this branch sitting around for a few weeks, so I've created PR #1277.  This allows VVL to be built and tested without pulling down and building a loader.  This needs to be accompanied by supporting changes in the Google and LunarG internal CI systems.

[2019-09-24 21:04] mark-lunarg commented on #1077
@zhaijialong, apparently, this is not invalid behavior.  It may be intentional, or may be a hole in the Vulkan spec.  You may file an issue in [Vulkan-Docs](https://github.com/KhronosGroup/Vulkan-Docs) to have this explained/fixed.  The best we can do without more explicit spec language is to add this to the Best Practices validation, and a reference to this issue has been added to the [BP trackin

[2019-09-24 21:04] #1077 closed

[2019-09-25 17:44] Plagman opened #1279 "Memory poisoning linting tool"
Apps using uninitialized memory and not realizing it because current Windows drivers happen to zero-initialize it is a common issue. Could the validation layers have a mode that initializes memory with garbage to uncover these sorts of cases?

[2019-09-25 20:27] mark-lunarg commented on #1279
Sure, that could be an opt-in enable in the khronos layer.

[2019-09-26 23:33] Rainer4 opened #1282 "vkGetPhysicalDeviceWin32PresentationSupportKHR not recognized by layers"
It seems like the Khronos validation layers do not recognize vkGetPhysicalDeviceWin32PresentationSupportKHR, since the message "vkQueuePresentKHR: Presenting image without calling vkGetPhysicalDeviceSurfaceSupportKHR" is sent whenever presenting, when using vkGetPhysicalDeviceWin32PresentationSupportKHR instead of vkGetPhysicalDeviceSurfaceSupportKHR.

[2019-09-27 10:11] unrealqloc opened #1283 "Threading validation error when using vkResetEvent()/vkCreateEvent() with vkCmdFillBuffer()/vkCmdWriteBufferMarkerAMD() on different threads"
I have thread validation error Vulkan SDK 1.1.121:
THREADING ERROR : object of type VkCommandPool is simultaneously used in thread 0x6e08 and thread 0x14a0..
It's related to calling of vkResetEvent()/vkCreateEvent()/vkSetDebugUtilsObjectNameEXT() and (vkCmdFillBuffer() and vkCmdWriteBufferMarkerAMD()) on different threads. Am I doing something wrong or there is an issue with threading validation?

[2019-09-27 18:34] jeffbolznv commented on #1283
vkResetEvent/vkCreateEvent don't count as using a command pool, so they shouldn't be relevant (though vk*Cmd*ResetEvent does use a command pool). Is it possible for you to set a breakpoint on that error being logged and maybe find the offending commands in the call stacks of the two threads?

Note that there was a pretty big rewrite of the ThreadSafety layer in the most recent SDK. It's possible t

[2019-09-28 21:05] fundies opened #1285 "Warn if accessing texture from ram"
So I'm an idiot and messed up some code to select the proper memory index for using when uploading/accessing textures. This caused huge fps dips and multiple devs were unable to spot the error. If the validation layers printed an error for when not using VK_MEMORY_PROPERTY_DEVICE_LOCAL_BIT this problem could've been caught and fixed much sooner.

[2019-09-28 21:08] DethRaid commented on #1285
This wouldn't have caused a performance problem if you were using a system with a Unified Memory Architecture (integrated GPUs on desktop, every mobile device I'm aware of). The validation layers should only warn when you're sampling from an image in host memory if you're running on a NUMA system

This shouldn't be an error because maybe your application needs more image data than can fit in devic

[2019-09-29 06:58] btolsch opened #1286 "Inconsistent warning for pipeline layout "compatible for set N""
I have some rendering code that uses multiple pipeline layouts.  There are three that are relevant for this bug (using descriptor set layouts A and B):
1. descriptor set layouts: {A, B}, push constant range: {offset: 0, size: 16}
2. descriptor set layouts: {A, B}, push constant range: {offset: 0, size: 24}
3. descriptor set layouts: {A}, push constant range: {offset: 0, size: 92}

There's a sequen

[2019-09-30 23:01] jzulauf-lunarg commented on #1179
I've found the spot in the code where the incorrect entrypoint name is assumed and fixed this.  However, we have this exact case in our unit test suite, and the only way I can get it to produce (the now corrected) error message is with a *2nd* call to vkCmdWriteTimestamp at index 0.  I'll post a pull request with the fixed message, but cannot reproduce the other condition.

[2019-10-01 10:10] hrydgard commented on #1179
OK, I'll double check my code and create a repro or close as appropriate.

[2019-10-01 12:41] Destranix opened #1721 "Unexpected VK_ERROR_VALIDATION from vkAcquireNextImageKHR"
[[Note added by @oddhack: this issue was transferred from Vulkan-Docs as it appears the underlying issue is some undefined behavior around synchronization, though you may have to read fairly deeply into the comments thread to pick that up]]

See:

https://github.com/baldurk/renderdoc/issues/1526

Baldurk could not reproduce that issue like it occured on my system. It might be a driverbug.

For an

[2019-10-01 13:20] jzulauf-lunarg commented on #1179
@hrydgard -- pushed a branch with the naming fixes...

[2019-10-01 15:33] jzulauf-lunarg commented on #1286
@btolsch  -- First, you've identified a good "incomplete" to fix -- there is a class of missing Valid Usage statements like:

There are errors you should be getting and *aren't*  which might have helped you.  Tagging the bug to reflect this.

Second  -- clarification on usage (to make sure there isn't something *else* broken).  You spoke of "prior draw sequence" invalidating sets.  Currently bound

[2019-10-01 15:44] Rainer4 commented on #1282
Solved: Platform-specific versions of the present-support function do not check for surface compatibility, hence the warning. https://vulkan.lunarg.com/doc/view/1.0.33.0/linux/vkspec.chunked/ch29s04.html:  "Not all physical devices will include WSI support. Within a physical device, not all queue families will support presentation. WSI support and compatibility can be determined in a platform-neut

[2019-10-01 15:44] #1282 closed

[2019-10-01 15:56] mark-lunarg commented on #1282
Wow!  Thanks for the clarification and update -- we very much appreciate the follow-through. 👍

[2019-10-01 16:06] mark-lunarg commented on #1285
In their default mode, the validation layers can only attempt to enforce the Vulkan specification.  Unless this warning/error is called out in the spec or an explicit/implicit VUID exists, it will not be added to validation.
However, there is a best-practices mode which can be enabled where this might be useful, and this warning request has been added to the Best Practices tracking issue (#24).

[2019-10-01 16:06] #1285 closed

[2019-10-01 17:33] mboucha1 opened #1291 "Receiving 'VUID-vkBindImageMemory-memory-01509' error messages when VK_NV_dedicated_allocation_image_aliasing extension is used"
Based on the following documentation:
https://github.com/KhronosGroup/Vulkan-Docs/blob/master/appendices/VK_NV_dedicated_allocation_image_aliasing.txt

This extension allows user to alias different VkImage on dedicated allocations with these restrictions:
"the extent and the number of layers in the image   being aliased must be smaller than or equal to those of the original image   for which the a

[2019-10-01 17:45] jeffbolznv commented on #1291
I fixed this recently, see https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/82f854d3c711f1469df1711b8f04f0e90f1557d6. It's not in the 1.1.123.0 SDK release. Are you using a newer commit than that? If so, did you enable the dedicatedAllocationImageAliasing feature?

[2019-10-01 17:58] mboucha1 commented on #1291
We currently use Vulkan SDK version 1.1.114.0 with the dedicatedAllocationImageAliasing feature.

Which SDK should have the fix?

[2019-10-01 18:02] jeffbolznv commented on #1291
It would be in the next official release, which I'd guess is at least a few weeks away since the .121 SDK was pretty recent. Or you could build the layers from source...

[2019-10-01 18:38] mark-lunarg commented on #1283
@unrealqloc, as @jeffbolznv mentioned, it is possible there is an issue with the validation.  However, we are unaware of any other like reports.  The best way to proceed is to have a repro case -- can you share a code snippet or test case that exhibits the problem?  If not, can you share an API dump of the app while running the validation layers?  Thanks!

[2019-10-01 18:50] mark-lunarg commented on #1291
In addition to building layers from source, you can download the Windows build-artifacts including validation layer binaries from @jeffbolznv's fix from appveyor [here](https://ci.appveyor.com/project/Khronoswebmaster/vulkan-validationlayers/builds/27483688/job/n0t4wg35jvwlglxj/artifacts).   Closing this issue for now, if you are able to verify that it persists using the referenced binaries or lat

[2019-10-01 18:50] #1291 closed

[2019-10-02 20:38] mark-lunarg commented on #1105
Build-time dependencies on Vulkan-Loader have been removed from Vulkan-ValidationLayers.

[2019-10-02 20:40] mark-lunarg commented on #796
In work.  Also picking up #456.

[2019-10-02 20:41] mark-lunarg commented on #456
In work.

[2019-10-03 16:56] mark-lunarg commented on #1105
Hey @lenny-lunarg, can you close this if the actionable items have been completed?

[2019-10-03 18:03] hysw opened #1295 "Unintended copy of output fields in VkPipelineCreationFeedbackCreateInfoEXT?"
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/9b00efde64668c1748a82e6ee879ac667099475d/layers/generated/layer_chassis_dispatch.cpp#L253

The memory region pointed to by
VkPipelineCreationFeedbackCreateInfoEXT::pPipelineCreationFeedback
and
VkPipelineCreationFeedbackCreateInfoEXT::pPipelineStageCreationFeedbacks
are suppose to be used for returning data from the icd/driver to the app

[2019-10-03 18:05] hysw commented on #1295
Partial stack trace:
#1  ... in DispatchCreateGraphicsPipelines (device=0x7fffc41de010, pipelineCache=0xdc0060, createInfoCount=1,
    pCreateInfos=0xdbff90, pAllocator=0x0, pPipelines=0x7fffffffe3d0)
    at layers/layer_chassis_dispatch.cpp:253
#2  ... in vulkan_layer_chassis::CreateGraphicsPipelines (device=0x7fffc41de010, pipelineCache=0x1c000000001c,
    createInfoCount=1, pCreateInfos=0xdbff9

[2019-10-08 20:48] #456 closed

[2019-10-08 20:48] #796 closed

[2019-10-10 15:19] reduz opened #1307 "Unnecesary warning regarding clearing."
I am trying to render to a region of a framebuffer, and only clearing this region of the framebuffer, as I intend the rest of the content to remain unmodified. As clearing a portion is not possible on Vulkan (I understand this is done for performance reasons, specially on mobile or for hzb, but for my specific use case I just intend to update an atlas with something simple, so it's fine), I use LO

[2019-10-10 16:05] mark-lunarg commented on #1307
@reduz, we're in the (slow) process of moving warnings out of the default operation of the validation layers, and into an opt-in validation state (Best Practices).  I am adding this to the Best Practices tracking issue #24, and it will be added there and removed from corechecks.  @camden-lunarg will address this as part of that issue.  Thanks!

[2019-10-10 16:05] #1307 closed

[2019-10-10 19:12] jeffbolznv opened #1310 "core: skip chassis locking for methods that aren't implemented"
The core layer currently takes a lock around each PreCallValidate, PreCallRecord, and PostCallRecord method, even if the method doesn't do anything. And one of the two Record functions is empty the vast majority of the time. I see a decent improvement in multithreaded scaling by skipping the unnecessary locks.

I'd like to discuss options for how to deal with this. A couple ideas:

(1) Push the lo

[2019-10-10 19:13] jeffbolznv commented on #1310
ping @jzulauf-lunarg @mark-lunarg for their thoughts.

[2019-10-10 22:04] mark-lunarg commented on #1256
With the available information, we are unable to reproduce this issue. If more information becomes available, or a test case is available, please reopen this issue.

[2019-10-11 16:42] #403 closed

[2019-10-11 21:37] mark-lunarg commented on #1295
First attempt doesn't account for a createinfo count > 1.

[2019-10-12 00:14] #182 closed

[2019-10-12 03:53] Valakor opened #1312 "Validation layer crashes in ValidationStateTracker::AddCommandBufferBindingImage when calling vkCmdCopyImage and dstImage is a swapchain image"
The parameter `IMAGE_STATE *image_state` is nullptr - is there no recorded image state for swap chain images? I assume this will affect any of the functions in `state_tracker.cpp` that accept an image that might have been obtained from a swap chain.

Some extra details:

- SDK version 1.1.121
- Occurs on both MacOS (MoltenVK) and Windows
- Only occurs when enabling `VK_VALIDATION_FEATURE_ENABLE_BE

[2019-10-12 14:23] JDeuce opened #1313 "Tests crash on my Galaxy S10e"
I built this project with Ubuntu 18.04.
Got this crash when running the test APK on my S10e, is this expected?

Maybe it's a problem with the way I produce the build, is there anywhere to download pre-built binaries of this project?

The android NDK docs say it's supposed to be provided...(https://developer.android.com/ndk/guides/graphics/validation-layer)
but all the NDK downloads seem to come wi

[2019-10-12 14:27] JDeuce opened #1314 "update_deps.py issue on Python 3.6.8 with Ubuntu 18.04"
The script doesn't seem to run with this version of python 3

[code]

Workaround for now is to edit _update_external_sources_android.sh_ to run with python2

[code]

[2019-10-12 14:35] JDeuce opened #1315 "issue in spirv-tools: amd_ext_to_khr.cpp tries to include spv-amd-shader-ballot.insts.inc and fails"
One more minor issue I encountered when building latest.

Ran into a similar error to this one https://github.com/google/amber/issues/648
[code]

Had to apply this patch from spirv-tools to _build-android/third_party/shaderc/third_party/spirv-tools/Android.mk_ to add the extra dependency on that inc file before it would compile:

https://github.com/KhronosGroup/SPIRV-Tools/pull/2883/commits/0bda2b

[2019-10-14 16:03] QuantumDeveloper opened #1316 "Present of VK_LAYER_LUNARG_parameter_validation layer crashes app on Vulkan SDK 1.1.121.X"
If I add VK_LAYER_LUNARG_parameter_validation layer to my app, it will crashes on call to `vkCreateGraphicsPipelines`
If I remove it, everything compile and works correctly.

[2019-10-14 16:55] mark-lunarg commented on #1312
There was an issue with best practices in 1.1.121 which was addressed in a point release, 1.1.121.1.  Can you please confirm you are using SDK 1.1.121.1 or later?

[2019-10-14 17:01] mark-lunarg commented on #1314
@JDeuce, your issue does not manifest in either the internal test farm nor in [Github CI](https://travis-ci.org/KhronosGroup/Vulkan-ValidationLayers).  Can you provide information related to your build environment, python versions, etc?  And when did this issue begin to occur, for instance, is this a recent issue?  Thanks!

[2019-10-14 17:03] jeffbolznv commented on #1312
It looks like core and statetracker still have this bug, e.g. see ValidationStateTracker::PreCallRecordCmdCopyImage

[2019-10-14 17:15] mark-lunarg commented on #1315
@JDeuce, can you please supply the commit IDs you are using for glslang and spirv-tools?  Thanks!

[2019-10-14 17:29] mark-lunarg commented on #1316
Hi @QuantumDeveloper, we'll need some more information to look into this further.  Can you provide a simple test case, or an apidump of the app including the crash, or at a minimum the parameters to the call that are causing the crash or a stack trace?  Thanks!

[2019-10-14 17:42] QuantumDeveloper commented on #1316
**Here is my code for creating graphics pipeline**
[code]

**Vertext shader**
[code]

**Fragment shader**
[code]

[2019-10-14 17:44] QuantumDeveloper commented on #1316
I am using my own thin C# wrapper over calls to C code, so somewhere names could differ, but calls and data correct and far as it was correctly working on previous versions of vulkan and working correctly now if remove mentioned validation layer

[2019-10-14 17:49] JDeuce commented on #1315
I didn't try to figure out the proper way to update the dependency, only that the version I had was missing those 2 lines in Android.mk. I just manually patched those in to get my build to succeed.

[2019-10-14 17:56] JDeuce commented on #1314
I just setup a new Ubuntu 18.04 VM to compile it, following these instructions https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/BUILD.md#building-on-linux.

So it's not something that just recently started happening.

Looking at the travis config the build seems to be using Ubuntu Xenial (16.04 w/ python 3.5 as default) while I was using Bionic (18.04 w/ python 3.6 as default).

[2019-10-14 19:00] mark-lunarg commented on #1315
This repository is only vetted to work with the versions set in the `known_good.json` file, specifically to avoid incompatibilities such as this -- thanks for the heads-up, we'll make sure the fix for this is included in the next known-good update.

[2019-10-14 19:00] #1315 closed

[2019-10-14 22:04] mark-lunarg commented on #1295
This should be fixed by #1318.   Thanks!

[2019-10-14 22:04] #1295 closed

[2019-10-14 22:22] #1314 closed

[2019-10-15 06:26] BoneCrasher opened #1319 "Build fails for external installation of glslang -> <SPIRV/spirv.hpp> not found"
If I use the SPIRV-header distribution of glslang to build the vulkan SDK validation layers, it won't locate the SPIRV/spirv.hpp-file, since:

1. glslang installs the headers into `${CMAKE_INSTALL_PREFIX}/include/glslang`
2. The validation layers automatically concat "include" onto `GLSLANG_INSTALL_DIR`.

Consequently there's a contradiction.
Either I set the `GLSLANG_INSTALL_DIR` to `${CMAKE_INST

[2019-10-15 06:51] BoneCrasher commented on #1319
#1320

[2019-10-15 18:47] #1319 closed

[2019-10-16 11:55] #1286 closed

[2019-10-16 11:57] #1312 closed

[2019-10-17 15:41] Google-Autofuzz opened #1330 "Integrating with OSS-Fuzz"
Greetings Vulkan-ValidationLayers developers and contributors,

We’re reaching out because your project is an important part of the open source ecosystem, and we’d like to invite you to integrate with our [fuzzing](https://www.owasp.org/index.php/Fuzzing) service, [OSS-Fuzz]( https://opensource.googleblog.com/2016/12/announcing-oss-fuzz-continuous-fuzzing.html ). OSS-Fuzz is a free fuzzing infrast

[2019-10-17 19:52] mark-lunarg commented on #1330
This sounds like a valuable tool/service, and we'll add it to our internal project list in the hopes it will be prioritized in the future.  Thanks!

[2019-10-17 19:52] #1330 closed

[2019-10-17 20:08] mark-lunarg commented on #1313
@JDeuce, I think the upcoming NDK will only have the single layer, while the last one had the newer single layer alongside the individual older ones.  I am unaware of the availability of Android layer binaries.  We do have two Galaxy S10s in our internal test farm, and they seem to pass this test, though if you are passing all the others that does seem odd.  Is that the only test that fails on you

[2019-10-17 22:52] locke-lunarg commented on #507
I ran `dEQP-VK.conditional_rendering.* in vulkan-cts-1.1.5 and Vulkan SDK 1.1.121`. I don't see those two error messages.

`VUID-VkRenderPassCreateInfo-pDependencies-00838` should be solved because `VK_PIPELINE_STAGE_CONDITIONAL_RENDERING_BIT_EXT `is checked in `ValidateSubpassGraphicsFlags() of stateless_validation.h`.

`VUID-vkCmdPipelineBarrier-pDependencies-02285` message says `no self-depende

[2019-10-18 20:40] greg-lunarg commented on #1226
My apologies. This slipped off my stack. Am looking now.

[2019-10-19 16:11] jcxz opened #1333 "Using `vkSetDebugUtilsObjectNameEXT` with `VkFence` from `vkAcquireNextImageKHR` causes crash"
As the title says, when I attach some name to `VkFence` object through `vkSetDebugUtilsObjectNameEXT` and this fence is used from `vkAcquireNextImageKHR` I get a crash with the following callstack:

[code]

Attached is a modified version of the Vulkan tutorial, that triggers the crash on my system:
[vkSetDebugUtilsObjectNameEXT_crash.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/fil

[2019-10-20 22:36] null77 opened #1334 ""Fix const violation in PreCallValidateQueueSubmit" regresses Event validation"
I noticed that after rolling a layer update into ANGLE some tests I was trying to enable suddenly had a new failure:

[code]

I verified manually that my `vkCmdSetEvents` and `vkCmdWaitEvents` calls were valid:

[code]

I then did a manual `git bisect` and pinpointed the following CL:

[code]

@jeffbolznv would it be possible to revert or fix that CL? This is blocking ANGLE's OpenGL multithreading

[2019-10-21 02:33] jeffbolznv commented on #1334
I've reproduced this, I'll push a fix for it shortly.

[2019-10-21 19:43] pdaniell-nv commented on #1333
Thanks for your bug report. I have identified the cause of the crash and implemented a fix, which will be available in a future driver release. Sorry for the inconvenience.

[2019-10-21 19:48] mark-lunarg commented on #1333
Thanks to @pdaniell-nv for the quick analysis!

[2019-10-21 19:48] #1333 closed

[2019-10-21 21:21] #1334 closed

[2019-10-21 23:03] tobine opened #1336 "DebugUtils not working on Android w/ VK_LAYER_KHRONOS_validation"
After a number of roadblocks we finally updated ANGLE to use the VK_LAYER_KHRONOS_validation unified layer. However, on Android I'm seeing a crash when attempting to use the layer along with the VK_EXT_debug_utils extension.

I've added a [workaround](https://cs.chromium.org/chromium/src/third_party/angle/src/libANGLE/renderer/vulkan/RendererVk.cpp?l=698) for Android on ANGLE where we fall-back to

[2019-10-21 23:23] JDeuce commented on #1313
The tests crashed after that one failure. I didn't try recompiling them to skip that one. So status unsure.

[2019-10-21 23:28] null77 commented on #1334
Thanks for the quick fix!

[2019-10-22 09:24] ansicode opened #1337 "ValidateCmdBufImageLayouts InvalidImageLayout"
on Vulkan SDK 1.1.121, the code example below crashed in ValidateCmdBufImageLayouts with error message:

`
VkImageCreateInfo image_info = {
    .initialLayout = VK_IMAGE_LAYOUT_UNDEFINED;
};
vkCreateImage(&image_info);

VkAttachmentDescription colorAttachment = {
    ...
    .initialLayout = VK_IMAGE_LAYOUT_UNDEFINED,
    .finalLayout = VK_IMAGE_LAYOUT_COLORATTACHMENT_OPTIMAL
};

VkRenderPassCreat

[2019-10-22 09:30] ansicode commented on #1337
if we change VkImageMemoryBarrier.oldLayout to VK_IMAGE_LAYOUT_UNDEFINED
the validation layer doesn't complain
but it doesn't make sense

[2019-10-22 15:55] #539 closed

[2019-10-22 21:13] Ralith opened #1340 "vkCreateSwapchainKHR imageExtent surface capabilities false positive"
`CoreChecks::ValidateCreateSwapchain` checks that the supplied `imageExtent` falls within the bounds given by `vkGetPhysicalDeviceSurfaceCapabilitiesKHR`. However, it's possible that a correct application will call `vkGetPhysicalDeviceSurfaceCapabilitiesKHR`, followed by the underlying surface being resized before the call to `vkCreateSwapchainKHR`, causing the layer's own call to produce differen

[2019-10-22 21:37] mark-lunarg commented on #1313
Hey @JDeuce, might you try this layer tests binary [VulkanLayerValidationTests.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/3758735/VulkanLayerValidationTests.zip) and let me know the result?  This is built the arm64-v8a build of the layer validation tests APK from Master as of today.

[2019-10-23 01:59] JDeuce commented on #1313
Seems to crash on same test

[code]

[2019-10-23 21:31] camden-lunarg commented on #1275
This issue was resolved in 81e3926df541964f29f2432401227ef9d08ea576.

```CoreChecks::PostCallRecordGetSwapchainImagesKHR()``` has been moved to ```ValidationStateTracker::PostCallRecordGetSwapchainImagesKHR()``` which both BestPractices and CoreChecks inherit from. @mark-lunarg I'm going to close this issue.

[2019-10-23 21:31] #1275 closed

[2019-10-24 15:00] DadSchoorse opened #1345 "Validation-Layers cause a segfault on vkBeginCommandBuffer"
I am the author of a [little vulkan layer](https://github.com/DadSchoorse/vkBasalt/tree/master) that does some post processing. The layer works as intended, but if I also use the Validation Layers they cause a segfault on vkBeginnCommandBuffer with no validation error reported before.

Validation Layers used are 1.1.121.0~rc3-1lunarg18.04.1.1 from the lunarg PPA.

[2019-10-24 16:25] mark-lunarg commented on #1345
@DadSchoorse, if we load up the post-processing layer and run with vkcube, will that be sufficient to observe the crash?  Is it Linux only?  Is the behavior the same if you reverse the order of the layers? Does the post-processing layer work fine with other layers (such as apidump)?  Thanks in advance for the extra information!

[2019-10-24 16:41] DadSchoorse commented on #1345
My layer is Linux only, and yes the crash can be observed with vkcube. I do not know how do change the order of the layer. Isn't a implicit layer always loaded closer to the program than the to icd compered to an explicit layer?
With apidump and my layer vkcube crashes on BeginCommandBuffer too, does this mean it is a bug in my layer or not?

[2019-10-24 17:28] mark-lunarg commented on #1345
@DadSchoorse, as the crash occurs with both the Khronos layer and with api_dump, the issue is likely related to initializing dispatch tables for your _layer-created_ dispatchable objects.  Any DO (instances, devices, physical_devices, queues and command_buffers) must have their dispatch tables initialized.  So, for instance, in your `allocateCommandBuffer` routine, for each command buffer you need

[2019-10-24 17:45] DadSchoorse commented on #1345
Oh thanks for pointing this out, I did not know that I need to do this. Now everything works as expect.

[2019-10-24 17:45] #1345 closed

[2019-10-24 21:23] jeremy-lunarg commented on #22
Fixed by #1344.

The SPIR-V optimizer (#2927) has been patched to handle existing extended types, and I've updated the patch in #1344 to log errors when future unrecognized/extended types are encountered.

[2019-10-24 21:23] #22 closed

[2019-10-25 18:33] pdaniell-nv commented on #1333
@jcxz the new Vulkan beta driver 436.59 should have a fix for this issue here: https://developer.nvidia.com/vulkan-driver. Let me know how it works out for you. Thanks.

[2019-10-25 19:09] locke-lunarg commented on #1336
The program crashes in https://cs.chromium.org/chromium/src/third_party/angle/src/libANGLE/renderer/vulkan/RendererVk.cpp?l=788 -> https://cs.chromium.org/chromium/src/third_party/angle/src/libANGLE/renderer/vulkan/vk_utils.h?g=0&l=706.

It crashes when it runs `vkCreateDebugUtilsMessengerEXT`. I think the reason is the driver doesn't really support `VK_EXT_DEBUG_UTILS_EXTENSION_NAME`, although th

[2019-10-25 19:23] mark-lunarg commented on #1336
@tobine, we think this is probably an issue with the Android loader.  The desktop loader needed special plumbing to handle extensions implemented by a layer but not by the display driver.

[2019-10-25 20:09] #1313 closed

[2019-10-25 20:21] #766 closed

[2019-10-28 15:16] pixeljetstream opened #1349 "unexpected error messages when reading queries without "wait" as well as VK_EXT_query_host_reset"
SDK 1.1.114.0
https://drive.google.com/file/d/1eYxJT6AXZX89AU-2zYYz3P6yZFzaNx7I/view?usp=sharing
binaries here (msvc 2017-x64 debug)

The use of wait for fences ensures that the queries are not in-flight, yet the validation layer complains “query may return no data”, only if I enforce the WAIT BIT on query read that message goes away.

When the scene regeneration is activated in the ui, some queri

[2019-10-29 13:46] jcxz commented on #1333
@pdaniell-nv I do not see the crash anymore. Thanks for the fix :)

[2019-10-29 15:29] pdaniell-nv commented on #1333
Cool, thanks for letting us know. The fix will find its way into a future non-beta driver. Thanks.

[2019-10-30 20:02] httpdigest opened #1356 "VUID-VkBindAccelerationStructureMemoryInfoNV-size-02595 should not apply to compacted acceleration structures"
I am currently getting the following validation error (though the application works fine) when compacting a bottom-level acceleration structure:
[code]
which is triggered here: https://android.googlesource.com/platform/external/vulkan-validation-layers/+/HEAD/layers/core_validation.cpp#6922

The original (uncompacted) bottom-level acceleration structure has a size of exactly `24,772,608` bytes and

[2019-10-30 20:59] mark-lunarg commented on #1356
@jeffbolznv, can you take a quick look to see if this is a spec issue?

[2019-10-30 21:00] httpdigest commented on #1356
btw. I realized that this might be the case and opened an issue here as well: https://github.com/KhronosGroup/Vulkan-Docs/issues/1078

[2019-10-30 21:02] mark-lunarg commented on #1356
Great! Thanks Kai.

[2019-10-31 13:48] jonasmr opened #1358 "Validation reporting query may return no data"
It seems the validator is reporting:
`ERROR: [0][UNASSIGNED-CoreValidation-DrawState-InvalidQuery] : Requesting a copy from query to buffer on VkQueryPool 0x7e7cff000000003a[] query 0: query may return no data`
Incorrectly.

Using the following example(Paste into Sasha Willems examples, IE texture.cpp in draw()):
Code creates a Querypool, resets it, does one write timestamp, and the issuing the co

[2019-10-31 17:24] #1337 closed

[2019-11-01 16:00] tobine commented on #1336
I'll investigate this a bit more. Note that we were able to use DebugUtils extension without issue previously on Android. It was only when I switched from the individual layer stack to the unified layer that DebugUtils was causing crashes.

[2019-11-01 18:20] tobine commented on #1001
Added a memory allocation bullet to the original tracking list. Will append further info to direct optimization work in this area. @aellem

[2019-11-01 18:26] jeffbolznv commented on #1001
The safe structs allocated in the dispatch chassis are a great candidate for a memory pool optimization. There was some discussion of that (and a prototype) here: https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1192#discussion_r317382934.

[2019-11-01 18:40] mark-lunarg commented on #1336
@tobine, `EnumerateInstanceExtensionProperties `was modified to correctly report the `DebugUtils `extension in mid-April.  @locke-lunarg modifed the Khronos layer to NOT report this extension, and the test cases in question pass, outputting "Extension not supported: VK_EXT_debug_utils", and we verified that our Android device does not support this extension.  This points directly to an issue with

[2019-11-04 08:56] jonasmr commented on #1358
I found the problem myself:

[2019-11-04 08:57] jonasmr commented on #1358
I Found the problem:
Adding VK_QUERY_RESULT_WAIT_BIT to CopyQueryPoolResults fixes the error.

[2019-11-05 15:30] HansKristian-Work opened #1360 "Validation of KHR_timeline_semaphore is missing"
I tried buliding from git, but it seems that KHR_timeline_semaphore validation is not implemented. There seems to be some basic checks about having the KHR extension enabled when calling certain entry points, but that's about it.

[2019-11-07 06:20] Destranix opened #1363 "Unexpected VK_ERROR_VALIDATION from vkAcquireNextImageKHR"
See
https://github.com/KhronosGroup/Vulkan-Docs/issues/1040
for details.

Example:
Thread1:
[code]
Thread2:
[code]
Thread3:
[code]

For detailed version see: https://github.com/Destranix/Vulkan_Swapchain_Issue

[2019-11-07 11:44] jareksocha opened #1364 "vkCmdResetQueryPool + vkCmdBeginQuery/vkCmdWriteTimestamp false positive"
Hello,

I have encountered a problem with vkCmdResetQueryPool and vkCmdBeginQuery/vkCmdWriteTimestamp validation.
I'm getting messages:

vkCmdBeginQuery(): VkQueryPool 0x4655610000000064[] and query 99: query not reset. After query pool creation, each query must be reset before it is used. Queries must also be reset between uses.

But the problem is that vkCmdResetQueryPool is executed in differen

[2019-11-07 12:55] unrealqloc commented on #1283
Sorry for late reply, I didn't notice follow ups. I've managed to fix this issue, but validation layers wasn't helpful. Firstly I've put mutexes everywhere around all command buffer / pool accesses to quiet validation layers, but after that I've got random crashes inside vkCmdWriteBufferMarkerAMD() / vkCmdFillBuffer() functions (inside AMD driver).
In the end I've removed all mutexes (adding them

[2019-11-07 15:49] mark-lunarg commented on #1283
@unrealqloc, I would strongly suggest opening an issue in [Vulkan-Docs](https://github.com/KhronosGroup/Vulkan-Docs) with this request, and thanks for your detailed follow up!

[2019-11-07 15:49] #1283 closed

[2019-11-08 11:17] pixeljetstream opened #1366 "unexpected error about VK_COMMAND_BUFFER_USAGE_SIMULTANEOUS_USE_BIT"
using 1.1.126.0 SDK

getting the following error message, which references a non existing "0" primary buffer, and imo the application doesn't actually fall into that problem.

ERROR: VUID-vkQueueSubmit-pCommandBuffers-00073
 --> VkCommandBuffer 0x2540994cdc0[] was submitted with secondary VkCommandBuffer 0x2540994b3a0[] but that buffer has subsequently been bound to primary VkCommandBuffer 0x0[] a

[2019-11-08 13:38] pixeljetstream opened #1367 "unexpected ERROR on vkCreateGraphicsPipelines and overlapping push constant ranges"
Windows x64 - SDK 1.1.126.0

The pipeline layout is created with two ranges:

[code]
at vkCreateGraphicsPipelines time there is a validation error when the shader contains a TASK shader, despite the range being specified in the layout. My understanding from the spec is that overlapping ranges are legal (and the pipelinelayout creation didn't throw errors).

[code]

[2019-11-08 14:01] pixeljetstream commented on #1349
SDK 1.1.126.0 does not reproduce these problems anymore, closing

[2019-11-08 14:01] #1349 closed

[2019-11-08 17:06] mark-lunarg commented on #1349
Thanks for retesting this and closing, @pixeljetstream.

[2019-11-08 19:22] mark-lunarg commented on #1366
Hey @pixeljetstream, after some investigation it looks like we may indeed have some issues with these validation checks.  It'd help us out a lot if you could list any validation errors that appeared before this one, and to share either a sample program or some pseudocode showing the creation and use of the commandbuffers in question.  Thanks!

[2019-11-11 13:41] pixeljetstream commented on #1366
reproducer app (use the ...VULKAN_ONLY build option)
https://github.com/nvpro-samples/gl_vk_threaded_cadscene
to enable validation layer, build in debug and remove the || 1 in the setupVulkanContextInfo function inside csfthreaded.cpp that removes the layer by default.
there is two mult-threaded renderers in the "renderer" list, I think the first one throws the errors (one of them does).

[2019-11-11 17:34] mark-lunarg commented on #1356
Thanks guys, I'm gonna close this until the spec issue is settled.

[2019-11-11 17:34] #1356 closed

[2019-11-11 17:37] mark-lunarg commented on #1360
@HansKristian-Work, someone has been assigned to the [Gitlab issue](https://gitlab.khronos.org/vulkan/Vulkan-ValidationLayers/issues/5), and status will be tracked there.  Once it gets through the approval process it'll be brought over and merged.  Thanks!

[2019-11-11 17:37] #1360 closed

[2019-11-11 18:05] mark-lunarg commented on #1363
@Destranix, we examined the layer source and the source for the sample program (thanks!) and this behavior is most unexpected -- that return code _should_ never occur unless you return 'true' from your debug messenger callback (which you do not).  As @krOoze suggested, the most helpful bit of information would be for you to get us an API dump of your test app running up to the point where the fail

[2019-11-11 18:11] krOoze commented on #1363
@mark-lunarg The `VK_ERROR_VALIDATION` is probably from the driver, which is allowed as part of undefined behavior (i.e. result of invalid usage). Why I suggested to migrate here is that by my understanding the invalid usage itself was not caught by layers.

[2019-11-11 18:27] mark-lunarg commented on #1363
@krOoze, thanks! I thought that's what you'd meant, but went back to the spec and had ruled that out -- I'm surprised that a driver would return `VK_ERROR_VALIDATION_FAILED` as the spec says `The primary expected use of VK_ERROR_VALIDATION_FAILED_EXT is for validation layer testing. It is not expected that an application would see this error code during normal use of the validation layers.`, but n

[2019-11-11 18:49] krOoze commented on #1363
@mark-lunarg Well, problem with undefined behavior is that it is undefined. That means driver can do anything it wishes, including raiding your fridge and eating all your icecream. Returning a `VK_ERROR_VALIDATION_FAILED` is actually the most nice and obvious thing the driver could do.

[2019-11-11 19:15] mark-lunarg commented on #1363
@krOoze, thanks again.  I guess that besides all of my ice cream, I've also lost my mind -- I think we have enough to go on after all.  Thanks for the clarification, guys.

[2019-11-11 19:21] krOoze commented on #1363
I just tried `vk_validation_stats.py` and it says not implemented for `VUID-vkAcquireNextImageKHR-swapchain-01802`, so that checks out...

[2019-11-11 19:25] krOoze commented on #1363
@mark-lunarg While I am here, you can asign me. Seems straightforward enough to implement...

[2019-11-11 19:26] mark-lunarg commented on #1363
Love to!  You have my unending gratitude.

[2019-11-11 19:45] krOoze opened #1368 "Expose VUID stats in build artifacts"
Expose VUID stats in build artifacts. Similar to `https://vulkan.lunarg.com/doc/sdk/1.1.126.0/windows/validation_error_database.html.

Bonus points for linking to it for a `master` branch.

[2019-11-11 22:57] mark-lunarg commented on #1366
@pixeljetstream, thanks for the great repro instructions!  I was easily able to reproduce the problem, and found that the application is passing secondary command buffers to QueueSubmit, in pSubmits->pCommandBuffers, violating `VUID-VkSubmitInfo-pCommandBuffers-00075`, which says
`Each element of pCommandBuffers must not have been allocated with VK_COMMAND_BUFFER_LEVEL_SECONDARY`.  This VUID check

[2019-11-12 09:02] Destranix commented on #1363
[api_dump.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/3835199/api_dump.txt)

I had to force the crash manually by compleatly removing the increment of the counter. It seems like fileoperations when writing the api_dump prevent the race condition to occure.

[2019-11-12 13:09] pixeljetstream commented on #1366
thanks, that is fixed via https://github.com/nvpro-samples/gl_vk_threaded_cadscene/commit/6f023efc98a2388cc1dd382ea4b7554fb98cbc78 so don't use newer commits if you want to repro old error behavior.

[2019-11-12 13:23] krOoze commented on #1363
In the log you have a validation error:

Apparently I just need to clean it up and deduplicate it.

Or that error does not show in your original code?

[2019-11-12 13:27] krOoze commented on #1363
PS: Yea the `api_dump` unfortunately serializes commands so it can show the returns from the commands as well...

On the other hand, there should be no difference, as `swapchain` parameter is marked externally synchronized for `vkAcquireNextImageKHR` and you should be making sure it does not run in parallel with something else.

[2019-11-12 17:19] Destranix commented on #1363
This also occured rarly in my orginal application.(Otherwise I would possibly noticed earlier, that I've made an synchronisation error. Also I thought, VK_ERROR_VALIDATION means, that something went wrong in the underlying API)

[2019-11-12 17:33] mark-lunarg commented on #1368
Do you mean the AppVeyor build artifacts?  That would be workable, as would an optional MSVC build target (a la VulkanVL_generate_source).  Or did you have something else in mind?

[2019-11-12 17:38] krOoze commented on #1363
Well threaded bug is tricky to repro.

AIS, I think you either hit the image limit, or called two `vkAcquireNextImageKHR` in parallel which is not allowed. Though threading layer should complain too.

I am gonna clean the image limit error a bit and make a (single thread) unit test, but not sure what else to do here.

[2019-11-12 17:42] mark-lunarg commented on #1336
@tobine, I am closing this as we're pretty sure there's nothing actionable here -- if this turns out to be incorrect, please reopen the issue.  Thanks!

[2019-11-12 17:44] krOoze commented on #1368
Yea, those. I thought that would be the most straightforward path.

The local repo basically breaks everytime headers are updated. I think it also requires the generated stuff to be compiled. Seems more convenient to have the coverage report build somewhere, rather than asking people to run the script.

[2019-11-12 20:33] #1368 closed

[2019-11-12 20:51] mikhailov-work commented on #1179
I seem to be getting a similar issue. If I Reset a pool full of timestamps right after a successful GetResults, then I get validation errors next time I try to use the pool. However if I Reset it right before using it, then the errors disappear. I'm trying to issue the Reset call as early as possible (presumably that's favorable to the driver?) so I think the issue may be that the Reset happens in

[2019-11-12 21:53] mark-lunarg commented on #1364
@jareksocha, I put together a test case and it seems to work correctly, which probably means I need additional information.  Can you provide the contents of the two command buffers, at least related to queries?  Are they in the same or separate submit calls?  Actually, an api_dump would be best, but we'll take what you have handy.  Thanks!

[2019-11-12 23:03] #1366 closed

[2019-11-12 23:52] mark-lunarg commented on #1316
@QuantumDeveloper,  can you run this against the 1.1.126+ SDK, and if it's still failing share an api_dump?  Our attempts to reproduce your crash have not been successful, but we are very interested in getting to the cause of your issue.  This would help greatly -- thanks!

[2019-11-13 06:35] Destranix commented on #1363
It's definitly the imagelimit due the issue is caused by the not synchronized counter for the currently used swapchain images.

Also I'm using vkAcquireNextImageKHR only in one thread.

I've just noticed, that I've called vkAcquireNextImageKHR using a timeout.
As far I understand the specification this should be allowed, as long the timeout is not UINT64_MAX.
But it's
`vkAcquireNextImageKHR(device

[2019-11-13 07:44] jareksocha commented on #1364
Hello,

@mark-lunarg I will try to get you API_DUMP today. I think they are in a same submit calls.
Thanks, Jarek.

[2019-11-13 08:23] jareksocha commented on #1364
Hello,

@mark-lunarg
I'm attaching a dump file, unfortunately its rather large.

[dump.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/3840081/dump.zip)

[2019-11-13 08:45] jareksocha commented on #1364
I think the problem might be in vkQueueSubmit having multiple Submits.

[2019-11-13 14:33] krOoze commented on #1363
@Destranix Oh, I see. I can reproduce that. Seems like a NV driver bug.

Meanwhile I fixed the validation check, which did not account for the timeout either: #1373

[2019-11-13 15:27] mark-lunarg commented on #1364
Thank you very much @jareksocha!  We'll take a look at this today.

[2019-11-14 09:29] rg3igalia opened #1376 "Spurious validation error with VK_KHR_depth_stencil_resolve"
When running many VK-GL-CTS tests from the dEQP-VK.renderpass2.depth_stencil_resolve group with validation enabled, I see validation errors like the following one:

[code]

These tests use two depth/stencil attachments: a depth/stencil multisample one and a single sample one. When creating the render pass, the multisample attachment is passed as the "normal" depth/stencil attachment for the single

[2019-11-14 21:07] #1364 closed

[2019-11-14 21:11] mark-lunarg commented on #1184
Moving this to the [Best Practices tracking issue](https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/1184).  Updates/additions/requests can still be added in this issue, or tacked onto the tracking issue.  Thanks!

[2019-11-14 21:11] #1184 closed

[2019-11-17 22:47] krOoze commented on #1340
Actually that seems correct-ish to me. The app should prevent the window to change size by platform API means before creating the swapchain. If it fails to do so, it would still be invalid use.

E.g. consider calling `vkGetPhysicalDeviceSurfaceCapabilitiesKHR` only once, then handling several `WM_SIZE`. The original value is obviously long invalid. Probably needs to be clarified in spec. This prob

[2019-11-17 23:23] Ralith commented on #1340
This is impossible in some environments, e.g. X11 with a tiling window manager.

[2019-11-18 00:40] krOoze commented on #1340
That may be so, but if the platform can change size willy-nilly, then it should probably not be a VU, but a runtime error.

[2019-11-18 01:39] Ralith commented on #1340
The spec says:

Note "platform-dependent" rather than "undefined." I think the most reasonable behavior here is to return SUBOPTIMAL or OUT_OF_DATE from subsequent acquire/present operations so an application's normal resize path can take effect. I don't see a good way for swapchain creation to fail outright in a way that the application can easily determine is recoverable.

[2019-11-18 02:20] krOoze commented on #1340
The quote means something else. It says it is platform dependent whether the image stretches or whatever else. It does not say if creating such swapchain is allowed in the first place. And it is not for Xlib (, XCB, Win32).

There's also `VK_ERROR_INITIALIZATION_FAILED`, though guaranteed `OUT_OF_DATE` would be nice. (That is if we accept in the first place that `vkCreateSwapchain` can accept even

[2019-11-18 02:55] Ralith commented on #1340
It says "the behavior is platform-dependent," period, and creating such a swapchain seems to work more or less just as I described here.

Returning `VK_ERROR_INITIALIZATION_FAILED` is not useful behavior, because the application cannot reasonably judge that it should retry.

[2019-11-18 16:48] rg3igalia opened #1381 "Unexpected errors when using VK_KHR_separate_depth_stencil_layouts"
When running some VK-GL-CTS tests related to the extension above, I get some unexpected validation errors. The set of affected tests is `dEQP-VK.api.image_clearing.*separate_layouts*`. For example, the test `dEQP-VK.api.image_clearing.core.clear_depth_stencil_image.single_layer.d24_unorm_s8_uint_separate_layouts_depth` is printing the following validation errors:

[code]

The first two (VUID-VkAtt

[2019-11-18 16:59] pdaniell-nv commented on #1381
Those CTS tests with "separate_layouts" in the name are using the new [VK_KHR_separate_depth_stencil_layouts](https://github.com/KhronosGroup/Vulkan-Docs/issues/1080) extension. [Validation layer support](https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/9af77cd811107724152b56fb8bb7883a8f3ee29c) wasn't added until November 7th, after the latest 1.1.126 SDK shipped.

[2019-11-18 22:52] locke-lunarg commented on #1001
Internal inter-object reference with pointers instead of Vk* object handles (AKA - 'dehandling')
Eliminate lookup of descriptor contents that are invariant between UpdateDescriptorSet

Looks done.

[2019-11-19 09:08] rg3igalia commented on #1381
Yes, I was running layer's master branch from yesterday, which included up to e2441190.

[2019-11-19 21:48] krOoze commented on #69
@mark-lunarg @ColAngel I have not tested, but this seems implemented. The state tracking is common for both classic and 2KHR function.

[2019-11-19 22:02] mark-lunarg commented on #69
Sweet!  Thanks @krOoze, for all of your help.

[2019-11-19 22:02] #69 closed

[2019-11-20 17:37] mark-lunarg commented on #1363
@jeffbolznv, can you take a quick look at this analysis?

[2019-11-20 17:39] mark-lunarg commented on #1316
@QuantumDeveloper, we've been unable to reproduce this issue.  If you have the opportunity to share the requested information, please reopen!

[2019-11-20 17:39] #1316 closed

[2019-11-20 17:59] krOoze opened #1389 "Warn if vkAcquireNextImageKHR too many images"
Warn on attempt to acquire too many images via vkAcquireNextImageKHR when timeout is not `UINT32_MAX` (otherwise that is not Valid Usage).

This is a recommendation of the specification:

[2019-11-20 17:59] krOoze commented on #24
I self-nominate #1389 here.

[2019-11-20 18:11] mark-lunarg commented on #1389
Anybody think that statement is strong enough to warrant an error?

[2019-11-20 18:16] krOoze commented on #1389
Well, "should" is well defined in the specification.  The user can do it, if he really really wants for some reason.

BTW it was an error in layers before PR #1373

[2019-11-20 18:35] mark-lunarg commented on #1389
Ah, there it is, then -- thanks for the definitive answer.

[2019-11-20 18:37] mark-lunarg commented on #1389
Added to the [BP tracking issue](https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/24)!

[2019-11-20 18:37] #1389 closed

[2019-11-22 00:35] pdaniell-nv commented on #1381
I'll take a look at this. I've found both CTS bugs and validation bugs, which I'll fix.

[2019-11-22 08:56] rg3igalia commented on #1381
Thanks! I'm curious about the CTS part because everything looked good to me at first sight.

[2019-11-22 20:47] Tony-LunarG opened #1395 ""Fix constness of shared_ptrs" commit causes access violation in CTS"
PR #1324 causes the CTS test dEQP-VK.binding_model.shader_access.primary_cmd_buf.with_push.sampler_immutable.no_access.single_descriptor.1d (with Khronos_validation) to get an access violation in descriptor_sets.cpp line597:

descriptors_.emplace_back(new SamplerDescriptor(state_data, immut_sampler + di));

when state_data is null. @jeffbolznv could you take a look?

[2019-11-22 20:59] jeffbolznv commented on #1395
I don't have the cycles to work on this at the moment. This must be one of the "proxy" descriptor sets made for push descriptors. There's a comment suggesting a possible path to avoid this mess, but I don't know what all is involved in fixing it:

[code]

Alternately, we might just need to skip looking up the immutable sampler when state_data is null, as a more local fix.

[2019-11-22 23:01] dneto0 opened #1396 "Want better message for unrecognized instruction"
A customer was using HLSL-based shaders compiled with -fhlsl_functionality1
This injected OpDecorateString instructions (formerly OpDecorateStringGOOGLE), with opocode 5632.

The shader was used in a driver that doesn't support VK_GOOGLE_hlsl_functionality1, so the instruction was unrecognized.
The validation layers gave a message similar to "i don't recognize this instruction"

The customer reque

[2019-11-24 16:44] locke-lunarg commented on #1218
According to @Themaister response, the issue doesn't happen any longer. Closed.

[2019-11-24 16:44] #1218 closed

[2019-11-26 00:51] ROTARTSI82 opened #1399 "Validation layers don't flag usage of absent extensions"
I originally posted an issue at https://github.com/LunarG/VulkanTools/issues/933 since I was using the LunarG sdk, but I was told to post it here instead.

*Disclaimer: I am a newbie at Vulkan*

When attempting to call a function such as `vkCreateSwapchainKHR` without including the necessary extensions, the program just segfaults and the validation layers do not detect this at all. It would be nic

[2019-11-26 04:11] #507 closed

[2019-11-27 22:24] mikew-lunarg commented on #1360
PR https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1394 is merged to master

[2019-11-27 23:05] pdaniell-nv commented on #1381
The CTS bugs are quite minor. See the fix here: https://gerrit.khronos.org/5092

[2019-11-27 23:32] pdaniell-nv commented on #1381
The validation bug fixes are here: https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1403

[2019-11-28 13:18] rg3igalia commented on #1381
Thanks! I tested both things together and everything's fine on my side.

[2019-11-28 16:39] #1381 closed

[2019-12-02 02:41] h3r2tic commented on #1256
Hey!

I ran into this today, and managed to reproduce it with a small modification to `vklayertests_imageless_framebuffer.cpp`. Please see https://github.com/h3r2tic/Vulkan-ValidationLayers/commit/9547f42a3b14201052ffb13cbe2f3afe0ad6cc47

I believe the result should be a test failure (due to the modification), yet it results in an access violation as described by @Jelly3D.

Perhaps the tests which

[2019-12-02 15:22] null77 opened #1407 "Support for validating shaderSampledImageArrayDynamicIndexing and other related caps?"
From the spec:

Is there a check for this already? If not, could we add validation for this? It is possible an ANGLE bug could have been caught by the layers when we were testing GLES 3.2 functionality with SwiftShader.

Related features:

[code]

[2019-12-02 18:43] baldurk opened #1408 "vkCmdFillBuffer() offset and size aren't bounds-checked"
I ran into a case where I was passing an offset that was out of bounds to `vkCmdFillBuffer()`, and the validation layers didn't complain.

Looking at the code I only see checks that offset/size are aligned, not that offset & offset+size (if size is not `VK_WHOLE_SIZE`) are within the bounds of the buffer:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/c2bd11586919ad2936cdcb472d236a8

[2019-12-02 18:49] mark-lunarg commented on #1256
@h3r2tic, thanks, I'll give this a shot today!

[2019-12-02 21:31] mark-lunarg commented on #1256
Easily reproduced the issue, verified against the spec, and working on tests and a fix.  Thanks guys!

[2019-12-02 21:41] h3r2tic commented on #1256
Awesome, thank you!

[2019-12-03 16:40] kennyalive opened #1410 "Fence wait should be optional with timeline semaphores"
With the introduction of timeline semaphores it's fine to call vkQueueSubmit without a fence (and subsequent vkWaitForFences), instead we can wait on the host using vkWaitSemaphoresKHR.

The latest validation layer code as of  Nov 28, 2019 still requires to use VkFence in vkQueueSubmit and then wait on it, otherwise,  ValidationStateTracker::RetireWorkOnQueue won't be called and in my case I get f

[2019-12-03 16:58] mark-lunarg commented on #1410
@jasuarez, hopefully you can cover these cases as the validation is filled out.  @kennyalive, yes, the timeline semaphore validation implementation was added to the spec before the validation was complete and it is being actively worked on now.  Thanks!

[2019-12-03 18:49] mark-lunarg commented on #1399
@ROTARTSI82, thanks for the report.  The decision was made by the Vulkan working group to have the Vulkan loader export this function as a core function regardless of whether it was enabled or not.  Since the pointer is null (as it was not enabled, and the layers/driver correctly return a null pointer for GetInstanceProcAddr) the layers are never called.  So, there's no way for the layers to detec

[2019-12-03 18:49] #1399 closed

[2019-12-04 10:42] rg3igalia opened #1412 "Improved tests for VK_EXT_validation_cache"
VK_EXT_validation_cache is an extension implemented by the layers and currently working, exposed on the device when it's created with the proper validation layers enabled. The layers seem to properly implement it, but tests for this extension are not very extensive. I've only found ValidationCacheTestBadMerge. Perhaps a few more positive tests could be written to verify this extension is working p

[2019-12-04 15:10] rg3igalia opened #1413 "Improved tests for VK_EXT_validation_features"
Related to #1412 and also somewhat to #1392, I've seen several tests using VK_EXT_validation_features, like checking the best practices layer and GPU-assisted validation. There are also some checks disabling features, like CreatePipelineWithCoreChecksDisabled and StatelessValidationDisable. These could be made more comprehensive by also checking other features that can be disabled: thread safety,

[2019-12-04 16:44] mark-lunarg commented on #1187
@tobine, does this behavior persist?

[2019-12-04 16:51] mark-lunarg commented on #1187
Also, does it work on the non-ninja Android builds?  From the Android loader source code we have seen, it doesn't look like the utils extension is supported in the same way that the debug report extension is.

[2019-12-05 04:37] Valakor opened #1416 "Distributed SDK binaries for Apple platforms should be built with VK_EXT_metal_surface support"
It seems like the `VK_EXT_metal_surface` extension is technically supported in the validation layers, but the distributed SDK binaries don't seem to actually be built with `VK_USE_PLATFORM_METAL_EXT` defined, at least in SDK 1.1.126.0.
This causes a validation layer error (and subsequent crash) about an unsupported instance extension when I try to use the now-recommended `VK_EXT_metal_surface` ext

[2019-12-05 08:36] dor666 opened #1417 "CreateGraphicsPipelines crash if shader module hande is invalid."
Issue was found when trying GPU_Caps_Viewer_1.43.1.0 with vk_phong_lighting2 demo and attached khronos_validation from SDK 1.1.126.0.

CapsViewer is a 32bit app and chops upper 32bits of shader handle.

While this is an app issue, I don't think it should cause a validation layer crash.
It would be nice to print an error.

[code]

Command line to reproduce:
`GPU_Caps_Viewer.exe /run_gxl_demo=vk_pho

[2019-12-05 16:41] mark-lunarg commented on #1417
If the module handle is the handle returned from CreateShaderModule, there's little we can do.  The object-lifetimes validation will verify that any handle used is one that was properly created, and if it is not we'll print a message.  We don't have any way to know if a handle returned from a driver is valid or invalid (obviously), and it is our policy to allow object-lifetimes checks to be the fi

[2019-12-05 17:27] Valakor commented on #1416
Also, tagging @billhollings for any additional input.

[2019-12-05 17:28] dor666 commented on #1417
Hi Mark.
I think you misunderstood me.
App zeroes upper 32bits of handle so it is not valid anymore (never returned by CreateShaderModule).
I see no message from object-lifetimes. I just see crash.
Do I need to enable object-lifetimes checks somehow in new khronos_validation layer?
Maybe this crash is before actual object-lifetimes check..

[2019-12-05 17:45] mark-lunarg commented on #1417
Ah, so in this case, the correct 64-bit handle is returned from CreateShaderModule, but the app mangles the handle when it creates and passes in the CreateGraphicsPipelineData?  If this is the case you're right -- the lifetime stuff should throw an error before the layers give up.  Lemme know and I'll take a look at it!

[2019-12-05 23:06] #1408 closed

[2019-12-05 23:43] mark-lunarg commented on #1417
@dor666, thanks for the simple repro case.  I was able to reproduce the crash in Visual Studio and see this in the output window:

[code]

At least in the configuration I have here, things seem to be working as intended.

[2019-12-05 23:52] dor666 commented on #1417
@mark-lunarg
Your're right Mark, I just tried it on two machines and everything works fine, two messages printed before crash.
I must have configured something wrong with debug output earlier.

I'm sorry for having bothered you. You can close this issue.

[2019-12-06 16:24] mark-lunarg commented on #1417
@dor666, no bother at all.  Thanks for your time!

[2019-12-06 16:24] #1417 closed

[2019-12-06 17:05] mark-lunarg commented on #1416
@jeremyk-lunarg, can you post a short update?

[2019-12-06 17:29] baldurk opened #1419 "No error when writing to immutable sampler binding"
In `vkUpdateDescriptorSets` there's valid usage requiring that you cannot write to a standalone sampler binding that was allocated as immutable in the layout (unlike the combined image/sampler where the sampler is just ignored):

This isn't currently validated though, and it seems like it should go in this else TODO here:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/a3ee4384fb57d4

[2019-12-06 17:33] jeremyk-lunarg commented on #1416
- Certain parts of the layer code where not being built because our CMake file was not setting the option VK_USE_PLATFORM_METAL_EXT.
- After changing the CMake file to set this option, build errors occurred due to the generated file `vk_safe_struct.cpp` not including a MacOS specific file that contains a required class, `CAMetalLayer`, to create a VkMetalSurfaceEXT.
- Unfortunately, the include fi

[2019-12-06 18:42] #1256 closed

[2019-12-06 21:34] KarenGhavam-lunarG commented on #1416
Does this mean this option must be set whenever building for macOS? Who put the option into the Validation Layers initially?

[2019-12-06 21:39] jeremyk-lunarg commented on #1416
It does not need to be set every time it's built.  CMake can detect if it is on MacOS and set the option automatically.

From a quick look, it would seem this was originally put in by @karl-lunarg in [this commit](https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/2e5ed33c9548444ea89813e474ede98dcb0840b6#diff-107716343bf49cdc077faa63026a8482).

[2019-12-09 08:30] oddhack opened #1421 "Heads Up: 1.1.130 validusage.json contains some significant textual, but non-semantic changes"
We accepted in MR in the 1.1.130 spec update that changes the markup used on most structure names in VU statements, so there are many, many diffs of the form

[code]

in the new validusage.json, relative to 1.1.129. I don't know if this affects how you do a VL update, but wanted to make sure you folks had some notice. There are a few meaningful changes and new VU amidst the sea of markup, unfortun

[2019-12-09 08:31] oddhack commented on #1421
Feel free to close once the right people have seen it, there's no direct action called for though it may have implications for your process.

[2019-12-09 10:16] aejsmith commented on #1410
FWIW this is also an issue for me right now, since when I'm using timeline semaphores, that fully replaces use of binary semaphores and fences. vkWaitSemaphoresKHR is used to wait for command buffer completion before destroying resources, and currently I get false positive errors for destruction while in use.

[2019-12-09 10:35] kennyalive commented on #1410
@aejsmith  if you are interested in a dirty workaround one option is to build layers manually with this hack (definitely not a proper fix):
![image](https://user-images.githubusercontent.com/4964024/70428935-dbd7ba00-1a77-11ea-8912-935cf0b37024.png)

[2019-12-09 15:31] Tobski opened #1422 "Add support for VK_EXT_tooling_info"
The Vulkan specification recently added the VK_EXT_tooling_info extension which adds queries to Vulkan about the tools that are currently active on a system, allowing developers to find out more information about the system environment, potentially saving many headaches. It would be great if the layers could add support for this extension to provide additional information about what is actually ac

[2019-12-09 15:36] Tobski commented on #1422
Addendum: By support here, I mean the layers should report themselves via this extension and whitelist it, there's no manual validation work to do AFAIK as it's just a query.

[2019-12-09 16:29] mark-lunarg commented on #1410
@jasuarez, if you approve, I could add the above workaround until the complete validation lands.  Please let us know.

[2019-12-09 17:16] jasuarez commented on #1410
@mark-lunarg yeah, go ahead

[2019-12-09 17:55] mark-lunarg commented on #1410
Running through the farm now.

[2019-12-10 00:18] Tony-LunarG commented on #1252
Addressed in #1402

[2019-12-10 00:18] #1252 closed

[2019-12-10 02:36] daemyung opened #1423 "vkQueuePresentKHR validation bug"
Normally presenting a swapchain image steps are like below.

1. Submit command buffers.
2. Present a swapchain image.

Both steps are synchronized by a semaphore.

Now I'm trying to little bit differently.

1. Present a swapchain image
2. Submit command buffers.

Also it's synchronized by a semaphore. Detail is below.

VkPresentInfoKHR present_info {};

present_info.waitSemaphoreCount = 1;
present

[2019-12-10 17:34] Tony-LunarG commented on #1423
In section 32.9 of the spec, in the valid usage for vkQueuePresentKHR, it says:

**All elements of the pWaitSemaphores member of pPresentInfo must be semaphores that are signaled, or have semaphore signal operations previously submitted for execution.**

So you cannot submit the work that signals the semaphore after work waiting on the semaphore.

[2019-12-11 04:32] daemyung commented on #1423
Ok thanks...

But "**have semaphore signal operations previously submitted for execution**" looks wired. It looks like that even I use semaphores I need to care about submitting command buffers in order.

**A semaphore can be signaled after execution of a queue operation is completed, and a queue operation can wait for a semaphore to become signaled before it begins execution.**" https://www.khron

[2019-12-11 14:52] jeremy-lunarg commented on #1367
Fixed by #1429. Thanks for reporting this issue!

[2019-12-11 14:52] #1367 closed

[2019-12-11 16:05] mark-lunarg commented on #1423
#daemyung, for spec questions, bugs, or interpretations, the best place to raise an issue is in the [Vulkan-Docs repo ](https://github.com/KhronosGroup/Vulkan-Docs/issues)-- it is there that these questions will get answered or addressed.  This repo is targeted at enforcing the existing spec, even in cases of incorrect or unclear valid usage.

[2019-12-11 16:37] Tony-LunarG commented on #1423
Actually, your vkQueueSubmit should be waiting for the semaphore you supplied to vkAcquireNextImageKHR.  See this Khronos synchronization example for the canonical way to acquire and present swapchain images.
https://github.com/KhronosGroup/Vulkan-Docs/wiki/Synchronization-Examples#swapchain-image-acquire-and-present

[2019-12-11 23:17] mark-lunarg commented on #1421
Thanks @oddhack for the heads-up -- updated in pr #1424.

[2019-12-11 23:17] #1421 closed

[2019-12-11 23:31] daemyung commented on #1423
@Tony-LunarG That's not my concern. My concern is that present a swapchain image after rendering is done. So vkQueuePresentKHR should be waiting for the semaphore I supplied to vkQueueSubmit. And the current issue is that validation layers report error messages depends on API call order. It's NOT considering the semaphore.

[2019-12-11 23:37] mark-lunarg commented on #1413
Due to the normal resource constraints, it is standard practice to implement a subset of tests to verify a mechanism or family of checks without requiring full coverage.  However, if issues arise layer, fixes are typically accompanied by new tests.  For the foreseeable future, this'll be the case for this extension and the ValdationCache one (#1412) as well.

[2019-12-11 23:56] Keith-Albright-Bose commented on #24
Hey what's a simple thing to add to Vulkan wrapped code to get a Best Practice statement to fire?  I hooked it up but saw nothing.  Using SDK 1.1.126.0.  Using vulkan.hpp, tried setting z member of workgroup to 0 in  commandBuffer.dispatch, but no warning appeared.  Code failed to run on GPU but no output.

[2019-12-12 04:35] daemyung commented on #1423
@mark-lunarg I raise up an issue at https://github.com/KhronosGroup/Vulkan-Docs/issues/1139. How can I handle this issue?

[2019-12-12 16:38] mark-lunarg commented on #1423
As there's nothing for us to due until the spec language is clarified, we'll close.

[2019-12-12 16:38] #1423 closed

[2019-12-12 16:44] baldurk opened #1431 "Validation of ignored parameters in vkCreateDescriptorUpdateTemplate"
In `vkCreateDescriptorUpdateTemplate` the `descriptorSetLayout` member is only used if `templateType` is `VK_DESCRIPTOR_UPDATE_TEMPLATE_TYPE_DESCRIPTOR_SET`, and similarly `pipelineLayout` is ignored if `templateType` is not `VK_DESCRIPTOR_UPDATE_TEMPLATE_TYPE_PUSH_DESCRIPTORS_KHR`. The validation layers validate both objects unconditionally though:

https://github.com/KhronosGroup/Vulkan-Validati

[2019-12-12 18:40] Tony-LunarG commented on #963
With the KHR version now accounted for, I'm closing this

[2019-12-12 18:40] #963 closed

[2019-12-12 23:00] #1395 closed

[2019-12-13 10:46] giordi91 opened #1434 "vkSetDebugUtilsObjectNameEXT not working with VkMemory"
I have been using the DebutUtils extensions with great success and is amazing!
I am facing an issue when setting a debug name to a VkMemory backing up a texture I am rendering into.
The validation layer triggers properly for other objets like a VkSampler. But for VkMemory I get:

[code]
The debug name is set using the following macro:
[code]

And is used with:
[code]

My SDK installation is:
[code

[2019-12-13 17:41] #1416 closed

[2019-12-13 18:13] mark-lunarg commented on #1422
Addressed by PR #1430.

[2019-12-13 18:13] #1422 closed

[2019-12-13 19:37] #1431 closed

[2019-12-16 20:31] Tony-LunarG commented on #52
I think the layers are (now) behaving properly in these cases.  Calling CmdSetScissor with no pipeline bound does not get an error.  Calling it with a pipeline bound that was not created with VK_DYNAMIC_STATE_SCISSOR does get the expected error, and calling it with a pipeline bound that was created with VK_DYNAMIC_STATE_SCISSOR does not get an error.

[2019-12-16 20:31] #52 closed

[2019-12-16 20:32] phuang opened #1437 "Validation layer reports errors when transfer image layout and queue family at same time"
I got below validation error when I change image layout and queue family to VK_QUEUE_FAMILY_EXTERNAL at same time with vkCmdPipelineBarrier. However if I split it to two vkCmdPipelineBarrier(one for changing image layout, for for changing the queue to VK_QUEUE_FAMILY_EXTERNAL), no error will be reported. Is it a validation layer bug?

[code]

[2019-12-16 20:40] phuang opened #1438 "Validation layer isn't aware the image layout changes by external vulkan instance."
We are using two vulkan instances and vkimages are shared between them. I found vulkan instance will not be aware the image layout changes by another instance. For example:

1 Vulkan Instance A changes image layout to layout A
2. Vulkan Instance B changes image layout from layout A to layout B.
validation layer reports image src layout is not Layout A.

Is there a way to notify the validation laye

[2019-12-16 21:03] mark-lunarg commented on #1438
The sharing of validation state across instances is not currently implemented. Can you please share the specific mechanism being used to share VkImages across instances?

[2019-12-16 21:37] phuang commented on #1438
The memory object is shared via VK_KHR_external_semaphore_fd and VK_KHR_external_memory_fd extensions. The detail code is:
The exportable shared image is created at [1] .
The exportable memory is created at [2] .
The fd is imported into gl which is implemented on vulkan (Vulkan + Angle) at [3].
[4][5] are for synchronizing between two instances with layout information.

[1] https://cs.chromium.org

[2019-12-16 23:07] krOoze opened #1439 "Warn when using vkCmdPipelineBarrier without any memory barriers"
Warn when using vkCmdPipelineBarrier without any memory barriers. Especially when using specific bits in stage, and when matching bits are missing in memory barriers.

Probably belongs to #24.

[2019-12-17 01:58] mikew-lunarg commented on #24
Added `specialuse` checklist rollup [1938](https://gitlab.khronos.org/vulkan/vulkan/issues/1938)

[2019-12-17 15:33] ShabbyX commented on #1438
I think the validation layers should simply not generate an error if the source queue family of the transition is EXTERNAL.

[2019-12-17 18:10] mark-lunarg commented on #1439
Moved to tracking issue #24.  Great suggestion, thanks!

[2019-12-17 18:10] #1439 closed

[2019-12-17 19:43] mark-lunarg commented on #1434
@giordi91, from the error message, it looks like this object was not destroyed, and is generating an error reported at DestroyDevice-time or DestroyInstance-time.  The test I am using here seems to output the correct VkDeviceMemory object name regardless of where the error is generated.  Perhaps you can either share a quick repro case, or a more detailed set of pseudo-code (or api dump!) to enable

[2019-12-18 10:55] dschlegel opened #1440 "CoreValidation: 0 is used to initialize std::string when image layout is invalid"
In the following two lines `0` is used to initialize the `vuid_text` parameter of the `log_msg` function. This leads to a `std::logic_error` when the layout validation fails because it is implicitly casted to a nullptr.
The correct value is probably `kVUID_Core_DrawState_InvalidImageLayout`.

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/6a35bc9967d92317e527ea3e0e8302bc61ffe65d/laye

[2019-12-19 02:04] #1440 closed

[2019-12-19 17:53] #1187 closed

[2019-12-19 17:54] mark-lunarg commented on #1413
Rolling these wants into the internal worklist.  Thanks for the pointers!

[2019-12-19 17:54] #1413 closed

[2019-12-19 17:54] #1412 closed

[2019-12-19 17:57] mark-lunarg commented on #1434
Closing for now as we cannot reproduce.  If more information becomes available, please reopen this issue or comment here, and we'll address it right away, thanks!

[2019-12-19 17:57] #1434 closed

[2019-12-19 18:28] critsec commented on #1336
(I'd reopen if I could.)

What I'm seeing right now is that `VK_EXT_debug_utils` is advertised by the `VK_LAYER_khronos_validation` layer. Can you point me to the change that disabled advertising it when lower layers don't? I haven't been able to find that.

I'm not sure I understand why the loader needs to change or why this can only work when the loader/drivers also support it. Layers are suppos

[2019-12-19 18:44] mark-lunarg commented on #1336
@critsec,the change to disable advertising the extension was done solely for testing purposes.  I'll ask @lenny-lunarg to address the rest.

[2019-12-19 20:15] mark-lunarg commented on #896
The validation appears to have been corrected, probably during the statetracker implementation-time.  Modified cube to create alternate-format imageviews of presentable images and noticed no unwarranted validation messages.  Closing for now, please reopen or comment further should problems persist.  Thanks!

[2019-12-19 20:15] #896 closed

[2019-12-19 20:17] mark-lunarg commented on #53
Closing for now, most of this has been refactored during the last two years.

[2019-12-19 20:17] #53 closed

[2019-12-19 21:25] lenny-lunarg commented on #1336
The desktop loader needed special support for debug utils, but that support centered on getting loader messages reported through the extension. I don't think there should be anything preventing layers from implementing debug utils even without loader support, but I don't know if we've ever tested that use case. I do agree that a loader change shouldn't be required for a layer-only implementation.

[2019-12-19 21:27] mark-lunarg commented on #601
Running through CI.

[2019-12-19 21:40] mark-lunarg commented on #1336
Seems like the Android Loader should be calling `Enumerate[Instance|Device]ExtensionProperties()` for each layer, and setting up their dispatch tables/terminators accordingly.  I *believe* we are correctly returning the following data for the Khronos validation layer:

[code]

[2019-12-19 21:46] mark-lunarg commented on #1336
@Tobine, can you confirm that the loader in question is calling these APIs with the new `VK_KHRONOS_validation` layer name?

[2019-12-19 22:23] critsec commented on #1336
Yes, the Android loader calls `vkEnumerateInstanceExtensionProperties` for each layer. I don't think there's a problem there -- it's being reported to the app correctly when `pLayerName` is `VK_LAYER_khronos_validation`.

[2019-12-19 22:36] mark-lunarg commented on #1336
OK, I'll try to do some further digging tomorrow.

[2019-12-20 08:10] MrDan2345 opened #1447 "vkCmdPushDescriptorSetKHR should inform if a uniform buffer is being written with a wrong offset"
when calling vkCmdPushDescriptorSetKHR
with at least one descriptor being a uniform buffer and an offset of that buffer not a multiple of device limits minUniformBufferOffsetAlignment will cause a device lost error after submitting the command buffer.
it would be very helpful if validation layer detected and reported this.

[2019-12-20 19:23] ReinUsesLisp opened #1448 "VkPhysicalDeviceFloatControlsPropertiesKHR is never queried"
`VkPhysicalDeviceFloatControlsPropertiesKHR float_controls_props` is declared and read but it's never loaded, resulting in false errors on SPIR-V shaders using `SPV_KHR_float_controls`.

We can see in [state_tracker.h](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/state_tracker.h#L1097) it's declared, but then in [state_tracker.cpp](https://github.com/KhronosGroup/Vulk

[2019-12-20 20:02] mark-lunarg commented on #1448
Updated statetracker with commit e4a2b7f227824917f252bb8f5fde8580eacc5c38 to initialize the properties -- please retry and see if this addresses your issue.

[2019-12-20 20:02] #1448 closed

[2019-12-20 21:40] lenny-lunarg commented on #1336
So I talked to @mark-lunarg a little more today and I would like to correct what I said above. He was right that for desktop systems, loader support is required for the extension to work at all. The reason for this is that debug utils is an instance extension. While the loader can support unrecognized device extensions, the same is not true of instance extensions. This is because the loader has no

[2019-12-20 21:46] Reon90 commented on #258
Have the same issue in 1.1.126.0

[2019-12-20 22:30] mark-lunarg commented on #1336
@critsec, @tobine -- Did some android testing today and confirmed that the layers are receiving and properly responding to `vkEnumerateInstanceExtensionProperties`.  The KHRONOS layer returns two extensions, `DebugUtils `and `DebugReport`.  Following this up with a call to `EnumerateInstanceExtensionProperties `with pLayerName set to NULL returns a list of extensions that does **NOT** contain Debu

[2019-12-21 00:05] critsec commented on #1336
I'm not aware of anything the Android loader would need to do to handle this. We only support one ICD, and having a 1:1 relationship between API instance and ICD instance simplifies things.

Mark, I'm confused about your last paragraph. On Android, enabling the layer and extension and calling `vkGetInstanceProcAddress` does return a non-NULL pointer, as it should because the extension is enabled f

[2019-12-21 04:27] mark-lunarg commented on #1336
Yeah, I'll get back with Locke and we'll see if we can debug further using the original setup.  In the Android test harness we have, the DebugUtils extension is never available (EnumerateInstanceExtensionProperties does not return it) even if advertised by the layers, so there's no way to call it.

[2019-12-22 03:41] haasn opened #1450 "Reduce overzealous warning spam for suboptimal swapchains"
In #1101 you added a perf warning for queueing images to a suboptimal swapchain. However, I think this warning is currently overzealous - and, ironically, might even be misleading / damaging for performance. A single presentation to a suboptimal swapchain is not only completely fine, but also expected if the user is resizing the window with the mouse.

Trying to suppress this by immediately recrea

[2019-12-23 16:23] haasn commented on #1340
Note: Rather than removing the check completely, it would suffice to merely relax the parameter check to only enforce `minImageExtent` and `maxImageExtent` if they differ from `currentExtent`. That way, the parameter validation still works as intended for platforms such as wayland (on which they represent true hardware limits), but effectively disables this parameter validation for platforms such

[2019-12-23 17:55] krOoze commented on #1340
@haasn That assumes `maxImageExtent` cannot itself change :p.

It is a separate VU, so I don't see a problem there...
Stats say it is implemented.

[2019-12-25 08:55] wumo opened #1451 "VK_IMAGE_VIEW_TYPE_2D_ARRAY is not compatible with image type VK_IMAGE_TYPE_3D"
The [vulkan-specs](https://www.khronos.org/registry/vulkan/specs/1.1-extensions/man/html/VkImageViewCreateInfo.html) lists the Image and image view parameter compatibility requirements as :
<img width="716" alt="table" src="https://user-images.githubusercontent.com/7351935/71440049-f75ce900-2736-11ea-8d05-50814da1de18.png">
This allows ` VK_IMAGE_TYPE_3D` created with `VK_IMAGE_CREATE_2D_ARRAY_COM

[2019-12-26 15:39] mark-lunarg commented on #1450
@tobine, these are the warnings added at your request, is moving them to Best Practices OK with you?  @camden-lunarg, can you please move these warnings to the BP object if @tobine signs off on it?

[2019-12-30 17:45] jzulauf-lunarg commented on #1437
It's a bug in the code that prevents double counting of image layout transition on queue family ownership release operations.  It suppresses the initial image layout check logic as well as the layout transition...

[2019-12-30 17:48] jzulauf-lunarg commented on #1437
@phuang  -- I believe the validation error is correct in that it's detecting that "oldLayout" doesn't match the current state.  With the above branch it should report the error with either one or two commands.

[2019-12-31 22:03] mark-lunarg commented on #1336
@tobine, @critsec, pushed a branch (`markl-instancestubs`) that should terminate the GPA chain properly in the layers for instance extensions. I'm unable to reproduce the issue on the mobile devices I have, though they do not crash and appear to work normally (as they did before the change).  If you could share the results of that branch and its effect on this issue, that'd help a lot.

On another

[2020-01-01 20:02] krOoze opened #1453 "Warn for bad uses of VK_ACCESS_MEMORY_* and *_OF_PIPE"
#24

1) Warn when using `VK_ACCESS_MEMORY_*` with only `*_OF_PIPE_BIT`.

2) Warn when using `VK_ACCESS_MEMORY_WRITE` with only read-only stages (and vice-versa)

3) Warn when using `*_OF_PIPE_BIT` where user semantically meant `VK_PIPELINE_STAGE_ALL_COMMANDS_BIT`

[2020-01-02 01:09] krOoze commented on #1451
Seems to be implemented.

Either `VK_KHR_maintenance1` has to be enabled or `VkApplicationInfo::apiVersion` and `VkPhysicalDeviceProperties::apiVersion` must both be >= 1.1. Did you do that?

[2020-01-02 21:25] #1437 closed

[2020-01-02 23:49] krOoze commented on #23
@mark-lunarg fixed, per the test?

[2020-01-03 02:30] #23 closed

[2020-01-03 16:55] psalz opened #1458 "Violation of implicit ordering guarantees of query commands inside ValidationStateTracker can cause false positive"
I've stumbled upon a case where issuing query commands after a call to `vkCmdResetQueryPool` still produces warnings about queries not being reset, when combined with queue synchronization operations such as `vkWaitForFences` or `vkQueueWaitIdle`.

Essentially what happens is that while the state tracker correctly updates the global query state maps upon command buffer submission (thus modeling th

[2020-01-03 18:07] ShabbyX opened #1459 "`CompatForSet` compairs pointers, and there's unused `PipelineLayoutCompatDef::operator==`?"
I got a validation layer error that I'm not quite understanding, and I traced it to this:

[code]

I noticed in `CompatForSet`, there's a comparison of `compat_id_for_set`, of type `PipelineLayoutCompatId = PipelineLayoutCompatDict::Id = std::shared_ptr<const PipelineLayoutCompatDef>`. I also noticed that `PipelineLayoutCompatDef` has an `operator ==`. However, the type being `std::shared_ptr`, on

[2020-01-03 18:33] mark-lunarg commented on #1453
Moved into Tracking Issue #24!  Thanks Petr.

[2020-01-03 18:33] #1453 closed

[2020-01-03 23:18] tobine commented on #1336
@mark-lunarg running ANGLE [CI](https://chromium-review.googlesource.com/c/angle/angle/+/1985175) with your branch and enabling the DebugUtils extension on Android is passing where it was previously crashing.

[2020-01-04 05:08] ShabbyX commented on #1459
For what it's worth, I learned that the validation error was indeed legitimate and that the application was reusing a descriptor set that was bound to slot N, where the layout of slot M<N was changed.

So, I'm not questioning the validation error itself. You may still want to double check the code here to see if the pointer comparison is intentional.

[2020-01-06 07:00] DethRaid opened #1462 "Links to the spec should point to the chunked spec"
Links to the spec in error messages, such as "ERROR: [Validation] [Validation]  Objects: Command Buffer (1b2ef6de1d0)  vkCmdPipelineBarrier(): pImageMemBarriers[0].srcAccessMask (0x800) is not supported by srcStageMask (0x1). The Vulkan spec states: Each element of pMemoryBarriers, pBufferMemoryBarriers and pImageMemoryBarriers must not have any access flag included in its srcAccessMask member if

[2020-01-06 17:09] jzulauf-lunarg commented on #1459
@ShabbyX -- the PipelineLayoutCompatId are in fact pointers to entries in the canonical forms dictionary for layout compatible-ness.  The == operator is used in the with the PipelineLayoutCompatDict dictionary that stores the canonical forms.

So I believe this is "as designed".  Happy to hear we caught your layout compat issue.

[2020-01-06 17:09] #1459 closed

[2020-01-06 22:18] #1336 closed

[2020-01-06 22:20] mark-lunarg commented on #1451
Pinging @wumo...

[2020-01-07 21:01] #1419 closed

[2020-01-07 21:25] mark-lunarg commented on #1462
If the VUIDs were explicitly included in the spec as tags _and_ text, specifically in the PDF version which loads much faster, this would be straightforward.  However, implementing this change in the layers would require that the three HTML versions of the specification be parsed, which we wish to avoid.
This might be raised as an issue in the [Vulkan-Docs repo](https://github.com/KhronosGroup/Vul

[2020-01-07 21:32] mark-lunarg commented on #1451
There are existing tests for these validation checks, `VkLayerTest.CreateImageViewBreaksParameterCompatibilityRequirements` and `VkLayerTest.CreateImageViewInvalidSubresourceRange`.  If your app has met the conditions @krOoze has specified and still feel that the validation is in error, please respond and we will reopen this issue.  Thanks!

[2020-01-07 21:32] #1451 closed

[2020-01-08 13:25] pierremoreau opened #1468 "Error reported for updating a VK_DESCRIPTOR_TYPE_COMBINED_IMAGE_SAMPLER with immutable samplers"
#1460 added checks for preventing immutable samplers from being overwritten (either via write or copy), however it also does complain when doing so on a `VK_DESCRIPTOR_TYPE_COMBINED_IMAGE_SAMPLER`, even though it is legal if I understand the spec correctly:

Looking at the code, it seems that a potential fix would be to change the `else` statement (https://github.com/KhronosGroup/Vulkan-Validation

[2020-01-08 15:27] brianpaul opened #1469 "regression in vkGetInstanceProcAddr() with commit 9086e801366f2c5c888a80de1ad6f60f26f0dea7"
My application calls vkGetInstanceProcAddr() for the transform feedback extension functions ("vkBindTransformFeedbackBuffersEXT" for example).

Prior to commit 9086e801366f2c5c888a80de1ad6f60f26f0dea7 there was no issue.  But now the pointer returned from vkGetInstanceProcAddr("vkBindTransformFeedbackBuffersEXT") points to 0x7fffef2c208e <vkPhysDevExtTramp3> and when execution jumps there we wind

[2020-01-08 17:31] mark-lunarg commented on #1469
Are there any validation errors or messages that appear before your crash?
Is it possible that could you provide a simple repro case?  When I try this (with `vk`**Cmd**`BindTransformFeedbackBuffersEXT`), it works as expected.  Neither of these extensions or entrypoints is apparently affected by the changes in this commit, which is simply adding the `vkGetPhysicalDeviceProcAddr()` entrypoint.

[2020-01-08 17:50] mark-lunarg commented on #1468
@pierremoreau, you're absolutely right, I missed the fall-through in the case statement.  Fix coming shortly!

[2020-01-08 20:05] mark-lunarg commented on #1468
Should be fixed by commit ac72777ef763e725.  Thank you very much for the report!

[2020-01-08 20:05] #1468 closed

[2020-01-08 21:47] mark-lunarg commented on #1438
@phuang, could you please include the invalid error messages generated due to this issue?  We will try to suppress the messages as @ShabbyX suggests.

[2020-01-09 16:30] baldurk opened #1470 "Missing support for separate depth/stencil layouts"
`CoreChecks::VerifyFramebufferAndRenderPassLayouts` doesn't seem to handle a render pass with different initial layouts for depth and stencil aspects of a depth/stencil attachment.

It uses a single initial layout (the 'default' initial layout for that attachment) and checks that all subresources in the image view range match, but if the layouts are different you'd need to do two passes; once to c

[2020-01-09 17:39] brianpaul commented on #1469
Hi Mark,

I don't have a small, open repro case to share here, but I can share my
test app with you.  I'll send it to your email asap.

-Brian

On Wed, Jan 8, 2020 at 10:32 AM Mark Lobodzinski <notifications@github.com>
wrote:

[2020-01-09 17:52] mark-lunarg commented on #1340
@krOoze, @Ralith, just to be clear, is the VU to removed `VUID-VkSwapchainCreateInfoKHR-imageExtent-01274`?

[2020-01-09 18:20] krOoze commented on #1340
Well, yea. Assuming that is da wei. Follow https://github.com/KhronosGroup/Vulkan-Docs/issues/1144

[2020-01-09 19:00] Zingam opened #1471 "DebugUtilsMessenger not working in SDK 130"
I have tested my code on a laptop with Intel HD620 and I believe SDK 106. Debug messages are printed out through the DebugUtilsMessanger callback.
When the same code is run on a laptop with Intel HD630/NVIDIA GeForce and SDK 130 the callback is not called, so there is no output. However I made a small test with `vkSubmitDebugUtilsMessageEXT` and in that case the callback is called with my message

[2020-01-09 19:21] mark-lunarg commented on #1471
@Zingam, I'm guessing this is on Windows -- do you have a repro case you can share here or privately?  Also, are you able to build and use the layers from this repo, or maybe more recent layers available in the [appveyor build artifacts](https://ci.appveyor.com/project/Khronoswebmaster/vulkan-validationlayers/builds/29930931/job/6a3nifp53vl88m96/artifacts)?  Our internal/external windows tests see

[2020-01-09 20:11] pdaniell-nv commented on #1470
There were some fixes done in https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1403, which I assume you're already using.

Are you planning to fix the other things you found? If not I can take a stab.

[2020-01-09 20:22] baldurk commented on #1470
Yeh I was building locally from ac72777ef. The patch I mocked up locally just to verify is below which you can use as a starting point if you want, but I don't have time to convert it into a proper PR I'm afraid:

[code]

[2020-01-09 21:19] Zingam commented on #1471
Sorry about that! I am on the latest version of Windows 10 with nearly the latest drivers.
I decided to try third party samples also.
I copied the appveyor files to the SDK folder and I cloned:
https://github.com/SaschaWillems/Vulkan
I enabled the validation and I opened the project in VS2019 and run the "triangle.exe" sample. I still got no validation info.
Then I modified the sample to use `vkSu

[2020-01-09 21:41] mark-lunarg commented on #1471
@Zingam, if there are no errors, there should be no output.  1.1.106 is pretty old, and my hunch is that you were used to getting a bunch of object-related informational output which has since been removed.  You might try to deliberately induce an error to prove that things are working as expected -- pass in zero for a command buffer or something like that.

[2020-01-09 21:49] Zingam commented on #1471
So I should not get any output about creating and destroying a vulkan surface?

[2020-01-09 22:22] Zingam commented on #1471
@mark-lunarg Thank you! You appear to be right and the information on the internet outdated:
![image](https://user-images.githubusercontent.com/3337419/72108089-71968b80-333b-11ea-9cc4-5cf8602043f2.png)

[2020-01-09 23:02] mark-lunarg commented on #1471
Much effort has been put into reducing unnecessary spew -- we try very hard not to complain if you are doing something right.  The error database will tell you which VUIDs are checked, if that's what you mean by output.

[2020-01-09 23:38] pdaniell-nv commented on #1470
Your fix seems to work well. I clang formatted it and created a PR here: https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1472

For the issue you noticed with ValidateRenderPassLayoutAgainstFramebufferImageUsage that will require a spec update to add VUs for these cases. I'll do that next.

[2020-01-10 00:15] pdaniell-nv commented on #1470
Spec fix is here: https://gitlab.khronos.org/vulkan/vulkan/merge_requests/3545

[2020-01-10 10:07] pierremoreau commented on #1468
Thank you for the quick fix; I can confirm that it fixes it!

[2020-01-10 16:41] #1471 closed

[2020-01-10 19:38] camden-lunarg commented on #1450
@mark-lunarg Is this warning good to be moved to BP? I never saw a sign off fro @tobine

[2020-01-10 19:40] mark-lunarg commented on #1450
Yeah, let's do it.

[2020-01-12 19:04] DiligentGraphics commented on #1458
I believe we experience the same problem: we create a query pool and then immediately reset it with `vkCmdResetQueryPool`. However, sometimes we get the "query must be reset before it is use" error.

[2020-01-12 19:18] DiligentGraphics opened #1475 "Pipeline statistics query sporadically returns 0xFFFFFFFFFFFFFFFF in all fields"
We face the following problem that is only reproducible when validation layers are enabled: pipeline statistics query sometimes indicates that the data is available and returns `0xFFFFFFFFFFFFFFFF` in all fields.
We use the following commands to get the query data:
- `vkCmdResetQueryPool`
- `vkCmdBeginQuery`
- `vkCmdEndQuery`
- Check the fence to wait until all commands are executed by the GPU
- `

[2020-01-13 12:09] tambry opened #1476 "Y'CbCr sampler validation missing"
From the spec:

The validation layers don't report an error if any of those requirements is not met.

[2020-01-13 15:34] mark-lunarg commented on #1475
@DiligentGraphics, the layers do not change, copy, or even examine the data returned from the driver.  If this issue occurs with _AND_ without any layers present, circumstances strongly point to the display driver.  It might be that differences in the frequency of occurrence between the two scenarios could be attributed to the difference in timing.  Which graphics hardware has this manifested on?

[2020-01-13 18:34] DiligentGraphics commented on #1475
Sorry about the noise. This was a driver issue. Updating the driver fixed the problem.

[2020-01-13 18:34] #1475 closed

[2020-01-13 21:42] critsec commented on #1336
I verified my program can now use the debug utils messenger on Android with that change; I'm getting callbacks successfully when I deliberately violate valid usage. Thanks!

[2020-01-14 08:20] tambry opened #1478 "Best practices vkFreeMemory() crashes if memory is VK_NULL_HANDLE"
If the best practices layer is enabled, `vkFreeMemory()` crashes if `memory==VK_NULL_HANDLE`.

From the spec:

Stacktrace:
[code]

[2020-01-14 13:20] rg3igalia opened #1479 "Crash with small specialization constants"
I'm creating a VK-GL-CTS test that uses small specialization constants, in the form of 16-bit floats, 16-bit integers and 8-bit integers if supported by the implementation. When enabling validation for these tests, I'm hitting an assertion here:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/834baaf8b22782d38b8da2bf52d046df2eed794f/layers/shader_validation.cpp#L2918

I've reviewed t

[2020-01-14 17:03] mark-lunarg commented on #1470
The fixing PR was pushed to Master -- if closing this issue is premature, please comment as such and I'll reopen.  Thanks!

[2020-01-14 17:03] #1470 closed

[2020-01-14 18:01] Zingam commented on #1471
@mark-lunarg Thank you for clarifying the situation. Maybe it is my omission but these changes should be documented more clearly in light of the outdated examples out there. Perhaps a simple "Hello world"-type message could be issued once the messenger is registered. Also the database https://vulkan.lunarg.com/doc/sdk/1.1.130.0/windows/validation_error_database.html should be linked to the TOC of

[2020-01-14 18:08] mark-lunarg commented on #1471
@Zingam, I've had such a PR on my machine for three years now, but we have overwhelmingly heard back from folks that they want ZERO informational messages from the layers -- for instance, installations where many hundreds of applications are tested would have to deal with the extra noise.  OTOH, point me to any out-of-date documentation and I'll do what I can to get them updated!  Thanks again!

[2020-01-14 21:07] mark-lunarg commented on #1478
Fixed by PR #1480.  Thanks!

[2020-01-14 21:07] #1478 closed

[2020-01-14 21:14] mark-lunarg commented on #1469
A quick update -- @brianpaul was kind enough to provide a simple repro case, but the issue does not appear to manifest on our test systems.  We are still pursuing the discrepancies offline.

[2020-01-14 21:14] #1462 closed

[2020-01-14 23:38] pdaniell-nv commented on #1363
Yes, this does appear to be an NVIDIA driver bug. We're working on a fix. Thanks @krOoze for contributing a CTS test case.

[2020-01-15 15:58] #1476 closed

[2020-01-16 16:27] jeremy-lunarg commented on #1396
I tried reproducing this using the VK_GOOGLE_hlsl_functionality1 extension. Can you tell me where you were seeing the error message? Thanks.

[2020-01-19 15:55] Zingam commented on #1471
@mark-lunarg I talk about third party tutorials and books that contain outdated information. But maybe you could add samples, more notes about the current situation, maybe even a tool, how to test that the layers are workings as expected, which for me isn't a big deal any longer
In that context I think that enumerating the device extensions produces info messages of the sort:

Which I think are pu

[2020-01-19 21:38] mark-lunarg commented on #1471
I believe those messages might be coming from the Vulkan Loader, I don't think the layers output anything.  Thanks for all the good feedback!

[2020-01-20 11:47] HansKristian-Work opened #1487 "False positive for geometry shader invocations"
A SPIR-V module without any decoration for Invocations fails validation with:
[code]
I believe this is a false positive, since no execution mode for invocations should default to 1.

[2020-01-20 13:07] tambry opened #1488 "Missing errors for vkCmdBlitImage with YUV images"
From the spec:

* `srcImage` must not use a format listed in Formats requiring sampler Y′CbCr conversion for `VK_IMAGE_ASPECT_COLOR_BIT` image views (VUID-vkCmdBlitImage-srcImage-01561)
* `dstImage` must not use a format listed in Formats requiring sampler Y′CbCr conversion for `VK_IMAGE_ASPECT_COLOR_BIT` image views (VUID-vkCmdBlitImage-dstImage-01562)

As I understand, using images with any YUV

[2020-01-20 13:50] sfricke-samsung commented on #135
So I looked into this, most of the `VkCmdDraw`/`Dispatch`/etc commands have a lot of `VUID-vkCmd*-none-#####` VUID. One class of VUs I personally want to write validation for are ones like `VUID-vkCmdDraw-None-02690`

This is an issue that when you create `VkSampler` you can't check if the `VK_FILTER_LINEAR` is valid due to not knowing the tiling of the Image in the ImageView until its confirmed i

[2020-01-20 17:21] mark-lunarg commented on #135
@sfricke-samsung -- This doesn't seem unreasonable.  In drawdispatch.cpp, there's a function `ValidateCmdDrawType`, which is responsible for checking a handful of these 'multi-vuids', where the numeric portion is the same (i.e., `02690`) but the command name changes.  It'd be nice to change `ValidateCmdDrawType `to just take a command name, and then construct the VUIDs for each of the subchecks in

[2020-01-20 18:19] sfricke-samsung commented on #135
My question about generating the VUID is how to let the script know that the VUID are covered

It seems to all work in my mind, just a matter of writing up an attempt and maybe going from there t

[2020-01-20 18:39] mark-lunarg commented on #135
If I'm understanding your question correctly, the script parses the validation layer source code, comparing any discovered VUIDs to those in the `validusage.json` file in the Vulkan registry which describes them.  The on-line versions (on LunarXchange) are only updated at SDK-release time, but you can run reports yourself.  It has a bunch of options for ouput, or checking a single VUID, etc.

[2020-01-20 18:40] sfricke-samsung commented on #135
I meant I was under the impression the script input was just the source

How would the script know about the VUID in this case?

[2020-01-20 18:44] mark-lunarg commented on #135
Ah, right, sorry for my misunderstanding.  Not sure yet, but we've had to cover this in other cases.  Maybe they're in a table or structure which is selected in ValidateCmdDrawType?  I know there are several/many VUIDS checked but which are not getting picked up by the script.

[2020-01-22 11:50] pdagobert opened #1495 "Creating image views should be less restrictive if VK_IMAGE_CREATE_EXTENDED_USAGE_BIT is used"
I have a compute shader which writes compressed pixels into a compressed texture.  It works, but it triggers the following error:

`vkCreateImageView(): pCreateInfo->format  with tiling VK_IMAGE_TILING_OPTIMAL does not support usage that includes VK_IMAGE_USAGE_STORAGE_BIT. The Vulkan spec states: If usage contains VK_IMAGE_USAGE_STORAGE_BIT, then the image view's format features must contain VK_F

[2020-01-24 08:24] tambry opened #1499 "vkCmdCopyImage missing VUID 122 and 123 for YUV planes"
From the spec:
* The source region specified by each element of `pRegions` [...] must be a region that is contained within the plane being copied if the `srcImage`’s VkFormat is a multi-planar format (VUID 122)
* The destination region specified by each element of `pRegions` [...] must be a region that is contained within the plane being copied to if the `dstImage`’s VkFormat is a multi-planar for

[2020-01-24 13:57] tomilov opened #1500 "False positive for "InconsistentSpirv" when VK_EXT_scalar_block_layout is used."
To be short: initially problem faced when I deal with `spirv-opt`. Corresponding ticket is [here](https://github.com/KhronosGroup/SPIRV-Tools/issues/3153).

[2020-01-24 18:42] timvpGoogle opened #1501 "Windows: error: expected unqualified-id"
ANGLE is attempting to pull in the latest version of the Vulkan validation layers, but is hitting an error with the Windows build:

[code]

One suggestion we came across was to use `#define NOMINMAX`:
https://stackoverflow.com/a/22744273/912144

This is being tracked within ANGLE with:
http://anglebug.com/4338

[2020-01-24 19:01] mark-lunarg commented on #1501
Hey @timvpGoogle, we also use NOMINMAX in the layers for these issues.  Sorry for my lack of understanding, but can you be more specific about what you'd like for us to check out?

[2020-01-24 19:22] ShabbyX commented on #1501
Tim, we should define NOMINMAX in angle's build on windows. Looks like there isn't anything for VVL to do.

[2020-01-24 20:53] tomilov commented on #1500
Seems I missed to add `vk::PhysicalDeviceScalarBlockLayoutFeatures` with `scalarBlockLayout = VK_TRUE;` to `vk::StructureChain` of `vk::CreateDeviceInfo`. Maybe warning message just shoud suggest this.

[2020-01-26 18:00] jeffbolznv commented on #1487
This is the _GLSL_ default, but not SPIR-V. The SPIR-V generator is responsible for setting the default value, if necessary.

[2020-01-26 23:46] farnoy opened #1502 "vkWaitSemaphores not enough to revert Command Buffers from Pending state, fence still needed"
I realized that it's not enough to wait on the host with `vkWaitSemaphores` before cleaning up the submission data (namely the command buffer), that a `vkFence` still needs to be used with `vkQueueSubmit`.

I think this is a limitation of the validation layers, and my understanding of the spec is that this approach is sufficient and a Fence is not needed.

1. 5.5 in the spec, under `vkQueueSubmit`

[2020-01-27 10:12] HansKristian-Work commented on #1487
SPIR-V spec also says default is 1, if the execution mode is not set, so it's somewhat confusing if SPIR-V generator also has to set it.

[2020-01-27 14:59] jeffbolznv commented on #1487
I missed that part in the SPIR-V spec.

The validation layers are faithfully implementing the VUID as written, so I think you should file a Vulkan spec bug if you want this changed. But odds are that some implementation relies on the current behavior and it won't be possible to change it.

[2020-01-27 15:06] HansKristian-Work commented on #1487
Alright, I don't mind having to emit Invocations. I see the VUID now, that clarifies things. Not a bug then.

[2020-01-27 15:06] #1487 closed

[2020-01-27 18:39] Didgy74 opened #1504 "VkCommandBuffer not retaining it's object name after being recorded multiple times."
This issue has been experienced on the SDK v1.1.130.0.

A `VkCommandBuffer` will lose it's object-name given to it through `vkSetDebugUtilsObjectNameEXT`
after recording to the command buffer 2 or more times. If you record to the command buffer only once, the object-name remains, record to it again and the name disappears.

The `VkCommandPool` owning the `VkCommandBuffer` was created with only the

[2020-01-27 21:30] #1479 closed

[2020-01-27 22:35] jeremy-lunarg commented on #1487
I know you've discussed/closed this, but I think what is happening here is that, in the validation layers, an invocation count is being initialized to zero. It is then conditionally updated by OpExecutionMode(Invocations). If not OpExecutionMode is not present, the initialized value (0) is being used for the bounds check as per the spec. It wouldn't be that hard to avoid checking the value if OpEx

[2020-01-29 01:05] timvpGoogle commented on #1501
Looking at this some more, it looks like the fix is to add the following to `src/layers/subresource_adapter.h`:
[code]

Defining `NOMINMAX` in ANGLE's or the validation layers' build doesn't work, and is in fact explicitly being undone already:

In `src/layers/BUILD.gn`, there is:
[code]

This is later used to remove the `NOMINMAX` definition from windows builds later in the build process:

[code]

[2020-01-29 02:56] ShabbyX commented on #1501
Maybe VVL should just `-DNOMINMAX` in its builds and rip all of these out. I don't imagine there is any file that actually wants `min`&`max` from the windows SDK.

[2020-01-29 16:54] mark-lunarg commented on #1501
@ShabbyX, @timvpGoogle, I'll get this in the repo directly.  Thanks for chasing it down.

[2020-01-30 20:21] #1501 closed

[2020-02-02 18:41] zeux opened #1512 "During validation of pipelines with SPIRV 1.4/1.5 and specialization constants, optimizer isn't configured to use Vulkan 1.2"
In shader_validation.cpp, ValidatePipelineShaderStage, the following code specializes the shader when specialization constants are present:

[code]

When the input SPIRV blob contains instructions from SPIRV 1.4/1.5, such as SpvOpCopyLogical, optimizer fails to parse SPIRV blob because the environment isn't configured to recognize 1.2 instructions.

The code should be updated to use SPV_ENV_VULKAN

[2020-02-02 19:19] zeux opened #1513 "Crash when calling vkCmdDrawIndexedIndirectCount loaded through GIPA"
After migrating to Vulkan 1.2 I'm seeing a crash when calling vkCmdDrawIndexedIndirectCount (note, no KHR suffix), but *only* when validation layers are active and *only* when the function pointer is loaded using vkGetInstanceProcAddr.

If validation layers are *not* enabled, using either vkGetInstanceProcAddr or vkGetDeviceProcAddr results in a non-NULL function pointer, and calling this function

[2020-02-03 07:39] KarenGhavam-lunarG commented on #1513
In the 1.2.131.0 loader, a bug exists when using vkGetInstanceProcAddr to get a function pointer to an extension API that was integrated into Vulkan 1.2. Doing so will give a function pointer that always crashes. A new loader was built (1.2.131.1) and is available by installing the "Latest Runtime" available at vulkan.lunarg.com

Could you try your scenario with this new loader to see if it resolv

[2020-02-03 16:00] zeux commented on #1513
I get the same behavior with the new (1.2.131.1) loader.

[2020-02-03 17:26] kspagnoli opened #1514 "Timeline semaphores don't appear to support out-of-order submission"
The validation layers don't appear to support out-of-order submission of timeline semaphores.

Looking at the layer source, it appears the payload signal value is instantly updated at submission time and the layers will warn if any future submit will signal a lower value. However, this is a _potentially_ a false warning if the first submit was blocked.

e.g.

submit #1 -- wait 10 signal 100 (block

[2020-02-03 18:52] mark-lunarg commented on #1513
@zeux, thanks for the wonderfully complete issue description!  After digging around this morning, I was able to reproduce this with other functions promoted to 1.2 core and accessed by `GetInstanceProcAddr()`.  I believe it is due to the `trampolineGetProcAddr()` function in `gpa_helper.h` of the Vulkan Loader not being properly updated to add these new core functions

It would also seem obvious t

[2020-02-03 22:38] baldurk opened #1516 "Extra image create flag added on swapchain images"
In `ValidationStateTracker::PostCallRecordGetSwapchainImagesKHR`: https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/e85fe4c3cc9f6c12d887d2ef912241241e0f5ffa/layers/state_tracker.cpp#L4901

and

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/e85fe4c3cc9f6c12d887d2ef912241241e0f5ffa/layers/state_tracker.cpp#L4919-L4924

There's `VK_IMAGE_CREATE_ALIAS_BIT` added implicitly to

[2020-02-04 12:38] pdaniell-nv opened #1518 "Chassis GetPhysicalDeviceProcAddr returning non-NULL for non-physical device functions"
As commented in https://github.com/KhronosGroup/Vulkan-Loader/issues/320, I think there is bug in the generated chassis implementation of GetPhysicalDeviceProcAddr in that it is returning non-NULL for functions that are not physical device functions:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/e85fe4c3cc9f6c12d887d2ef912241241e0f5ffa/layers/generated/chassis.cpp#L341

That will co

[2020-02-04 14:35] kennyalive opened #1519 "Image layout mismatch false-positive for VK_DESCRIPTOR_BINDING_UPDATE_AFTER_BIND_BIT_EXT descriptors"
I have a typical image layout mismatch error *"cannot use VkImage  with specific layout X that doesn't match the previous known layout Y"*.

It could be a bug related to delayed descriptors validation due to UPDATE_AFTER_BIND flag and more specifically how **CMD_BUFFER_STATE::validate_descriptorsets_in_queuesubmit** state is used in this scenario. I'm not 100% sure though. Please check the pseudoc

[2020-02-05 00:11] mark-lunarg commented on #1504
@Didgy74, modified `VkLayerTest.DebugUtilsNameTest` in `vklayertest_others.cpp` as indicated, but the naming appears to work as expected.  Might you have the time modify that test-case to reproduce the problem  (or provide a simple repro case) so we can get it fixed as quickly as possible?  Thanks!

[2020-02-05 12:35] tambry opened #1523 "VU01564 incorrectly issued for immutable samplers"
## Description
From `VkDescriptorImageInfo` (emphasis mine):

VUID01564 (emphasis mine):

An error for VU01564 is currently emitted in cases where the binding uses an immutable sampler and thus `sampler` of `VkDescriptorImageInfo` isn't used.
A sample of such a program is included below.

## Sample
[rcrash.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/4159434/rcrash.zip)
Inclu

[2020-02-05 12:41] tambry commented on #1523
Patch to fix this:
[code]

@sfricke-samsung You introduced validation for VU01564. Does the above fix look correct to you?

[2020-02-05 12:57] sfricke-samsung commented on #1523
Yes, sorry I didn't see the small immutable sampler edge case. This looks totally valid and I 100% approve of this

[2020-02-05 17:28] Tony-LunarG commented on #1512
Fixed in #1520

[2020-02-05 17:28] #1512 closed

[2020-02-05 22:20] #1518 closed

[2020-02-05 22:56] randomascii opened #1526 "Duplicate header file entries in BUILD.gn"
layers/state_tracker.h ends up being listed twice in a list of source files. This is ignored by gn but when VS project files are created it causes them to fail to load with this message:

Cannot load project with duplicated project items:
    ... vulkan-validation-layers/src/layers/state_tracker.h is included
    as 'None' and as 'None' item types.

PR being created.

[2020-02-05 23:37] mark-lunarg commented on #1469
Closing for now, please reopen or comment if additional information comes to light.  Thanks!

[2020-02-05 23:37] #1469 closed

[2020-02-06 01:19] mikes-lunarg commented on #1526
Fixed in #1528

[2020-02-06 01:19] #1526 closed

[2020-02-06 11:50] rg3igalia opened #1529 "Unexpected validation errors when using GL_ARB_enhanced_layouts"
While developing a new test for CTS and using GL_ARB_enhanced_layouts in GLSL shaders to manually specify the location and components for members of an input block, I'm getting the following validation errors:

[code]

The shader code for the vertex shader is:

[code]

and the shader code for the fragment shader is:

[code]

I believe the interface declaration in the fragment shader is OK and matc

[2020-02-07 07:22] zeux opened #1530 "SHADER_MODULE_STATE::has_specialization_constants is not initialized"
During parsing of the module, SHADER_MODULE_STATE::has_specialization_constants is set to true if one of OpSpecConstant instructions are present in the SPIRV.

However, if none of them are present, the variable is not initialized.

This can lead to odd issues elsewhere; specifically, I hit this in #1512 which I actually encountered when a compute shader *without* specialization constants had a pip

[2020-02-07 16:39] oddhack opened #1532 "Removal of non-API range enums from Vulkan headers"
The Vulkan WG is looking at removing the BEGIN_RANGE, END_RANGE, and RANGE_SIZE enums from the Vulkan headers and XML going forward. These tokens have always been defined as not being part of the Vulkan API. As a first step, we'd like to be sure that the validation layers are not using these tokens.

Can you verify that the validation layers project has no objection to removing these tokens from t

[2020-02-07 22:14] jeffbolznv opened #1533 "Validate resource binding to external memory"
We got a bug report from a developer recently, where the app was binding an image to external memory without using VkExternalMemoryImageCreateInfo. This would have been caught by VUID-vkBindImageMemory-memory-02728.

Please implement VUIDs 02726 through 02729 and 02791 through 02794. These are Bind{Buffer,Image}Memory(2) versions of this check for exportable and imported memory.

[2020-02-08 05:26] Karutoh commented on #1502
I have a similar issue when using Timeline Semaphores to load resources. When waiting on a semaphore to finish loading resources. It does not wait long enough for it all to finish executing. My errors are different.

[code]

[2020-02-10 17:35] #1530 closed

[2020-02-10 21:57] mark-lunarg commented on #1532
@oddhack, yes, they are used in the layers and we have a bit of work to do to remove them.

[2020-02-10 23:40] #1447 closed

[2020-02-11 16:28] #1523 closed

[2020-02-11 22:41] Nimanf commented on #1358
@shannon-lunarg I still see this issue in Vulkan SDK 1.2.131.1. I don't see anywhere in spec that calling vkCmdCopyQueryPoolResults() without VK_QUERY_RESULT_WAIT_BIT is illegal.

How do we call this API asynchronously without a flag, and performing a map after waiting on fence?

Time queries cannot use VK_QUERY_RESULT_PARTIAL_BIT as well.

[2020-02-12 16:58] thenegativehunter opened #1548 "fase warning in vkUpdateDescriptorSets() call on some machines"
the specification states that :
**If sampler is used** and the VkFormat of the image is a multi-planar format, the image must have been created with VK_IMAGE_CREATE_MUTABLE_FORMAT_BIT, and the aspectMask of the imageView must be VK_IMAGE_ASPECT_PLANE_0_BIT, VK_IMAGE_ASPECT_PLANE_1_BIT or (for three-plane formats only) VK_IMAGE_ASPECT_PLANE_2_BIT

in case of a immutable sampler which uses a multi p

[2020-02-12 17:32] mark-lunarg commented on #1548
@thenegativehunter, the conditions in which you're getting this error are a bit cloudy to us here, can you get us a simple repro case, or maybe an API dump of a program running up to and including the error?  That'd help us to address this much more quickly -- thanks!

[2020-02-12 20:52] #1532 closed

[2020-02-13 11:26] Didgy74 commented on #1504
I'm closing this issue. Turns out the behavior did not apply to the validation layers after some testing. It's the intended behavior of RenderDoc to forget the debug-utils name whenever you reset a command buffer.

[2020-02-13 11:26] #1504 closed

[2020-02-13 15:34] mark-lunarg commented on #1504
Thanks @Didgy74 for following up, I was unaware of the RenderDoc behavior.

[2020-02-13 17:18] Tony-LunarG commented on #1358
Fixed in #1551

[2020-02-13 17:18] #1358 closed

[2020-02-13 17:37] Tony-LunarG commented on #1226
Fixed

[2020-02-13 17:37] #1226 closed

[2020-02-13 20:26] oddhack commented on #1532
Thanks for the quick turnaround!

[2020-02-14 00:01] thenegativehunter commented on #1548
@mark-lunarg
i was trying to implement a api dump, i changed my machine, and didn't get the error anymore. so i wouldn't be able to provide it without a lot of hassle.
but i realize where the problem is. i was using the latest vulkan sdk but setting the used api to 1.1 instead of 1.2
this time, i installed 1.1.130 on my machine instead and didn't get the error at all.
i searched in the source code

[2020-02-14 07:44] sfricke-samsung opened #1553 "Remove redundant Vulkan API version checks"
As discussed in #1541

The code
[code]

Adds all core extensions when a version is detected.

For example there is **no need** to do
[code]
Since the 1.1 check is redundant here.

This issue is to track the removal of other redundant checks

[2020-02-14 18:39] Tony-LunarG commented on #1516
But can't you create images and bind swapchain image memory to them?  To me, that implies that the theoretical VkImageCreateInfo.flags _should_ contain VK_IMAGE_CREATE_ALIAS_BIT rather than forbid it from being set.  Isn't the functionality the same as with two non-swapchain images aliasing memory, and requiring VK_IMAGE_CREATE_ALIAS_BIT?

[2020-02-14 18:57] baldurk commented on #1516
I'm not aware of any way to do that, I thought the swapchain's memory was entirely opaque and unavailable to the application to do any aliasing with. Maybe I'm forgetting an extension somewhere, maybe one of the external memory ones?

[2020-02-14 19:01] jeffbolznv commented on #1516
The device group extension allows binding swapchain memory to images, so you can create peer mappings, for example. See VkBindImageMemorySwapchainInfoKHR.

[2020-02-14 19:08] baldurk commented on #1516
Ah right yeh I see. Annoyingly it doesn't look like we know at swapchain time whether that will be done or not (I don't see any pNext struct needed to be chained onto the swapchain) or else we could add that into the swapchain image equivalent table.

Either way, either the spec needs to be updated to say that `VK_IMAGE_CREATE_ALIAS_BIT` is always set for swapchain image equivalent info - which I

[2020-02-14 22:47] mark-lunarg commented on #1548
@thenegativehunter, we pushed a commit (3ca937b323e7ec) which should take care of your issue, assuming we understood it correctly.  Please build and retry with your application and respond when you have the time.  Thanks!

[2020-02-14 22:47] #1548 closed

[2020-02-17 13:48] Themaister opened #1556 "False positives in event validation"
The validation layers seem to get confused with VkEvent validation. I logged all calls to vkCmdSetEvent and vkCmdWaitEvents and I get a stream like:

[code]

The "but instead is 0x0" stage mask is very odd, I'm always hitting the branch here, as events are signalled and waited on in different command buffers: https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/core_validatio

[2020-02-17 13:51] Themaister commented on #1556
The issue appears to be related to batching. If I remove command buffer batching, no false positives. I think the issue is that the global event state is not updated between each individual command buffer.

[2020-02-17 16:43] mark-lunarg commented on #1179
@jzulauf-lunarg, what's the current status of this issue, can it be closed?

[2020-02-17 16:47] mark-lunarg commented on #601
This was fixed in mid-December.  Thanks!

[2020-02-17 16:47] #601 closed

[2020-02-17 16:48] #498 closed

[2020-02-17 16:52] mark-lunarg commented on #375
These checks have been implemented.

[2020-02-17 16:52] #375 closed

[2020-02-17 21:21] #1488 closed

[2020-02-18 06:24] tntljc opened #1559 "pWaitDstStageMask should be checked against null pointer"
App with pWaitDstStageMask set to null but using wait semaphore will crash in VkQueueSubmit with validation layer enabled, user will have no idea of the reason, either there is any message.

Looking at the code in the ValidateSemaphoresForSubmit() core_validation.cpp, it directly access pWaitDstStageMask's elements without any null-checking. I think it would be better if validation could report su

[2020-02-18 15:46] tobine opened #1560 "Improve documentation in GitHub"
Following internal discussion and reviewing repo, I believe we're deficient in documentation in the GitHub repo itself to give into on using the validation layers apart from the SDK and a basic background of the layer functionality.

If I put on my new user hat, I come to the main page in GitHub and then find ["How to Build and Run"](https://github.com/KhronosGroup/Vulkan-ValidationLayers#how-to-b

[2020-02-18 15:49] hevrard commented on #1560
That sounds good, happy to help with drafting/reviewing some documentation on these points.

[2020-02-18 16:28] mark-lunarg commented on #1559
@tntljc, there is existing validation for passing a null `pWaitDstStageMask `pointer.  Specifically, in `StatelessValidation::PerCallValidateQueueSubmit()`, in the `validate_flags_array()` call.  The following message is output if this parameter is NULL:

`[ VUID_Undefined ] Object: 0x23f823d4050 (Type = 3) | vkQueueSubmit: required parameter pSubmits[0].pWaitDstStageMask specified as NULL.`

I've

[2020-02-18 16:41] tntljc commented on #1559
Thanks @mark-lunarg ! My mistake that didn’t find this sentence. Close the issue.

[2020-02-18 16:41] #1559 closed

[2020-02-18 17:02] mark-lunarg commented on #1559
@tntljc, no problem at all.  When you do inevitably run across something that's missing, let us know!

[2020-02-19 10:53] billeter opened #1563 "Imageless framebuffers and renderpass image layout transitions"
I'm using an imageless framebuffer (`VK_KHR_imageless_framebuffer`) to render to swap chain images (views bound when calling `vkCmdBeginRenderpass` via `VkRenderPassAttachmentBeginInfoKHR`). The associated render pass is set up to transition the corresponding color attachment from `VK_LAYOUT_UNDEFINED` to `VK_LAYOUT_PRESENT_SRC_KHR`.

At present time, the validations layers are reporting an error

[2020-02-19 16:20] grisevg commented on #1458
Is it fixed now by https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/4c7d15dda8d81df30153e0470a54e3d0ad17d2e2#diff-617ec4ceb169e2ba63e3b5ba46ef3647 ?

[2020-02-19 16:47] mark-lunarg commented on #1458
@psalz, @DiligentGraphics, can y'all check and verify that this issue is cleared up in your failure cases?  @grisevg, thank you for time and information!

[2020-02-19 16:49] mark-lunarg commented on #1560
@hevrard, if you'd like to have a go, I think that'd be helpful to everyone in that an outside viewpoint is hard to come by.  We'll need to make sure any changes are applicable for both the repo and SDK, but that shouldn't be hard.

[2020-02-19 16:55] DiligentGraphics commented on #1458
Is the fix going into the next release?

[2020-02-19 17:01] mikew-lunarg commented on #1458
By release, assuming you mean SDK release, if it is merged into this repo's master branch before the next SDK cycle (which hasn't started yet), then yes it will be in the next SDK.

[2020-02-19 17:09] grisevg commented on #1458
it's already released in 1.2.131

[2020-02-19 18:40] Tony-LunarG commented on #1516
Fixed in #1561

[2020-02-19 18:40] #1516 closed

[2020-02-19 20:27] #259 closed

[2020-02-19 22:36] mark-lunarg commented on #47
Hopefully addressed by #1557.

[2020-02-19 22:36] #47 closed

[2020-02-20 19:55] #1553 closed

[2020-02-21 06:52] locke-lunarg commented on #1407
This issue might need to be fix in shader compiler.

The whole shader features support validation are checked in  `CoreChecks::ValidateShaderCapabilities`.

It can catch _shaderInputAttachmentArrayDynamicIndexing_, _shaderUniformTexelBufferArrayDynamicIndexing_, and _shaderStorageTexelBufferArrayDynamicIndexing_,
BUT NOT _shaderUniformBufferArrayDynamicIndexing_, _shaderSampledImageArrayDynamicInd

[2020-02-21 15:55] hevrard commented on #1560
OK, I'll try to get something ready next week.

[2020-02-22 07:04] DethRaid commented on #466
I've run into the same validation message that was reported in closed issue #1102 . I'd really like to know _which_ part of my command buffer expected my image to be in that layout, not just that the command buffer as a whole somewhere expected the image to be in a layout at some point

[2020-02-23 02:27] tuxerr opened #1566 "Boundary checks for srcSubpass and dstSubpass"
One of my developers had mistakenly sent a VkRenderPassCreateInfo with 2 VkSubpassDependency where the 2nd dependency had uninitialized values for srcSubpass and dstSubpass, which was crashing his application in the vulkan driver (obviously).

Unfortunately this also crashes the validation layers, as multiple places seem to use src/dstSubpass to index in subpass arrays, such as
                sel

[2020-02-23 02:53] tuxerr opened #1567 "No checks that vkCmdCopyQueryPoolResults is writing into a big enough buffer"
bool CoreChecks::PreCallValidateCmdCopyQueryPoolResults doesn't check that the buffer that the function writes to is big enough : the size should be at least as bit as dstOffset + queryCount*stride.

[2020-02-23 03:35] tuxerr opened #1568 "Lack of renderpass compatibility testing in graphics pipelines"
We recently hit 2 issues, both having to do with the renderpass currently used ( after a vkCmdBeginRenderPass ) being incompatible with the renderpass in the graphics pipeline under the renderpass compatibility rules in https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/vkspec.html#renderpass-compatibility.

In the first case, the renderpass in use was using a fragment density map (

[2020-02-23 17:06] amshafer opened #1569 "Fix thread safety for vk_khr_display (patch included)"
When rendering directly to the display the validation layers do not record the creation of a `VkDisplay` object in the `ThreadSafety` class. This causes a failed assertion when the `VkDisplay` is next seen, rendering validation unusable.

[code]

I'm using this [commit](https://github.com/amshafer/Vulkan-ValidationLayers/commit/4905169b0ba3c4c7e34607c3cd6c924ea2e80b4a) to fix this issue. Basically

[2020-02-23 17:21] DethRaid opened #1570 "Validate buffer sizes when recording drawcalls"
I've noticed that I've gotten `VK_ERROR_DEVICE_LOST` from when I try to record a drawcall where I've told Vulkan that either the index buffer or the vertex buffer is the wrong size. I don't exactly know how I misusing Vulkan because I changed a few things when fixing the error, but I'm 95% certain it's something related to buffer sizes or number of indices

[2020-02-24 16:22] mark-lunarg commented on #1570
@DethRaid, can you provide some additional detail?  Maybe some pseudo-code or repro circumstances, and maybe which valid usage checks are missing?  It'd help us get a good handle on things.

[2020-02-24 16:25] mark-lunarg commented on #1567
[code]

[2020-02-24 17:30] krOoze opened #1571 "Warn if pipeline with disabled rasterization has dynamic state"
to #24
from https://github.com/KhronosGroup/Vulkan-Docs/issues/1184

Warn if pipeline with disabled rasterization has dynamic state that is appropriate only if rasterization is enabled.

Plus perhaps warn if it has a fragment shader.

Plus if it links extensions in `pNext` that depend solely on rasterization.

[2020-02-24 20:10] tuxerr commented on #1567
(it seems that to be complete, [[VUID-vkCmdCopyQueryPoolResults-dstBuffer-00824]] would also be necessary)

[2020-02-25 00:11] mark-lunarg commented on #1571
Thanks Petr, added this to the tracking issue!

[2020-02-25 00:11] #1571 closed

[2020-02-25 23:27] #1569 closed

[2020-02-26 17:27] mark-lunarg commented on #95
Moved to CI repo/projects list.

[2020-02-26 17:27] #95 closed

[2020-02-26 17:29] mark-lunarg commented on #1310
Moved to the validation layer performance tracking issue.

[2020-02-26 17:29] #1310 closed

[2020-02-27 11:48] scyganINTEL opened #1575 "Validate pipeline layout against maxPerStageDescriptorSamplers"
The purpose of this issue is to verify if layers check for number of samplers used per stage and validate that against the `maxPerStageDescriptorSamplers` limit advertised by the driver.

I am not seeing `maxPerStageDescriptorSamplers` anywhere in layers code, so I guess it is not checked.

[2020-02-28 01:39] DethRaid commented on #1570
I can try to get a minimal repro case, but like I said I changed a few things while fixing the error so it may take a while to make

[2020-02-28 13:05] iostrowsINTEL opened #1583 "Loading layer settings thru registry does not work"
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/vk_layer_config.cpp#L197

`RegEnumValue` overrides `name_size` and `value_size` on return, so reading empty value at the beginning ends with `ERROR_MORE_DATA` for later calls.

[2020-02-28 16:49] #1583 closed

[2020-02-28 16:57] mark-lunarg commented on #1575
Perhaps you have an older version of the source?  There's [this section]([url](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/aeb43fc03baef19f1bb618c534bee0cf4182d897/layers/core_validation.cpp#L3978)) of **maxPerStageDescriptorSamplers**-related checks in core validation, and tests for them in `VkLayerTest.CreatePipelineLayoutExcessPerStageDescriptors` in `vklayertests_pipeline_shad

[2020-03-05 09:12] sfricke-samsung commented on #1499
Hey @tambry I will be happy to cover this as I am currently trying to add more general YUV support. I realize part of the issue here is related to the [Vulkan Spec](https://github.com/KhronosGroup/Vulkan-Docs/blob/master/chapters/copies.txt#L340). The spec has the ability to generate various variations with the `ifdef` and `endif` statements, but currently there isn't support to do it in the middl

[2020-03-05 11:54] tambry commented on #1499
@sfricke-samsung Thank you for your work on the YUV VUIDs. Due to missing coverage in validation layers developing an application that uses YUV samplers took me way longer than it should've.

[2020-03-05 16:00] sfricke-samsung commented on #1499
agreed as the Vulkan YUV documentation/support as a whole feel through (its not a topic is as familiar with in graphics), also there is now a [section in the Vulkan Guide](https://github.com/KhronosGroup/Vulkan-Guide/blob/master/chapters/extensions/VK_KHR_sampler_ycbcr_conversion.md) to also help aid with this.

[2020-03-05 22:12] jeremy-lunarg commented on #1407
We do test if the Vulkan features associated with SPIR-V capabilities are enabled. However, as @locke-lunarg  pointed out, glslang doesn't generate those four ArrayDynamicIndexing capabilities. Nor does spirv-val validate them. There's an issue logged in the glslang repositor. See https://github.com/KhronosGroup/glslang/issues/2056.

[2020-03-05 22:12] #1407 closed

[2020-03-06 13:15] null77 commented on #1407
Thanks for pointing out the glslang issue Jeremy. Shouldn't we hold this open until the glslang issue is resolved? It's likely going to be an issue for ANGLE on Android.

[2020-03-06 15:05] gevahn opened #1596 "Validation layer does not warn of a compute shader with too large LDS"
If a compute shader has an LDS array of a size exceeding the device limit, the validation layer will not warn of this. However, the shader module or the compute pipeline will fail on their create functions.

[2020-03-06 15:38] mark-lunarg commented on #1596
@gevahn, found the text below in the spec.  Does this cover the situation you are encountering?

[code]

[2020-03-06 15:44] gevahn commented on #1596
I'm referring to this spec:

[2020-03-06 16:30] mark-lunarg commented on #1596
@gevahn, thanks for the clarification! This is definitely not covered in the layers.

[2020-03-07 17:59] sfricke-samsung commented on #1499
@tambry So looking even MORE into this, I tried your app and curious what version of the Validation Layers you used to test. The `VUID-VkImageCopy-srcOffset-00144` and `VUID-VkImageCopy-dstOffset-00150` should have caught the issue you had (It did when I ran your test copy application).

I actually think the new answer is not what I stated above, but instead remove 00122 and 00123 as "a region tha

[2020-03-07 18:17] tambry commented on #1499
@sfricke-samsung I think I used 1.1.126.0, as that was what was available on Debian at the time. I'll try again with validation layers from the master branch once I'm at the office on Monday.

[2020-03-08 05:22] DethRaid opened #1597 "Unclear validation message when creating a VkPipeline with too many push constants"
I recently got the following message from the validation layers:
[code]
After some digging, I found that the problem was that my vertex shader module declared three push constants, but my VkPipelineLayout was only created with one push constant

The validation message was pretty confusing at first. I think something like "Shader declares `n` push constants, but only `m` were declared in VkPipeline

[2020-03-09 06:19] tambry commented on #1499
@sfricke-samsung With validation layers from the master branch, I'm still seeing a GPU hang when running the copy executable. As far as I can tell, if validation layers caught it, the call would be skipped and I wouldn't be seeing a hang.

I tried `export VK_LOADER_DEBUG=all; export VK_INSTANCE_LAYERS=VK_LAYER_LUNARG_api_dump:VK_LAYER_KHRONOS_validation`. I see plenty of loader debug output regard

[2020-03-09 17:01] jeremy-lunarg commented on #1407
There's not much to be done with respect to the validation layers repo. The validation layers check for Vulkan features when the relevant SPIR-V OpCapabilities are encountered, but the glslang compiler will need to generate the OpCapabilities before we can report these disabled features in the validation layers. I just added [tests](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1595

[2020-03-09 17:37] mark-lunarg commented on #1566
Missing checks for these cases should be checked in stateless validation, and are:
[code]

[2020-03-09 21:01] mark-lunarg commented on #72
#41 Core Validation: No error reported for a missing subpass->external dependency

[2020-03-09 21:01] mark-lunarg commented on #41
Moved to the Synchronization tracking issue, #72.

[2020-03-09 21:03] mark-lunarg commented on #41
Moved wrong issue!

[2020-03-09 21:04] mark-lunarg commented on #6
Moved to the sync tracking issue, #72.

[2020-03-09 21:04] #6 closed

[2020-03-09 21:06] mark-lunarg commented on #72
Added issue #41, "Core Validation: No error reported for a missing subpass->external dependency" to the tracking issue.

[2020-03-09 21:06] #41 closed

[2020-03-09 21:19] mark-lunarg commented on #2
@krOoze, do you happen to know if this has been straightened out in the layers?

[2020-03-09 22:57] mark-lunarg commented on #12
Waiting on the acquire fence is not a guarantee that the submitted work has been completed, even on the same image index.  The only way to guarantee this is to wait on the signaled fence from the `QueueSubmit()`.

[2020-03-09 23:00] mark-lunarg commented on #33
@jeremy-lunarg, 3 years on, it's my impression that we are handling this correctly -- is there still work to do here?

[2020-03-09 23:03] mark-lunarg commented on #54
Moving this warning issue to best practices tracking issue, #24.

[2020-03-09 23:03] #54 closed

[2020-03-10 00:11] krOoze commented on #2
@mark-lunarg Currently, the `ALL_COMMANDS` fails, but `ALL_GRAPHICS` passes. Plus spec still seems to be bit ambiguous about it.

[2020-03-10 05:14] sfricke-samsung commented on #1499
This is what i get when I run it on Ubuntu with Mock ICD driver and ToT validation
[code]

[2020-03-10 05:18] sfricke-samsung commented on #1499
@tambry 2 questions

1. Have you varified the layers are being loaded, try setting something obvious that would trigger a error. I know silly question, but I have had issues in past because didn't realize layers weren't set
[code]

2. I added some Tests to validation layers in PR linked to issue, they seem to mock the same style of copy your example had

[2020-03-10 05:28] sfricke-samsung commented on #558
seems like #568 covered this already as `VUID-VkMemoryPriorityAllocateInfoEXT-priority-02602` is already done

[2020-03-10 08:05] tambry commented on #1499
@sfricke-samsung I'm using validation layers built from the master branch and have `ninja install`-ed them for the user. `vulkaninfo` shows validation layers 1.2.133 validation layers existing, so they must be getting loaded.

For example setting `VkCommandPoolCreateInfo::flags` to 0x8 does result in a validation error. But still no errors related to the out-of-bounds image copy.
Since this works

[2020-03-10 08:05] #1499 closed

[2020-03-10 08:26] tambry opened #1604 "VkLayerTest.CreatePipelineExceedMaxTessellationControlInputOutputComponents arithmetic exception"
[code]

I'm not sure if this is a driver bug or an issue in the tests.

Debian Unstable
Clang 11.0.0 trunk
Mesa 20.0.0

[2020-03-10 11:07] scyganINTEL commented on #1575
@mark-lunarg Agree, thanks!

I was looking for the error check  in VkDescriptorSetLayout create, while indeed it is catched in VkPipelineLayout creation - exactly where spec wants it.

The bug is now closed.

[2020-03-10 11:07] #1575 closed

[2020-03-10 15:24] mark-lunarg commented on #558
@sfricke-samsung, thanks!  I love it when this happens.

[2020-03-10 15:24] #558 closed

[2020-03-10 15:26] mark-lunarg commented on #1575
@scyganINTEL -- thanks very much for your time!

[2020-03-10 17:15] mark-lunarg commented on #2
This seems pretty close to my interpretation of what we should be doing -- is the remaining point that validation should not be using ALL_GRAPHICS, but instead be splitting it up into the individual stages and checking for the first/last dependency?

[2020-03-10 17:41] Tony-LunarG commented on #1604
Triage - The test has 3 sub tests, 1 positive and the other 2 negative.  Only the positive test is a problem.  The positive test is expecting an error - Shader-InputNotProduced, which hints at a mismatch between what the compiler is expecting and what it is getting, which could be the cause of the exception in the compiler.

[2020-03-10 18:45] krOoze commented on #2
TBH, we are doing too much interpreting. The spec should just say exactly. If it is not clear in spec, we must assume _some_ driver handles it wrong (resp. differently from us).

IDK, even if we ignore the spec, `ALL_GRAPHICS` smells bit of a code rot in a self-dependency. How should one read it? It sorta kinda makes sense if it is on both sides, as it means "allow me to do everything". What it me

[2020-03-10 21:57] mark-lunarg commented on #2
Both 00867 and 02285 are covered in the layers, sounds like there is still some work to be done here, but nothing which is straightforward.

[2020-03-10 22:01] mark-lunarg commented on #60
This vuid "VUID-VkPipelineInputAssemblyStateCreateInfo-topology-00429" is implemented in corechecks.

[2020-03-10 22:01] #60 closed

[2020-03-10 22:18] mark-lunarg commented on #59
Validation for buffer usage flags is present in corechecks:
[code]

[2020-03-10 22:18] #59 closed

[2020-03-10 22:33] mark-lunarg commented on #72
Added issue #79, "VL not reporting when a VkSubpassDependency is needed in a downsampling pass" to the tracking issue.

[2020-03-10 22:34] mark-lunarg commented on #79
Moved to the synchronization tracking issue, #72.

[2020-03-10 22:34] #79 closed

[2020-03-10 22:40] mark-lunarg commented on #96
Folding into #1495.  Will address it through that issue.

[2020-03-10 22:40] #96 closed

[2020-03-10 22:53] mark-lunarg commented on #1495
[code]

[2020-03-11 02:33] jeremy-lunarg commented on #1604
@Tony-LunarG Can you tell me if [this](https://github.com/jeremy-lunarg/Vulkan-ValidationLayers/tree/hayes-1604) fixes the problem?

[2020-03-11 05:58] tambry commented on #1604
@jeremy-lunarg I'm still seeing the crash with that commit.

[code]

[2020-03-11 12:39] rg3igalia opened #1606 "Unexpected validation error when writing inline uniform block descriptor"
Some VK-GL-CTS tests, like `dEQP-VK.binding_model.descriptorset_random.sets4.noarray.ubolimitlow.sbolimitlow.imglimitlow.iublimitlow.comp.noia.0` make the layers report `VUID-VkWriteDescriptorSet-descriptorCount-00317`:

[code]

I believe the test code is right and the problem lies in the layers, around here:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/2ff8b6a6f4d5aa7ccfd4fff7a5d

[2020-03-11 21:52] mark-lunarg commented on #1560
@tobine, @hevrard, went ahead and created  #1607, please take a look and share edits/suggestions!

[2020-03-12 01:02] sfricke-samsung opened #1608 "Remove clang compiler warnings when building"
I have had it a few times now where I get a build error/warning that is important but it was suppressed in the noise of warnings I get currently

I normally build with clang 6, but checked a gcc 7 build and see that doesn't spit warnings so these seems to be clang warnings

Basically to sum up all the warnings:

Unused functions clang can't resolve
[code]

unused const variables clang can't resolv

[2020-03-12 17:25] mark-lunarg commented on #1608
Heh.  Just learned a few minutes ago that there are a slew of warnings on Ubuntu 19.04 (GCC 8.3?) also.  We'll get these cleared up, and thanks for the notice.

[2020-03-16 16:33] #1560 closed

[2020-03-16 21:02] null77 commented on #1608
Mark: is there any interest in making the VVL use warnings-as-error? The potential benefits are there. You can end up catching real errors and code inefficiencies.

FYI I'm looking at fixing a couple warnings-as-errors that popped up in the roller into ANGLE.

[2020-03-16 23:57] mark-lunarg commented on #1608
@null77, the specified compiler is GCC, but we do 'support' clang.  It's in our Github CI builds, but we  have not turned on warning-as-errors for this compiler.  Warnings there (especially the number we have now!) are a real impediment to productivity, so I'll see what the temperature is in the group for extending W-A-E to clang.

[2020-03-17 00:16] null77 commented on #1608
OK. FWIW Chrome sees probably hundreds of commits a day and enjoys a very high level of productivity despite warnings-as-errors. They can have benefits to productivity too. The compiler could catch a bug that a developer otherwise might spend time debugging.

[2020-03-17 00:40] mark-lunarg commented on #1608
@null77, yeah, I'd prefer it this way as well, but there's only a very small proportion of VVL developers using Clang, so it's always a surprise.  Makes compete sense to me, and I'll see what I can do.

[2020-03-17 15:42] jasuarez commented on #1514
This should be covered by https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1622

[2020-03-17 15:43] jasuarez commented on #1502
https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1511 has been merged, and a new https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1622 has been created to cover more cases

[2020-03-17 15:44] jasuarez commented on #1410
I think this has been covered by https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1511

[2020-03-17 16:51] #1410 closed

[2020-03-18 01:39] DethRaid opened #1624 "False positive error when using UPDATE_AFTER_BIND descriptors and Vulkan 1.2"
I'm using Vulkan 1.2, where the descriptor indexing functionality is part of core - including update-after-bind. However, when I try to create a descriptor set layout for update-after-bind descriptors, I get the following validation error:

[code]

Apparently this validation doesn't realize that descriptor indexing is now part of core

[2020-03-18 16:16] Tony-LunarG commented on #1624
Could you please run vulkaninfo on your system and attach a file with the output here?  Also could you tell me what version of the validation layers you are using?  I've written a quick positive test that behaves as I expect it to with layers from today's master branch.  I'll attach it here.
[PosUpdateAfterBind.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/4350047/PosUpdateAft

[2020-03-18 23:29] pezcode commented on #1624
What happens when you enable the feature through `VkPhysicalDeviceVulkan12Features` instead of `VkPhysicalDeviceDescriptorIndexingFeatures`?

[2020-03-19 18:20] #1608 closed

[2020-03-19 18:54] DethRaid commented on #1624
Output of my `vulkaninfo`: https://pastebin.com/xwRR0GPJ

Just tried using `VkPhysicalDeviceVulkan12Features` and I got the same error

I'm setting it up like this:
[code]

[2020-03-19 18:56] DethRaid commented on #1624
I'm using the Vulkan LunarG SDK version 1.2.131.1

[2020-03-19 19:02] Tony-LunarG commented on #1624
From your vulkaninfo:

Vulkan Instance Version: 1.1.126 - You don't have a 1.2 loader

GPU0:
VkPhysicalDeviceProperties:
---------------------------
        apiVersion     = 4198519 (1.1.119) - And you don't have a 1.2 driver

I think that updating to a 1.2 driver will fix your problem (it should come with a 1.2 loader)

[2020-03-19 21:30] DethRaid commented on #1624
That's odd... I'm create a Vulkan 1.2 instance and don't get any kind of validation errors. I'd think that something would complain if I'm requesting a Vulkan version that my drivers don't support?

I'll update my drivers and report back

[2020-03-19 22:33] DethRaid commented on #1624
I updated my SDK version to 1.2.131.2 and my Nvidia drivers to 442.77. I no longer get the error when enabling update-after-bind

Root cause: I have a very poor understanding of how loosely the Vulkan loader and driver versions relate to each other

[2020-03-19 22:33] #1624 closed

[2020-03-20 13:55] DadSchoorse opened #1634 "Change all variable names that are "requires""
`requires` is a keyword in c++20, but it gets used as a variable name, for example here:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/c46b6f74a8d5ef2c3a3b7af32d64c1aae52b223e/layers/generated/vk_extension_helper.h#L109
I'm using that file in my project, so I would be thankful if it could get changed.

[2020-03-20 18:36] Tony-LunarG commented on #1563
Fixed via #1594

[2020-03-20 18:36] #1563 closed

[2020-03-21 02:33] sfricke-samsung opened #1636 "CoreChecks::ValidateImageFormatFeatureFlags and general format feature support"
Example of current use of `ValidateImageFormatFeatureFlags`

[code]

`VUID-vkCmdResolveImage-dstImage-02003` is

----

I realized while working on other VUID related to format features that `CoreChecks::ValidateImageFormatFeatureFlags` is only checking for Linear and Optimal formats. I then realize there is just a general lack of greater format feature checking in the VVL.

The tiling could be `VK

[2020-03-23 08:36] jasuarez commented on #1502
@farnoy is still this issue valid, after merging #1511 and #1622?

[2020-03-23 08:38] jasuarez commented on #1514
@kspagnoli can you check if this is still a valid issue after #1622?

[2020-03-23 09:31] ClemensRoegner commented on #1458
Hi!
I am running into the same issue still with 1.2.131.2.  Anybody else still hast the problem?

[2020-03-25 19:56] kvark commented on #12
@mark-lunarg so this resolution comes in conflict with the original assumption by @karl-lunarg 👍 > It should be the case that when the acquire fence is signaled the presentation must have finished, and as such the work submitted prior to the presentation (to the same image index) must also have finished. Therefore, resources used by that submission should be marked as not being in flight (command

[2020-03-25 20:33] mark-lunarg commented on #12
The original assumption wasn't by Mr. Schultz, but by a user of the validation layers who had a question soon after Vulkan was initially released. @jzulauf-lunarg is the Vulkan synchronization expert, whom I relied upon for the short update above.  John, might you be able to add a bit more detail to my thin comment above?

[2020-03-26 10:19] x3DCoder opened #1647 "VK_LAYER_KHRONOS_validation VK_KHR_ray_tracing Segfault"
tags/v1.2.135
VK_LAYER_KHRONOS_validation
VK_KHR_ray_tracing
This bug is very simple to explain and reproduce.
Segfault on vkCmdBuildAccelerationStructureKHR when building multiple bottom level acceleration structures in one build command.
With VK_LAYER_KHRONOS_validation Off, everything works perfectly.
Splitting builds in multiple commands also solves it.

[2020-03-26 16:25] x3DCoder commented on #1647
Repro app (not minimal app, but minimal scene) :
https://drive.google.com/open?id=11GLwMV24ru586YJiNVqt8fIJMCU_3Jnc

./incubator (linux build with the reproducible segfault)
incubator.exe (windows build, unsure if the issue also happens on windows since I didn't install the new validation layers on my windows machine yet).

Also, Here's a piece of code that I was testing with to confirm that the i

[2020-03-26 17:23] jeffbolznv commented on #1647
I have a repro and see the problem. safe_VkDeviceOrHostAddressKHR is a struct instead of a union, so safe_VkAccelerationStructureBuildGeometryInfoKHR is the wrong size. I'll see if I can fix the scripts to use a union here.

[2020-03-27 18:27] #1647 closed

[2020-03-29 11:54] psalz commented on #1458
Sorry for the delay; I've only now gotten around to testing this again. I can also confirm that **as of 1.2.131.2 this has apparently not been fixed**. The test case I provided above still fails for me, and I also get the false positive in the application that initially prompted my investigation.

[2020-03-30 16:56] jpark37 opened #1653 "ValidationStateTracker::PostCallRecordQueueSubmit missing failure check?"
I have a vkQueueSubmit call that I use with a fence and Win32 keyed mutexes, and expect it to fail with VK_TIMEOUT occasionally if there is contention. When it does, I get validation errors later on about the fence being signaled. I would expect the fence to remain unsignaled because the call failed.

Should the fence be considered signaled on vkQueueSubmit failure? Or is this a validation bug?

[2020-03-30 17:13] mark-lunarg commented on #1653
@jzulauf-lunarg, if you determine what The Right Thing is, I'm happy to implement it either way.

[2020-03-31 14:35] lubosz opened #1660 "Regression: Usage of VK_KHR_display produces false positives since v1.1.123"
Running the Monado compositor with recent Vulkan validation introduces new errors I am unable to get rid of with API usage.
I am using the `VK_KHR_display` extension in combination with `VK_EXT_direct_mode_display` and `VK_EXT_acquire_xlib_display`. Not sure if the latter are related to the problem since I don't have a more minimal `VK_KHR_display` example. Therefore I also did not test this behav

[2020-03-31 17:24] baldurk opened #1661 "Validation should not require VK_MEMORY_ALLOCATE_DEVICE_ADDRESS_BIT_KHR for EXT extension variant"
Currently if a buffer is allocated with `VK_BUFFER_USAGE_SHADER_DEVICE_ADDRESS_BIT` - which is critically is the same as the `VK_BUFFER_USAGE_SHADER_DEVICE_ADDRESS_BIT_EXT` variant - the validation prints this warning:

But this memory allocate bit only exists in the KHR variant of the extension, and doesn't exist (so isn't required) in the EXT variant. This message should only appear if the KHR e

[2020-03-31 17:50] jeffbolznv commented on #1661
You're the second person to report this to me today, I'm working on the fix.

FWIW, this was correct when I added the KHR_buffer_device_address validation, but has regressed...

[2020-04-01 08:34] dictoon opened #1665 "Setting `VkApplicationInfo::apiVersion` to random values has no effect"
The following code does not produce any error or validation error:

    VkApplicationInfo app_info = {};
    app_info.sType = VK_STRUCTURE_TYPE_APPLICATION_INFO;
    app_info.pApplicationName = "ApplicationName";
    app_info.applicationVersion = VK_MAKE_VERSION(1, 0, 0);
    app_info.pEngineName = "EngineName";
    app_info.engineVersion = VK_MAKE_VERSION(1, 0, 0);
    app_info.apiVersion = VK_MA

[2020-04-01 14:11] mark-lunarg commented on #1636
@sfricke-samsung, this all sounds great...  I put your name on it -- thanks!

[2020-04-01 14:19] mark-lunarg commented on #1665
@dictoon, can you point us to the valid usage statements  in the specification that you'd expect to see called out?  I did see this:

`Vulkan 1.0 implementations were required to return VK_ERROR_INCOMPATIBLE_DRIVER if apiVersion was larger than 1.0.`

But for other versions, it looks like anything might be valid.

[2020-04-01 14:38] dictoon commented on #1665
The spec doesn't mention anything about it. It was simply suggested by someone on the KhronosDevs Slack that "I would hope validation would have at least a sanity check there.  Maybe file a validation bug?", so I did.

It would seem helpful for the validation layers to check that an app isn't passing random version values but as you pointed out, according to the spec it appears to be legal.

[2020-04-01 14:45] mark-lunarg commented on #1665
The validation layers, by default, can and should only enforce the spec.  However, it 's a good idea, and I've added this to the best-practices layer tracking issue #24, which is a great place for stuff like this.  Thanks for the suggestion!

[2020-04-01 14:45] #1665 closed

[2020-04-01 14:48] dictoon commented on #1665
Thank you!

[2020-04-01 15:18] #1661 closed

[2020-04-01 19:22] KarenGhavam-lunarG commented on #1396
@dneto0 Were wondering if you could help move this issue along by providing some more information as requested by @jeremy-lunarg

Thanks!

[2020-04-01 23:15] jzulauf-lunarg commented on #1653
I note that none of the PostCallRecordQueueSubmit calls have tests for result == VK_SUCESS ... this is likely the cause of the error.

Looking at the spec, this seems wrong ... because

So for anything other than SUCCESS either we know the state can't have changed or we don't know what the right state is.  In either case updating state doesn't make sense.

[2020-04-02 08:10] sfricke-samsung opened #1670 "VUID-VkImageCreateInfo-samples-02257 doesn't check for DRM_FORMAT_MOD_LINEAR"
`VUID-VkImageCreateInfo-samples-02257` checks only `pCreateInfo->tiling != VK_IMAGE_TILING_OPTIMAL` but according to the spec

so there should be a test where `VK_EXT_image_drm_format_modifier` is on and there is no `DRM_FORMAT_MOD_LINEAR` and the tiling set to `OPTIMAL` and try to trip VUID 02257

----

While a bug, the plumbing in #1636 should hopefully be able to fix this, but making note know

[2020-04-02 21:19] mark-lunarg commented on #1634
Pushed fix to Master.

[2020-04-02 21:19] #1634 closed

[2020-04-03 13:04] nyorain commented on #1606
I seem to get those errors (false positives, I'm reasonably sure the code is conforming to the spec) for array bindings. The code doesn't seem to take array bindings into account. 941d48b seems to introduce it the issue.

The check for stage/type consistency introduced by that commit seems redundant anyways (except that the new checks provide more detailed error ids), the same thing is checked bel

[2020-04-03 23:52] krOoze opened #1674 "Review of ErrorMonitor constructor in tests"
I am not sure why ErrorMonitor constructor locks and unlocks its mutex in its constructor. Does not make sense to me. Who else would use the object if it is not even constructed yet?

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/dbd073615280f0b737e96017c355ca75835abc1e/tests/vkrenderframework.cpp#L29-L34

On the other hand the `ErrorMonitor::Reset()` method does not have locking, w

[2020-04-05 13:49] krOoze opened #1677 "Creating multiple instances without destroy in between crashes tests"
This code (PR #1676 for demonstration purposes) crashes:

[code]

The conditions are MockICD, and two layers: Validation + Device Profile (default of the test framework).

[2020-04-05 17:55] krOoze opened #1678 "Debug enabled by env does not validate vkCreateInstance"
I have tested debug enabled by env (`VK_INSTANCE_LAYERS=VK_LAYER_KHRONOS_validation`). It does not seem to catch `vkCreateInstance` errors. My code:

[code]

I know the second case should work, because I tested it in #810 with explicit validation.

[2020-04-06 10:36] samwalls-arm opened #1681 "Build script update_deps.py not building for Win32 correctly"
Also see the discussion towards the end of [this PR](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1621).

The instructions which I found from `BUILD.md` didn't quite work on my windows machine for some reason.

e.g.
[code]
or
[code]

Kept giving me errors regarding glslang dependencies:
[code]

After working with it a bit, I found that I had to go into the glslang project created b

[2020-04-07 13:38] dgkoch commented on #546
The intent was clarified with the release of KHR_ray_tracing (for both NV and KHR):

Scratch space is allocated as a VkBuffer, so for VK_ACCELERATION_STRUCTURE_MEMORY_REQUIREMENTS_TYPE_BUILD_SCRATCH_NV and VK_ACCELERATION_STRUCTURE_MEMORY_REQUIREMENTS_TYPE_UPDATE_SCRATCH_NV the pMemoryRequirements->alignment and pMemoryRequirements->memoryTypeBits values returned by this call must be filled with z

[2020-04-07 17:08] 741g opened #1691 "Feature request: silent mode"
Hi,

I'm on Android GPU virtualization efforts at Google and we're interested in using VVL to prevent undefined/invalid behavior triggered from a Vulkan guest. In the course of this, one feature that we'd be interested in is 'silent mode'; i.e., when the layers are linked in, they do validation and return error codes and don't exercise the host driver on validation failure (like they do now), exce

[2020-04-07 17:21] mark-lunarg commented on #1691
@741g, you can create a debug callback and eat the messages, they'll never show up.  I'm guessing this won't work for you?

[2020-04-07 17:29] 741g commented on #1691
@mark-lunarg ah that's right, I can do that instead! Would there be any extra noticeable overhead from having trivial debug callbacks? If not, feel free to close.

[2020-04-07 17:38] mark-lunarg commented on #1691
I would really like to understand your use case a bit better -- but if you create a debug callback, the layers will use yours instead of setting up their own default callbacks, so there _shouldn't_ be any noticeable overhead.

[2020-04-07 17:41] 741g commented on #1691
The use case: security. this would be for using attached validation layers as a way to prevent malformed Vulkan structs/API calls from causing undefined behavior on the host. Each instance/device created by the guest would have the validation layers added on top. As such, we'd want validation to happen, but would also want a minimal amount of overhead (for performance).

[2020-04-07 17:52] mark-lunarg commented on #1691
Ah, that helps.  For this use case, you may wish to disable the thread-safety checks and possibly even the unique_handles portions of the default validation types.  This should speed things up a good bit if it becomes necessary.  In your use-case, the callback shouldn't affect things at all.  Lemme know if you want/need any additional info, glad to help.

[2020-04-07 18:01] 741g commented on #1691
Thanks Mark! Will re-open once I run into issues needing additional help :)

It's possible we do unique_handles already due to stuff that is required as part of virtualization (keeping guest/host handles in separate spaces), though we might want to keep the thread safety checks, and that might be something that is more uhh interesting to make superfast :)

[2020-04-07 18:01] #1691 closed

[2020-04-07 18:11] mark-lunarg commented on #1677
@krOoze, this is due to a bug in the mock ICD.  It creates a single physical device handle, passes it back to everybody, always, but destroys it on the first DestroyInstance() call, ruining the party for everyone.  I think I can just make a static handle, and not delete it, then we're all cool (the test passed when I skipped the PDev delete in the debugger).  DevSim is uninvolved.

[2020-04-07 18:37] krOoze commented on #1677
Hm, though it worked for me if Device Profile layer was not among the enabled layers...

[2020-04-07 18:43] mark-lunarg commented on #1677
Ah, yeah, I'm always getting device_simulation and device_profile mixed up.  The DeviceProfile layer **is** loaded in my debugging scenario -- it is responsible for some of the EnumeratePhysicalDevices calls, so maybe those mask the problem?  Either way, I'll do some more digging and get it sorted.

[2020-04-07 19:38] mark-lunarg commented on #1677
Without the MockICD fix, it failed for me with or without DevProf.  With the fix, it passes either way.  Here's the [PR on Vulkan-Tools](https://github.com/KhronosGroup/Vulkan-Tools/pull/365).

[2020-04-07 22:09] mark-lunarg commented on #1681
@samwalls-arm, is the note above sufficient?  If you feel more is needed, please feel free to add onto the PR.  Thanks!

[2020-04-08 09:50] samwalls-arm commented on #1681
It might not be. I tried again with a completely fresh clone of the repository, just in case, and the commands I wrote here still produce the error.

[2020-04-08 15:11] mark-lunarg commented on #1681
@samwalls-arm, thanks for checking, I will either fix it or change the blurb!

[2020-04-08 17:59] krOoze commented on #1677
This particular case seems to work now. There is similar problem in `VkPositiveLayerTest.SwapchainImageLayout` though.

[2020-04-08 21:12] Jasper-Bekkers opened #1695 "Names for objects in validation layer, take 2"
I've file this issue way back in 2017 in the other repository (https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/issues/1880) but it looks like this still isn't addressed?

It looks like this may have gotten stuck on https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/pull/2475 but it's a real shame, having to jump through hoops for years to get names on objects.

I've

[2020-04-09 00:15] cjay opened #1696 "Unjustified VUID-vkAcquireNextImageKHR-swapchain-01802 (Application has already previously acquired X images from swapchain)"
The following kind of validation error can occur unjustified:

andle = 0x2a000000002a, type = VK_OBJECT_TYPE_SWAPCHAIN_KHR; | MessageID = 0x3e97a888 | **vkAcquireNextImageKHR: Application has already previously acquired
2 images from swapchain. Only 2 are available to be acquired using a timeout of UINT64_MAX** (given the swapchain has 3, and VkSurfaceCapabilitiesKHR::minIma
geCount is 2). The Vul

[2020-04-09 09:15] rg3igalia opened #1697 "Unexpected validation errors with separate stencil usage"
Some VK-GL-CTS tests are reporting validation errors after creating images with separate stencil usage (chaining a VkImageStencilUsageCreateInfo structure in the creation info structure). See e.g. `dEQP-VK.renderpass.suballocation.multisample.separate_stencil_usage.d24_unorm_s8_uint.samples_4.test_stencil`. I have reviewed the test code a bit and I believe it to be OK. I think the separate `stenci

[2020-04-09 14:49] rg3igalia opened #1700 "Unexpected image layout validation error in VK-GL-CTS renderpass tests"
VK-GL-CTS has a set of tests related to render passes. Many of the tests produce validation errors related to invalid image layouts, but at least some of them appear to be unexpected. For example, dEQP-VK.renderpass2.suballocation.formats.r8_unorm.input.clear.store.clear is a test doing the following:

* Creating a render pass with two color attachments and two subpasses. The initial and final lay

[2020-04-09 19:54] mark-lunarg commented on #1695
@Jasper-Bekkers, the infrastructure for this has been in place for some time and a scrub was made a few weeks ago to pick up most of the multi-object output cases, but a whole bunch of messages in `descriptor_sets.cpp` were missed.  I fixed all I could find there (in #1704), if you run across any other spots let us know and they'll be addressed quickly.

[2020-04-10 18:23] mark-lunarg commented on #1681
Updates (and fixes) pushed to Master.  Thanks for the nudge!

[2020-04-10 18:23] #1681 closed

[2020-04-10 18:38] #1695 closed

[2020-04-11 15:12] reduz opened #1711 "Error checking too strict?"
I have the following scenario, an Image I create with the purpose of using it on a compute shadert, and then display it  I need to display it directly to screen later, so I need this to be in SRGB format.
For this I create an image that has this format:

format: VK_FORMAT_R8G8B8A8_UNORM
usage: VK_FORMAT_FEATURE_STORAGE_IMAGE_BIT and VK_FORMAT_FEATURE_SAMPLED_IMAGE_BIT

This is fine, I can run the

[2020-04-11 17:23] reduz commented on #1711
ok, nevermind, misunderstood the problem.

[2020-04-11 17:23] #1711 closed

[2020-04-11 19:35] haasn opened #1712 "Regression: False positive after 9cef885 (VK_KHR_timeline_semaphore verifications)"
In commit 9cef885 a change was introduced which broke a previously-working application with a seemingly false positive semaphore validation issue:

[code]

The validation error claims semaphore `0x110000000011` was never signalled, but the application log above shows the (successful) `vkQueueSubmit` call which signals semaphore `0x110000000011`. The code in question hasn't changed in a while and h

[2020-04-11 20:08] sfricke-samsung opened #1713 "Can't run ToT tests on devsim (CI failing as well)"
Noticed when rebasing some PR that they are not failing CI. I tried pulling down ToT, grabbed 137 headers and clean build and what not and get

[code]

Found `b41b9d0c3689232da2ff9ca63d59ad3da0569446` is last commit that works

Seems [Remove MockICD workarounds in instanceless](https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/8f07f8b0cf2847f06c5a91ae9b6d564b943cc5f5)

Didn't fully gr

[2020-04-11 21:13] krOoze commented on #1713
Yea, head of mockicd (Vulkan-Tools) is needed.

[2020-04-11 21:38] sfricke-samsung commented on #1713
Ok, let me grab a ToT loader/mockICD and try again!

Maybe it would be good to have a version of Vulkan-Tools and Vulkan-Loader in the known-good.json file and have a `update_testing_dep.py` script or something so that both someone writing a test and the CI are on the same, reproducible, page

[2020-04-11 21:45] sfricke-samsung commented on #1713
Updating just the loader to ToT gets me

[code]

so seems the loader version is not the issue

[2020-04-11 21:51] krOoze commented on #1696
It sounds like an Issue for Vulkan-Docs. The VU says nothing about caring whether swapchain is out of date or not.

[2020-04-11 21:58] krOoze commented on #1713
I believe it was removed from known-good. CI just pulls the master head now.

Loader should not matter for now. The things that fixed this for me are at Vulkan-Tools. Nevertheless the workarounds are back because of other things; just pull the head of layers.

[2020-04-11 22:42] sfricke-samsung commented on #1713
With ToT Vulkan-Tools get further

[code]

----

Ok thats fair, just annoying having to update loader, vulkan-tools, and vulkantools in order to test layers

[2020-04-12 02:21] cjay commented on #1696
No, the issue is that the validation complains about legitimate API use. A call to `vkQueuePresentKHR` followed by a call to `vkAcquireNextImageKHR` should never result in a validation error that complains about trying to acquire too many swapchain images.
I mentioned out of date swapchain only as part of the example situation where this happens.

[2020-04-12 02:39] cjay commented on #1712
I investigated a similar error, and I'm pretty sure the problem is this line
[code]
in `CoreChecks::PreCallValidateQueuePresentKHR`. It should probably be
[code]

[2020-04-12 03:39] krOoze commented on #1696
Ok, give me an example that does not violate:

and the value of VkSurfaceCapabilitiesKHR::minImageCount as returned by a call to vkGetPhysicalDeviceSurfaceCapabilities2KHR with the surface used to creat
e swapchain, timeout must not be UINT64_MAX

yet shows the error.

[2020-04-12 04:19] cjay commented on #1696
Why do you want that? A `VK_ERROR_OUT_OF_DATE_KHR` is part of normal operation. Sure, it's suboptimal to call `vkAcquireNextImageKHR` after `vkQueuePresentKHR` returned an error, but it's not disallowed, is it? And if it is, the validation layer should complain about that instead.

Personally, I triggered the issue because I had `vkQueuePresentKHR` in a different thread (using a mutex for swapchai

[2020-04-12 04:35] krOoze commented on #1696
I want it, because you said the problem does not rely on out-of-date.

Traditionally an VK_ERROR means the command is unwinded, so the image is still acquired.

It could be argued out-of-date will just fail any subsequent command on the swapchain, so the validation error is pointless, but the spec says nothing about that.

The spec also says that for specific errors the semaphore gets polluted, bu

[2020-04-12 05:25] krOoze commented on #1713
The mock always returns the same physical device, which would make the assertion fail. We perhaps might want to make mock little bit stateful to avood these classes of errors.

Also makes me think there is something wrong with debug callback skip.  The instance tests should never reach icd or devsim. Do you have the devsim layer ordered after validation layer?

[2020-04-13 09:59] HansKristian-Work commented on #1502
I tried building validation layers from master and I still have this issue.

I also exclusively use vkWaitSemaphores instead of fences when timeline semaphores are enabled, and I get these false positives:

[code]

I'm hitting this issue in Granite and vkd3d currently. For a simple repro case with Granite:

[code]

With the env variable set to 0, the legacy fence path is used and I do not get any

[2020-04-13 16:06] sfricke-samsung commented on #1713
I don't set the devsim layer in my env as the `--devsim` explicitly adds it for you after

[2020-04-13 16:56] tambry opened #1715 "VUID_BestPractices_SharingModeExclusive typo"
The message includes `VK_SHARING_MODE_EXCULSIVE`, which is a typo of `VK_SHARING_MODE_EXCLUSIVE`.

[2020-04-13 17:03] mark-lunarg commented on #1715
Thanks!  Fix pushed to Master.

[2020-04-13 17:03] #1715 closed

[2020-04-13 17:22] tambry opened #1716 "VUID_BestPractices_SharingModeExclusive shouldn't skip the call"
If sharing mode is exclusive, then `queueFamilyIndexCount` is allowed to be bogus per the standard.
Such a call is valid and shouldn't be skipped.

Aside, this warning is quite annoying as it's for example triggered when the program doesn't initialize `queueFamilyIndexCount` because it knows it uses exclusive sharing mode. E.g. value of `queueFamilyIndexCount` is `1885430560` due to random memory