[2021-08-13 12:35] zmike commented on #3148
Just tested, but it doesn't seem to affect anything.

[2021-08-13 14:52] zmike opened #3164 "possible issue with descriptor validation"
When running certain apps in zink, I get the following validation errors:

[code]

Initially I assumed this was a zink bug, but after spending a while looking into it, I'm no longer as certain. I added some printfs to verify a sequence of two draws that triggered the errors, and here's what I came up with.

The scenario here has the following descriptor layout on two pipelines:
* set 0 - push desc

[2021-08-15 16:12] batcholi opened #3171 "GPU-Assisted Validation with buffer_reference - assertion failed"
I am having an issue with buffer_reference and GPU-Assisted validation.

It seems like the GPU-Assisted validations do not like buffer_reference blocks containing anything other than float, int, vec, mat, or another reference.

Based on what I understand in the documentation for GL_EXT_buffer_reference, it seems like it should be allowed to have things like nested arbitrary structs within a buffer

[2021-08-16 21:50] ncesario-lunarg opened #3177 "Make "ExpectSuccess" default testing behavior"
#3154 highlights that a test can "succeed" despite previous failures (e.g., failures "ignored" during test setup). Update the testing framework to "expect success" by default. Ideally this would only involve changing `ErrorMonitor` and not having to refactor a large number of tests.

[2021-08-16 22:10] Tony-LunarG commented on #2962
I didn't think the gfxreconstruct trace through.  Your playback was already adding a BUFFER_OPAQUE_CAPTURE_ADDRESS_CREATE_INFO to CreateBufferCreateInfo pNext and I think gfxreconstruct added another, as my replay fails at CreateBuffer with two such structures in pNext.  I'll see if I can untangle it.

[2021-08-17 14:15] #2910 closed

[2021-08-18 09:58] rg3igalia opened #3187 "Unexpected error about PointSize not being written when using mesh shaders"
**Describe the Issue**
When using VK_NV_mesh_shader and a mesh shader that generates points, the layers complain about PointSize not being written eventhough the shader does write to the built-in.

GLSL:
[code]

Generated SPIR-V:
[code]

This results in:

**Valid Usage ID**
UNASSIGNED-CoreValidation-Shader-PointSizeMissing

**Environment:**
 - OS: Fedora Linux
 - GPU: RTX 2060
 - SDK or header ver

[2021-08-18 15:44] sfricke-samsung commented on #3155
What version of the validation layers are you using, the current layers have a different message over [a year ago](https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/f48ad4ad2aba23939a3499c41393e0fab94bbe9e) and since I made various fixes to the AHB part of the validation layers

[2021-08-18 16:28] zhangyiwei commented on #3155
Sure, that's an old one, but as I checked the latest VVL source code, it still doesn't handle `AHARDWAREBUFFER_FORMAT_IMPLEMENTATION_DEFINED` (though it adds support for blob format now).

[2021-08-18 16:46] sfricke-samsung commented on #3155
so I guess looking more at it, I never have seen `AHARDWAREBUFFER_FORMAT_IMPLEMENTATION_DEFINED` before, I know there is the language that says

So I assume this issue is when there is a dedicated image info object... I think the issue is the spec never talks about `IMPLEMENTATION_DEFINED` and it never came up but I can't find anything in the spec that would disallow this so I agree this is an iss

[2021-08-18 16:52] zhangyiwei commented on #3155
Cool! A lot of thanks to you!

[2021-08-18 16:53] zhangyiwei commented on #3155
@emilieroberts for visibility.

[2021-08-19 07:56] sfricke-samsung commented on #3155
Ok, so this took some digging, but the original VU message was [relaxed a while ago](https://gitlab.khronos.org/vulkan/vulkan/-/merge_requests/3928) to remove the `format` as it would allow for this format

The real issue here it seems are usage flags causing the error, which your log shows was `0x20130`

I added a positive tests #3192 and doesn't reproduce the error because the current logic for

[2021-08-19 08:14] rg3igalia commented on #3187
Many thanks for the quick fix! I've tested your branch and confirmed it fixes the issue for me as well.

[2021-08-19 14:39] ncesario-lunarg commented on #3187
Thanks for the repro case! I'm going to double check I did the member access correctly, and if that checks out, I'll hopefully merge this later today.

[2021-08-19 15:12] rg3igalia commented on #3187
Great, thanks! In some weeks I'm going to create additional CTS tests that should cover more complex cases. I'll make sure to report any issues that come up if they do.

[2021-08-19 17:22] #3187 closed

[2021-08-19 18:43] zhangyiwei commented on #3155
Ah, it looks like I was still using an old VVL layer. The latest relaxed logic should work. Thanks a lot for investigatin and the test LGTM as well!

[2021-08-19 20:12] ncesario-lunarg commented on #3155
Thanks @sfricke-samsung! @zhangyiwei is there still an issue that needs to be resolved with VVL here, or can this be closed?

[2021-08-19 20:26] zhangyiwei commented on #3155
This can be closed. Thanks!

[2021-08-19 20:26] #3155 closed

[2021-08-19 21:16] Tony-LunarG commented on #2962
Removing the second VkBufferOpaqueCaptureAddressCreateInfo from the pNext chain did not help, the vkCreateBuffer call still returns VK_ERROR_INVALID_OPAQUE_CAPTURE_ADDRESS.  Did you say that I could reproduce the issue with a PVRCarbonPlayer binary?  How would that work (I'm unfamiliar with PVRCarbonPlayer)?

[2021-08-19 21:58] Tony-LunarG commented on #3171
@batcholi could you please post a shader that displays this problem.  I tried hacking a couple of the shaders in the validation tests but never got the assert.

[2021-08-20 01:31] batcholi commented on #3171
[code]

[2021-08-20 01:33] batcholi commented on #3171
@Tony-LunarG Seems to be when using the buffer reference block as a constructor.

[2021-08-20 12:41] NeilBickford-NV opened #3194 "Between-stage interface validation produces incorrect errors when fragment shaders use pervertexNV attributes"
**Describe the Issue**
Hi Vulkan Validation Layer team,

Here's an issue I just ran into - briefly, it looks like when a fragment shader uses a `pervertexNV` input block (which requires the `GL_NV_fragment_shader_barycentric` extension), `CoreChecks::ValidateInterfaceBetweenStages` will incorrectly produce three `UNASSIGNED-CoreValidation-Shader-InputNotProduced` errors.

This issue includes a rep

[2021-08-20 15:32] #2955 closed

[2021-08-23 16:33] Rua opened #3205 "Mixed-up version numbers in API version error"
**Describe the Issue**
I'm calling `vkGetPhysicalDeviceFeatures2` on a physical device that supports only Vulkan 1.0. It produces this error, which as such seems correct, but the version numbers in the message are mixed up. `pApplicationInfo.apiVersion` is set to 1.1 in the application, not 1.0.2, which is the physical device version. As it reads now, the message makes no sense.

**Valid Usage ID*

[2021-08-23 17:33] ncesario-lunarg commented on #3164
Sorry, I haven't had a chance to dive into this (it's not obvious to me what the problem might be without further investigation).

FYI @Tony-LunarG as I'm not sure if there might be something "special" about the use of multi-draw here?

[2021-08-23 18:18] zmike commented on #3164
No problem, it's a tricky issue for sure.

[2021-08-23 19:13] #2304 closed

[2021-08-23 20:07] Tony-LunarG commented on #3164
Are both draws in the same command buffer?  It doesn't seem like they could be if there's an UpdateDescriptorSets between them.

[2021-08-23 21:42] zmike commented on #3164
Yes, this is all in one command buffer.

[2021-08-24 07:42] DominikWitczakAMD opened #3207 "Should VUID-vkBindBufferMemory-memory-01035 be skipped for host alloc-backed mem allocations?"
Let B be a Vulkan buffer. When B is created, its create info struct chained has a VkExternalMemoryBufferCreateInfo
 structure chained, whose handleTypes member is set to VK_EXTERNAL_MEMORY_HANDLE_TYPE_HOST_ALLOCATION_BIT_EXT.

Let M be a Vulkan memory allocation. At creation time, the corresponding VkMemoryAllocateInfo struct has VkExternalMemoryBufferCreateInfo struct chained as per spec requirem

[2021-08-24 14:42] sfricke-samsung commented on #3207
regardless if we all agree that host alloc memory don't have a memory type to check, there will need to be a spec fix as well for that VUID

[2021-08-24 15:34] #3205 closed

[2021-08-24 15:35] ncesario-lunarg commented on #3205
Thanks for finding this!

[2021-08-26 14:38] zmike opened #3215 "VK_EXT_vertex_input_dynamic_state issues"
I found some issues with the coverage for this extension:
[code]
This is erroneously emitted when VkPipelineVertexInputStateCreateInfo is omitted, but the spec says `VK_DYNAMIC_STATE_VERTEX_INPUT_EXT specifies that the pVertexInputState state will be ignored and must be set dynamically with vkCmdSetVertexInputEXT before any drawing commands`

[code]
This is erroneously emitted when VK_DYNAMIC_STAT

[2021-08-27 20:01] #3215 closed, assigned to ziga-lunarg

[2021-08-28 11:59] Rua opened #3220 "Possible wrong format compatibility class for `R12X4G12X4_UNORM_2PACK16`"
Looking at the source code of vk_format_utils.cpp I noticed that, in `kVkFormatTable`, the entry for `VK_FORMAT_R12X4G12X4_UNORM_2PACK16` marks it being in the 16-bit compatibility class. But this is a 32-bit format, as indicated by the size member, which is 4. So this may be an error?

[2021-08-28 19:41] Hydr0StarForest opened #3222 "No Validation Error with vk(Acquire/Release)FullScreenExclusiveModeEXT"
**Describe the Issue**
When I made swapchain with `VkSurfaceFullScreenExclusiveWin32InfoEXT` & `VkSurfaceFullScreenExclusiveInfoEXT` removed from the `pNext` chain of `VkSwapchainCreateInfoKHR` and then I call `vkAcquireFullScreenExclusiveModeEXT` using the pointer to this function, I got only `VK_ERROR_INITIALIZATION_FAILED` as the return value and no validation error was printed. I made sure tha

[2021-08-28 20:35] batcholi opened #3223 "Unreasonably slow GPU-Assisted validation"
I am experiencing very low framerates while using GPU-Assisted validation.
I understand that it's normal that it would slow down the execution of shaders, but I'm not sure that what I am experiencing is normal.
In normal circumstances, GPU-Assisted features disabled, I am easily getting a stable 200 FPS.
With GPU-Assisted features enabled, I am getting a steady 2 FPS.
I don't think a reduction of

[2021-08-29 12:03] ziga-lunarg commented on #1606
It looks to me like this issue was already fixed by 9198e884

[2021-08-29 18:00] Rua opened #3225 "`VkCreateBufferView` with depth-stencil formats assumes known texel size"
The `ValidateBufferViewRange` function checks for the size of a texel block using the `FormatElementSize` function. When given a depth-stencil format, this function returns a defined value, taken from the values in `kVkFormatTable`. But in the section on texel block sizes, the spec states:

This means that `FormatElementSize` can't return a known value for the size of these formats, since there is

[2021-08-29 19:38] ziga-lunarg commented on #2915
I am unable to reproduce this issue, can you share your code?

[2021-08-30 05:31] sfricke-samsung commented on #3225
I agree the spec contradicts what `FormatElementSize` is doing, but for `VUID-VkBufferViewCreateInfo-range-00929` what device are you running on that supports `VK_FORMAT_FEATURE_UNIFORM_TEXEL_BUFFER_BIT` or `VK_FORMAT_FEATURE_STORAGE_TEXEL_BUFFER_BIT` for a depth/stencil format?

I was not aware that texel buffers in shaders could be depth/stencil format. I don't see why you would use something su

[2021-08-30 08:47] Rua commented on #3225
I'm not aware of any device that supports this. I suppose that this is a case of code that happens to do the right thing because of circumstance, but which could be potentially broken by a device implementer. As long as all users of `FormatElementSize` are aware that it gives wrong results when given a depth-stencil format, I guess there is no issue.

[2021-08-30 14:56] ncesario-lunarg commented on #3207
Is there a gitlab and/or Vulkan-Docs issue filed to track fixing the spec?

[2021-08-30 15:52] sfricke-samsung commented on #3225
so looking at all the uses of `FormatElementSize` I see it used for Multiplanar, Compressed, and Vertex attribute really only

So this explain probably why this hasn't surfaced a real issue yet.

Looking at this more, I think we could safely fix `FormatElementSize` to assert if depth/stencil format is used as it should never occur from what I am seeing as it would be misleading to return what is a

[2021-08-30 16:05] ncesario-lunarg commented on #2361
@sfricke-samsung has [started work](https://gitlab.khronos.org/vulkan/vulkan/-/merge_requests/4787/) to get this information into `vk.xml`; once that change gets merged, automation should be updated to generate `vk_fomat_utils.cpp`.

[2021-08-30 16:32] ncesario-lunarg commented on #3220
Looks like this is related to https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2361.

[2021-08-30 17:02] ncesario-lunarg commented on #3223
Just to clarify, you are getting 200 FPS _with all features_ from `VK_LAYER_KHRONOS_validation` enabled _except_ GPU-AV, and it is only when enabling GPU-AV along with all other features from `VK_LAYER_KHRONOS_validation` you're seeing the slow down?

Aside from the "additional validation work" (which probably doesn't slow things down too much), it is my understanding that GPU-AV may (or perhaps a

[2021-08-30 17:12] #3220 closed

[2021-08-30 18:04] ncesario-lunarg commented on #1606
@rg3igalia @nyorain would either of you be able to confirm your issues are indeed fixed with the latest VVL (looks like this change should be in the latest SDK as well)?

[2021-08-30 19:08] #2945 closed

[2021-08-30 19:44] Tony-LunarG commented on #3164
I seem to only be able to launch the game from steam and the layer settings don't seem to stick from steam to the start of the game.

[2021-08-30 19:55] ncesario-lunarg commented on #3225
Just to clarify, checks such as https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/093e4ef78050220815d136548b80ad25961bb221/layers/buffer_validation.cpp#L1879 (which may be the only one, just happened to be the first assert I hit when I made this change) should then be skipped for depth/stencil formats?

[2021-08-30 20:15] ncesario-lunarg commented on #3225
Here's another one: https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/chap20.html#VUID-vkCmdCopyBufferToImage-pRegions-00171.

Is this VUID "invalid" for copy commands involving depth/stencil formats?

[2021-08-30 20:15] sfricke-samsung commented on #3225
ok, actually looking at this more I **think** the spec should go from saying

to something about how it still needs to support the **minimum needed**. For example, I would image a `D16` would **always** at least have 2 bytes per texel, but it **could** really be a D24 or D32 underneath

I plan to raise this up in the WG

---

regardless, since `total_size` is only used for that warning, I see no h

[2021-08-30 20:19] sfricke-samsung commented on #3225
Under `VkBufferImageCopy` in the spec it talks about depth/stencil copy

like

which I think I realized where maybe the original `FormatElementSize` depth values came from

[2021-08-30 20:27] zmike commented on #3164
Ah, right, you'll also need `ZINK_DEBUG=validation` in the game's launch options to force validation at the driver level. Sorry about that!

[2021-08-31 09:57] #3222 closed

[2021-08-31 11:09] Rua commented on #2361
What would be the number of bits per component in the case of block-compressed formats? Is that even well-defined?

[2021-08-31 12:26] happysmash27 opened #3233 "vk_enum_string_helper.h does not work in C"
**Describe the Issue**
helper_file_generator.py generates a vk_enum_string_helper.h that requires C++, instead of a seperate vk_enum_string_helper.hpp file for C++ and vk_enum_string_helper.h file for C.

**Environment:**
 - OS: Gentoo
 - GPU: RX 480
 - SDK or header version if building from repo: Discovered on 1.2.162, but the same dependency is present on the latest version on GitHub.
 - Options

[2021-08-31 13:00] happysmash27 commented on #3233
Trying to run `scripts/helper_file_generator.py` gives a missing module error:

[code]

Trying to run `scripts/generate_source.py` also gives a missing module error, being unable to find 'reg'.

Which modules is it looking for? I see no clear list of python dependencies in this repository, other than distutils which I already have.

[2021-08-31 14:25] sfricke-samsung commented on #2361
I "**think**" with block-compressed formats its not, but at same time, the issue about is where Image and ImageView have different formats, so in that case, if block-compressed, it would have to just be the same format

[2021-08-31 14:39] sfricke-samsung commented on #3233
`generator` and `reg` are from the [Vulkan-Headers](https://github.com/KhronosGroup/Vulkan-Headers/tree/master/registry) which should be grabbed correctly for you with the `update_deps.py` script I think

[2021-08-31 14:40] mark-lunarg commented on #3233
The .h vs .hpp issue is a duplicate of[ issue #1](https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/1).  We have no current plans to rename header files in the repository.

[2021-08-31 14:53] DominikWitczakAMD commented on #3207
No, sorry, I haven't had time to look into this

[2021-08-31 15:53] happysmash27 commented on #3233
Would a pull request be accepted, though? I will do whatever it takes to be able to print the enum values in an elegant way, up to even modifying all the other header files to match if it is necessary.

[2021-08-31 16:32] ncesario-lunarg commented on #3233
As of right now, the Vulkan-ValidationLayers (VVL) is not intended to be used as an "API." i.e., all of the VVL source is only intended to be used and maintained for use _within_ VVL. While I understand the problem here and sympathize with it, this would add an additional burden to maintain more python code; python code that would be generating headers that would never get tested through any of th

[2021-08-31 16:32] #3233 closed

[2021-08-31 18:41] Rua opened #3234 "Equality check for descriptor set layouts doesn't include immutable samplers"
According to the [spec](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/chap14.html#descriptorsets-compatibility), pipeline layout compatibility requires identically defined descriptor sets. I interpret this to mean that the immutable samplers, included with the descriptors, must also match. But the actual check for descriptor set identity [here](https://github.com/KhronosGroup/V

[2021-08-31 18:42] #3234 closed

[2021-08-31 21:30] Tony-LunarG commented on #3223
@batcholi it is not just your application that can show massive slowdowns with GPU-AV enabled.  A few of the game traces that we use to measure validation performance also show drops to single digit FPS with GPU-AV enabled.  GPU-AV validation does a QueueWaitIdle for every QueueSubmit the application submits, which can certainly slow things down, and which I believe is probably even more of a drai

[2021-09-01 03:30] ShabbyX opened #3237 "Invalid error regarding framebuffer layers when using a 2D array view of 3D image"
An incorrect validation error is introduced by this change: https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/11a68a3a68d4e3d03aed10d8d5126dad043cd3bd in angle: anglebug.com/6293

I did some initial debugging, and the situation is this:

- An image is created that is 3D with depth 4
- An image view is created from this image as 2D array with 4 layers
- A framebuffer is created with th

[2021-09-01 14:36] #3237 closed

[2021-09-01 20:41] #2681 closed

[2021-09-02 16:28] zmike opened #3242 "enum validation inconsistent"
I'm using a build of the layers from a couple days ago, and I'm seeing errors like this when replaying an apitrace dump from the game Hitman in zink:

[code]

Somehow values that are clearly within the bounds of various enums (most commonly the one with 0 value) are being evaluated as not falling inside the enum? Not sure if this is known, but I figured I'd put up a report.

[2021-09-02 17:16] zmike opened #3243 "DrawParameters capability validation"
I'm having a couple issues with this when running an apitrace from the game Hitman under zink.

The first issue is that the validation seems to be spuriously warning about lacking support for the capability (using RADV), but:
* I'm using vulkan 1.2
  * I'm enabling `shaderDrawParameters` in the 1.1 features struct
* I'm enabling VK_KHR_shader_draw_parameters
  * also enabling the feature in a VkPh

[2021-09-02 18:04] ncesario-lunarg commented on #3243
@zmike if you're on the [khronosdevs slack channel](https://khronosdevs.slack.com), I can try to setup a solution for you to send us the trace.

[2021-09-02 18:31] zmike commented on #3243
@ncesario-lunarg Great, I should be able to get on that. Are there docs for how to sign up or register or whatever?

[2021-09-02 21:20] ncesario-lunarg commented on #3243
I think I just signed in with my work email, but I don't think that will work in general.  I'll try to find out who the "workspace admin" is (based on the following):
[code]

[2021-09-02 23:27] sfricke-samsung commented on #3243
This should be checked properly

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/generated/spirv_validation_helper.cpp#L140-L141

I also added positive tests to make sure it does

https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2938/files#diff-396c1f357ae46b5a18451f12fc652898336d51f77a03938eea969f6d0783a173

so not sure what is happening, unless you are usin

[2021-09-03 17:06] #3071 closed

[2021-09-03 18:21] zmike commented on #3242
I'm closing this, I think it was occurring due to extreme memory corruption in lavapipe.

[2021-09-03 18:21] #3242 closed

[2021-09-03 19:57] Goshido opened #3251 "Incorrect validation of the vkGetPhysicalDeviceSurfaceFormatsKHR"
**Describe the Issue**
After building the latest _validation layers_ [2021/09/03] for _Android 11_ from commit `124a97d684f8c451ea252e27728a5e84ae0bac3d` the application began to encounter an issue near `vkGetPhysicalDeviceSurfaceFormatsKHR` call.

![image](https://user-images.githubusercontent.com/6526711/132060251-8b6063da-9086-4cc9-bfbd-81a35f4d7973.png)

As you can see there was a call of `vkG

[2021-09-03 22:21] kloczek opened #3253 "1.2.189.0 sdk: build fails"
**Describe the Issue**
Build fails with:
[code]
**Valid Usage ID**
N/A

**Environment:**
 - OS: Linux/x86_64
 - GPU: N/A
 - SDK or header version if building from repo: 1.2.189.0 sdk
 - Options enabled (synchronization, best practices, etc.):
N/A

**Additional context**
gcc 11.2.1, build with LTO.

[2021-09-04 01:43] #3251 closed

[2021-09-04 04:06] sfricke-samsung commented on #3253
`CapabilityAtomicFloat16AddEXT` is for `VK_EXT_shader_atomic_float2` that was added in the 1.2.185 Vulkan Headers and the `SPIRV-Headers` was updated to have these when the [1.2.186 headers were merged in](https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/f6fecece5fb76d9f6fe90f6d9f6dc3c01c699387)

Curious what `SPIRV-Headers` you have such that `spirv.hpp` is outdated

(Do note the so

[2021-09-04 04:10] sfricke-samsung commented on #3253
`-I/usr/include/spirv/include `

That might be the issue, my build looks in `Vulkan-ValidationLayers/external/SPIRV-Headers/build/install/include/spirv/`

[2021-09-04 08:36] Goshido commented on #3251
The described issue has been fixed in `71f14bfd442af35123905c5be5ce0d7699b7a506`. Thank you guys 👍

[2021-09-04 21:09] ncesario-lunarg commented on #3253
That is most likely the case @sfricke-samsung.

VVL is only expected to build with [this](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/71f14bfd442af35123905c5be5ce0d7699b7a506/scripts/known_good.json#L29) version of SPIRV-Headers. It _might_ work with newer versions, but it will almost certainly require _at least_ that version.

[2021-09-04 21:09] #3253 closed

[2021-09-04 21:28] kloczek commented on #3253
Somone knows why the <censored> still there is no new relelase of the spirv-headers? :/
I've opene https://github.com/KhronosGroup/SPIRV-Headers/issues/199 ~half year ago :/
Who is reposonsible for not making such rlelase?

[2021-09-04 22:06] kloczek commented on #3253
BTW I've have PR https://github.com/KhronosGroup/SPIRV-Headers/pull/209 which is still not merged, and with that would be possible to start require exact minimum version of those headers over pkgconfig.
To allow that that PR neds to be merged and someone needs to make after taht new rrelease.

[2021-09-05 15:21] #1529 closed

[2021-09-05 17:43] Eichenherz opened #3257 "bound_descriptor_set was nullptr, bug inside GPUAV"
**Describe the Issue**
After binding the Gfx pipeline, I bind a descriptor set at set = 1 ( set = 0 is not used ). After this I bind my index buffer and then I issue vkCmdDrawIndexedIndirectCount which goes all the way to GPUAV_RESTORABLE_PIPELINE_STATE -> Create() to throw an exception saying: bound_descriptor_set was nullptr. Yet nothing in my sequence of vkCmds is null state, so I'm guessing it

[2021-09-07 14:33] sfricke-samsung commented on #3253
The SPIR-V Working Group is in charge and we meet every Wednesday, I will raise these PRs as needing to be properly triaged this week

[2021-09-07 21:40] kvark opened #3262 "Cube built for XLIB gets seg fault at exit"
This is a follow-up to https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/issues/1894#issuecomment-309832783

If it's invalid for an application to destroy an instance under specific circumstances, can we have a validation error for this?

More specifically, if a driver registers a callback with XLib, why can't it unregister the call back at `vkDestroySurfaceKHR`? This seems like the

[2021-09-07 22:18] #3257 closed

[2021-09-07 23:40] ncesario-lunarg commented on #3262
Giving the WSI section of the spec a quick look, I'm not seeing anything that addresses this. I'm not sure what/how the VVL can do anything here. e.g., I'm not familiar with the callbacks mentioned in the original issue, nor how we would determine when a driver implementation/ICD registers/un-registers a function with a WSI implementation.

@charles-lunarg are you familiar with these callbacks at

[2021-09-08 00:12] ncesario-lunarg commented on #3262
After a discussion with Charles (who maintains the Vulkan-Loader code), I'm fairly confident there is no way for us to detect this scenario in VVL. We can (and I believe we do with the `ObjectLifetimes` code) detect if all vulkan objects are destroyed at `vkDestroyInstance` time. Detecting whether or not a driver implementation has unregistered a callback with a WSI implementation (which happens o

[2021-09-08 00:12] #3262 closed

[2021-09-08 09:19] ichlubna commented on #2950
Is this already fixed? Not sure if I am experiencing the same problem or not but getting:
[code]

[2021-09-08 13:29] kvark commented on #3262
@ncesario-lunarg your examples demonstrate the use of Vulkan. By making this change, the workaround, you are giving a signal to other users that this is how they should be doing this. But I'm not seeing the actual process of determining that this is the right usage of Vulkan. Are you sure this isn't a driver bug? Did you try to report it upstream, or talk to Vulkan WG about this? I.e. if there are

[2021-09-08 13:29] ncesario-lunarg commented on #2950
@ichlubna just to clarify, you are seeing this in a version of VVL that contains the changes in #2952? Would you be able to post the entire shader (or SPIR-V assembly) here?

[2021-09-08 13:59] ichlubna commented on #2950
I am sorry, works well in 1.2.190.

[2021-09-08 15:05] ncesario-lunarg commented on #2950
Great! Glad it's fixed :)

[2021-09-08 15:55] ncesario-lunarg commented on #3262
Sorry, I'm not sure what you are referring to. What change did I make?

I agree! That's why I mentioned this might be better suited for Vulkan-Docs or perhaps the khronos gitlab repo :) This is not something the VVL can validate. Moreover, we don't know _what_ the correct thing to validate would be, as the spec seems to be lacking in this area.

I'm not. In fact, based on the information in the pr

[2021-09-08 17:55] kvark commented on #3262
Thank you for filing this! It's a great way to proceed.

Sorry, I was referring to https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/commit/0017308648b6bf8eef10ef0ffb9470576c0c2e9e, which is done by @karl-lunarg

[2021-09-08 18:05] ncesario-lunarg commented on #3262
You're welcome :)

[2021-09-08 22:10] Tony-LunarG commented on #2962
Closing.  Please re-open or open a new issue if this is still an issue and you can provide a way for me to reproduce.

[2021-09-08 22:10] #2962 closed

[2021-09-09 00:48] IvaKom opened #3266 "VUID-vkCmdBlitImage-filter-00237 (VK_FILTER_CUBIC_EXT)"
**Describe the Issue**
[VUID-vkCmdBlitImage-filter-00237](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/vkCmdBlitImage.html#VUID-vkCmdBlitImage-filter-00237) and [VUID-VkBlitImageInfo2KHR-filter-00237](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/VkBlitImageInfo2KHR.html#VUID-VkBlitImageInfo2KHR-filter-00237) specify:
`If filter is VK_FILTER_CUBIC_E

[2021-09-09 15:13] #3266 closed

[2021-09-09 15:20] lexaknyazev opened #3270 "Confirm attachment indexing in vkCmdDraw-blendEnable-04727"
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/452a5f93b99f628da7eec950a451a203990cc844/layers/core_validation.cpp#L853-L871

In this code, `i` is the index of the _subpass attachment_, while `attachment` is the index of the corresponding _render pass attachment_.

On the line 862, `attachment` is used to index into `pColorBlendState->pAttachments`. The spec defines `pAttachments` as

[2021-09-10 10:35] rg3igalia commented on #1606
Sorry for the delay replying. I've been on holidays the last few weeks. I can confirm the current layers from master no longer report the validation error in that test. Thanks!

[2021-09-10 10:37] #1606 closed

[2021-09-10 12:09] ziga-lunarg commented on #3270
I think you are correct, subpass attachment index makes more sense with:

than attachment does.

[2021-09-10 12:14] lexaknyazev commented on #3270
I asked for the spec clarification in https://gitlab.khronos.org/vulkan/vulkan/-/issues/2814.

FWIW, the older `VkGraphicsPipelineCreateInfo-blendEnable-04717` validation seems to use subpass-aligned index here:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/81a0c6b6d2e7cf21e1024c16e56e226939f5968a/layers/core_validation.cpp#L1226

[2021-09-10 12:18] ziga-lunarg commented on #3270
Thanks! I'll wait for the answer.

[2021-09-10 20:46] #3122 closed

[2021-09-12 01:25] AaronHaganAMD commented on #2767
What implementation did you try this on? This currently doesn't work on AMD's implementation as this violates the spec by reading pipeline values before the deferred operation is complete.

[2021-09-12 14:06] martty opened #3278 "Validation for undereferenceable pointers"
Currently, there is no validation for undereferenceable pointers - if the validation layer does dereference them, there is a crash inside the validation layer. This is often unhelpful (example found in the Vulkan discord):

![image](https://user-images.githubusercontent.com/395730/132990204-f4d2db8c-0748-4c64-aa64-f79ab4f901f4.png)
Although there are debug symbols (on Windows), there is no source

[2021-09-12 14:13] ziga-lunarg commented on #1556
The only way I have been able to reproduce this issue is if vkCmdWaitEvents() is called before vkCmdSetEvent(). Can you verify if this is happening in your case?

[2021-09-13 04:50] cnorthrop opened #3279 "CoreValidation-Shader-InterfaceTypeMismatch failures with structs"
We're rolling in the latest validation layers for the ANGLE project.  A number of tests are triggering validation errors like the following:

From the output, it looks like the types match.

You can see the list of tests failing over here:
https://bugs.chromium.org/p/angleproject/issues/detail?id=6382

They are all struct related.  It might be that https://github.com/KhronosGroup/Vulkan-Validation

[2021-09-13 07:24] ziga-lunarg commented on #3279
I already have a PR for this here #3264

Can you verify if it fixes all your false errors?

[2021-09-13 15:39] cnorthrop commented on #3279
Yeah, those tests are cleared up with your fixes.

[2021-09-13 15:46] ziga-lunarg commented on #3279
Thanks for confirming @cnorthrop !

[2021-09-13 16:22] #3279 closed

[2021-09-13 16:38] ncesario-lunarg commented on #2319
This is now tracked under https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/4#card-68681483.

[2021-09-13 16:38] #2319 closed

[2021-09-13 16:44] ncesario-lunarg commented on #3278
Thank you for the issue @martty. This is now tracked under https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/4#card-68681483.

While this sort of thing would be great to have, it will take a significant amount of time to investigate and then implement a solution, which unfortunately will likely not get finished in the short term.

[2021-09-13 16:44] #3278 closed

[2021-09-13 18:32] #2518 closed

[2021-09-13 21:39] Tony-LunarG commented on #3164
I'm still having trouble getting a repro.  I'm trying to take a trace of the game to make debugging easier, but I get no frames in the trace.  I'm setting MESA_LOADER_DRIVER_OVERRIDE=zink ZINK_DESCRIPTORS=lazy ZINK_DEBUG=validation in my launch options and using vkconfig to enable tracing and launch steam, then running game and then the benchmark.  All I see in the trace is CreateInstance, Enumera

[2021-09-13 21:40] zmike commented on #3164
I uploaded a trace to the lunarg share which exhibits the behavior, though it was tagged as being for another ticket. I'm not sure how to link that to you, but I think you should just be able to search by my login there?

[2021-09-13 21:49] ncesario-lunarg commented on #3164
@Tony-LunarG I can point you to the share. It's an apitrace rather than gfxreconstruct, so I'm assuming the way to do this is do a GL playback on top of zink?

[2021-09-13 21:51] zmike commented on #3164
Yep, glretrace should work fine.

[2021-09-14 08:08] Vild opened #3282 "MaxComputeSharedMemorySize validation is missing support for OpSpecConstant*"
**Describe the Issue**
#3141 throws a validation error for the shader below, as it expect to only process OpConstant, not OpSpecConstant*.

It throws:

The problem seems to happen because `SHADER_MODULE_STATE::GetTypeBitsSize` calls `GetConstantValue` with a spv::OpSpecConstantOp, causing it to return bad data.

**Environment:**
 - OS: Windows 10 (21H1)
 - GPU: NVIDIA GeForce RTX 2080 Ti
 - SDK or

[2021-09-15 20:20] sfricke-samsung opened #3288 "Lable runtime SPIR-V validation"
**Describe the situation in which you encountered the missing validation**
Issue description:

Tracking issue to label first, then add any Runtime SPIR-V validation VUIDs that were added in the 1.2.192 headers

I plan to do the initial pass of labeling and will list all the missing VUIDs here after

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

[2021-09-15 20:30] ncesario-lunarg commented on #3288
@sfricke-samsung I'll go ahead and assign this to you for now if you're doing the initial work. If that changes, just let me know and we'll re-shuffle.

[2021-09-15 23:55] sfricke-samsung opened #3289 "Runtime SPIR-V - Ray Tracing"
**Describe the situation in which you encountered the missing validation**
Issue description:

Yet to be implemented

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

- VK_KHR_ray_query
  - [ ] VUID-RuntimeSpirv-OpRayQueryInitializeKHR-06348
  - [ ] VUID-RuntimeSpirv-OpRayQueryInitializeKHR-06349
  - [ ] VUID-RuntimeSpirv-OpRayQueryInitializeKHR-

[2021-09-15 23:57] sfricke-samsung opened #3290 "Runtime SPIR-V - texel gather offset limit"
**Describe the situation in which you encountered the missing validation**
Issue description:

`minTexelGatherOffset`/`maxTexelGatherOffset`

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

- [ ] VUID-RuntimeSpirv-OpImage-06376
- [ ] VUID-RuntimeSpirv-OpImage-06377

[2021-09-15 23:58] sfricke-samsung opened #3291 "Runtime SPIR-V - Cooperative Matrix"
**Describe the situation in which you encountered the missing validation**
Issue description:

`VK_NV_cooperative_matrix`

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

- [ ] VUID-RuntimeSpirv-OpCooperativeMatrixLoadNV-06324
- [ ] VUID-RuntimeSpirv-OpCooperativeMatrixMulAddNV-06321
- [ ] VUID-RuntimeSpirv-OpTypeCooperativeMatrixNV-06316
- [ ]

[2021-09-15 23:59] sfricke-samsung opened #3292 "Runtime SPIR-V - Transform Feedback"
**Describe the situation in which you encountered the missing validation**
Issue description:

`VK_EXT_transform_feedback`

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

- [x] VUID-RuntimeSpirv-Offset-06308
- [x] VUID-RuntimeSpirv-XfbBuffer-06309
- [x] VUID-RuntimeSpirv-OpEmitStreamVertex-06310
- [x] VUID-RuntimeSpirv-transformFeedbackStreamsL

[2021-09-16 01:01] sfricke-samsung opened #3293 "Runtime SPIR-V - PhysicalStorageBuffer64"
**Describe the situation in which you encountered the missing validation**
Issue description:

`VK_KHR_buffer_device_address`

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

- [ ] VUID-RuntimeSpirv-PhysicalStorageBuffer64-06314
- [ ] VUID-RuntimeSpirv-PhysicalStorageBuffer64-06315

[2021-09-16 01:03] sfricke-samsung opened #3294 "Runtime SPIR-V - shaderZeroInitializeWorkgroupMemory"
**Describe the situation in which you encountered the missing validation**
Issue description:

`VK_KHR_zero_initialize_workgroup_memory`

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

- [ ] VUID-RuntimeSpirv-shaderZeroInitializeWorkgroupMemory-06372
- [ ] VUID-RuntimeSpirv-OpVariable-06373

[2021-09-16 01:04] sfricke-samsung opened #3295 "Runtime SPIR-V - InterpolateAtOffset"
**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

- [ ] VUID-RuntimeSpirv-Offset-06344
- [ ] VUID-RuntimeSpirv-Offset-06345
- [ ] VUID-RuntimeSpirv-Offset-06346
- [ ] VUID-RuntimeSpirv-Offset-06347

[2021-09-16 01:05] sfricke-samsung opened #3296 "Runtime SPIR-V - SubgroupUniformControlFlowKHR"
**Describe the situation in which you encountered the missing validation**
Issue description:

`VK_KHR_shader_subgroup_uniform_control_flow`

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

VUID-RuntimeSpirv-SubgroupUniformControlFlowKHR-06379

[2021-09-16 16:35] sfricke-samsung opened #3299 "Runtime SPIR-V - Vulkan Memory Model"
**Describe the situation in which you encountered the missing validation**
Issue description:

`VK_KHR_vulkan_memory_model`

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

- [ ] VUID-RuntimeSpirv-vulkanMemoryModel-06265
- [ ] VUID-RuntimeSpirv-vulkanMemoryModel-06266

**Additional Context**
Any additional information:

Similar validation is alr

[2021-09-16 17:37] Cvostr opened #3302 "Weird VUID vkCmdBindDescriptorSets-pDescriptorSets-01979"
**Describe the Issue**
Issue description.
Hello everyone, after upgrading SDK to 1.2.182 i noticed new validation errors in my project, that i handn't seen before.
this VUID (01979) explains me, that buffer size must be greater than buffer's range, bound to VkDescriptorSet plus my dynamic offset. So if I bound the whole uniform buffer (65535 bytes, typically), I can't use dynamic offsets with this

[2021-09-16 18:33] ncesario-lunarg commented on #3302
If understand correctly, you want to use a dynamic offset while using VK_WHOLE_SIZE for the bound range of the buffer?

From my understanding (which could very well be incorrect), the portion of a buffer that gets bound with dynamic offsets is:
[code]
and this implies
[code]
If you're using `VK_WHOLE_SIZE` as the range, then the bound portion would be:
[code]
which boils down to `(buffer_size + dy

[2021-09-16 18:42] sfricke-samsung commented on #3302
This issue seems a duplication of https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2846

Yes, I explain in [the issue](https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2846#issuecomment-851744837) how `VK_WHOLE_SIZE` is not a dynamic size that gets adjusted with the `pDynamicOffsets`

[2021-09-16 18:46] Cvostr commented on #3302
So, is there any issue, or that VUID working good and devs have no plans to make changes?

[2021-09-16 18:47] Cvostr commented on #3302
So, is there any issue, or that VUID working good and devs have no plans to make changes?

[2021-09-16 18:51] sfricke-samsung commented on #3302
There seems to be no issue, again it might be working on most implementations, but it is still undefined behavior and can blow up in an expected situation.

To get the spec changed it would require a change in https://github.com/KhronosGroup/Vulkan-Docs as the Validation Layers are just following the wording of `VUID-vkCmdBindDescriptorSets-pDescriptorSets-01979`

[2021-09-16 19:00] Cvostr commented on #3302
Oh. But what i have to do now? to stop using dynamic offsets on whole bound buffers.
In https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2846#issuecomment-852176902 i read that now good way to index data in buffers is push constants usage.

[2021-09-16 19:32] ncesario-lunarg commented on #3302
Thanks for the clarification @sfricke-samsung!

I'm going to close this as the VVL are operating correctly from what I can tell.

@Cvostr as for "what next," the comments in #2846 probably contain the relevant information for getting things working "within the spec" right now. And if you feel there should be a spec change, the Vulkan-Docs repo would be the place to raise an issue as @sfricke-samsu

[2021-09-16 19:32] #3302 closed

[2021-09-16 20:36] Tony-LunarG commented on #3164
Thank you for the trace - it was immensely helpful in figuring out what is going on.

The call sequence that I'm seeing to bind descriptor sets is as follows:

Bind Pipeline A with Pipeline Layout A
Update and bind DS-0 with Pipeline Layout A
Update and bind DS-1 with Pipeline Layout A
Update and bind DS-2 with Pipeline Layout A
Update and bind DS-3 with Pipeline Layout A
Draw (no errors)
Bind Pip

[2021-09-16 21:09] zmike commented on #3164
Huh. I'll have to triple check that then. Thanks for looking into it!

[2021-09-17 06:23] sfricke-samsung opened #3305 "Runtime SPIR-V - subgroupBroadcastDynamicId"
**Describe the situation in which you encountered the missing validation**
Issue description:

From `VK_EXT_shader_subgroup_ballot` / Vulkan 1.2

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

- [ ] VUID-RuntimeSpirv-subgroupBroadcastDynamicId-06276
- [ ] VUID-RuntimeSpirv-subgroupBroadcastDynamicId-06277

**Additional Context**
Any additional

[2021-09-17 07:05] sfricke-samsung commented on #3288
After going through the following VUIDs are still not labeled

----

Redundant and getting removed from spec:

- VK_KHR_16bit_storage
  - VUID-RuntimeSpirv-uniformAndStorageBuffer16BitAccess-06332
  - VUID-RuntimeSpirv-storageBuffer16BitAccess-06331
  - VUID-RuntimeSpirv-storageInputOutput16-06334
  - VUID-RuntimeSpirv-storagePushConstant16-06333
- VK_KHR_8bit_storage
  - VUID-RuntimeSpirv-uniform

[2021-09-17 18:52] zmike commented on #3164
Yup, confirmed. Sorry for the mixup!

[2021-09-17 18:52] #3164 closed

[2021-09-17 22:24] xtremeqg opened #3310 "Segfault when calling vkCreateGraphicsPipelines"
**Describe the Issue**
Crash in validation layers when calling vkCreateGraphicsPipelines. Application works fine with validation disabled.

**Environment:**
 - OS: Mint 20
 - GPU: GTX 770
 - SDK version: 1.2.189

**Stack Trace**
[code]

**Other Info**
Browsing through source, it appears that ValidateShaderCapabilitiesAndExtensions is trying to parse shader source as SPIR-V, despite feeding GLSL to

[2021-09-18 03:24] ncesario-lunarg commented on #3310
Thanks for the issue @xtremeqg! Passing GLSL source to vkCreateShaderModule has been [deprecated](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/chap50.html#VK_NV_glsl_shader) for a while. Also, it is nvidia-specific; the VVL tends to only officially support non-vendor-specific extensions, and this is not one that we currently support.

My suggestion would be to use https://gith

[2021-09-18 03:24] #3310 closed

[2021-09-18 16:34] xtremeqg commented on #3310
Thanks for the feedback. I did end up pre-compiling shaders to SPIR-V prior to your comment as I didn't see any other way to continue using validators while continuing to use GLSL. I was not aware of any deprecation, perhaps the documentation of vkCreateShaderModule could be updated to indicate this fact?

I do feel that attempting to parse the input as SPIR-V after already presenting errors befor

[2021-09-19 12:06] ziga-lunarg commented on #2927
@ncesario-lunarg Does your commit already close this issue?

[2021-09-19 12:35] ziga-lunarg commented on #2909
@quehuo01 This has been closed by #3267, correct?

[2021-09-20 05:59] quehuo01 commented on #2909
Yes it is closed by #3267

[2021-09-20 05:59] #2909 closed

[2021-09-20 16:48] ncesario-lunarg commented on #2927
I think so @ziga-lunarg; not sure why this issue didn't close when that change merged.

@nym9 is this issue resolved with the latest VVL?

[2021-09-20 22:18] #3290 closed

[2021-09-20 22:34] ziga-lunarg commented on #2102
@pixeljetstream Can you provide the shaders you get this error with? I am unable to reproduce it.

[2021-09-21 18:48] null77 opened #3323 "Vulkan-ValidationLayers uses shared_mutex when compiled as C++14"
**Describe the Issue**
Same as #1921 reported by @randomascii

The condition now is

[code]

Defined in `vk_layer_utils.h`. Right now in Chromium / Clang / Windows / C++14 this condition is true, and `std::shared_mutex` is enabled even though it's not available.

[2021-09-21 18:54] null77 commented on #3323
@jeremy-lunarg can you help fix?

[2021-09-21 18:54] null77 commented on #3323
@jonahryandavis fyi

[2021-09-21 19:06] null77 commented on #3323
A fix would be better I think, as long as it's in the next couple days. When you authored that CL above, what were you fixing? I don't see from the commit message what the problem was with the previous check.

[2021-09-21 19:08] jeremyg-lunarg commented on #3323
At least for me it wasn't actually enabling shared_mutex on linux with -std=c++17

[2021-09-21 19:09] null77 commented on #3323
Note: this is with Clang for Windows, which probably emulates the `_MSC_FULL_VER` variable, and is why you might not see this issue in your local Windows build. Presumably you'd be using the MSVC compiler.

Probably needs to be amended for that.

[2021-09-21 19:12] jeremyg-lunarg commented on #3323
Yes we're still supporting MSVC 2015 on windows and [prior to 2017 it doesn't do __cplusplus correctly](https://devblogs.microsoft.com/cppblog/msvc-now-correctly-reports-__cplusplus/). I should be able to fix the check in the next few hours.

[2021-09-21 19:15] null77 commented on #3323
Sounds great! I'll test it out when you have a patch.

[2021-09-22 15:30] #3323 closed

[2021-09-22 23:37] ncesario-lunarg commented on #3310
I agree, and @mikes-lunarg and I tried to reproduce this locally, but could not. Neither of our drivers supported this extension. I attempted to ignore the errors in hopes of reproducing the crash, but I only received "invalid SPIR-V" messages, no crashes (and technically the "invalid SPIR-V" messages were correct since the extension was not supported by the driver).

Mike took this further using

[2021-09-23 11:53] Goshido opened #3327 "Incorrect deinitialization and VK_EXT_debug_report"
**Describe the Issue**
The validation layers produces memory leak report on `vkDestroyInstance` call. Problem is that the report message says:

[code]

So I believe that _Validation layers_ consider that `VkDebugReportCallbackEXT` handle was not properly destroyed before final `VkInstance` destruction. But in fact if you look at the code there was a proper `vkDestroyDebugReportCallbackEXT` invocat

[2021-09-23 15:40] #3327 closed

[2021-09-23 15:45] #2541 closed

[2021-09-24 13:26] pc-john opened #3332 "vkDestroyQueryPool false positive"
I am getting validation error that I believe is false positive in certain conditions:

VUID-vkDestroyQueryPool-queryPool-00793(ERROR / SPEC): msgNum: 1593032491 - Validation Error: [ VUID-vkDestroyQueryPool-queryPool-00793 ] Object 0: handle = 0x2aa01fbed28, type = VK_OBJECT_TYPE_DEVICE; | MessageID = 0x5ef3bf2b | Cannot call vkDestroyQueryPool on VkQueryPool 0xfab64d0000000002[] that is currently

[2021-09-24 13:54] ziga-lunarg commented on #3332
vkGetQueryPoolResults() does not wait, it can return VK_NOT_READY. I don't think this is a false positive.

[2021-09-24 14:11] pc-john commented on #3332
Yes. But I am waiting until it returns VK_SUCCESS. And VK_SUCCESS means that all the execution related to the command pool completed. So, destroying it should not be a problem and no validation error shall be printed, in my opinion.

[2021-09-25 06:39] ncesario-lunarg commented on #2548
I believe this should be resolved with #3076 and  #3120.

[2021-09-25 06:39] #2548 closed

[2021-09-25 11:08] SpaceIm commented on #2548
I think also.

There is still a reference to glslang include dir in VkLayer_khronos_validation: https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/52dbd08362270a1f7819a981995916248734df33/layers/CMakeLists.txt#L294

But at least it doesn't hurt (it's just misleading).

[2021-09-26 12:48] ziga-lunarg commented on #2915
@fctorial The only way I am able to reproduce this if I use the same command buffer in multiple frames. In that case I believe the VUID message you get is correct, because your synchronization is not enough. You need another fence that you signal when you submit the command buffer. and wait for before your reset it. A better approach would be to use a command buffer per swapchain image.

[2021-09-27 11:55] Desperado17 opened #3341 "Question regarding VUID-vkCmdPipelineBarrier-pDependencies-02285 (pipeline barriers during render call)"
I have a question regarding  VUID-vkCmdPipelineBarrier-pDependencies-02285 aka "Barriers cannot be set during subpass 0 of VkRenderPass 0x61bb1e000000007b[] with no self-dependency specified."

Do I understand right that _any_ call to a vkCmdPipelineBarrier between vkCmdBeginRenderPass and vkCmdEndRenderPass will trigger this error? Or only those that affect resources already bound as attachments

[2021-09-27 12:03] ziga-lunarg commented on #3341
The VUID 02285 says:

It's pretty clear that any `vkCmdPipelineBarrier` call will trigger the VUID.

[2021-09-27 12:19] Desperado17 commented on #3341
So...can you imagine an elegant solution to solve this probiem? Currently, only the following solution comes to my mind:

Previously, I'd create a separate command buffer during image creation and submit this to the queue on its own but I assumed this would mean that I'd have to wait for the queue to finish all previous commands every time I transition an image which would cause lags, right?
My GP

[2021-09-27 12:28] ziga-lunarg commented on #3341
Why do you not create a VkSubpassDependency from the subpass to itself?

[2021-09-27 12:34] Desperado17 commented on #3341
Is there any disadvantage in that, say, performance wise? Or for render passes / subpasses that have existing dependencies?
Do you know a link to an example?

[2021-09-27 13:08] Desperado17 commented on #3341
Also, do I see right that oldLayout has to be newLayout according to 01181? Then I cannot transition at all!

[2021-09-27 15:50] ncesario-lunarg commented on #2548
Yep, that is incorrect; nice catch! For the short term, that shouldn't affect builds with `-DBUILD_TESTS=OFF`, but let me know if you're seeing different results. I will remove that in an upcoming change.

[2021-09-27 16:19] ncesario-lunarg commented on #3194
:open_mouth: wow @NeilBickford-NV, thank you for all the details! That makes our lives much easier and a fix much quicker to implement. And thank you @ziga-lunarg for the quick fix!

[2021-09-28 21:34] kloczek commented on #3253
Another three weeks and still no new SPIRV-Headers release :/

[2021-09-29 00:30] nym9 commented on #2927
This message is still there with vulkan sdk 1.2.189.2

[2021-09-29 12:33] Tobski opened #3350 "VUID-vkMapMemory-memory-00683 being incorrectly reported for multiple apps"
**Describe the Issue**
Support for VUID-vkMapMemory-memory-00683 was added in https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2084, but the conditions for the error are incorrect.

The error check in code only tests if the VK_MEMORY_HEAP_MULTI_INSTANCE_BIT flag was present on the memory type of the memory being allocated; this is allowed to be true for any memory types, even when a de

[2021-09-29 12:34] Tobski commented on #3350
One of the original reports is from here: https://github.com/Traverse-Research/gpu-allocator/issues/71

[2021-09-29 12:41] pmathia0 commented on #3350
I'm experiencing the same issue
**Environment:**

- OS: Windows 10 Home 21H1 19043.1237
- GPU: AMD Radeon RX5600XT, AMD Radeon SW 21.9.2
- Latest Vulkan SDK (1.2.189.2) downloaded from website
- Core Validation enabled

[2021-09-29 13:39] DominikWitczakAMD commented on #3207
Looks like we have a driver bug that caused our internal test framework to do "stuff" it technically shouldn't be doing as per spec language, which led to VL error reports. No need for the VL change. @ncesario-lunarg : thanks for your hard work on this!

[2021-09-29 13:39] #3207 closed

[2021-09-29 15:48] ncesario-lunarg commented on #3207
👍 @DominikWitczakAMD

To be clear, #3321 should be closed, and the existing behavior is correct?

[2021-09-29 16:26] #3350 closed

[2021-09-29 16:40] ziga-lunarg commented on #3341
Looks like it. You would have to change the layout before or after render pass is active.

I do not have a link to an example, but a self-dependency just means srcSubpass is equal to dstSubpass, and the index is the subpass you will call `vkCmdPipelineBarrier()` in.

You can read more about it here: https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/vkspec.html#synchronization-pipel

[2021-09-29 17:12] spnda opened #3354 "No dstAccelerationStructure nullptr checks"
**Describe the situation in which you encountered the missing validation**
Issue description:

The layers never check if `dstAccelerationStructure` is `VK_NULL_HANDLE` or an invalid handle (not sure if the validity is checkable though) when calling `vkCmdBuildAccelerationStructuresKHR`. From `VK_KHR_acceleration_structure`.

**Valid Usage IDs requested**
Please include the valid usage IDs for the

[2021-09-29 17:23] mark-lunarg commented on #3354
Thanks for the report! This should've been picked up in object tracker, maybe there's a hole in the codegen because it's optional or something.

[2021-09-29 18:31] ianelliottus opened #3360 "Cannot roll vulkan loader into ANGLE because of VVL crash"
The ANGLE team has an "autoroller" that incrementally gets ANGLE to use newer versions of the vulkan repositories.  It broke recently in multiple ways.  This bug is for one of the breaks.

The autoroller change cannot pass our presubmit testing because a number of tests suddenly crash in the validation layers. For example, for [this change](https://chromium-review.googlesource.com/c/angle/angle/+/

[2021-09-30 07:05] DominikWitczakAMD commented on #3207
Apologies if I had been unclear. We can safely close #3321.

[2021-09-30 13:08] rg3igalia opened #3363 "Unexpected UNASSIGNED-CoreValidation-Shader-PointSizeMissing when emitting no points"
**Describe the Issue**
In mesh shaders with the NVIDIA extension, the number of primitives that a given work group emits is controlled by the gl_PrimitiveCountNV variable. It's legal to emit no primitives at all by assigning 0 to it. When assigning 0, the shader should be allowed to not write anything to any output array, but doing so triggers UNASSIGNED-CoreValidation-Shader-PointSizeMissing if

[2021-09-30 15:04] sfricke-samsung commented on #3354
The issue is the VU is explicit (not sure 100% why here) but I think this just needs a manual `ValidateObject` check in `object_tracker_utils.cpp`

[2021-09-30 15:23] #3360 closed

[2021-09-30 17:03] zmike opened #3367 "build failure"
When trying to use `update_deps.py` in a release build, I get the following error from trying to build spirv-tools:

[code]

I guess this means either not using -Werror for this subproject or resolving the warnings?

[2021-09-30 20:00] ncesario-lunarg commented on #3367
@zmike I'm not seeing this with the following:
[code]
cmake version: 3.21.2
gcc/g++ version: 11.1.0.

Can you provide the build invocation you used?

[2021-09-30 20:02] ncesario-lunarg commented on #3367
NOTE: you will probably want to remove/clean your `external` directory when switching between debug and release builds.

[2021-09-30 20:19] zmike commented on #3367
cmake 3.20.5
gcc 11.2.1

I tested your cmake command with a completely clean checkout and got this:

[code]

If I try to run `../scripts/update_deps.py --config release` from my build directory, I get the errors from the original post.

[2021-09-30 20:21] zmike commented on #3367
Argh, okay, `git clean` ignored `external/`, which explains that, at least...

[2021-09-30 20:22] ncesario-lunarg commented on #3367
Looks like `external` is not getting cleaned. I think you can safely delete the `external` directory before re-generating (and Ninja is not necessary, just copy/pasted).

[2021-09-30 20:22] zmike commented on #3367
I use ninja as well, I guess this is just different because update_deps uses make?

Anyway, with `cmake -Bbuild -GNinja -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=ON -DUPDATE_DEPS=ON ` I now get the same exact error as in the OP:

[code]

[2021-09-30 21:59] dneto0 commented on #3367
There's already a comment there saying the fallthrough is intentional.  See https://github.com/KhronosGroup/SPIRV-Tools/blob/ba4b390c367e09edaad36f0376a87aa03620fd4b/source/text_handler.cpp#L123

[code]

But it doesn't match the patterns GCC is looking for: https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wimplicit-fallthrough

I can fix this upstream in SPIRV-Tools.
In the meantime,

[2021-09-30 22:04] ncesario-lunarg commented on #3367
I'm still confused as to why I can't reproduce 11.2.1 in the same environment as @zmike.

[2021-09-30 22:10] dneto0 commented on #3367
Indeed.  I'm trying to reproduce, and haven't yet.

I have GCC 11.2.0 (and cmake 3.18.4, but I hope that doesn't matter).

[2021-09-30 22:13] dneto0 commented on #3367
I've tried:

cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER=gcc-11 -DCMAKE_CXX_COMPILER=g++-11 ../shaderc -DCMAKE_CXX_FLAGS=-Wimplicit-fallthrough=3

-- The C compiler identification is GNU 11.2.0
-- The CXX compiler identification is GNU 11.2.0
-- Detecting C compiler ABI info
...

and I confirmed in the build.ninja file that the flags setting took effect:

build third_party/spirv-to

[2021-09-30 22:30] ncesario-lunarg commented on #3367
I get similar results with (gcc 11.1.0, cmake 3.21.2) and (gcc 11.2.1, cmake 3.20.5).

In any case, thanks for the quick upstream fix @dneto0!

[2021-10-01 13:19] zmike commented on #3367
Sometimes compilers be like that. Seems like it's fixed upstream, so probably this can be closed once the VVL dependency version is bumped?

[2021-10-02 15:06] ziga-lunarg commented on #2915
I am closing this as I believe the error message you are getting is correct, but if you feel there is still a problem you can reopen the issue.

[2021-10-02 15:06] #2915 closed

[2021-10-03 11:01] filnet opened #3383 "SIGSEGV when using push constant with mesh shader"
**Describe the Issue**
Using push constant with mesh shader and validation enabled leads to a SIGSEGV.
This happens when rendering a second frame. First frame is rendered fine.
Application works fine when validation is not enabled.

**Environment:**
 - OS: Windows 10
 - GPU: NVIDIA GeForce RTX 2060
 - SDK or header version if building from repo: 1.2.189.2
 - Options enabled (synchronization, best

[2021-10-03 11:14] filnet commented on #3383
The crash goes away if I disable debug_printf.

[2021-10-03 12:51] Eichenherz opened #3389 "Sync2 Timestamp inconsitencies"
Sync2 Timestamp inconsitencies

Sync2 deprecated the TOP and BOTTOM parts of the pipeline in favor of NONE and ALL COMMANDS. ( Vulkan Guide link below ).
When using vkCmdWriteTimestamp2KHR with the above considered the validation layers complain about to NONE usage. ( Works fine with TOP ). ( Vulkan Spec link below )

 - Vulkan Specification:  https://vulkan.lunarg.com/doc/view/1.2.189.2/windows/1

[2021-10-03 13:52] ziga-lunarg commented on #3383
@filnet Can you share your shader code, I am unable to reproduce this.

[2021-10-03 14:53] BingoBongoVrn opened #3385 "Using textureGatherOffsets() in glsl causes wrong validation error"
It says
` Vulkan: Validation Error: [ VUID-VkShaderModuleCreateInfo-pCode-01091 ] Object 0: handle = 0x18a78b6d810, type = VK_OBJECT_TYPE_DEVICE; | MessageID = 0xa7bb8db6 | vkCreateShaderModule(): The SPIR-V Capability (ImageGatherExtended) was declared, but none of the requirements were met to use it. The Vulkan spec states: If pCode declares any of the capabilities listed in the SPIR-V Environme

[2021-10-03 15:02] ziga-lunarg commented on #3385
Can you give a little more information about your code, how you get this error why do you believe it's false?

[2021-10-03 15:20] BingoBongoVrn commented on #3385
I converted glsl code to spir-v then by Render Doc I checked that shader actually has spir-v line
ImageGather(_51, _52, 0, ConstOffsets(_61));  If I replace textureGatherOffsets() by textureGatherOffset() or by textureGather() or remove gather function totally all work fine. Pay attention that I'm talking about textureGatherOffsets() not about textureGatherOffset(). It feels like textureGatherOffs

[2021-10-03 16:04] ziga-lunarg commented on #3385
Can you share your glsl code?

[2021-10-03 16:24] ziga-lunarg commented on #3385
With the following shader I do not receive that error:
[code]

[2021-10-03 16:59] ziga-lunarg commented on #3385
@BingoBongoVrn I believe you are forgetting to enable the VkPhysicalDeviceFeatures::shaderImageGatherExtended feature. Can you verify?

[2021-10-03 17:18] BingoBongoVrn commented on #3385
@ziga-lunarg yeah, that is correct, thanks!

[2021-10-03 17:26] #3385 closed

[2021-10-04 07:19] filnet commented on #3383
@ziga-lunarg I could share the whole app if that helps.

[2021-10-04 08:39] filnet commented on #3383
I can't reproduce anymore.

[2021-10-04 08:39] #3383 closed

[2021-10-04 15:49] ncesario-lunarg commented on #3332
This might be a question for Vulkan-Docs. The VUID states:

The keyword (for me) is _commands_. While a return value from `vkGetQueryPoolResults` of `VK_SUCCESS` may guarantee the query is available, I'm not seeing in the spec (it's quite possible I'm just missing it) where it states that this also guarantees that the _command_ has finished. That seems like a perfectly good assumption, but an assu

[2021-10-04 16:09] ziga-lunarg commented on #3332
It was asked here: https://github.com/KhronosGroup/Vulkan-Docs/issues/1647

[2021-10-05 04:10] ncesario-lunarg opened #3391 "VUID-vkCmdBuildAccelerationStructuresKHR-dstAccelerationStructure-03800"

[2021-10-05 04:10] #3391 closed

[2021-10-05 17:02] #3367 closed

[2021-10-05 17:04] ncesario-lunarg commented on #3367
@zmike SPIRV-Tools should be updated with the compiler fix on master now.

[2021-10-06 18:01] alecazam opened #3399 "VK_KHR_shader_float_controls is marked as invalid for Vulkan 1.1"
**Describe the situation in which you encountered the missing validation**
Issue description:

VK_STRUCTURE_TYPE_PHYSICAL_DEVICE_FLOAT_CONTROLS_PROPERTIES_KHR doesn't appear to be listed as a 1.1-hkr-extension.  So this gets flagged by the validation layer as an unsupported type.  I only see the 1.2 extension VK_STRUCTURE_TYPE_PHYSICAL_DEVICE_FLOAT_CONTROLS_PROPERTIES in the list, but we can't mov

[2021-10-06 18:55] llandwerlin-intel opened #3400 "Validation for VK_KHR_format_features2"
**Describe the situation in which you encountered the missing validation**
Issue description:

We need validation for the new bits of format features added in VK_KHR_format_features2

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

There are the following new VUs that need validation :
  * [ ] `VUID-*-OpTypeImage-06423`
  * [ ] `VUID-*-OpTypeIma

[2021-10-06 19:11] ShabbyX opened #3401 "Image gather validation has OOB access for dynamic offsets"
When validating image gather's offset against the min and max Vulkan limits, the code does this check:

[code]

However, that `constant_id` is not necessarily a constant id. That's the case for image gather with dynamic offsets. The `constant` iterator in the above is `src->end()` and shouldn't be accessed.

[2021-10-06 19:39] alecazam commented on #3399
This could also only be a 1.2 extension, and not valid for Vulkan 1.1.  If so, then the validation layer is correct.

[2021-10-06 20:08] alecazam commented on #3399
I'm detecting the extension, and adding it to the chain to get the values back.  But because validation lists only lists it as a 1.2 extension, the validation layer flags it on our Vulkan 1.1 extension request and device creation.

Here's the only float_controls in vk_validation_error_messages.h.  This seems to flag it as a 1.2 extension.  But that properties type is the same as the KHR type.

{"V

[2021-10-06 20:16] alecazam commented on #3399
This is the full error, but I don't see float controls in this list, even though it's supported on the device. Sorry, but Android only supports 1023 character per log, so this is split across multiple logs.

[code]

[2021-10-06 21:06] #3399 closed, assigned to nobody

[2021-10-06 21:58] #3401 closed, assigned to nobody

[2021-10-07 19:02] Rua opened #3406 "Validation for `VK_DYNAMIC_STATE_COLOR_WRITE_ENABLE_EXT` on draw"
**Describe the situation in which you encountered the missing validation**
Issue description: When a draw command is issued, there is no check to ensure that the `COLOR_WRITE_ENABLE_EXT` state has been previously set, if the pipeline requires this state. Presumably, the validity of the state (especially regarding the `attachmentCount`) is also not checked at draw time.

**Valid Usage IDs requested

[2021-10-07 23:13] sfricke-samsung commented on #3400
Agree, so my opinion for this is that we already have

[code]

and I recently (https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3303) made sure everyone is calling `IsExtEnabled` so if we add a

`kEnabledByImplementationSupport` (or something close to that name)

it would be the best way in the long run (in the case this extension would get promoted in a feature Vulkan version)

I **th

[2021-10-08 15:34] Jonathan-Weinstein opened #3410 "Unexpected validation error on VkClearRect layer range when doing vkCmdClearAttachments wtih a 2D_ARRAY view on 3D image."
After building the layers with the current changes in the main branch (1.2.195, I think), the following message may be incorrectly generated: Validation Error: [ VUID-vkCmdClearAttachments-pRects-00017 ] Object 0: handle = 0x555b82cdc238, type = VK_OBJECT_TYPE_COMMAND_BUFFER; | MessageID = 0xcdbae8f3 | vkCmdClearAttachments(): The layers defined in pRects[0] are not contained in the layers of pAtt

[2021-10-08 16:35] ncesario-lunarg commented on #3406
This was one of my questions as well. I was going to ping Piers, but it looked someone else was the champion for that EXT?

[2021-10-08 16:56] pdaniell-nv commented on #3406
I agree it sounds like the spec is missing draw time VU for this.

[2021-10-08 19:54] Desperado17 commented on #3341
Oh no I got everything sorted out. Thank you!

[2021-10-08 19:54] #3341 closed

[2021-10-08 21:32] Tony-LunarG opened #3414 "Fix crashing layer validation tests"
**Describe the Issue**
Recent Nvidia drivers are less tolerant of badly behaved tests, especially those that leak Vulkan objects.  The following tests need to be investigated as filtering them out of test runs allows VLTs to run to completion with newer Nvidia drivers:

VkLayerTest.DestroyInstanceHandleLeak
VkLayerTest.InvalidCmdBufferQueryPoolDestroyed
VkLayerTest.LeakAnObject
VkLayerTest.Duplica

[2021-10-09 13:52] Rua opened #3417 "Validation for `VK_DYNAMIC_STATE_DISCARD_RECTANGLE_EXT` at draw time"
**Describe the situation in which you encountered the missing validation**
Issue description: There is no validation for `VK_DYNAMIC_STATE_DISCARD_RECTANGLE_EXT` when a draw call is made.

**Valid Usage IDs requested**
No VUID exists yet, but I requested one here: https://github.com/KhronosGroup/Vulkan-Docs/issues/1657. Presumably this issue is on hold until that is resolved.

[2021-10-10 15:39] httpdigest opened #3420 "Wrong validation of dstAccessMask = VK_ACCESS_ACCELERATION_STRUCTURE_READ_BIT_KHR with stageMask = VK_PIPELINE_STAGE_COMPUTE_SHADER_BIT"
**Describe the Issue**
Issuing the following pipeline barrier results in the below error message:
[code]

**Valid Usage ID**
[code]

**Environment:**
 - OS: Windows 10 x64 21H1
 - GPU: Nvidia GeForce RTX 2080 Ti
 - SDK or header version if building from repo: 1.2.189.2
 - Options enabled (synchronization, best practices, etc.): none (default after installation)

**Additional context**

According t

[2021-10-10 16:35] ziga-lunarg commented on #3420
Looks like this was already fixed by:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/b4d9045703878d17f0deca6ad42f8588804aa59f#diff-ff6265e16106f281beca571129c8ba7142ddc561e0cc48584caa2e4533cd2ad8R1212

Any chance you could build from master and verify?

[2021-10-10 16:37] #3420 closed

[2021-10-10 17:04] ziga-lunarg commented on #3420
@httpdigest You don't have to build an .msi, you can set the VK_LAYER_PATH environment variable.
But I ran a test with that barrier and it did give an error before that commit, but works after it.

[2021-10-10 22:01] ziga-lunarg commented on #3389
Looks like this needs a spec fix, asked for clarification here:
https://gitlab.khronos.org/vulkan/vulkan/-/issues/2867

[2021-10-12 14:58] sfricke-samsung opened #3423 "Generate SPIR-V helpers from SPIR-V grammar file"
The `shader_validation.cpp` and `shader_module.cpp` code could make use of some generated code from `spirv.core.grammar.json` as it would prevent having to hand edit (which is super error prone) and should be updated automatically when new SPIR-V Headers are pulled in.

This just takes some work (feel free to assign me :smile: ) to hook up the generation code to use the SPIR-V JSON along side the

[2021-10-13 15:22] httpdigest opened #3426 "NonAcquiredSwapchainImageUsed when recording cmdbuffer prior to acquiring image and submitting cmdbuffer"
**Describe the Issue**
With the current tip 4defcad9cd878785d4df4b708194b6a10cb09559 of the Vulkan-ValidationLayers repo built locally I am getting the following error when recording a command buffer that only ever needs to be recorded when swapchain images change (i.e. when creating or resizing the window).

That validation is issued by `CoreChecks::ValidateImageBarrier` -> `ValidateImageAcquired

[2021-10-13 15:24] httpdigest commented on #3420
Hey @ziga-lunarg I've now built the validation layers locally, and can also confirm that this validation is now issued anymore. Thanks!

[2021-10-13 15:34] ziga-lunarg commented on #3420
@httpdigest Thanks for confirming!

[2021-10-14 04:57] FilippoLeon opened #3432 "Spurious validation for missing PointSize?"
**Describe the Issue**
I have a problem where a pipeline with POINT_LIST topology is writing to gl_PointSize, and despite that the validation layers are complaining that it is not written to. This appeared just after I updated the LunarG sdk to 1.2.189.2.

**Valid Usage ID**
UNASSIGNED-CoreValidation-Shader-PointSizeMissing(ERROR / SPEC): msgNum: -211210120 - Validation Error: [ UNASSIGNED-CoreVal

[2021-10-14 19:08] ncesario-lunarg commented on #3432
Yep, as @sfricke-samsung suspected the problem is with that change, specifically with https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/58fc22823a7e82768e9ccf05b8694f959f7b158d#diff-9b243a7433e4e75bae275e5e8e41d9a3c4857911c231b1a63ff42aafcffeb7bdR1159.

I should have a fix up later today.

[2021-10-15 16:55] spnda opened #3438 "Best practices layer is above validation layers."
**Describe the Issue**
The best practices layer trigger above the validation layers. I incorrectly set `VkSubmitInfo::pWaitDstStageMask` to `nullptr`. With only the validation layers enabled, I get the expected message from the expected checks: https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/f25baf33a51323d0c9f0a11dbce7c53b4c51136b/layers/stateless_validation.h#L218-L220

However, if

[2021-10-15 17:14] #3423 closed

[2021-10-15 17:34] spnda commented on #3438
@mark-lunarg I'm using vkconfig at the moment to override layers on my application.
![image](https://user-images.githubusercontent.com/43609023/137529338-301602cc-0fe2-43c6-8612-069951517acb.png)

[2021-10-15 18:05] Phildo opened #3441 "Validation Error VUID-vkCmdCopyBuffer-srcOffset-00113 has incorrect error message"
**Describe the Issue**
Validation Error message is incorrect: says `pRegions[0].srcOffset (6912) is greater than pRegions[0].size (736).`, where `pRegions[0].size` refers to "the size to copy". It *should* print "the size of the buffer". Note that the validation error appears to be correctly triggering- it's only the formatting of the message that is irrelevant.

**Valid Usage ID**
[code]

**Envir

[2021-10-15 19:24] muusbolla opened #3442 "Validation layer error with VK_KHR_uniform_buffer_standard_layout and std430 uniform buffer"
**Describe the Issue**

Shader code (truncated):
[code]

The vulkan validation layer throws the following error related to the SliceCutoffs array:

Validation Error: [ VUID-VkPipelineShaderStageCreateInfo-module-parameter ] Object 0: handle = 0x1ddb28542e8, type = VK_OBJECT_TYPE_DEVICE; | MessageID = 0xfd71dc70 | VkShaderModule 0x7f79ad0000000050[] does not contain valid spirv for stage VK_SHADER_

[2021-10-15 20:47] muusbolla commented on #3442
It looks like this only happens if there are specialization constants in the shader, which causes the validation layers to enter this code block where it attempts to "Apply the specialization-constant values and revalidate the shader module." I tested replacing my specialization constants with hardcoded values, and the validation layer error went away. This, of course, is not a viable long-term so

[2021-10-16 03:06] ncesario-lunarg commented on #3438
Each validation check assumes that no prior validation errors have occurred. As soon as the vulkan spec has been violated and (hopefully) an error has been logged, everything is "invalid" as far as the validation layers are concerned; also, error messages that follow the initial error message could be misleading as they are based on invalid data.

_That said_, we would, of course, prefer _not_ to

[2021-10-17 02:06] SirFirelordX opened #3447 "Validation error when mapping memory allocated from a heap with the MULTI_INSTANCE flag set claiming that the memory was allocated on multiple physical devices when that is not the case"
**Describe the Issue**
When trying to map memory allocated not on multiple heap instances but from a single heap with the MULTI_INSTANCE flag set, this validation error occurs.  I am not using device groups or doing anything with multiple GPUs.  The spec says: "VK_MEMORY_HEAP_MULTI_INSTANCE_BIT specifies that in a logical device representing more than one physical device, there is a per-physical d

[2021-10-18 02:57] gardotd426 opened #3448 "Having Vulkan-ValidationLayers Installed Destroys Non-Steam Game Performance on Nvidia GPUs Due to Validation Errors"
**Describe the Issue**
With an Nvidia GPU, installing Vulkan-ValidationLayers completely destroys performance in all non-Steam Vulkan titles - whether DXVK, vkd3d-proton, or Vulkan native. Performance drops 90-95%, down to like 20 fps. I have no idea why it's only limited to non-Steam games. Logs are full of validation errors. Uninstalling Vulkan-ValidationLayers immediately solves the problem. I'

[2021-10-18 04:10] y-novikov opened #3449 "Severe performance regression on Win7 NVIDIA"
**Describe the Issue**
When updating VVL in Chrome we've discovered that ANGLE tests with VVL started to time out on Win7 NVIDIA machines, see crbug.com/1249209 for context. Overall, the whole test suite runs 2 times slower, but looking only at the tests which use Vulkan, those run 10 times slower.
Bisect points to #3268, specifically to f596d7f1ae31bc79aad318df3938e15539418d81.
Further drilling d

[2021-10-18 16:20] Eichenherz opened #3450 "Bindless + Sync Validation"
Sync Validation incorrectly reports hazards for bound, but not used resources.

SYNC-HAZARD-READ_AFTER_WRITE
Validation Error: [ SYNC-HAZARD-READ_AFTER_WRITE ] Object 0: handle = 0xcc25c90000000082, type = VK_OBJECT_TYPE_IMAGE_VIEW; | MessageID = 0x4cb75b2d | vkCmdDispatch: Hazard READ_AFTER_WRITE for VkImageView 0xcc25c90000000082[], in VkCommandBuffer 0x2c31d47aef0[], and VkPipeline 0x59ffe00000

[2021-10-18 18:04] MichelVachon opened #3451 "Multiple image layout transitions in one VkCmdPipelineBarrier"
**Describe the Issue**
The validation layer reports error VUID-VkImageMemoryBarrier-oldLayout-01197 when applying 2 layout transitions on the same image in a single call to VkCmdPipelineBarrier:
[code]

`Validation Error: [ VUID-VkImageMemoryBarrier-oldLayout-01197 ] Object 0: handle = 0x25975881090, type = VK_OBJECT_TYPE_COMMAND_BUFFER; | MessageID = 0x124ffb34 | vkCmdPipelineBarrier(): .pImageMe

[2021-10-19 00:27] ncesario-lunarg commented on #3448
Hm, looks like this has been in there for a long time: https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/798fbbb03ae15bab0a3ac81633f654ed806f76a4#diff-ff032a8648100262964374becd9dd6fa56d9d1c02c6596a83128241ff668038bR225

Upon some further testing on my arch setup, the VVL is _loaded_ due to the `explicit_layer.d` entry, but it is _not enabled_. The layer must be explicitly enabled via

[2021-10-19 00:34] ncesario-lunarg opened #3453 "Properly validate nested built-in types"
Add support for arbitrarily nested, built-in structures in shader runtime validation. Currently, only the top level of a struct or an array of structures are supported.

See https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3434#discussion_r729289031 in #3434 for more details.

[2021-10-19 00:36] #3432 closed, assigned to ncesario-lunarg

[2021-10-20 05:06] gardotd426 commented on #3448
I don't even use libstrangle so it's not that but I'll go ahead and uninstall it to simplify things.

[vulkaninfodebug.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/7378252/vulkaninfodebug.txt)

[2021-10-20 16:51] MarkY-LunarG commented on #3448
FYI, installing a layer to `explicit_layer.d` should not enable it by default.  Only installing it to `implicit_layer.d` would.  I would suggest running vkvia and attaching the HTML output.

[2021-10-20 17:01] muusbolla commented on #3442
Uh, not sure what you mean about the positive test, but you just need a shader that uses either layout=scalar or layout=430 on a uniform buffer, and has a specialization constant. Then try to construct a pipeline that provides concrete values to the specialization constants via the pSpecializationInfo parameter of the VkPipelineShaderStageCreateInfo struct.

[2021-10-21 17:46] #3442 closed

[2021-10-22 22:46] Zekrom64 opened #3466 "Undefined behavior in vkCreateSwapchainKHR for incorrect usage of VkSwapchainCreateInfoKHR.queueFamilyIndexCount/pQueueFamilyIndices"
**Describe the Issue**
The validation layer behaves unexpectedly resulting in a segfault when `vkCreateSwapchainKHR` is called with `VkSwapchainCreateInfo.imageSharingMode = VK_SHARING_MODE_EXCLUSIVE` and `queueFamilyIndexCount > 0`.

**Valid Usage ID**
N/A

**Environment:**
 - OS: Windows 10
 - GPU: Radeon RX 480
 - SDK or header version if building from repo: Any above 1.2.135.0
 - Options enabl

[2021-10-24 18:06] #3447 closed, assigned to ziga-lunarg

[2021-10-25 14:50] zmike opened #3469 "vkCmdBindVertexBuffers2EXT bindingCount validation"
According to the spec:

[code]

This seems to imply that if both `pSizes` and `pStrides` are NULL, `bindingCount` can be 0.  However, `validate_array` in stateless_validation.h has the comment `// Count parameters not tagged as optional cannot be 0`, and

[code]

is thrown when calling with all parameters zero/null.

Tested on latest VVL from git.

[2021-10-25 18:16] #3469 closed, assigned to ncesario-lunarg

[2021-10-25 20:44] Cherser-s opened #3472 "Missing validation check for simultaneous access to host only descriptor set"
**Describe the situation in which you encountered the missing validation**
I'm having issues with simultaneous usage of the descriptor set created with `VK_DESCRIPTOR_POOL_CREATE_HOST_ONLY_BIT_VALVE` flag. According to docs this can't cause any issue unless the same individual descriptor is being written by multiple threads. It seems that this case just wasn't handled according to `scripts/thread_

[2021-10-26 11:44] pc-john opened #3474 "missing validation for vkCmdDispatchBase"
In short, vkCmdDispatchBase and vkCmdDispatchBaseKHR are missing image layout validation. I tested the same with vkCmdDispatch and all is ok there. So, fix shall be (hopefully) easy.

Details:
My compute shader is sampling image and requires VK_IMAGE_LAYOUT_SHADER_READ_ONLY_OPTIMAL layout for the image. I intentionally left the layout as VK_IMAGE_LAYOUT_COLOR_ATTACHMENT_OPTIMAL. When calling vkCmd

[2021-10-26 15:23] zmike opened #3476 "missing 64bit vertex attribute validation"
The Vulkan specification states:

`The input variable in the shader must be declared as a 64-bit data type if and only if format is a 64-bit data type.`

This is not a VU (that I can see), but it is a restrictive statement that has no accompanying validation, e.g., binding an attribute of format `VK_FORMAT_R64_SFLOAT` and then using a vertex shader that loads a `vec4` from it is illegal but does n

[2021-10-26 15:36] imrodriguezro opened #3477 "Incorrect validation error for unused input attachment"
**Issue description**
The validation error below is issued when the input attachment reference is created with `VK_ATTACHMENT_UNUSED` and the attachment is used in the fragment shader in a code branch (with an `if`) that _cannot be executed_ since a specialization constant is used to disable that code branch.

**Validation Error**
`Validation Error: [ UNASSIGNED-CoreValidation-Shader-MissingInputA

[2021-10-26 21:32] #3449 closed, assigned to jeremyg-lunarg

[2021-10-27 01:11] #3474 closed, assigned to ncesario-lunarg

[2021-10-27 05:56] #3466 closed, assigned to ncesario-lunarg

[2021-10-28 15:10] zmike opened #3484 "framebuffer attachment extents error message ambiguous"
This refers to the message:

[code]

It states that height is 0, but this is not actually what has been checked. What is being validated here is `image_create_info->extent.height >> subresource_range.baseMipLevel`. It would be great if the error message could be clarified to reflect this.

[2021-10-28 15:16] zmike opened #3485 "framebuffer extents validation broken for 1D_ARRAY images with baseMipLevel>0"
This refers to the error:

[code]

A 1D_ARRAY image will always have a height of 1, so shifting by the miplevel will always fail for nonzero miplevels. The height extent should either not be validated for this image type, or it should use the array size.

[2021-10-28 20:36] zmike opened #3486 "incorrect validation for dynamic primitive topology"
[code]

According to `Table 29. Topology classes` in the spec, compatible topologies for `LINE_LIST` include the `ADJACENCY` types, but they are missing from the validation switch cases.

[code]

These should both be valid.

[2021-10-29 22:31] #3484 closed

[2021-10-29 22:31] #3485 closed

[2021-10-30 18:37] Eearslya opened #3492 "Missing validation for descriptor update after bind"
**Describe the situation in which you encountered the missing validation**
This issue manifested itself when updating a uniform buffer after binding it to a command buffer.

Driver implementations which support update-after-bind gave no issue and worked as intended.
Driver implementations which did not support it crashed with a `VK_ERROR_DEVICE_LOST`, and no relevant validation output.

The descri

[2021-10-30 22:24] HansKristian-Work opened #3493 "Synchronization validation has false positive for multiple subpasses"
**Describe the Issue**
In Granite, the final UI pass can use two subpasses which each render to the backbuffer. I get a validation error on recent validation layers that I haven't seen before:

**Valid Usage ID**

[ERROR]: [Vulkan]: Validation Error: Validation Error: [ SYNC-HAZARD-WRITE_AFTER_WRITE ] Object 0: handle = 0x2602c100000000b8, type = VK_OBJECT_TYPE_RENDER_PASS; | MessageID = 0xfdf9f5e

[2021-10-31 23:17] #3486 closed

[2021-10-31 23:24] zmike commented on #3486
Thanks!

[2021-11-01 15:06] ncesario-lunarg commented on #3486
:+1: always nice when the fix is quick and easy :)

[2021-11-01 16:28] jzulauf-lunarg commented on #3493
Not sure why you think that.  Our understanding is that you need appropriate dependencies to VK_SUBPASS_EXTERNAL, with the src*Mask to cover the color and depth attachments you're transitioning and dst*Mask to protect the *next* usage of the transitioned images.

[2021-11-01 19:32] samwalls-arm opened #3495 "Add Mention of Vendor-Specific Best Practice Flags to Example Settings"
In this file https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/vk_layer_settings.txt it would be helpful to also have some mention of flags for vendor-specific best practice checks.

What would be the most appropriate way to include these, another section after `<LayerIdentifier>.enables`? Are there any other settings which are missing from the example?

[2021-11-02 16:57] ncesario-lunarg commented on #3477
Thanks for the issue @imrodriguezro. I think this should work if we add the "--eliminate-dead-branches" pass to our spirv-opt runs inside the validation layers. I'm trying some things out locally and will hopefully have a change up relatively soon if they are successful.

[2021-11-02 17:03] frustum opened #3497 "Block texture dimension validation error"
There is a wrong vkCmdCopyImage-dstOffset-00150|151 error reporting during last mipmaps copying when the source texture is RGBAu32, and the destination texture is block format texture.

The source extent size is 1x1 with RGBAu32 format that represents the minimal single compressed block. The error is reported when the destination mipmap is lower than 4x4 in size. But this data is valid for 2x2 and

[2021-11-02 17:07] imrodriguezro commented on #3477
cool! thanks for the update :)

[2021-11-02 17:07] ziga-lunarg commented on #3497
I believe this is the same error as with #1908 and #1946.

I am currently waiting for clarification from Vulkan-Docs here: https://github.com/KhronosGroup/Vulkan-Docs/issues/1637

[2021-11-02 17:12] frustum commented on #3497
Yes, it is the same. Both Nvidia and AMD drivers handle such copying well.
Direct3D12/11 and Metal do not report errors.
Thank you.

[2021-11-04 15:41] #3299 closed

[2021-11-05 07:57] pc-john opened #3504 "debugPrintfEXT not working from vkDispatchBase"
debugPrintfEXT() does not print anything when using vkCmdDispatchBase (and probably vkCmdDispatchBaseKHR as well). When I change the code to use vkCmdDispatch, all works as expected with the following message:

UNASSIGNED-DEBUG-PRINTF(INFO / SPEC): msgNum: -1841738615 - Validation Information: [ UNASSIGNED-DEBUG-PRINTF ] Object 0: handle = 0x1fcc0aef058, type = VK_OBJECT_TYPE_DEVICE; | MessageID =

[2021-11-05 13:08] #3451 closed

[2021-11-07 06:06] FilippoLeon opened #3510 "Warn when allocating too much from a pool"
When allocating too much of a given type from a descriptor pool, it is possible for the allocation to succeed or to fail, and this is totally depending on the implementation. I stumbled across a bug in the Samples https://github.com/KhronosGroup/Vulkan-Samples/issues/389 where this happens.

According to the source code: since maintenance 1, after which there is an appropriate return code,  the ch

[2021-11-08 07:55] sfricke-samsung commented on #3510
So just to get a better idea of the issue, was the driver returning `VK_SUCCESS` (instead of one of the `VK_ERROR_*`) while going past the limit? To my knowledge, what `VK_KHR_maintenance1 ` was suppose to add was forcing the driver to check allocation requests for exceeding a pool's global limits and apps to detect the error message dynamically

(internal link for future quick references https://

[2021-11-08 09:19] cforfang commented on #3510
`VK_SUCCESS` is returned and the sample works fine (i.e. driver allocates a usable set even if the pool is technically too small). The thing is, some drivers do not use the pool sizes and will allow you to allocate past the creation limits, which is what we see here.

[2021-11-08 12:57] TNBCORPSGG opened #3514 "Dev001"
*lib/ arm64-v8a/ libVkLayer_khronos_validation.so armeabi-v7a/ libVkLayer_khronos_validation.so x86/ libVkLayer_khronos_validation.so x86-64/ libVkLayer_khronos_validation.so

*Describe the situation in which you encountered the missing validation**
Issue description:

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

**Additional Context**
Any ad

[2021-11-08 15:05] Desperado17 opened #3515 "VUID-vkQueueSubmit-pCommandBuffers-00072"
Greetings,

I get a VUID-vkQueueSubmit-pCommandBuffers-00072 error:

VUID-vkQueueSubmit-pCommandBuffers-00072(ERROR / SPEC): msgNum: 1999407236 - Validation Error: [ VUID-vkQueueSubmit-pCommandBuffers-00072 ] Object 0: handle = 0x7fffc0580058, type = VK_OBJECT_TYPE_COMMAND_BUFFER; | MessageID = 0x772c8884 | VkCommandBuffer 0x7fffc0580058[] used in the call to vkQueueSubmit() is unrecorded and cont

[2021-11-08 16:44] #2520 closed

[2021-11-08 16:57] #3514 closed

[2021-11-08 18:58] IAmNotHanni opened #3516 "Is this validation layer error's sentence wrong?"
**Describe the Issue**
I did some image layout transition incorrectly and received the following message:

**Valid Usage ID**

transition the layout of aspect=1 level=0 layer=0 from VK_IMAGE_LAYOUT_TRANSFER_DST_OPTIMAL when the previous known layout is VK_IMAGE_LAYOUT_COLOR_ATTACHMENT_OPTIMAL. The Vulkan spec states: oldLayout must be VK_IMAGE_LAYOUT_UNDEFINED or the current layout of
 the image s

[2021-11-08 19:23] IAmNotHanni commented on #3516
Oh now I understand it! It is the old layout which was incorrect indeed. Sorry.

[2021-11-08 19:23] #3516 closed

[2021-11-08 22:02] ncesario-lunarg commented on #3510
Thanks for the issue @FilippoLeon. Unfortunately, if I understand the issue correctly, I don't think there's much else the validation layers can do here.

The app/client code is expected to check the result of `vkAllocateDescriptorSets`. If platform X decides it's ok to allocate "beyond the allowed amount," but platform Y cannot allocate beyond the allowed amount, then platform X is expected to re

[2021-11-09 06:12] ncesario-lunarg commented on #3516
Glad it's working for you now :)

[2021-11-09 19:27] rebelroad-reinhart opened #3518 "Validate bound push constant size."
Issue description: If you bind a total size of push constants less than what the pipeline expects, undefined behavior can happen at shader execution time. It would be valuable to have a validation check that the total bytes bound to push constants is what is expected by the pipeline.

Example, a fragment shader contains this push_constant declaration:

[code]

At run time, I can bind only 2 ints w

[2021-11-10 00:30] sfricke-samsung commented on #3518
So the spec does say

So what you are doing is "valid" (the app **behaviour** is define, the **values** are undefined) but 100% agree a best-practice layer warning would be good to add

@ncesario-lunarg since I am already in Push Constant land with https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2711 I would be happy to take this on unless someone plans to beat me to it.

[2021-11-10 01:07] rhuff-lucasfilm opened #3519 "Gpu validation doesn't record device address in BUFFER_STATE in PostCallRecordGetBufferDeviceAddress"
Without the device address recorded in BUFFER_STATE PreCallRecordDestroyBuffer is not able to erase entries from buffer_map.  This means that as buffers (with usage including VK_BUFFER_USAGE_SHADER_DEVICE_ADDRESS_BIT) are created and destroyed the buffer_map grows and eventually contains many stale entries.  These stale entries end up triggering spurious "Device address access out of bounds" valid

[2021-11-10 14:02] jbeich opened #3520 "Fails to build with Clang 13 (due to -Werror)"
Regressed by https://github.com/llvm/llvm-project/commit/abf3ca61e3235. Workaround is `-DBUILD_WERROR=OFF`.

[code]
http://www.ipv6proxy.net/go.php?u=http://gohan04.nyi.freebsd.org/data/mainamd64PR258209-default/2021-10-16_18h41m03s/logs/errors/vulkan-validation-layers-1.2.196.log

[2021-11-10 17:36] rhuff-lucasfilm commented on #3519
#3522 pull request

[2021-11-10 17:37] rhuff-lucasfilm commented on #3519
To reproduce this issue create and destroy lots of buffers with alternating large and small sizes.  Eventually the buffer_map will contain overlapping entries and validation will start reporting "out of bounds" errors.

[2021-11-11 21:28] jeremyg-lunarg opened #3527 "VK_KHR_dynamic_rendering: missing VUIDs"
Validation for this extension is incomplete. For example there is a TODO in CoreChecks::ValidatePipelineDrawtimeState() for missing checks.

I don't have a list of the missing VUIDs @AaronHaganAMD or @Tobski if you have one it would be great to add it here. Also I cannot assign @AaronHaganAMD to this bug yet, not sure why.

[2021-11-11 21:31] jeremyg-lunarg opened #3528 "VK_KHR_dynamic_rendering: Missing unit tests"
There only a couple of tests targeting this extension, and their goal is to make sure VVL doesn't crash in vkCreateGraphicsPipelines(). We need more complete unit tests of this extension, both for normal usage (positive) tests and that the VUID checks are working properly.

FYI @AaronHaganAMD since I cannot assign this to you.

[2021-11-12 16:43] jeremyg-lunarg commented on #3527
Also, I am disabling Best Practices checks in vkCreateGraphicsPipeline() to avoid crashes, see https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3530

[2021-11-12 17:41] Tony-LunarG commented on #3504
So if I add this code to the end of the VkDebugPrintfTest.GpuDebugPrintf test in this repository, I do get a "Hello" message in the debug callback:
[code]
@pc-john  Are you sure that your compute shader is running and that the path with the debug printf is being taken?  Could you provide some reasonably small reproduction code?

[2021-11-12 20:06] llandwerlin-intel commented on #3400
Hey @sigexp : do you have any update to share on the validation support?

[2021-11-13 11:26] janemba opened #3532 "Vulkan-Extension-sdk not building because of unknown types."
**Describe the Issue**

While building Vulkan-ExtensionLayer-sdk version 1.2.189.0, I come up with a set of errors regarding unknown types mostly on `VK***` structures and constants.

**Environment:**
 - OS: GNU/Linux Slackware
 - GPU:  [AMD/ATI] Baffin [Radeon RX 550 640SP / RX 560/560X]
 - SDK or header version if building from repo: 1.2.189.0
 - Options enabled (synchronization, best practices,

[2021-11-13 13:47] #3532 closed

[2021-11-15 02:31] Ralith commented on #1340
This continues to bite people regularly (see above, etc). Can the broken check be removed?

[2021-11-15 02:52] CarloWood commented on #1340
Just run into this as well. I was like WHAT?! The only thing clear to me was that I can't do anything about it. But it feels very uncomfortable not knowing the effect of plainly ignoring an ERROR from the validation layers :/.

I agree that removing the check is better than leaving it as is. A long term solution would be where the swap chain is simply created but immediately outdated (this might a

[2021-11-15 13:25] pc-john commented on #3504
@Tony-LunarG I created minimal example. One problem I reached: Validation layers cause the crash of the application if Vulkan 1.0 is requested by instance. The correct way would be to print validation warning (?) that vkCmdDispatchBase is available only since Vulkan 1.1.

The second observation is that vkCmdDispatch really works as expected. The debugPrintfEXT prints the text.
The third observatio

[2021-11-15 16:56] ncesario-lunarg commented on #3515
@Desperado17 are you calling `vkBeginCommandBuffer`/`vkBeginCommandBuffer` on the command buffer that is triggering this error? It should be valid to submit an "empty" command buffer, but the begin/end calls _must_ have been made (it's fine if no `vkCmd*` calls were made to record any commands).

[2021-11-15 16:59] ncesario-lunarg commented on #3518
Sounds good to me @sfricke-samsung! Please go ahead and unassign (or just assign to me) if that changes. Thanks!

[2021-11-15 17:05] ncesario-lunarg commented on #3520
Thanks @jbeich, I briefly tried out clang 13 and saw this same error. Are you saying this is a bug in llvm? Setting `-DBUILD_WERROR=OFF` can't be checked in. We could disable that specific warning, but it would be better if we can just fix the warning if it is valid.

[2021-11-15 17:56] ncesario-lunarg commented on #3519
Is this issue still valid after #3522 merged?

[2021-11-15 17:58] Tony-LunarG commented on #3519
No.  Closing.

[2021-11-15 17:58] #3519 closed

[2021-11-15 18:10] ncesario-lunarg commented on #3527
@AaronHaganAMD is it possible for you to join the [Vulkan](https://github.com/orgs/KhronosGroup/teams/vulkan/members) group/team? That's probably the easiest way to get the issue assigned to you.

[2021-11-15 18:15] ncesario-lunarg commented on #3400
If it's possible to add @sigexp to the [Vulkan](https://github.com/orgs/KhronosGroup/teams/vulkan/members) group/team, I should be able to assign this properly.

[2021-11-15 23:01] DataBeaver opened #3537 "Validation layer complains about unprovided input which is unused due to specialization constants"
**Describe the Issue**
The attached SPIR-V module declares a vertex shader input "tangent" which is used for normal mapping.  This feature is controlled by the specialization constant "use_normal_map", which defaults to false.  Even when not enabled, the validation layer gives this message:

Validation Error: [ UNASSIGNED-CoreValidation-Shader-InputNotProduced ] Object 0: handle = 0x100000000010,

[2021-11-15 23:02] sfricke-samsung commented on #3537
What value are you passing into the specialized constants where you are getting the unwanted validation error warning?

[2021-11-15 23:08] DataBeaver commented on #3537
Input to my shader class:
[code]
Mapped to Vulkan structures:
[code]

[2021-11-16 00:16] ncesario-lunarg commented on #3537
At first glance, this sounds similar to #3477. i.e., if "dead code" is triggering the error--and that "dead code" can be identified via a constant/specialization constant, then #3499 should resolve it.

[2021-11-16 00:20] ncesario-lunarg commented on #3537
@sfricke-samsung if you think the "eliminate dead branches" spirv-opt pass will not help here, I'll go ahead and assign this to you per offline discussion.

[2021-11-16 01:56] AaronHaganAMD commented on #3527
Can you try assigning it to me now. Thanks !

[2021-11-16 02:36] jbeich commented on #3520
No, an intentional change by Clang. This repo uses `-Werror` applied to all warnings rather than a specific subset, so every compiler upgrade (including GCC) may cause regressions.

[2021-11-16 06:05] ncesario-lunarg commented on #3527
👍 yep, that worked @AaronHaganAMD :)

[2021-11-16 06:27] ncesario-lunarg commented on #3520
While I can see the merits of a "static approach," for this particular code base, I believe this is by design. Barring compiler bugs (which we are counting on effecting us relatively infrequently), I think the assumption is that we would like to know about new warnings as they show up, and then fix them if they are valid, or disable them if they are not.

[2021-11-17 14:09] samwalls-arm opened #3543 "feature request: vendor best practices via programmatic interface"
Is there currently any way to enable vendor-specific best practice checks via the programmatic interface?

If there is, it would be good to document it (i.e. the programmatic interface section [here](https://vulkan.lunarg.com/doc/view/1.2.189.0/linux/best_practices.html)). Otherwise, are there any plans to allow this?

[2021-11-17 16:56] pc-john commented on #3504
One more thing comes to my mind: I am on the latest SDK 1.2.189. If you are on the latest git sources, it might possibly make the difference (?).

[2021-11-17 17:05] Tony-LunarG commented on #3504
Just what I was about to ask.  Any SDK beyond 1.2.154 should be working.  Latest master works for me for all 3 dispatches (thanks for the repro case - it helps a lot).  Are you getting the debug printf message in a callback?  Are you using / have you tried the DEBUG_PRINTF_TO_STDOUT=1 environment variable?  I'm still thinking through possible causes.

[2021-11-17 17:05] Tony-LunarG commented on #3504
Also, what OS / GPU / driver are you using?

[2021-11-17 17:09] ncesario-lunarg commented on #3543
I think we're currently doing this for the best practices tests? https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/21286f81b8ecc60aa2ad0a7dcb17201bfaed675d/tests/vklayertests_best_practices.cpp#L29-L36

[2021-11-17 17:21] Tony-LunarG commented on #3504
In your real code, I assume that the dispatchBase does more than debug printf - can you see that other stuff happen when the debug printf does not?

[2021-11-17 18:52] mark-lunarg commented on #3543
This control is achieved through a private layer extension defined in [vk_layer_settings_ext.h](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/vk_layer_settings_ext.h).

[2021-11-18 10:30] pc-john commented on #3504
My system: Windows 10, i7-10875H, Intel UHD graphics + Quadro RTX 3000 (Optimus).

I double-checked that I am on SDK 1.2.189, both with source compilation and with VulkanConfigurator. I have to admit that I was using VulkanConfigurator of SDK 1.2.170 before by a mistake in Start menu. So, I verified what works and does not work once again, without seeing much of difference. It still does not work.

[2021-11-18 10:54] pc-john commented on #3504
To be precise with my recent comment: with/without stdout redirect I mean Vulkan Configurator option in Validation Areas -> Shader-Based -> Debug Printf -> Redirect Printf messages to stdout . Then, I am running the application in debug from Visual C++ 2019. If you would not be able to reproduce it, we can look in more detail.

[2021-11-18 13:52] TomAtkinsonArm commented on #3543
Hey @mark-lunarg,

Does `private layer extension` mean that this method can't be used by Vulkan applications and can only be used within the SDK tests? It would be useful for developers to be able to enable different checks pragmatically with the public API

[2021-11-18 14:53] mark-lunarg commented on #3543
@TomAtkinsonArm, it has been our long-term goal to publish this private extension as an official EXT or LUNARG extension through Khronos.  It should be safe for use by an application by pulling in the necessary header file(s), and if resources can be gathered we'd like to expand the extension to support any/all settings used in the validation layers. Please note that while the interface has not ch

[2021-11-18 15:53] DataBeaver commented on #3537
I cloned the repository, merged #3499, and built my own copy of the validation layers.  However I'm still getting validation errors.  I've also improved my own code to detect which bindings are actually used based on the control flow graph and specialization constants and not include unused ones in descriptor set layouts.  Due to this change there's more errors than before.

Validation Error: [ VU

[2021-11-18 16:25] ncesario-lunarg commented on #3537
Thanks for the capture!

One thing to note with #3499 is that spirv-val will run more shaders than before. That said, I don't think that in and of itself should be causing the additional errors you're seeing.

[2021-11-18 16:33] DataBeaver commented on #3537
No, the additional validation errors are due to my own code changes.  At the time of originally reporting the issue my code created descriptor set layouts including all resources declared by the shader, so the validation layer's view of what the shader uses and what the descriptor set layout provides matched.  But now my code detects which resources are actually used by the shader based on special

[2021-11-18 16:44] ncesario-lunarg commented on #3537
That's a good question. I'm hoping to work on this a bit more today and will also try to run your capture as well.

[2021-11-18 20:17] Tony-LunarG commented on #3504
Reproduced it with the 1.2.189 SDK.  It appears the debug printf + vkCmdDispatchBase issue is fixed with https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3478  I still need to figure out the Vulkan 1.0 crash in vkCmdDispatchBase, so this is only partially fixed in the SDK that should be available next week.

[2021-11-19 05:24] sfricke-samsung commented on #3537
So finally got time to look at this... a few things:

I do agree that `spirv-opt` should be smart enough when `%use_normal_map` is set to `false` that it could eliminate the `%56` block
![image](https://user-images.githubusercontent.com/46493288/142569863-7a101591-c20b-42ef-ae18-5b71737ca85f.png)

-----

I am just trying to do this with `spirv-opt` without the Validation Layers (as we can figure o

[2021-11-19 05:55] sfricke-samsung commented on #3537
I also want to note that as an app, you can do what ever you want to your SPIR-V prior to sending it to through the validation layers (and the driver in general), thinking more about it, I don't see this actually being a "validation layer bug" and more of an issue that your GLSL-to-SPIR-V workflow doesn't have a way to eliminate the unwanted branches

[2021-11-19 07:47] DataBeaver commented on #3537
Sorry, I must have accidentally compiled the module in OpenGL mode.  Can you try with this instead: [phong.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/7568593/phong.zip)

This gets a pass from `spirv-val --target-env vulkan1.2 phong.spv`.  It should be the same as the one used in the RenderDoc capture.

[2021-11-19 08:03] DataBeaver commented on #3537
My compiler is capable of eliminating those variables with a dead code elimination pass, however it means I will have to apply specialization constants before compiling the code into SPIR-V.  I already do this for GLSL shaders in OpenGL, since those don't support specialization constants in the first place.  It'll be some extra work if I want to ship binary shaders since I'll have to add parsing f

[2021-11-19 10:38] DataBeaver commented on #3537
This is getting increasingly tangential, but upon thinking on it further I realized I won't actually have to convert SPIR-V back to an AST in order to apply specialization.  Since I can already process the CFG enough to recognize which variables are used, it should be fairly straightforward to emit modified SPIR-V where the dead parts have been removed.  So I suppose that's the way to go then.

[2021-11-19 21:29] sfricke-samsung commented on #3537
No you have a point... I think the issue is how spec constant are suppose to be used for things such as branch dead code elimination such in the case you want... let me poke around some other people who might have another point of view on this matter

[2021-11-20 00:03] kloczek opened #3553 "sdk-1.2.198.0: build fails"
**Describe the Issue**
Issue description.

**Valid Usage ID**
sdk-1.2.198.0

**Environment:**
 - OS: Linux/x88_64
 - GPU: N/A
 - SDK or header version if building from repo: glslang sdk-1.2.198.0, vulkan-loader sdk-1.2.198.0, spirv-tools -2021.2 (latest 2021.4 does not build)
 - Options enabled (synchronization, best practices, etc.):
[code]
**Additional context**
Compile errors:
[code]

[2021-11-20 10:37] SaschaWillems commented on #3553
Same here. The build seems to rely on more recent components (than are included with SDK 1.2.189). To make the layers build with that SDK you manually need to either patch the SDK or point the project at current versions of the components (SPIR-V, Vulkan headers, etc.).

[2021-11-20 11:06] SaschaWillems opened #3554 "Possibly wrong positive for fragment shader attachment writes with VK_KHR_dynamic_rendering"
**Describe the Issue**
When using dynamic rendering instead of render passes, validation will report an error that an attachment in the fragment shader is written, that is not bound.

**Valid Usage ID**
WARNING: [101294395][UNASSIGNED-CoreValidation-Shader-OutputNotConsumed] : Validation Warning: [ UNASSIGNED-CoreValidation-Shader-OutputNotConsumed ] Object 0: handle = 0x9389c50000000061, type = V

[2021-11-22 12:21] SpaceIm opened #3558 "CMake: Follow best practice of discovery/injection of external dependencies"
CMakeLists files of `Vulkan-ValidationLayers` don't follow best pratice regarding discovery and injection of dependencies. Currently, they rely on source code layout of dependencies, instead of install layout.

For example, let's take `robin-hood-hashing`:

[code]

Then you add `ROBIN_HOOD_HASHING_INCLUDE_DIR` to include properties of all targets.

There is no way for a package manager to inject a

[2021-11-22 15:28] jeremyg-lunarg commented on #3554
@AaronHaganAMD any ideas about this one? Thanks!

[2021-11-22 17:56] jeremyg-lunarg commented on #3553
So far the only way I can reproduce this error is to manually install (in /usr ) the SPIRV-Headers from sdk 1.2.182, as spv::OpSDotKHR and the other missing enum values were added between sdk 1.2.182 and 1.2.189.  The tagged[ SPIRV-Headers for sdk 1.2.198.0 ](https://github.com/KhronosGroup/SPIRV-Headers/blob/sdk-1.2.198.0/include/spirv/unified1/spirv.hpp#L1526) does look like the correct version,

[2021-11-22 20:58] #3520 closed

[2021-11-23 21:29] #3292 closed

[2021-11-23 22:01] ChristophHaag commented on #2743
Bumping because we want to use this in Monado and ran into the same issues.

It affects Valve's SteamVR vrcompositor on linux too. You can run it like this to see it:

`VK_INSTANCE_LAYERS=VK_LAYER_KHRONOS_validation LD_LIBRARY_PATH=~/.steam/steam/steamapps/common/SteamVR/bin/linux64 ~/.steam/steam/steamapps/common/SteamVR/bin/linux64/vrcompositor --keepalive`

[2021-11-24 22:51] jeremyg-lunarg commented on #2743
@ChristophHaag  I haven't been able to reproduce this crash yet,  but I think the code in #3566 *might* fix it. If you have a chance to give it a try please let us know, otherwise we can try to reproduce it again next week. Thanks!

[2021-11-24 22:59] jeremyg-lunarg commented on #3558
@SpaceIm Thank you for the very detailed suggestion!  The code in PR #3562 is an attempt to implement it. I still need to get a bunch of feedback on it and update part of our internal CI. But if you have any specific suggestions on if this PR will solve your problem or not, that would be helpful. Thanks!

[2021-11-25 00:27] SpaceIm commented on #3558
Thanks, it looks quite good, I've left a minor review. I'll also check on my side if it works well.

[2021-11-25 13:24] ChristophHaag commented on #2743
#3566 indeed fixes both issues, thanks.

[2021-11-26 10:44] rg3igalia opened #3568 "Unexpected validation errors related to subgroup sizes"
**Describe the Issue**
Several CTS tests report validation problems when the local size is set using specialization constants. glslang ends up creating code that relies on NumWorkgroups when using local_size_x_id and others, but the layers appear to only use OpExecutionMode, which specifies the local size as "1 1 1". This triggers VUID-VkPipelineShaderStageCreateInfo-flags-02758 and VUID-VkPipelin

[2021-11-26 13:02] imrodriguezro opened #3569 "Validation Error when using input/color attachment in multiple subpasses"
**Issue description**
Hi! I get a validation error when creating a render pass that contains several subpasses.
Subpass 0 has an input attachment that is used as:
color attachment in Subpass 1, again
input attachment in Subpass 2,
input attachment in Subpass 3, then
color attachment in Subpass 4, and finally
input attachment in Subpass 5.
In the attachment references I use the layout `eShaderReadO

[2021-11-26 14:39] TNBCORPSGG commented on #3569
- - [ ] ## - [x] ~~~~~~~~~~`~~~~~~````
- - - [ ] #### ~~~~````

[code]

[2021-11-26 14:39] TNBCORPSGG commented on #3569
Touch and hold a clip to pin it. Unpinned clips will be deleted after 1 hour.Tap on a clip to paste it in the text box.Welcome to Gboard clipboard, any text that you copy will be saved here.Welcome to Gboard clipboard, any text that you copy will be saved here.《All Rise (抖音热播版)》
歌手：东泽润
专辑：Faded Pinbo

via @haoyybot《All Rise (抖音热播版)》
歌手：东泽润
专辑：Faded Pinbo

via @haoyybot《All Rise (抖音热播版)》
歌手：东泽润
专辑：

[2021-11-26 14:40] TNBCORPSGG commented on #3569
# - ## ~~@[]()_@richard-lunarg - [ ] _@ci-tester-lunarg __~~

[2021-11-26 14:48] #3569 closed

[2021-11-26 14:49] imrodriguezro opened #3570 "Validation Error when using input/color attachment in multiple subpasses"
**Issue description**
Hi! I get a validation error when creating a render pass that contains several subpasses.
Subpass 0 has an input attachment that is used as:
color attachment in Subpass 1, again
input attachment in Subpass 2,
input attachment in Subpass 3, then
color attachment in Subpass 4, and finally
input attachment in Subpass 5.
In the attachment references I use the layout `eShaderReadO

[2021-11-26 15:59] FrancoisBeaune commented on #2767
Hi,

As a data point, we (Adobe) would really like to see this bug fixed. Let me know if we can be in any help to reproduce the issue.

Thanks for the great work everyone.

[2021-11-26 16:08] AaronHaganAMD commented on #2767
I have an updated change set that I believe I can put up for review in the next couple days. Thanks.

[2021-11-28 06:21] sfricke-samsung commented on #3568
I guess not sure what you are expecting the VVL to do instead. To my knowledge it is properly throwing an error here because your shader has a `LocalSize` of `1` in the X dimension which is wrong if the GPU supports 32 subgroup size

This would require `LocalSizeId` to my knowledge, which was allowed in with `VK_KHR_maintenance4` but not sure if glslang has support for it

if execution mode LocalS

[2021-11-29 08:43] rg3igalia commented on #3568
The description of `WorkgroupSize` mentions the dimension of the local work group is taken from that built-in if used, taking precedence over both `LocalSize` and `LocalSizeId`. If the module uses that built-in, the local size comes from it, so it seems wrong for the VVL to emit any validation error related to local work group sizes taking the values of `LocalSize` when `WorkgroupSize` is used. I'

[2021-11-29 20:17] jeremyg-lunarg commented on #2767
There's several other ray tracing host commands that use deferred operations:

- vkBuildAccelerationStructuresKHR()
- vkCopyAccelerationStructureKHR()
- vkCopyAccelerationStructureToMemoryKHR()
- vkCopyMemoryToAccelerationStructureKHR()
- vkWriteAccelerationStructuresPropertiesKHR()

Will these have the same problem?

[2021-11-29 22:09] sultim-t opened #3576 "VkCuLaunchInfoNVX - Valid usage"
**Describe the Issue**
Should it be considered to be the incorrect validation message along with incorrect specification ([VkCuLaunchInfoNVX](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/VkCuLaunchInfoNVX.html))?
Specifically, `paramCount` and `extraCount`, I guess, they should be able to be equal 0?

Example usage:
* DLSS SDK 2.3.1 (https://github.com/NVIDIA/DLSS) uses in

[2021-11-29 23:14] jeremyg-lunarg commented on #3576
The validation for these fields is auto-generated from the spec.  It looks like paramCount, pParams, extraCount, and pExtras all need to be marked as optional.  Please file this as a [Vulkan-Docs](https://github.com/KhronosGroup/Vulkan-Docs/)  issue.

[2021-11-30 09:53] imrodriguezro commented on #3570
Thanks for the quick response @sfricke-samsung. Looking at the code, it's kind of clear why the error pops up. The input attachments are tracked for the whole renderpass and not only for the current subpass:
[code]
Anyway, I just saw that this was fixed already for newer versions 🎉 . I will just update my current SDK.

[2021-11-30 09:53] #3570 closed

[2021-11-30 12:23] pc-john commented on #3504
Confirming that the debug printf + vkCmdDispatchBase is fixed in SDK 1.2.198.0 . So, only Vulkan 1.0 crash in vkCmdDispatchBase in validation layers remains unfixed.

[2021-11-30 15:31] #3554 closed

[2021-11-30 17:02] TonyBarbour opened #3579 "vkCmdDispatchBase crash on Vulkan 1.0 with validation layers enabled"
**Describe the Issue**
Although vkCmdDispatchBase is not supported with Vulkan 1.0, it should not crash, and does not crash without validation layers enabled.  The following test crashes as is, but removing "instance_layers_.push_back(kValidationLayerName);" from layer_validation_tests.cpp allows it to run to completion.  Instead of crashing, it would be better for the validation layers to alert t

[2021-11-30 17:03] Tony-LunarG commented on #3504
The 1.0 crash in vkCmdDispatchBase is logged in #3579, so closing this

[2021-11-30 17:03] #3504 closed

[2021-11-30 18:03] #2743 closed

[2021-12-01 04:43] sfricke-samsung commented on #3579
So before calling `vkCmdDispatchBaseKHR` we have a check in the stateless validation

[code]

but now I am surprised we don't see m to have something for `vkCmdDispatchBase` that would check the device version (for device functions) being used

but we do have a `StatelessValidation::CheckPromotedApiAgainstVulkanVersion` function already and it would just be a matter of adjusting the generation cod

[2021-12-01 07:17] pc-john commented on #3504
Thanks!

[2021-12-01 10:22] speedym opened #3583 "Wrong error text for VUID-vkCmdDraw-magFilter-04553"
**Describe the Issue**
The error text shown does not match the VUID description - the below error message says: "compareEnable is set to VK_TRUE" while the VUID description text is covering the case of compareEnable is set VK_FALSE: "If a VkSampler created with magFilter or minFilter equal to VK_FILTER_LINEAR and compareEnable equal to VK_FALSE".

Note that in our code, compareEnable is never set

[2021-12-02 00:36] kainino0x opened #3585 "Beta extensions build broken due to Vulkan-Headers changes"
**Describe the Issue**
Building the vulkan validation layers with `VK_ENABLE_BETA_EXTENSIONS` doesn't work because Vulkan-headers removed VK_VIDEO_ENCODE_RATE_CONTROL_RESET_BIT_KHR and added VK_VIDEO_ENCODE_RATE_CONTROL_RESERVED_0_BIT_KHR in https://github.com/KhronosGroup/Vulkan-Headers/pull/247.

**Environment:**
 - OS: Any (Windows/Mac/Linux/Android)
 - GPU: N/A
 - SDK or header version if buil

[2021-12-02 07:55] Kangz commented on #2349
We are hitting the same issue in Dawn when implementing read-only depth stencil attachments in https://dawn-review.googlesource.com/c/dawn/+/70280 Since we can't rely on the presence of `STORE_OP_NONE`, the only thing we can do is ignore this syncval error.

However it doesn't seem that there is a WAR if you use `STORE_OP_STORE` because the values written to memory will be exactly the one already

[2021-12-02 09:11] Tobski commented on #2349
@Kangz If DONT_CARE or STORE are used as store ops instead of NONE, it should just mean you need a barrier (or external subpass dependency) between the render pass and any further accesses for that attachment. That barrier has to sync the store op with the future accesses to prevent a RAW/WAW hazard. If sync_val is throwing a warning despite that extra barrier then there's still a problem here.

[2021-12-02 09:51] Kangz commented on #2349
Yep we'll do that correctly (I think) by adding the `DEPTH_WRITE` access to be tracked for further barriers. But here the VVL complains about the write done by `STORE_OP_STORE` while the attachment is in `IMAGE_LAYOUT_DEPTH_STENCIL_READ_ONLY`.

[2021-12-02 15:41] kvark commented on #2349
Looks like the issue needs to be re-opened if this fires up. We haven't done much running with the sync validation yet, but I imagine we'll see the same thing.

[2021-12-02 17:54] jeremyg-lunarg commented on #2349
@jzulauf-lunarg  can you take another look at this one?

[2021-12-02 17:56] jeremyg-lunarg commented on #3585
@mikes-lunarg, looks like this should get fixed by updated generated code once we roll to 201, right?

[2021-12-02 18:09] SaschaWillems commented on #3553
Just did a clean install (along with the SDK) and clean build and it now worked fine for me.

[2021-12-02 18:11] jeremyg-lunarg commented on #3553
Good to hear.  I think we had a problem with stale data on some of the SDK download servers right after it was release. I don't think that solves the original problem that @kloczek had, though.

[2021-12-02 19:25] mikes-lunarg commented on #3585
@jeremyg-lunarg correct, fix is incoming

[2021-12-02 20:38] #3585 closed

[2021-12-02 21:18] sfricke-samsung commented on #3579
So even when I remove `instance_layers_.push_back(kValidationLayerName);` I still have it crash because my `vk::CmdDispatchBase` or even if I do

[code]

the function pointer is always `null`

[2021-12-02 21:33] Tony-LunarG commented on #3579
The vk:: pointers are filled by GetProcAddr from the loader, and should be getting a non-null pointer back.  Also, using vkGetInstanceProcAddr should also get a non-null pointer back.  GetDeviceProcAddr should return a null pointer if the api level is < 1.1

[2021-12-02 21:53] #2311 closed

[2021-12-02 23:17] #3583 closed

[2021-12-05 19:58] farnoy opened #3590 "Queue Submission tracking no longer retiring correctly when Timeline Semaphores are reused across queues"
**Describe the Issue**
I've updated my local SDK from 1.2.189.2 to 1.2.198.1 and started getting errors like "resource still in use" where I did not get them before. I did some investigation and I think it's related to the recent refactoring of Queue submission state tracking ~@jeremy-lunarg~ . **EDIT:** I pinged the wrong Jeremy, sorry! @jeremyg-lunarg

The current version seems to be retiring wo

[2021-12-06 15:33] mizhen opened #3591 "Add info to output for indicating if validation layer change input parameter of Vulkan command"
The validation layer output should include the info that indicate if the layer changed any Vulkan command input parameter, and such info should be prepend a common string, so user can search and locate it easily.

The change is helpful because of the following:

GFXR capturing a title with or without validation layer, if the title behavior is different for capturing with validation layer compared

[2021-12-06 19:33] #3558 closed

[2021-12-06 19:42] farnoy commented on #3590
I was able to reproduce it with different queues of the same family, it was just a tricky timing to hit with my app. In the end, I think it can happen with any pair of queues, regardless of their families.

[2021-12-06 19:46] jeremyg-lunarg commented on #3590
That's good! It would be really strange if it required separate queue families.  I'll try to come up with a test case that reproduces the problem based on your description.

[2021-12-06 21:56] farnoy commented on #3590
Yep, I expected that if my hypothesis is true, this should be reproducible within the same queue family, but it was harder to do so in my setup.

By the way, I think the `until_payload` parameters could be improved by calling `vkGetSemaphoreCounterValue` to retire submissions until the most recent available right now.

Imagine a timeline semaphore that starts at 1 and is incremented by `2` on ever

[2021-12-07 00:42] ncesario-lunarg commented on #3576
Keeping this open for now until the Vulkan-Docs issue gets resolved.

[2021-12-07 14:52] larsivarsimonsen-arm commented on #2767
Hi,

I've made a more generic fix in #3592 that should fix both vkCreateRayTracingPipelinesKHR and the host acceleration structure functions.

Please have a look at it at your convenience.

[2021-12-07 17:42] ncesario-lunarg commented on #3553
@kloczek as @jeremyg-lunarg alluded to, this looks like you're building with the wrong versions of the SPIRV repos based on
[code]
Can you please verify that the version of spirv you are building against is the same as `Vulkan-ValidationLayers/scripts/known_good.json`?

[2021-12-07 17:52] kloczek commented on #3553
Latest sdk SPIRV-Headers now provides SPIRV-Headers.pc (my PR has been acceped before last sdk release) file which can be used to check availability of correct version of those hear files.

[2021-12-07 19:35] SovjetSpy opened #3593 "VkCreateGraphicsPipeline segfault in validation layers"
**Description:**
Recently I encountered a scenario where the validation layers generate a segmentation fault. it happend when calling VkCreateGraphicsPipeline. I found out it happens somewhere in the function ValidatePipelineUnlocked on line 1543 in core_validation.cpp, after that I am clueless about what is happening. I added the output of the api params validation output of the input I am giving

[2021-12-07 19:57] sfricke-samsung commented on #3593
Do you know which version of the validation layers you are using... is line 1543 referencing the following for you?

[code]

[2021-12-07 20:05] SovjetSpy commented on #3593
Yes, that is the exact line that I am referencing. I am using the layers from the package manager. The version listed by apt is: 1.2.198.0~rc1-1lunarg20.04-1.

[2021-12-07 20:11] sfricke-samsung commented on #3593
I see from your dump

[code]

 so that seems like `pPipeline->attachments.size()` should be `1` and never reach to the next line

 Here is where `pPipeline->attachments` is appended, so not sure how it would possibly be adding more

[code]

[2021-12-07 20:29] SovjetSpy commented on #3593
That is weerd indeed. I will try bugging that peas of code tomorrow to see if I can find anything suspicious.

[2021-12-07 20:43] jeremyg-lunarg commented on #3591
Unless you enable GPUAV or DebugPrintf, I don't think the validation layer should be changing vulkan commands. There could be 2 other possible causes of what you're seeing:

1. The validation layer adds CPU overhead and locking to almost all vulkan functions. This could hide or expose race conditions in an application by changing the order of execution of different threads.
2. Invalid vulkan funct

[2021-12-07 21:41] ncesario-lunarg commented on #3591
+1 for @jeremyg-lunarg's comment.

@mizhen are there specific calls that do _not_ result in any validation errors, but you see (or suspect) "changing data"?

[2021-12-07 23:03] ncesario-lunarg commented on #3553
Does that mean this issue should be closed?

[2021-12-07 23:53] kloczek commented on #3553
It mean that it will pop up again if that issue will be not solved buy add proper pkgconfig detection.

[2021-12-08 18:46] SovjetSpy commented on #3593
So I have tried to find out the problem, but failed. I have found out something interesting about the adding of the atachments to the array in the PIPELINE_STATE objects:
![Screenshot_20211208_192658](https://user-images.githubusercontent.com/48281028/145264953-41894411-5de8-4345-8787-dc9dee984114.png)

as you can see the pColorblendstate varable is a nullptr, but when I looked back in the stack t

[2021-12-08 22:50] Tony-LunarG opened #3595 "Dynamic rendering CTS test crash in validation"
**Describe the Issue**
dEQP-VK.dynamic_rendering.suballocation.load_store_op_none.color_load_op_none_store_op_none_resolve
crashes in CoreChecks::ValidateFsOutputsAgainstDynamicRenderingRenderPass:
[code]
pipelines->attachments is size 1
pipeline->rp_state->dynamic_rendering_pipeline_create_info.colorAttachmentCount is 2
Unclear if this is a validation or test problem.

**Environment:**
 - OS:  Wi

[2021-12-09 03:25] sfricke-samsung commented on #3593
So the segfault (from the 3rd image) is in a different spot than originally posted.

This spot makes more sense, since you already have a build working, could you try

[code]

and see if that fixes your problem, from there I can create a more elegant fix and a test to prevent regressions

[2021-12-09 09:04] SovjetSpy commented on #3593
So the proposed fix did not work, because the initialization of the attatchment array is broken in some way and gave me segfaults when calling any function from it. I have managed to make my application working with the validation layers enabled by setting **piplinecreateinfo.rasterizationstate.rasterizerDiscardEnable** to VK_FALSE (it wass VK_TRUE). this changed the **has_rasterization** flag on

[2021-12-09 16:57] jeremyg-lunarg commented on #3590
@farnoy, I'm finally getting around to looking at this in detail.  I'm not sure if the scenario you're describing in the original report is valid usage. (I'm also not sure if validation is handling it correctly). Let me restate it and try to explain the problem:

1. A Timeline Semaphore is used as a signal semaphore on queue A, with value = 1.
2. The same Timeline Semaphore is used as a signal on

[2021-12-09 17:48] ncesario-lunarg commented on #3593
Thanks for the issue @SovjetSpy! Is there any chance you could provide a code snippet that reproduces this? If that is not possible, could you provide a gfxreconstruct capture?

[2021-12-09 18:06] sfricke-samsung commented on #3593
@SovjetSpy gave the `vkCreateGraphicsPipelines` API Dump, but I think what I am missing from putting all the pieces together is the `VkGraphicsPipelineCreateInfo::renderPass` api dump tied to the pipeline. If you could get me all the `VkRenderPassCreateInfo` info I should be able to just build a simple test and **hopefully** be able to reproduce it from just that

[2021-12-09 18:39] farnoy commented on #3590
That's my bad, I missed this detail when I wrote down the steps, but yes, I was implicitly assuming there was a dependency between #1 and #2, otherwise it's not a valid usage as you've found. I'm confident my app was also inserting this dependency which is why it validated on the previous SDK & there's no corruption.

After adding the dependency between steps 1 and 2, were you able to reproduce th

[2021-12-09 18:41] SovjetSpy commented on #3593
I am sorry about that. I did not think of the importance of the renderpass and I will send the structs and API dump later tonight.

[2021-12-09 18:42] ncesario-lunarg commented on #3593
👍 thanks!

[2021-12-09 20:09] SovjetSpy commented on #3593
I have made the dump and added it to this comment:
[api_dump.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/7688094/api_dump.txt)

And here is my renderpass creation code:
[code]
I think this code explains itself.

Adding my pipeline creation code is difficult, because I have made a lot of systems around the creation that have a influence on the  actual creation, but i can see

[2021-12-09 21:07] mizhen commented on #3591
Hi @ncesario-lunarg and @jeremyg-lunarg, thank you for your reply.

I haven’t found any specific calls which change input parameters, but I suspect there might be some.

Regarding the second case (“Invalid vulkan function calls detected by the validation will not be passed to any lower layers or the driver.”), is there a way to see these invalid function calls that are detected by validation layer

[2021-12-09 21:08] ncesario-lunarg commented on #2767
Re-opening as #3592 is not a complete fix.

[2021-12-09 21:12] ncesario-lunarg commented on #2767
@larsivarsimonsen-arm please let me know if you are unable to make the changes @AaronHaganAMD [mentioned](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3592#issuecomment-990123429) and we will assign someone. Thanks!

[2021-12-09 21:14] jeremyg-lunarg commented on #2767
That change fixed the dispatch layer code, but we need to do something similar in the state tracker and derived classes. Anything that has a PostCallRecordCreateRayTracingPipelinesKHR() will need to not run it until the deferred operation completes. Maybe it can happen in chassis.cpp.

@AaronHaganAMD  is going to post a PR with a test case that shows the whole problem.

[2021-12-09 21:26] ncesario-lunarg commented on #3591
A function that fails a `PreCallValidate*` check (e.g., parameter validation), then `VK_ERROR_VALIDATION_FAILED_EXT` will be returned as the result for that function.

[2021-12-09 22:50] jeremyg-lunarg commented on #3590
Yes I'm able to reproduce this now, with 2 queues and 2 command buffers that do vkCmdCopyCmdBuffer().

[2021-12-09 23:49] ncesario-lunarg commented on #3553
Unfortunately, we don't have anyone who is able to add pkg-config support at the moment, but we are hoping to make build enhancements in the future.

[2021-12-09 23:49] #3553 closed

[2021-12-10 05:01] sfricke-samsung commented on #3593
So tried to recreate the issue from the api_dump but a not sure why you have

[code]

as you should be hitting errors that these are not valid enum values

-----

I have tried everything I can but can't seem to reproduce the issue... my guess is it might be something special due to the fact it is a swapchain image.

The next best thing is go to the VulkanSDK `path_to_sdk/x86_64/bin/gfxrecon-captur

[2021-12-10 08:52] SovjetSpy commented on #3593
The reason for those values is that I did not zero out the struct. I figured that is was not important, because I disables blending. I have zeroed it out since and id had no effect.

Also I have retried your origional proposed fix and it seems to work. I think I did something wrong when trying the first time.

I will try to make the gfxr capture later today.

[2021-12-10 09:28] larsivarsimonsen-arm commented on #2767
@ncesario-lunarg As mentioned in #3592 I currently don't have access to a device to test this on, so I won't be able to verify the fix.
If someone is available to pick this up, I think that would be better.

[2021-12-10 21:48] ncesario-lunarg commented on #2767
Sounds good @larsivarsimonsen-arm, and thanks for the getting the other fixes in!

[2021-12-12 13:31] incertia commented on #2711
somewhat related: i have reports which report an entirely incorrect shader stage when not setting push constants at all. e.g. using only push constants in the vertex shader and confirming that the `VkPushConstantRange`s passed to `VkPipelineLayoutCreateInfo` is only for the vertex shader, the VUID reports that `VK_SHADER_FRAGMENT_BIT` also uses the range but it has no `layout(push_constant)` block

[2021-12-12 14:02] helenginn opened #3599 "Should `ppEnabledExtensions` in validation error reports be `ppEnabledExtensionNames`?"
This comes with the caveat that I am entirely new to Vulkan as of today.

In handling a validation error,
[code]

I notice a reference to `ppEnabledExtensions` that, through context, I would have expected to be `ppEnabledExtensionNames`, and I cannot find `ppEnabledExtensions` mentioned anywhere on khronos.org. I am wondering if this is a typo in the validation error. Feel free to close if I misse

[2021-12-12 22:15] ziga-lunarg commented on #3599
That does look like a bug to me and I believe you're right that it should be probably be `ppEnabledExtensionNames` instead of `ppEnabledExtensions`. But this line does not come from validations layers, it is from the vulkan spec, so maybe an issue should be opened in https://github.com/KhronosGroup/Vulkan-Docs

[2021-12-13 10:06] helenginn commented on #3599
Thanks, I've passed it onto the Docs repository!

[2021-12-13 10:06] #3599 closed

[2021-12-14 21:58] cclao opened #3604 "ValidateDrawVertexIndex is using UINT32_MAX"
**Describe the Issue**
ValidateDrawVertexIndex is using UINT32_MAX

**Valid Usage ID**
This is discovered while working on ANGLE. ANGLE just implemented buffer sub-allocation, that we are sub-allocating from VkBuffer now. With that, we are seeing some synchronization validation errors. One such error is due to the TODO item listed in the code, see bellow for the detail.

**Environment:**
 - OS:
 -

[2021-12-14 22:06] cclao opened #3605 "synchronization validation failure related to dynamic descriptor set"
**Describe the Issue**
synchronization validation failure related to dynamic descriptor set

**Valid Usage ID**
This is found with ANGLE. ANGLE is OpenGLES implementation on top of vulkan. We recently implemented buffer sub-allocation from VkBuffer and run into syncval failure. The failure goes away if I disable the use of VK_DESCRIPTOR_TYPE_UNIFORM_BUFFER_DYNAMIC. My guess is that when dynamic un

[2021-12-15 15:34] mizhen commented on #3591
Hi @ncesario-lunarg and @jeremyg-lunarg,

Thank you for your help.

I found validation layer changed some pointers of original VkGraphicsPipelineCreateInfo to NULL. These changes might be caused by the following source code:

safe_VkGraphicsPipelineCreateInfo::safe_VkGraphicsPipelineCreateInfo(const VkGraphicsPipelineCreateInfo* in_struct, const bool uses_color_attachment, const bool uses_depthste

[2021-12-15 20:46] Tony-LunarG commented on #3591
GPU-AV will make a copy of the CreateInfo but it should only change anything in the rare case when the app is using all of the available descriptor set slots and then it replaces the instrumented shaders with the non-instrumented shaders since the GPU-AV descriptor set cannot be bound.

[2021-12-15 21:54] AdrianBunk opened #3607 "Build failure on MIPS"
In Debian on MIPS (32bit and 64bit, only little endian tested but the problem should also be present on big endian):

https://buildd.debian.org/status/fetch.php?pkg=vulkan-validationlayers&arch=mips64el&ver=1.2.189.0-1.1&stamp=1633569889&raw=0
[code]

This is due to:
[code]

Renaming ``mips`` to ``mymips`` or whatever name you consider appropriate fixes it.

[2021-12-15 23:45] AdrianBunk commented on #3607
@ZandroFargnoli This issue was introduced in commit 1ced2b6abd

[2021-12-16 18:57] ShabbyX opened #3609 "Syncval crashes in the presence of multiple subpasses with secondary command buffers"
To repro:

- Take ToT ANGLE and apply the following patches (if not landed already):
  * https://chromium-review.googlesource.com/c/angle/angle/+/3344373
  * https://chromium-review.googlesource.com/c/angle/angle/+/3344774
- Build with the following `gn` args specified:
  * `is_debug=true`
  * `angle_enable_custom_vulkan_cmd_buffers=false`
- Run `./angle_end2end_tests --gtest_filter=MultisampledRe

[2021-12-17 02:27] timvpGoogle opened #3611 "VK_ARM_rasterization_order_attachment_access crashes"
**Describe the Issue**
The following change is causing crashes in Chromium:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3601

First roll to crash:
3345619: Roll vulkan-deps from 39f3a18bdfbe to 71f20fae7128 (2 revisions) | https://chromium-review.googlesource.com/c/chromium/src/+/3345619

Example crash:
https://chromium-swarm.appspot.com/task?id=57de0b72d03c4711&w=true

[code]

**

[2021-12-17 02:28] timvpGoogle commented on #3611
@ianelliottus
Adding Ian to track this since he'll be the ANGLE Wrangler.

[2021-12-17 02:47] ncesario-lunarg commented on #3611
@timvpGoogle @ianelliottus any chance you could try the following and see if that fixes things?
[code]

[2021-12-17 03:05] ncesario-lunarg commented on #3607
Wow, that is unfortunate. Would adding the following at the top of the cpp file work, or potentially cause other problems?
[code]

[2021-12-17 03:21] AdrianBunk commented on #3607
Some header might be checking it, so yes this might potentially cause other problems.

It is a local variable with tiny scope, so renaming it should not cause too much pain:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/best_practices_utils.cpp#L379-L381

[2021-12-17 03:26] ncesario-lunarg commented on #3607
I agree a rename is trivial, but `mips` isn't exactly an outlandish variable name. I'm surprised GCC defines this without any `__` prefix/suffix. Is it possible this definition is coming from somewhere else?

[2021-12-17 03:43] AdrianBunk commented on #3607
``alpha``, ``pixel`` or ``vector`` (the latter two for AltiVec) are also not outlandish variable names but defined on other architectures.

gcc also defines ``_mips``, ``__mips`` and ``__mips__``.
From a namespace point of view ``mips`` is wrong, but that's compatibility with a mistake three decades ago when people were less aware of such issues.

No, as said it is in
[code]

[2021-12-17 20:34] #3611 closed

[2021-12-18 22:33] farnoy commented on #3527
@AaronHaganAMD I believe this code should be made aware of dynamic rendering:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/f8601f995fa29df95d981483a9ac256f67740997/layers/buffer_validation.cpp#L3357

`CmdBeginRendering` does not update this source of data like [`BeginRenderPass` does](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/f8601f995fa29df95d981483a9ac256f6774

[2021-12-18 22:47] #3270 closed

[2021-12-20 13:27] rg3igalia opened #3614 "Unexpected validation error in dynamic rendering CTS tests"
**Describe the Issue**
A few CTS tests related to dynamic rendering are reporting `VUID-vkCmdClearAttachments-pRects-00016` incorrectly, if I'm not mistaken. These tests begin rendering using `vkCmdBeginRenderingKHR` and a `VkRenderingInfoKHR` structure in which they indicate the render area. Later, they call `vkCmdClearAttachments` with the same rectangle and the layers report the error I mention

[2021-12-20 13:36] filnet opened #3615 "THREADING ERROR false positive when using vkWaitForPresentKHR"
**Describe the Issue**
Calling `vkWaitForPresentKHR` from a separate thread generates a THREADING ERROR:

[code]

According to [vkWaitForPresentKHR](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/vkWaitForPresentKHR.html), there is an exception for this function :

**Environment:**
 - OS: Windows 10
 - GPU: RTX 2060
 - SDK or header version if building from repo: 1.2.198.0

[2021-12-20 16:45] sultim-t commented on #3576
From Vulkan-Docs issue thread

[2021-12-20 17:19] ncesario-lunarg commented on #3527
@AaronHaganAMD Looks like if `VkLayerTest.CmdClearAttachmentTests` were adapted to use dynamic rendering, it would fail based on what @farnoy is pointing out. There are probably other cases where "old VUs" will fail when using dynamic rendering as well; though, these might have already been considered (I'm sure there are more dynamic rendering discussions I missed while I was out).

[2021-12-20 17:22] ncesario-lunarg commented on #3576
:+1: thanks for the heads up @sultim-t; I'll keep this open until we pick up the 1.2.203 header.

[2021-12-20 20:50] ianelliottus opened #3617 "Cannot compile VVL with latest Vulkan headers"
**Describe the Issue**

Cannot build Vulkan Validation Layer in latest Chromium/ANGLE build.  Looks like Jon Leech's latest header MR(s) broke the VVL build (see below for build output).

- Chromium change: https://chromium-review.googlesource.com/c/chromium/src/+/3350927
- Example bot that failed: https://ci.chromium.org/ui/p/chromium/builders/try/cast_shell_linux/1087008/overview
- Pointer to bu

[2021-12-20 23:49] ncesario-lunarg commented on #3614
Any chance this is related to https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/3527#issuecomment-997293910?

[2021-12-21 08:23] rg3igalia commented on #3614
It definitely looks related, yes. :+1:

[2021-12-21 16:28] AaronHaganAMD commented on #3614
The only validation error I seem to be getting for `dEQP-VK.dynamic_rendering.suballocation.load_store_op_none.color_load_op_none_store_op_store` is `UNASSIGNED-CoreValidation-DrawState-InvalidImageLayout` ...

[2021-12-21 17:05] #3576 closed

[2021-12-21 17:05] #3617 closed

[2021-12-22 10:03] rg3igalia commented on #3614
That's a separate and correct error, which will be fixed as part of internal Khronos VK-GL-CTS Gerrit 8596. I've just tested your pull request and it does fix the issue for me. Thanks!

[2021-12-22 18:27] #3595 closed

[2021-12-22 22:22] danginsburg opened #3622 "Validation incorrectly reports error with VK_IMAGE_LAYOUT_DEPTH_READ_ONLY_STENCIL_ATTACHMENT_OPTIMAL"
I believe validation has a bug with respect to its interpretation of the spec (which is at best unclear on the matter, but nevertheless I can't see validation's interpretation making sense).  The specific validation error is:

[code]

This is coming from putting an image in VK_IMAGE_LAYOUT_DEPTH_READ_ONLY_STENCIL_ATTACHMENT_OPTIMAL for read-only depth stencil.  I am keeping stencil in attachment-o

[2021-12-23 11:28] Rua opened #3623 "Check for sample operations in shader doesn't work with separate samplers"
The code in `SHADER_MODULE_STATE::IsSpecificDescriptorType` is supposed to check how specific descriptor variables are used. Two of the checks that are performed are for `is_sampler_implicitLod_dref_proj` and `is_sampler_bias_offset`, which are `true` if certain SPIR-V operations are used on a sampled image.

This check works fine if the sampled image is loaded directly from a descriptor with an `

[2021-12-29 15:44] ZOulhadj opened #3628 "Vulkan Validation Layers fails to report invalid VkWin32SurfaceCreateInfoKHR window handle."
**Issue description:**

I made a mistake by forgetting to set the **VkWin32SurfaceCreateInfoKHR** HWND property to a valid window handle. A subsequent
call to the **vkGetPhysicalDeviceSurfaceCapabilitiesKHR** returned **VK_UNKNOWN_ERROR(-13)**. The validation layer failed to pick this up.

Below is a forum post in which a person also got this error and the validation layer did not indicate that th

[2021-12-29 21:09] ziga-lunarg commented on #3628
Was VkWin32SurfaceCreateInfoKHR::hwnd `NULL` or something else?

[2021-12-30 01:35] ZOulhadj commented on #3628
Yes, hwnd was set to NULL.

[2021-12-30 02:06] probug12 opened #3629 "Can't create cube app with VK_IMAGE_VIEW_TYPE_CUBE"
**Issue description**
Can't create cube app using Vulkan SDK 1.2.189.0 & 1.2.198.1 for OSX & Linux. vkCreateImageView creates view "successfully" but always shows warning/error below which is too long and not helpful.

**Validation messages**
VkImageCreateInfo imageInfo {};
	imageInfo.sType = VK_STRUCTURE_TYPE_IMAGE_CREATE_INFO;
	imageInfo.imageType = VK_IMAGE_TYPE_2D;
	imageInfo.extent.width = wi

[2021-12-30 03:41] sfricke-samsung commented on #3629
1. ` VUID-VkImageViewCreateInfo-subresourceRange-01483`

You have `imageInfo.arrayLayers = 1` and `view_info.subresourceRange.layerCount = 6` which is invalid because the image needs to be created with enough layers for the imageView to use. This seems like a proper validation error to me and you should be using  `imageInfo.arrayLayers = 6`

2. `VUID-VkImageViewCreateInfo-image-01003`

You have

[

[2021-12-30 06:02] probug12 commented on #3629
I changed imageInfo.arrayLayers = 6  but

typedef enum VkImageType {
    VK_IMAGE_TYPE_1D = 0,
    VK_IMAGE_TYPE_2D = 1,
    VK_IMAGE_TYPE_3D = 2,
} VkImageType;

I have "view_info.viewType = VK_IMAGE_VIEW_TYPE_CUBE". Where do you suggest I use "VK_IMAGE_VIEW_TYPE_CUBE" ?

[2021-12-30 06:04] probug12 commented on #3629
@sfricke-samsung   I changed imageInfo.arrayLayers = 6 but

typedef enum VkImageType {
VK_IMAGE_TYPE_1D = 0,
VK_IMAGE_TYPE_2D = 1,
VK_IMAGE_TYPE_3D = 2,
} VkImageType;

I have "view_info.viewType = VK_IMAGE_VIEW_TYPE_CUBE". Where do you suggest I use "VK_IMAGE_VIEW_TYPE_CUBE" ?

[2021-12-30 12:06] ziga-lunarg commented on #3629
`imageInfo.imageType` shoud be `VK_IMAGE_TYPE_2D` and `view_info.viewType` should be `VK_IMAGE_VIEW_TYPE_CUBE`

[2021-12-30 14:59] probug12 commented on #3629
@ziga-lunarg Thats exactly what I have but getting all the same errors. Nothing changed a bit. Is there a working example of cube app using vulkan 1.2?

[2021-12-30 15:09] sfricke-samsung commented on #3629
So if you have a `VK_IMAGE_CREATE_CUBE_COMPATIBLE_BIT` in your image and a `VK_IMAGE_VIEW_TYPE_CUBE` in your imageView then there should be no error (for VUID-VkImageViewCreateInfo-image-01003)

[2021-12-30 15:18] probug12 commented on #3629
@sfricke-samsung I have “ imageInfo.flags = VK_IMAGE_CREATE_CUBE_COMPATIBLE_BIT;” , so I assume there is a bug in validation layers.  vkCreateImageView returns success 🤷🏻‍♂️

[2021-12-30 15:33] ziga-lunarg commented on #3629
The following works for me:

[code]

[2021-12-30 22:26] probug12 commented on #3629
Still not working for me https://pastebin.com/8gR4s0AJ

[2021-12-30 23:26] #3628 closed

[2021-12-31 01:05] ncesario-lunarg commented on #3629
Are you attempting to create a cube map view from a swapchain image? It looks like the intent is to create a cube map view of `texture_image`, but I run into these errors here:
[code]
before `texture_image` is created  (I think before any non-swapchain image is created), and this error looks valid to me.

Also possibly worth noting is that the pasted sample code did not run for me as-is due to VK_

[2021-12-31 10:23] Rua opened #3641 "Check that `Dref` operations in shader match `compareEnable` on sampler"
In the spec section "[Texel Input Validation Operations](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/chap16.html#textures-input-validation)", two of the invalid/undefined cases are:

The validation layer doesn't currently check for this, and there is no VUID for these items, so maybe that is also something that needs correcting in the documentation. But since the spec does st

[2022-01-02 20:41] Diamond-D0gs opened #3642 "Validation layers in SDK 1.2.198.1 not correctly reporting incorrect object destruction order"
**Describe the Issue**
The validation layers are only reporting that a semaphore is being incorrectly destroyed, but incorrectly setting the destruction order of the device, instance, and swapchain reports no error.

**Valid Usage ID**
[ERROR: Validation]
Validation Error: [ VUID-vkDestroyDevice-device-00378 ]

**Environment:**
 - OS: Windows 11
 - GPU: Geforce GTX 1080
 - SDK: 1.2.198.1
 - Option

[2022-01-03 18:49] ncesario-lunarg commented on #3641
@sfricke-samsung are these `VUID-RuntimeSpirv-*` candidates?

[2022-01-03 18:55] mark-lunarg commented on #3495
@samwalls-arm, sure, that's a fine spot to add the missing mentions. There may be some other missing enables -- please feel free to add any that you notice, or push them back to us!

[2022-01-03 21:05] danginsburg commented on #3622
An important detail I should also mention is the VkImageView being sampled does not have VK_IMAGE_ASPECT_STENCIL_BIT.  So one fix could be to allow the layouts to be the same as long as the texture descriptor does not have a stencil aspect (or vice versa with a depth aspect).  However, I have not found where there is language permitting that in the spec, so it might require spec modification.

[2022-01-03 21:49] Tony-LunarG opened #3645 "Raytracing CTS test crashes with validation"
**Describe the Issue**
dEQP-VK.ray_tracing_pipeline.pipeline_library.configurations.multithreaded_compilation_dho.s0_l1 crashes with validation starting at #3592 scripts: Store and delete mem for deferred ops

Crash is in the Nvidia driver in CreateRayTracingPipelinesKHR

**Environment:**
 - OS: Windows 10
 - GPU: GeForce GTX 2080
 - SDK or header version if building from repo: f16f149 or today's

[2022-01-03 22:18] mark-lunarg commented on #3642
@Diamond-D0gs, thank you for the report.  The validation layers report leaked objects at `DestroyDevice()-` and `DestroyInstance()-`time. If `vkDestroyInstance()` is never called there remains no opportunity to report undestroyed child objects belonging to that instance.  However, as relates to this issue, not calling `vkDestroyInstance()` on the `VkInstance` object itself _is_ valid usage -- ther

[2022-01-04 06:17] sfricke-samsung commented on #3641
It says above in that section it says

So this means this is not "undefined behaviour" but rather that the value returned is undefined. So if there is an example you have hit that has caused side effects such as crashing, they I would purpose we create CTS test for it as my reading of the spec shows drivers/compilers should be able to handle these cases

So I do agree that there are a lot of cases

[2022-01-04 16:56] ncesario-lunarg commented on #3645
@larsivarsimonsen-arm, any chance you'd be able to look into this?

[2022-01-04 18:23] ncesario-lunarg commented on #3641
Yes, if we do add anything, I would second that opinion.

[2022-01-05 09:26] larsivarsimonsen-arm commented on #3645
Hi @ncesario-lunarg,
Unfortunately, I do not have a way to run this setup so I'm not able to debug this.
I'll follow this thread and try to be of assistance to anyone that can run this, but I will not be able to drive the debug effort.

[2022-01-05 13:31] Rua opened #3651 "Incorrect performance warning for general layout with image self-copy"
I'm copying data from one part of an image to another, within the same mipmap level and array layer. For this operation, `GENERAL` is the only possible image layout, so I transition the image to this layout and then perform the copy. The validation layer gives me a performance warning telling me to use `TRANSFER_SRC_OPTIMAL` and `TRANSFER_DST_OPTIMAL`, which isn't correct. It should only give this

[2022-01-06 17:20] mark-lunarg commented on #3642
Closing this for now, if there are any other issues that were incompletely addressed, please reopen this issue or file another -- thanks!

[2022-01-06 17:20] #3642 closed

[2022-01-06 23:55] #3590 closed

[2022-01-07 23:00] ncesario-lunarg commented on #1495
Sorry, I bumped this one towards the back of the wagon so many times it eventually _fell off_ the wagon.

I'm not sure the original VUID (02275) can be reproduced, at least not without hitting `02251` first. I've put up a change (#3662) that addresses the CTS error, and I _think_ it should resolve the one @danginsburg is seeing as well, but I'm having hardware issues at the moment trying to get th

[2022-01-09 20:17] martty commented on #2441
I have ran into the same issue, I am attaching a reasonably minimal API dump:
[dump.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/7835838/dump.txt)

It contains the recording of two command buffers, but only the second is submitted - the first would be submitted subsequently. This submission however waits on the future submission of the first.

During the last command in the d

[2022-01-10 19:44] #3645 closed

[2022-01-10 20:53] danginsburg opened #3664 "vkCmdBuildAccelerationStructuresKHR missing object tracking for VkAccelerationStructureBuildGeometryInfoKHR.buildInfo.scratchData.deviceAddress"
**Describe the situation in which you encountered the missing validation**
Issue description:
I had a GPU hang on NVIDIA with vkCmdBuildAccelerationStructuresKHR.  After debugging it with Aftermath, I found that the GPU VA it referenced in the crash was the scratch buffer and this led me to find that we were freeing this buffer before it was used on the GPU.

**Valid Usage IDs requested**
Please i

[2022-01-11 17:18] #3400 closed

[2022-01-11 20:51] martty commented on #2441
Hi, thank you for looking into it.

I built latest VVL (ad20b97), but unfortunately I still get the same validation errors.

[2022-01-12 08:51] pascal-gw opened #3672 "Validation of ray-tracing pipeline creation is ignoring shaders from pipelines libraries"
Hi,

Tested with version 1.2.189.2.

I'm creating a ray-tracing pipeline with the shaders provided by pipelines libraries. According to the spec:
`If pipeline libraries are included in pLibraryInfo, shaders defined in those libraries are treated as if they were defined as additional entries in pStages, appended in the order they appear in the pLibraries array and in the pStages array when those li

[2022-01-12 14:17] Kangz opened #3673 "Use of DRM format modifier extension structs when not enabled"
**Describe the Issue**
This [commit](https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/d0f84e4de9fb0a6dd48a8e3c48d3c829467fd9db) is causing an ASSERT in Swiftshader:

The [Vulkan spec states that it is invalid to chain extension structs that aren't defined for the core version or enabled via an extension](https://www.khronos.org/registry/vulkan/specs/1.2/html/vkspec.html#:~:text=Each%

[2022-01-12 14:18] Kangz commented on #3673
FYI @c0d1f1ed

[2022-01-12 16:35] #3614 closed

[2022-01-13 00:07] Jonathan-Weinstein opened #3676 "syncval: False SYNC-HAZARD-READ_AFTER_WRITE CopyBufferDest->VertexBufferRead for non-existent vkCmdCopyBuffer."
I'm testing an application using `VK_VALIDATION_FEATURE_ENABLE_SYNCHRONIZATION_VALIDATION_EXT` that (incorrectly, I believe) generates the following:
"
API High Miscellaneous 1287084845 Validation Error: [ SYNC-HAZARD-READ_AFTER_WRITE ] Object 0: handle = Surface Buffer (sid 204), name = Surface Buffer (sid 204), type = VK_OBJECT_TYPE_BUFFER; | MessageID = 0x4cb75b2d | vkCmdDraw: Hazard READ_AFTER

[2022-01-14 17:55] ncesario-lunarg commented on #3672
This will hopefully get addressed with an upcoming refactor related to pipeline libraries.

[2022-01-14 17:58] ncesario-lunarg commented on #3676
FYI @jeremyg-lunarg @jzulauf-lunarg.

[2022-01-15 01:36] ncesario-lunarg commented on #3629
@probug12 do you think there is still an issue here, or should this be closed?

[2022-01-15 01:59] probug12 commented on #3629
@ncesario-lunarg Hi. I'm slowly rewriting everything from scratch to make sure I'm doing everything correctly. Not closing yet. Can I reopen it if there is an issue?

[2022-01-16 12:45] BestYeen opened #3681 "Reproducible device lost and reproducible DLL crash in toplevel"
**Describe the Issue**
I am using the Vulkan Configurator to validate my test program where I build sample code for various usage techniques with Vulkan.
I have a reproducible device lost when working with shader-based validation and a subpass input.
Another problem is a reproducible crash with an invalid memory access in VkLayer_khronos_validation.dll when resizing my window and remaking the swap

[2022-01-17 16:54] ncesario-lunarg commented on #3629
@probug12 yep, you can re-open (there should be a "re-open" button at the bottom of this issue page) if it turns out there is an issue. Or worst case you can always open a new issue :)

Closing for now.

[2022-01-17 16:54] #3629 closed

[2022-01-17 20:47] ncesario-lunarg commented on #3681
Thanks for the issue @BestYeen and taking part in the survey! And thank your for the app to reproduce the issue! Unfortunately I'm getting the following when trying to run it:
[code]
Does the app depend on something specific to your hardware? Do you perhaps have a `.cabal` file or some other means for running the app from source?

[2022-01-17 20:54] BestYeen commented on #3681
Oh, I should have mentioned that! If it detects more than one physical device, it lists them with indexes. Just run t.exe 0 to select the discrete graphics card in this case. :)

[2022-01-18 12:07] sfricke-samsung commented on #3623
I was going to write up a test to confirm this and now looking into this the 3 VUs for unnormalized coordinates (`VUID-vkCmdDraw-None-02702`, `VUID-vkCmdDraw-None-02703`, `VUID-vkCmdDraw-None-02704`) There seems to be some other issues as well

tl;dr This is a valid issue and I have ran into this similar issue [before](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2442) and can look

[2022-01-18 17:31] ncesario-lunarg commented on #3681
Thanks for the quick response. If I understand correctly, you are seeing the crash when resizing the window? I attempted to reproduce this using the settings specified in `Notes.txt`, but was not able to. It looks like the following layers are available on your system. Do you know if any of them are running when you're seeing the crash?
- VK_LAYER_RENDERDOC_Capture (1.2.131)
- VK_LAYER_OBS_HOOK (1

[2022-01-18 20:21] #3623 closed

[2022-01-18 23:17] BestYeen commented on #3681
Renderdoc, OBS, Steam, etc. should all be off with me trying this out. But yeah, it might very well be that some hook I am not aware of is causing this, or some system service I've disabled ages ago. My system usually runs very well, has no hardware problems, no crashes or anything.

Sometimes the program doesn't crash if I use another option first.
I've tried this with Haskell's traditional copyi

[2022-01-19 19:38] ncesario-lunarg commented on #3681
If you are able to build a debug version of validation layers, that should tell us exactly where the crash is occurring when running your exe attached to the VS debugger. And/or, if you can reproduce the crash while recording a playback using gfxreconstruct, that might also allow us to reproduce the crash on our end (as I stated earlier, I was unable to reproduce the crash on my system).

[2022-01-19 23:49] darksylinc opened #3688 "False positive with VK_KHR_shader_float16_int8"
**Describe the Issue**

The validation complains with the following, even though I believe this is incorrect.

[code]

# How to repro:

1. ~Create a Vulkan Device of 1.0.2 (this is important, at least it must **not** use Vk 1.2)~ It doesn't work with 1.2 device either.
2. Request `VK_KHR_storage_buffer_storage_class`, `VK_KHR_16bit_storage`, and `VK_KHR_shader_float16_int8` as device extensions
3.

[2022-01-19 23:50] mhogdahl opened #3689 "spv::CapabilityGroups isn't supported"
VK_AMD_shader_ballot adds support for SPV_AMD_shader_ballot, which adds 'OpCapability Groups' and a bunch of OpGroup-instructions.

Feeding spirv code to vkCreateComputePipelines with 'Capability Groups' result in the validation error below. It says 'Unhandled OpCapability' since 'groups' is missing from string_SpvCapability(spirv_validation_helper.cpp::347). I checked in debugger that it was capa

[2022-01-19 23:52] BestYeen commented on #3681
Using gfxreconstruct first and synchronization validation second, it doesn't crash.
Using synchronization with edited layers to also involve gfxreconstruct and reorder them a little... that kept the crash:
http://hai.dogpixels.net/temp-LunarG/gfxrecon_capture_20220120T004841.gfxr
http://hai.dogpixels.net/temp-LunarG/t.txt
This crash seems to depend on the order in which the layers are used.
Maybe

[2022-01-20 00:31] #3688 closed

[2022-01-20 16:32] Rua commented on #3641
To come back to this, the `DESCRIPTOR_REQ_VIEW_TYPE_*` and `DESCRIPTOR_REQ_*_SAMPLE` constants in the source code are used to check for shader-bound resource matching. I noticed that the rules for this check are listed in the same section. They are currently included as validation checks, and refer to VUID-vkCmdDraw-None-02699, which simply states:

No mention is made of what counts as "valid". It

[2022-01-20 16:35] sfricke-samsung commented on #3689
So the `spirv_validation_helper.cpp` file is generated from the `vk.xml` that also populates the Vulkan Spec table
https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/vkspec.html#spirvenv-capabilities

This type of issue has [happen before](https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2456#issuecomment-755941982) and I will take the action to add it the [Vulkan-Docs

[2022-01-21 13:09] ncesario-lunarg commented on #3688
@darksylinc that is correct, features are _optional_, and--if you want to use a specific one--you _must_ enabled it (e.g., `VkPhysicalDeviceVulkan12Features::shaderFloat16`). If you want to use a specific feature, I don't think anything will prevent you from manually setting that feature to `VK_TRUE` (e.g., `features12.shaderFloat16 = VK_TRUE`) and passing that along to  `vkCreateDevice`. However,

[2022-01-21 13:46] ncesario-lunarg commented on #3641
I didn't check all of the `DESCRIPTOR_REQ_*` logs, but it looks like at least some of them were added long ago to address "core" issues. That said, maybe it makes sense to use a different/unassigned VUID for logging those errors, but we'd have to look at those case by case. e.g., https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1148 was added a long time ago and was originally logged a

[2022-01-21 13:47] ncesario-lunarg commented on #3689
Thanks @sfricke-samsung!

[2022-01-24 16:41] Tobski opened #3698 "Better identify external synchronization conflicts when thread safety is enabled"
**Describe the Issue**
When the validation layers detect an external synchronization violation, the "second" call that overlaps is blamed for the error. This can be confusing when debugging an application, as it doesn't indicate which call actually caused the violation. For instance: https://github.com/KhronosGroup/Vulkan-Docs/issues/1731

It would be good if validation could identify both of the

[2022-01-24 16:49] filnet commented on #3698
Related: Related: KhronosGroup/Vulkan-ValidationLayers#3615

[2022-01-24 17:33] jeremyg-lunarg commented on #3664
VUID-vkCmdBuildAccelerationStructuresKHR-pInfos-03802 says the scratchData address must be valid at the time of the function call but it currently isn't checked. It looks like it'll be pretty easy to add though.

I think destroying the buffer to early should trigger VUID-vkDestroyBuffer-buffer-00922. But currently the state tracker isn't tracking usage for any of the buffers specified by device ad

[2022-01-24 17:47] jeremyg-lunarg commented on #2441
We're both tracking (CoreChecks::PostCallRecordQueueSubmit) and validating image layouts transitions at submit time but we shouldn't be doing this work until any previous wait semaphores have signaled.  The PR I mentioned above gets us closer to making this possible but further reorg is required.

[2022-01-24 17:50] mbechard commented on #2441
You should be able to validate when the command buffer that will signal >= the timeline value is submitted, no need to wait for actual signal, I think?

[2022-01-24 19:40] jeremyg-lunarg commented on #2441
Good point and I think we're tracking enough information now in SEMAPHORE_STATE::operations_ to do that.

[2022-01-24 20:13] sfricke-samsung opened #3699 "Improve missing features/extensions messages"
https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/3688 shows that the error messages don't do a good enough job explaining what is happening. The whole feature stuff in Vulkan (especially with promoted features) is not for the faint of heart and if a future dev gets these errors, I would rather them not need to create a duplicate issue

[2022-01-25 18:06] zmike opened #3701 "VkImageViewUsageCreateInfo errors"
I have an image of format R16G16_FLOAT with usage including VK_IMAGE_USAGE_COLOR_ATTACHMENT_BIT, and then I'm creating a E5B9G9R9 imageview and using VkImageViewUsageCreateInfo to remove that bit, but I still get validation errors:

[code]

**Valid Usage ID**
VUID-VkImageViewCreateInfo-usage-02652

**Environment:**
 - OS: linux
 - GPU: any
 - SDK or header version if building from repo: recent git

[2022-01-26 08:36] sfricke-samsung commented on #3701
I'm confused what the issue is, it seems you are mixing up `VK_IMAGE_USAGE_COLOR_ATTACHMENT_BIT` and `VK_FORMAT_FEATURE_COLOR_ATTACHMENT_BIT`?

This VUID error is because you must have `VK_IMAGE_USAGE_INPUT_ATTACHMENT_BIT` set but your device doesn't support the optimal format feature bits for `VK_FORMAT_E5B9G9R9_UFLOAT_PACK32`

[2022-01-26 14:05] zmike commented on #3701
Ergh okay it's gonna be one of those weeks. Thanks!

[2022-01-26 14:05] #3701 closed

[2022-01-27 15:49] tomek-brcm opened #3706 "vkGetPhysicalDeviceToolProperties implementation in the validation layer is buggy"
I'm seeing 2 problems with the vkGetPhysicalDeviceToolProperties() implementation inside validation layer when it is called with a non-null pToolProperties pointer:

1. The implementation calls the next layer down with *pToolCount value decremented by 1, even if the value was 0 to start with.
2. The implementation increments *pToolCount value even if this would exceed the capacity. I didn't check

[2022-01-28 10:23] #3389 closed

[2022-01-28 11:36] #3410 closed

[2022-01-28 12:32] #3294 closed

[2022-01-28 17:29] #3492 closed

[2022-01-28 20:51] arpiagarwal opened #3715 "VK_QCOM_fragment_density_map_offset: Add VUIDs"
Issue description:
Add validation layer support for VK_QCOM_fragment_density_map_offset extension.

Please include the valid usage IDs for the checks you are requesting:
VUID-VkFramebufferCreateInfo-renderPass-06502
VUID-VkSubpassFragmentDensityMapOffsetEndInfoQCOM-fragmentDensityMapOffsets-06503
VUID-VkSubpassFragmentDensityMapOffsetEndInfoQCOM-fragmentDensityMapAttachment-06504
VUID-VkSubpassFra

[2022-01-28 20:54] arpiagarwal commented on #3715
I need to assign this to myself but can't figure it out. Can someone help? Thanks.

[2022-01-30 13:03] ziga-lunarg commented on #2102
I believe this issue was resolved in SPIRV-Tools, so I am closing this. If this is not true you can reopen @pixeljetstream

[2022-01-30 13:03] #2102 closed

[2022-02-01 18:44] jeremyg-lunarg opened #3717 "Crash in sync validation (AccessContext::DetectHazard)"
**Describe the Issue**
This is a migration of [Lunarxchange issue 1052](https://vulkan.lunarg.com/issue/view/61558b455df1124cb68c3115)

Original description:
After installing the new Vulkan SDK 1.2.189.2, When I start my application, an exception is occured
Exception thrown at 0x00007FFCB174979F (VkLayer_khronos_validation.dll) in Allplan_99D.exe: 0xC0000005: Access violation reading location 0x00

[2022-02-01 18:46] jeremyg-lunarg commented on #3717
Further comments from the submitter:

The problem is with the combined image sampler descriptor , where are variable counts in this case the array size is 1024. Only the first descriptor is set, the rest is empty.
in function :
`bool CommandBufferAccessContext::ValidateDispatchDrawDescriptorSet(VkPipelineBindPoint pipelineBindPoint, const char func_name)
`the line:
`const IMAGE_STATE img_state = i

[2022-02-01 18:49] jeremyg-lunarg commented on #3717
img_view_state->image_state should only be null if the image view has been destroyed but someone is still holding a reference to it. So far that doesn't seem to be the case but I cannot yet reproduce this crash locally or find an explanation in the replay files.

[2022-02-01 21:30] pdaniell-nv opened #3718 "False validation error with push descriptors"
**Describe the Issue**
The validation layer generates false errors when push descriptor are used in the same command buffer and regular descriptors, which is allowed. The issue can be easily reproduced using this modified version of vkcube: https://github.com/KhronosGroup/Vulkan-Tools/tree/push-descriptor-validation-bug-repro.

Running this vkcube with --validate will cause the following bogus val

[2022-02-01 23:19] jeremyg-lunarg commented on #3717
I was able to reproduce the crash with one of the gfxrecon files and come with a fix. Still need to make a unit test to cover this case.

[2022-02-02 00:16] ziga-lunarg commented on #3718
Thanks for the easily reproduceable example, but it appears to me that this issue was already resolved with #3658
@pdaniell-nv Can you please verify?

[2022-02-02 18:12] #3651 closed

[2022-02-02 18:22] ncesario-lunarg commented on #1495
@aitor-lunarg is also looking into this.

[2022-02-03 22:38] pdaniell-nv commented on #3718
I can confirm that this bug no longer exists with the latest in master. Thanks for the pointer.

[2022-02-03 22:38] #3718 closed

[2022-02-03 23:15] Try commented on #3528
Hi, all!
I spotted an odd validation message, while I was working on VK_KHR_dynamic_rendering support for my game engine:
[code]
I'm pretty sure that my vulkan pipeline setup is correct, and this message is probably caused by bug in dynamic-rendering validation.
I've done quick code-reading: it seems root cause is in `ValidateFsOutputsAgainstRenderPass`:
[code]
Basically validation-layer expects V

[2022-02-03 23:48] sfricke-samsung commented on #1495
So I was able to run `dEQP-VK.image.sample_texture.128_bit_compressed_format` and get the `VUID-VkImageCreateInfo-imageCreateMaxMipLevels-02251` error because it doesn't support the `VK_FORMAT_FEATURE_STORAGE_IMAGE_BIT` bit

I guess I don't see this as a Validation Layer issue... `VK_IMAGE_CREATE_EXTENDED_USAGE_BIT` was added in `VK_KHR_maintenance2` for

so if there is not compatible format for t

[2022-02-04 07:55] sfricke-samsung commented on #1495
So I pushed my attempt to fix this by just ignoring the the `VkImage` Creation Limits when using `VK_IMAGE_CREATE_EXTENDED_USAGE_BIT` (same idea as https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3662)

I was able to pass

[code]

now with no validation errors

As for issues with errors in at `vkCreateImageView` time, I still take the stance that there is no bug as you need to be usin

[2022-02-04 18:30] Ipotrick commented on #3450
I encountered the same issue as @Eichenherz.
The validation complains about a RAW of my depth image wich is bound in a giga set that holds all images. I dont actually access the corresponding descriptor ofc but i still get the validation error.

On a side note i also get a validation error when i destory a ressource wich is bound to the mega set but not accessed on the gpu (aside from beeing bound

[2022-02-04 22:00] Ipotrick commented on #3450
i read throu other issues and found out that both of my issues appear to be fixed now:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3719
https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/3717

[2022-02-05 01:06] Ipotrick commented on #3717
i have encountered a similar issue.
When using a descriptor set with the partially bound flag and destroying an image that is bound to the set but not 'dynamicly used' in the shader i get a crash in synchronization_validation.cpp at line 1312.

[code]

gdb tells me that the `image` parameter is a struct at zero:

trunkated call stack:

I am on Windows 10
Gtx 1080ti
Driver version: 511.23
Vulkan SD

[2022-02-05 01:13] Ipotrick commented on #3450
After testing a bit i found out that my issues are indeed not fixed, and the linked may have fixed a crash but not the faulty validation message.

[2022-02-05 01:30] Ipotrick opened #3729 "Wrong Validation Message when destroying ressource in descriptor set with partially bound flag"
**Describe the Issue**
When using a descriptor set, created with the partially bound bit and destroying a ressource in that set wich is not 'dynamicly used' by a shader the validation layers give a false positive error message like below.
When turning on gpu assisted validation this false positive message dissapears indicating there is indeed a bug in the validation layers.

**Valid Usage ID**
cre

[2022-02-07 08:45] bmerry opened #3730 "Insecure shader cache creation"
**Describe the Issue**
On Linux, the shader cache is written to a known filename in the common tmp directory (e.g. `/tmp/shader_validation_cache-1000.bin`) which opens up a number of security issues on a multi-user system:

- An attacker can place a symlink there, causing the victim to write to an arbitrary file (including overwriting their own files).
- An attacker can place their own file there,

[2022-02-07 20:26] aitor-lunarg commented on #1495
Regarding the initial purpose of the issue, there may be 2 reasons to why that error is triggered. Having in mind that usage is inherited from the image:

1. The usage is not compatible with the image view's format. Even if the image was created with the extended usage and block texel view compatible, when we create the view, the view's usage and format need to be compatible. A compressed format w

[2022-02-07 22:23] ianelliottus opened #3734 "Cannot build VVL with latest Vulkan-Headers"
The Chromium autoroll of Vulkan components broke last Friday, because of Jon Leech's change from that day.

- Link to first Chromium change to break: https://chromium-review.googlesource.com/c/chromium/src/+/3439034
- Link to example of build failures: https://logs.chromium.org/logs/chromium/buildbucket/cr-buildbucket/8823155286294776001/+/u/compile__with_patch_/stdout

[2022-02-08 03:43] ncesario-lunarg commented on #3450
Assigning to @jeremyg-lunarg for now, but with the expectation that it may be a while before he has a chance to do further investigation.

[2022-02-08 04:48] ncesario-lunarg commented on #3729
Thank you for the issue @Ipotrick. My understanding of `VK_DESCRIPTOR_BINDING_PARTIALLY_BOUND_BIT` was that it allowed a bound descriptor set to contain invalid _descriptors_ ("invalid" in the sense the descriptor had never been updated, or perhaps had mis-matching view and image types, etc.). However, I'm not seeing anything in the spec to indicate it is legal to destroy a _buffer_ while it is re

[2022-02-08 07:08] youss2017 opened #3733 "Validation Layer Reports Invalid attribAddress alignment for vertex attribute"
I do not understand what the error is saying because there is no attribAddress alignment requirement in vkPhysicalDeviceLimits, and the spec is very vague and does not saying anything useful. This error occurs for all three attributes.

Here is the full error:
Validation Error: `[ VUID-vkCmdDrawIndexed-None-02721 ] Object 0: handle = 0xfef35a00000000a0, type = VK_OBJECT_TYPE_BUFFER; Object 1: hand

[2022-02-08 08:37] sfricke-samsung commented on #3733
some background:

`attribAddress` is a from the [formula the spec has](https://www.khronos.org/registry/vulkan/specs/1.3-extensions/html/vkspec.html#fxvertex-input-address-calculation):

I think the error message really lacks giving numerical values of "why" its not aligned correct and that is the real issue here!

I am assuming (but have been surprised before) the VVL code is correct in this case

[2022-02-08 09:39] youss2017 commented on #3733
What does VVL and VU stand for?
This information may be useful.
Vertex Stride: 32 bytes, Offsets 0: 0, Offsets 1: 12, Offsets 2: 24

[2022-02-08 11:01] oddhack commented on #3734
OK. That sounds like just a consequence of the provisional extension changing its interfaces as they're allowed to.

[2022-02-08 11:56] baldurk opened #3735 "Crash validating shader that uses OpConvertUToPtr with atomic operations"
**Describe the Issue**
When validating an application that uses a shader module containing `OpConvertUToPtr` to generate a pointer later used with `OpAtomicUMax` the validation crashes inside `SHADER_MODULE_STATE::SpirvStaticData::SpirvStaticData`.

Specifically in the `default:` case when an atomic operation is encountered `module_state.get_def()` is called to get the pointer itself by ID, but th

[2022-02-08 13:52] baldurk opened #3736 "Image format feature checks applied to underlying image format, not view format"
**Describe the Issue**
The application creates an image with `VK_IMAGE_CREATE_MUTABLE_FORMAT_BIT` to allow view format casting and the base image format `VK_FORMAT_B8G8R8A8_SRGB`. I don't think the base format matters, only that it does _not_ support storage writes.

The application then creates an image view and performs a cast using the mutable format to the compatible format `VK_FORMAT_R32_UINT

[2022-02-08 13:52] ncesario-lunarg commented on #1495
Thanks for the confirmation @danginsburg. It does seem like `VK_KHR_image_format_list` and `VK_IMAGE_CREATE_EXTENDED_USAGE_BIT_KHR` aren't fully compatible, would you agree @sfricke-samsung?

[2022-02-08 13:58] ncesario-lunarg commented on #1495
Closing this for now and creating a new issue to capture what is fixed in #3724 (per Aitor's suggestion).

[2022-02-08 13:58] #1495 closed

[2022-02-08 14:05] ncesario-lunarg opened #3737 "CreateImage does not currently respect `VK_IMAGE_CREATE_EXTENDED_USAGE_BIT_KHR`"
As originally reported [here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/1495#issuecomment-954787390), creating an image with `VK_IMAGE_CREATE_EXTENDED_USAGE_BIT_KHR` can trigger a false error.

**Valid Usage ID**
VUID-VkImageCreateInfo-imageCreateMaxMipLevels-02251 and similar VUIDs that take image format + usage into account, as only the format + usage matters at image view c

[2022-02-08 15:26] amaiorano commented on #3734
Hi @mikes-lunarg, I work on WebGPU at Google, and would like to know if you think this issue will be addressed fairly soon? As an interim solution, would it be possible to add an alias to the new struct name with the old name?

[2022-02-08 16:06] oddhack commented on #3734
It sounds like you're running into the fact that these are provisional extensions which do not promise interface stability. You could ask the Vulkan Video TSG (who ultimately owns the definition of the video extensions) on the KhronosGroup/Vulkan-Docs repository if they're willing to support such a backwards-compatibility alias. But until the extensions are finalized, API changes can continue to h

[2022-02-08 16:07] sfricke-samsung commented on #3736
So I think you are write and should just use the `VkImageView` format feature, but the spec says say "image format features" and curious if that was just an oversight in the spec VU not accounting for mutable formats

Will raise a Spec issue to double check

[2022-02-08 16:10] sfricke-samsung commented on #3735
So the `BuildDefIndex` function is a spot for improvement as it is manually just has instructions added. I tried to add what I thought was everything I would see in an atomic for https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/58b843521813d864d1900a3e1b1ed2ae296482be but I do think this is as simple as adding `OpConvertUToPtr`

I also would try looking harder in the SPIR-V spec for

[2022-02-08 16:44] llandwerlin-intel commented on #3736
Looks like the write fix indeed, we meant the format to be what's in the view.

[2022-02-08 16:48] sfricke-samsung commented on #3736
Perfect thanks for the confirmation @llandwerlin-intel, I will add the fix then (in spec and VVL) and write a test to prevent regression!

[2022-02-08 17:40] Ipotrick commented on #3729
Thank you for the response! I am still new vulkan and have trouble navigating the spec (i didnt know what VUID's or "valid usages id's" were until now haha). I see that the description of vkDestroyBuffer souhld have a list of all valid usages and as mine is not listed it appears that you are right and i missinterpreted the flag.
For completeness, i also use the flag VK_DESCRIPTOR_BINDING_UPDATE_AF

[2022-02-08 18:06] mikes-lunarg commented on #3734
@amaiorano I have a fix running through CI now, it should be merged shortly.

Regarding the API instability, Vulkan-ValidationLayers builds with `VK_ENABLE_BETA_EXTENSIONS` to enable some features related to VK_KHR_portability_subset as well as to provide correct behavior for applications using other provisional extensions. We mitigate potential CI and build breakages internally by maintaining a p

[2022-02-08 18:22] amaiorano commented on #3734
Thanks @mikes-lunarg, much appreciated.

[2022-02-08 19:21] #3734 closed

[2022-02-08 19:50] plasmacel commented on #3729
This is pure assumption, the specification doesn't narrow what is considered an invalid descriptor here.

All submitted commands that refer to buffer, either directly or via a VkBufferView, must have completed execution

I don't think this VUID extend to a buffer which is used in an **unused** descriptor of a descriptor set, for multiple reasons:
- the descriptor set is not a command, nor a VkBuff

[2022-02-08 20:46] youss2017 commented on #3733
I figured it out!!!!!!!!! I thought this was a driver bug.

I opened the program in RenderDoc and it showed that the vertex buffer had an offset of 1, look:
![err](https://user-images.githubusercontent.com/30071252/153072436-323fefd1-3c9a-4452-92a0-b5765f506009.PNG)

The problem was setting the vkCmdSetVertexBuffers wrong. vkCmdSetVertexBuffers requires an array of VkDeviceSize[] pOffsets even if

[2022-02-08 20:49] sfricke-samsung commented on #3733
Glad you figured it out!

I am still going to update the Validation Layers to give a MUCH better error message as that would have saved you from having to even pull up renderdoc to confirm

[2022-02-08 20:49] #3733 closed

[2022-02-08 21:41] ncesario-lunarg commented on #3729
@Ipotrick no worries, I think #3719 should resolve this (at least to some extent; we can't know which descriptors are used/unused without further GPU instrumentation), but it might be worth grabbing that change and try it out if you are able to build the validation layers. The spec isn't very clear here IMHO.

As to why the validation error goes away when GPU-AV is used, this is likely due to the

[2022-02-08 22:32] Tony-LunarG commented on #3729
Actually, when GPU-AV calls vkQueueWaitIdle, it calls directly into the driver, not through any validation layers that would clean up any command buffer state, so I don't think GPU-AV's vkQueueWaitIdle explains the error going away.  It is recommended that you turn off core validation when using GPU-AV, is it possible that is what happened?

[2022-02-09 21:16] prideout commented on #3622
I am seeing a similar issue and wanted to mention here that the spec language around this has recently changed:

https://github.com/KhronosGroup/Vulkan-Docs/blob/9e4c847a9e93cccd5f46e173c3ccf752b89c35df/chapters/renderpass.txt#L4100-L4110

[2022-02-09 22:04] mbechard opened #3745 "Missing check for undefined pipeline when using multiview"
**Describe the situation in which you encountered the missing validation**
Issue description:
If you are using multiview rendering, then the current pipeline binding is invalidated when you begin your RenderPass. This doensn't happen during a regular BeginRenderPass.
The validation layers fail to throw an error if you then try to render without binding a pipeline.

**Valid Usage IDs requested**
Pl

[2022-02-10 16:37] Tony-LunarG commented on #3745
Triage
The spec says:
When multiview is enabled, at the beginning of each subpass all non-render pass state is undefined. In particular, each time vkCmdBeginRenderPass or vkCmdNextSubpass is called the graphics pipeline must be bound, any relevant descriptor sets or vertex/index buffers must be bound, and any relevant dynamic state or push constants must be set before they are used.

But I found n

[2022-02-10 17:35] sfricke-samsung commented on #3477
So I ran into the `spirv-opt` issue and looking more into this, this is not a VVL issue as mentioned in https://github.com/KhronosGroup/Vulkan-Docs/issues/1671

The app can't assume dead-code elimination and therefor the this is the correct error messages

There are still 2 ways for an app to resolve properly

1. Always have the input attachment ready
2. Use the `spirv-opt` tool to "freeze and res

[2022-02-11 01:37] prideout opened #3751 "Incorrect miplevel is reported in image layout mismatch errors"
**Describe the Issue**
If I have a `VkImage` whose `VkImageLayout` in miplevel 0 matches expectations, but whose layout in miplevel 1 does not match expectations, a validation error will be printed out that refers to level 0 when in fact it should refer to level 1.

To reproduce, you can try out [this unit test](https://github.com/prideout/Vulkan-ValidationLayers/commit/f719dcd395bd35489a4f764d659

[2022-02-11 13:27] nisse-work commented on #2512
An update here: I've checked out the latest version, and with a plain build, tests now work on this laptop of mine (debian gnu/linux, intel graphics). But I then tried a configuring with the new option -DVVL_ENABLE_ASAN=ON.
[code]
Now running the same set of tests
[code]
results in
[code]

Unfortunately, backtraces I get from asan only says which test triggered each leak, stackframes within the va

[2022-02-11 17:54] moset opened #3752 "Memory leak in validation layer depending on the order of destruction of objects"
Since recently, say mid-to-late January, some tests I had written started to trigger memory leaks in the validation layers.

One of the leaks happen when I call VkFreeMemory before VkDestroyBuffer / VkDestroyImage. Then the tracking information for the VkDeviceMemory object never gets freed. I have been able to reproduce this issue using just code in Vulkan-ValidationLayers, see below.

There's a

[2022-02-11 23:20] jeremyg-lunarg commented on #2512
In #3752 @moset pointed out you can get good stack traces by doing something like this in a leaking test case:
[code]
The problem is that the Vulkan loader unloads the validation layer before asan translates back traces, and that dlopen() forces it to stay open. I agree that there's a better way or at least a way to hide this trick in our test framework when ASAN is enabled.

[2022-02-11 23:31] jeremyg-lunarg commented on #2512
@nisse-work, you may want to try again with PR #3754.

[2022-02-11 23:35] jeremyg-lunarg commented on #3752
Thanks for the test cases! I'm going to open an issue for the stack trace problem, your trick is better than what I usually do (hack the loader to not dlclose()) but we need to find a better way.

[2022-02-11 23:51] jeremyg-lunarg opened #3755 "missing ASAN stack traces in vk_layer_validation_tests"
**Describe the Issue**
ASAN is unable to report stack traces for leaks in the validation layer code. This is because the loader dlcloses() all layers (and probably icds as well) before ASAN has a chance to translate stack traces for all the leaks.

**Valid Usage ID**
None

**Environment:**
 - OS:  Linux
 - GPU: any
 - SDK or header version if building from repo:
 - Options enabled (synchronization

[2022-02-12 01:01] #3752 closed

[2022-02-12 20:03] sfricke-samsung commented on #3537
@DataBeaver so finally got back to looking at spec constants and when asked inside the Vulkan WG I was pointed to this issue https://github.com/KhronosGroup/Vulkan-Docs/issues/1671 on how for things under "static use rules" rules can't assume that compilers will do dead code elimination

[2022-02-12 23:19] JesseRMeyer opened #3756 "Severe Performance Degradation by *disabling* validation layers."
**Describe the Issue**
After running into a performance issue with validation layers enabled, I decided to disable them to measure baseline performance.  However, by doing so now causes the application to severely stutter.  Validation layers have been set programmatically, and vkconfig is set to not interfere.  Curiously, the rendering needs for the application are meager, so I highly expect this

[2022-02-14 08:59] nisse-work commented on #3755
I think it would make sense to have that dlopen call in the main() function (which appears to be in tests/tests/layer_validation_tests.cpp). Either unconditionally, or conditioned on some sanitizer preprocessor define, or a command line flag. Could also check for failure, and display a helpful message explaining how to use VK_LAYER_PATH or point to docs in case dlopen fails.

[2022-02-14 09:25] nisse-work commented on #2512
I've pulled latest changes, including that fix, and I can confirm it's an improvement. It fixes the leak in the simplest test which I've been looking into (VkPositiveLayerTest.EmptyDescriptorUpdateTest, with similar behavior as in Oskar's test cases).

Running all of VkPositiveLayerTest.* results in

`SUMMARY: AddressSanitizer: 9496 byte(s) leaked in 18 allocation(s).`

(down from 3962 leaks befor

[2022-02-14 13:30] nisse-work commented on #2512
Attaching the leaks reported by

`VK_LAYER_PATH=layers valgrind --leak-check=full ./tests/vk_layer_validation_tests --gtest_filter='VkPositiveLayerTest.*'`

I can't really say if they're all in the validation layers, or if some are actually in the vulkan drivers.

[valgrind-leaks.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/8060800/valgrind-leaks.txt)

Valgrind also produced

[2022-02-14 14:00] nisse-work opened #3760 "Conditional jump or move depends on uninitialised value, in ObjectLifetimes::PreCallValidateQueueSubmit"
To detect problem, run

`VK_LAYER_PATH=layers valgrind --leak-check=full ./tests/vk_layer_validation_tests --gtest_filter='VkPositiveLayerTest.QueueSubmitSemaphoresAndLayoutTracking'

Problem is this code in object_tracker.cpp, https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/9a307c998ff03fc4e3bfd10da8d30bd16624685e/layers/generated/object_tracker.cpp#L236:

[code]
I don't think pWaitS

[2022-02-14 18:33] JesseRMeyer commented on #3756
Thanks.

`layers` or `layer` appear to not be a valid setting, but with `all`, and validation layers disabled, I was able to comb through the verbose log to find a few repeated entries of:

[code]

This seems to confirm that the validation layers are not being loaded.  Next question, can / do validation layers alter the behavior of `WaitForFences`, especially given my description above?  I am tryi

[2022-02-14 19:52] JesseRMeyer commented on #3756
Thanks for the assistance and insight.

This must be the case.  I thought I had considered this case in completeness but apparently I attributed the behavior to the meager GPU workload (less GPU work => less render time => no need to wait) and not the heavily weighed downed runtime due to validation (more CPU work => more time for GPU to finish its tasks => no need to wait).  Special thanks for th

[2022-02-14 19:52] #3756 closed

[2022-02-15 16:13] #3735 closed

[2022-02-15 22:21] #3736 closed

[2022-02-15 23:22] pdaniell-nv opened #3763 "Incorrect VUID error reported for VkDeviceImageMemoryRequirements.aspectPlane"
The validation layers report the following error when VkDeviceImageMemoryRequirements.aspectPlane=VK_IMAGE_ASPECT_NONE:

The [spec for this VUID](https://www.khronos.org/registry/vulkan/specs/1.3/html/vkspec.html#VUID-VkDeviceImageMemoryRequirements-planeAspect-parameter) says:

`VK_IMAGE_ASPECT_NONE` is a valid VkImageAspectFlagBits value. I think what is throwing off the validation layer is that

[2022-02-16 02:31] charles-lunarg opened #3764 "Warning about VK_KHR_dynamic_rendering but if use in 1.3 core"
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/0b8873487d46fbcc7cafa917824a867151160933/scripts/generate_source.py#L48

The extension was added without complete validation layer coverage. That is known and the referenced line is how we deal with it. However, it doesn't apply to the core functionality, which presumably uses the same validation codepaths. Either we need to continue iss

[2022-02-16 02:34] airlied opened #3765 "build broken on Linux since "build: Skip find_package for added targets""
I just went to rebuild the latest valdiation layers for Fedora, but it can't find the spirv headers install despite providing it on the cmake command line.

It looks like @asuonpaa change
commit 7f229d154400d745259b10c21a6e4091a059ae86
Author: Ari Suonpää <ari.suonpaa@siru.fi>
Date:   Sat Jan 22 09:41:29 2022 +0200

    build: Skip find_package for added targets

    Amber uses add_subdirectory fo

[2022-02-16 02:56] airlied opened #3766 "layers always try and link static spirv-tools"
Since

"2c2b81c05189790acfea79873f1ea689827ad998
Author: Jeremy Gebben <jeremyg@lunarg.com>
Date:   Mon Nov 22 15:01:11 2021 -0700

    layers: Use find_package() for the dependencies that support it

    This allows the build to find dependencies that are in
    CMAKE_PREFIX_PATH, but the old *_INSTALL_DIR variables are still
    supported as well. The only dependency still using the old way

[2022-02-16 17:47] Tony-LunarG opened #3768 "Dynamic rendering CTS tests crash with Best Practices enabled"
**Describe the Issue**
dEQP-VK.renderpass2.suballocation.attachment.4.596
dEQP-VK.dynamic_rendering.suballocation.attachment.8.615
dEQP-VK.dynamic_rendering.basic.2_secondary_cmdbuffers_resuming
dEQP-VK.dynamic_rendering.suballocation.attachment.4.465
crash in PreCallRecordCmdClearAttachments:
[code]

Aborting early in that call and
dEQP-VK.multiview.dynamic_rendering.instanced.15
dEQP-VK.multivie

[2022-02-16 18:34] locke-lunarg opened #3769 "It needs to check if opaqueCaptureAddress or address isn't 0 before adding it to buffer_address_map_"
I got a debug message for `VUID-vkCmdBuildAccelerationStructuresKHR-geometry-03673`. The `pInfos[0].pGeometries[0].geometry.triangles.transformData` is 0, but it still generates this message because buffer_address_map_  records 0 of opaqueCaptureAddress.

[2022-02-16 19:17] sfricke-samsung commented on #3763
For added reference, the `VK_IMAGE_ASPECT_NONE` was added in `VK_KHR_maintenance4`  so before

made sense, we ran into this same issue when `VK_KHR_synchronization2` added `VK_ACCESS_NONE_KHR` and `VK_PIPELINE_STAGE_NONE_KHR`

We ended up making the changes in the Spec for this, such that we now have

[code]

because if you are running on an old device, `VK_IMAGE_ASPECT_NONE` is not a valid flag b

[2022-02-16 19:21] pdaniell-nv commented on #3763
I think the situation is slightly different because vkGetDeviceImageMemoryRequirements() and vkGetDeviceSparseImageMemoryRequirements() are new with VK_KHR_maintenance4 so there is never a time when 0 wasn't allowed.

[2022-02-16 19:36] aitor-lunarg commented on #2486
I think this issue is in a way a 'duplicate' of #3492 which was fixed with #3708. If so, let me know so we can close the issue. Thank you in advance 😄

[2022-02-16 20:14] DataBeaver commented on #3537
Yeah, I kinda figured that.  And as I thought, it was a fairly simple affair to take an already compiled SPIR-V module and strip out any CFG blocks which can be determined to never be visited due to specialization constants.  I'm even stripping out the declarations of now-unused variables, though no further than that (unused types and functions are left in).  This keeps the validation layer happy

[2022-02-16 20:27] sfricke-samsung commented on #3763
ok, if it is just for those 2 functions, then I think (lack of time to try now) is you just need to add the `autovalidity=false` on those functions and then in the paramater_validation_util.cpp file manually check for a valid usage bit, which I know is done in other places

[2022-02-16 20:39] pdaniell-nv commented on #3763
I could do that, but it seems I would be working around a generated code bug. The generated validity code doesn't handle the case where one of the bitmask enums has the value zero. @ziga-lunarg or @Tony-LunarG what do you think?

[2022-02-16 20:49] Tony-LunarG commented on #3763
I think it's going to be a special case either way.  The flag validation code gets a list of valid flags and compares the flags in the call to it:

[2022-02-16 21:03] pdaniell-nv commented on #3763
That way of doing the check makes sense when treating it as a bitmask and multiple things could be set. IE when it's a Vk*Flags type. In this case I think the generated code needs to treat it like a regular enum and use validate_ranged_enum().

[2022-02-16 21:11] pdaniell-nv commented on #3763
Searching around for other examples, I see one with `VkRenderingAttachmentInfo.resolveMode`. In that case it also has a zero enum - VK_RESOLVE_MODE_NONE. It's handled in the XML by setting resolveMode as optional="true". I'll just do that for now.

[2022-02-16 21:19] pdaniell-nv commented on #3763
I filed a spec issue here https://gitlab.khronos.org/vulkan/vulkan/-/issues/3020 and an XML fix here https://gitlab.khronos.org/vulkan/vulkan/-/merge_requests/5058.