[2019-02-14 15:59] chrisforbes opened #701 "Need to validate that (bound region of) uniform or storage buffer is large enough for the block declaration"
CTS has accidentally used insufficiently large buffers in some cases.

[2019-02-14 16:01] chrisforbes opened #702 "Validate builtin interface block match"
CTS has accidentally had mismatches in builtin interface between VS output and GS input. Need to validate that the block declarations are equivalent.

[2019-02-14 16:02] chrisforbes commented on #602
I'm still unclear on what we're doing wrong.

There was a spec clarification recently that builtins consume components against these limits. Is that possibly in play here?

[2019-02-14 16:04] chrisforbes opened #703 "FS output interface validation should consider alphaToCoverage state"
Alpha to coverage uses location 0 alpha component.

- When using alpha to coverage, we should not warn on a "useless" declaration of this output.
- When using alpha to coverage, if location 0 alpha component is *not* declared, that should be an error.

[2019-02-14 16:46] tobine commented on #699
Are you running with parameter validation on the top of your layer stack?
Do you see a validation error from that layer prior to the crash?
Parameter validation should flag an error on the invalid semaphore and/or command buffer handles prior to any crash.
Once you hit a layer error, behavior is undefined and crashes may occur. In general lower level layers (such as core_validation) don't have saf

[2019-02-14 19:09] jzulauf-lunarg commented on #700
@asuonpaa -- good catch.

[2019-02-14 19:15] chrisforbes commented on #703
@asuonpaa any interest in doing this?

[2019-02-14 19:16] chrisforbes commented on #702
@asuonpaa any interest in doing this?

[2019-02-14 19:16] chrisforbes commented on #701
@asuonpaa any interest in doing this?

[2019-02-14 19:17] jarikomppa commented on #699
I'll have to double check this. I stumbled on this problem while developing a test for the vk-gl-cts. I think I have all related layers enabled, but still got a crash instead of a layer error.

[2019-02-14 19:31] jarikomppa commented on #699
Either the layers are not enabled right for me, or I'm running too old layers then. Sorry about the false alarm.

[2019-02-14 20:22] #657 closed

[2019-02-14 20:22] #678 closed

[2019-02-14 21:00] mark-lunarg commented on #699
If you have any questions or find out that we don't know what we're talking about, send us a repro case and we'll address it straightaway -- thanks!

[2019-02-14 22:39] jzulauf-lunarg commented on #695
@DominikWitczakAMD I believe I got the second issue you reported.  Please reopen if I didn't.

[2019-02-15 05:01] asuonpaa commented on #703
Sure, can someone assign the task for me?

[2019-02-15 05:06] asuonpaa commented on #702
@chrisforbes can you assign the task for me?

[2019-02-15 05:07] asuonpaa commented on #701
Can you assign this one too?

[2019-02-15 07:55] DominikWitczakAMD commented on #695
Still seeing the issues I'm afraid. I've also spotted a similar problem, this time affecting create_renderpass2.

1. The following memory barrier, passed via vkCmdPipelineBarrier(), triggers an error:

![image](https://user-images.githubusercontent.com/17761066/52842357-23631300-30ff-11e9-97ec-f8adc83ed11e.png)

![image](https://user-images.githubusercontent.com/17761066/52842383-3aa20080-30ff-11e

[2019-02-15 08:44] DominikWitczakAMD commented on #602
Most certainly, yes.

[2019-02-15 09:05] adam-sawicki-amd commented on #693
Hello. I'm the author of Vulkan Memory Allocator library. The choice of memory type can be made in different ways, as described on library documentation page "Choosing memory type". You can specify a high-level intended memory usage or a set of required and preferred flags. Specific memory type is then chosen according to the algorithm recommended by Vulkan spec, chapter "10.2. Device Memory", whi

[2019-02-15 11:49] jarikomppa commented on #699
FWIW, I still can't seem to reproduce the null pointer check. If I set waitsemaphores or signalsemaphores to null pointer, I get a crash in VkLauer_thread_safety.dll; if I set commandbuffers to null pointer, I get a crash in VkLayer_object_lifetimes.dll. Using VulkanSDK 1.1.97.0, according to what registry says.

If I skip setting the VkSubmitInfo.sType, I do get error from the layer, so it's ther

[2019-02-15 13:05] #700 closed

[2019-02-15 15:26] jzulauf-lunarg commented on #658
The spec is contradictory

vs. `VUID-vkDestroyInstance-instance-00629`

Assuming the VU is definitive additionally the following object types will need to be checked
[code]

Which for completeness implies fully implementing VUID-vkDestroySurfaceKHR-surface-01266, the current implementation of which only looks to see if the most recent swapchain has been destroyed.

[2019-02-15 15:28] jzulauf-lunarg commented on #658
As for the DebugObject... allowing it to be implicitly destroyed at DestroyInstance time would make sense, as if it must be destroyed prior to DestroyInstance, what object can report the errors occurring at destroy instance time?

[2019-02-15 16:02] chrisforbes commented on #702
@mark-lunarg can you add @asuonpaa to a team that allows bug assignment?

[2019-02-15 16:29] mark-lunarg commented on #702
@chrisforbes, I added @asuonpaa as a collaborator and (I believe) an invite link was sent to him.  Once that clears I think we'll be able to assign issues to him.

[2019-02-15 17:22] mark-lunarg commented on #699
Ahhh, I see.  PV catches null pCommandBuffers, but doesn't catch pWaitSemaphores or pSignalSemaphores.  I'll see about fixing this one -- thanks for sticking with it @jarikomppa.

[2019-02-15 17:58] jzulauf-lunarg commented on #695
@DominikWitczakAMD According to the spec `VK_ACCESS_TRANSFORM_FEEDBACK_COUNTER_READ_BIT_EXT = 0x04000000,` is only valid in `VK_PIPELINE_STAGE_DRAW_INDIRECT_BIT`.  The `dstStageMask` is set to `VK_PIPELINE_STAGE_TRANSFORM_FEEDBACK_BIT_EXT`.

Unless the spec is wrong the error is correct AFAICT.

[2019-02-15 19:37] djdeath commented on #678
Thanks!

[2019-02-18 08:11] asuonpaa commented on #702
I've accepted the invitation. I wish I could just assign myself when needed :)

[2019-02-18 16:50] comeradealexi opened #717 "Question: Debug callback used to log all create/destroyed objects with their address, no longer does?"
I recently updated my Vulkan SDK on Windows to the latest version (1.1.97.0) and I notice this extra debug information is no longer provided through the callbacks and I can't figure out how to access it.

I found it useful when I got validation errors as I was able to match the image address from the validation error back to the log where it was created.

Is there a way to re-enable this feature o

[2019-02-18 17:41] #699 closed

[2019-02-18 17:52] chrisforbes commented on #702
@asuonpaa that *should* work now... I've assigned this batch of issues to you though.

[2019-02-19 14:54] ilkkasaa opened #718 "Debug report callback doesn't get destroyed from Vulkan Loader"
There is an issue while destroying the debug report callback. The problem is that when a debug report callback is created in Vulkan Loader (in `terminator_CreateDebugReportCallbackEXT` function, file `debug_utils.c`) the Loader stores the address of the created callback, but once the callback is created the Validation Layers seems to somehow “wrap” the address and therefore change the value of the

[2019-02-19 15:45] jzulauf-lunarg commented on #718
@mark-lunarg @lenny-lunarg -- looks like a loader-vvl interface disconnect.  Perhaps some change in how the chassis is handling this?

[2019-02-19 16:37] mark-lunarg commented on #717
@comeradealexi, looked at this and it seems like the messages *should* still be going out -- are you using the `VK_EXT_debug_report `extension or the `VK_EXT_debug_report `extension?

[2019-02-19 16:49] comeradealexi commented on #717
I am using VK_EXT_debug_utils.

[2019-02-19 19:58] Tony-LunarG opened #719 "Validation null dereference when destroying pipelines"
When a call to vkCreateGraphicsPipelines only partially succeeds, and only a subset of the requested pipelines are created, when the successfully created pipelines are sent to vkDestroyPipeline, validation incorrectly gives an error that the handle is invalid and then  dereferences a null pipeline state in core validation

[2019-02-20 18:47] jengelh opened #722 "Build failure: kInstVertOutVertexIndex"
Strange that the CI build status (https://github.com/KhronosGroup/Vulkan-ValidationLayers ) says green for Linux when it's not:

[code]

[2019-02-20 18:54] Tony-LunarG commented on #722
I believe you need a newer glslang and corresponding spriv-tools build.  The current versions are listed in scripts/known_good.json, or running scripts/update_deps.py with desired parameters should fetch the right version of everything you need.

[2019-02-20 19:10] mark-lunarg commented on #718
Some debugging seems to point to a dangling callback pointer in the Loader.  Created [Loader Issue #149](https://github.com/KhronosGroup/Vulkan-Loader/issues/149) to track this issue in that repo.  Thanks @ilkkasaa.

[2019-02-20 19:10] #718 closed

[2019-02-20 20:03] jengelh commented on #722
Yeah looks like I need spirv-tools 8d2d66f3. Though, spirv-tools is not listed in scripts/known_good.json (or update_deps.py).

[2019-02-20 20:51] Tony-LunarG commented on #722
Yes, validation layers count on glslang to build spirv-tools as a dependency external to glslang.

[2019-02-20 21:25] mikes-lunarg commented on #480
Fixed by taking vk.xml updates in #721

[2019-02-20 21:25] #480 closed

[2019-02-21 18:00] #719 closed

[2019-02-21 22:23] tobine opened #726 "YUV Sampler validation"
From an issue that @egdaniel found.
The spec has a couple of statements about YUV sampling requirements that validation should be added for. First, from the intro statement in section [12.1. Sampler Y’CBCR conversion](https://www.khronos.org/registry/vulkan/specs/1.1-extensions/html/vkspec.html#samplers-YCbCr-conversion):

Based on this text the primary check that we'd like added is to verify at d

[2019-02-21 23:22] Tony-LunarG commented on #726
Is your second check addressed by the fix for #529?

[2019-02-21 23:26] daveh-lunarg commented on #726
I think so.  It looks like these VUs are VUID-VkWriteDescriptorSet-descriptorType-01947 and -01948.  VUID database says 1948 is implemented.

[2019-02-22 13:49] scyganINTEL opened #728 "deviceMask is not validated in vkAcquireNextImage2KHR"
The 'deviceMask' member of VkAcquireNextImageInfoKHR structure does not seem validated in vkAcquireNextImage2KHR call. Spec says:

Where valid mask can be constructed only from bits pointing to valid device indices in device group.

This can be reproduced using commit 65ebf85d of VK-GL-CTS, test `dEQP-VK.wsi.win32.swapchain.render.basic2`, which is buggy in this version.

The wrong deviceMask valu

[2019-02-22 15:14] djdeath opened #729 "No way to determine where headers files are installed on Linux"
Most libraries on Linux systems provide a `.pc` file to allow applications & libraries to find what path to include and what library to link against.
The validation layers do not provide such a file and so depending on the Linux distribution you're running on it's currently impossible to find what path to include :
[code]
or
[code]

On Debian/Fedora/Ubuntu, headers are installed in `/usr/include/v

[2019-02-22 15:47] 1ace commented on #729
+1

This effectively means that it is currently impossible to use these headers as provided by the system, as currently the choices are:
- `#include <vk_layer.h>` and break the build on half the world
- `#include <vulkan/vk_layer.h>` and break the build on the other half of the world
- maintain a local copy of the files in your project

[2019-02-22 15:53] #717 closed

[2019-02-22 20:38] jzulauf-lunarg commented on #729
@johnzupin @jeremy-lunarg -- do we want to track this here or at LunarXchange, as this appears to be an SDK issue?

[2019-02-22 22:18] inolen opened #730 "Validating indirect draw / dispatch memory dependencies"
I've been looking at a CTS test failure with dEQP-`VK.synchronization.op.multi_queue.semaphore.write_indirect_buffer_dispatch_read_indirect_buffer_dispatch.indirect_buffer_concurrent` which I'm fairly sure is due to an error in the test itself. However, I noticed it didn't fail validation which led me to digging into the validation code to see why not.

To quickly recap, in this test there are two

[2019-02-23 15:32] jzulauf-lunarg commented on #728
Triage notes:  This is one of several related incomplete VU checks regarding deviceMasks.  From the spec:

core_validation stores that count in layer_data::physical_device_count.

When implementing the fix, similar VU checks should be added as appropriate

[2019-02-23 15:52] jzulauf-lunarg commented on #730
This type of synchronization validation is not yet implemented within the validation layers, is a large development effort in design and review at present.

[2019-02-25 13:57] nikitablack opened #737 "Setting the name for the second time with `vkSetDebugUtilsObjectNameEXT` does not overwrite the name."
The specification says:

But in my code, I see that the name does not change if set for the second time. I'm using sdk 1.1.97.0.

[2019-02-25 14:59] Erick555 opened #738 "Building v1.1.97 against gcc 8.3.0 results in function removal"
Hi!
In [freedesktop-sdk](https://gitlab.com/freedesktop-sdk/freedesktop-sdk) we're trying to keep ABI compatibility when updating various elements to new releases. In order to achieve this we use [libabigail](https://sourceware.org/libabigail/) tool to automate ABI compat checks. During rebuild Vulkan-ValidationLayers with gcc 8.3.0 (previously it was build with 8.2.0) our tool produced following

[2019-02-25 17:08] inolen commented on #730
Thanks John. Is there somewhere I can follow to track that process?

[2019-02-25 17:47] tobine commented on #726
Yes, #529 was same issue as item 2 in my description so that item can be disregarded. Thanks!

[2019-02-25 17:53] #737 closed

[2019-02-25 20:05] jeremy-lunarg commented on #729
AFAICT all of binaries in the SDK come from source repositories which refer to vk_layer.h in the vulkan subdirectory. i.e. vulkan/vk_layer.h. We expect the same from distro packages. If that's not the case, then I would follow up with package provider.

[2019-02-25 20:05] #729 closed

[2019-02-25 20:10] djdeath commented on #729
I tend to agree with you, the vulkan subdirectory makes sense.
I'm just curious as to why the `vulkan/` subpath isn't baked into the CMakeFiles so that could help packagers avoid the mistake.

[2019-02-26 00:22] mikew-lunarg commented on #729
@djdeath I cant address the historical part of how we got here.
But if you have improvements for the CMakeLists files, we'd welcome pull requests.

[2019-02-26 23:02] mikew-lunarg opened #743 "Create a manifest of files copied by the 'install' target."
The list of files copied from this repo using the CMake "install" target needs to be more clearly defined, and with specified locations that can be relied upon.

Create a manifest (i.e.: filesystem specification) that defines which files should go where.

Example questions to be answered: ( ref [layers/CMakeLists.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/CMake

[2019-02-26 23:05] mikew-lunarg commented on #729
@djdeath @1ace Thanks for raising this issue, it exposes shortcomings in the way the install is implemented in CMake.  I'm starting a new issue, see #743.  Your input there welcome.

[2019-02-27 13:15] jzulauf-lunarg commented on #743
Added bullet.

Are there currently "validation layer-specific" files (in terms of guard string, namespace etc. such as the vk_typemap_helper.h) that would be of use to custom layer developers with some polish.  This list should be considered carefully as these would become effectively part of an API with ongoing support/consistency considerations.

[2019-02-27 13:47] karl-lunarg commented on #743
I have some thoughts to consider:
### How We Got Here
The current configuration is probably a result of the recent repo splits/reorgs.  The mechanism for a repo to get its dependencies is by using the install image generated by the repos it depends on.

The LunarG/VulkanTools repo is the source for several non-validation layers that need this set of layer include files.  This set of layer include

[2019-02-27 18:51] 1ace commented on #743
All of this is good, and should be done, but let's remember the original issue and try to solve it as well: there is (currently, and even with everything mentioned so far in this issue done) no way to *know* where those headers are. The best one could do is poke around in a few locations and hope one of those was used, and assume the headers don't exist otherwise.

In the GNU/Linux world, this is

[2019-02-27 19:09] mikew-lunarg commented on #743
@1ace Yes, solving the original issue is definitely a goal!  A motivation for creating this new issue was the original appeared to be a point solution to a larger problem.

In addition to pkg-config, there perhaps may be some refactoring of files/filesystem/packaging, and documentation along the lines of the [Linux FHS](https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard)

[2019-02-27 19:35] tobine opened #744 "Validation for VkPipelineInputAssemblyStateCreateInfo"
Implement three explicit VUs associated with VkPipelineInputAssemblyStateCreateInfo.

[2019-03-01 08:33] nanonyme commented on #738
Hm, I'll open up a bit: so those were libstdc++ symbols that ended up being exported by some Vulkan libraries. As a result of our refactoring of low-level build flags those specific symbols disappeared so this ticket is about ensuring visibility is set correctly within this project.

[2019-03-01 14:29] tmerilehti opened #747 "Incorrect warning with VkPipelineTessellationDomainOriginStateCreateInfo"
It seems that `VkPipelineTessellationDomainOriginStateCreateInfo` is not recognized by the layers when included in the `pNext` chain of `VkPipelineTessellationStateCreateInfo.`

When `VkPipelineTessellationDomainOriginStateCreateInfo` is included, the following warning will show up:

`WARNING:  [ VUID-VkGraphicsPipelineCreateInfo-pNext-pNext ] Object: VK_NULL_HANDLE (Type = 0) | vkCreateGraphicsPi

[2019-03-01 21:44] janetliuAMD opened #749 "Incorrect error for image memory with VkBindImageMemorySwapchainInfoKHR"
It seems the validation layer doesn't understand images with memory bound to swapchain memory using `VkBindImageMemorySwapchainInfoKHR` in the `pNext` chain of `VkBindImageMemoryInfo` through a `vkBindImageMemory2KHR()` call, and will generate error messages of "**no memory bound**" for such images. This might due to the `memory` field of `VkBindImageMemoryInfo` must be set to `VK_NULL_HANDLE` in

[2019-03-01 22:54] janetliuAMD opened #750 "Failed to track layout transitions of images bound to peer memory in mGPU"
In mGPU environment, if I create a peer image (`peer_image`) that bound to the peer memory of a swapchain image (`swapchain_image`), then the validation layer won't recognize `peer_image`'s layout as transitioned as the result of transitioning `swapchain_image`'s layout, or vice versa.

Here's a simple example:

I have a device group consists of two GPUs (`GPU0` and `GPU1`), and I created `peer_im

[2019-03-04 15:58] #703 closed

[2019-03-06 16:37] locke-lunarg commented on #527
[pull request #758](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/758)

[2019-03-06 21:16] jeremyk-lunarg commented on #294
In the case that VkMemoryAllocateFlagsInfo.flags has VK_MEMORY_ALLOCATE_DEVICE_MASK_BIT set, things should be rather simple.  VkMemoryAllocateFlagsInfo is linked along the pNext chain of a VkMemoryAllocateInfo structure which is referred to in the DEVICE_MEM_INFO structure defined in core_validation_types.h.  From here we can grab deviceMask from VkMemoryAllocateFlagsInfo and count the number of b

[2019-03-08 09:16] tjaalton commented on #722
please make sure to release all dependencies before cutting a new vulkan release, this is frustrating for distributors to publish new loader etc and then get stuck updating -validationlayers because it needs git versions of its dependencies

[2019-03-08 14:33] archimedus opened #762 "Vulkan SDK 1.1.97.0. Invalid message for transform feedback"
Running code for transform feedback I get message:

There is no requirement "counterBufferCount must be greater than 0." in the specification. Implicitly it is confirmed by following paragraphs:

valid pointer to an array of counterBufferCount VkBuffer handles that are either valid or
VK_NULL_HANDLE

Also:

**This counterBufferCount must be allowed to be zero.** Also please do not validate optiona

[2019-03-08 14:54] jeffbolznv commented on #762
I believe this was fixed in vk.xml about a month ago. Can you try the 101 SDK?

[2019-03-08 16:16] mark-lunarg commented on #722
@Tony-LunarG, does anything to be done for VVL?

[2019-03-08 17:32] mark-lunarg commented on #722
I talked to @karl-lunarg and he educated me on the underlying issues here.  @tjaalton, this particular instance can be attributed to a mistake which broke backwards-compatibility, and which we are attempting to avoid in the future.  However, we do feel that we can improve the coordination between the this project and the repository owners of glslang and spirv-tools -- perhaps using release tags fo

[2019-03-08 20:04] mikew-lunarg commented on #743
Other repos also have similar requirements for a manifest and defined filesystem structure, see above.
Could create an umbrella task to coordinate a cross-repo solution as appropriate.

[2019-03-08 21:46] locke-lunarg commented on #691
[Pull request #764 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/764)

[2019-03-08 22:07] locke-lunarg commented on #747
[Pull request #765](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/765)

[2019-03-09 07:54] archimedus commented on #762
You are right. Issue is fixed in SDK 1.1.101.0.

Thank you.

[2019-03-09 07:54] #762 closed

[2019-03-10 19:01] xxxbxxx opened #766 ""OutputNotConsumed" although attachement is VK_ATTACHMENT_UNUSED"
hello,

This validation warning:
`[Validation] Code 0 :  [ UNASSIGNED-CoreValidation-Shader-OutputNotConsumed ] Object: 0x9d9 (Type = 15) | fragment shader writes to output location 1 with no matching attachment`

is triggered even though there is a matching VkAttachmentReference with VK_ATTACHMENT_UNUSED.

Which should be valid, if I understand correctly
 https://www.khronos.org/registry/vulkan/s

[2019-03-11 16:56] sl1pkn07 opened #770 "Only static vklayer_utils is builded instead of shared in linux"
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/479f0a2772009ac96afcefd723c61c59de497273/layers/CMakeLists.txt#L115-L151

~~seems is a typo. is not `elseif`?~~

[code]

the rest of shared libs is builded ok

EDIT: nope :S .chage the `else` to `elseif` make the same issue

[2019-03-11 21:29] jeremy-lunarg commented on #722
@tjaalton Unfortunately, we have limited control over _github_ releases in some of the dependencies: spirv-header, spirv-tools, glslang, shaderc. However, we can provide releases for vulkan-loader, vulkan-validationlayers, vulkan-tools (khronos), vulkantools (lunarg), and vulkansamples.

@jengelh I'm going to close this issue because I believe @Tony-LunarG addressed it.

[2019-03-11 21:29] #722 closed

[2019-03-12 15:17] sl1pkn07 commented on #770
ok, i misslead what is vklayer_utils is

closing

[2019-03-12 15:17] #770 closed

[2019-03-12 17:40] locke-lunarg commented on #23
The error doesn't happen in `dEQP-VK.api.command_buffers.render_pass_continue` of CTS with `Vulkan SDK 1.1.101.0`, and `VkPositiveLayerTest.ConfirmNoVLErrorWhenVkCmdClearAttachmentsCalledInSecondaryCB` passes. So could we close the issue?

[2019-03-12 20:41] locke-lunarg commented on #10
According to VkLayerTest.InvalidImageLayout, the issue should be solved.

[2019-03-12 22:07] jzulauf-lunarg commented on #23
@phaulos -- this appears to be resolved, ok to close?

[2019-03-15 17:02] shannon-lunarg commented on #466
Further comments from LunarXchange:

[2019-03-15 22:10] Lawrencemm opened #778 "Option to throw exceptions upon warnings"
The option to raise exceptions upon warnings would make it easier for me to debug the source of the problem in my code.

I understant that exceptions across shared library boundaries can be tricky but if I understand it correctly it's possible at least if the host code uses the same exception handling structure as the shared code.

[2019-03-18 09:10] SuperflyJon opened #780 "Descriptor not updated message with multiple textures"

[2019-03-18 09:10] #780 closed

[2019-03-18 09:15] SuperflyJon opened #781 "Descriptor not updated message with multiple textures"
I've got a simple example which has 2 texture bindings (and a uniform buffer), I get the following validation message:

The textures render fine and the descriptor pool/layouts and descriptor look okay to me.  I'm not sure what I'm doing wrong...

[2019-03-18 15:34] tobine commented on #781
Layer just telling you that vkUpdateDescriptorSets() hasn't been called to update that particular descriptor. It should either be updated or not used in the Draw.

[2019-03-18 15:34] #781 closed

[2019-03-19 10:02] SuperflyJon commented on #781
I was calling vkUpdateDescriptorSets and that was not the problem.  Note that both textures were drawing correctly.

The problem was that for the 2nd texture I was accidentally setting the descriptorCount field of VkDescriptorSetLayoutBinding to 2.  I think this is the "global descriptor index 3" part of the error message.

[2019-03-19 16:20] locke-lunarg commented on #728
[Pull request 785](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/785)

[2019-03-19 22:50] locke-lunarg commented on #728
[Pull request #788](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/788)

[2019-03-20 14:55] Snektron opened #789 "vkGetDisplayPlaneSupportedDisplaysKHR segmentation fault"
Hello,

calling `vkGetDisplayPlaneSupportedDisplaysKHR` with `pDisplays` a nullptr should return the total number of displays in `pDisplayCount`, where in that case `pDisplayCount` doesnt need to have a defined value.

When validation layers are enabled, `vulkan_layer_chassis::GetDisplayPlaneSupportedDisplaysKHR` intercepts this call. If the value of `*pDisplayCount` happens to be non-zero, an acc

[2019-03-21 13:23] ghost opened #794 "No warning on OpTypeImage image format mismatch with VkImageView format"
It seems validation layers do not emit any validation errors, when VkImageView format does not match SPIR-V format used in imageLoad(), when the device is lacking shaderStorageImageReadWithoutFormat feature.

Spec says:

[2019-03-21 17:47] djdeath opened #796 "Warnings with vkGetImageSubresourceLayout() & VK_EXT_image_drm_format_modifier"
[code]

My understanding is that VK_EXT_image_drm_format_modifier extended the usage of `vkGetImageSubresourceLayout` for tiling `VK_IMAGE_TILING_DRM_FORMAT_MODIFIER_EXT` with the added image aspects :
[code]
But those trigger warnings.

From the specification :
[code]

[2019-03-23 23:34] Jelly3D opened #802 "The messenger callback contains no name when using VK_EXT_debug_utils"
When using the VK_EXT_debug_utils extension, the messenger callback object.pObjectName holds an empty string even if the _debug_report_data::debugUtilsObjectNameMap contains it.

Upon investigation I found that in the call to debug_log_msg, the object name is temporary stored in **std::string label** whose raw pointer is then given to **object_name_info.pObjectName**.

Unfortunately, when reaching

[2019-03-25 11:12] krOoze commented on #24
#66 probably belongs here

[2019-03-25 23:26] #802 closed

[2019-03-25 23:27] mark-lunarg commented on #802
Thanks for the fantastically detailed report, @Jelly3D.  Keep 'em coming.

[2019-03-26 00:29] mikew-lunarg commented on #24
Per @krOoze suggestion, added #66 to checklist above.

[2019-03-26 19:10] #691 closed

[2019-03-26 19:10] #527 closed

[2019-03-26 19:20] #747 closed

[2019-03-27 01:55] krOoze opened #811 "vkCreateInstance validation does not seem to work"
The validation of vkCreateInstance (and vkDestroyInstance) does not seem to work.

Even if the check is implemented it fails to be reported.

There might be some Loader bug to this too. E.g. `vkCreateInstance(&info, nullptr, nullptr)` crashes.

See PR #810 for failing tests.

#658 Seem related. It seem to report the undestroyed device to me, but with wrong VUID.

[2019-03-27 04:45] edrickhong opened #812 "Error messages should not reference internal "global index", but instead the binding relative index."
**was: Validation layers reporting wrong message for unupdated descriptor set binding index**

I have a shader that uses 4 bindings in a desc set

binding 0 sampler
binding 1 sampler[16]
binding 2 sampler
binding 3 uniform

I've updated all the bindings except for binding1 indices 2 to 15

The error message generated was:
Descriptor in binding 1 at global descriptor index 3 is being used in draw b

[2019-03-27 09:33] rg3igalia opened #813 "Validation layers fail to build on Linux with Vulkan-Headers master"
After Vulkan-Headers was updated to version 1.1.105, the validation layers no longer build.

[code]

NB: I also tried branch mikes-script-sync but it won't build either due to an enum to string conversion generated without ifdef guards for an enum that only exists in Win32.

[2019-03-27 14:21] akien-mga commented on #722
I ran into the same issue trying to update the Vulkan SDK for the Mageia Linux distribution. I can only add my voice to @tjaalton to insist that known good versions should be tagged releases, not unreleased git commits.

[2019-03-27 14:29] KarenGhavam-lunarG commented on #813
Although the Vulkan-headers has a new header, the validation layer repo has not yet moved forward to that new header. In the BUILD.md document see the following:

[2019-03-27 14:54] jzulauf-lunarg commented on #813
Vulkan-ValidationLayers are not guaranteed to function with the tip of master on *any* of the constituent branches.  Breakage and errors on the tip of those components aside, there may be incompatibilities, new features, or deprecations that affect compatibility.

[2019-03-27 14:54] #813 closed

[2019-03-27 15:01] jengelh commented on #722
I have a problem with this statement. spirv-tools is not a mandatory dependency to glslang. Just now I found that there is indeed a `-DENABLE_OPT=0` on the compiler command lines of glslang. cmake did that on its own and never aborted, so I suppose it is a supported configuration.

So then, the compiled glslang component does not depend on, nor pulls in, spirv-tools in my environment. This means t

[2019-03-27 15:13] #728 closed

[2019-03-27 15:52] karl-lunarg commented on #722
@akien-mga :  The issue of tagging glslang and spirv-tools should probably be taken up with the owners of those repos.  We currently "negotiate" with those owners to have them supply us with known-good commit ids that we then use for the SDKs.  These commit ids are clearly documented in the SDK release notes and in the repo via a "known-good" file.  While we'd prefer, as you do, that they tag them

[2019-03-27 17:38] rg3igalia commented on #813
Thank you both! I somehow missed that section of BUILD.md. However, do you think having an issue like this one open can still be useful?

To give you some context: I'm working on validations for an extension that was published as part of 1.1.105 and would like to know when the validation layers can be built with that version of the headers, in order to submit the pull request. An issue like this o

[2019-03-27 21:31] jzulauf-lunarg commented on #813
@rg3igalia  -- there isn't an automated way built-in to github to receive notices when a file (for example known_good.json) changes, though there are apparently external tools YMMV.

The best way to know the latest supported header is on the [releases page]( https://github.com/KhronosGroup/Vulkan-ValidationLayers/releases) -- the v1.x.y tags are the commits supporting the matching release of the h

[2019-03-27 21:42] lenny-lunarg commented on #811
This isn't a bug. The basic problem with passing a null instance is that the loader has to create the instance before it calls into any layers. And since you've given a null pointer for the instance handle, the loader is unable to write the information to the struct. This also means that validation can't really do anything in `vkCreateInstance` because the instance has already been created by the

[2019-03-27 22:56] krOoze commented on #811
Not clear how this would be a show stopper. It is only a return variable. The loader can still have any structs it wants, assuming it does not rely on validity of the `pInstance` parameter in the trampoline part (which it does not need to AFAICT).

Actually, I would expect layers to be called first. That's their job. Naively speaking, Loader should only do the minimum before layers, and do the hea

[2019-03-27 23:31] krOoze commented on #811
Anyway.
It should be made to work as expected, if it is feasable and practical.
Or it should be documented it doesn't work. Notably in spec which says the `pNext` debug reporter does cover events from `vkCreateInstance` execution.

[2019-03-28 08:03] asuonpaa opened #815 "Crash in VkLayerTest.GpuValidationArrayOOB"
I'm seeing a crash inside RADV driver when running this test.

[2019-03-28 11:08] rg3igalia opened #816 "Implement support for VK_EXT_host_query_reset"
I have validations ready for the VK_EXT_host_query_reset extension, including tests. This extension was added in 1.1.104. As soon as the validation layers are updated to support Vulkan-Headers 1.1.105 (there's no 1.1.104 update in the commits), I will submit a pull request.

This issue is related to https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/813.

[2019-03-28 11:18] rg3igalia commented on #813
@jzulauf-lunarg Exactly, thanks. Those problems you mention are why I suggested having an open issue to track support for Vulkan-Headers 1.1.105 could be useful. For example, I cannot submit a pull request for VK_EXT_host_query_reset until the layers are updated. With an issue, I can subscribe to it here in Github and receive notifications about comments and status changes without other noisy traf

[2019-03-28 12:30] asuonpaa commented on #815
The driver is crashing during pipeline creation, and it only happens if the vertex shader has this line:

`gl_Position += 1e-30 * texture(tex[uniform_index_buffer.tex_index[0]], vec2(0, 0));`

Disabling the GPU validation still gives the same crash, which happens in libvulkan_radeon.so.

Also, the fragment shader tests which should have debug data included complains about not having OpLines.

[2019-03-28 16:02] jzulauf-lunarg opened #817 "Need Support for Vulkan-Headers version 1.1.105"
Please reference this issue in pull requests to integrate 1.1.105 support, or if a later version is supported instead.

[2019-03-28 16:06] jzulauf-lunarg commented on #813
@rg3igalia -- just so.  Given the lack of any better means to track this, I've added the issue.  https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/817 .

As a general process issue we won't be adding these issues for each header update, but for people needing access and notification to a specific update, a tracking issue assigned to the person doing the header update seems reasonable.

[2019-03-28 16:11] jzulauf-lunarg commented on #817
@rg3igalia  -- follow this one for the updates you're looking for.

[2019-03-28 19:53] jzulauf-lunarg commented on #778
Have you tried raising an exception in the function you registered with `VkDebugUtilsMessengerCreateInfoEXT`  AFAICT this would give you full control over the exception you use, and the conditions under which you raise it.

[2019-03-28 19:55] mark-lunarg commented on #811
@krOoze, we can add support for the `pNext `debug reporters in the layers.  Some limited support for this was present before the layer reorg, but now we can do a cleaner, more comprehensive implementation in the chassis.  We'll make this in 'incomplete', just as if it were missing validation checks.

[2019-03-28 20:11] jeffbolznv opened #820 "ValidateShaderStageInputOutputLimits doesn't handle outermost array dimension special case"
This came up here (i.e. an existing test hits it): https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/808#discussion_r269353157

Tessellation control input variables must have an array dimension that is at least the number of vertices in the patch, and that dimension should not be counted against the maxTessellationControlPerVertexInputComponents limit. But ValidateShaderStageInputOutput

[2019-03-28 20:14] mark-lunarg commented on #820
We were just talking about this strangeness yesterday -- thanks so much for finding the problem!

[2019-03-28 20:15] jzulauf-lunarg commented on #820
@MulattoKid -- this looks like code you submitted from last August.  Would you be able to look at it?

[2019-03-28 20:24] jzulauf-lunarg commented on #820
Triage Notes:  The error appears to be in how the number of input components is computed in `CoreChecks::ValidateShaderStageInputOutputLimits`

[2019-03-28 21:37] Lawrencemm commented on #778
Seems like the obvious solution was staring me in the face. Thanks.

For Google:
Throw Vulkan validation exception VkDebugUtilsMessengerCreateInfoEXT

[2019-03-28 21:37] #778 closed

[2019-03-28 21:45] jzulauf-lunarg commented on #816
See #817 for 1.1.105 notification

[2019-03-28 22:13] jzulauf-lunarg commented on #812
@edrickhong -- you have correctly deduced the meaning of the error message, but frankly, it's a terrible message.

Triage notes:  In this specific case `cvdescriptorset::DescriptorSet::ValidateDrawState` has the base offset for the binding stored in `index_range.start` -- so there is not excuse for reporting the meaningless (to the user) "global index" as that's an internal concept specific to how

[2019-03-28 22:18] jzulauf-lunarg commented on #812
Triage note: searching `at global descriptor index ` was useful.

[2019-03-29 09:09] rg3igalia commented on #817
Subscribed. Thanks!

[2019-03-29 12:35] tobine commented on #84
Dupe of #812

[2019-03-29 12:35] #84 closed

[2019-03-29 13:20] mvainola commented on #626
This turned out to be a bug in the test. Closing.

[2019-03-29 13:20] #626 closed

[2019-03-29 19:47] mikew-lunarg opened #821 "build: Header search path order needs consistency"
Ths repo's header search path is inconsistent, sometimes finding files in the install directory before the local source tree.  That has caused a segfault due to different versions of headers being used.

Specific example: `vk_layer_validation_tests` crashing at startup.  If glslang is built and installed with its googletest enabled, it copies gtest.h to the install directory.  glslang uses googlet

[2019-03-29 19:52] mikew-lunarg commented on #821
My temporary workaround for this is to build/install glslang with its googletest disabled, so there is not an installed copy of gtest.h to be found.

[2019-03-30 05:58] locke-lunarg commented on #812
[Pull request #823](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/823)

[2019-03-30 09:36] jozefkucia opened #824 "Incorrect validation errors for transform feedback queries"
Validation layers produce incorrect validation errors when transform feedback queries are used:

`UNASSIGNED-CoreValidation-DrawState-InvalidQuery(ERROR / SPEC): msgNum: 0 - Requesting a copy from query to buffer with invalid query: queryPool 0xd, index 1`

It appears that validation layers do not track `vkCmdBeginQueryIndexedEXT()` correctly.

[2019-04-01 09:48] Arzana opened #825 "Buffer descriptor write update not all descriptors are marked as updated"
I'm updating a descriptor set with 3 descriptors in it, two 4x4 matrices and an combined image sampler (in that order). I'm currently updating this set using two vkUpdateDescriptorSets calls. One for the two uniforms (they are in the same block) and one for the combined image sampler.
The two uniforms are in the same buffer so I pass one buffer info object with the buffer handle an offset of 0 and

[2019-04-01 11:40] baldurk opened #826 "Mismatched object parameters in log prints"
Some of the checks in [`ValidateRenderPassLayoutAgainstFramebufferImageUsage`](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/buffer_validation.cpp#L346) have mismatched parameters leading to the framebuffer name being given for the renderpass and vice-versa. For example:

[code]

should have the printf order changed, so the `FormatHandle(renderpass)` is first (since th

[2019-04-01 13:07] baldurk opened #827 "Duplicated debug utils messenger in layers"
This seems to be a recent change since 1.1.101 as far as I can tell.

Debug messengers get added twice: once from chassis.cpp in `CreateDebugUtilsMessengerEXT` -> `layer_create_messenger_callback` and then again in `CreateDebugUtilsMessengerEXT` -> `CoreChecks::PostCallRecordCreateDebugUtilsMessengerEXT` -> `layer_create_messenger_callback`.

[2019-04-01 17:01] locke-lunarg commented on #826
[Pull request #828](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/828)

[2019-04-01 17:28] jzulauf-lunarg commented on #812
@edrickhong Should be fixed on master now.

[2019-04-01 17:28] #812 closed

[2019-04-01 20:36] mikew-lunarg commented on #821
(copying edited notes from email discussion)

This error condition came about simply by following the directions in the various BUILD/README files of the constituent repos.  There are optional steps in those docs, and in this case I'd decided to turn on all the options (a "batteries included" build), and install to a single install directory.  We don't need glslang's googletest, it was just in the

[2019-04-02 15:15] #826 closed

[2019-04-02 15:16] locke-lunarg commented on #826
@baldurk Fixed it. Close the issue.

[2019-04-02 16:00] Tobski opened #830 "Add validation for VK_EXT_pipeline_creation_feedback"
There's no coverage for the new VUs in VK_EXT_pipeline_creation_feedback - only implicit VUs are supported. Adding support for the handful of explicit VUs should be fairly straightforward, but it would be good to get coverage.

CC @jfroy as the spec author in case this is something that he's able to help with (or find someone who can!)

[2019-04-02 16:55] KarenGhavam-lunarG opened #831 "Avoid repeated output of the same message"
As a result of Ecosystem survey done by LunarG, a request was made for the following. Logging here so it isn't lost.

[2019-04-02 18:22] krOoze opened #834 "Layers do not provide VK_EXT_debug_utils extension"
The layers provide `VK_EXT_debug_report` but not `VK_EXT_debug_utils` via `vkEnumerateInstanceExtensionProperties( layer, ... )`.

[2019-04-02 18:24] krOoze commented on #831
That is already perfectly possible to do in the application's callback.
Does this mean the `vk_layer_config.txt`?

[2019-04-02 19:07] locke-lunarg commented on #698
[Pull request #833 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/833)

[2019-04-02 20:23] karl-lunarg commented on #821
The root cause and solution for this are now understood.

When glslang is built with its test cases, it publishes the googletest includes (e.g., gtest.h) to its install directory.  It shouldn't be doing this in the first place since googletest isn't an intended artifact of glslang.  The glslang tests should be (and are) installed, but there is no need to provide the googletest include files to the

[2019-04-02 20:23] #821 closed

[2019-04-02 22:53] sl1pkn07 commented on #821
one question. is possible use the system installation (provided by distro packages) of googletest/re2/effcee instead of build it from the sources?

this can be apply to other projects

[2019-04-02 23:25] karl-lunarg commented on #821
It is possible.  But it would add an extra system install dependency, whereas the way it is now, it just requires someone to clone gtest into this repo if they want tests.  The way it is now seems like a lighter requirement, but YMMV.

Also, this repo wants a specific version of gtest which could be incompatible with one a user has installed.

And finally, the gtest code is pretty small and doesn'

[2019-04-03 14:35] aejsmith commented on #316
I made an attempt at handling this here: https://github.com/aejsmith/Vulkan-ValidationLayers/commit/027f7cef7565c4e3ff379b7ce1c179b710ca9376

However, it turns out that doesn't really work, because it doesn't handle the first access to a subresource within a command buffer using a layout that's not the same as, but compatible with, the current layout at  submit time (first access assumes that init

[2019-04-03 14:39] mark-lunarg commented on #316
I believe @jzulauf-lunarg is overhauling the layout tracking and validation.

[2019-04-03 17:35] egdaniel opened #836 "Layout transition validation broken if same image changes layout twice in same vkCmdPipelineBarrier"
In ValidateBarriersToImage in buffer_validation.cpp, we first loop through all imageMemoryBarriers to make sure if we do multiple layout transitions to the same image that it all is done correctly. This part seems fine.

However, at then end of the function it loops over each layer and call ValidateImageAspectLayout. In this call it looks up the image to find what its current layout is and make su

[2019-04-03 19:44] tobine commented on #825
Hi @Arzana, my guess based on what you've said is that you're doing something wrong. It sounds like that your two uniforms are in a single descriptor **set**, but that they are two separate **descriptors** within that set linked to those uniform buffers. If this is the case, then you need to perform a vkUpdateDescriptorSets() call with VkWriteDescriptorSet struct that has a descriptorCount of "2".

[2019-04-03 19:44] #825 closed

[2019-04-04 00:13] #4 closed

[2019-04-04 04:19] locke-lunarg commented on #744
[Pull request #838 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/838)

[2019-04-04 21:33] jzulauf-lunarg commented on #836
It's not clear this is valid usage, as the spec doesn't specify order within the entries of the barriers.  There is an open issue in the working group to clarify the language w.r.t. barriers.

[2019-04-04 21:33] #836 closed

[2019-04-05 12:55] baldurk opened #842 "Thread safety layer checks optional argument in vkCmdBeginTransformFeedbackEXT"
In `vkCmdBeginTransformFeedbackEXT` the `pCounterBuffers` parameter is optional, but the generated code for `thread_safety.cpp` unconditionally reads it without a `NULL` check:

[code]

I'm not sure if there are any other cases where an array of vulkan objects is optional.

[2019-04-05 15:01] jzulauf-lunarg commented on #316
@aejsmith  I've got a change in review overhaulling image layout tracking, that needs to clear before I look at this.  Can you point me to the "relaxed rules" you're referencing, so I can get a head start?

[2019-04-05 15:26] aejsmith commented on #316
These are the rules given in "Image Layout Matching Rules" in the spec: https://www.khronos.org/registry/vulkan/specs/1.1/html/chap11.html#resources-image-layouts-matching-rule

[2019-04-05 15:39] tobine commented on #744
Fixed by #838

[2019-04-05 15:39] #744 closed

[2019-04-05 20:19] locke-lunarg commented on #726
It has to pass VUID-VkWriteDescriptorSet-descriptorType-01947 & 01948, so it could update and bind the descriptor set.

But in the case, the error that a sampler in the descriptor set contain a YCBCR conversion, but it is not an immutable sampler at draw time will not happen.

[2019-04-05 22:11] mattruschnv opened #846 "Contention on validation_object_mutex causes poor performance in some applications."
Sample profile of lock taking nearly 70% of CPU cycles:
| - ValidationObject::write_lock	67510 (67.49%)	29 (0.03%)	VkLayer_khronos_validation.dll
| - vulkan_layer_chassis::CmdBindDescriptorSets	21776 (21.77%)	62 (0.06%)	VkLayer_khronos_validation.dll
| - vulkan_layer_chassis::AllocateDescriptorSets	19806 (19.80%)	45 (0.04%)	VkLayer_khronos_validation.dll
| - vulkan_layer_chassis::UpdateDescriptorS

[2019-04-06 14:38] Arzana commented on #825
I'm confused about why it's rendering correctly in the first place. If I use two VkDescriptorBufferInfo structures and set the offsets correctly I get the following validation error:

vkUpdateDescriptorSets(): pDescriptorWrites[0].pBufferInfo[1].offset (0x40) must be a multiple of device limit minUniformBufferOffsetAlignment 0x100. The Vulkan spec states: If descriptorType is VK_DESCRIPTOR_TYPE_UN

[2019-04-08 20:39] KarenGhavam-lunarG commented on #49
This original issue was opened in May of 2017. @RCalocao I know that your recent performance issue you had in late January has been resolved. Was that issue the same issue you are referring to here with the Sleepy_Vulkan_SunTemple zip?

[2019-04-08 20:39] jzulauf-lunarg commented on #846
@mattruschnv -- this is consistent with other findings.  I've seen ~50% on Dota time demo.  This is due to the fact that for thread safe access to the validation metadata, each layer is effectively serialized during it's execution.

Which application/content was this profiled on?

[2019-04-08 21:45] mattruschnv commented on #846
A special build of Strange Brigade, right at the start of gameplay.

[2019-04-08 22:32] locke-lunarg commented on #50
[pull #847 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/847)

[2019-04-08 23:32] JasperNV commented on #528
spirv-opt should now be more vocal about unknown opcodes and properly report a failure in that case; see https://github.com/KhronosGroup/SPIRV-Tools/pull/2487

[2019-04-08 23:48] mattruschnv commented on #846
I'm seeing 50% on a different, unreleased title. Running in the main menu with VL disabled is 190 FPS, with VL enabled is ~1 FPS. The validation layer performance is preventing it from being usable with this application.

[2019-04-08 23:49] mattruschnv commented on #846
Function Name	Total CPU [unit, %]	Self CPU [unit, %]	Module
| - ValidationObject::write_lock	34319 (48.19%)	3 (0.00%)	VkLayer_khronos_validation.dll
| - vulkan_layer_chassis::CmdDrawIndexed	19065 (26.77%)	5 (0.01%)	VkLayer_khronos_validation.dll
| - vulkan_layer_chassis::QueueSubmit	11620 (16.32%)	0 (0.00%)	VkLayer_khronos_validation.dll
| - CoreChecks::ValidateCmdDrawType	11270 (15.83%)	0 (0.00%)

[2019-04-08 23:52] jzulauf-lunarg commented on #846
@mattruschnv -- other profiling details could be of help.  Effectively, every cycle you pull out of a heavyweight subtree of a `*CallValidation*` or `*CallRecord*` path reduces wait time as a secondary benefit. Also, are you pulling from tip?  There was a recent (on one specific app) 6% perf gain recently committed.

[2019-04-08 23:54] jzulauf-lunarg commented on #846
CoreChecks::SetGlobalLayout -- is the parallel to the path I just optimized...

[2019-04-08 23:55] mattruschnv commented on #846
I'm probably a week out of date. What other profiling details would you like? I was able to get 5% locally by rearranging some structures to have better alignment / reduce padding.

[2019-04-08 23:58] jzulauf-lunarg commented on #846
@mattruschnv -- my request for details lost a race condition against your details :)

https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/806 -- is the perf change.  Two parts, 1) faster command buffer scope image layout tracking, 2) Lazier updates of the object cross-referencing.

[2019-04-09 00:15] jzulauf-lunarg commented on #316
@aejsmith  -- added in above PR if you want to check on your test case.  Implementation limits relaxed rules (effectively) to Draw and Dispatch uses ("accesses to an image with a depth/stencil format performed through descriptors referring to only a single aspect of the image")

[2019-04-09 02:34] chrisforbes commented on #528
Triage notes: not too difficult. 1-2d to build this if somebody knows SPIRV. I don't have the spare cycles to do the work at the moment.

[2019-04-09 14:15] aejsmith commented on #316
It seems like the issue I hit in my attempt at implementing this is still problematic with your PR. Specifically, what I've got happening is this:
- Command buffer A transitions an image to DEPTH_READ_ONLY_STENCIL_ATTACHMENT, and uses it.
- Command buffer B (will be submitted after A) accesses the image through a descriptor with layout set to DEPTH_STENCIL_READ_ONLY (this is the first use of it in

[2019-04-09 15:01] jzulauf-lunarg commented on #316
As I read the "relaxed rules" it *only* applies to "accesses to an image with a depth/stencil format performed through descriptors" -- so the renderpass usage *must* match exactly.

Though I'm concerned that my change won't correct cover the descriptor use case for initial usage validation (in fact I don't know why you're not seeing a QueueSubmit time error for the descriptor usage case (unless th

[2019-04-09 15:14] #674 closed, assigned to mikes-lunarg

[2019-04-09 15:59] mark-lunarg commented on #846
@mattruschnv, just getting to this task as part of the layer consolidation.  For sure, we want to make sure that glomming all the layers together is no worse for performance than back when they were all separate layers.  Hopefully I can use DOTA2, but would the standard version of Strange Brigade work for us or is there something about your build that wouldn't allow us to duplicate your results?

[2019-04-09 16:07] mark-lunarg opened #850 "GetPlaneSizeIndex takes a mask but interprets it as a single flag"
This function should probably take `VkImageAspectFlagBits `instead of `VkImageAspectFlags`.

[2019-04-09 18:06] mattruschnv commented on #846
The standard version of Strange Brigade should work fine for performance testing. I'll try to find a released application that exhibits the 190 FPS -> 1 FPS slowdown.

[2019-04-09 18:11] mark-lunarg commented on #846
Yeah, I'm super-curious about that one!

[2019-04-09 19:26] Tony-LunarG opened #852 "GPU Assisted Validation Opportunities Tracking Issue"
This issue is to list and keep track of future opportunities in GPU assisted validation

- [ ] Remove the use of an extra descriptor set by using the VK_EXT_buffer_device_address extension to obtain a GPU device pointer to a storage buffer and make it available to the shader via a specialization constant.
- [ ] Remove the use of an extra descriptor set by adding the debug descriptors to an existin

[2019-04-09 23:18] mattruschnv commented on #846
The optimization to SetGlobalLayout took the worst case from 1 FPS to 6-7 FPS. I'm doing more profiling now.

[2019-04-10 15:24] jzulauf-lunarg commented on #498
There's a narrowly scoped fix to avoid the crash and provide reasonable support within a given command buffer.  The CB spanning behavior is a tougher nut by far, and should be opened/tracked as a separate issue.

[2019-04-10 15:27] jfroy commented on #830
We're happy to help with this.

[2019-04-10 16:40] ShabbyX opened #855 "The layers don't validate that `vertexAttributeInstanceRateDivisor` is available if the application requests"
See baldurk/renderdoc#1348 from [this comment](https://github.com/baldurk/renderdoc/issues/1348#issuecomment-481749138) on.

If the application unconditionally sets `vertexAttributeInstanceRateDivisor` but the driver doesn't support it, there are no validation errors, though there should be.

[2019-04-10 17:52] jzulauf-lunarg commented on #498
Crash should be be fixed in above PR.

[2019-04-10 18:15] mattruschnv commented on #846
Has anyone tried using mutexes to guard the individual data structures rather than using one per layer? If not, would anyone object if I were to try?

[2019-04-10 19:08] jzulauf-lunarg commented on #846
That's one of a couple approaches we've kicked around.  If you wanted to protected the various structures, then you'd have to at least change the pointer contents to shared pointers, however, you then have the potential for unsafe access of the records retrieved, so you might have to lock per  entry as well.

Another approach we've considered is implementing read/writer locks where the Validate en

[2019-04-10 19:28] jeffbolznv commented on #846
I'm not familiar with all the structures the validation layers maintain. But is it possible to organize them so that they are all associated with the appropriate Vulkan object, and then rely on the "externsync" behavior requirements of the spec? There would probably be a couple exceptions to this, like a global handle->object hashmap that would require simultaneous access (reader/writer might work

[2019-04-10 19:44] mark-lunarg commented on #846
We're just getting into an effort to characterize the perf issues, and everything is on the table at this point.

[2019-04-10 19:51] jzulauf-lunarg commented on #846
@jeffbolznv  -- that's certainly a possibility for some accesses.  Though for something like BeginRenderPass, only the commandBuffer and the commandPool are externally synchronized, while behind the scenes the render pass, frame buffer, image views, and images that underlying them are all being inspected.

But as Mark says, "everything is on the table at this point"..

[2019-04-10 21:24] shannon-lunarg commented on #817
Vulkan header version 1.1.106 is now supported in the Vulkan-ValidationLayers repo, Vulkan-Tools, and Vulkan-Loader. Known-good updates are still rolling out on the LunarG repositories (LuanrG-VulkanSamples and LunarG-VulkanTools).

I will close this issue once _all_ relevant repos have updated known-good files.

[2019-04-10 22:41] jeffbolznv commented on #846
Inspected is fine. 99% of the time that parameters are not externsync, it's because they're treated as read-only by the command. And usually those objects (like render pass, framebuffer, image view, image) can't be modified after they're created.

[2019-04-10 23:08] mark-lunarg commented on #846
But their state might be updated.  I suppose it might be possible to separate much of the inter-object state from the stuff that shouldn't change.  Teasing those apart will be a challenge, and maybe a perf-hit in its own right, but we can take a look.

[2019-04-10 23:38] mattruschnv commented on #846
Is c++ 14 available on all relevant build targets? Switching some of them over to shared_lock, if possible, might not be too difficult to try. That being said, I'm not sure how to enforce all of the layers to be read only for the relevant entry points.

[2019-04-10 23:42] jzulauf-lunarg commented on #846
I don't believe we can go to '14.  For enforcement I was thinking of using method const-ness as a first pass.  As entry points become const clean, use reader locks for them.  But that's just one possible approach.

[2019-04-10 23:51] jzulauf-lunarg commented on #846
@jeffbolznv ... but they can be deleted.  They shouldn't be while they're referenced... but they can. (and there's a whole stack of unstated "is the underlying content needed by the referenced handle still valid?" validity requirements -- but that a long side discussion)

Thus the need to shared_ptr-ize  the "mostly immutable" data (only mostly because of the "in-use" and cross-reference updates).

[2019-04-11 01:03] mark-lunarg opened #857 "Missing CmdDrawIndirect stride checks"
Parameter validation should be checking the class of stride checks for functins such as `CmdDrawIndirect` (**VUID-vkCmdDrawIndirect-drawCount-00476**).  Looks like there are over half-a-dozen of these, not sure if any of them are currently checked.

[2019-04-11 02:54] jeffbolznv commented on #846
I thought the object_lifetime layer checks that the object initially exists and tracks whether a deletion occurs while in use, and other layers don't have to redundantly guarantee that the objects stay alive?

[2019-04-11 08:20] rg3igalia commented on #817
Thanks, @shannon-lunarg !

[2019-04-11 15:02] jzulauf-lunarg commented on #846
@jeffbolznv  -- it only does shallow tracking.  It looks at the handles referenced directly by a command.  It can check that the image view referenced in a descriptor update exists, but doesn't have the state to know that a *image* or *memory* objects backing that image view is valid.  To the extent this is covered, it's done in core validation.

BTW, the class of valid usage statements this would

[2019-04-11 16:03] mark-lunarg commented on #846
To be clear, "lock taking nearly 70% of CPU cycles" is not a performance regression or behavior change,  and we are counting on a performance increase using the new layer.  What is different for the khronos layer is that the locks are grabbed using a helper function instead of being directly held by lower-level validation routines.  This is probably clear to everyone but I'm hoping to avoid miscon

[2019-04-11 16:33] mattruschnv commented on #846
Correct, I never meant to imply a delta when I opened this issue. However, it is severely limiting the usefulness of the validation layers with respect to games, so I believe it is something that should be prioritized. Fine tuning the synchronization (increased number of mutexes / shared mutexes and limit the time locks are held) is the clearest path I can see through this. It will, unfortunately,

[2019-04-11 16:56] mark-lunarg commented on #846
:+1:

[2019-04-11 19:59] JasperNV commented on #427
I plan on tackling this as well after #848 is merged.

[2019-04-11 21:47] greg-lunarg commented on #528
I am going to try to help out on VL shader checker issues going forward. I won't be able to get to this for the next 2-3 weeks, but if its still around when I get freed up, I will go for it.

[2019-04-11 21:53] Tony-LunarG commented on #815
The driver is segmentation faulting because the call to spirv_to_nir is failing to compile the shader.  Changing the line in question to
[code]
causes the shader to compile successfully.  I ran the test on the same system running Windows and the shader compiles and the tests pass. The shader is run through shader validation with no errors.  There is something about using a variable to index into a

[2019-04-15 14:21] jzulauf-lunarg commented on #645
Reworked image layout tracking code in command record mode.

[2019-04-15 14:21] #645 closed

[2019-04-15 14:25] jzulauf-lunarg commented on #464
@shrinktofit  -- Is this issue still present for you?  Do you have any additional information to help reproduce the issue?

[2019-04-15 20:09] jeffbolznv commented on #820
I have a change pending for this that I will push later today. I can't assign myself, but if somebody else wants to assign me that's fine.

[2019-04-15 22:25] locke-lunarg commented on #855
@ShabbyX  If you want to set `vertexAttributeInstanceRateDivisor`, you have to add a device extension, `VK_EXT_VERTEX_ATTRIBUTE_DIVISOR_EXTENSION_NAME` or `VK_EXT_vertex_attribute_divisor`.

If your driver doesn't support `VK_EXT_vertex_attribute_divisor`, you can see a log like
`loader_validate_device_extensions: Device extension VK_EXT_vertex_attribute_divisor not supported by selected physical

[2019-04-16 11:45] pumexx opened #863 "Arrays of combined image samplers with YCbCr samplers in a descriptor"
Suppose we have an array of combined image samplers defined in a shader :
layout(set=1, binding=0) uniform sampler2D u_sampler[4];
and each combined image sampler has image view and sampler pointing to the same VkSamplerYcbcrConversion object.

Validation fails with message :
[ VUID-VkWriteDescriptorSet-descriptorType-01948 ] Object: 0x12 (Type = 23) | vkUpdateDescriptorSets() failed write update

[2019-04-16 13:31] tobine commented on #726
This is now covered

[2019-04-16 13:31] #726 closed

[2019-04-16 19:20] locke-lunarg commented on #855
[Pull #864](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/864)
Added a validation. When using VkPhysicalDeviceFeatures2 & VkPhysicalDeviceVertexAttributeDivisorFeaturesEXT without enabling the extensions, it prints logs

[2019-04-16 19:48] #450 closed

[2019-04-17 02:21] ShabbyX commented on #855
@locke-lunarg Thanks for taking a look, but that's not exactly the issue I'm seeing. We do enable the extension. The issue is that even though the extension is present, `vertexAttributeInstanceRateDivisor` is not supported. Setting that doesn't cause a validation error.

[2019-04-17 16:28] jzulauf-lunarg commented on #855
There isn't any valid usage that required features be supported for the command to be *valid*.  The language in the spec is that

and...

Typically when the *driver* is required to return an error code, validation is silent unless there is a specific valid usage statement.

[2019-04-17 21:48] jzulauf-lunarg commented on #834
Fix merged

[2019-04-17 21:48] #834 closed

[2019-04-17 22:00] locke-lunarg commented on #863
[pull #869](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/869)
Fixed it.

[2019-04-17 22:16] jzulauf-lunarg commented on #743
This also can have documentation issues to correlate text references with file locations e.g. https://vulkan.lunarg.com/issue/view/5c6b0a8ee46ffe085085610a

[2019-04-18 00:56] mikew-lunarg commented on #743
possible related https://vulkan.lunarg.com/issue/view/5c7dbb46e46ffe7d52e37970

[2019-04-18 05:56] airlied opened #870 "incorrect value in error printf"
layers/parameter_validation_utils.cpp:928

                if (vertex_input_state->vertexAttributeDescriptionCount > device_limits.maxVertexInputAttributes) {
                    skip |= log_msg(report_data, VK_DEBUG_REPORT_ERROR_BIT_EXT, VK_DEBUG_REPORT_OBJECT_TYPE_UNKNOWN_EXT, 0,
                                    "VUID-VkPipelineVertexInputStateCreateInfo-vertexAttributeDescriptionCount-00614"

[2019-04-18 14:35] mark-lunarg commented on #870
@airlied, nice catch!

[2019-04-18 16:19] #870 closed

[2019-04-18 19:31] danielmaciel opened #874 "Configure CMake fails with wayland disabled with error about missing Wayland dependencies"
Configure CMake on linux fails with wayland disabled with error about missing Wayland dependencies.
These are the command lines executed to reproduce the issue.
[code]

[2019-04-23 08:54] aejsmith commented on #316
@jzulauf-lunarg The situation I described above still does not work correctly with the code that was merged (though the submit time errors have gone away now). For that to work, the render pass usage (which uses the exact layout of the image) needs to be allowed to mismatch with the initial layout that was assumed during the draw which used the image earlier in the command buffer (which used DEPTH

[2019-04-23 15:39] jzulauf-lunarg commented on #316
@

[2019-04-23 17:07] #863 closed

[2019-04-23 17:08] #50 closed

[2019-04-23 18:51] oninach opened #879 "Extension Error when it run under preload vulkan fucntions"
when preload some wrapper function it returns :
[code]
It seems that KHR extensions are not enabled !

[2019-04-23 23:56] jzulauf-lunarg commented on #316
@aejsmith -- I think I've covered the case with the updates to the layout checker, pushed above.

[2019-04-24 08:12] aejsmith commented on #316
Yep, that looks like it's working now, thanks a lot!

[2019-04-24 14:31] jzulauf-lunarg commented on #879
@lenny-lunarg -- are you able to understand what the issue is describing?

@oninach -- does this occur in the latest SDK?

[2019-04-24 14:33] jzulauf-lunarg commented on #874
@mikew-lunarg -- can you triage?

[2019-04-24 16:25] jzulauf-lunarg commented on #316
Merged

[2019-04-24 16:25] #316 closed

[2019-04-24 22:51] locke-lunarg commented on #669
[PR #882 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/882)
Commits `layers: Validate AndroidHardwareBuffer`  & `tests: Validate vkGetImageMemoryRequirements`  for this issue.

[2019-04-25 09:32] oninach commented on #879
@jzulauf-lunarg -- SDK version 1.1.101.0

[2019-04-25 13:28] jzulauf-lunarg commented on #879
@oninach  -- Brevity is good.  But the information is a bit terse, here and above.

1) are you confirming that the same issue exists in 1.1.101? (The error message you originally posted is from SDK 1.1.73.0)

2) When you say "when preload some wrapper function" what are the specific steps you are taking to reproduce this error?

[2019-04-25 17:49] jzulauf-lunarg commented on #830
@jfroy  -- do you have plans for submitting changes to implement any of these VU's?  Is there any way we can help enable you to do so?

[2019-04-25 21:38] mikew-lunarg commented on #874
Executing the above commands works on my Ubuntu 16.04 system, but I do have Wayland packages installed, see below.

@danielmaciel I should assume that you do not have Wayland packages installed?

[code]

[2019-04-25 22:30] mikew-lunarg commented on #874
Hmm, attempting to uninstall those Wayland packages, but they seem to have many dependents; trying not to cripple my system in the process.

[2019-04-25 22:32] mikew-lunarg commented on #874
@danielmaciel As I'm not able to repro with my current system config, could you post the resulting CMake error messages generated by your commands above?

[2019-04-26 07:38] danielmaciel commented on #874
@mikew-lunarg Hi, the output of your command on my machine:
[code]

[2019-04-26 07:43] danielmaciel commented on #874
Initial state:
[code]
After installing `libwayland-dev` as instructed in `BUILD.md`:
[code]

[2019-04-26 07:51] danielmaciel commented on #874
Now that I look at the log with more scrutiny, it seems that the problem happens when configuring the `Vulkan-Loader` during `../scripts/update_deps.py --generator Ninja --config release`.
I don't know what is the procedure, are you able to move issues to a different project?
Anyhow, here is the log, I'll let you make the judgement.

[code]

[2019-04-26 07:59] danielmaciel commented on #874
As far as I can see I cannot pass 'cmake options' to `update_deps.py` directly, I would need to change the input `.json.` file. So If I don't want Wayland I would need to either download and compile the dependencies myself or edit the `known_good.json` file before running `update_deps.py`?

[2019-04-26 08:14] danielmaciel commented on #874
I have worked around it by building my own `Vulkan-Loader` beforehand with Wayland disabled and then symlinking it to the `Vulkan-ValidationLayers/build/` before running `update-deps.py` using `ln -s ../../Vulkan-Loader/ `.

[code]

[2019-04-26 08:16] danielmaciel commented on #874
So not really a bug but an overlook/missing feature that makes it hard to make a build that does not support Wayland...(Or a different CMake configuration than the default one for deps)?

[2019-04-28 16:59] oninach commented on #879
Yes the version of Vulkan that I use is 1.1.101.
I created a "wrapper functions" and I use $ LD_PRELOAD in Linux.
I notice that this happen for KHR functions.
I hope that it's clear :)

[2019-04-29 13:28] jzulauf-lunarg commented on #879
@lenny-lunarg @MarkY-LunarG @jeremy-lunarg -- given that the loader is a *loader* -- can one validly use LD_PRELOAD,  Are then operations during .so loading that are required to make entrypoints valid?

1) if preload is valid so, on what entrypoints and
2) is this something we should label in large friendly letters as being unsupported, list the limitations of the support?

[2019-04-29 16:54] mikew-lunarg commented on #874
@danielmaciel Thanks for the followup.  I'm going to close this issue, as update_deps doesn't currently address that usecase.  Keeping a customized known_good on a private branch is certainly an option.

[2019-04-29 16:54] #874 closed

[2019-04-29 17:06] danielmaciel commented on #874
Hey thanks. I do not want to keep a private branch so my current workaround is to build the dependency first myself then symlink to the build dir before running update_deps. Not ideal but works.
Until next time!

[2019-04-29 17:54] #842 closed

[2019-04-29 18:05] #698 closed

[2019-04-29 19:16] locke-lunarg commented on #855
@ShabbyX [issue #24 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/24)
We have a future plan, `Add warnings for non-success driver return values`.

[2019-04-29 19:16] #855 closed

[2019-04-29 19:20] #669 closed

[2019-04-29 21:07] jfroy commented on #830
@jzulauf-lunarg We have a Stadia engineer working on them, and we'll send a MR soon.

[2019-04-29 21:33] jzulauf-lunarg commented on #830
@jfroy -- excellent. thanks.  just wanted to make sure there was no duplication of effort.  Have your engineer review CONTRIBUTING to ensure the smoothest/best review/merge process.

[2019-05-01 11:00] nickyc95 opened #896 "Missing validation for VK_KHR_swapchain_mutable_format"
Hi,

When trying to use `VK_KHR_swapchain_mutable_format` it correctly checks for dependent extensions but still to throw a validation error when the view format doesn't match the swapchain format.

Had a look around and found (https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/496) but that appears to never have been merged.

(https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull

[2019-05-01 13:53] neobrain opened #897 "VK_DBG_LAYER_ACTION_BREAK is not working"
Setting e.g. `lunarg_core_validation.debug_action = VK_DBG_LAYER_ACTION_BREAK` in `vk_layer_settings.txt` does not have the desired effect of triggering breakpoints upon validation errors. Instead, it will just ignore them.

While `layer_debug_report_actions` in vk_layer_utils.cpp has code to implement this feature, it's marked as deprecated and never gets called for me in practice. Its replacemen

[2019-05-01 16:16] mark-lunarg commented on #896
Hey @mikes-lunarg, is this still lying around someplace, or should I just make a new commit from the stuff in Github?

[2019-05-01 17:07] mikes-lunarg commented on #896
There isn't any outstanding code for this, #496 is additional validation at vkCreateSwapchainKHR time.

This issue looks like an interaction between VK_KHR_swapchain_mutable_format and existing format checks.  We probably need to flag presentable images as mutable in PostCallRecordGetSwapchainImagesKHR so they don't get incorrectly validated when a view is created from them.

[2019-05-01 19:38] #817 closed

[2019-05-02 19:57] JasperNV commented on #846
Currently, each layer takes its own lock around commands three separate times per dispatch, and uses virtual functions to do so. Would it make sense to instead generate a single unified dispatch like this:

[code]

This skips the vcall overhead and would severely reduce the time spent in locking/unlocking mutexes.

[2019-05-02 20:25] mark-lunarg commented on #846
@JasperNV, I don't have numbers on the lock/unlock time, so I don't know offhand how much of a win we'd get.
A couple of points on the locks -- we could certainly code-gen the chassis to do something like this, but some of the validation objects need locks and some don't. For instance, parameter validation doesn't, nor does threading, but that's easily dealt with.  OTOH, currently each validation

[2019-05-02 21:33] jzulauf-lunarg commented on #846
I believe each layer object also has it's *own* lock, s.t. more than one thread can execute on different layers at the same time.

[2019-05-02 22:08] JasperNV commented on #846
Ahh, sorry, I misread the code. I thought that it was still chaining to the parent validation object so all locks were basically held at the same time. Glad to see that's not the case anymore.

[2019-05-02 23:36] jzulauf-lunarg commented on #824
@jozefkucia  -- Added tracking in PR cited above. Does this resolve the issue?

[2019-05-03 12:20] oninach commented on #879
The sdk 1.1.73.0 refers to DebugInfo : Vulkan-LoaderAndValidationLayers-sdk-1.1.73.0 but I am using right now the last Version of Vulkan : 1.1.106.0

[2019-05-03 16:18] lenny-lunarg commented on #879
What's going on with your debug info? Are you using debug info from the 1.1.73 loader with the 1.1.101 loader? If so, that's not particularly useful. You really need the debug info and source code to match the loader you're running.

As far as what's going on, what are you doing with the Vulkan calls? The loader uses the gcc constructor attribute to initialize some data. It is conceivable that thi

[2019-05-04 10:07] oninach commented on #879
Well, when I run my application under GDB, I get suggestion to install vulkan debuginfo `

`
However my Vulkan version is 1.1.106.0 .So I guess I have two chooses either to download the vulkan version 1.1.73 or to match the loader but I don't have any idea how to do that.

I try to record the vulkan calls so that I can replay them after.

I have created a shared object library that I pre-load when

[2019-05-04 11:25] jozefkucia commented on #824
Yes, this PR resolves the issue. Thanks.

[2019-05-04 20:04] doitsujin opened #905 "Updating COMBINED_IMAGE_SAMPLER descriptors crashes; accesses invalid pNext chain"
Hello,

as of 1.1.106, the validation layers crash for me when updating combined image-sampler descriptors if the participating image view was created with a `pNext` chain. The problem seems to be in the following code:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/ff7ebed5ab983c7019cddf0046261b9cd0f5017c/layers/descriptor_sets.cpp#L2227-L2229

Specifically, `iv_state->create_info.

[2019-05-04 20:23] Plagman commented on #905
@MarkY-LunarG Seems serious, can this be looked into soon?

[2019-05-04 21:17] mark-lunarg commented on #905
Sure, I'll get on it first thing.  Thanks!

[2019-05-06 08:34] jozefkucia opened #906 "32-bit build is broken (cannot cast non-dispatchable handle to pointer)"
32-bit build of Validation layers is broken. VkSwapchainKHR (non-dispatchable handle, uint64_t) cannot be cast to a pointer.

[code]

[2019-05-06 09:11] rg3igalia opened #907 "Minor warning printed many times when building with GCC 9"
When building the validation layers with GCC 9 (I tested on Fedora 30), the following warning is printed over a hundred times:

[code]

[2019-05-06 14:58] mark-lunarg commented on #906
Hey John, might this be related to f05b377644? Can you take a quick look?

[2019-05-06 16:29] jzulauf-lunarg commented on #906
@jozefkucia -- I'm not finding the offending line (or matching compile error) the code-gen at the tip of master.  What commit are you sync'd to?

[2019-05-06 16:30] #824 closed

[2019-05-06 17:11] lenny-lunarg commented on #879
Yes, you definitely need to enable any extension that you use. This is true for all extensions, no matter if they're KHR or not. If you're using extensions in your layer that the application doesn't enable, then your layer will need to create a `VkInstanceCreateInfo` that includes those extensions before it calls down the call chain.

That is the obvious thing that needs to be fixed, but I have so

[2019-05-06 20:47] locke-lunarg commented on #905
[PR #912 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/912)

[2019-05-07 16:18] jzulauf-lunarg commented on #907
Resolved with above PR

[2019-05-07 16:18] #907 closed

[2019-05-07 19:23] locke-lunarg opened #913 "There are two VUID-vkCmdDrawIndirect-drawCount-00476 in vkspec 1.1.107"
**VUID-vkCmdDrawIndirect-drawCount-00476**
If drawCount is greater than 1, stride must be a multiple of 4 and must be greater than or equal to sizeof(VkDrawIndirectCommand)

**VUID-vkCmdDrawIndirect-drawCount-00476**
If drawCount is equal to 1, (offset + sizeof(VkDrawIndirectCommand)) must be less than or equal to the size of buffer

[2019-05-07 19:25] #913 closed

[2019-05-07 19:27] locke-lunarg commented on #913
My fault sorry. No mistake.
That is
**VUID-vkCmdDrawIndirect-drawCount-00487**
If drawCount is equal to 1, (offset + sizeof(VkDrawIndirectCommand)) must be less than or equal to the size of buffer

[2019-05-08 09:34] jozefkucia commented on #906
It built successfully after updating Vulkan Headers and other repositories. Sorry for the noise.

[2019-05-08 09:34] #906 closed

[2019-05-08 21:15] Tony-LunarG commented on #815
Looking more closely, this appears to be a problem with the instrumented shader used by GPU assisted validation.  I do not see the issue with GPU assisted validation disabled.  I've filed an issue with SPRIV-Tools:
https://github.com/KhronosGroup/SPIRV-Tools/issues/2572

[2019-05-09 13:48] jzulauf-lunarg commented on #905
fixed by merged PR . Thanks to @Joshua-Ashton and @doitsujin  for such a clear, specific bug report.

[2019-05-09 13:48] #905 closed

[2019-05-09 17:50] Joshua-Ashton commented on #905
Thanks for the fix! Much appreciated :)

[2019-05-10 22:36] locke-lunarg opened #920 "pNext's pointer could be invalid if the struct is released in application layer."
See the those links [PR #912 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/912) & [issue #905 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/905) & [PR #918 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/918). Those pNext's pointer could be invalid if the struct is released in application layer.

Now I copied the necessary data and avoided to use

[2019-05-10 23:45] mikes-lunarg commented on #920
Yes I think so, otherwise this will keep happening.  Creating a proper deep copy is the most straightforward way to do this, the layer chassis already does something similar with pNext chains containing handles that need to be unwrapped.  The known vs unknown struct issue on #248 isn't really a problem for copies we keep for validation, since we wouldn't be looking at those fields anyway.

An alte

[2019-05-13 18:52] locke-lunarg commented on #427
@JasperNV  I am working on this issue. If you have done something or have any idea, could you share to me? I'm really appreciated.

[2019-05-13 19:25] locke-lunarg commented on #427
@JasperNV  I'm working on this issue. If you have done anything for that, could we discuss it? I'm really appreciated.

[2019-05-13 21:56] jzulauf-lunarg commented on #679
After reaching out to a few people in the developer community we have a plan for how to improve error messages moving forward:

- [ ] relevant portions to be updated in CONTRIBUTING.md -- @mark-lunarg
- [ ] Need a "Call for contributions" for 'Help Wanted' items below .-- @mikes-lunarg @mark-lunarg @jzulauf-lunarg @KarenGhavam-lunarG

0) Provide Full information
Based on feedback from developers,

[2019-05-14 15:48] mark-lunarg opened #922 "Improve some DescriptorSet validation messages"
From [LunarXchange issue #855](https://vulkan.lunarg.com/issue/view/5cdae0d3670a051a7d6377e5#issue/assign/5cdae0d3670a051a7d6377e5/552f13ef7ef24d0001000008):

VkDebugUtilsMessengerCallbackDataEXT::pObjects could have a lot more information; in my case, I have this validation error:

[Error:Validation(VUID-VkWriteDescriptorSet-descriptorType-01403)] vkUpdateDescriptorSets() failed write update vali

[2019-05-14 19:52] #830 closed

[2019-05-15 08:38] Ealrann opened #923 "ValidateComputeWorkGroupInvocations checks the total count of invocations"
Hello,

After an update of the vulkan validation layers  (1.1.107), a new error appears in my code:

```ERROR OCCURED:  [ UNASSIGNED-features-limits-maxComputeWorkGroupInvocations ] Object: 0x5 (Type = 15) | ShaderMdoule 0x5 invocations (486400) exceeds device limit maxComputeWorkGroupInvocations (896).```

I searched a bit from the spec and from the validation code, and if my understanding is cor

[2019-05-15 14:14] #702 closed

[2019-05-16 10:36] tmerilehti opened #925 "Incorrect requirement for shaderStorageImageExtendedFormats SPIR-V capability"
When declaring `StorageImageExtendedFormats OpCapability` in a SPIR-V shader, validation layers require the `VkPhysicalDeviceFeatures::shaderStorageImageExtendedFormats` Vulkan feature to be enabled. According to the Vulkan spec _(Table 75. List of SPIR-V Capabilities and enabling features or extensions)_ this SPIR-V OpCapability should not require any Vulkan features.

The spec states the followi

[2019-05-16 17:23] jzulauf-lunarg commented on #923
I read the spec the same way you do.  But the text is confusing

makes it sound like a product of the two, but should probably read

Mirroring earlier text:

I'll open a spec bug to clarify.

@mikes-lunarg ... yes?

[2019-05-16 19:44] greg-lunarg commented on #602
Do you have a shader that demonstrates the problem?

[2019-05-17 13:35] tmerilehti commented on #925
Currently looking into this. I can try to come up with a pull request to address this issue.

[2019-05-17 20:29] Tony-LunarG commented on #850
Fixed with PR #926

[2019-05-17 20:29] #850 closed

[2019-05-18 11:22] Destranix opened #930 "Valid Usage of pMultisampleState->rasterizationSamples when having rasterizerDiscardEnable = VK_TRUE"
Situation:
In one subpass, which uses several multisample attachments, I'm using several GraphicsPipelines. One having rasterizerDiscardEnable = VK_FALSE and one having rasterizerDiscardEnable = VK_TRUE.

For both createInfos of those pipelines the same MultisampleStateCreateInfo is passed with rasterizationSamples equal those of the attachments.

When creating the GraphicsPipelines the validation

[2019-05-21 08:52] BearishSun opened #931 "vkCreateShaderModule Invalid SPIR-V magic number when using Metal source or Metal bytecode in MoltenVK"
Hello.

When using MoltenVK, you can provide Metal shader source code or pre-compiled Metal byte code to `vkCreateShaderModule` by setting a magic number. Currently the validation layers report this as "SPIR-V module not valid: Invalid SPIR-V magic number.".

These are the magic numbers:
[code]

As defined in https://github.com/KhronosGroup/MoltenVK/blob/32e79892f582b0d8dfc876d32c4ccd3dba714622/Mo

[2019-05-21 11:03] shrinktofit commented on #464
No, thx.

[2019-05-21 11:03] #464 closed

[2019-05-21 18:03] tobine opened #934 "Perf warning when preTransform doesn't match currentTransform"
Under vkCreateSwapchainKHR call, for the VkSwapchainCreateInfoKHR struct, the spec states:

the presentation engine’s natural orientation, applied to the image content prior to
presentation. If it does not match the currentTransform value returned by
vkGetPhysicalDeviceSurfaceCapabilitiesKHR, the presentation engine will transform the image
content as part of the presentation operation

For the ca

[2019-05-21 19:14] KarenGhavam-lunarG commented on #931
@billhollings Could you provide your opinion on this. Is there a defect in the validation layers?

[2019-05-21 21:57] awr1 opened #936 "Suggest changing error message verbiage pertaining to "X before calling Y" when getting data"
In Vulkan, you have the common idiom of getting multiple items via calling `vkGetXYZ()` with a count variable pointer, making a dynamic array based on the count, and then calling that same function pointing to your new array.

In the validation layers, you can get errors like this:

[code]

but the meaning of *"called"* here is not technically correct. One can call ` vkGetPhysicalDeviceSurfaceForm

[2019-05-21 23:58] billhollings commented on #931
@KarenGhavam-lunarG

Yes...MoltenVK supports the two additional magic numbers for direct MSL import.

BTW...MoltenVK also supports the `VK_NV_glsl_shader` extension, allowing GLSL without a magic number...but that is advertised by MoltenVK in the standard extension lists like any other Vulkan implementation.

[2019-05-22 10:55] Andreyogld3d commented on #143
I see error message from Validation layers:
ERROR: [Validation] Code 0 :  [ UNASSIGNED-GeneralParameterError-RequiredParameter ] Object: VK_NULL_HANDLE (Type = 0) | vkBindImageMemory: required parameter memory specified as VK_NULL_HANDLE
I think issue can be closed.

[2019-05-22 18:15] jeremy-lunarg commented on #931
@billhollings
It is possible to get those magic numbers upstream'ed into SPIR-V (via core or extension)? We can hack around this issue in validation layers by ignoring those magic numbers during shader validation, but it feels like a backwards way of implementing support for MSL.

[2019-05-22 19:06] billhollings commented on #931
I guess that could work. But I'm not aware of how to make that happen...and it would likely be a lower priority effort for me...and the SPIRV folks, I'm sure.

But what would we need to do to make that happen?

BTW...in implementing the `VK_NV_glsl_shader` extension...I was really disappointed to see that the Vulkan WG allowed that extension to skip using a magic number altogether...basically comm

[2019-05-22 20:28] jeremy-lunarg commented on #931
On second thought, it'd be strange to add magic numbers to SPIR-V that say "I'm not SPIR-V". I think it makes more sense for this to be implemented as a Vulkan extension rather than a SPIR-V extension. e.g. VK_MSL_shader defines two new symbols (your magic numbers).

I'm not sure how that'd work; it's just source code. Regardless, I think it can still work with other shading languages. The interac

[2019-05-22 20:55] Tony-LunarG commented on #629
Fixed with #935

[2019-05-22 21:19] billhollings commented on #931
The MSL passed above is also source code...but it's prefixed with an `MVKMSLSPIRVHeader`:

    typedef uint32_t MVKMSLSPIRVHeader;

which just provides space for the magic number (in this case `kMVKMagicNumberMSLSourceCode`). For MSL code, it then just skips the header to point to the source code:

	size_t hdrSize = sizeof(MVKMSLSPIRVHeader);
	char* pMSLCode = (char*)(uintptr_t(pCreateInfo->pCode)

[2019-05-22 22:29] jeremy-lunarg commented on #931
Looking at the spec for `VkShaderModuleCreateInfo`, I believe you could support MSL in a way that is similar to GLSL.

Someone would need to champion that effort. From a validation layers standpoint, we're reluctant to hack around this since it would violate the spec.

[2019-05-23 15:29] tobine commented on #936
@awr1 Yes, I agree, a minor but helpful distinction. Are you up for creating the PR?

[2019-05-23 16:46] #629 closed

[2019-05-23 18:03] billhollings commented on #931
I wouldn't want to handle MSL the way `VK_NV_glsl_shader` handles GLSL. The problem is that it would force the user to enable only one or the other extension (MSL vs GLSL). Enabling an MSL extension would force the disabling of GLSL, and vice-versa.

From my perspective, the point of magic numbers is to identify the remaining content on each load. Using magic numbers would allow an app to submit S

[2019-05-23 18:46] awr1 commented on #936
@tobine sure, I'll see if I can work it on it later today.

[2019-05-23 20:04] KarenGhavam-lunarG commented on #931
@billhollings Your concerns about the extension VK_NV_glsl_shader are valid and as you are trying to find a Vulkan compliant solution to the original issue, these should be brought to the WG for a solution. Do note that extension has been deprecated and it is GL_KHR_vulkan_glsl  that you should be reviewing as reference point.

To modify the validation layers to accommodate the MSL shaders would b

[2019-05-24 13:51] billhollings commented on #931
@KarenGhavam-lunarG

Thanks for the update.

Good point about the deprecation of `VK_NV_glsl_shader` in Vulkan 1.1. That makes it worse because with Vulkan 1.1 there is no way of turning off the interpretation of GLSL by disabling the extension to allow MSL to be interpreted!

`GL_KHR_vulkan_glsl` is the reference for style of GLSL that can be converted to Vulkan SPIR-V or input to the `VK_NV_glsl

[2019-05-24 15:46] KarenGhavam-lunarG commented on #931
@billhollings Since this issue isn't a defect for the validation layers, we are planning to close it. It probably would be a good idea for you to create a tracking issue in your MoltenVK project for resolving this issue. You can link to this issue for historical context/info.

[2019-05-24 15:53] #931 closed

[2019-05-24 18:02] Tony-LunarG commented on #13
Smoketest has been removed from this repository and the Hologram sample it was derived from does not spew validation errors apart from the known errors here:

https://github.com/LunarG/VulkanSamples/issues/178

Tested resize of Hologram Ubuntu 18.04, Nvidia driver 418.56.

Closing this issue

[2019-05-24 18:02] #13 closed

[2019-05-24 21:11] KarenGhavam-lunarG commented on #852
@Tony-LunarG Could you add the following to the task list (I don't have write access):
1. Intra-buffer bounds checking
2. debug printf - debug information will be printed if layers enabled. If layers not enabled, noop.

[2019-05-24 21:47] #936 closed

[2019-05-27 11:24] rg3igalia commented on #816
This is solved since https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/858 was merged.

[2019-05-27 11:24] #816 closed

[2019-05-27 16:34] ShabbyX opened #943 "Incorrect subpass resolve error?"
I'm trying to get color resolve working with subpasses, and I get a validation error that doesn't make sense. What I have is:

    VkAttachmentReference colorRef = { 0, VK_IMAGE_LAYOUT_COLOR_ATTACHMENT_OPTIMAL };

    subpassDesc.pColorAttachments = &colorRef;
    subpassDesc.pResolveAttachments = &colorRef;
    subpassDesc.pPreserveAttachments = nullptr;

This results in the following validation

[2019-05-28 09:48] rg3igalia opened #944 "Incorrect template update decoding for inline uniform blocks"
When validating vkUpdateDescriptorSetWithTemplate, the templated update is converted to a normal update before being validated using cvdescriptorset::DecodedTemplateUpdate. This conversion fails to properly set descriptorCount for inline uniform blocks, which should match the value of dataSize inside the VkWriteDescriptorSetInlineUniformBlockEXT extension structure[1]. This is correctly validated

[2019-05-29 03:29] chrisforbes commented on #943
You're using it wrong. The color attachment should be the multisample attachment you want to render into; the resolve attachment should be the single-sampled attachment you want to resolve that into.

[2019-05-29 10:50] mark-lunarg commented on #831
Since this is at error-time, performance is not so much of a concern.  But it's not as simple as hashing the error message and eating the output -- it would probably have to be done per-VUID, having a count for each.

[2019-05-29 10:57] #925 closed

[2019-05-29 11:00] mark-lunarg commented on #943
@ShabbyX, I'll defer closing this issue to you, if you are satisfied with @chrisforbes answer -- Thanks!

[2019-06-02 16:41] liufachen opened #948 "2 subpass use same depth_stencil attachment as READ_ONLY"
My vulkan version is 1.1.106.0

The problem is : subpass “1” use color attachment A and subpass “2” use color attachment B, both use the same depth_stencil attachment as VK_IMAGE_LAYOUT_DEPTH_STENCIL_READ_ONLY_OPTIMAL.
The validation say:“A dependency between subpasses 1 and 2 must exist but one is not specified”, but Doc say:“If two subpasses use the same attachment in different layouts, and both

[2019-06-03 02:00] ShabbyX commented on #943
Yes, sorry, I later realized I was misusing the API. I had been trying to use this as a more flexible `vkCmdResolveImage` (where a single-draw-call subpass would do something like flipping, and the subpass would resolve the image), in which I didn't need the actual multisampled result to be stored.

[2019-06-03 02:00] #943 closed

[2019-06-03 16:30] Kadowns opened #950 "vkQueuePresentKHR with invalid VkQueue doesn't trigger any validation layers warnings"
Reopening this issue here, initially i've posted it on on Vulkan-Docs repo.

My application was crashing (without any exceptions or validation layers warnings) when calling vkQueuePresentKHR with an invalid VkQueue. Fixed it by properly calling vkGetDeviceQueue();

It would be nice if validation layers warned me about my mistake, just like when other calls are made with invalid handles.

SDK versi

[2019-06-03 17:33] mark-lunarg commented on #950
@Kadowns, thanks for the report.  Unfortunately, for a host of reasons, the current architecture does not allow validating dispatchable handles (instance, physicaldevice, device, commandbuffer, and queue).  While adding this support might be possible, it would be brittle and perhaps introduce unwelcome performance impacts.

[2019-06-03 20:57] #950 closed

[2019-06-04 14:20] mark-lunarg commented on #1
Since this issue was created, the loader-related files have been moved into a separate repository.  This should minimize, if not eliminate, uncertainty about the compilation target type.

[2019-06-04 14:20] #1 closed

[2019-06-04 14:23] mark-lunarg commented on #49
Performance issues are being tracked in issue #846.

[2019-06-04 14:23] #49 closed

[2019-06-04 14:29] mark-lunarg commented on #26
This script is checked in as of 5/2018, though it now resides in the Vulkan-Tools repository.

[2019-06-04 14:29] #26 closed

[2019-06-04 14:31] mark-lunarg commented on #28
This is being tracked and handled in issue #427.

[2019-06-04 14:31] #28 closed

[2019-06-04 14:35] mark-lunarg commented on #31
Validation tests now accept raw SPIRV.

[2019-06-04 14:35] #31 closed

[2019-06-04 14:39] mark-lunarg commented on #65
These confusing messages are no longer output by validation.

[2019-06-04 14:39] #65 closed

[2019-06-04 14:43] mark-lunarg commented on #32
Bundling this in with issue #466.

[2019-06-04 14:43] #32 closed

[2019-06-04 14:46] mark-lunarg commented on #528
The source has been modified to only process shader binaries containing group decorations.  The flattened binary is only used for validation, and is not passed down to other layers or the display driver.

[2019-06-04 14:46] #528 closed

[2019-06-04 14:49] mark-lunarg commented on #66
These types of warnings will be added to the Assistant Layer, see issue #24.

[2019-06-04 14:49] #66 closed

[2019-06-04 15:03] mark-lunarg commented on #245
These messages have been improved for clarity.

[2019-06-04 15:03] #245 closed

[2019-06-04 15:34] mark-lunarg commented on #679
We should absolutely remove the spec-text from the error messages.

[2019-06-04 15:37] mark-lunarg commented on #34
This has been subsumed by tracking issue #679.

[2019-06-04 15:37] #34 closed

[2019-06-04 15:39] mark-lunarg commented on #94
This issue has been subsumed by tracking issue #679

[2019-06-04 15:39] #94 closed

[2019-06-04 15:54] mark-lunarg commented on #642
The derived classes can now opt in or out of locking by overriding the locking behavior in the base class, providing a way to avoid locking for default functions.

[2019-06-04 15:54] #642 closed

[2019-06-04 20:13] dj2 opened #951 "Validate api_version from device is at least the same as api_version in vkCreateInstance"
Currently it is possible to set an api_version into vkCreateInstance which is higher then the api_version from the device properties. This means that the api_version on the instance_interceptor can be different from the api_version on the device_interceptor. This difference can make it confusing when things like shader_validation say the version of vulkan is not the same as the one provided in vkC

[2019-06-04 20:26] mark-lunarg commented on #951
@dj2, is there a VUID for this, or can you point me to the spec language that says this must be so?

[2019-06-04 20:31] dj2 commented on #951
Not that I know of.  We spent a bunch of time debugging the api_version difference before we figured out what went wrong. Having the warning that the API version was too high, would have made it make a lot more sense that the vulkan version reported from shader_validation wasn't the one we set.

[2019-06-04 20:42] mark-lunarg commented on #951
@dj2, we found the text, in the VkApplicationInfo section I believe.

[2019-06-04 20:49] dj2 commented on #951
So, it seems from reading VkApplicationInfo, setting InstanceCreate to 1.1 and having the Device report 1.0 is fine. Only if you use a 1.1 method does it report an error.

[code]

So, maybe the trick is, in something like shader_validation, the error message should state that the version is reported by the device and not the instance create version number?

[2019-06-04 21:12] mark-lunarg commented on #951
Yeah -- I haven't seen the shader validation error, but feel free to reword it in a PR, or if you paste in the error and how to repro, I can take a stab at it.

[2019-06-04 21:34] #820 closed

[2019-06-04 21:38] #143 closed

[2019-06-04 21:38] #174 closed

[2019-06-04 21:43] mark-lunarg commented on #204
I *believe* this has been addressed in the spirv-tools repo.

[2019-06-04 21:43] #204 closed

[2019-06-04 21:45] mark-lunarg commented on #879
@oninach, is your issue now resolved?

[2019-06-04 21:45] #681 closed

[2019-06-04 21:49] #371 closed

[2019-06-04 22:13] #307 closed

[2019-06-04 22:16] #46 closed

[2019-06-04 22:20] mark-lunarg commented on #738
@erick555, we did make a pass to remove unnecessary symbols.  Hopefully this will reduce or eliminate the false-positive ABI-breakage warnings.  Thanks!

[2019-06-04 22:20] #738 closed

[2019-06-05 01:31] dj2 commented on #951
The environment for us was, running amber as vulkan 1.1, on a vulkan 1.0 device, and passing in a spirv 1.3 shader. The shader is invalid in vulkan 1.0, but not in 1.1. So, we couldn't figure out why it was getting validation errors.

[2019-06-05 13:51] dj2 commented on #951
I don't see an easy way to fix this in shader_validation. The actual error message comes from SPIRV-Tools. The shader_validation code decides the version of vulkan based on the api_version. So, it's telling SPIRV-Tools to validate as Vulkan 1.0, which rejects the SPV1.3 shader, which is correct.

The problem is the api_version used is the device api version, not the requested InstanceCreate api_ve

[2019-06-05 14:12] mark-lunarg commented on #951
Hi Dan, thanks for the additional legwork.  The Khronos validation layer is in place to enforce the specification.  A better place for things which are useful for app developers but which don't violate the spec would be the Assistant Layer, in the Vulkan-Tools repository.  There's an ongoing effort to move all such warnings into this layer.  I suggest we add this to the tracking issue (#24) and cl

[2019-06-05 14:34] dj2 commented on #951
Sounds good.

[2019-06-05 14:37] mark-lunarg commented on #951
Thanks -- we are trying to streamline the use of this tool, so hopefully it'll be easier to use Real Soon Now.

[2019-06-05 14:40] mark-lunarg commented on #951
Added to the tracking issue, closing here.  Thanks again Dan, I'm sure this'll help other folks as well.

[2019-06-05 14:40] #951 closed

[2019-06-05 19:44] tobine commented on #948
I believe there's a bug in the layers related to this. Specifically in subpass dependency [checking](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/core_validation.cpp#L8822) we definitely don't account for the case quoted from the spec:

For this specific bug the attachment is not "in different layouts" it's in the same layout. However, I think this may be a spec issue

[2019-06-06 02:00] liufachen commented on #948
I appreciate for your help and hope this issue will be closed in the feature.

Thank you tobine.

[2019-06-06 18:04] #628 closed

[2019-06-07 07:02] Andreyogld3d commented on #350
We should use SV_POSITION. I think itis not bug.

[2019-06-07 07:02] #350 closed

[2019-06-07 15:53] mark-lunarg commented on #923
Fixed by #927.

[2019-06-07 15:53] #923 closed

[2019-06-07 16:56] greg-lunarg opened #963 "GPU-assisted Validation for VK_EXT_buffer_device_address"
This issues announces intent to implement GPU-assisted validation layer of VK_EXT_buffer_device_address.

We are assuming familiarity with the general GPU-assisted validation mechanism.

The layer will instrument all shader references through PhysicalStorageBuffer pointers. The instrumentation will first check if the base pointer has been issued from vkGetBufferDeviceAddressEXT. It will then check

[2019-06-07 17:01] jeffbolznv commented on #963
What do you mean by "the base pointer and offset"? You'll just have a pointer, and need to check that it's inside the range of addresses of some buffer. I think that's what you mean, but the wording is weird.

[2019-06-07 17:40] greg-lunarg commented on #963
By our reading of the spec, for shaders that are using the PhysicalStorageBuffer64EXT addressing model, for each load or store in the PhysicalStorageBuffer storage class, the "base pointer" of the pointer is recursively defined as: if the pointer is an OpAccessChain, return the "base pointer" of its base, else return the pointer.

As for offset, that is the difference between the "base pointer" of

[2019-06-07 17:43] jeffbolznv commented on #963
The app can pass in or construct (e.g. convert to int, do math, convert back) arbitrary pointers, the only rule is that the pointer value used in a memory access instruction must be inside some buffer.

[2019-06-07 18:04] greg-lunarg commented on #963
So going to your Example in https://github.com/KhronosGroup/GLSL/blob/master/extensions/ext/GLSL_EXT_buffer_reference.txt

you are saying that it is not necessarily true that a value of type blockType was returned by vkGetBufferDeviceAddressEXT. Instead, maybe the app took the address of a buffer using vkGetBufferDeviceAddressEXT and then manufactured  a bunch of blockType buffers by sub-dividing

[2019-06-07 18:18] jeffbolznv commented on #963
Yes, that's right.

[2019-06-07 18:29] greg-lunarg commented on #963
OK. We can deal with that. Thanks!

[2019-06-07 21:36] mattruschnv opened #964 "Using VK_VALIDATION_FEATURE_DISABLE_CORE_CHECKS_EXT in vk_layer_settings causes hang."
I'm able to disable other validation layer components in various combinations, but if I try to disable core validation, either in combination or in isolation, my applications will fail to load / never be responsive. This is seen both when I try to disable via vk_layer_settings.txt or when I hardcode the feature off by making modifications in chassis.cpp.

[2019-06-07 21:54] mark-lunarg commented on #964
@mattruschnv, this is when using the Khronos layer, yes?  I'll take a look first-thing Monday.

[2019-06-07 21:57] mattruschnv commented on #964
It can be reproduced by setting VK_INSTANCE_LAYERS to either VK_LAYER_LUNARG_standard_validation or VK_LAYER_KHRONOS_validation (which are the same thing, I think) in your env variables on windows.

[2019-06-07 23:06] tobine opened #965 "Bake codegen files into repo"
Currently many layer files are code-generated during the layer build. The proportion of build time spent on the codegen is high and can cause significant use of CPU cycles on build systems that pull and build VVL repo from scratch while doing large-scale testing.
As as common solution I'd like for the code-gen'd files to be committed into the repo so that the default build path can just use them w

[2019-06-10 19:59] #857 closed

[2019-06-10 20:00] locke-lunarg commented on #857
Fix in [PR #909 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/909)

[2019-06-11 21:21] #964 closed

[2019-06-11 21:21] mark-lunarg commented on #964
Thanks @mattruschnv!

[2019-06-11 23:26] locke-lunarg commented on #427
[PR #976 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/976)

[2019-06-11 23:29] Tony-LunarG commented on #815
Latest glslang brings in the fixed spirv-tools that fixes this issue

[2019-06-11 23:29] #815 closed

[2019-06-12 16:32] tobine opened #979 "Warn when vkQueuePresentKHR() returns VK_SUBOPTIMAL_KHR"
I know we removed many PERF WARNINGS in VVL, but there is one case that our team has identified as common and important enough that we believe it should be added.
In the case where vkQueuePresentKHR() returns VK_SUBOPTIMAL_KHR, we would like a perf warning to be issued to the app based on the spec text for this return code:

query updated surface information and recreate their swapchain at the nex

[2019-06-12 17:07] mark-lunarg commented on #930
@Destranix, I don't see in the spec where an exception is specifically called out for the mismatch, but the spec does say `pMultisampleState is a pointer to an instance of the VkPipelineMultisampleStateCreateInfo, and is ignored if the pipeline has rasterization disabled`. I supposed it then follows that if this createinfo is ignored when DiscardEnable = TRUE, we shouldn't be validating against it

[2019-06-12 17:10] Destranix commented on #930
Thank you!

[2019-06-12 17:12] mark-lunarg commented on #979
This could probably go in stateless validation, right?  Maybe we should take all of these warnings that we don't want to put in the assistant layer, and stick them in a separate VO that would be disabled by default.  We're sliding back down the slippery slope.

[2019-06-12 17:19] tobine commented on #979
Yes, can go in stateless for sure.

[2019-06-12 17:23] mark-lunarg commented on #944
Fixed by PR #945.

[2019-06-12 17:23] #944 closed

[2019-06-12 17:44] mark-lunarg commented on #789
I believe this has been fixed either by commit 6d4956662d or 0320864eeac8.  Please reopen this issue if this API is still causing access violations.  Thanks!

[2019-06-12 17:44] #789 closed

[2019-06-12 20:45] mark-lunarg commented on #827
I believe this issue was fixed by commit 358462ef.  Please reopen if evidence dictates otherwise -- thanks!

[2019-06-12 20:45] #827 closed

[2019-06-13 15:36] tobine opened #981 "Positive Test to validate vk_safe_struct.cpp GraphicsPipelineCreateInfo changes"
vk_safe_struct.cpp, which is code-generated, will make some modifications, starting [here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/scripts/helper_file_generator.py#L976), to the state in the VkGraphicsPipelineCreateInfo struct based on whether or not rasterizerDiscardEnable is true.

According to the spec [VUs](https://www.khronos.org/registry/vulkan/specs/1.1-extension

[2019-06-13 16:10] mark-lunarg commented on #981
Note that there may be some validation issues related to rasterizerDiscardEnable, see issue #930.

[2019-06-13 16:26] tobine commented on #981
Ah, interesting, I hadn't seen #930 but agree with you comment there that validation should be ignoring validating pMultisampleState (and other states I recommend to be "NULL" in this issue) for Gfx Pipelines w/  rasterizerDiscardEnable == TRUE.
That issue may need some spec clarification as well as layer fixes.

[2019-06-13 16:27] #19 closed

[2019-06-13 16:46] mark-lunarg commented on #25
We believe that these issue have been addressed in the refactoring of the layout/state tracking.  Please reopen this issue if the problems reappear.

[2019-06-13 16:46] #25 closed

[2019-06-13 16:50] mark-lunarg commented on #36
We believe these issues were primarily addressed in three recent PRs bulking up query validation, increasing performance, and implementing a disable for all query validation.

[2019-06-13 16:50] #36 closed

[2019-06-13 16:51] mark-lunarg commented on #37
A recent PR implemented checks against these input/output limits.

[2019-06-13 16:51] #37 closed

[2019-06-13 17:17] mark-lunarg commented on #64
It seems that the spirv-validator checks for this, assigning error code SPV_ERROR_WRONG_VERSION.  If this is still a problem, please reopen this issue.

[2019-06-13 17:17] #64 closed

[2019-06-13 17:22] mark-lunarg commented on #67
The second bullet should have been addressed by the chassis changes.

[2019-06-13 17:24] #75 closed

[2019-06-13 17:24] #82 closed

[2019-06-13 20:26] jzulauf-lunarg opened #983 "Update FormatHandle to output final format"
See #679 --

Update the format handle to output agreed upon format

__handleTypeName__ 0x%l016llx [__definedName__]

The handle type name can be retrieved from from the type traits of the handle.

Note: Given the way the spec defines handles fo 32 bit compilations, __handleTypeName__ will be "NONDISPATCHABLE" (or similar) for all non-dispatchable handles. If there is no __definedName__ it will be

[2019-06-16 15:18] byumjin opened #984 "Build Validation Layers with Android CMake Plugin"
Hello,

I'm trying to Build Validation Layers with Android CMake Plugin in my android studio project.
Currently, it gives error like below:
![캡처_2019_06_16_08_08_19_280](https://user-images.githubusercontent.com/22266515/59565929-076c7100-900e-11e9-9ffa-118a510dd1b7.png)

If I execute cmake with the command line, the prompt shows the error like below:
![캡처_2019_06_16_08_10_43_68](https://user-imag

[2019-06-16 16:43] byumjin opened #985 "libVKLayer_core_validation.so cannot be recognized in VulkanLoader"
Hello,

I'm trying to use Vulkan Validation Layers for my Android studio project. After I built all *.so libs from the latest repository, I inserted them into my project. I could check that the libs were included in my APK.
![캡처_2019_06_16_09_34_32_126](https://user-images.githubusercontent.com/22266515/59566860-95e6ef80-901a-11e9-82ec-4a52989115c1.png)

But, whenever I tried to enable them,
`VK_L

[2019-06-17 07:01] Andreyogld3d commented on #985
Yes, I have the same issue on Android. I also use precompiled libraries. But if try to replace libVkLayer_core_validation.so from Android NDK: ANDROID_NDK_HOME/sources/third_party/vulkan/src/build-android/jniLibs/armeabi-v7a  then it works fine.

[2019-06-17 15:34] byumjin commented on #985
@tobine Thank you for the answer.

What I want to do is, I would like to test my codes with those pre-built layers built by myself.
It seems like my android app can't recognize 'VK_LAYER_KHRONOS_validation' at all.
This is why I tried the old layers, but 'VK_LAYER_LUNARG_core_validation' still cannot be loaded.

I guess my Vulkanloader (1.0 version) is not compatible with the latest codes in this

[2019-06-17 15:51] mikew-lunarg commented on #984
Looking at the CMake output in the second image, it appears the generator name might be "Android Gradle - Ninja" rather than just "Android"

[2019-06-17 15:53] mikew-lunarg commented on #984
Also, in that same image, the CMake invocation appears to be missing quotes around the generator name.

[2019-06-17 15:55] mark-lunarg commented on #984
@cnorthrop, any ideas?

[2019-06-17 16:37] byumjin opened #987 "libVKLayer_core_validation.so cannot be recognized in VulkanLoader (from even older codes)"
I'm sorry.
I opened new issue here because I couldn't re-open my previous issue (#985).

So, what I want to do is, I would like to test my codes with those pre-built layers built by myself.
It seems like my android app can't recognize 'VK_LAYER_KHRONOS_validation' at all.
This is why I tried the old layers, but 'VK_LAYER_LUNARG_core_validation' still cannot be loaded.

I guess my Vulkanloader (1.0

[2019-06-17 17:10] tobine commented on #985
Hi @byumjin, I'm going to suggest that you follow the suggestion from @Andreyogld3d for now and just use the pre-built core_validation lib from the NDK. That should un-block you. Please be sure to enable layers in the correct order as demonstrated in the code sample [here](https://developer.android.com/ndk/guides/graphics/validation-layer#enabling).

@mark-lunarg it seems like a 1.0 vulkan loader

[2019-06-17 17:28] byumjin commented on #985
@tobine Thank you for your support. I think @Andreyogld3d's suggestion can't help my case because I want to test my own. (By the way, I checked that the prebuilt libs from the Android NDK path works) And, I'm using the same order what the Android NDK website suggest.

[2019-06-17 17:33] Andreyogld3d commented on #985
Hi @tobine

Unfortunately the fresh build of libVkLayer_core_validation.so doesn't work for Vulkan 1.1.

[2019-06-17 18:21] byumjin commented on #984
Thank you, after I added the quotes manually, it could pass the issue.
But CMake errors are still going on. I'm going to try to find out what is the reason of theses.
![Capture_2019_06_17_10_59_52_839](https://user-images.githubusercontent.com/22266515/59626926-eaa96980-90f1-11e9-8cc7-a138606edb0a.png)

[2019-06-17 18:32] mikew-lunarg commented on #984
I'm not expert on Android Studio and its CMake plugin.   From where did you get the ValidationLayer source code?  What is its version/commit ID?
FWIW the CMake version shown in your output (3.6.4...) is below the recommended 3.10.2, don't know if that could be contributing.

[2019-06-17 18:39] byumjin commented on #984
I got the ValidationLayer codes from this repository ( tests: Fix broken tests related to query states: 8df3ad8df3 )
I tried cmake 3.10.2 but it gave the same result.

[2019-06-17 18:43] cnorthrop commented on #984
We've got instructions for how to build with Android Studio ([here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/build-android/cmake/README.md)) but we don't actively test it with CI.

@ggfan Any insights into what could cause this?

[2019-06-17 18:53] byumjin commented on #984
@cnorthrop Yes, I already followed the guidance.

By the way, if I removed add_library parts for 'VkLayer_khronos_validation' in CMakeList.txt (line 62 to 96)
The first error is gone.

And for the second and the third error, it seems like it needs ${SRC_DIR}/include.
But, the folder doesn't exist in my local disk.
But, weird thing is.. other layers also need the include folder for 'target_include_

[2019-06-17 19:12] ggfan commented on #984
Inside NDK there is an old version of the code for the validation layers, could you try to build it from there to see if that works on your system? %NDK-dir%\source\third_party\vulkan\src.

that would know whether something missed from the latest code inside this repo

[2019-06-17 19:20] byumjin commented on #984
Although, I set BUILD_IN_NDK to be ON always (in CMakelist.txt), the result was not changed.

[2019-06-17 19:33] byumjin commented on #984
I think I found the reasons.

There are parenthesis typos.

In Line 158, there is a missing parenthesis.
In Line 168, there is an extra parenthesis.

Could you guys check this?

[2019-06-17 20:00] #81 closed

[2019-06-17 20:03] mark-lunarg commented on #987
#985 was reopened, please reference that issue for updates or other further actions.

[2019-06-17 20:03] #987 closed

[2019-06-17 20:59] byumjin commented on #984
Currently, I got this error when I tried to build Validation Layers.
![Capture_2019_06_17_13_58_23_496](https://user-images.githubusercontent.com/22266515/59636346-22231080-9108-11e9-9feb-7e570ae27484.png)

Any ideas?

[2019-06-17 21:01] byumjin commented on #985
I've also tried to build Validation Layers from CMake (From #984), and it is stuck at making core_validation part. I guess this is why the app can't recognize 'VK_LAYER_LUNARG_core_validation'.

[2019-06-17 21:35] ggfan commented on #984
check your NDK version: AHardwareBuffer is Android specific thing.
 - make sure used NDK has it ( inside header file directory )
 - the android version NDK began to expose it
 - your build.gradle's minimum api level

somewhere along the line, you would be able to fix it.

[2019-06-17 21:44] cnorthrop commented on #984
@mark-lunarg I think the CMakelist.txt changes came in 1f2ba2625 and 60338829e.  @byumjin, can you submit a patch that fixes those?

Regarding `AHardwareBuffer_describe`, those entrypoints were added in Android O (API level 26).  Compiling for API level 24 (Nougat) may no longer be supported.  @daveh-lunarg, can you confirm?  @byumjin, can you target API level 26 (or better, 28) instead?

If we ar

[2019-06-17 21:46] Buballs opened #989 "VK_ERROR_INCOMPATIBLE_DRIVER problem"
Hi there. I was just trying to play some games on rpcs3. Vulkan opiton didn't show up so i tried to find a solution for it. Whatever i tried didn't work. Whenever i run vulkaninfo.exe it says this:

Cannot create Vulkan instance.
C:\VulkanSDKBuild\workspace\Khronos-Tools\repo\vulkaninfo\vulkaninfo.c:921: failed with VK_ERROR_INCOMPATIBLE_DRIVER

I tried that entry glitch thing -adding the file dir

[2019-06-17 21:49] byumjin commented on #984
@cnorthrop for fixing CMakelist.txt, I still have a issue with 'add_library cannot create imported target "SPIRV-Tools-opt-prebuilt"'. I think I can't remove the part for 'VkLayer_khronos_validation', but it makes issue for me. Do you want me to fix only parenthesis issue?

Regarding 'AHardwareBuffer_describe' issue, i will try other NDK and SDK, and let you guys know.

[2019-06-17 23:24] byumjin commented on #984
So, if I use SDK version 24, it gives error at stage 10.

![Capture_2019_06_17_15_57_30_517](https://user-images.githubusercontent.com/22266515/59642325-5eab3800-9119-11e9-9901-1395de7e88df.png)

But, if I use SDK version higher that 26, it passes the stage10, but it is stuck at stage 11.
And report a bunch of  undefined errors related to 'Optimizer'.

![Capture_2019_06_17_15_59_59_106](https://us

[2019-06-17 23:48] ggfan commented on #984
could you point me to the doc you are mentioning about stage 10 stage 11? thanks

[2019-06-17 23:58] byumjin commented on #984
I'm not sure which doc executes the commands.
But, the command arguments like this
'cmake --build F:\validationlayers\Vulkan-ValidationLayers\build-android\cmake\layerlib\.externalNativeBuild\cmake\debug\arm64-v8a --target VkLayer_core_validation'

[2019-06-18 13:39] reduz opened #990 "Validation layer does not like AMD memory allocation strategy on Intel IGP?"
I'm doing the following:
1. Create an Image on GPU memory with layout undefined
2. Queue a barrier change to transfer dst optimal
3. Use a stanging buffer to put image data and queue a blit to the image

I get this error:
[code]

I have the feeling that AMD allocator is putting both the image and the staging buffer together in host memory due to this being an IGP.  Still, I don't know how to work

[2019-06-18 13:41] reduz commented on #990
I just found that the AMD memory allocator example traps this error and ignores it.. It does not make me happy to do this..

https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator/blob/master/src/VulkanSample.cpp#L205

[2019-06-18 14:35] mark-lunarg commented on #985
The file `android_ndk_types.h` states "Building Vulkan validation with NDK header files prior to platform-26 is not supported.", so we should at least start from there.

[2019-06-18 14:43] mark-lunarg commented on #989
Errors like this are usually related to some kind of driver configuration problem. This particular repository is related to the validation layers -- you might try posting your query (along with some additional hardware information) to the [Vulkan  subreddit](https://www.reddit.com/r/vulkan/), or perhaps looking at the [Vulkan-related posts on the Nvidia subreddit](https://www.reddit.com/r/nvidia/s

[2019-06-18 14:43] #989 closed

[2019-06-18 14:46] mark-lunarg commented on #80
Folding this into the Validation debug message tracking issue, #679.

[2019-06-18 14:46] #80 closed

[2019-06-18 14:47] mark-lunarg commented on #679
Please do not miss the concerns in issue #80.

[2019-06-18 14:49] mark-lunarg commented on #90
The main body of these messages has been covered, and the remaining messages are easily identifiable through the vk_validation_stats python script.

[2019-06-18 14:49] #90 closed

[2019-06-18 14:52] mark-lunarg commented on #89
This unexpected error no longer occurs.

[2019-06-18 14:52] #89 closed

[2019-06-18 14:52] mark-lunarg commented on #989
@johnzupin, do you have any more suggestions for resources related to configuration issues?

[2019-06-18 14:57] mark-lunarg commented on #97
Adding to the Assistant Layer tracking issue #24, as this is a warning.

[2019-06-18 15:23] #97 closed

[2019-06-18 15:36] karl-lunarg commented on #989
This situation has been coming up a lot recently.

It might be useful to enhance _this particular_ error message to say a bit more, like "please check that your Vulkan drivers are properly installed and your GPU supports Vulkan" or something similar.  I'll open an issue in Vulkan-Tools to propose this.

[2019-06-18 15:38] mark-lunarg commented on #98
@neXyon, does this issue still manifest?  We didn't notice any validation errors in our CTS test logs...

[2019-06-18 15:41] mark-lunarg commented on #989
@karl-lunarg, it would be really good to have a boilerplate response for these issues, as they show up everywhere, maybe even a troubleshooting page on the website that we could point to.

[2019-06-18 15:43] byumjin commented on #984
It seems like the above errors are coming from referring to wrong include header files.
If I'm correct, CMake should refer to '/validationlayers/Vulkan-ValidationLayers/layers' to use AHardwareBuffer_describe()

But, according to the logs, it seems like CMake looked for the include folder in order below

-IF:/validationlayers/Vulkan-ValidationLayers/include
-IF:/validationlayers/Vulkan-ValidationL

[2019-06-18 15:46] johnzupin commented on #989
Sorry I don't have much to add to this. Maybe try re-installing your driver https://www.nvidia.com/Download/index.aspx?lang=en-us. The subreddits mark posted would be responsive for help.

[2019-06-18 15:50] reduz commented on #990
To be honest I don't think this should be a warning at all, given how limited Vulkan default memory allocation support is.

[2019-06-18 15:58] karl-lunarg commented on #989
@mark-lunarg  Right, my point is that `VK_ERROR_INCOMPATIBLE_DRIVER` can _really_ mean that there isn't even a driver installed, it is improperly installed, or is really incompatible.  I think that a one-sentence translation at this particular location has some high ROI.  Response templates for issues are fine, but a hint like this one might avoid the need for someone to file an issue to begin wit

[2019-06-18 16:00] mark-lunarg commented on #72
This issue will serve as the main sync tracking issue for all sync validation.

[2019-06-18 16:04] mark-lunarg commented on #72
Adding issue #38, Layers do not report missing memory transition for getting query pool results, to this tracking issue.

[2019-06-18 16:04] mark-lunarg commented on #15
Added this issue to the main Synchronization Tracking Issue, #72.

[2019-06-18 16:04] #15 closed

[2019-06-18 16:05] mark-lunarg commented on #72
Added issue #15, Scrub semaphore validation, to this synchronization tracking issue.

[2019-06-18 16:17] mark-lunarg commented on #102
This looks to have been fixed.

[2019-06-18 16:17] #102 closed

[2019-06-18 16:43] mark-lunarg commented on #134
@nsubtil, any update? This could be a common use-case and we'd like to see it addressed -- thanks!

[2019-06-18 16:44] mark-lunarg commented on #139
This issue would be properly reported by the object-lifetime validation code.

[2019-06-18 16:44] #139 closed

[2019-06-18 17:02] cnorthrop commented on #984
@byumjin While we sort out cmake issues, are you able to build layers from the command line, just to get you unblocked?  Android steps are [here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/BUILD.md#building-on-android).

[2019-06-18 17:09] mark-lunarg commented on #218
This has been fixed!

[2019-06-18 17:09] #218 closed

[2019-06-18 17:14] byumjin commented on #984
with the command line
'cd build-android'
'update_external_sources_android.bat'
'android-generate.bat'
'ndk-build'

It seemed fine, I couldn't find any issue.

[2019-06-18 17:14] mark-lunarg commented on #258
We believe this issue has been fixed.  If any issues still manifest, please reopen this issue or file a new one.  Thanks!

[2019-06-18 17:14] #258 closed

[2019-06-18 18:19] mark-lunarg commented on #315
Basic support has been added, and there are least some devicemask tests for AcuireNextImage2KHR.

[2019-06-18 18:19] #315 closed

[2019-06-18 18:32] byumjin commented on #984
After I wiped my local Vulkan Validation Layer repo out and re-cloned and built it,
I encountered new issue 'use of undeclared identifier 'VK_DRIVER_ID_GOOGLE_PASTEL_KHR' when I tried to build layerlib

![Capture_2019_06_18_11_26_05_983](https://user-images.githubusercontent.com/22266515/59709929-bcdd2700-91bc-11e9-9207-13167ccf7a17.png)

- OS: Windows 10 10.0
- Android Studio: 3.4.1
- Build #AI-1

[2019-06-18 19:40] Andreyogld3d commented on #985
@mark-lunarg

So, how google compile libVkLayer_core_validation.so for Android NDK, because it works, may be we should ask google about this problem?

[2019-06-18 19:44] Andreyogld3d commented on #984
@byumjin, BTW I think this is not critical bug, we can build from command line, it works very well.

[2019-06-18 19:52] byumjin commented on #984
@Andreyogld3d could you run command line below?
'cmake --build F:\validationlayers\Vulkan-ValidationLayers\build-android\cmake\layerlib\.externalNativeBuild\cmake\debug\arm64-v8a --target VkLayer_core_validation'

 I tried it but it showed the same result...

[2019-06-18 20:04] ggfan commented on #984
this is hard part: directly invoking from CMake on command line may be too much ( there are a few factors may not worth the time to communicate ), so I would stay with gradle file: might be more fruitful ( even personally I do not feel pride in saying so :-( ).

you already have an app, include this project as a subproject and keeps on debug from there. I would try to see what you saw probably som

[2019-06-18 20:11] byumjin commented on #984
@ggfan Thank you, i will check the link. Also, I will share my steps to build laylib here

[2019-06-18 20:12] mark-lunarg commented on #985
@Andreyogld3d, hopefully @tobine or @cnorthrop can chime in, but I'm guessing that the version of the validation layers included with older NDKs did not have this restriction, which became necessary for supporting the ANDROID_HARDWARE_BUFFER extension.

[2019-06-18 20:21] Andreyogld3d commented on #984
@byumjin

Doesn't work, because i have no directory .externalNativeBuild\cmake\debug\arm64-v8a.

[2019-06-18 20:33] Andreyogld3d commented on #985
@mark-lunarg, may be i don't know something, but problem is not in NDK Version.
For Vulkan 1.0 the loading of fresh-built core_validation doesn't work, but it works for Vulkan 1.1.
I checked it yesterday for NDK 20.

am i right ?

[2019-06-18 20:48] tobine commented on #985
@byumjin can you confirm the target device that you're trying to load the layers on and Android OS version on that device? You're building for Android N (ver24) but I want to confirm which device and if you actually have N on that device or something newer. Thanks.

@Andreyogld3d if you could confirm the target OS versions on the two devices you pointed out (Meizu M6s, Motorola Moto Z2 Play) that

[2019-06-18 20:59] Andreyogld3d commented on #985
@tobine,
Meizu M6s - Android 7
Motorola Moto Z2 Play - Android 8

[2019-06-18 21:10] #255 closed

[2019-06-18 21:46] nsubtil commented on #134
Unfortunately I don't have a repro anymore, the app has changed significantly in the meantime.

Closing. I'll keep this in mind and reopen if I spot the same symptoms again.

[2019-06-18 21:46] #134 closed

[2019-06-18 21:51] #410 closed

[2019-06-18 22:06] mark-lunarg commented on #330
Tested this situation using `VkLayerTest.CopyImageAspectMismatch`, and no longer see these invalid messages.  Thanks for the report!

[2019-06-18 22:06] #330 closed

[2019-06-18 22:09] mark-lunarg commented on #352
We can put it in the Assistant Layer, see issue #24.

[2019-06-18 22:09] #352 closed

[2019-06-18 22:12] mark-lunarg commented on #418
@brett19 submitted a PR for this issue and it was merged.  Closing as fixed.

[2019-06-18 22:12] #418 closed

[2019-06-19 05:44] locke-lunarg commented on #749
@janetliuAMD fix in [PR #994 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/994)

[2019-06-19 08:56] neXyon commented on #98
Looks, like it's fixed now! Thanks. Didn't run into the issue because we have dropped usage of this extension, but I just checked an old branch and looks like the issue is gone.

[2019-06-19 19:58] Tony-LunarG commented on #990
This doesn't happen just with integrated graphics, it behaves the same way on my discrete graphics.
The VMA makes a large allocation that it subdivides as buffers and images are created.   When a request is made to map the memory bound to a buffer or image, the entire allocation is mapped and a pointer to that object's memory within that allocation is returned,  This could be to avoid the alignmen

[2019-06-19 20:54] mark-lunarg commented on #559
Done!

[2019-06-19 20:54] #559 closed

[2019-06-19 21:01] mark-lunarg commented on #602
Was this perhaps addressed as part of #862?

[2019-06-19 21:06] mark-lunarg commented on #661
Jeremy, as the BUILD_LAYER_SUPPORT_FILES-master, can you add an appropriate comment to the cmake file to take care of this issue as well?  If not, I'm happy to do it after you've fixed the other issue.

[2019-06-19 21:18] jeremy-lunarg commented on #661
LunarG VulkanTools uses that flag. AFAIK it is the only consumer. It is a by product of the repository split some time back. That flag isn't particular alarming in my opinion as there appears to have been documentation added.

[2019-06-19 21:18] #661 closed

[2019-06-20 01:20] byumjin commented on #984
I tried to build this a lot of times (with different NDK and SDK versions), unfortunately, I couldn't make it. It always stuck with "undefined reference to `AHardwareBuffer_describe'" error. It seems like AHardwareBuffer_describe() is supported by recent NDK and SDK version. So, I also tried NDK20 version but it keeps complain about it.

My steps for building Validation layer, which is traceable,

[2019-06-20 17:30] byumjin opened #1000 "How can I build the files in layer folder by my own?"
Hello,

I'm trying to fix issue #984.
And, it seems like it conflicts with the files in `layers` [folder](https://github.com/KhronosGroup/Vulkan-ValidationLayers/tree/master/layers) already pre-built in this repository.
I want to build them by myself to test it, but I have no idea which command arguments are needed for CMake.

Is there anyone who knows how to build them?

Thank you.

[2019-06-20 18:53] mark-lunarg commented on #985
@cnorthrop is bringing by a 1.0 device tomorrow, we will attempt to narrow this issue down at that time.  Thanks!

[2019-06-20 19:02] mark-lunarg commented on #1000
@byumjin, we typically follow command-line process, and don't actively use or support the build-android cmake build process.  @ggfan and @cnorthrop are the authorities in this area.  Since there's already a lot of cross-posting between issue #984 and #985, lets track this in issue #984 so that everything is in one spot.  If you are talking about building for Linux or Windows, please correct me and

[2019-06-20 19:02] #1000 closed

[2019-06-20 19:03] mark-lunarg commented on #743
Any updates here?  What's the next step?

[2019-06-20 19:06] mikew-lunarg commented on #743
It's on my todo list, to be done.

[2019-06-20 19:18] #233 closed

[2019-06-20 19:19] RCalocaO commented on #922
Pinging on this :) without it need to work with/find text on ~3,000,000 lines vk_apidump.txt file and most text editors are not great with those!

[2019-06-20 19:27] mark-lunarg commented on #922
OK Rolando, it's your lucky day -- I believe we've plumbed through the objectnames, but I'll confirm that and see about getting the image and imageview into the message as well, right away,

[2019-06-20 19:53] byumjin commented on #984
So, I figure out that `layers/core_validation.cpp` includes `android_ndk_type.h`, which includes `android/hardware_buffer.h`.
In `android_ndk_type.h`, I've checked that my __ANDROID_API__ is 26.
And, In `android/hardware_buffer.h`, which is from `android-ndk-r20/toolchains/llvm/prebuilt/windows-x86_64/sysroot/usr/include/android`, I've also checked that line 335 `#if __ANDROID_API__ >= 26` passed.

[2019-06-20 20:12] Tony-LunarG commented on #990
Vulkan only lets you map a memory allocation once, necessitating VMA mapping the whole allocation rather than just a subrange.

[2019-06-20 20:36] jzulauf-lunarg opened #1001 "Layer Performance Tracking Issue"
All Validation Layer Performance information is now tracked via the Validation Layer Performance project [page](https://github.com/KhronosGroup/Vulkan-ValidationLayers/projects/6). Please feel free to add cards to that project, or to create new issues, so that we may add them to the project.

The information below this line is considered archived for future reference.

---

Tracking issue for perf

[2019-06-20 20:39] mark-lunarg commented on #846
This will be rolled into the perf tracking issue, #1001.

[2019-06-20 20:39] #846 closed

[2019-06-21 13:53] StrayLightning opened #1003 "How can I correlate object IDs with object addresses in tracing when using VK_LAYER_KHRONOS_validation?"
When using the old VK_LAYER_LUNARG_standard_validation meta-layer, VK_LAYER_GOOGLE_unique_objects would get in the way of obtaining address references in tracing.  For example:

@[Validation]:  [ UNASSIGNED-vkCmdExecuteCommands-commandBuffer-00001 ] Object: 0x1306678f6e0 (Type = 6) | vkCmdExecuteCommands():: Executed secondary command buffer using image 0x73 (subresource: aspectMask 0x1 array laye

[2019-06-21 15:39] mark-lunarg commented on #1003
@StrayLightning, sorry that the changes have caused you trouble.  The easiest option here is to disable the handle-wrapping functionality that was previously provided by the unique_objects layer.  You can do this in a few ways, and maybe the [Layers Overview and Configuration doc](https://vulkan.lunarg.com/doc/sdk/1.1.108.0/windows/layer_configuration.html) might help.  To summarize, you can disab

[2019-06-21 16:12] StrayLightning commented on #1003
Thanks, Mark.  Sorry, I had completely missed that feature.

It would be very useful to be able to map from IDs to addresses without otherwise influencing the tracing.  I don't know how feasible it is to add to the tracing for vkCreate* entrypoints to emit the wrapped handles.

[2019-06-21 16:49] mark-lunarg commented on #1003
@StrayLightning -- no problem at all.  The powers-that-be here have just reminded me of a fourth method, which is to use the **VkConfig** utility included in the Vulkan SDKs. We should be increasingly relying on this in the future.

[2019-06-21 16:49] #1003 closed

[2019-06-24 09:03] DominikWitczakAMD commented on #602
I've been swamped with other stuff for the last couple of months and unlikely to find time to reinvestigate this for some time from now. I'm happy to close the ticket for now and raise a new one when I get to rerunning our entire internal test coverage with validation layers at some point in the future.

Appreciate your eyes on this :-)

[2019-06-24 09:03] #602 closed

[2019-06-24 09:35] #695 closed

[2019-06-24 16:25] mark-lunarg commented on #462
Fixed by PR #997.

[2019-06-24 16:25] #462 closed

[2019-06-24 16:41] mark-lunarg commented on #922
@RCalocaO, updated this error message, and plumbed the new ObjectNameInfo outputs through to all objects output by the descriptor_sets.cpp file, which had been missing them (!).  If there are any other messages we can improve, please open a new issue.

[2019-06-24 16:41] #922 closed

[2019-06-24 16:42] mark-lunarg commented on #990
@tobine, can we nuke this warning, or move it to the Assistant layer maybe?

[2019-06-24 17:48] #427 closed

[2019-06-24 18:34] tobine commented on #990
After reviewing the spec a few times I'm not certain what motivated that warning. I suspect the original motivation for the warning has since changed in the spec. I'm fine with just nuking it.

[2019-06-24 18:58] mark-lunarg commented on #990
PR coming.

[2019-06-24 19:01] mark-lunarg commented on #145
This was merged as part of #188.

[2019-06-24 19:01] #145 closed

[2019-06-24 19:05] mark-lunarg commented on #189
Moving to the Assistant layer, issue #24, as this is a warning.

[2019-06-24 19:05] #189 closed

[2019-06-24 19:32] mark-lunarg commented on #624
Ping!

[2019-06-24 19:33] mark-lunarg commented on #701
Fixed in #808.

[2019-06-24 19:33] #701 closed

[2019-06-25 00:09] mikew-lunarg commented on #743
Collecting links to other/related resources:
- https://github.com/KhronosGroup/Vulkan-Loader/pull/195
- https://www.freedesktop.org/wiki/Specifications/basedir-spec/
- https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard

[2019-06-25 06:17] cubanismo commented on #624
It should be fine to create a surface with a size queried elsewhere, e.g., gleaned from a window system event the app received.  The validation layers should probably insert a fresh get surface capabilities call themselves within the create swapchain call if they want to avoid this race to the extent possible. Note there is always a race though: The window system can resize the native surface at a

[2019-06-25 15:13] mark-lunarg commented on #422
PR coming.

[2019-06-25 15:17] mark-lunarg commented on #990
As mentioned in the abandoned PR #1006, this warning is actually called out in the spec:

So the consensus is to leave the warning as-is.

[2019-06-25 15:20] reduz commented on #990
So, should I then report this as a bug to AMD memory allocation library? I mean, either them, the spec or the validation layer has to be wrong here..

[2019-06-25 15:24] jeffbolznv commented on #990
IMO it is a validation layer bug if this is reported as an error, because there really is no such error in Vulkan. If it is reported a warning that's less objectionable, but it's the kind of thing where it adds more confusion than it helps.

[2019-06-25 15:25] mark-lunarg commented on #990
As @Tony-LunarG described in his comments, this might be one of those things that the memory manager needs to do even though it generates valid warnings.  But yes, that might be the best place to address it, as the layers need to cover the operation of all applications.

[2019-06-25 15:27] mark-lunarg commented on #990
@jeffbolznv, it is a warning. I'll run it past @Tobine again -- I feel similarly about all the warnings - they usually upset just as many folks as they help.

[2019-06-25 15:32] reduz commented on #990
Opened an issue on the AMD memory allocator:
https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator/issues/64

[2019-06-25 16:06] darksylinc commented on #990
HOLD ON A SECOND HERE!

I see 5 distinct problems here:

1. Whether this behavior is avoidable or not. It is not avoidable because Vulkan forces to map the entire region. And if there's only one queue, we will be forced to map non-host-accessible resources.
2. Whether it is valid to map non-host-accessible resources as long as we don't read or write from/to it, or if it is entirely invalid to even

[2019-06-25 16:10] mark-lunarg commented on #990
@darksylinc, it is a warning, see closed PR #1006, or the original issue description at the top of these comments.  If we don't remove the warning, then perhaps a rewording will help.

[2019-06-25 16:15] jeffbolznv commented on #990
I know the warnings are meant to be helpful, but it seems like the trend is "if something is valid, somebody will do it, and the warnings will be considered a bug".

As for what the spec says, my interpretation is "it's valid to map, it's even valid to access, you just get undefined data in your image". The mapping needs to be allowed in order to share memory with buffers and I think it's weird to

[2019-06-25 16:25] darksylinc commented on #990
@mark-lunarg I see. I re-read the log and it is indeed a warning. I am not advocating for removing the warning. And indeed, a rewording would help, since the warning implies it is invalid to even map; whereas it is more likely that it is illegal to touch that region of memory from the client if the device is using it.

[2019-06-25 16:29] mark-lunarg commented on #990
@jeffbolznv, I agree entirely, will advocate again for removal, and need to build some consensus with some other stakeholders -- thanks again for the information and support.

[2019-06-25 16:36] reduz commented on #990
My view on this is that warnings are useful when they advocate best practices. This seems to have been so far the case with all the other warnings I have found in the validatio layer, but it doesn't seem to be the case here.

[2019-06-25 16:40] reduz commented on #990
According to @adam-sawicki-amd on his comment below, there isn't any possible best practice here to follow, as this is per vulkan design:

https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator/issues/64#issuecomment-505503898

If this is the case, then I'm not sure this is useful as a warning, I believe it should be something of less importance.

[2019-06-25 16:53] mark-lunarg commented on #990
We have removed this warning from corechecks and will add it to the assistant layer (see tracking issue #24), where best-practices and API pitfalls are collected together.  Thanks for all the feedback.

[2019-06-25 16:53] #990 closed

[2019-06-25 18:42] mark-lunarg commented on #422
Fixed by #1010.

[2019-06-25 18:42] #422 closed

[2019-06-25 19:52] termhn opened #1011 "Segmentation fault in latest validation layers"
With the latest release of the vulkan SDK/validation layers, we get a segfault originating in the validation layers on queue submit in [Amethyst](https://github.com/amethyst/amethyst). Reproduction is simple:

* Install latest vulkan SDK
* Install Rust
* Clone Amethyst
* Do `cargo run --example pong --features vulkan`

[2019-06-25 20:16] mark-lunarg commented on #1011
Can you share the validation errors received before the segfault, if any? It is sometimes the case that a condition reported as a validation error is unrecoverable and will eventually cause a crash in the layers or the driver.

[2019-06-25 20:22] termhn commented on #1011
Yeah, there were no validation errors received. Here's a full log and stack backtrace: https://gist.github.com/patrick-o-harrison/e37f6410032c2c517e48e29ba6f4c7a0

[2019-06-25 20:25] mark-lunarg commented on #1011
Thanks for the info! We'll take a look.

[2019-06-25 22:26] reduz opened #1012 "Assert or abort (at least optionally) on undefined behavior."
Today I found out that forgetting a vkEndCommandBuffer before vkQueueSubmit hard-crashes
Ubuntu Linux running RADV driver to the point I can't even ssh from the outside.

Asking around, I found that this is fine, given it's undefined behavior.

This is a very simple error that I'm sure the validation layer was catching, but I could never read.

I think it would be very useful to abort (or at least

[2019-06-25 22:28] reduz commented on #1012
Even if the validation layer would not abort, at least finding out that something is undefined behavior could be useful, so I can abort myself.

[2019-06-25 22:31] #622 closed

[2019-06-25 22:32] mark-lunarg commented on #983
@locke-lunarg, is the work here now done?  If so, please close this issue.

[2019-06-25 22:35] reduz commented on #1012
I realize now i could just abort on any error and would be able to work around this, so not quite sure if there is any way to tell which errors have the potential to crash a driver, I may be asking for too much I guess.

[2019-06-25 22:59] mark-lunarg commented on #1012
@reduz, yes, if you received a validation error, you could intercept it in your callback and take appropriate action.  In fact, **any** validation error  places the application in 'undefined behavior' territory. We have medium-term plans to stop/short-circuit validation upon encountering certain kinds of errors, which should help to avoid some crashes and to place more focus on critical errors.

[2019-06-26 02:04] byumjin commented on #984
Is there a way or can I have a chance to test `NDK21` beta version to build the latest validation layers codes?

It seems like when we use `update_external_sources_android.bat` to compile, we need to use NDK .
The problem is the current NDK20 generates obj files (related with spirV-Tool) not compatible with the current latest codes.
And, In CMake in `layerlib` folder, I've checked that I can't set

[2019-06-26 06:32] #983 closed

[2019-06-26 09:05] adam-sawicki-amd commented on #990
My understanding is that:

- It is valid to map entire memory block that contains e.g. a depth-stencil image, it's just the data of the memory region that spans the image that shouldn't be accessed because results are undefined.
- It is impossible to avoid allocating large memory blocks and sub-allocation of resources in any nontrivial application because of the maximum allocation number limit.
-

[2019-06-26 15:34] mark-lunarg commented on #1012
I'm going to close this issue for now -- if you find that you did NOT get any validation errors before the hard-crash, please reopen this issue and we'll try to get a repro ASAP.  Thanks!

[2019-06-26 15:34] #1012 closed

[2019-06-26 17:45] mark-lunarg commented on #1011
@termhn, I've not previously used Rust nor Amethyst.  Followed steps above, got past (?) an issue with 'fulltype', and now my terminal is staring at me like so:

[code]

What is supposed to happen?  Any additional repro tips?

Also, didn't see in the Amethyst repo where the validation layers were specified or referenced -- is this baked into some other component?  One thing at a time, I guess...

[2019-06-26 18:33] termhn commented on #1011
@mark-lunarg thanks for taking a look :) Those errors mean you probably have an outdated version of cargo/rustc installed (maybe from your distro's package manager?) I recommend installing it from https://rustup.rs/ which will get you the latest stable version.

The validation layers aren't directly referenced in the Amethyst repo, they're actually a couple dependencies deep :P Amethyst uses [rend

[2019-06-26 19:06] mark-lunarg commented on #1011
Ah, I guess I *had* used rust, since my install was from 2017.  Updated, and you were absolutely right, it was simple -- I see that the layers are loaded correctly but are crashing.  May have more questions later!

[2019-06-26 19:08] termhn commented on #1011
Sure thing, ask away :D

[2019-06-26 21:44] mark-lunarg commented on #1011
@termhn, it *looks like* the crash happens with or without the layers.  You can try this by setting the following environment variable:

`export VK_LAYER_PATH=ANY_OLD_GARBAGE`

and then run the command line you supplied. This env var tells the loader to use that location for the layers, and if they aren't there they won't be loaded.  I also tried with the 1.1.106 SDK and see the same behavior.

Wh

[2019-06-26 21:46] termhn commented on #1011
Hm, interesting... for me (and others who have had this issue with Amethyst), downgrading to 1.1.106 SDK has solved the issue.

[2019-06-27 15:51] locke-lunarg commented on #750
@janetliuAMD Fixed in [PR #1014](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1014)

[2019-06-27 19:47] #749 closed

[2019-06-27 19:54] mark-lunarg commented on #1011
@termhn, were you able to determine if amethyst is calling a device-level extension function related to DebugUtils after the GetPhysicalDeviceSurfacePresentModes call?

[2019-06-27 19:55] termhn commented on #1011
Haven’t had a chance to look yet

[2019-06-27 21:07] mark-lunarg commented on #963
@greg-lunarg, is there a need to keep this issue open?  Or maybe fold it into the [GPUAV tracking issue](https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/852)?  Thanks!

[2019-06-27 21:33] jaynus commented on #1011
Hi, I'm another developer on the Amethyst project with @termhn

Using the provided environmental variable, I do *not* receive a crash when disabling the validation layers.

- `VK_LAYER_PATH=asdf cargo run --example pong --features vulkan` Runs successfully for me with no crash.

- `cargo run --example pong --features vulkan` crashes inside `libVkLayer_khronos_validation`

So it appears its definit

[2019-06-27 21:42] jaynus commented on #1011
After further debugging, I can tell you the crash definitely only occurs in `VK_LAYER_LUNARG_core_validation`.

All other layers operate fine.
[code]
Executes successfully. Adding `VK_LAYER_LUNARG_core_validation` crashes.

[2019-06-27 21:49] mark-lunarg commented on #1011
@jaynus, thanks, this is extremely helpful.  Obviously, my dev env is set up incorrectly.  To get the SDK, I just downloaded the gzip, unzipped it into a local directory, and ran the `setup-env.sh` script.  I have the `1.37.0-nightly` version of rustc installed, `58c1053c5d `of the Master branch of amethyst, and the Nvidia 415.22.06 driver installed.  Any suggestions?

[2019-06-27 21:50] mark-lunarg commented on #1011
Also, just for grins, where did you get the swapchain and dev_limits layers?

[2019-06-27 22:06] jaynus commented on #1011
My nightly was a bit old, so I just upgraded my nightly to match `rustc 1.37.0-nightly (d3e2cec29 2019-06-26)` and tested, it still occurs.

You may need to `cargo clean` to make sure everything gets rebuilt again with the new toolchain. I confirm `58c1053c5d` is definitely still exhibiting the bug for us.

If not, here are some reproducible steps.
First, make sure you have git lfs installed. This

[2019-06-28 02:34] locke-lunarg opened #1020 "ImageLayoutMap might have order issue in CoreChecks::ValidateCmdBufImageLayouts"
[PR #1018 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1018)

CoreChecks saves imageLayout in map. (`CoreChecks::SetLayout`) But the index of data in map doesn't follow when it adds, so when it runs the whole ImageLayoutMap in `CoreChecks::ValidateCmdBufImageLayouts`, the data order might be different with the command order.

For example: I add command `vkCmdPipelineBarrier`, and

[2019-06-28 08:23] jengelh commented on #233
Installation still copies `libVkLayer_utils.a`, but which is probably useless now that there is no more header files installed by default to get at the function declarations.

[2019-06-28 15:07] #624 closed

[2019-06-29 15:25] jzulauf-lunarg opened #1022 "Move shader capabilities validation to CreateShaderModule"
In fixing a plaform specific crash, VkLayerTest, SubgroupSupportedOperations, it appears that for the case of invalid capabilities some drivers (recent AMD) fail at CreateShaderModule time. The capability test should be moved up to CSM time, implementing ShaderModuleCreateInfo-pCode-01090

The unit test should also be updated to reflect the earlier reporting of the issue.

The workaround for this

[2019-06-30 09:39] neobrain commented on #897
Any updates on this issue? All that's needed to fix this is to copy the `debug_action & VK_DBG_LAYER_ACTION_BREAK` block introduced in c9d8165 to the `layer_debug_messenger_actions` function.

I'd submit a patch myself, but I'd rather not sign and keep track of a CLA just for such trivial changes.

[2019-07-01 15:54] chelmich opened #1024 "vkCreateDevice causes segfault after upgrade to 1.1.112"
Apologies in advance for any ignorance on my part, I'm just getting started with Vulkan. In terms of setup I am running Arch Linux on a Dell XPS 13. The GPU reported by Vulkan is `Intel(R) HD Graphics (Whiskey Lake 3x8 GT2)`.

I have been playing around with the basics by creating my own small Vulkan program based loosely on the tutorial found [here.](https://vulkan-tutorial.com/) Everything was w

[2019-07-01 19:12] mikes-lunarg commented on #1024
@chelmich, thanks for the detailed report!

I can confirm on `Intel(R) HD Graphics 530 (Skylake GT2)` with the package versions listed above by running `vkcube --validate`

This was a regression introduced by some recent extension validation.  It was just fixed here: https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/5e3bf3d651e08cb7464f6c7270a9637239fc13bb so that change hasn't made i

[2019-07-01 19:12] #1024 closed

[2019-07-01 22:52] #627 closed

[2019-07-02 16:55] locke-lunarg commented on #750
Sorry, the problem is not really fixed. I'm still working on it.

[2019-07-03 02:51] termhn commented on #1011
I have a new hint/lead on this from this issue https://github.com/amethyst/rendy/issues/171

This segfault only occurs when using rendy's `PresentNode`, which is a node that does an image copy from an intermediate image into a swapchain image and then presents the swapchain image to the screen. The rendy `triangle` example does not use this node and instead renders directly into the swapchain imag

[2019-07-03 04:25] mark-lunarg commented on #1011
@termhn, @jzulauf-lunarg, @jeremy-lunarg, and I root-caused the issue today, and there'll be a PR tomorrow. Turned out to be related to the image layout tracking in secondary command buffers. Thanks again for the outstanding repro-case help!

[2019-07-03 05:04] termhn commented on #1011
@mark-lunarg Awesome! Thank you for the great communication & quick response :D

[2019-07-03 08:55] JoergArm opened #1032 "The viewportCount and scissorCount members of VkPipelineViewportStateCreateInfo aren't validated"
The specification states that those members must be within [1;VkPhysicalDeviceLimits::maxViewports].
We hit at least one case in the Conformance tests where 0 (for the scissorCount member) was supplied, internal CTS issue #1857.
Is it possible to add the appropriate validation?

[2019-07-03 15:12] mark-lunarg commented on #1020
Fixed by PR #1018.

[2019-07-03 15:51] locke-lunarg commented on #1020
The description is not correct. The real problem is about memory aliasing.

[2019-07-03 19:22] #1011 closed

[2019-07-03 21:19] mark-lunarg commented on #1032
@JoergArm, validation for the two implicit VUs ("`VUID-VkPipelineViewportStateCreateInfo-viewportCount-arraylength`" and "`VUID-VkPipelineViewportStateCreateInfo-scissorCount-arraylength`") is implemented, along with checks for "`VUID-VkPipelineViewportStateCreateInfo-scissorCount-01216`" through 01219, along with validation tests.  Can you point me to one or more of the CTS tests that were failin

[2019-07-04 14:25] baldurk commented on #842
The same kind of bug happens in SDK 1.1.108.0 within `ObjectLifetimes::PreCallValidateCmdBeginTransformFeedbackEXT`:

[code]

Should I open a new issue?

[2019-07-05 07:50] JoergArm commented on #1032
Thanks for pointing out the specific commit - cross-checked, and indeed the validation happens after that revision.

[2019-07-05 07:50] #1032 closed

[2019-07-05 14:54] jzulauf-lunarg commented on #842
@Baldurk please do.  Reference this one.

[2019-07-06 05:00] #897 closed

[2019-07-06 08:09] neobrain commented on #897
Thanks, this will help me out a lot! :)

[2019-07-06 17:40] krOoze opened #1039 "stateless\parameter validation is not resistant to `nullptr`"
Stateless\parameter validation is not resistant to `nullptr` required parameters. PR #1038 to demonstrate.

The main problem is "manual" checks are performed before the automatic checks. And the manual checks (rightly?) do not worry about `nullptr` arguments.

Should perhaps the order of checks be reversed?

[2019-07-08 16:07] mark-lunarg commented on #1039
@krOoze, this is a great idea.  Will get on it directly.

[2019-07-08 16:10] mark-lunarg commented on #897
@neobrain, just FFR, can you describe how you use this feature, how you learned of it, and how it helps?  I was not a little surprised that *anybody* was using it!

[2019-07-08 16:32] neobrain commented on #897
@mark-lunarg It's a straightforward way of producing a stacktrace upon encountering a validation error, which I needed since it sometimes can be difficult to figure out which API call site a validation layer message actually refers to otherwise. It's been a while, but IIRC `VK_DBG_LAYER_ACTION_BREAK` is the only way to actually do this (other than manually setting a breakpoint on the validation me

[2019-07-08 16:39] mark-lunarg commented on #897
@neobrain, thanks for your response.  This is all good information -- we're in a push to improve the validation workflow, and to make features like this more visible and useful.  If you have any more suggestions or ideas for improvement, please let us know!

[2019-07-08 16:49] neobrain commented on #897
@mark-lunarg Happy to help! I'll let you know if any more suggestions come to mind :+1:

[2019-07-09 09:37] baldurk opened #1042 "object lifetimes layer checks optional argument in vkCmdBeginTransformFeedbackEXT"
This is the same issue as #842 but in a different place - In `vkCmdBeginTransformFeedbackEXT` the `pCounterBuffers` parameter is optional, but layer code unconditionally reads it without a `NULL` check:

[code]

Tested in SDK 1.1.108.0.

[2019-07-09 14:23] DominikWitczakAMD opened #1044 "Race condition in vkCreateDevice()+vkDestroyDevice()+vkGetDeviceProcAddr()"
Say we have N threads living in the same process that call the three functions. They may be referring to any valid logical device, possibly using different Vulkan instances.

vkCreateDevice() and vkDestroyDevice() require external synchronization but vkGetDeviceProcAddr() does not. Furthermore, external synchronization only refers to the device instance in question, not to all logical devices spaw

[2019-07-09 15:05] krOoze opened #1045 "VS project dependency is incorrect"
Project dependency in the generated VS solution is incorrect.
E.g. the tests should imo depend on the layers, otherwise it accidentaly tests the unmodified (old) build of layers and lead to serious head scratching.

PS: it is also bit annoying some things (re)build even when there're no changes.

[2019-07-09 17:41] #1039 closed

[2019-07-09 17:50] mark-lunarg commented on #1042
Eureka! What if all this stuff was checked into the tree and we could see the actual diffs... 🥇

[2019-07-09 19:44] mark-lunarg commented on #1044
Hey @DominikWitczakAMD, I can't see much of the call stack, but i'm *guessing* that the layers aren't loaded, or at the very least, that they're not required to observe the race condition?  If that is the case, I'd respectfully ask that a corresponding issue be opened in the [Vulkan-Loader repository](https://github.com/KhronosGroup/Vulkan-Loader). Thanks!

[2019-07-09 19:45] #1042 closed

[2019-07-09 20:00] DominikWitczakAMD commented on #1044
Apologies, you're right. I guess it was late when I was opening this ticket. Moving the ticket now.

[2019-07-09 20:02] DominikWitczakAMD commented on #1044
Opened https://github.com/KhronosGroup/Vulkan-Loader/issues/200 .

[2019-07-09 20:02] #1044 closed

[2019-07-09 20:21] mark-lunarg commented on #1044
No worries, and thanks.  I've already spoken with @lenny-lunarg about the issue.

[2019-07-09 20:31] #10 closed

[2019-07-09 22:39] mark-lunarg commented on #1045
I think the PR has a sufficient remedy for this issue.  As for the unnecessary rebuilds, we will address those items after the pre-baked codegen and legacy layer deprecation land.

[2019-07-09 22:59] #1045 closed

[2019-07-10 16:18] karl-lunarg commented on #666
@mikes-lunarg Can this be closed?

[2019-07-10 17:06] mikes-lunarg commented on #666
@karl-lunarg closing now, I didn't realize it was still open

[2019-07-10 17:06] #666 closed

[2019-07-14 01:18] krOoze commented on #1039
Hmm, there is also a somewhat minor problem that this is untestable. If it crashes test count it as fail, even if the error mesage was produced earlier.

Perhaps it should be spread in two sublayers of `parameter_implicit` and `parameter_manual`?

[2019-07-15 15:25] locke-lunarg commented on #934
Fixed in [PR #1019](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1019)

[2019-07-15 15:25] #934 closed

[2019-07-15 15:29] Jiawei-Shao opened #1055 "Texture-to-texture copy issue with compressed formats"
It seems there is an issue in Vulkan SPEC about the texture-to-texture copies (vkCmdCopyImage) with compressed formats with the parameter "extent" fitting in one subresource but not fitting in another.

For example, there are two textures with same BC format whose sizes are both 60x60, when I want to copy a 16x16 region from the location (0, 0) of level 0 of one texture into the location (0, 0) of

[2019-07-15 20:57] mark-lunarg commented on #72
Added issue #7, No error reported if two renderpasses which rasterize to the same attachment are not synchronized, to this synchronization tracking issue.

[2019-07-15 20:58] mark-lunarg commented on #7
Moved into tracking issue #72.

[2019-07-15 20:58] #7 closed

[2019-07-15 21:00] mark-lunarg commented on #21
@cnorthrop, I think we're past this with the known-good?  Correct me if this isn't true.  Thanks!

[2019-07-15 21:00] #21 closed

[2019-07-15 21:13] mark-lunarg commented on #9
This was implemented by @tobine in commit 6493f135497.

[2019-07-15 21:13] #9 closed

[2019-07-15 21:20] cnorthrop commented on #21
I *think* this issue was about removal of the "android" script and "ant" from the SDK.  It means you cannot create VulkanLayerValidationTests.apk on Windows.  I don't think anyone has complained about it, or provided a way to do it, so I think you can keep this closed.

[2019-07-15 21:28] mark-lunarg commented on #29
Index buffers also have their own scheme, outside of object_bindings *and* draw_data.

[2019-07-16 20:50] mark-lunarg commented on #579
Fixed by #1053.

[2019-07-16 20:50] #579 closed

[2019-07-17 03:57] joey-sketchup opened #1060 "Crash in SHADER_MODULE_STATE::BuildDefIndex"
Hey guys :)

I'm running pretty basic test shaders and debugging creation of shader modules when I ran into a crash in vkCreateShaderModule. Building with the tip of master of Vulkan-ValidationLayers I found it crashed at line 68 of shader_validation.cpp in SHADER_MODULE_STATE::BuildDefIndex(). Looks like the crash is due to the iterator going off of the end of the data.

Right before the crash th

[2019-07-17 06:40] joey-sketchup commented on #1060
Commenting out line 111 in shader_validation.h in SHADER_MODULE_STATE::PreprocessShaderBinary, which prevents that iterator from terminating when it finds the first "OpFunction" I see the same crash.

So it seems the crash is with the spirv_inst_iter itself, and I notice it's incrementing the iterator based on the upper 16 bits of the current word... and looking at the SPIR-V spec this makes sense

[2019-07-17 16:40] mark-lunarg commented on #1055
@daveh-lunarg, can you give this a quick once-over, please?

[2019-07-17 16:47] mikes-lunarg commented on #965
Added in #1033

[2019-07-17 16:47] #965 closed

[2019-07-17 18:06] jeremy-lunarg commented on #1060
Validation layer behavior is undefined after detection/reporting of validation errors.

Also, use spirv-val to validate spirv. glslangValidator does not validate spirv.

[2019-07-17 18:06] #1060 closed

[2019-07-17 18:14] iostrowsINTEL opened #1064 "Draw state image layout check"
Hi,

there was a regression in the VK-GL-CTS, introduced here: https://github.com/KhronosGroup/VK-GL-CTS/commit/4301d73b33b2a793640939903bff9d9c9378ba5a, that validation layers could not spot.

The change starts to use optimal layout instead of general in some cases, but does not adjust image layouts in descriptors.

Based on the test **dEQP-VK.descriptor_indexing.sampled_image**:
Sampled images i

[2019-07-17 18:26] daveh-lunarg commented on #1055
Without actually looking at VL code:

First case looks right to me, MIP lvl 2 is 15x15 so can't specify 16x16 (even though it's stored in a 16x16 compressed block).

Second one looks like a validation error. It should compare the pRegion to the mip 2 extent (15x15), but the error message implies it compared to the mip 0 extent (60).

[2019-07-17 19:17] mark-lunarg commented on #98
Sweet!

[2019-07-17 19:17] #98 closed

[2019-07-18 00:13] Jiawei-Shao commented on #1055
The [SPEC](https://www.khronos.org/registry/vulkan/specs/1.1-extensions/html/vkspec.html#copies-images) only says "When copying **between compressed and uncompressed formats** the extent members represent the texel dimensions of the source image and not the destination. ",  and there is no such special statement over the copies between compressed formats, so I don't think it a bug in Vulkan Valida

[2019-07-18 11:43] jzulauf-lunarg commented on #948
@tobine  -- did you open spec issue (or propose an MR) for the spec issue.  It always makes me nervous to get Validation ahead of the spec in this sense, without at least some grunts of affirmation out of the WG.

@mikes-lunarg

[2019-07-18 12:52] jzulauf-lunarg commented on #948
@tobine  -- does the following give enough cover to say that  read-only attachments (input or read only depth stencil) don't require subpass dependency  w.r.t. other read references to the same attachment. The "different layouts" section of the spec is then just further clarification that even image layout transitions between read only formats (and image layout transitions can *write*) don't requi

[2019-07-18 13:09] tobine commented on #948
@jzulauf-lunarg That helps but doesn't seem conclusive. I submitted a spec edit and tagged you on it to clarify that no subpass dependency is required between subpasses using the same attachment in any read-only layouts (regardless of if the layouts are the same or not)

[2019-07-18 17:03] daveh-lunarg commented on #1055
When copying between like formats, the dimensions are always in texels.  When copying compressed->uncompressed or uncompressed->compressed it's potentially ambiguous because the number of texels differs between source & dest  - so the spec has a statement just for that case to clarify that the copy extent is in _source_ texels. In the case above the texel size (i.e. bits-per-texel) is the same for

[2019-07-18 18:28] camden-lunarg commented on #66
The assistant layer now logs a warning when VkResult is unsuccessful. Specifically, if vkCreate* fails because of an extension not present, the assistant layer warns you that VkResult returned with VK_ERROR_EXTENSION_NOT_PRESENT.

In addition, validation-layers will log a list of all unsupported extensions.

Since the error code is now logged, this issue is now marked as complete in #24

[2019-07-18 22:05] #29 closed

[2019-07-19 00:01] Jiawei-Shao commented on #1055
The reason for the error message in case (2) is (15, 15, 1)  is neither "**a multiple of a compressed block width**" nor " (extent.width + srcOffset.x) must equal the source image subresource width" (it seems you miss the first statement).

The VL code follows the SPEC as it first tests if (15, 15, 1) is "a multiple of a compressed block width" then tests "(extent.width + srcOffset.x) must equal t

[2019-07-19 17:57] daveh-lunarg commented on #1055
Sorry, I didn't read the VL error text closely enough - I assumed both error conditions noted were complaints about the _dest_ image dimensions.

As I understand it, the only non-block-dimension regions accessible for copying in Vulkan compressed images are regions that include the final partial block (in any combination of X, Y, and Z) and this has the effect of disallowing the copies between mip

[2019-07-20 17:15] reduz opened #1070 "Strange error and crash with wrongly reported bound descriptor"
I am getting this error:

[code]

And subsequently a crash in the validation layers.

I checked a thousand times and the set #1 _is_ bound.

Running my code without validation layers works fine, and when running under RenderDoc, it shows that set #1 is perfectly bound, so it appears to me that this is a bug in the validation layer.

I have no idea how to reproduce this for you to test. Is a Render

[2019-07-22 15:54] greg-lunarg commented on #963
@jeffbolznv What do you think will be the typical number of different buffers that will have vkGetBufferDeviceAddressEXT called on them during a game session?

[2019-07-22 16:03] jeffbolznv commented on #963
I'd expect it to be a significant portion of the app's buffers, so could be anywhere from tens to hundreds or even more.

[2019-07-22 16:42] greg-lunarg commented on #963
@mark-lunarg While this is in active development, I think it makes sense for it to have its own issue. My very recent exchange with JeffB is a good example of its usefulness.

[2019-07-22 23:06] greg-lunarg commented on #963
As currently planned, this validation will require the shaderInt64 member of VkPhysicalDeviceFeatures to be true since instrumentation is going to need to enable Int64 SPIR_V capability so that the instrumented shader can do the 64 bit arithmetic and comparisons required to make sure pointers are in range one of the queried buffers. The validation layer will have to check for this support early on

[2019-07-25 03:14] zhaijialong opened #1077 "Lack validation for imcompatible flag of VK_DESCRIPTOR_SET_LAYOUT_CREATE_PUSH_DESCRIPTOR_BIT_KHR flag"
Hi,

I have two descriptor set layout with basically same layouts, except for the `flag`. If the descriptor set layout used for creating pipeline layout has the flag `VK_DESCRIPTOR_SET_LAYOUT_CREATE_PUSH_DESCRIPTOR_BIT_KHR `, while the descriptor set layout used for creating descriptor set doesn't,  there is no validaiton errors/warnings. And the driver will silently ignore the descriptor set when

[2019-07-25 13:47] vladimir-nazarenko opened #1078 "CoreValidation-Shader-InterfaceTypeMismatch meaning"
For no apparent reason (think I had somehow triggered a vulkan-sdk update), I started getting this message
`[VALIDATION]:Validation -  [ UNASSIGNED-CoreValidation-Shader-InterfaceTypeMismatch ] Object: 0x120 (Type = 15) | Number of elements inside builtin block differ between stages (vertex shader 1 vs geometry shader 4).`

 for every renderpass where geometry shader is enabled. Even if I substitu

[2019-07-25 14:48] vladimir-nazarenko commented on #1078
I figured out that the problem was really due to the unmatched gl_PerVertex declarations, hence the check is sane and correct.

[2019-07-25 14:48] #1078 closed

[2019-07-25 21:22] reduz commented on #1070
This issue is extremely annoying, any help figuring out what is going one is very welcome.

[2019-07-25 21:46] jeffbolznv commented on #1070
My only thought is that maybe the descriptor set was bound to the wrong pipeline bind point?

I'm unable to load the renderdoc because it's incompatible with my system (win10, NVIDIA RTX 2070). If you could capture the failure on a config like that I can take a look.

[2019-07-25 21:55] reduz commented on #1070
I wish I had hardware like that :wink:. Is there a better way I could do some capture that will run on that hardware?

I tried to use  vktrace, but It's really difficult to compile in Ubuntu without replacing all my system headers and break my install (wish Khronos could work on that.. and make it easier to distribute), so RenderDoc is all I have. Codebase is far too complex to make a simple test

[2019-07-25 22:21] jeffbolznv commented on #1070
Do you have a win10 system you can capture on with any NVIDIA GPU? I should be able to match the GPU closely enough.

[2019-07-25 22:22] KarenGhavam-lunarG commented on #1070
Yes, we saw your issue about [building vktrace on ubuntu 19.04](https://github.com/LunarG/VulkanTools/issues/856) and responded with a suggestion. Builds do not modify system files and you may need to be following the steps in the build.md.

[2019-07-25 22:22] reduz commented on #1070
@jeffbolznv I have a notebook with a 1060, if that's enough will try tomorrow.

[2019-07-25 22:24] jeffbolznv commented on #1070
I think it should be.

[2019-07-25 23:41] reduz commented on #1070
To update on this, it seems the pipeline layouts were actually not correct (due to a strange issue I have with GLSLang, will try to report there afterwards), generating a different descriptor set that could not be bound.

The issue is then, shouldn't the validation layer be able to easily recognize this situation? Something is bound, then at draw time a check is done so that the descriptor set lay

[2019-07-26 01:04] reduz commented on #1070
OK, nevermind, I finally understood what is going on..
* I thought I was using compatible pipeline layouts for the previous sets from the one I'm trying to bind because they have the same uniforms
* However, I don't use some of these (in code) in some shader versions and GLSlang gets rid of them when compiling to SPIR-V.
* As a result, the lower sets were being unbound... I see it can be difficult

[2019-07-27 16:24] kyrios123 opened #1080 "Build fails since : layers: Validate fragment_shader_interlock caps"
Since commit 38f6cb50c09950c0b9a27579d07e37ecbed89043 building Vulkan-ValidationLayers fails on my linux VM.

[code]
Any idea what I missed?
- I used the sdk-1.1.114.0 tarballs for all the vulkan builds
- glslang commit 21eebe74214488264bbf0d19323a03c13a9e53a7
- spirv-tools commit d01a3c3b4b76e942e1c22adca5a9713197dde901
- spirv-headers commit 8b911bd2ba37677037b38c9bd286c7c05701bcda

[2019-07-27 17:51] jeffbolznv commented on #1080
Your spirv-headers commit is too old, please use a newer one. Are you not fetching the dependent repos using the scripts?

[2019-07-27 19:49] kyrios123 commented on #1080
No, I build each package individually.

I did retry with a [newer version](https://github.com/KhronosGroup/glslang/blob/2bb2da919352bed58e73f39f62f24570dfefb60b/known_good.json) of glslang/spirv-tools/spirv-headers and it builds fine, thanks @jeffbolznv

[2019-07-27 19:49] #1080 closed

[2019-07-29 06:15] oddhack commented on #948
The spec part of this should be addressed in the 1.1.117 spec update. Please close if that's all that needs to be done for this issue.

[2019-07-29 14:54] Erick555 opened #1082 "sdk-1.1.114.0 build fails with latest stable release of spirv-headers (1.4.1)"
Building sdk-1.1.114.0 with [spirv-headers 1.4.1](https://github.com/KhronosGroup/SPIRV-Headers/releases/tag/1.4.1) fails with ([full log](https://freedesktop-sdk.gitlab.io/-/freedesktop-sdk/-/jobs/260758326/artifacts/cache/buildstream/logs/freedesktop-sdk/components-vulkan-validation-layers/5460e01f-build.5341.log)):
[code]
I guess those are related to commits in spirv-headers repo which happened

[2019-07-30 15:44] mark-lunarg commented on #1082
@Erick555, the ValidationLayers releases are tested against a specific version of spirv-headers, and to keep things working we rely on the `known_good.json` file in the scripts directory to make sure everything is compatible.  This may or may not relate to a specific spirv-headers release.  For this repo, it is *strongly* recommended that the version specified in the JSON file be used, as a random

[2019-07-30 18:08] jeffbolznv commented on #1001
Regarding the shader module validation, most of the loops iterate over all instructions even though they only care about instructions that must be placed before the first function definition. It should be easy to make these all terminate early.

[2019-07-30 19:45] mark-lunarg commented on #1001
@jeremy-lunarg, this should be some low-hanging fruit if you would like another challenge.

[2019-07-30 19:53] mark-lunarg commented on #1070
@jzulauf-lunarg, any ideas for connecting these two occurrences (pipeline incompatibility/unbound descriptor set checks)?

[2019-07-30 21:50] Erick555 commented on #1082
Ok, that's helpful. Thank you.

[2019-07-30 21:50] #1082 closed

[2019-07-30 22:18] locke-lunarg commented on #979
@tobine Only for `vkQueuePresentKHR()`? How about `vkAcquireNextImageKHR()`?

[2019-07-31 01:02] tobine commented on #979
@locke-lunarg I had wondered the same thing initially but was told that just vkQueuePresentKHR() is the key concern here.

[2019-07-31 18:15] mark-lunarg commented on #984
Add gradle build to travis -- see [VulkanSamples repo.](https://github.com/LunarG/VulkanSamples/blob/master/.travis.yml)

[2019-07-31 21:43] locke-lunarg commented on #979
@tobine  Thanks.

[2019-07-31 22:45] jzulauf-lunarg commented on #1070
@mark-lunarg potentially we could track an "unbound by command" record when the the bound set is invalidated similar to the way we track some of "image layout need by command" information for image layout mismatch messages.  I wouldn't wan't to create "yet another special case", but probably we should think about some general way to store causal information for these and other "deferred validation

[2019-08-01 13:55] hrydgard opened #1093 "Using VK_DEPENDENCY_BY_REGION_BIT when rendering to swapchain should generate a warning"
I accidentally had VK_DEPENDENCY_BY_REGION_BIT specified in my subpass dependency for a render pass rendering to a swapchain image:

[code]

This causes ugly tearing on Mali. I think the validation layer should at least warn about this, since it doesn't make much sense to use a BY_REGION dependency here.

[2019-08-01 15:56] hrydgard commented on #1093
Actually the tearing was really caused by my pWaitDstStageMask array being out of scope at the time of vkQueueSubmit. So I'm not sure if this is of any importance...

[2019-08-02 15:25] mark-lunarg commented on #1093
Thanks @hrydgard -- we typically don't put warnings in the Khronos Layer, but we do have a place for them in the Assistant Layer ( #24 ).  If you feel that this would still be a useful warning just add a link to this issue there and we'll add it to the list.

[2019-08-02 15:25] #1093 closed

[2019-08-02 15:29] mark-lunarg commented on #1070
@reduz, thanks for running this down.  We'll add saving some metadata for deferred validation checks to our internal design list.

[2019-08-02 15:29] #1070 closed

[2019-08-02 15:34] reduz commented on #1070
Thanks to you guys!

[2019-08-05 16:50] ByumjinConffx opened #1097 "Missing validations related to fragmentDensityMap features"
Hello,

I have checked the validation codes related to fragmentDensityMap.
It seems like several validations, even if they are already mentioned in Vulkan document, are not implemented.
For example, like

"VUID-VkFramebufferCreateInfo-flags-03194",
"VUID-VkRenderPassFragmentDensityMapCreateInfoEXT-fragmentDensityMapAttachment-02547",

These are already registered in `vk_validation_error_messages.h

[2019-08-05 17:01] mark-lunarg commented on #1097
@ByumjinConffx, you are correct, and any progress you can make on these 'incomplete' VUs would be greatly appreciated by the community. Please give the [CONTRIBUTING.md document](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/CONTRIBUTING.md) a quick look, and if you have any questions you can post them here or contact me directly at mark@lunarg.com.  Thanks!

[2019-08-06 18:56] mark-lunarg opened #1100 "Missing flags check for VkPipelineVertexInputStateCreateInfo"
At a minimum, `VUID-VkPipelineVertexInputStateCreateInfo-flags-zerobitmask` is missing, there may be additional implicit checks that are not being performed.

[2019-08-07 10:50] nickyc95 opened #1102 "Validation for render passes could be more specific"
When using a render pass with an initial layout that is not `VK_IMAGE_LAYOUT_UNDEFINED` and where the actual image layout is not what was specified in initialLayout, it would be nice to get a better error message.

Currently if you do this you will get:
 ` Submitted command buffer expects image 0x25 (subresource: aspectMask 0x2 array layer 0, mip level 0) to be in layout VK_IMAGE_LAYOUT_DEPTH_STEN

[2019-08-07 15:21] #979 closed

[2019-08-07 16:12] jekstrand opened #1103 "Build system doesn't prefer internal includes over external"
I ran into this issue this week while trying to rev my build of the validation layers.  If you have an old version of the validation layers installed and one of the include directories pulled in for the loader or other components, the build system adds include paths in the wrong order and may accidentally pull generated headers from the old installed version rather than the newly generated version

[2019-08-07 16:28] krOoze opened #1104 "stateless validation have untestable cases"
Followup from #1039.
Manual cases now run after scripted ones, and do not concern themselves with parameters being invalidly `NULL`. But if the tests crash they count as failed anyway, even if appropriate error message was delivered beforehand.

PR #1038 to demonstrate.

I see two possible fixes:
- the "right" thing to do is to somehow modify test framework to count these as success
- the simple t

[2019-08-07 16:58] krOoze commented on #679
@mark-lunarg I would disagree with removing spec quote from the messages. Maybe could just be made optional via layer settings.

Anyway I think the "duplication" is not a problem of the spec text being there. It is that the hand-written part duplicates it for no reason. The hand-written part should instead say what is the wrong usage in the specific case (meanwhile the spec text says what is right

[2019-08-07 17:04] krOoze commented on #1102
I think it is probably duplicate of #466.

[2019-08-07 17:32] lenny-lunarg opened #1105 "Remove indirect WDK dependency"
The loader added a dependency on the WDK previously. The known good is still set to revision where the loader can be built without a WDK, but this dependency will be a problem when updating known good or when building a loader separately. Based on today's discussion in the system integration conference call, it sounds like there are two main ways to address this. Both solutions center on removing

[2019-08-07 19:01] nickyc95 commented on #1102
It looks like you are correct... I'll close this issue.

Thanks

[2019-08-07 19:01] #1102 closed

[2019-08-07 19:18] mark-lunarg commented on #1102
Thank you @krOoze!  Beat me to it.  Thanks @nickyc95 for the report.  I'll bump the priority there.

[2019-08-07 19:51] krOoze commented on #466
It would also be useful if the layers could detect ambiguous\overlapping layout transitions, and report it as such. I think it would be clearer than "expected layout is X, but current layout is Y". I mean, the "current layout" is bit of a lie if the sync is wrong in the first place.

[2019-08-07 21:36] mark-lunarg commented on #879
@oninach, we will close this issue for now.  If it turns out the problem persists for you, please reopen this issue or create a new one -- thanks.

[2019-08-07 21:36] #879 closed

[2019-08-07 21:44] locke-lunarg commented on #930
Fixed [`issue #1099 `](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1099)

[2019-08-07 21:45] locke-lunarg commented on #981
Fixed [issue #1099 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1099)

[2019-08-08 02:33] airlied opened #1106 "coverity scan results for 1.1.114 SDK tag"
[scan-results.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/3479564/scan-results.txt)

I recently packaged 1.1.114 and it got ran through our coverity scanner, I've attached the results here, there are a bunch of uninitialised C++ constructor problems and some deadcode ones, there might be a bunch of actual bugs in here as well, I'd appreciate if someone had a chance to look o

[2019-08-08 23:16] #248 closed

[2019-08-08 23:16] #920 closed

[2019-08-09 03:08] jeffbolznv opened #1109 "Remove mem_info->bound_ranges tracking?"
I'm running the validation layers with a recently released game where the layers introduce a stall for about 30 seconds at level load time, with all the time spent in ValidationStateTracker::RangesIntersect. This app binds thousands of VkBuffers to a VkDeviceMemory, and the range intersection tracking is O(N^2).

All this alias tracking is only used to generate a warning about behavior that is act

[2019-08-09 17:51] jmacnak-nv opened #1113 "Safe structs need to initialize pNext in default constructors"
Currently, layers/generated/vk_safe_struct.cpp has

safe_VkAccelerationStructureInfoNV::safe_VkAccelerationStructureInfoNV() :
    pGeometries(nullptr)
{}

which doesn't initialize the

const void* pNext

which causes issues on destruction.

[2019-08-09 18:56] tobine commented on #1106
Whoa, thanks, @airlied. Definitely some low-hanging fruit here that needs to be fixed and lots more cleanup and potential issues. Huge bulk of safe-struct issues that can potentially be fixed en masse as that code is generated.
Looks like @krOoze has already jumped on some fixes (thanks!). I encourage any other enterprising devs who want to help out to do the same.
If you don't mind, @airlied, you

[2019-08-09 18:58] krOoze commented on #1106
I will just piggyback to this issue, that there are ~25 static analysis warnings in VS2019.

[2019-08-09 21:22] mark-lunarg commented on #1109
@jeffbolznv, I added a ref to the [assistant layer](https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/24) for the warning, and we all agree here that you can kill it with fire.

[2019-08-12 03:49] airlied commented on #1106
Our coverity instance is also unfortunately quite far down the production line, so to test master I'd have to bring in master of a bunch of other packages, which I can only really do easily on sdk rebases. I could probably backport some of the fixes into my 1.1.114 tree and check them.

[2019-08-12 07:17] ilkkasaa opened #1129 "False positive "PointSize is not written" validation error"
The validation layers seems to cause following false positive validation error if the pipeline primitive topology is ```VK_PRIMITIVE_TOPOLOGY_POINT_LIST``` but geometry shader outputs other than point primitives.

```ERROR:  [ UNASSIGNED-CoreValidation-Shader-PointSizeMissing ] Object: VK_NULL_HANDLE (Type = 19) | Pipeline topology is set to POINT_LIST, but PointSize is not written to in the shade

[2019-08-12 11:29] oddhack opened #1130 "Would it be an issue to complexify VUID tag names a bit?"
We have some internal script changes queued up that may result in implicit VUID names like

Will this be a problem for the validation layers' consumption of them through validusage.json, or however else you might get at them? I want to be precise in the style guide about what can go in the components of VUID tags - it's unspecified today - and at least for now, limit it to [A-Za-z0-9:]+ .

[2019-08-12 14:02] kennyalive opened #1132 "Layer stores user provided const char* object name directly without making a copy."
I looks like this change https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/4f56658c556e19cd3724b2ef7d6cdd28d3c15a86 introduces a bug.

Before it the user provided 'const char*' name in VkDebugUtilsObjectNameInfoEXT was stored inside the layer as std::string. After the change the layer stores entire VkDebugUtilsObjectNameInfoEXT which means it stores const char* provided directly by th

[2019-08-12 15:15] KarenGhavam-lunarG commented on #1130
Notifying @shannon-lunarg and @mikes-lunarg

[2019-08-12 17:07] mikes-lunarg commented on #1130
Most of the validation code that deals with VUIDs treats them as arbitrary strings so it shouldn't matter if we allow more non-alphanumeric characters.

If any current VUIDs are *changing* there will obviously be some work to move existing automated and manually written code over to the new naming scheme.

[2019-08-12 17:40] krOoze commented on #1106
@airlied Nobody cared thus far; I guess there's no harm now waiting for next SDK release.
So far I crossed off only `DEADCODE`, `DIVIDE_BY_ZERO, and some `FORWARD_NULL`. Rest should still be the same.

[2019-08-12 18:23] krOoze commented on #1130
Shouldn't be so hard.
Why though? Isn't point of VUID to be somewhat permanent identifier?
It is bit of a transitional problem, as links in the error msgs would have dead link into the spec. Unless spec and SDK release is synchronized.

[2019-08-12 19:17] #930 closed

[2019-08-12 19:18] #981 closed

[2019-08-12 19:22] tobine opened #1133 "Update validation of VK_KHR_shader_float_controls"
Note that VK_KHR_shader_float_controls was updated in [v4](https://www.khronos.org/registry/vulkan/specs/1.1-extensions/html/chap44.html#VK_KHR_shader_controls_v4_incompatibility) to remove separateDenormSettings & separateRoundingModeSettings bools.
This will cause issues with the next header roll as shader\_validation layer is using those bools. Please update VK\_KHR\_shader\_float\_controls sup

[2019-08-12 20:22] mark-lunarg commented on #1113
Fixed by #1114.

[2019-08-12 20:22] #1113 closed

[2019-08-12 20:23] mark-lunarg commented on #1109
Fixed in #1119.

[2019-08-12 20:23] #1109 closed

[2019-08-12 23:34] nsubtil opened #1134 "Enable artifacts on CI builds"
It would be incredibly useful to be able to pull artifacts from CI builds for VL, especially for sharing drops of the VL binaries with recent improvements for testing.

I'd be particularly interested in the Win32 Release binaries, preferably with PDBs included. I expect others may be interested in Linux binaries as well. A relatively small window for artifact storage would be fine (couple of weeks

[2019-08-13 00:33] oddhack commented on #1130
There are not significant changes in existing VUIDs. Maybe one or two. Thanks @mikes-lunarg .

[2019-08-13 00:33] #1130 closed

[2019-08-13 14:45] krOoze commented on #2
I started spec Issue https://github.com/KhronosGroup/Vulkan-Docs/issues/1020 that should be relevant to this.

[2019-08-13 15:26] critsec commented on #1133
Turns out @jekstrand already created PR #1096 to fix this, but it's been held up on other issues.

[2019-08-13 17:23] lunarpapillo commented on #1134
Interesting idea.

We currently don't build Windows **RelWithDebInfo** builds, but I think it would be possible with a reasonable effort.

You're thinking of pulling builds from Travis/AppVeyor, right?  Not from some other build source?

[2019-08-13 17:30] nsubtil commented on #1134
Yes, I'd like to pull builds from AppVeyor myself. I don't think there's any other sources for builds at this point other than AppVeyor/Travis (at least not publicly visible).

[2019-08-13 18:04] #1100 closed

[2019-08-13 18:45] lunarpapillo commented on #1134
AppVeyor does seem to allow storage of artifacts (but it's not clear to me yet whether this service is available on free open-source accounts):

https://www.appveyor.com/docs/packaging-artifacts/

Travis also allows publishing of artifacts, though if I'm reading this correctly, only to an Amazon AWS account:

https://docs.travis-ci.com/user/uploading-artifacts/

If there's community interest in su

[2019-08-13 20:33] Tony-LunarG commented on #1103
When you say "validation layers installed", do you mean via the SDK, or through a "make install"?  Is this on Windows or Linux or both?  Could you give an example of a generated file that is getting included from the wrong location?

[2019-08-13 20:39] jekstrand commented on #1103
The setup where I encountered this issue is one in which I'd manually built and installed a bunch of stuff (Vulkan-Headers, SPIRV-Headers, SPIRV-Tools, GLSLang, Vulkan-ValidationLayers) to $HOME/khronos/_install on my Linux machine.  The builds were all valid but were about 3 months old.  I then went to update things one after another.  When I came to the validation layers, they were picking up $H

[2019-08-13 23:35] lenny-lunarg commented on #1105
I've merged the PRs that I previously linked to. That means that the other repos should no longer have a dependency on the WDK. If we want to change the logic so that the layers don't require a loader at all, we could change this issue to cover that issue. If we don't consider that important, we could also close this issue as being resolved.

[2019-08-13 23:44] krOoze opened #1147 "Stateless Validation does not track VkPhysicalDeviceFeatures2"
Stateless Validation does not support VkPhysicalDeviceFeatures2.
Tracking it in its state could facilitate validation of further (extension) VUIDs.

[2019-08-14 17:32] #1132 closed

[2019-08-14 20:36] jeffbolznv commented on #1147
@mark-lunarg @jzulauf-lunarg or others, is there any rule against capturing enabled features in stateless validation? I'm going to implement VK_EXT_line_rasterization validation very soon and this affects where I would put most of it.

[2019-08-14 20:40] krOoze commented on #1147
Enabled features are already tracked. Just not the extension\1.1 `Features2` variant.

[2019-08-14 21:12] locke-lunarg commented on #1129
@ilkkasaa

I test `dEQP-VK.geometry.input.conversion.points_to_lines` & `dEQP-VK.geometry.input.conversion.points_to_triangles`. I figured out when it generated geometry shader code, the m_outputType is not VK_PRIMITIVE_TOPOLOGY_POINT_LIST, so the geometry shader code doesn't include pointsize to cause the issue.

You can see
[code]

[2019-08-14 21:46] lenny-lunarg commented on #1105
Closing this issue as the WDK dependency has been lifted.

[2019-08-14 21:46] #1105 closed

[2019-08-14 22:22] locke-lunarg commented on #385
fixed in [PR #1148 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1148)

[2019-08-14 22:22] #385 closed

[2019-08-14 22:44] tobine commented on #1133
This was fixed in the 1.1.119 Header [merge](https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/3cc90bcf8cfef52366a93c62d66ec8eef09b7059)

[2019-08-14 22:44] #1133 closed

[2019-08-15 08:23] peterfsat opened #1155 "Buffer <-> Image copy VU checks don't adjust subresource extents for compressed formats"
Both buffer -> image and image -> buffer copy pre-call validation routines call `ValidateBufferImageCopyData` as the first step, where the image extents are checked against the "adjusted" image extents as calculated by `GetImageSubresourceExtent`.

However, for compressed formats, the "adjusted" extents should be at least the size of the texel block - this is accounted for in `ValidateImageBounds`

[2019-08-15 16:07] locke-lunarg commented on #1129
fixed in [PR #1153 ](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1153)

[2019-08-15 16:07] #1129 closed

[2019-08-15 17:59] locke-lunarg commented on #1133
https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/1144

[2019-08-15 20:24] fduranleau-gl opened #1160 "No more message codes"
Back when `VK_LAYER_KHRONOS_validation` did not exist yet and was split in various layers, messages in debug report callback had message codes. Now, we always get message code 0 (it seems to be hardcoded this way in `log_msg` in `vk_layer_logging.h`). Thus, if we want to filter out some message types, we have to parse the message instead of just doing some simple integer comparisons with the code,

[2019-08-15 20:27] krOoze opened #1161 "Please keep deleting old branches"
Please keep deleting old branches.

Especially merged ones have no reason to exist. So I would also recommend to add setting that does that automatically:
https://help.github.com/en/articles/managing-the-automatic-deletion-of-branches

[2019-08-15 20:45] Tony-LunarG commented on #1103
Fixed in #1157

[2019-08-15 20:45] #1103 closed

[2019-08-15 20:50] mark-lunarg commented on #1160
@fduranleau-gl, I think it's been just over a year since we used numeric VUIDs.  There were a handful of reasons for the change, but the main reason is that the validation layers enforce the valid usage IDs defined in the specification, and in it they are defined as text strings.  Maintaining a consistent string-to-number mapping across many hundreds of specification changes was labor-intensive, e

[2019-08-15 20:52] mark-lunarg commented on #1161
Done, thanks for the great suggestion.

[2019-08-15 20:52] #1161 closed

[2019-08-15 20:55] krOoze commented on #1161
That applies to any future branches, I think. Old branches still need to be deleted manually.

[2019-08-15 20:59] krOoze commented on #1160
What if we just returned some hash of the string?

[2019-08-15 21:00] mark-lunarg commented on #1161
Did some cleaning up there as well.

[2019-08-15 21:09] mark-lunarg commented on #1160
There's likely not too much difference between the layer doing a hash at `log_msg()` time, and an application doing a string-compare.

[2019-08-16 00:18] krOoze opened #1162 "GpuValidationArrayOOBRayTracingShaders crashes"
`GpuValidationArrayOOBRayTracingShaders` test crashes at:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/22a1c99af4c696e78f41cb38874b7491903e8825/tests/vklayertests_descriptor_renderpass_framebuffer.cpp#L1291

Deleting `main` body of ray generation shader makes it stop crashing, but cause the test to fail.

Also I see some invalid use:

https://github.com/KhronosGroup/Vulkan-Validat

[2019-08-16 10:53] fduranleau-gl commented on #1160
Except that if those VUID texts are constant, hashes can be precomputed offline.

[2019-08-16 11:59] krOoze commented on #1160
I think @mark-lunarg meant from convenience standpoint. Performance of measly hash does not matter that much when layers are on, and it would be paid only when actual error msg is reported, which matters even less.

[2019-08-16 12:15] fduranleau-gl commented on #1160
So I guess we close this issue, seems like there is no more to elaborare and/or suggest.

[2019-08-16 15:21] mark-lunarg commented on #1160
If this is purely for _convenience_, we can certainly create a hash for the VUID and pass it back in the messageIdNumber member of the callback, that is completely reasonable.  Does it matter what the hash function is?