[2022-02-16 21:32] Tony-LunarG commented on #3763
Parameter validation codegen thinks that it can make a bitmask out of things called *FlagBits.

[2022-02-16 21:54] Ldash4 opened #3771 "Confusing best practices warning for API version mismatch"
**Describe the Issue**
When setting the `apiVersion` of `vkApplicationInfo` to `VK_MAKE_VERSION(1, 3, 0)`, with instance version `1.2.189` and device version `1.2.194`, I get the following warning:
`vkCreateDevice(): API Version of current instance, 1.3.0 (0x00403000) is higher than API Version on device, 1.2.194 (0x004020c2)`
([validation source](https://github.com/KhronosGroup/Vulkan-ValidationL

[2022-02-16 22:11] Tony-LunarG commented on #3771
From the Best Practices description:
When enabled, the Best Practices Object is intended to highlight potential performance issues, questionable usage patterns, common mistakes, and items **not specifically prohibited by the Vulkan specification** but that may lead to application problems.

You aren't getting a validation error, you are getting a best practices warning, presumably under the "quest

[2022-02-16 23:30] Tony-LunarG commented on #3730
Closed via #3762

[2022-02-16 23:30] #3730 closed

[2022-02-17 09:11] ikapoura commented on #1458
Hello there. The linked pull request is still open from September. Do we have any updates on it? Thank you.

[2022-02-17 09:48] Ldash4 commented on #3771
Alright, that makes sense. But the way I read it (again from the same spec page)

Doesn't this imply that the best practice is actually to use a constant apiVersion, and handle the cases where the eventual instance/device version are lower?

[2022-02-17 15:24] KarenGhavam-lunarG commented on #1458
Work for the 1.3 release and the Profiles Toolset impacted completion of this PR. Now that 1.3 is released, resource will be able to get back to this.

[2022-02-17 16:33] jeremyg-lunarg commented on #3765
The problem @asuonpaa was trying to solve is a complex interaction in the amber build system due to SPIRV-Tools, shaderc, Vulkan-ValidationLayers and possibly some other projects all trying to use their own copy of SPIRV-Headers and providing different cmake settings to override to a common one. I'm going to put up PRs to [amber](https://github.com/google/amber) and this project to make it possibl

[2022-02-17 16:36] jeremyg-lunarg commented on #3766
This is related to https://github.com/KhronosGroup/SPIRV-Tools/issues/4417 and https://github.com/KhronosGroup/SPIRV-Tools/issues/3909 Fedora is building SPIRV-Tools with SPIRV_TOOLS_BUILD_STATIC=OFF, but the ValidationLayers standalone build uses SPIRV_TOOLS_BUILD_STATIC=ON. It doesn't look like this problem is close to being resolved on the SPIRV-Tools side so I'll make our build work with eithe

[2022-02-17 17:36] ncesario-lunarg commented on #3477
@sfricke-samsung sounds like the argument is that using `eliminate-dead-branches` in VVL would be incorrect?

[2022-02-17 18:15] ncesario-lunarg commented on #3764
@charles-lunarg I'm pretty sure this was added as using dynamic rendering with VVL was known to crash. This may not be the case anymore (@jeremyg-lunarg?), though validation for dynamic rendering is still incomplete from my understanding.

[2022-02-17 18:18] ncesario-lunarg commented on #2767
@stu-s I don't think so. The issue JeremyG [mentioned](https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2767#issuecomment-990260116) is still outstanding.

[2022-02-17 18:23] charles-lunarg commented on #3764
This was a case of "report issue before forgetting" and didn't make it very clear what the issue is.

The issue is that while users get a warning from using the extension, the usage of the core 1.3 dynamic rendering feature does not report a warning. It should be consistent, either by reporting warnings in both cases, or removing the warning as it is no longer required (ie, support was added fully

[2022-02-17 18:34] ncesario-lunarg commented on #3764
Ah, I think I understand now, thanks for the clarification :)

[2022-02-17 19:58] jeremyg-lunarg commented on #3764
Based on internal discussion yesterday, we *think* the only remaining crash issue is in Best Practices.  We could remove the "warnExtensions" line in the description now. There's still a warning in the BP code here: https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/efcb50f63a4cd7b921fe834a4a58ac3af42fa334/layers/best_practices_utils.cpp#L1053

That should remain until https://github.com

[2022-02-17 22:42] pdaniell-nv commented on #3763
I guess the XML change won't be picked up in time for the next release. Is there a temporary hotfix we can do to the validation layer to resolve this issue? Applications will hit this false VUID error in the common case since setting planeAspect=VK_IMAGE_ASPECT_NONE (or =0) will be more common than not. Let me know if there is anything I can do to help expedite a fix. Thanks.

[2022-02-17 22:48] Tony-LunarG commented on #3763
Are the only calls in question vkGetDeviceImageMemoryRequirements() and vkGetDeviceSparseImageMemoryRequirements()?  I can special case those in parameter validation

[2022-02-17 23:58] jeremyg-lunarg commented on #3765
@airlied and @asuonpaa, Can you please check that the fix in #3775 works for your environments?

I was able to come up with enough fallbacks to get amber to work without changes. It would be nice (but not required) if Fedora included the .cmake files for SPIRV-Headers, I filed https://bugzilla.redhat.com/show_bug.cgi?id=2055921 for that.

[2022-02-18 02:29] sfricke-samsung commented on #3477
Yes, we are making assumptions how the driver/compiler stack will read the shader... the nice apart SPIRV-Tools is that the app can still use that opt pass BEFORE handing it to both the VVL or driver

[2022-02-18 10:35] #3751 closed

[2022-02-18 20:33] Tony-LunarG commented on #3771
Yes, use the api version your application desires with fallback code for when it isn't available.

[2022-02-20 15:04] Mitesh-Malaiya opened #3780 "Vulkan Validation Layers Error"
vkCreateImageView: pCreateInfo->subresourceRange.baseArrayLayer + .layerCount (= 0 + 6 = 6) is greater than the arrayLayers of the image when it was created (i.e. greater than 1).

Vulkan Documentation says:
If subresourceRange.layerCount is not VK_REMAINING_ARRAY_LAYERS, image is not a 3D image created with VK_IMAGE_CREATE_2D_ARRAY_COMPATIBLE_BIT set, or viewType is not VK_IMAGE_VIEW_TYPE_2D or V

[2022-02-20 20:35] sarnex commented on #3766
Also hitting this problem when packaging for Gentoo

[2022-02-21 07:33] asuonpaa commented on #3765
Seems to work for me. Thanks!

[2022-02-21 17:11] #3771 closed

[2022-02-21 21:04] #3765 closed

[2022-02-22 17:50] sfricke-samsung commented on #3780
Which issue?

Trying to understand if you think the issue is if the validation layers are giving you the wrong error?

[2022-02-23 01:25] mattst88 commented on #3766
Just FWIW: this problem was noted in review—https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/2c2b81c05189790acfea79873f1ea689827ad998#r64355905 and apparently disregarded. :(

[2022-02-23 18:37] sfricke-samsung commented on #3780
So #3629 and the Stackoverflow issue are different because they are trying to use different `VkImageType` and `VkImageViewType`

Can you please give more information on what you are trying to do? I am still unable to understand the root of your concern for this issue.

What does the `VkImageCreateInfo` and `VkImageViewCreateInfo` look like for you?

If you have Vulkan 1.1 it already includes `VK_K

[2022-02-23 21:40] aabdolrashidi opened #3787 "Android testing slowdown after shader val cache commit"
There has been a slowdown in testing ANGLE on Pixel 6 after the following commit: https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/efcb50f63a4cd7b921fe834a4a58ac3af42fa334
A change in Android test runtime can also be seen by disabling `shader_validation_caching` in `core_validation.cpp` (`disabled[shader_validation_caching] = true`).
More info: [Here](https://bugs.chromium.org/p/angl

[2022-02-23 22:20] Tony-LunarG commented on #3787
Is there a better strategy for determining where to put the cache on Android?

[2022-02-24 19:47] cnorthrop commented on #3787
I'm guessing that things are behaving differently on Android because you added `$TMPDIR`, which is actually defined on Android.  I doubt `/data/local/tmp` is actually writeable though, so there's probably no caching going on.

A better location is to write files to the application's sdcard directory.  For example `/sdcard/Android/data/package_name`.
 Here's how we do it in ANGLE for writing out ca

[2022-02-24 23:35] cnorthrop commented on #3787
I misread the diff, `$TMPDIR` has always been checked.  Not sure what is causing the slowdown.

In any case, I did some experiments running one of our end2end tests that does mostly shader work, recording the time taken.
 These are from a Pixel 6 Pro:
[code]

I went ahead and modified the caching location so files could be created and the layers would get a hit.
First I created the following locat

[2022-02-25 00:28] ncesario-lunarg commented on #3787
@cnorthrop is using the `vk_layer_settings.txt` config file a viable option for setting `VK_VALIDATION_FEATURE_DISABLE_SHADER_VALIDATION_CACHE_EXT` (although, not sure if shader caching is an exception here @Tony-LunarG?)?

[2022-02-25 01:00] Tony-LunarG commented on #3787
That should work, and we can ifdef the default to false if desired

[2022-02-25 17:55] cnorthrop commented on #3787
@ncesario-lunarg I don't believe `vk_layer_settings.txt` works on Android, but @mark-lunarg is looking in to it.

@Tony-LunarG I don't think you should force it off for Android.  There may be devices running Android that benefit from it.  I do think it is worth getting the cache to work using a spot the app can access.  I can help with that.

For ANGLE, we can disable caching programmatically thro

[2022-02-25 18:03] Tony-LunarG commented on #3787
Ok, I'll abort my disable PR :-)
For the record, on Windows we saw setup times drop significantly for the worst case game traces:
dota 531-541 - 7 seconds to 2 seconds
dota 5155-5165 - 13  seconds to 4 seconds
doom 5793-5802 - 7 seconds to 4 seconds

The change in question only added XDG_CACHE_HOME and HOME/.cache to the front of the list of locations to try.  This was for better security on multi

[2022-02-27 21:22] Zino2201 commented on #3729
Hello! I also just had this exact problem in the same conditions with the latest Vulkan SDK, also tried building HEAD but it isn't fixed.

[2022-02-27 21:54] thatcosmonaut opened #3789 "UNASSIGNED-CoreValidation-DrawState-InvalidImageLayout does not track subresource layouts correctly"
**Describe the Issue**
I have a framework that uploads data to a texture by specifying layer and level. When uploading to a cube map, I get image layout validation errors for layers 1-5, but not layer 0. The subresource setup seems correct to me, and I stepped through a test application and verified that the barriers are being set. When I modify the framework source to transition all image layers

[2022-02-28 00:18] ziga-lunarg commented on #3789
Thanks for reporting the issue @thatcosmonaut, but I am unable to reproduce it.

I wrote a test here: https://github.com/ziga-lunarg/Vulkan-ValidationLayers/commit/103a47fbb314aa329ef6920a09dabc870fbc644f#diff-fc8da571cc0c40e3b70362bc434cf6b54aed4cd60ed7ef219103f76d3fb16a09R1342

Can you see if there is anything different in your code?

And can you verify that `VkImageMemoryBarrier::subresourceRan

[2022-02-28 01:06] thatcosmonaut commented on #3789
Thanks for looking into this. Yes, the base layer is definitely set correctly in our application. I'm starting to think this might be related to the stage flags - I'll investigate further and report back.

[2022-02-28 14:14] aitor-lunarg commented on #2486
I'll close the issue as duplicate since it's been 12 days. If it's not a duplicate, we can always reopen.

[2022-02-28 14:14] #2486 closed

[2022-02-28 16:20] danginsburg commented on #1458
I'm hitting this same issue in one of our games.

[2022-02-28 17:52] #3664 closed

[2022-02-28 19:04] thatcosmonaut commented on #3789
After further tests I confirmed the stage flags are the issue on our end. Sorry for the false alarm.

[2022-02-28 19:04] #3789 closed

[2022-02-28 21:42] jeremyg-lunarg opened #3792 "VK_KHR_acceleration_structure: missing buffer & deviceAddress VUIDs"
**Describe the situation in which you encountered the missing validation**
Issue description:
A recent PR (https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3782) added tracking for buffers used by deviceAddress in several ray tracing commands. However, there are many VUIDs that still need to be implemented in this area.

**Valid Usage IDs requested**
Please include the valid usage IDs

[2022-02-28 21:54] ncesario-lunarg commented on #3448
Closing this due to inactivity. Please re-open if this is still an issue.

[2022-02-28 21:54] #3448 closed

[2022-03-01 14:48] Tony-LunarG commented on #3760
Fixed via #3791

[2022-03-01 14:48] #3760 closed

[2022-03-01 17:13] sfricke-samsung commented on #3568
When https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3758 gets merged, will get back at this as I think the PR solves this issue

[2022-03-02 01:14] nanley opened #3794 "Warn when transitioning from undefined to a read-only layout"
If an app accidentally transitions from `VK_IMAGE_LAYOUT_UNDEFINED` to a read-only image layout (e.g., `VK_IMAGE_LAYOUT_SHADER_READ_ONLY_OPTIMAL`), it can lose the image data it was intending to read from. It seems like it'd be good idea for the validation layer to warn against this behavior when the best practices feature is enabled.

Related:
* https://github.com/vulkano-rs/vulkano/issues/1551
*

[2022-03-02 20:35] Jonathan-Weinstein opened #3796 "Dynamic rendering `MostSignificantBit(viewMask(0)) >= maxMultiviewViewCount(0)` false-positive."
**Describe the Issue**
Validation error generated for valid usage.

**Valid Usage ID**
[ VUID-VkPipelineRenderingCreateInfo-viewMask-06067 ] Object 0: handle = 0x7fc6e0cbae40, type = VK_OBJECT_TYPE_DEVICE; | MessageID = 0x66903323 | vkCreateGraphicsPipelines() pCreateInfos[0]: Most significant bit in VkPipelineRenderingCreateInfo->viewMask(0) must be less maxMultiviewViewCount(0) The Vulkan spec s

[2022-03-02 21:28] ncesario-lunarg commented on #3796
FYI @stu-s @AaronHaganAMD. Might be related to https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3616#discussion_r772606427.

[2022-03-02 21:33] sfricke-samsung opened #3797 "use std instead of macro for limits"
as pointed out by @ziga-lunarg in https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3758#discussion_r818054735 we should have a PR to update macro such as `UINT32_MAX` to use `std::numeric_limits`

[2022-03-02 21:47] sfricke-samsung opened #3798 "Update new attachment-nonattachment draw VUID"
**Describe the situation in which you encountered the missing validation**
Issue description:

internal change https://gitlab.khronos.org/vulkan/vulkan/-/merge_requests/4776/diffs took the previous `VUID-vkCmdDraw-None-04584` (and other draw variations) and broke into 3 new VUIDs

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:

VUID-vkCmdDraw-No

[2022-03-02 23:44] Jonathan-Weinstein commented on #3796
Here's some more info that might also explain why this went unnoticed: this doesn't happen when I upgrade the application to set `VkApplicationInfo::apiVersion` to `VK_API_VERSION_1_1` instead of `VK_API_VERSION_1_0`. I suspect this is because `phys_dev_props_core11.maxMultiviewViewCount` gets updated to something nonzero for a 1.1+ app. Note though the application still did not enable `multiView`

[2022-03-03 20:46] Tony-LunarG commented on #3787
@cnorthrop any suggestions for a remedy?

[2022-03-03 21:21] AaronHaganAMD commented on #3796
@Jonathan-Weinstein  can you please put this in a PR.

[2022-03-03 22:33] mgorchak-blackberry opened #3801 "Question about vkSetDebugUtilsObjectNameEXT in the dispatch table"
Hi,

I have underlying Vulkan driver implementation what do not expose vkSetDebugUtilsObjectNameEXT in device name space, only as instance. The code quoted below is trying to extract function pointer using device interface:

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/78684b1a0b9740a13815eb65cbbe7d15d9b26e3c/layers/generated/vk_dispatch_table_helper.h#L1445-L1446

According to the

[2022-03-04 14:11] sfricke-samsung commented on #3801
So to be clear, when I read `Vulkan driver` I assume you mean just the physical device's implementation driver. For example, if I had a system with both a NVIDIA and AMD desktop GPU in it, there are 2 different Vulkan Drivers and each can be mapped to a `VkDevice` object while the Vulkan Loader is where the single instance of a `VkInstance` level occurs.

`VK_EXT_debug_utils` is a way for the load

[2022-03-04 16:41] ncesario-lunarg commented on #3801
While VK_EXT_debug_utils is an instance level extension, [vkSetDebugUtilsObjectNameEXT](https://www.khronos.org/registry/vulkan/specs/1.3-extensions/html/chap45.html#vkSetDebugUtilsObjectNameEXT) requires a logical device handle. Doesn't this mean we should be using the `vkGetDeviceProcAddr` to get the function pointer?

Any insight @charles-lunarg?

[2022-03-04 16:51] mgorchak-blackberry commented on #3801
The problem was spotted by our testers when both api_dump and validation layers were used together with vkcube --validate.

ICD loader draws this scheme:

LAYER: vkCreateDevice layer callstack setup to:
LAYER:    <Application>
LAYER:      ||
LAYER:    <Loader>
LAYER:      ||
LAYER:    VK_LAYER_LUNARG_api_dump
LAYER:      ||
LAYER:    VK_LAYER_KHRONOS_validation
LAYER:      ||
LAYER:    <Device>

v

[2022-03-04 17:02] charles-lunarg commented on #3801
The spec is pretty clear about how you can query instance and device functions.

Third note in the table for `vkGetDeviceProcAddr`:

https://www.khronos.org/registry/vulkan/specs/1.3-extensions/html/chap4.html#initialization-functionpointers

This essentially says that any function which takes a device, queue, or command buffer can be queried with `vkGetDeviceProcAddr`. A similar table above state

[2022-03-05 05:23] unit-a-user opened #3805 "Invalid dynamic rendering validation..."
**Describe the Issue**
Despite of error, `pDepthStencilState` and `pColorBlendState` has and valid, or there is no additional validation details...

**Valid Usage ID**
Look to log...

**Environment:**
 - OS: Windows 11
 - GPU: NVIDIA RTX 2070
 - SDK or header version if building from repo: 1.3.204.1
 - Options enabled (synchronization, best practices, etc.):

**Additional context**
[code]

[2022-03-05 16:42] ziga-lunarg commented on #3805
Thanks for reporting the issue @unit-a-user. I wrote a test to try and replicate it here: https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3806
But I do not receive the error messages. Can you provide more details, are `pColorBlendState` and `pDepthStencilState` in your `VkGraphicsPipelineCreateInfo` valid pointers? What are the values in them?

[2022-03-05 16:59] krOoze commented on #3805
I can replicate based on https://stackoverflow.com/questions/71331173/why-is-this-color-blend-state-invalid-vulkan.

[2022-03-05 17:05] krOoze commented on #3805
@unit-a-user Do you also use `rasterizerDiscardEnable`?

[2022-03-05 17:13] ziga-lunarg commented on #3805
@krOoze Thanks for pointing that out, setting `rasterizerDiscardEnable` does also cause my test to report those error messages.

[2022-03-05 17:26] krOoze commented on #3805
The layers seem relatively liberal with the spec, or perhaps the spec is too vague.

Spec says:

where "fragment output interface state" is defined as `VkPipelineColorBlendStateCreateInfo` + `alphaToCoverageEnable` + `alphaToOneEnable` + `VkRenderPass` + subpass.

That does seem like a circular logic in the VU statement.

Meanwhile the layers liberally interpret this as:

[code]

[2022-03-05 18:01] ziga-lunarg commented on #3805
Thanks, I'll wait for clarification.

[2022-03-06 17:42] krOoze commented on #3796
`maxMultiviewViewCount` should never be less than 6 (even if multiview is unsupported).

[2022-03-07 19:24] ziga-lunarg commented on #3780
@Mitesh-Malaiya Can you post what your `VkImageCreateInfo` and `VkImageViewCreateInfo` look like?

[2022-03-08 00:10] ziga-lunarg commented on #3676
@Jonathan-Weinstein gfxr file would be helpful

[2022-03-08 16:46] skaarj1989 opened #3817 "Exception in vkCmdPipelineBarrier2KHR with VK_KHR_dynamic_rendering"
**Describe the Issue**

Exception in `vkCmdPipelineBarrier2KHR` right after `vkCmdBeginRenderingKHR`

*core_validation.cpp*
![image](https://user-images.githubusercontent.com/34756939/157279785-4e921e51-ef86-4e81-aeaf-d4b8d659d3c8.png)

in this case `rp_state->self_dependencies` is empty, so probably `rp_state->self_dependencies[cb_state->activeSubpass]` results in thrown exception.

**Valid Usage

[2022-03-08 23:57] lunarpapillo opened #3820 "2 crashes, 49 failures on AMD Radeon 6800 XT"
**Describe the Issue**
We want to add the **AMD Radeon 6800 XT** on Windows to CI validation tests.  2 tests currently crash with `STATUS_ACCESS_VIOLATION`:
- `VkLayerTest.CreatePipelineCheckFragmentShaderBarycentricEnabled`
- `VkLayerTest.CopyInvalidImageMemory`

and 49 tests fail:
- `VkLayerTest.InvalidPipelineDepthClipControlFeatureDisable`
- `VkLayerTest.GraphicsPipelineStageCreationFeedbackCo

[2022-03-08 23:58] lunarpapillo commented on #3820
This text result file shows all the messages produced by the test failures and crashes above:
[blacklist.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/8210534/blacklist.txt)

[2022-03-09 00:07] ziga-lunarg commented on #3820
Which driver is used? Those 2 tests that crash work fine on my 6700 XT

[2022-03-09 01:00] Jonathan-Weinstein commented on #3676
Sorry I filed this originally and I hope I'm not using too much of your time. The bug doesn't bother me and rarely comes up. I made an issue on the chance this might be a symptom of a more significant issue. Here's a link to a 62 MB (I'm afraid it doesn't repro with `gfxrecon.py replay` unless a large enough frame range is captured) gfxr file: https://drive.google.com/file/d/11Lz5jkjk9En5-HARCLaLs

[2022-03-09 01:03] ziga-lunarg commented on #3676
@Jonathan-Weinstein Thanks for the detailed report, I'll take a look

[2022-03-09 15:38] jeremyg-lunarg opened #3823 "practices: massive memory use and performance problems from ARM Image layout checks"
**Describe the Issue**
The vector of function objects in  BestPractices::QueueValidateImage can become quite huge if validation is run against an application with large descriptor sets.  The checking here is very similar to the image layout validation in CoreChecks and it should be restuctured to match. Namely, keep a map or set of the images in use in the command buffer (because they often repeat

[2022-03-09 23:41] lunarpapillo commented on #3820
What's your driver, for comparison purposes?
[code]
**Device Manager** says:
- Driver Date: 10/18/2021
- Driver Version: 30.0.13023.1012

if either of those are helpful.  We can update the driver if that will fix some or all of the issues.

[2022-03-10 00:09] ziga-lunarg commented on #3820
[code]

[2022-03-10 00:19] ziga-lunarg commented on #3820
I installed an older driver and it crashes now, so I'll take a look

[2022-03-10 00:19] #3817 closed

[2022-03-10 01:08] ziga-lunarg commented on #3820
The test `VkLayerTest.CreatePipelineCheckFragmentShaderBarycentricEnabled` crashes with an older driver, but it does look like a driver bug. The other tests all pass for me, even with 3 different older drivers.

[2022-03-10 01:40] ncesario-lunarg commented on #3820
@lunarpapillo is it possible to use a newer driver and generate a new list of failures? Does the driver you're currently using support dynamic rendering?

[2022-03-10 17:25] #3593 closed

[2022-03-10 20:55] lunarpapillo commented on #3820
@ncesario-lunarg

Yes, of course.  I'll install the one @ziga-lunarg mentioned unless you suggest otherwise.

That's `VK_KHR_dynamic_rendering`, right?  I don't think so, but you can see the device's `vulkaninfo` here: http://erusea:8080/view/Manual/job/manual-Vulkan-ValidationLayers/805/artifact/vulkantest-results/vulkaninfo.json

[2022-03-10 21:01] ncesario-lunarg commented on #3820
Correct.

I'd say let's move to the latest driver version (assuming that's the one Ziga was using?). Sounds like that will get rid of most of the failures, and effectively double our coverage for dynamic rendering tests.

[2022-03-10 23:08] locke-lunarg opened #3825 "vkDeferredOperationJoinKHR crashes in AMD GPU"
- OS: Win 11
 - GPU: AMD RX 6800 XT. Driver: 22.2.1

If I enabled ValidationLayers, vkDeferredOperationJoinKHR will crash if vkCreateRayTracingPipelinesKHR uses VkDeferredOperationKHR. The reason might be that according to vkspec
[code]
ValidationLayers wraps pipeline handles in vkCreateRayTracingPipelinesKHR to cause vkDeferredOperationJoinKHR crash. It has to add `VK_VALIDATION_FEATURE_DISABLE_U

[2022-03-10 23:18] lunarpapillo commented on #3820
The latest seems to be after Ziga's:
- Driver Date: 2/23/2022
- Driver Version: 30.0.14029.5006

I'll start a new blacklist exercise and see what's changed.

Note that changing the driver can break old traces; @johnzupin and I will verify whether traces are broken later (as the machine is not quite yet ready for trace testing, though John has already captured a few traces).

[2022-03-11 00:52] lunarpapillo commented on #3820
With the new driver (newer than Ziga's), I see 5 crashes (!!!) and 23 failures.  The results of the exercise (a list of all tests that failed, and their output) is attached:
[blacklist.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/8228116/blacklist.txt)

[2022-03-11 01:12] ziga-lunarg commented on #3820
@lunarpapillo The first test in the blacklist says `Unexpected: Validation Error: [ UNASSIGNED-CoreValidation-Shader-MaxComputeSharedMemorySize ]`, but this message is not active in the latest validation layers, it's commented out.

https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/layers/core_validation_error_enums.h#L174

[2022-03-11 11:53] ynnuW opened #3829 "segfault dynamic rendering best practices"
**Describe the Issue**
Vulkan app segfaults while enabling best practices validation when using dynamic rendering. https://github.com/SaschaWillems/Vulkan dynamic rendering example as test case. Does not segfault when best practices layer isn't enabled

**Environment:**
 - OS: Gentoo linux
 - GPU: AMD Fury
 - SDK or header version if building from repo: 1.3.204
 - Options enabled (synchronization,

[2022-03-11 13:57] ynnuW commented on #3829
This doesn't happen anymore with latest commit

[2022-03-11 13:57] #3829 closed

[2022-03-11 14:21] ziga-lunarg commented on #3829
Just tested myself, #3815 fixes this.

[2022-03-11 15:00] aitor-lunarg commented on #3825
I think this issue may be fixed with #3793

[2022-03-11 16:12] locke-lunarg commented on #3825
Sound good. I will test it.

[2022-03-11 21:35] aitor-lunarg commented on #3745
Reopening until all resources are correctly tested.

[2022-03-11 22:04] CarloWood opened #3830 "vk_object_types.h is generated without regard for VK_ENABLE_BETA_EXTENSIONS"
Hello - I am trying to use some format utils from this repository in my own code (a vulkan engine).
The file `vulkan/vk_format_utils.cpp` is distributed, so I just include that in an otherwise empty .cpp file
and then use the header `vulkan/vk_format_utils.h` for the declarations.

Compiling the compilation unit that includes `vulkan/vk_format_utils.cpp` gives me problems however:
This .cpp includ

[2022-03-13 00:44] ziga-lunarg commented on #2350
I don't think this is a bug, the spec says:

[2022-03-13 15:53] farnoy opened #3835 "DrawState validation raised on destroyed ACCELERATION_STRUCTURE_KHR despite UPDATE_AFTER_BIND"
**Describe the Issue**
When an AccelerationStructure is bound to a descriptor set using `UPDATE_AFTER_BIND`, the validation layer reports an error when the binding is invalidated ~before~ between when it was recorded compared to when it was submitted. The update after bind flag should make this usage valid according to the spec, and the validation error is not raised in other areas of my app when

[2022-03-13 16:07] farnoy commented on #3835
One interesting fact - this doesn't raise a validation error when the binding was not set in step 1. In other words, when there was a null descriptor there at the time of recording, the updated value is accepted by the validation layers. It's only when a valid descriptor gets invalidated before submitting that the message is raised.

[2022-03-14 15:52] #3768 closed

[2022-03-14 20:33] lunarpapillo commented on #3820
I don't think it matters...?  Just let me know when you think all the project and test fixes are in (including skipping tests that are believed to exhibit driver issues), and I'll remove the external blacklist and try again.

[2022-03-14 20:50] ziga-lunarg commented on #3820
How are you able to get the message? Is it not running latest master code?

And out of these test only VkGpuAssistedLayerTest.GpuBufferDeviceAddressOOB crashes for me, as discussed with @Tony-LunarG this one should remain black listed.

The rest of the tests pass for me now.

[2022-03-14 21:17] lunarpapillo commented on #3820
I was running `master` on all my test runs.  We could do a full investigation of why the exact runs I saw provoked that message, but I don't think it would be terribly useful.

Usually tests that are known to fail on a particular device are blacklisted internally with the `IsPlatform()` VVL function, yes?  Has this test been internally blacklisted, or is there a reason not to do so?

[2022-03-14 23:08] ziga-lunarg commented on #3820
It probably is a waste of time to try to figure that out, I just don't see how it's possible.

You are correct, I will update it.

[2022-03-15 00:20] lunarpapillo commented on #3820
I tried a run with the external blacklist off.  I saw the GPU OOB failure, but also one other: http://erusea:8080/view/Manual/job/manual-Vulkan-ValidationLayers/808/console
[code]
I presume you're not seeing that failure?

[2022-03-15 23:21] ziga-lunarg commented on #3820
No, it passes fine for me.

[2022-03-15 23:33] ziga-lunarg commented on #3820
Can you try if #3846 fixes this test for you?

[2022-03-15 23:48] #3830 closed

[2022-03-16 00:09] #1458 closed

[2022-03-16 00:10] #2521 closed

[2022-03-16 00:57] lunarpapillo commented on #3820
WTF... You're using a slightly different driver, 30.0.14023.4005, right?  Or did you update to the same one CI is using: 30.0.14029.5006 ?

[2022-03-16 01:02] ziga-lunarg commented on #3820
30.0.14029.5006 is what I have now.

[2022-03-16 03:44] probug12 commented on #3629
Working on my own version of vulkan cube ( https://gitlab.com/ndbits/vulkan-cube ) and getting a black screen without any error. Renderdoc didn't work for me at all. Wondering if someone could suggest other debugging tools or find a bug. Thank you:)

[2022-03-16 13:29] KarenGhavam-lunarG commented on #3629
Another good source of debugging assistance is Discord or Reddit. There are many Vulkan developers out there that will look at your code and provide useful suggestions.

[2022-03-16 16:52] Eearslya opened #3853 "ValidateCmdCopyBufferBounds additional checks"
**Describe the Issue**
When validating the copy regions within `vkCmdCopyBuffer`, the validation layer has a few gotchas that will slip through the cracks and fail to raise the alarm.

1) All of the checks performed by `ValidateCmdCopyBufferBounds` use `>` or `<` with no equality checks, so any copy regions that exactly line up with one another will not trigger.
Example: `srcOffset = 0, dstOffset

[2022-03-16 17:06] ziga-lunarg commented on #3853
For your second point, the VUID says:

So it does not say destination regions must not overlap.

[2022-03-16 17:18] Eearslya commented on #3853
I suppose that's fair. I feel it's possible to interpret that wording either way. That said, I can't see how two overlapping destinations would produce well-defined behavior, if the implementation chose to do them in parallel. Maybe a failure on the VUID's part.

Thanks for the fix, in any case!

[2022-03-16 17:23] ziga-lunarg commented on #3853
I believe it would say "The union of source and destinations regions" in that case. Thanks for bringing up the issue!

[2022-03-16 18:10] #3622 closed

[2022-03-16 18:10] #3798 closed

[2022-03-16 18:26] lunarpapillo commented on #3820
I tried with `ziga-fix-06062-test`, but I still show the same failure:
[code]

[2022-03-16 18:28] lunarpapillo commented on #3820
Do you think there may be some other change in your developer build that I don't have?  It's possible there is a device difference between your 6700 XT and the 6800 XT in CI, but I think that's unlikely...

If you want to investigate directly on the CI machine, use the KVM https://kvm to get to `tcwinamd2`.  There's already a work window up that you can use.

[2022-03-17 13:43] null77 opened #3858 "Possibly regression with ImageView/FB attachment validation"
**Describe the Issue**
ANGLE's tests recently started failing consistently with this error:

[code]

**Valid Usage ID**
VUID-vkCmdDraw-None-06538

**Environment:**
 - OS: Multiple
 - GPU: Multiple
 - SDK or header version if building from repo: ToT as of March 17
 - Options enabled (synchronization, best practices, etc.):

**Additional context**
Example failing roll: https://chromium-review.google

[2022-03-17 14:24] #3853 closed

[2022-03-17 14:45] marfre02-ARM opened #3859 "Enhance layers for detecting VK_IMAGE_CREATE_MUTABLE_FORMAT_BIT when creating images with extended usage compatibility"
An enhancement is required to the layers to recognize the correct use of VK_IMAGE_CREATE_MUTABLE_FORMAT_BIT in association with VK_IMAGE_CREATE_EXTENDED_USAGE_BIT.

VUID-VkImageViewCreateInfo-image-01762 describes that if image was not created with the VK_IMAGE_CREATE_MUTABLE_FORMAT_BIT flag, .. then the format must be identical to the format used to create image.

On the flip side of this, if we

[2022-03-17 14:58] null77 commented on #3858
According to @ShabbyX this does look like a possible ANGLE bug, so feel free to close out if you see nothing suspicious.

[2022-03-17 16:15] #3858 closed

[2022-03-17 17:28] gnl21 commented on #3859
I made this comment originally on a Khronos issue. The connection between the `MUTABLE_FORMAT_BIT` and VU 01762 is that the mutable bit changes the set of "format[s] a VkImageView created from the image can have". If `VK_IMAGE_CREATE_MUTABLE_FORMAT_BIT` is not set, then all image views must: be created using the same format as the underlying image, so the `VK_IMAGE_CREATE_EXTENDED_USAGE_BIT` is of

[2022-03-17 19:22] jeremyg-lunarg opened #3862 "syncval: crash in 1.3.1 CTS"
**Describe the Issue**
With sync validation enabled, this CTS crashes:
dEQP-VK.pipeline.multisample.sample_locations_ext.draw.color.samples_8.separate_subpass_no_clear_secondary_cmd_buf

Assertion failed: delta != 0, file c:\users\lunarg\vulkan-validationlayers\layers\range_vector.h, line 1623
[code]

**Valid Usage ID**
none

**Environment:**
 - OS:  Windows (though probably any)
 - GPU: RTX 2080

[2022-03-17 19:22] jeremyg-lunarg commented on #3862
@Tony-LunarG found this a week or so ago but I keep forgetting to fix it

[2022-03-17 19:55] #3763 closed

[2022-03-17 20:09] lunarpapillo commented on #3820
@ziga-lunarg and I investigated differing results between Release and Debug builds; he figured out one more fix that was needed: https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3857

[2022-03-17 21:23] CarloWood commented on #3830
Thanks!

[2022-03-17 21:46] lunarpapillo commented on #3820
This Release run on Ziga's fix branch with the **VulkanTests** blacklist deliberately disabled: http://erusea:8080/view/Manual/job/manual-Vulkan-ValidationLayers/809/console
[code]
and this Debug run on the same branch: http://erusea:8080/view/Manual/job/manual-Vulkan-ValidationLayers/810/console
[code]
show that this issue has been fixed.  As soon as that PR merges, **VulkanTests** can remove its

[2022-03-18 03:59] sfricke-samsung commented on #3568
@rg3igalia So grabbed ToT CTS and Validation Layers and I was not able to re-reproduce this... so I think #3758 did properly fix this, please confirm and if it didn't I can take a look at it again

[2022-03-18 08:19] rg3igalia commented on #3568
Works for me too. Many thanks!

[2022-03-18 08:19] #3568 closed

[2022-03-18 11:29] marfre02-ARM opened #3863 "VUID 06070 is missing coverage of pDepthAttachments and pStencilAttachments"
While updating the code for an issue seen with pColorAttachments in VUID 06070 it was noticed that core validation does not verify pDepthAttachments and pStencilAttachments.

This affects :
VUID-VkRenderingInfo-imageView-06070
If neither the [VK_AMD_mixed_attachment_samples](https://www.khronos.org/registry/vulkan/specs/1.2-extensions/html/vkspec.html#VK_AMD_mixed_attachment_samples) nor the [VK_N

[2022-03-18 12:18] oliver-sc opened #3866 "Add support for CMake toolchain file in update_deps.py to ease cross compilation"
Hi,

I need to cross compile the Vulkan validation layers for a ARM64 Linux target system. Therefore, I need to set the  -DCMAKE_TOOLCHAIN_FILE command line option when invoking cmake.
The script **update_deps.py** doesn't support to set this cmake command line option.
Can you please add support for this.

You can find my modified **update_deps.py** in the linked pull request.

Regards,
Oliver

[2022-03-18 12:30] oliver-sc commented on #3866
Related pull request: https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3865

[2022-03-18 15:48] Tony-LunarG commented on #3801
@mgorchak-blackberry can this be closed?

[2022-03-18 17:35] #3863 closed

[2022-03-18 20:04] #3859 closed

[2022-03-18 20:16] #3820 closed

[2022-03-18 22:00] Jonathan-Weinstein commented on #3796
For a `VK_API_VERSION_1_0` application, printing the value of `phys_dev_props_core11.maxMultiviewViewCount` just before the "VUID-VkPipelineRenderingCreateInfo-viewMask-06067" check shows it is 0 then. This specific issue could alternatively be fixed by updating that value and/or adding extra explicit `viewMask != 0` checks. My thought was the -1 idea may help elsewhere.

BTW, sorry for all the ex

[2022-03-19 04:00] Razordor opened #3875 "Documentation not available for vulkan 1.3"
**Describe the Issue**
Validation layers are appended with links that lead to sites that say the following:
"Documentation not available for Windows version 1.3.204.1"

**Valid Usage ID**
VUID-VkImageCreateInfo-imageType-00957(ERROR / SPEC): msgNum: -1376796787 - Validation Error: [ VUID-VkImageCreateInfo-imageType-00957 ] Object 0: handle = 0x1e9bfef51c0, type = VK_OBJECT_TYPE_DEVICE; | MessageID

[2022-03-19 04:32] Eearslya commented on #3875
Changing `1.3-extensions` to `1.2-extensions` makes the URL work. Looks like the webserver didn't get set up with the new directory.

[2022-03-19 14:50] batcholi opened #3876 "False positive - VUID-vkGetAccelerationStructureBuildSizesKHR-rayTracingPipeline-03617"
**Describe the Issue**
Getting a validation error when not enabling rayQuery features, even though rayTracingPipeline features are properly enabled.
As per my understanding, this validation errors mentions needing either one of rayQuery or rayTracingPipeline features to be enabled, but it seems it really requires both (or only rayQuery).

**Valid Usage ID**
VUID-vkGetAccelerationStructureBuildSize

[2022-03-20 13:38] #3876 closed

[2022-03-20 17:57] JerNeth opened #3887 "Dynamic Rendering: Not checking layerCount when viewMask is 0"
**Describe the situation in which you encountered the missing validation**
Issue description:
Calling vkCmdBeginRendering with a VkRenderingInfo where the layerCount is 0 and the viewmask is 0 is not caught by the validation layers.

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting:
VUID-VkRenderingInfo-viewMask-06069

**Environment:**
OS: Windows

[2022-03-20 18:40] ziga-lunarg commented on #3887
This has already been fixed in #3868

[2022-03-20 18:40] #3887 closed

[2022-03-20 20:18] #3794 closed

[2022-03-21 19:32] firesgc opened #3892 "crash in "VkLayer_khronos_validation.dll" [assert.(hazard.tag < access_log_.size())]"
**Describe the Issue**

Hello!

when I enable synchronization validation in my project, I get a crash in "VkLayer_khronos_validation.dll".  For this reason I downloaded and compiled the source code of "Vulkan-ValidationLayer binaries for 1.3.204.1 SDK release".

This is the corresponding assertion:
Assertion failed: tag < access_log_.size(), file D:\GitHub\Vulkan-ValidationLayers-sdk-1.3.204.1\lay

[2022-03-21 20:20] ziga-lunarg commented on #3892
Thanks for reporting the issue, is it possible to get the full stack trace? And what is your application doing at the time of the crash?

[2022-03-22 06:48] firesgc commented on #3892
Hello!
I'm just rendering a depth prepass to fill the zbuffer before I render the color with a more expensive shader.

Callstack:
`VkLayer_khronos_validation.dll!CommandBufferAccessContext::FormatUsage(const HazardResult & hazard) Line 267	C++
 	VkLayer_khronos_validation.dll!RenderPassAccessContext::ValidateFinalSubpassLayoutTransitions(const CommandExecutionContext & ex_context, const char * fun

[2022-03-22 17:06] nyorain opened #3894 "False positive sync hazard for subsequent copies to block-compressed texture"
We have multiple `vkCmdCopyImageToImage` commands that write into different non-overlapping regions of a block-compressed destination texture.

src texture format: `VK_FORMAT_R32G32_UINT`
dst texture format: `VK_FORMAT_BC1_RGBA_UNORM_BLOCK`
copy extent: `(128, 128, 1)`

Syncval outputs the following error from the second copy onwards for the destination texture:

[code]

From our understanding, co

[2022-03-23 00:16] ziga-lunarg commented on #3894
Can you provide examples of your VkImageCopy::dstOffset when you get the error? Because from your description is sounds like the error message is valid.

From the spec:

If you copy 1 texel from `VK_FORMAT_R32G32_UINT`, this will be 4x4 texels in `VK_FORMAT_BC1_RGBA_UNORM_BLOCK`

[2022-03-23 08:36] Rua opened #3899 "`vkCmdCopyBuffer` error when copying interleaved source and destination regions"
When copying multiple regions within the same buffer, and the source and destination regions are interleaved (source-destination-source-destination etc), there is a validation error "Detected overlap between source and dest regions in memory". This error seems to stem from the check here: https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/31a3e7744eeccbff4f191de2566563a7241a976d/layers/b

[2022-03-23 10:39] aaronscherzinger commented on #3894
Can confirm the issue. With an extent of (128, 128, 1) and a first vkCmdCopyBufferToImage with dstOffset (0, 0, 0) the sync hazard is reported for a consecutive vkCmdCopyBufferToImage call with a dstOffset (512, 0, 0) which should be valid since the regions should not overlap in the destination texture.

[2022-03-23 22:11] ziga-lunarg commented on #3894
@aaronscherzinger Thanks for providing the details, it allowed me to reproduce and fix the error!

[2022-03-24 00:01] #1340 closed

[2022-03-24 14:31] HansKristian-Work opened #3905 "NULL Depth image view in VK_KHR_dynamic_rendering segfaults"
**Describe the Issue**
In CoreChecks::ValidateCmdBeginRendering, I get a segfault in vkd3d-proton test suite:

[code]

**Environment:**
 - OS: Arch Linux x86_64
 - GPU: Radeon RX 6800
 - SDK or header version if building from repo: VVL 8a11d5ffe8592ad8ccd9b87eed146b20a0b20671
 - Options enabled (synchronization, best practices, etc.):

**Additional context**

[2022-03-24 14:54] HansKristian-Work opened #3907 "Occlusion query checks segfault with VK_KHR_dynamic_rendering"
**Describe the Issue**

The existing code in CoreChecks::ValidateBeginQuery assumes that active render pass means having subpasses. This is not true for dynamic rendering. Crashes in vkd3d-proton test suite.

[code]

[code]

**Valid Usage ID**
If applicable, please include the validation messages encountered leading up to the issue

**Environment:**
 - OS: Arch Linux x64
 - GPU: Radeon RX 6800
 -

[2022-03-24 15:47] #3905 closed

[2022-03-24 17:17] #3907 closed

[2022-03-25 15:12] #3426 closed

[2022-03-26 19:20] y-novikov opened #3915 "Crashes and multiple possibly wrong VUIDs show up after 2d289701063cb554bdb0b84f192931365a9f3da4"
**Describe the Issue**
When we roll 2d289701063cb554bdb0b84f192931365a9f3da4 into ANGLE, we see crashes on Android in:
  RELADDR   FUNCTION                                                                          FILE:LINE
  0000000000b54b48  VkPresentIdKHR const* LvlFindInChain<VkPresentIdKHR>(void const*)                 ../../third_party/vulkan-deps/vulkan-validation-layers/src/layers/generated

[2022-03-27 00:52] ziga-lunarg commented on #3915
Thanks for reporting the issue @y-novikov
The crash should be fixed in #3916.
As for the additional VUIDs you're getting, that PR fixed more than just `UNASSIGNED-CoreValidation-NonAcquiredSwapchainImageUsed`, some code was executed at submit time, when it should have been after semaphore/fence wait and the PR fixed that.
In #3917 I wrote a test that correctly reports `VUID-vkAcquireNextImageKHR-s

[2022-03-27 19:24] sfricke-samsung commented on #3225
between the various PRs, small spec clarification, and now having the format util file generated from a proper XML scheme, this should have covered  all the issues here and this can be closed now IMO

[2022-03-27 19:32] Rua commented on #3225
What was the spec change that was made?

[2022-03-28 00:42] ziga-lunarg commented on #3609
@ShabbyX Can you verify if the linked pull request fixed the issue?

[2022-03-28 12:58] sfricke-samsung commented on #3225
2 Thing

1. For your original issue, there is no need to ever use depth/stencil as a size. So apps so use `R8` to mean 1 bytes, not `D8` for example. In the `Mandatory format support: depth/stencil` table a line at the end was add

and CTS coverage so make sure this case never occurs (the Validation Layers will throw an error if you try to use depth formats here)

2. There are plaes in the spec, s

[2022-03-28 14:14] nickclark2016 opened #3924 "Missing Validation for VkWriteDescriptorSet-descriptorType-00337"
**Describe the situation in which you encountered the missing validation**
I created a `VkImageView` for a `VkFramebuffer` attachment to render to in `RP1`.  In `RP2`, I was reading that `VkImageView` as a uniform.  The underlying `VkImage` had a usage of `VK_IMAGE_USAGE_COLOR_ATTACHMENT_BIT | VK_IMAGE_USAGE_SAMPLED_BIT`  The `VkImageView` had a `pNext` chain containing a `VkImageViewUsageCreateIn

[2022-03-28 15:28] nickclark2016 commented on #3924
I think this will fix it (inserted [here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/70835ff23b3f513d86fcb918ab8352a8f9ee8c1f/layers/descriptor_sets.cpp#L2442)) but I haven't had time to dig into the unit tests required to validate:

[code]

[2022-03-28 17:28] Rua opened #3925 "`CmdCopyImage` erroneously allows copies between incompatible compressed formats"
The code here is meant to check whether the formats of the source and destination image in `vkCmdCopyImage` are compatible:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/70835ff23b3f513d86fcb918ab8352a8f9ee8c1f/layers/buffer_validation.cpp#L3178-L3184

If neither format is a depth/stencil format, then it performs this check based on the texel block sizes of each format. But this is

[2022-03-28 18:35] aitor-lunarg commented on #1556
I think I managed to reproduce the issue with the following test: https://github.com/aitor-lunarg/Vulkan-ValidationLayers/tree/aitor-issue-1556

What happens in the test should be completely legal since the execution of the commands does not depend on submission order, but the dependecies between them are what marks the execution order.

The issue comes due to checking command buffers in submissio

[2022-03-28 18:59] y-novikov commented on #3915
Thanks, I can confirm that #3916 fixed the crash.
Going to look more into the additional VUIDs.

[2022-03-29 02:06] ShabbyX commented on #3915
I can't reliably reproduce all four VVL failures, but at least the following are VVL bugs:

`VUID-VkPresentInfoKHR-pImageIndices-01296`. We have clearly got image index 1 from ANI:

[code]

`VUID-vkAcquireNextImageKHR-swapchain-01802`. We always alternate between ANI and QP, but it looks like VVL is not counting the QPs correctly:

[code]

`VUID-VkPresentInfoKHR-pImageIndices-01430` looks very muc

[2022-03-29 03:58] sfricke-samsung commented on #3925
I think doing something a `vkCmdCopyImage` between a `VK_FORMAT_BC3_UNORM_BLOCK` and `VK_FORMAT_BC5_UNORM_BLOCK` is legal... checking on this

[2022-03-29 08:18] Rua commented on #3925
If I'm wrong, then `GetAdjustedDestImageExtent` may need changing as it currently doesn't account for the case you mentioned.

[2022-03-29 08:55] Rua commented on #3925
Also may be important: https://github.com/KhronosGroup/Vulkan-Docs/issues/1807

[2022-03-29 11:27] sfricke-samsung commented on #3925
So I think the right course of action is to make a issue against Vulkan Docs to clarify it, because if it allowed would want to make sure there is CTS coverage.

I guess also not sure the exact use case of wanting to do on-the-fly recompressing of a texture in a first place. Most people will have spent time offline deciding which BC or ASTC variation they want to my knowledge

[2022-03-29 14:57] #3915 closed

[2022-03-29 21:53] y-novikov commented on #3915
Thank you for the investigation, @ShabbyX, and for the revert, @ziga-lunarg

[2022-03-30 16:19] austinEng opened #3932 "Checks for vkCmdDraw-None-06538 don't consider whether an attachment is readonly"
**Describe the Issue**
With an update to the vulkan validation layers, we recently started seeing VVL failures that appear to be incorrect. Getting errors like:

In the test that hit the error, I did some debugging and found the test uses two render passes. the first one writes to the texture view, then in a separate render pass, it reads from it as a readonly attachment and samples from it simult

[2022-03-30 16:37] ziga-lunarg commented on #3932
Your error message says that `VkImageView` is being read from a descriptor and written to as an attachment at the same time, is that the case?

[2022-03-30 16:38] austinEng commented on #3932
It is used as an attachment with layout `VK_IMAGE_LAYOUT_DEPTH_STENCIL_READ_ONLY_OPTIMAL`, and it's being sampled from. It is not written to as an attachment since the layout is readonly.

[2022-03-30 16:39] ziga-lunarg commented on #3932
Thanks, I will take a look.

[2022-03-30 21:43] #3899 closed

[2022-03-30 21:44] #3894 closed

[2022-03-30 23:36] #3406 closed

[2022-03-31 09:24] nyorain commented on #3894
Thanks for the quick fix!

[2022-03-31 15:01] Rua opened #3936 "Check for region overlap in blit commands"
**Describe the situation in which you encountered the missing validation**
These two VUIDs are not currently checked for by the validation layers.

**Valid Usage IDs requested**
- VUID-vkCmdBlitImage-pRegions-00217
- VUID-VkBlitImageInfo2-pRegions-00217

[2022-03-31 15:21] #3892 closed

[2022-04-01 03:24] ShabbyX commented on #3609
Sorry for the delay. Yes that seems to have fixed the issue for me.

[2022-04-01 12:58] ziga-lunarg commented on #3609
@ShabbyX Thanks!

[2022-04-03 08:14] GeorgeS2019 commented on #2858
I was suggested to share the [problem ](https://gitlab.freedesktop.org/mesa/mesa/-/issues/3772#note_1323762)with WSL2 running `llvmpipe` here

[code]

[2022-04-04 15:40] #2927 closed

[2022-04-04 15:45] #3875 closed

[2022-04-04 18:44] zmike opened #3959 "shader validation should print stages being validated"
I think the messages printed by VVL could be more helpful.

Example:

[code]

This requires that I look at i/o between shader stages, but it doesn't tell me the variable name or the shader stages involved. I think VVL has this (and more) info available, and it could be printed for all shader validation to make resolving issues easier for users.

[2022-04-04 19:19] Wallbraker opened #3960 "Leak in vkGetPhysicalDeviceFeatures2 call"
**Describe the Issue**

Running the validation under valgrind shows that it is leaking:

[code]

This in Monado, where we loop over the priorities (and also calling `vkGetPhysicalDeviceFeatures2` each loop) so it might have something to do with that. We loop over it 3 times, the third time we are successful creating a `VkDevice` with normal priority.

**Valid Usage ID**
If applicable, please inclu

[2022-04-04 21:32] zmike opened #3962 "shader component validation (again)"
I found another variation of https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3942 that occurs when the shader i/o between stages is like:

output:
  location 0 - dvec2
  location 1 - dvec2

input:
  location 0 - dmat2

I get `UNASSIGNED-CoreValidation-Shader-InputNotProduced(ERROR / SPEC): msgNum: 602160055 - Validation Error: [ UNASSIGNED-CoreValidation-Shader-InputNotProduced ] Obje

[2022-04-05 10:13] #3962 closed

[2022-04-05 12:45] zmike commented on #3962
Thanks!

[2022-04-05 13:09] Tony-LunarG opened #3965 "Add validation for VK_EXT_image_2d_view_of_3d"
**Describe the situation in which you encountered the missing validation**
Issue description: New extension

[2022-04-05 22:02] jeremyg-lunarg commented on #3960
Looks like there is a possible pNext leak in every safe struct ::initialize() method. Working on a fix.

[2022-04-06 00:47] ziga-lunarg commented on #2819
This issue was already fixed, before the code was:
[code]
renderPass was a parameter to `LogError`, but it was not in the message, so the message was not correct.

The way to hit this error was to not enabled the multiview extension, so `maxMultiviewInstanceIndex` was zero.

[2022-04-06 00:47] #2819 closed

[2022-04-06 03:21] sjfricke commented on #3965
VUs added

- `VUID-VkWriteDescriptorSet-descriptorType-06710`
- `VUID-VkDescriptorImageInfo-imageView-00343` became
  - `VUID-VkDescriptorImageInfo-imageView-06711`
  - `VUID-VkDescriptorImageInfo-imageView-06712`
- `VUID-VkDescriptorImageInfo-descriptorType-06713`
- `VUID-VkDescriptorImageInfo-descriptorType-06714`
- `VUID-VkImageViewCreateInfo-image-01005` became
  - `VUID-VkImageViewCreateInfo-

[2022-04-06 03:39] sjfricke commented on #2619
`VUID-VkSamplerCreateInfo-pNext-06726` was added in 1.3.211 and should address the last part of this issue (`samplerFilterMinmax`)

[2022-04-06 13:05] danginsburg opened #3971 "Possible false positive with aliased descriptor arrays"
**Describe the Issue**
I believe I am getting this error incorrectly:

`Validation Error: [ VUID-vkCmdDrawIndexed-None-02699 ] Object 0: handle = 0xedcc4d0000000f9b, type = VK_OBJECT_TYPE_DESCRIPTOR_SET; | MessageID = 0xa44449d4 | Descriptor set VkDescriptorSet 0xedcc4d0000000f9b[] encountered the following validation error at vkCmdDrawIndexed time: Descriptor in binding #30 index 4117 requires an

[2022-04-06 14:42] #3924 closed, assigned to ziga-lunarg

[2022-04-06 14:48] ziga-lunarg commented on #3971
[code]

Here is a test to confirm the issue. If `//color *= texture(samp2[1], vec3(0.5f));` is uncommented the error will be gone.

[2022-04-06 15:30] zmike opened #3972 "shader component validation (again (again))"
Yet another variation of #3962 that occurs when the shader i/o between stages is like:

output:
  location 0 - vec4float
  location 1 - vec4float

input:
  location 0 - mat2v4float

I get `UNASSIGNED-CoreValidation-Shader-InterfaceTypeMismatch(ERROR / SPEC): msgNum: -1227934722 - Validation Error: [ UNASSIGNED-CoreValidation-Shader-InterfaceTypeMismatch ] Object 0: handle = 0x2a300000002a3, type =

[2022-04-06 15:42] zmike commented on #3972
Argh disregard, I had a local library path mixup.

[2022-04-06 15:42] #3972 closed

[2022-04-06 16:08] danginsburg opened #3973 "Possible false positive for dual source blending"
**Describe the Issue**
I started getting the following error with our game that uses dual source blending:

VK ERROR : VALIDATION - Message Id Number: -2141630828 | Message Id Name: VUID-RuntimeSpirv-Fragment-06427
	Validation Error: [ VUID-RuntimeSpirv-Fragment-06427 ] Object 0: handle = 0xecf38c000000c23f, type = VK_OBJECT_TYPE_PIPELINE; | MessageID = 0x80594e94 | vkCmdDrawIndexed: Dual source b

[2022-04-06 17:29] #3825 closed

[2022-04-06 17:31] aitor-lunarg commented on #2767
Remaining issue is fixed with #3793.

[2022-04-06 17:31] #2767 closed

[2022-04-06 17:49] FrancoisBeaune commented on #2767
Awesome, thanks everyone for the great work!

[2022-04-07 07:41] sjfricke commented on #3973
I added that VU a while ago to the spec (with the related ones next to it), looking into if I messed that up and needs spec fix, sorry for the churn :disappointed:

[2022-04-07 10:29] Jasper-Bekkers opened #3977 "Potentially incorrect use-after-free VUIDs with bindless"
We've recently started to need to silence a lot of validation layer warnings about objects potentially being in use after destroying them.

A subset of the errors we're ignoring;
[code]

Since it looks like there are no actual tests for this with a bindless setup, I'd like to ask you to investigate this as well as us doing our own investigation.

[2022-04-07 10:45] Jasper-Bekkers commented on #3977
Notice that neither BASE_NODE::AddParent / cvdescriptorset::DescriptorSet::LinkChildNodes no BASE_NODE::InUse actually check for VK_DESCRIPTOR_BINDING_PARTIALLY_BOUND_BIT  for example.

[2022-04-07 11:12] ziga-lunarg commented on #3977
I think this might be a similar issue to #3835

[2022-04-07 11:14] Jasper-Bekkers commented on #3977
Could easily be - notice that we're also having to silence VkImageViews etc.

[2022-04-07 11:29] ziga-lunarg commented on #3977
I will take a look.

[2022-04-07 14:11] #3960 closed

[2022-04-07 14:24] null77 opened #3978 "Crash in VVL with latest update in Image validation"
**Describe the Issue**
ANGLE tests are crashing with the latest VVL update, in CoreChecks::ValidateImageUpdate

**Environment:**
 - OS: Multiple (Win/Linux/Android)
 - GPU: Multiple (NV/Mobile/SwiftShader)
 - SDK or header version if building from repo: ToT
 - Options enabled (synchronization, best practices, etc.): sync/best practice/other

**Additional context**
Crash stack:

[code]

You should

[2022-04-07 14:24] null77 commented on #3978
@cnorthrop @ziga-lunarg attn

[2022-04-07 21:47] null77 commented on #3978
@mikes-lunarg anyone looking at this yet?

[2022-04-07 22:49] Eearslya commented on #3978
Just saw this issue myself, the issue is that `IMAGE_VIEW_STATE` is not performing a safe copy of the `VkImageViewCreateInfo`, so it ends up with an old pointer to the `pNext` chain which is likely a stack variable.

Because of this, the issue only manifests if the image view was created with a `pNext` chain.

Needs to use `safe_VkImageViewCreateInfo` like `IMAGE_STATE` does.

[2022-04-07 23:11] ziga-lunarg commented on #3978
@null77 Thanks for bringing up the issue and thanks @Eearslya for helping us figure it out.

[2022-04-08 08:52] #3978 closed

[2022-04-08 13:16] null77 commented on #3978
Thanks for the fix @ziga-lunarg !

[2022-04-08 16:41] ziga-lunarg commented on #3973
The language under 29.1.2 is a lot more clear:

[2022-04-08 17:12] jeremyg-lunarg commented on #2918
@Tobski, is this table from the Vulkan specification or some other document?

[2022-04-08 18:46] #3971 closed

[2022-04-08 19:16] #3932 closed

[2022-04-09 20:06] #3973 closed

[2022-04-10 15:20] Tony-LunarG commented on #3965
Thanks for the list @sjfricke - it was very useful.

[2022-04-11 09:06] Tobski commented on #2918
I manually constructed it based on usage information noted in the descriptions of each [image layout](https://www.khronos.org/registry/vulkan/specs/1.3-extensions/man/html/VkImageLayout.html.). We could add it to the spec but it'd take some serious reworking...

[2022-04-11 16:37] ziga-lunarg commented on #2500
@rg3igalia It seems to me that the issue was resolved, can you test to confirm?

[2022-04-11 18:18] aitor-lunarg opened #3993 "Need to correctly check memory overlap"
**Describe the Issue**
We currently don't correctly check memory overlap for the mentioned VUIDs.

**Valid Usage ID**

- [x] VUID-vkCmdCopyBuffer-pRegions-00117
- [x] VUID-VkCopyBufferInfo2-pRegions-00117
- [x] VUID-vkCmdCopyImage-pRegions-00124
- [x] VUID-VkCopyImageInfo2-pRegions-00124
- [x] VUID-vkCmdBlitImage-pRegions-00217
- [x] VUID-VkBlitImageInfo2-pRegions-00217
- [ ] VUID-vkCmdResolveImag

[2022-04-11 18:19] aitor-lunarg commented on #3993
I'll copy my thoughts on the issue that I mentioned on a PR regarding this:

[code]

[2022-04-11 18:23] aitor-lunarg commented on #3936
The issue is partially fixed by #3937. While looking into this issue a bigger one showed up that will be tackled separately here #3993 due to impacting other VUIDs.

[2022-04-11 18:26] Rua commented on #3993
The synchronization validation has to deal with this too, and I believe it tries to be specific if it can, and falls back to courser checks when it doesn't have enough information. Some of the techniques used there could probably be used here too.

[2022-04-11 19:34] Tony-LunarG opened #3994 "Add validation for VK_EXT_primitives_generated_query"
**Describe the situation in which you encountered the missing validation**
Issue description: New extension

**Valid Usage IDs requested**
06687 and 06689 are in #3950
06708 is in #3944
06688 is in #3951
06709 is in #3966
06694 and 06695 is in #4010
#4016 = 06690, 06691, 06692, 06693, 06696

[2022-04-11 20:39] aitor-lunarg commented on #1556
Okay, so after double checking the specification a few times, mainly this part https://www.khronos.org/registry/vulkan/specs/1.3-extensions/html/vkspec.html#synchronization-implicit we can arrive to the conclusion that the test I provided is not legal due to the implicit synchronization.

I think we can safely close this issue, since I think the only way to reach the mentioned validation error wou

[2022-04-12 06:53] #2619 closed

[2022-04-12 09:17] Jasper-Bekkers commented on #3977
@ziga-lunarg did your investigation yield any results?

[2022-04-12 11:55] ziga-lunarg commented on #3977
I know what the issue is, but I don't have a solution yet.

[2022-04-12 12:24] aitor-lunarg commented on #1556
You are right, I'm afraid I misunderstood the specification, and the initial test I provided is not valid.

After some more investigation, this time I think I managed to reproduce the issue. We do have an issue when the set is done from a secondary buffer and then waited on that. Due to how we set the stage mask, it will never be updated due to being in a secondary command buffer. The test can be

[2022-04-12 15:36] aitor-lunarg commented on #1556
I'll close the issue since #3999 should have tackled the problem mentioned. If the issue still persist we can always reopen. Providing more data on it would be good to have a better understanding on how to replicate the issue.

[2022-04-12 23:02] ziga-lunarg commented on #2318
@Tony-LunarG This issue was fixed and can be closed correct?

[2022-04-13 09:15] rg3igalia commented on #2500
Not entirely sure if the crash is fixed. I've just updated the layers to master as of now (5501a60aa) and modified the CTS test so it contains the mistake again, by applying the following patch to the sources:

[code]

When running the test on RADV again, I get the same crash on the validation layers:

[code]

Let me know if you need more info.

[2022-04-13 14:42] Tony-LunarG commented on #2318
Yes, it appears so.

[2022-04-13 17:18] ncesario-lunarg commented on #2500
@rg3igalia are you getting a crash without a debug build of VVL? I can't reproduce this with a release build of VVL; i.e., running in release, I see several error messages produced, and then the program exits successfully.

If we were hitting the assert and _no_ errors were getting logged, that would definitely sound like a bug in VVL, but that does not appear to be happening here. Are you blocked

[2022-04-13 17:18] #2500 closed

[2022-04-13 21:16] jeremyg-lunarg opened #4007 "syncval: assert in dEQP-VK.renderpass.suballocation.formats.r5g6b5_unorm_pack16.input.load.store.clear"
[code]
Contents of first_accesses_ is:
[code]
Backtrace:

[code]

[2022-04-14 14:57] #3862 closed

[2022-04-14 18:33] ncesario-lunarg opened #4014 "Remove references to devsim"
Devsim has been removed and effectively replaced by profiles. As such, all references to devsim should be removed from the validation layers repository.

See https://gitlab.khronos.org/vulkan/Vulkan-SDK-Packaging/-/issues/1030 for more details.

[2022-04-15 09:46] ziga-lunarg commented on #2336
@mark-lunarg This issue was fixed and can be closed correct?

[2022-04-15 11:28] ziga-lunarg commented on #2397
This has been fixed.

[2022-04-15 11:28] #2397 closed

[2022-04-15 12:26] ziga-lunarg commented on #2512
Closed by #3948

[2022-04-15 12:26] #2512 closed

[2022-04-15 19:17] #2334 closed

[2022-04-17 17:37] ziga-lunarg commented on #2498
@Duttenheim Are you still receiving this error?

[2022-04-17 18:08] Duttenheim commented on #2498
I think this turned out to be correctly reported, but for whatever reason my PSO wasn't correctly setup with the next subpass, even if it appeared so in the capture.

Sorry for not getting back about this earlier. You can close this one :)

[2022-04-17 18:37] ziga-lunarg commented on #2498
@Duttenheim Thanks for letting us know!

[2022-04-17 18:45] Rua opened #4024 "Two missing checks for VkRenderPassCreateInfo2"
**Valid Usage IDs requested**
- VUID-VkRenderPassCreateInfo2-None-03049
- VUID-VkRenderPassCreateInfo2-attachment-03050

**Additional Context**
These two VUIDs don't seem to have any equivalent on `VkRenderPassCreateInfo` (without the 2). I'm not entirely sure whether it makes sense to check these at render pass creation, since at that point there are no bound framebuffer attachments and therefore

[2022-04-17 22:25] ziga-lunarg commented on #3123
I don't think this can be a warning. If you have 2 attachments and first is `VK_ATTACHMENT_LOAD_OP_DONT_CARE` and the second `VK_ATTACHMENT_LOAD_OP_CLEAR`, you have to specify `clearValueCount` 2, but the first one would emit a warning with no way around it.

[2022-04-18 16:12] #2498 closed

[2022-04-18 16:24] #2488 closed

[2022-04-18 16:24] #3510 closed

[2022-04-18 16:42] Rua opened #4029 "`ValidateRenderPassCompatibility` is incorrect/incomplete"
In the spec section "Render Pass Compatibility", it says:

The `ValidateRenderPassCompatibility` function in the code checks if the flags are identical, and if the attachment references in subpasses are compatible. But it does not check that the attachment descriptions themselves are compatible (same length, identical other than the mentioned items), and it does not check that subpass dependencies

[2022-04-19 08:53] rg3igalia commented on #2500
Hey @ncesario-lunarg, thanks for all that info! Answering your questions:

* No, I don't see the crash with, for example, a RelWithDebInfo build of the layers.
* I'm not blocked in any way by this particular assert, just reported the problem while fixing the CTS bug.

I wasn't aware once the layers hit a validation error, a crash was "acceptable". To give you more context, I normally build the lay

[2022-04-19 11:29] #2650 closed

[2022-04-19 15:41] #3959 closed

[2022-04-19 17:58] danginsburg opened #4036 "Dynamic Rendering + Dual Source Blending crashes"
**Describe the Issue**
Recent changes for dual source blending have caused a regression with dynamic rendering.  Specifically on line 1330 of core_validation.cpp I crash here when using dynamic rendering:

[code]

pSubpassess == nullptr.  Callstack:

	VkLayer_khronos_validation.dll!CoreChecks::ValidatePipelineDrawtimeState(const LAST_BOUND_STATE & state, const CMD_BUFFER_STATE * pCB, CMD_TYPE cmd_

[2022-04-19 20:29] ncesario-lunarg commented on #2500
Thank you for the comments @rg3igalia!

_Not_ crashing is definitely preferred :)  In some cases, ensuring we do not crash becomes impractical due to the amount of redundant state checking that would be required. That said, if a crash can be easily avoided, we try to (or at least we should) avoid crashing. I don't think this is one of those cases, though, since we are not crashing, but rather hitt

[2022-04-20 12:30] Jasper-Bekkers opened #4039 "Feature request: be able to turn off validation in certain parts of my code"
We are seeing some very big performance issues when enabling the validation layer; mostly in our batched draw call routines even with moderate amounts of draw calls (3700 or so) it appears to easily take 10x longer.

Validation off:
![image](https://user-images.githubusercontent.com/49594/164230513-a94fb6d0-ca06-4859-9b77-54deab3ca801.png)

Validation on:
![image](https://user-images.githubusercon

[2022-04-20 17:39] zmike opened #4042 "incorrect validation for sampler unnormalized coordinates"
The descriptor validation VUID 02702 (e.g., `VUID-vkCmdDispatch-None-02702`) is incorrectly validating normalized coordinates in samplers.

According to the spec:

[code]

However, it's possible for an app to use a combined sampler with unnormalized coordinates for texelFetch operations with all of these image view types, and the sampler will never be accessed, which should be considered valid usa

[2022-04-20 19:05] #4036 closed

[2022-04-20 21:00] sjfricke commented on #4039
There is already a `VK_EXT_validation_features` but I guess that is at an instance creation level.

There technically will always need to be the "state tracking" part running I assume for the future calls, but I guess the `chassis` code could more easily dynamically decide to skip the actual "checking" when the app would ask

[2022-04-20 21:06] sjfricke commented on #4042
I agree with you 100% that doing a texelFetch operation should not be touching the sampler object and therefore be valid, I guess my next fun question would be "is there CTS for this" to guarantee no driver will blow up if given this situation

[2022-04-20 21:41] zmike commented on #4042
Definitely a good q. I'd assume not? I'm told LunarG has documented all existing validation errors in CTS, so if there's documented cases of this error, then that could be a start in determining the existence of such tests.

[2022-04-20 23:47] ncesario-lunarg commented on #4042
@Tony-LunarG have you happened upon 02702 when running CTS?

[2022-04-21 10:12] r-potter opened #4046 "Misleading reporting for empty primary command buffers"
**Describe the Issue**
When submitting an empty primary command buffer, the returned error message refers to secondary command buffers.

This test replicates the behaviour. I believe the VUID in the test (VUID-vkQueueSubmit-pCommandBuffers-00072) is incorrect and it should actually be VUID-vkQueueSubmit-pCommandBuffers-00070

[code]

[code]

**Valid Usage ID**

" Validation Error: [ _VUID-vkQueueS

[2022-04-21 15:06] zmike opened #4047 "missing sparse binding validation"
**Describe the situation in which you encountered the missing validation**
Running sparse binding glcts tests on zink

**Valid Usage IDs requested**

- [ ] VUID-VkSparseImageMemoryBind-memory-01104
- [x] VUID-VkSparseImageMemoryBind-memory-01105
- [x] VUID-VkSparseImageMemoryBind-subresource-01106
- [x] VUID-VkSparseImageMemoryBind-offset-01107
- [x] VUID-VkSparseImageMemoryBind-extent-01108
- [x]

[2022-04-21 15:21] ncesario-lunarg commented on #4047
@aitor-lunarg are some of your recent changes related to these?

[2022-04-21 15:38] #2867 closed

[2022-04-21 15:41] Tony-LunarG commented on #4042
I see no 02702 errors in my latest logfile

[2022-04-21 15:46] aitor-lunarg commented on #4047
No, but VUID-VkSparseImageMemoryBind-memory-01104 can easily be solved with the changes I will introduce on memory overlap checking. There's still work to be done regarding validation of sparse memory, which I was planning to take a look at after introducing the memory overlap checks (needed for sparse memory validation).

[2022-04-21 15:58] r-potter commented on #4046
Looking through older issues, I believe this problem also explains the behaviour observed in https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/3515

Looking at the implementation of `CoreChecks::ValidatePrimaryCommandBufferState()`, it also appears that VUID-vkQueueSubmit2-commandBuffer-03876 (the vkQueueSubmit2 equivalent) may also get erroneously applied in place of VUID-vkQueueSubm

[2022-04-21 15:59] ncesario-lunarg commented on #4046
^ yep, that's what I'm seeing too :) Thanks for finding this!

[2022-04-21 18:24] zmike opened #4049 "erroneous VK_FORMAT_FEATURE_2_STORAGE_WRITE_WITHOUT_FORMAT_BIT errors"
I get this error sometimes when using bufferviews:

[code]

I don't believe this format feature is required for buffers, however, so this seems wrong.

[2022-04-22 13:34] ncesario-lunarg commented on #4039
I'm not sure how feasible "skipping" checks for specific calls would be in VVL, but that is something we can discuss and take a look at. As @sjfricke mentioned, we can't skip the state tracking, which is often a significant portion of the time taken for validation.

The performance issues in VVL are known, and a 10x perf hit is not unexpected, unfortunately. Things can get quite a bit worse depend

[2022-04-22 13:54] rikusalminen opened #4052 "Assert out of bounds in CmdPipelineBarrier2 after CmdBeginRendering"
**Describe the Issue**
Assert in std::vector::operator[] when validating vkCmdPipelineBarrier2 after using CmdBeginRendering from VK_EXT_dynamic_rendering. Backtrace pasted below.

My code is not creating RenderPass objects (and uses CmdBeginRendering instead), but the validation layers inspect the RenderPass state anyway.

I assume the offending line is this (in CoreChecks::ValidateRenderPassPipe

[2022-04-22 15:33] jeremyg-lunarg commented on #4039
Another possibility is to turn off different parts of validation, such as Image layout validation.  See the[ validation layer docs](https://vulkan.lunarg.com/doc/sdk/1.3.211.0/windows/khronos_validation_layer.html)  To do this you'd set `VALIDATION_CHECK_DISABLE_IMAGE_LAYOUT_VALIDATION ` in vk_layer_settings.txt Variable: khronos_validation.disables

[2022-04-22 20:17] #4046 closed

[2022-04-24 13:59] ziga-lunarg commented on #4052
I believe this should already be fixed in the SDK version 1.3.211.0, can you test and confirm? @rikusalminen

[2022-04-24 14:51] ziga-lunarg commented on #4049
What is the descriptor type used with the buffer view? If it's `VK_DESCRIPTOR_TYPE_STORAGE_TEXEL_BUFFER` I believe the message is correct.

[2022-04-24 14:59] zmike commented on #4049
It's a storage texel buffer. @pdaniell-nv I was chatting with you about this I believe?

[2022-04-24 16:17] pdaniell-nv commented on #4049
That VUID seems a bit dodgy since it's conflating "VkBufferView" with VK_FORMAT_FEATURE_2_STORAGE_WRITE_WITHOUT_FORMAT_BIT, which wouldn't be a format feature that appears in the "bufferFeatures" field of VkFormatProperties3. The only valid bits in "bufferFeatures" are:
- VK_FORMAT_FEATURE_2_UNIFORM_TEXEL_BUFFER_BIT

- VK_FORMAT_FEATURE_2_STORAGE_TEXEL_BUFFER_BIT

- VK_FORMAT_FEATURE_2_STORAGE_TEX

[2022-04-25 22:00] sjfricke commented on #4049
I added this support in https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3741

I read `VkBufferView` as `VK_DESCRIPTOR_TYPE_STORAGE_TEXEL_BUFFER`

We already had the `VkImageView` version. Also `STORAGE_WRITE_WITHOUT_FORMAT_BIT` was part of  `VK_KHR_format_feature_flags2` which is a little extra more annoying to work with mentally

[2022-04-27 10:34] ilkkasaa opened #4058 "False positive VUID-VkRenderingAttachmentInfo-imageView-06130"
**Describe the Issue**
Using depth/stencil attachments with resolve image and certain resolve modes in dynamic rendering, triggers the following validation error:

```VUID-VkRenderingAttachmentInfo-imageView-06130(ERROR / SPEC): msgNum: 974965673 - Validation Error: [ VUID-VkRenderingAttachmentInfo-imageView-06130 ] Object 0: handle = 0x16646e842c0, type = VK_OBJECT_TYPE_COMMAND_BUFFER; | MessageI

[2022-04-27 18:23] BeastLe9enD opened #4060 "VUID-VkMemoryAllocateInfo-allocationSize-00638(ERROR / SPEC): when using VkImportMemoryWin32HandleInfoKHR"
**Describe the Issue**
I'm importing a ```ID3D12Resource``` into Vulkan, and for that I'm using a ```VkImportMemoryWin32HandleInfoKHR```, I get a validation message:
[code]

**The spec says:**
If the parameters define an import operation and the external handle type is ```VK_EXTERNAL_MEMORY_HANDLE_TYPE_D3D11_TEXTURE_BIT```, ```VK_EXTERNAL_MEMORY_HANDLE_TYPE_D3D11_TEXTURE_KMT_BIT```, or ```VK_EXTER

[2022-04-27 20:50] Eearslya opened #4061 "Multiview Validation not checking Vulkan11Features"
**Describe the Issue**
Commit ef965275 added a new check to verify that the `multiview` feature is enabled when using `viewMask`.

However, Vulkan 1.1 made the Multiview feature core and rolled it into `VkPhysicalDeviceVulkan11Features`. The validation check here is only checking the older `VkPhysicalDeviceMultiviewFeatures` struct for the presence of the feature, which is causing a false positive

[2022-04-27 20:54] ncesario-lunarg commented on #4061
@ziga-lunarg looks like we don't have any positive tests for this feature?

[2022-04-27 21:37] ziga-lunarg commented on #4060
I think this requires a spec clarification, because the VUID does not mention this exception.

[2022-04-27 21:58] ncesario-lunarg commented on #4060
I think there is precedence for ignoring such fields in the `VkGraphicsPipelineCreateInfo` struct (e.g., see the constructor for `safe_VkGraphicsPipelineCreateInfo`), and the spec is pretty clear this should be ignored in this particular case, so it seems like we _should_ be ignoring this particular field. That said, this isn't a pointer we can just "ignore if it's null;" I think the assumption th

[2022-04-27 21:58] ziga-lunarg commented on #4058
You are correct that this is a bug and I will fix it. But with your parameters I think you will also run into `VUID-VkRenderingAttachmentInfo-imageView-06131`

[2022-04-28 05:20] ilkkasaa commented on #4058
Thanks @ziga-lunarg for fast response!

VU 06131 shouldn't be a problem with `VK_KHR_depth_stencil_resolve` extension or Vulkan 1.2 or later. Actually, I wasn't able to find 06131 from any spec version I looked into, but it still exists in the spec source.

[2022-04-28 08:29] gjaegy opened #4064 "VK_ERROR_FULL_SCREEN_EXCLUSIVE_MODE_LOST_EXT"
Hi,

I'm currently adding support for full-screen exclusive mode in our engine (OS = Windows 11).

I'm facing some problems while trying to handle VK_ERROR_FULL_SCREEN_EXCLUSIVE_MODE_LOST_EXT correctly.

So, when pressing Alt+Tab, vkQueuePresentKHR() calls returns VK_ERROR_FULL_SCREEN_EXCLUSIVE_MODE_LOST_EXT. When this appends, I call acquireFullScreenExclusiveMode() to acquire full-screen mode ag

[2022-04-28 08:34] sjfricke commented on #4058
[code]

so can just look at a 1.0 or 1.1 spec [without extensions](https://github.com/KhronosGroup/Vulkan-Guide/blob/master/chapters/vulkan_spec.adoc), but `06131` just prevents a case where someone with Vulkan 1.0/1.1 uses `VK_KHR_dynamic_rendering` without `VK_KHR_depth_stencil_resolve`

[2022-04-28 08:44] sjfricke commented on #4060
so ` VUID-VkMemoryAllocateInfo-pNext-01874` (and I think ` VUID-VkMemoryAllocateInfo-allocationSize-04750`) are used to allow non-zero `allocationSize` for Android and Fuchsia platforms doing external format imports. I don't think the Fuchsia code is added, but we do skip over this VUID for AHB

[code]

so I imagine if this is the correct behavior desired in Windows (not sure, but if it is) then w

[2022-04-28 08:58] ilkkasaa commented on #4058
Yeah, that's right.

[2022-04-28 13:55] #4058 closed

[2022-04-28 22:00] ncesario-lunarg commented on #4060
That sounds like a good idea @sjfricke.

@ziga-lunarg if that's something you're interested in taking on, please go ahead and assign it to yourself, otherwise I'll grab this.

[2022-04-29 12:21] #4061 closed

[2022-04-29 16:33] moset opened #4065 "Validation reports Push constant buffer [...] is out of range when using specialization constant in array size declaration"
I've created [two tests](https://github.com/moset/Vulkan-ValidationLayers/commit/7f6bfea9409452f659e907409b12905140fdd851) that both create shaders with push constants containing arrays, 1:
[code]
and 2:
[code]

In case 1, if the specialized value of `num_vars` is smaller than 8, and the push constant range is adjusted accordingly, I get the following error:
[code]

Adding logging of `used_bytes_s

[2022-05-01 04:54] sjfricke commented on #4065
So in https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/3758 I had to fix this type of issue of other validation. The issue is the validation layers need to run the various `spirv-opt` passes to set the specialized constant before doing the validation. Currently, in `ValidatePushConstantUsage` the `SHADER_MODULE_STATE` is holding the original default value still ( 8 * 4 == 32 bytes )

O

[2022-05-02 09:18] ziga-lunarg commented on #4052
Pretty sure this is already fixed so I am closing the issue. If you still see the error with the latest SDK you can reopen.

[2022-05-02 09:18] #4052 closed

[2022-05-02 16:58] ncesario-lunarg commented on #4065
Taking this as I've had some changes related this on the back burner for a while. Though if someone else has a solution ready to go, feel free to grab it :)

[2022-05-02 20:58] #3729 closed

[2022-05-02 20:58] #3835 closed

[2022-05-02 20:58] #3977 closed

[2022-05-03 01:42] Inori commented on #2464
Sorry to reopen this.

`khronos_validation.printf_to_stdout` seems not work on my machine.

The validation messages shows that I'm using the right settings file and other options works right (like `khronos_validation.enables`).

Only the `printf_to_stdout` seems doesn't make sense.
Weither I set it to `true` or `false`, I got debug messages from both debug callback and stdout.

Vulkan SDK version:

[2022-05-03 01:44] Inori opened #4074 "`khronos_validation.printf_to_stdout` seems not work"
`khronos_validation.printf_to_stdout` seems not work on my machine.

The validation messages shows that I'm using the correct settings file and other options works right (like `khronos_validation.enables`).

Only the `printf_to_stdout` seems doesn't make sense.
Whether I set it to `true` or `false`, I got debug messages from both debug callback and stdout.

Vulkan SDK version: 1.3.211.0

`printf_t

[2022-05-03 02:44] Inori commented on #4074
OK, I figured it out.
I should remove 'VK_DBG_LAYER_ACTION_LOG_MSG' from `khronos_validation.debug_action ` and this way I can control the stdout.
But a new problem occurs, when I removed `VK_DBG_LAYER_ACTION_LOG_MSG`, debug printf seems only work when `printf_to_stdout` is `true`.
When I set it to `false`, I got message saying `buffer size that was too small`, even I set `printf_buffer_size = 655

[2022-05-03 10:38] #3296 closed

[2022-05-03 13:29] Rua opened #4075 "Validation for VUID-VkGraphicsPipelineCreateInfo-subpass-00758"
**Valid Usage IDs requested**
VUID-VkGraphicsPipelineCreateInfo-subpass-00758

[2022-05-03 16:09] ncesario-lunarg commented on #4049
This doesn't really seem clear one way or the other from the spec. Should there be some clarifying language added, or does it seem clear to everyone that the current logged error is false (I'm not sure it  does personally)?

[2022-05-03 20:03] Jonathan-Weinstein commented on #3796
Seems to be resolved by PR #3803

[2022-05-03 20:03] #3796 closed

[2022-05-03 20:58] Tony-LunarG commented on #4074
I'm not quite sure what you are seeing.

With everything set to default, you should see debug printf messages, among other messages, going to the Debug Utils callback. This looks like your second screenshot above - notice that the extra debug information when the printfs go through the callback.

With everything set to default, except for khronos_validation.printf_to_stdout = true you should see a

[2022-05-04 12:18] nikitablack opened #4078 "Potentially wrong READ_AFTER_WRITE synchronization validation error when descriptor indexing is used."
**Describe the Issue**

I'm using descriptor indexing and dynamic rendering and here is what I do:

1. Barrier for transition render target `UNDEFINED` -> `COLOR_ATTACHMENT_OPTIMAL`
2. Draw to the render target
3. Barrier for transition render target `COLOR_ATTACHMENT_OPTIMAL `-> `COLOR_ATTACHMENT_OPTIMAL `
4. Draw to the render target -> **the layers complain here**
5. Barrier for transition rend

[2022-05-04 20:02] locke-lunarg opened #4080 "Should it check VUID-vkCmdPipelineBarrier2-synchronization2-03848 for VK_KHR_synchronization2?"
When I enable VK_KHR_synchronization2, instead of using Vk 1.3, and then run vkCmdPipelineBarrier2KHR, should it also check `VUID-vkCmdPipelineBarrier2-synchronization2-03848:The synchronization2 feature must be enabled`?

[2022-05-04 20:44] ncesario-lunarg commented on #4080
@jeremyg-lunarg @jzulauf-lunarg?

[2022-05-04 20:49] locke-lunarg commented on #4080
Now. it checks. But I think it shouldn't.

[2022-05-04 20:51] jeremyg-lunarg commented on #4080
With 1.2 + VK_KHR_synchronization2 you are supposed to set that value in VkPhysicalDeviceSynchronization2Features and include that structure in the pNext change of your vkCreateDevice() call.

[2022-05-04 20:56] locke-lunarg commented on #4080
@jeremyg-lunarg  You're right. Thanks.

[2022-05-04 20:56] #4080 closed

[2022-05-05 11:44] aitor-lunarg opened #4082 "VkSparseMemoryBind missing validation"
Missing VUIDs:
- [ ] VUID-VkSparseMemoryBind-memory-01096
- [ ] VUID-VkSparseMemoryBind-memory-02730
- [ ] VUID-VkSparseMemoryBind-memory-02731

[2022-05-06 13:02] danielmaciel opened #4085 "vkCmdDrawIndirectCount is not allowed when using dynamic rendering but it should be"
Calling vkCmdDrawIndirectCount when using dynamic rendering causes the following validation error:

VUID-vkCmdDrawIndirectCount-renderpass(ERROR / SPEC): msgNum: -1348211859 - Validation Error: [ VUID-vkCmdDrawIndirectCount-renderpass ] Object 0: handle = 0x3b20350, type = VK_OBJECT_TYPE_COMMAND_BUFFER; | MessageID = 0xafa3eb6d | vkCmdDrawIndirectCount: This call must be issued inside an active re

[2022-05-06 14:17] #4085 closed

[2022-05-06 14:18] danielmaciel commented on #4085
Sorry I realized I made a mistake, there is no bug.

[2022-05-06 16:10] ncesario-lunarg commented on #4085
👍 those are the best kind of issues :)

[2022-05-07 03:38] Inori commented on #4074
Ok, I see, thanks for your reply.

[2022-05-09 10:02] ziga-lunarg commented on #4029
I cannot find where the spec says that subpass dependencies and correlated view masks must be identical.

Also attachment descriptions do seem to be validated in `CoreChecks::ValidateAttachmentCompatibility`, where all members that do not fall under exceptions are validated.

And `UNASSIGNED-CoreValidation-DrawState-InvalidRenderpass` catches the case where the are different number of attachments.

[2022-05-09 10:04] Rua commented on #4029
The section I quoted says "if they are otherwise identical". So that includes all parts of the render pass configuration other than those mentioned.

[2022-05-09 10:06] ziga-lunarg commented on #4029
You're right, thanks! I'll take a look.

[2022-05-09 22:02] #4060 closed

[2022-05-10 10:55] #4029 closed

[2022-05-11 11:20] ziga-lunarg commented on #3607
I don't see `mips` being used anymore, @AdrianBunk can you verify this issue is resolved?

[2022-05-11 11:35] AdrianBunk commented on #3607
Yes, it seems this was implicitly fixed by commit 20da7a1996c478240c54a76ee6bf68b310b14a19

[2022-05-11 11:35] #3607 closed

[2022-05-11 11:48] ziga-lunarg commented on #3515
@ncesario-lunarg Does #4048 also resolve this?

[2022-05-11 11:48] SupinePandora43 opened #4093 "vkAllocateDescriptorSets doesn't check descriptor pool type"
**Describe the situation in which you encountered the missing validation**
Issue description: i can allocate descriptor set with DynamicUniformBuffer from a pool containing just UniformBuffer (or even from only Sampler pool)

**Valid Usage IDs requested**
No such on documentation

**Additional Context**
fatal on amd gpus
Sdk version: `1.2.182.0`

[2022-05-11 12:00] ziga-lunarg commented on #4093
It seems to me that `VUID-VkDescriptorSetAllocateInfo-descriptorPool-00307` does get reported. @SupinePandora43 Can you take a look at this test: https://github.com/ziga-lunarg/Vulkan-ValidationLayers/commit/299145d2ae6feec1b7510c17abc70fdcd6f0a060
and compare it to your case?

[2022-05-11 12:14] SupinePandora43 commented on #4093
I use shader stages `Vertex | Fragment`.
Just tested, it works in both directions (Allocate UniformBuffer set inside of DynamicUniformBuffer pool).

I think i should note that i have old drivers (baldurk's response to random RenderDoc crashes after closing capture)

[2022-05-11 12:35] ziga-lunarg commented on #4093
The validations layers should catch this error regardless of the driver used. I've updated the test to use vertex and fragment shader and it still catches the error.

[2022-05-11 19:16] Tony-LunarG opened #4099 "GPU-AV pipeline creation recovery needs clean up"
When reverting to uninstrumented shaders when creating a pipeline whose layout cannot accommodate the debug descriptor set, there are several issues:
- In attempting to destroy the temporary shader modules created with uninstrumented shaders, the code destroys the wrong modules
- Not all temporary shader modules are being destroyed
- CreateInfos from GPU-AV are being loaded into debug printf struc

[2022-05-12 13:26] zmike commented on #4049
Do we really need WG to weigh in on this?

[2022-05-12 14:07] romanl-g opened #4100 "Compilation error with -Wstring-conversion"
Hi,
We started getting this compilation error:
error: implicit conversion turns string literal into bool: 'const char[16]' to 'bool' [-Werror,-Wstring-conversion]

appears to be caused by `assert(!"Not implemented")` added here:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/commit/d4d8fcec5e444dc7c2de99f085023a9206b4601b
@ncesario-lunarg

[2022-05-12 14:09] romanl-g commented on #4100
FWIW other places appear to be using `assert(0 && "message")` instead of `assert(!"message")` and that doesn't cause compilation errors.

[2022-05-12 14:18] djdeath commented on #4049
For the warning to trigger, it seems like the binding must be manipulated with the `OpImageWrite` in the shader.

Is that a correct thing to do?

I think @pdaniell-nv is right, we shouldn't use buffer format features, even it's a buffer. Because here what matter is that shader access as an image.

[2022-05-12 14:20] #3472 closed, assigned to ziga-lunarg

[2022-05-12 14:29] djdeath commented on #4049
Hopefully you can give a try to https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/4101

[2022-05-12 14:46] zmike opened #4102 "erroneous layerCount errors with VK_IMAGE_CREATE_2D_ARRAY_COMPATIBLE_BIT"
I'm not sure what's causing this, but I'm reasonably sure it's a VVL issue.

If I run:

`ZINK_DEBUG=validation MESA_LOADER_DRIVER_OVERRIDE=zink ./glcts -n dEQP-GLES31.functional.geometry_shading.instanced.multiple_layers_per_invocation_3d`

then I get this error

[code]

I've examined the image involved, and this is a 2D array view created from a 3D image for framebuffer usage with VK_IMAGE_CREATE

[2022-05-12 15:05] romanl-g commented on #4100
Also,
If this was an accident, would it be possible to add -Wstring-conversion to your build flags to catch this in future?
If intentional, we'll update our builds.

[2022-05-12 17:44] aitor-lunarg commented on #57
The main pain point for this issue is tracking down which VUIDs need to be pushed back until submission due to containing sparse resources. I still need to more investigation, but I think we can narrow them down to the ones regarding memory bound to the resource. The main ones that led me into taking this issue are mentioned in #3993. These VUIDs require correct memory tracking for resource which

[2022-05-12 19:19] ncesario-lunarg commented on #4049
@djdeath's change LGTM, but since the language in the spec got us here in the first place, seems like that language should be clearer? I too would rather not go through the WG for a spec change, so if that doesn't seem valid to you, I won't argue @zmike :)

[2022-05-12 20:05] zmike commented on #4049
I'll file a spec issue for clarification, but I don't think that needs to block the fixing in VVL.

[2022-05-12 21:11] romanl-g commented on #4100
Thanks! I'm not familiar with these flags but it appears to be clang-specific

[2022-05-13 00:16] ziga-lunarg commented on #3115
@ShabbyX Could you possibly run the linked PR with the test that failed before? I believe it should pass now.

[2022-05-13 03:44] ShabbyX commented on #3115
Ran the test a couple of times, seemed to work fine!

[2022-05-13 05:13] #4049 closed

[2022-05-13 12:30] aitor-lunarg opened #4107 "Need to correctly track bound memory for sparse resources"
Sparse resources do not correctly track their bound memory. The current approach has an `unordered_map<VkDeviceMemory, MEM_BINDING>`, and values are just inserted whenever we bind memory to the resource. There are several issues with the current approach:
 - No support for tracking different blocks of memory from the same VkDeviceMemory bound to the resource. Say we want to bind ranges [0,1024) an

[2022-05-13 16:07] #4100 closed

[2022-05-13 20:06] zmike commented on #4042
So then I guess there is no CTS for this. Does there need to be? It seems like that's unrelated given the sampler shouldn't even be used.

[2022-05-13 20:33] MarijnS95 opened #4110 "Validation layer uses `vkGetPhysicalDeviceProperties2KHR` without `VK_KHR_get_physical_device_properties2` instance extension enabled"
**Describe the Issue**

We work on a RayTracing application on the Samsung S22, with an Xclipse 920 (AMD) GPU.

As such our driver uses `VK_VERSION_1_1` and `vkGetPhysicalDeviceProperties2`, and we do not enable the `VK_KHR_get_physical_device_properties2` instance extension nor are we calling `vkGetPhysicalDeviceProperties2KHR`.

Testing shows that sane drivers return a null-pointer for this func

[2022-05-13 22:51] ncesario-lunarg commented on #4042
Having a CTS test for this might be good, but seems orthogonal. This just looks like a shader validation deficiency in VVL. Looks like we need to add something along the lines of "IsSamplerAccessed" (or siimlar query) to `SHADER_MODULE_STATE` and add that check to https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/567a5be7485ffd5e2d1b33fb8eab9bc6ab5b3531/layers/descriptor_validation.cpp#

[2022-05-14 03:26] SupinePandora43 commented on #4093
I'll close issue as it can't be reproduced.
But here's repo if you want to go further: https://github.com/SupinePandora43/UltralightNet/tree/gpudriverfixes_by_redhacker2
Environment preparation:
[code]
Project with validation layer problem: `gpu/libs/UltralightNet.Vulkan`
Project to launch: `Examples/gpu/UltralightNet.Vulkan.TestApp`

[2022-05-14 13:38] #4110 closed

[2022-05-15 10:44] #4093 closed

[2022-05-16 14:34] zmike opened #4116 "dependency compile error"
I have two compile issues with release builds on latest git:

If I use `update_deps.py`, I get the following:

[code]

If I use `-DUPDATE_DEPS=ON`:

[code]

Platform is arch linux (gcc11.2) on an ARM-based chromebook. Let me know what other info I can provide.

[2022-05-16 15:32] Tony-LunarG commented on #3787
Closing due to inactivity.  Feel free to re-open if this is still an issue

[2022-05-16 15:32] #3787 closed

[2022-05-16 15:32] ncesario-lunarg commented on #4116
@zmike for the first problem, is due to us using a very old version of googletest. Updating googletest has been "on the list" for a long time. I'll revisit updating this as I also run into this on Arch. If you don't need the tests, using the following should just build and VVL without having to build googletest:
[code]

I'm not sure what's going on with the second problem. I have an old arm-based

[2022-05-16 15:34] zmike commented on #4116
I've gotten the ccache thing occasionally before, but I've never figured out a comprehensive solution. Usually it just "went away"

[2022-05-16 15:41] zmike commented on #4116
Removing ccache temporarily resolved it, but I'm wondering why I've only gotten this error from trying to build VVL.

[2022-05-16 16:03] zmike opened #4118 "VVL crash"
I've talked with @ncesario-lunarg about this before, but it's possible for VVL to crash due to accessing a null pipeline blend state in drawtime validation. I've been using this patch locally to work around it:

[code]

This can be triggered by running e.g., `KHR-GL46.packed_depth_stencil.verify_read_pixels.depth24_stencil8` on zink.

[2022-05-16 19:00] ncesario-lunarg commented on #4116
That I'm not sure. I haven't gotten this personally, but I also haven't used CCACHE in a while

Can you try a clean build with #4117? Hopefully that resolves the first problem.

[2022-05-16 19:59] zmike commented on #4116
Yeah, seems to. I'll assume the ccache thing is some weird local issue, and it's fine since I can just uninstall it temporarily.

[2022-05-16 19:59] #4116 closed

[2022-05-16 23:32] ncesario-lunarg opened #4120 "Add missing VUIDs from VK_KHR_ray_tracing_maintenance1"
See https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/4112#issuecomment-1128188426 for additional context.

- [ ] VUID-vkCmdBeginQueryIndexedEXT-queryType-06741
- [ ] VUID-vkCmdBeginQuery-queryType-06741
- [ ] VUID-vkCmdWriteAccelerationStructuresPropertiesKHR-queryType-06742
- [ ] VUID-vkWriteAccelerationStructuresPropertiesKHR-queryType-06742
- [ ] VUID-vkWriteAccelerationStructuresPr

[2022-05-17 18:30] mikes-lunarg opened #4124 "Pipeline library VUIDs changed in 214 header"
`VUID-VkPipelineLayoutCreateInfo-flags-06562` changed to `VUID-VkPipelineLayoutCreateInfo-graphicsPipelineLibrary-06753`
https://github.com/KhronosGroup/Vulkan-Docs/commit/028789841d7ba54cabc678a128e7b98d30c0b4cd#diff-6a2d43d3ff5ba28fec921931b94a429d9b8dccc94c2396732110edee60b1eec9R1901-R1904

`VUID-vkCmdBindDescriptorSets-layout-06564` changed to `VUID-vkCmdBindDescriptorSets-graphicsPipelineLibr

[2022-05-17 20:51] Tony-LunarG commented on #4099
Fixed via #4109

[2022-05-17 20:51] #4099 closed

[2022-05-17 22:34] #3115 closed

[2022-05-18 06:58] sjfricke commented on #4120
slight correction  noticed when writing the tests, will update the branch of the tests as well

06732 -> 06731
06734 -> 06733

[2022-05-18 12:00] malcp opened #4128 "VUID-vkQueuePresentKHR-pWaitSemaphores-03268 is triggered when using external semaphores in vkQueuePresentKHR"
VUID-vkQueuePresentKHR-pWaitSemaphores-03268 is triggered when using an external semaphore when calling vkQueuePresentKHR. For example, a semaphore that had its payload imported using vkImportSemaphoreFdKHR.

It is currently possible to use the same external semaphore when calling vkQueueSubmit. In this case, the logic takes into account whether the semaphore is internal or not.

The problem seems

[2022-05-18 14:43] aitor-lunarg opened #4131 "vkCmdCopyAccelerationStructureNV missing VUIDs"
List of missing VUIDs regarding vkCmdCopyAccelerationStructureNV:

- [ ] VUID-vkCmdCopyAccelerationStructureNV-src-04963
- [ ] VUID-vkCmdCopyAccelerationStructureNV-buffer-03718
- [ ] VUID-vkCmdCopyAccelerationStructureNV-buffer-03719

[2022-05-18 15:25] #4128 closed

[2022-05-18 21:20] #4118 closed

[2022-05-19 18:26] pdaniell-nv opened #4136 "layer_chassis_dispatch.cpp attempts to unwrap output handles"
As discussed in https://gitlab.khronos.org/Tracker/vk-gl-cts/-/issues/3685#note_360445, it appears some of the generated functions in layer_chassis_dispatch.cpp are treating parameters that are meant to output a handle as inputs, and attempts to Unwrap them, when it should be doing WrapNew().

It appears the bug is in https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/c935ec7efa2e37dee67

[2022-05-19 20:03] ncesario-lunarg commented on #4136
Thanks @pdaniell-nv, it seems like some additional annotation in the xml would be beneficial, but I'm not sure how realistic it would be to get something like an `in`/`out`/`inout` attribute added to each command parameter.

FYI @mikes-lunarg as he probably understands the code generation best.

[2022-05-19 20:18] mikes-lunarg commented on #4136
Yeah, treating Get*Display* as "create" calls is probably the quickest fix. I'm a little surprised we don't just infer in/out from constness. It would probably be a worthwhile exercise to compare the current `iscreate` list with a list of all entry points that take a non-const handle pointer.

[2022-05-19 20:24] HuYuxin opened #4137 "depth stencil read only attachment validation errors"
We are seeing these two validation errors in ANGLE tests after merging this CL: [e23f82fc84c891b3a34e6e8787913b335cbe3934](https://chromium.googlesource.com/external/github.com/KhronosGroup/Vulkan-ValidationLayers.git/+/e23f82fc84c891b3a34e6e8787913b335cbe3934).
VUID-VkGraphicsPipelineCreateInfo-renderPass-06039
VUID-VkGraphicsPipelineCreateInfo-renderPass-06040

Example:
Test: dEQP.GLES31/functio

[2022-05-19 20:27] ShabbyX commented on #4137
In particular, the issue seems to be that VVL is validating the pipeline state against the render pass the pipeline is _created_ with, instead of the render pass it is _used_ with. They don't have to be the same as long as they are compatible, and the attachment layouts used in the render pass are not part of the render pass compatibility.

[2022-05-19 21:54] sjfricke commented on #4137
Well this VU is at pipeline creation time, so if you think it should be a render pass compatibility thing, then the VU will need to be moved to a draw time VU

[2022-05-19 22:19] ncesario-lunarg commented on #4136
@mikes-lunarg yes, that makes sense. I tried this out in #4138 and it seems to have the desired effect, but not sure if it's 100% correct (that code is still more mysterious to me than it should be).

[2022-05-20 00:26] ncesario-lunarg commented on #4137
I second @sjfricke's comment. We can revert if this is blocking and it can be confirmed that the spec is incorrect, but it looks like the validation is implemented to spec currently. We can also move the check to draw time (or maybe bind pipeline time?) if it makes sense, but it would be good to at least get a request for the spec change first.

[2022-05-21 01:57] math4origami commented on #4136
Hi, I'm the one who opened the original issue in CTS.

To resolve this issue, I think we'll need we need to add this around here:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/master/scripts/thread_safety_generator.py#L1344

[code]

In addition to removing Unwrap() mentioned previously, we also need to add this on the line:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blo

[2022-05-21 02:14] math4origami opened #4145 "Validation issue with vktWsiSurfaceTests.cpp:querySurfaceCounterTest"
**Describe the Issue**
This is a test in Vulkan CTS, https://github.com/KhronosGroup/VK-GL-CTS/blob/main/external/vulkancts/modules/vulkan/wsi/vktWsiSurfaceTests.cpp#L234.

It first creates a surface.  For example, for XLIB, it calls `createXlibSurfaceKHR()`, https://github.com/KhronosGroup/VK-GL-CTS/blob/main/external/vulkancts/framework/vulkan/vkWsiUtil.cpp#L197
This starts here in Validation:
h

[2022-05-21 21:48] zmike opened #4146 "spirv validation: OpVectorShuffle doesn't validate indices"
If I have a shader like this:

[code]

I should be getting a validation error from `%160 = OpVectorShuffle %v2uint %159 %159 156 157`, as the indices are way out of bounds. There is no error though.

[2022-05-22 04:23] sjfricke commented on #4146
So the SPIR-V spec does say for `OpVectorShuffle`

So being a `uvec2` you are right that `166 167` are out of the `[0, 3]` bound.

So I ran took this and `spirv-as` and then `spirv-val` and I see that [SPIRV-Tools already checks this](https://github.com/KhronosGroup/SPIRV-Tools/blame/master/source/val/validate_composites.cpp#L537) so not sure why you are not seeing the error bubble up when the val

[2022-05-23 08:37] stedob02 opened #4148 "Maintenance4's interface matching doesn't make any difference"
After enabling VK_KHR_maintenance4 or even using Vulkan 1.3 I am still getting the same Performance Error:

[2022-05-24 00:31] ncesario-lunarg commented on #4146
@zmike can you share the context where you're encountering this? Tossing this shader in a unit test:
<details>
<summary>Invalid SPIR-V test</summary>
<pre>
TEST_F(VkPositiveLayerTest, InvalidSpirvTriggered) {
    TEST_DESCRIPTION("Ensure invalid spir-v is caught");
    m_errorMonitor->ExpectSuccess();
    SetTargetApiVersion(VK_API_VERSION_1_2);
    ASSERT_NO_FATAL_FAILURE(Init());
    if (DeviceV

[2022-05-24 00:36] zmike commented on #4146
I've got a lot on my plate this week, but I'll post back next Monday with more context and info.

[2022-05-25 20:57] ncesario-lunarg commented on #4078
My guess is that this is related to https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/3450? i.e., we do not currently have the ability to determine which descriptors are used and which aren't at draw time, and so both 0.0 and 0.1 are assumed to be used. A fix for this is planned for future work, but won't be done in the short term.

FYI @Tony-LunarG @jeremyg-lunarg in case this is not

[2022-05-25 21:34] jeremyg-lunarg commented on #4078
I agree.

[2022-05-25 22:02] ncesario-lunarg commented on #4078
Assigning this to @jeremyg-lunarg for now, but that may change later on.

[2022-05-26 05:50] alecazam opened #4155 "Validation layer seems to slow generating commands from multiple threads"
**Describe the Issue**
One of the advertised features of Vulkan is the ability to generate commands from multiple threads.   I can't tell if the futex is contending or not, but it seems like with the validation layer enabled, all function calls including cpuTiming end up going through repeated system mutex lock (__futex_wait_ex) calls on Android.  These syscall's stacks can be seen in the Android

[2022-05-26 12:54] baldurk opened #4158 "Missing VUID checking for xfb pipeline in vkCmdBeginTransformFeedbackEXT"
**Describe the situation in which you encountered the missing validation**
I encountered a crash on a driver when calling `vkCmdBeginTransformFeedbackEXT`, after investigating I found the problem was that the pipeline bound didn't have the `Xfb` execution mode properly set, but validation did not catch this.

**Valid Usage IDs requested**
* [ ] VUID-vkCmdBeginTransformFeedbackEXT-None-04128

**Add

[2022-05-26 16:16] ncesario-lunarg commented on #2350
@HansKristian-Work does @ziga-lunarg's comment make sense, or do you think this validation is still incorrect?

[2022-05-26 16:20] HansKristian-Work commented on #2350
That is the maxDescriptorSet/maxPerStateDescriptor limit. Is the reading here that "such as" also includes descriptor count in maintenance1? That would seem unintentional to me.

[2022-05-26 16:51] HansKristian-Work commented on #2350
Then again, this is like behavior against ancient, pre-cambrian era Vulkan, so probably not worth spending time on resolving this.

[2022-05-26 17:01] ncesario-lunarg commented on #2350
After re-reading the spec and the validation code, I'm not sure the validation code is correct as-is. I think it _is_ operating according to the spec if maintenance1 is not enabled. That said, the possibility of descriptor_indexing + !maintenance1 doesn't seem to be accounted for in this particular area of the spec. If `descriptor_indexing` required maintenance1, then I suppose this wouldn't be an

[2022-05-26 20:24] alecazam commented on #4155
We’re just using what shipped with Android 12, and seeing a ton of locks. Probably have to wait until this lands in newer drivers, and just not leave validation on during perf tests.

[2022-05-26 20:57] ncesario-lunarg commented on #4155
I think it would be bad to leave validation on for performance testing even _with_ @jeremyg-lunarg's fixes/improvements.

[2022-05-27 01:44] #3528 closed

[2022-05-27 14:44] ShabbyX commented on #4137
Let's follow up once https://gitlab.khronos.org/vulkan/vulkan/-/issues/3110 is resolved.

[2022-05-27 19:30] ShabbyX opened #4161 "Incorrect validation of pipelineStageCreationFeedbackCount"
The following validation is incorrectly implemented:

[code]

Per the validation message, `pipelineStageCreationFeedbackCount` can be 0, in which case per-stage feedback is not provided. However, validation doesn't allow 0.

I fixed the validation locally, but actually giving `pipelineStageCreationFeedbackCount=0` and `pPipelineStageCreationFeedbacks=nullptr` caused the Nvidia driver and SwiftShad

[2022-05-27 19:36] ShabbyX commented on #4161
Spec issue proposing `pipelineStageCreationFeedbackCount=0` to be disallowed: https://gitlab.khronos.org/vulkan/vulkan/-/issues/3112

[2022-05-28 14:19] jeremyg-lunarg commented on #4155
Definitely agree with not trying to measure driver or app perf with validation enabled!

Closing this for now, please reopen or file a new issue once you've had a chance to try the latest validation code.

[2022-05-28 14:19] #4155 closed

[2022-05-31 16:35] zmike commented on #4146
I can't repro this, and I've lost the state in my tree that I was testing on, so let's assume this was a user error.

[2022-05-31 19:08] TheMostDiligent opened #4165 "Immutable samplers from pipeline state incompatible with the immutable samplers in descriptor set"
**Describe the situation in which you encountered the missing validation**

We recently faced the following issue: immutable samplers are encoded into the descriptor set layout, which is in turn used by the pipeline state and when the descriptor set is created. We use identical layouts except for immutable samplers (e.g. pipeline state uses a layout with WRAP sampler, but the descriptor set is cre

[2022-05-31 23:31] sjfricke commented on #4165
There is a VU, not obvious, should be `VUID-vkCmdDraw-None-02697` (and the other draw/dispatch calls). It needs to be updated (and tested) for `VK_PIPELINE_LAYOUT_CREATE_INDEPENDENT_SETS_BIT_EXT` now with `VK_EXT_graphics_pipeline_library` released

[2022-06-01 04:07] TheMostDiligent commented on #4165
I think that validation currently misses the mismatch in immutable samplers in the scenario that I described. In SDK 1.3.211.0 we see no validation messages.

[2022-06-01 13:49] wolfpld opened #4167 "vkFreeCommandBuffers reports threading error against VkQueue"
In my program it is possible that the following conditions will occur. One of the threads is executing a `vkQueueSubmit` call, which properly protects access to the `VkQueue` in use. The other thread at the same time is executing `vkFreeCommandBuffers` call, which is required to protect access to command buffers and their pool, but nothing else.

In such conditions, the validation layers report an

[2022-06-01 14:37] aitor-lunarg commented on #4107
Closed by #4122

[2022-06-01 14:37] #4107 closed

[2022-06-01 15:42] ShabbyX commented on #4161
Resolution is to fix VVL.

[2022-06-03 19:07] ncesario-lunarg commented on #57
No, I think that makes sense. Github has already affectively "linked" these issues, so we should always be able to easily reference one from the other.

[2022-06-03 19:31] ncesario-lunarg commented on #4167
FYI @jeremyg-lunarg @jzulauf-lunarg.

I believe this error is in reference to https://www.khronos.org/registry/vulkan/specs/1.3-extensions/html/chap3.html#fundamentals-threadingbehavior. Specifically the fact that the `queue` object used when calling `vkQueueSubmit` can only be used by one thread at a time.

The error you're getting indicates that the `queue` object used in your `vkQueueSubmit` is

[2022-06-03 20:51] wolfpld commented on #4167
Only the two threads I have specified are touching the Vulkan API at the moment of the validation error. The validation error only occurs in the specified conditions, i.e. there are no other validation errors reported.

To be more specific, the call stack of the thread triggering the error is:

[code]

And the other thread:

[code]

It may be required for the `vkFreeCommandBuffers` thread to call

[2022-06-06 16:09] gamagan opened #4188 "Validation layers complain when tools change the Vulkan config behind the scene."
**Describe the Issue**
I have a Vulkan App that uses validation layers. When ran vanilla, the App doesn't have any validation errors. However, when opening the App in Nvidia Nsight, it will start displaying validation errors.

It seems that Nsight adds flags to images behind the scene. For example, it adds `VK_IMAGE_USAGE_TRANSFER_DST_BIT` and `VK_IMAGE_USAGE_TRANSFER_SRC_BIT` to swapchain images.

[2022-06-06 16:19] gamagan opened #4189 "FEATURE REQUEST: In addition to flag hex values, also show their names."
**Describe the situation in which you encountered the missing validation**
When showing error messages that include flags, please add the names of the individual flags encountered, in addition to the current sum of their hex values.

So, intead of:
[code]
Say:
[code]

**Valid Usage IDs requested**
Wherever flag values are displayed.

**Additional Context**
![image](https://user-images.githubuserco

[2022-06-06 16:58] gamagan opened #4190 "Error message is redundant and it's missing some info."
**Describe the Issue**
This error message is just the same long string written twice. The duplication is unnecessary. The first part of the message should say what was the actual value that triggered the issue.  Instead of saying "any one of these could have caused the issue", it should say the actual one(s) that caused it. ie:

[code]

**Valid Usage ID**
VUID-VkDeviceCreateInfo-pNext-06532

**Env

[2022-06-06 18:21] ncesario-lunarg commented on #4188
Thanks for the issue @gamagan! This is a bit outside the scope of the validation layers as I understand it. That is, this appears to be asking for the validation layers to detect--to some degree--"unwanted behavior" from other layers, but the goal of the validation layers is to report when and how the vulkan spec has been violated.

Pinging @charles-lunarg as this issue seems to be more at the "la

[2022-06-06 18:44] ncesario-lunarg commented on #4189
Thanks @gamagan, it is the intention that the flags get spelled out, but this one was missed (quite possible there are others missed, too).

[2022-06-06 22:52] ncesario-lunarg commented on #4167
@aitor-lunarg this is what https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/4170 is trying to help with, no?

[2022-06-07 05:17] asuonpaa opened #4195 "Incorrect validation of render pass instance resume"
Validation layers are generating an incorrect error message when submitting three primary command buffers where the first one suspends a render pass instance, the second one resumes but also suspends, and the last one resumes.

The error message (pasted below) is saying the second command buffer didn't suspend even when it does.

Validation Error: [ VUID-VkSubmitInfo-pCommandBuffers-06193 ] Object

[2022-06-07 07:45] lunarpapillo opened #4196 "Regressions when upgrading Windows AMD 22.3.1 to 22.5.2"
I updated our test machine driver from **Adrenalin 22.3.1** to **Adrenalin 22.5.2**.  The new driver shows poor behavior on **Vulkan-ValidationLayers** tests, with 36 test cases failing or crashing.

I'd like to understand which of these are test code issues, which are validation issues, and which are driver issues.

### Used to be skipped due to missing extensions, but now run and crash
These tes

[2022-06-07 07:53] lunarpapillo commented on #4196
Here is the full output of the blacklist exercise.  It shows each of the broken test cases running and their output, if that's helpful.  Note that `return code 1` indicates a test failure, while `return code 3221225477` is a `STATUS_ACCESS_VIOLATION` crash.

[blacklist.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/8851237/blacklist.txt)

[2022-06-07 08:53] lunarpapillo commented on #4196
This test did not appear during the blacklist exercise (which runs tests one at a time), but it crashed during a test run of VVL against the new blacklist.  It may be a test that passes in isolation but fails when run as part of a set: http://erusea:8080/job/Vulkan-ValidationLayers/7535/BITS=64,BUILD_MODE=Release,USE_ROBIN_HOOD_HASHING=OFF,label=Windows-AMD/console
[code]

[2022-06-07 08:55] lunarpapillo commented on #4196
With `VkLayerTest.RayTracingPipelineDeferredOp` added to the blacklist, VVL on Windows AMD passes: http://erusea:8080/job/Vulkan-ValidationLayers/7536/BITS=64,BUILD_MODE=Release,USE_ROBIN_HOOD_HASHING=OFF,label=Windows-AMD/console
[code]

[2022-06-07 13:21] zmike opened #4199 "spurious perf warning"
When blitting from an image to the same image (for mipmap generation) I get this perf warning:

[code]

Probably this shouldn't be emitted for the same image case because it's not an accurate recommendation.

[2022-06-07 16:47] charles-lunarg commented on #4188
I will note that this could be partially solved by placing the validation layer *higher* in the call chain, further from the driver, than the NSight layer. All the flags NSight adds are added after validation has run, preventing most of the issues. It won't fix everything though, since some validation may run after the function call has returned, in which the NSight layer modifications to the stru

[2022-06-07 17:00] ncesario-lunarg commented on #4195
I agree, it looks as though resuming _and_ suspending in the same `VkReneringInfo` wasn't considered, and--if I understand correctly--the right thing to do would be resuming first, then suspend.

[2022-06-07 17:44] aitor-lunarg commented on #4167
In a way. My main issue is that I am not sure how or why the queue should be synchronized when calling `vkQueueSubmit` and `vkFreeCommandBuffers` since the only one that request a queue synchronization is `vkQueueSubmit`. I took a look at the code and couldn't find where `vkFreeCommandBuffers` could lock the queue (locks device, command buffers and pool, but no queue). I also tried to see if there

[2022-06-07 18:18] wolfpld commented on #4167
Please note that the `vkQueueWaitIdle` call was from my code, not the driver.

[2022-06-07 18:42] aitor-lunarg commented on #4167
Yes. What I meant is that maybe the driver was calling `vkQueueWaitIdle` from `vkFreeCommandBuffers`. I misread this part of your message:
[code]
Nevertheless, I don't see the need to call `vkQueueWaitIdle` before `vkFreeCommandBuffers`.

[2022-06-07 20:33] #4199 closed

[2022-06-07 20:54] ncesario-lunarg commented on #4167
I agree, I don't think it would be particularly fruitful to attempt that.

Same here, and I would hope that would not be the case.

This issues is pretty strange. The particular error being triggered is relatively straightforward and comes from code that is generated from the vulkan spec. The code in the validation layers effectively does:
- vkQueueSubmit (app)
  - PreCallQueueSubmit (VVL)
    Sta

[2022-06-07 21:55] #4195 closed

[2022-06-09 04:50] sjfricke opened #4210 "Matching QueueFamilyIndex for host stage barriers"
**Describe the situation in which you encountered the missing validation**

The following 2 VUs from `VK_KHR_synchronization2` are not added. Noticed this, but might not get to it for a bit so marking it as an issue for whoever has time for it first.

**Valid Usage IDs requested**

- `VUID-VkBufferMemoryBarrier2KHR-srcStageMask-03851`
- `VUID-VkImageMemoryBarrier2KHR-srcStageMask-03854`

**Additio

[2022-06-09 10:06] mvainola opened #4212 "Incorrect validation of simultaneous transform feedback and primitives generated queries"
**Describe the Issue**
Some of the [VK_EXT_primitives_generated_query CTS tests](https://github.com/KhronosGroup/VK-GL-CTS/blob/bdbde23695dd145462b21266193f599b050943e7/external/vulkancts/modules/vulkan/transform_feedback/vktPrimitivesGeneratedQueryTests.cpp) exercising both PGQ and XFBQ throw errors about mismatched query indices, but as far I see the tests call vkCmdBegin/EndQueryIndexedEXT with

[2022-06-09 21:40] sjfricke commented on #4212
Looking at the code

[code]

The issue is there are 2 query on `query = 0` with different indexes but the VU says

so curious if it ment to say something like

[2022-06-09 22:58] Tony-LunarG commented on #4074
@Inori I'm on break this week but I should be able to more closely consider your first issue early next week.
One suggestion I have for now is that maybe you can limit the number of messages by conditionally using invocation ID to decide whether to print or not.
Also, you can increase memory available for debug printf using vkconfig or a layers settings file.  The printf_buffer_size variable sets

[2022-06-09 23:06] Tony-LunarG opened #4215 "Add validation for VK_EXT_metal_objects"
VUIDs to add:
VUID-VkInstanceCreateInfo-pNext-06779
VUID-VkMemoryAllocateInfo-pNext-06780
VkBufferViewCreateInfo-pNext-06782
VUID-VkImageCreateInfo-pNext-06783
VUID-VkImageCreateInfo-pNext-06784
VUID-VkImageCreateInfo-pNext-06785
VUID-VkImageCreateInfo-pNext-06786
VUID-VkImageViewCreateInfo-pNext-06787
VUID-VkSemaphoreCreateInfo-pNext-06789
VUID-VkEventCreateInfo-pNext-06790
VUID-VkExportMetalObje

[2022-06-09 23:06] Tony-LunarG opened #4216 "Add validation for VK_EXT_non_seamless_cube_map"
1 VUID - VUID-VkSamplerCreateInfo-nonSeamlessCubeMap-06788

[2022-06-10 17:35] ncesario-lunarg commented on #4210
I assigned myself, but I probably won't get to it for a while either.

[2022-06-11 23:40] Inori commented on #4074
Limit message count using invocation ID together with a very big `printf_buffer_size` (over 65535) solves the problem.
Previously I though there must be something wrong, but it is really just `not enough buffer size.`
Thanks very much!

[2022-06-11 23:40] #4074 closed

[2022-06-14 18:53] Tony-LunarG commented on #4216
Added in #4223

[2022-06-14 18:53] #4216 closed

[2022-06-14 18:56] rumblehhh opened #4224 "Missing VUIDs for VK_BUFFER_USAGE_SHADER_BINDING_TABLE_BIT_KHR included in usage flags for buffers used as Shader Binding Tables"
**Describe the situation in which you encountered the missing validation**
Applications not including VK_BUFFER_USAGE_SHADER_BINDING_TABLE_BIT_KHR as part of the buffer usage flags for buffers used as shader binding tables for example:
https://github.com/GPSnoopy/RayTracingInVulkan/pull/57
https://github.com/nvpro-samples/nvpro_core/pull/38 (used by https://github.com/nvpro-samples/vk_raytracing_t

[2022-06-14 19:50] ncesario-lunarg opened #4225 "Investigate VkSyncValTest.SyncQSBufferCopyVsIdle crash in CI"
`VkSyncValTest.SyncQSBufferCopyVsIdle` is causing a sporadic crash on 32b release in CI.

[2022-06-16 21:31] zmike opened #4235 "spurious VUID-vkCmdBindPipeline-pipeline-06197 errors"
I'm getting this

`VUID-vkCmdBindPipeline-pipeline-06197(ERROR / SPEC): msgNum: 296975921 - Validation Error: [ VUID-vkCmdBindPipeline-pipeline-06197 ] Object 0: handle = 0x74ea280000000054, type = VK_OBJECT_TYPE_PIPELINE; | MessageID = 0x11b37e31 | vkCmdBindPipeline(): Binding pipeline with VkPipelineRenderingCreateInfo::depthAttachmentFormat VK_FORMAT_UNDEFINED, but previously bound pipeline VkP

[2022-06-16 22:47] mikes-lunarg commented on #4124
Fixed in https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/4160

[2022-06-16 22:47] #4124 closed

[2022-06-16 22:50] mikes-lunarg opened #4236 "Updated synchronization VUIDs"
The 1.3.218 spec relaxed a few sync VUs:
[code]

Spec issue is here: https://gitlab.khronos.org/vulkan/vulkan/-/issues/3075

[2022-06-17 04:04] ASerandourAMD commented on #4235
I have also observed the following errors with the same setup:
- VUID-vkCmdBindPipeline-pipeline-06194
- VUID-vkCmdBindPipeline-pipeline-06195
- VUID-vkCmdBindPipeline-pipeline-06196
- VUID-vkCmdBindPipeline-pipeline-06197

There is no command between `vkCmdBeginRenderingKHR` and `vkCmdBindPipeline`.

[2022-06-17 12:37] jsguay-legion commented on #4235
Same here on vulkan-SDK 1.3.216, Did not trigger on 1.3.211 with the same code. Error on my side is:
`
Validation Error: [ VUID-vkCmdBindPipeline-pipeline-06197 ] Object 0: handle = 0xc4bec900000000b0, type = VK_OBJECT_TYPE_PIPELINE; | MessageID = 0x11b37e31 | vkCmdBindPipeline(): Binding pipeline with VkPipelineRenderingCreateInfo::depthAttachmentFormat VK_FORMAT_UNDEFINED, but previously bound p

[2022-06-17 21:59] martin-ejdestig opened #4239 "Assert when using variable descriptor count without setting all descriptors"
**Describe the Issue**

(Originally encountered this in non public Vulkan 1.2 code from which it is not easy to extract a minimal example. So using Sascha Willems's `VK_EXT_descriptor_indexing` example instead where it is easy to trigger the same problem.)

Changing https://github.com/SaschaWillems/Vulkan/blob/master/examples/descriptorindexing/descriptorindexing.cpp to set an upper bound on the u

[2022-06-17 23:33] TheMostDiligent opened #4240 "Incorrect version reported for VK_LAYER_KHRONOS_validation on Android"
**Describe the Issue**
The `specVersion` member of `VkLayerProperties` struct reported for `VK_LAYER_KHRONOS_validation` layer on Android does not contain the minor version. For 1.3.216 SDK version, the value is `0x4000d8`, which translates to `1.0.216`

**Valid Usage ID**
The value of the `specVersion` member is `0x4030d8`, which translates to `1.3.216`

**Environment:**
 - OS: Android
 - GPU: Ad

[2022-06-17 23:37] jzulauf-lunarg opened #4241 "Add Submit Time Synchronization Validation -- tracking/progress issue"
**Describe the Issue**
Current Synchronization only occurs at command buffer record (include the recording of CmdExecuteCommandBuffers), but does not track data hazards between command buffers or across queue.

This issue tracks the known task list to get the functionality to an alpha release state.

**Current Status**

Implementation is in a alpha condition, with limited functionality committed t

[2022-06-17 23:41] TheMostDiligent opened #4242 "VK_EXT_debug_report extension is reported instead of VK_EXT_debug_utils on Android"
**Describe the Issue**
On Android, `VK_EXT_debug_utils` name is missing in the list of supported instance extensions, but `VK_EXT_debug_report` is reported. However, the `VK_EXT_debug_utils` extension can still be successfully enabled and works just fine.

**Valid Usage ID**
`VK_EXT_debug_utils` extension name is reported by `vkEnumerateInstanceLayerProperties`

**Environment:**
 - OS: Android
 -

[2022-06-18 19:32] Ralith commented on #1998
Any progress on this? Would be nice to delete the code required to hack around the error.

[2022-06-19 02:07] sjfricke commented on #4242
To my knowledge, Android does not support `VK_EXT_debug_utils` as the loader doesn't have support for it https://cs.android.com/android/platform/superproject/+/master:frameworks/native/vulkan/libvulkan/driver_gen.cpp;l=561

[2022-06-19 02:12] sjfricke commented on #4240
[set the same for Windows and Android](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/6e8fb40b3b364391095e40f894cd3922854a0317/layers/vk_layer_utils.h#L309)
`#define VK_LAYER_API_VERSION VK_MAKE_VERSION(1, 0, VK_HEADER_VERSION)`

I agree the minor version should be adjusted, but curious how it is correct on Windows

[2022-06-19 02:38] TheMostDiligent commented on #4240
For the same sdk version it returns 1.3.216.

[2022-06-19 02:40] TheMostDiligent commented on #4242
Somehow it works though... Wasn't the report version deprecated in favor of utils?

[2022-06-19 02:42] sjfricke commented on #4242
It was, but idk if Android ever got around to updating it

[2022-06-19 03:05] TheMostDiligent commented on #4242
Since it works it appears that it supports it but doesn't report it.
Anyway this seems to be not an SDK issue. Thanks!

[2022-06-19 03:05] #4242 closed

[2022-06-19 22:22] mark-lunarg commented on #4240
Just a guess, but maybe Windows/Linux is getting this info from the layer json file.  Android relies solely on the layer property enumeration APIs to get layer info.

[2022-06-19 22:29] GPUCode commented on #4235
Facing this issue too on my application. The only workaround currently is switching command buffers between rendering instances but that is very expensive. Any plans to fix this?

[2022-06-20 06:48] sjfricke opened #4243 "VkLayerTest.QueryPerformanceReleaseProfileLockBeforeSubmit test hangs"
**Describe the Issue**
When running `VkLayerTest.QueryPerformanceReleaseProfileLockBeforeSubmit` it is hanging in `CoreChecks::ValidatePerformanceQuery` at

[code]

Not familiar with the performance query part of the code, but I always have to disable this test when trying to run the full suite of tests locally

**Valid Usage ID**

The tests aims to test `VUID-vkQueueSubmit-pCommandBuffers-03220`

[2022-06-20 16:21] ncesario-lunarg commented on #4212
Wondering if this is a question for Vulkan-Docs? I think this should be fairly straightforward to solve by tracking a list of indices in `QueryObject` rather than a single index, but I'm not familiar enough with the extension to understand whether or not this is valid usage (since it's in CTS, I'm hoping it's valid usage :)).

[2022-06-20 23:52] #4236 closed

[2022-06-22 10:26] BingoBongoVrn commented on #3676
Is this still an issue? Because right now I'm in the same situation. I have buffer that first is updated by transfer operation then it just used as vertex buffer through vkCmdBindVertexBuffers() command and never touched again by other commands. So in application it works fine until suddenly validation layer reports:

INFO, E:\fbr\trunk\source\fbr\vulkan\Instance.cpp: Vulkan: Validation Error: [ S

[2022-06-23 09:31] nikitablack opened #4256 "Wrong Synchronization validation error `Couldn't find VkImage Object 0x... This should not happen and may indicate a bug in the application.`"
**Describe the Issue**

I am receiving the error message:

The error message _sometimes_ appears during the old swapchain destruction. Here are the steps to reproduce (the code is written in Rust, but it's 1-to-1 mapping to C Vulkan):

[code]

Using `Vulkan Configurator`s  `Break` option in `Debug Action` I can see that the message happens in the `vkDestroySwapchainKHR` function.

What's interesti

[2022-06-23 11:39] #3123 closed

[2022-06-24 22:26] jeremyg-lunarg commented on #4239
The assert will get inadvertently fixed by https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/4126. But it seems like there should be some sort of valid usage error in this case, which I need to find in the spec.

[2022-06-24 22:42] jeremyg-lunarg commented on #4239
The section about [Descriptor Sets](https://www.khronos.org/registry/vulkan/specs/1.3-extensions/html/vkspec.html#descriptorsets-sets) says:
[code]

However, the only VUID even close to the above is:
[code]
But that doesn't get checked until after the assert.

[2022-06-26 17:08] pierremoreau opened #4258 "VUID-vkCmdPipelineBarrier2-pDependencies-02285 reported for vkCmdWaitEvents2KHR"
**Describe the Issue**
VUID-vkCmdPipelineBarrier2-pDependencies-02285 is being reported for a call to `vkCmdWaitEvents2KHR()`.
- This is confusing as `vkCmdPipelineBarrier2()` is not involved here.
- AFAICT, there is no requirement for there to be a self-dependency for `vkCmdWaitEvents2KHR()`, unlike `vkCmdPipelineBarrier2()`, when it is being called within a render pass.

**Valid Usage ID**
If ap

[2022-06-26 22:22] TheMostDiligent commented on #1336
Sorry for replying to this old thread, but we are heaving exactly the same issue with debug utils on Android (#4242): the extension is not reported by `vkEnumerateInstanceExtensionProperties`, yet it can be successfully enabled and seems to work fine.
It looks like @critsec managed to get it working, but I can't understand what needs to be done - simply ignore the fact that it is not listed and us

[2022-06-27 13:03] #3745 closed

[2022-06-27 15:42] jzulauf-lunarg commented on #3676
@ncesario-lunarg @jeremy-lunarg -- I'm suspicious of the VK_WHOLE_SIZE handling in `MakeBufferMemoryBarriers` though it looks correct at first pass.  If the SyncOpBarriers is created with the wrong size, the Apply barriers range could write out of bounds in the "fake_base_address" space the resource usage records are in.

That's where I'd step through with the replay, in any case.

[2022-06-27 18:05] Jonathan-Weinstein commented on #3676
I'm not sure how portable the original .gfxr capture is because it enables many unnecessary features/extensions. If I disable some of them and make a new capture on an RTX 3070, I am able to replay it (with -m remap) on an Intel Tigerlake. Let me know if a new capture could be helpful.

I don't think `VkBufferMemoryBarrier`s specifically are suspect. The messages still occur after I tried changing

[2022-06-30 18:18] Tony-LunarG opened #4267 "Add validation for VK_EXT_multisampled_render_to_single_sample"
**Valid Usage IDs requested**
VUID-VkGraphicsPipelineCreateInfo-multisampledRenderToSingleSampled-06853
VUID-VkGraphicsPipelineCreateInfo-renderPass-06854
VUID-vkCmdBindPipeline-pipeline-06856
VUID-VkRenderingInfo-multisampledRenderToSingleSampled-06857
VUID-VkRenderingInfo-imageView-06858
VUID-VkRenderingInfo-imageView-06859
VUID-VkRenderingAttachmentInfo-imageView-06861
VUID-VkRenderingAttachmen

[2022-06-30 18:26] Tony-LunarG opened #4268 "Add validation for VK_EXT_shader_module_identifier"
**Valid Usage IDs requested**
VUID-VkPipelineShaderStageCreateInfo-stage-06844
VUID-VkPipelineShaderStageCreateInfo-stage-06845
VUID-VkPipelineShaderStageCreateInfo-stage-06846
VUID-VkPipelineShaderStageCreateInfo-stage-06847
VUID-VkPipelineShaderStageCreateInfo-stage-06848
VUID-VkPipelineShaderStageCreateInfo-pSpecializationInfo-06849
VUID-VkPipelineShaderStageModuleIdentifierCreateInfoEXT-pNext-

[2022-07-01 22:11] jhs67 opened #4271 "False positive VUID-vkQueueSubmit-fence-00063 with fence and signal semaphore"
Sometimes I will get incorrect validation errors from VUID-vkQueueSubmit-fence-00063. I call vkWaitForFences on a single fence that was previously used in a call to vkQueueSubmit. I immediately call vkResetFences. Then sometime later I reuse the fence in another call to vkQueueSubmit and the validation warning is sometimes triggered.

I believe the problem originates when there is both a fence and

[2022-07-05 05:04] ncesario-lunarg opened #4273 "Investigate remaining test failures"
This a followup issue to #3177, mainly to track the investigation of disabled tests resulting from #4253 along with change 57b56bb0 in VulkanTests.

The following tests have been disabled for Android CI. Most (if not all) of these have likely been fixed by @sjfricke's changes, and this is here to ensure that these tests get re-enabled in local CI.
- VkLayerTest.SamplerImageViewFormatUnsupportedFil

[2022-07-05 12:58] danilw opened #4274 "VkSwapchainCreateInfoKHR flags unchecked"
**Issue description:**
As I saw - `VkSwapchainCreateInfoKHR.flags` ignored by Validation layers. (**Vulkan SDK 1.3.216.0** tested today)

**Valid Usage IDs requested**
VUID-VkSwapchainCreateInfoKHR-physicalDeviceCount-01429
VUID-VkSwapchainCreateInfoKHR-flags-03168
VUID-VkSwapchainCreateInfoKHR-flags-04100
VUID-VkSwapchainCreateInfoKHR-flags-03187

**Additional Context**
When `VkSwapchainCreateInf

[2022-07-05 14:51] jeremyg-lunarg commented on #4271
I agree there's a possible race condition there, need to figure out a good fix for it.

[2022-07-05 19:19] ncesario-lunarg commented on #4274
Thank you for the issue @danilw. Looks like we are indeed missing validation for 03187, but we should be checking the other 3 VUIDs. Are you saying the other VUIDs (01429, 03168, and 04100) are not being triggered when you think they should (or perhaps being triggered when they shouldn't)? If so, can you provide a more complete example? I wasn't able to build the vulkan-shadertoy-launch project.

[2022-07-05 21:20] danilw commented on #4274
**My bug/case is** only when `VkSwapchainCreateInfoKHR.flags = 1` when it supposed to be `0`.
I list all other VUID because I saw `.flags` not being checked with any other value.

I know only reproduction for "my bug" is:

go to https://github.com/KhronosGroup/Vulkan-Samples/blob/master/samples/api/hello_triangle/hello_triangle.cpp#L531

where `VkSwapchainCreateInfoKHR info{VK_STRUCTURE_TYPE_SWAPC

[2022-07-06 08:24] MarijnS95 opened #4278 "`RayTraversalPrimitiveCullingKHR` capability not allowed in ray _query_ shaders"
### Describe the Issue
When using a shader with ray queries, that have [`SkipAABBsKHR`](https://github.com/KhronosGroup/SPIRV-Registry/blob/main/extensions/KHR/ray_common/rt_primitive_culling_capability.txt) set (`RAY_FLAG_SKIP_PROCEDURAL_PRIMITIVES` in HLSL) and its `RayTraversalPrimitiveCullingKHR` emitted in SPIR-V, the following error appears:

[code]

Note that this appears when _exclusively_

[2022-07-06 14:45] oddhack commented on #2787
@sfricke-samsung not sure if you're aware but there's an ongoing internal issue to update the definition of "valid enum" globally in a way which filters through to VVL. IIRC, @ncesario-lunarg is [prototyping the logic](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/4228) for that and once it's ready, the corresponding spec change will be pushed out.

[2022-07-06 22:32] sjfricke commented on #4278
This is a spec bug (Vulkan-Docs) because all the validation layers stuff (and the table in the spec) are generated from the `vk.xml` file

[code]

I do agree looking at this now, it seems to be a mistake that there is no way to enable `RayTraversalPrimitiveCullingKHR` with only `VK_KHR_ray_query`

[2022-07-07 10:09] MarijnS95 commented on #4278
@sjfricke Thanks for confirming that it should indeed be usable on `SPV_KHR_ray_query`; I should have clarified that I was also on the verge of punting this on a spec bug as well.

Will file this upstream :)

[2022-07-07 13:10] dgkoch commented on #4278
RayTraversalPrimitiveCullingKHR is optional for VK_KHR_ray_tracing_pipeline, but required for VK_KHR_ray_query, which is why there is no feature flag in VK_KHR_ray_query.  I think this bug came about when we tried to represent all the capabilities in the XML.

[2022-07-07 17:51] dgkoch commented on #4278
@sjfricke Actually we need the rayQuery feature to be enabled as well, right?

[2022-07-07 18:57] MarijnS95 commented on #4278
@dgkoch Isn't the same implied for `VkPhysicalDeviceRayTracingPipelineFeaturesKHR`'s `rayTracingPipeline` boolean?

[2022-07-07 21:56] sjfricke commented on #4278
yes so it would be

[code]

[2022-07-08 06:17] sjfricke commented on #4273
Ran these locally on my Android device, here is what I see failing/crashing still, will try to see if I can fix some

- VkLayerTest.AndroidHardwareBufferExporttBuffer
- VkPositiveLayerTest.AndroidHardwareBufferDepthStencil
- VkBestPracticesLayerTest.AttachmentShouldNotBeTransient
- VkLayerTest.NotSupportProvokingVertexModePerPipeline
- VkLayerTest.PipelineInvalidAdvancedBlend
- VkLayerTest.Invalid

[2022-07-08 13:31] MarijnS95 commented on #4278
Just wondering, if `VkPhysicalDeviceRayTracingPipelineFeaturesKHR::rayTraversalPrimitiveCulling` is enabled does that require `VkPhysicalDeviceRayTracingPipelineFeaturesKHR::rayTracingPipeline` to be enabled accordingly?

[2022-07-08 15:14] #4240 closed

[2022-07-08 22:44] sagaceilo commented on #4235
Having exactly the same issue as ones described before. SDK 1.3.216

[2022-07-09 14:38] KonstantinSeurer opened #4292 "Missing unwrapping in DispatchBuildAccelerationStructuresKHR"
**Describe the Issue**
`VkAccelerationStructureInstanceKHR::accelerationStructureReference` does not get unwrapped which breaks host builds since it no longer is a valid `VkAccelerationStructureKHR` handle.

**Additional context**
For reference: https://gitlab.freedesktop.org/mesa/mesa/-/issues/6076#note_1457821

[2022-07-09 19:35] charles-lunarg commented on #3771
Unfortunately, I think this is actually a 'bug' in best practices. The API version is set at instance creation time, not at device creation. The application has to set the instance version well before they could have queried the device version.

[2022-07-09 19:50] spnda opened #4293 "Best practices layer warns about deprecated extension based on instance version"
**Describe the Issue**
When creating an instance with (in my case) 1.3.216 and then calling vkCreateDevice for a device that supports 1.1.217, I get the following warning from the best practices layer:

This is nonsense, as determining the proper extensions for device creation is device specific and depends on the api version of the device, not the instance. The device does not know of `KHR_timeli

[2022-07-11 15:35] DominikWitczakAMD opened #4295 "vkCmdBindVertexBuffers2-bindingCount-arraylength is incorrectly generated when bindingCount == 0 & (pSizes and pStrides are nullptr)"
**Describe the Issue**
When validation is enabled, calling vkCmdBindVertexBuffers2EXT(cmd buffer handle, 0, 0, nullptr, nullptr, nullptr, nullptr) generates the following vallidation error:

``
vkCmdBindVertexBuffers2EXT: parameter bindingCount must be greater than 0. The Vulkan spec states: If any of pSizes, or pStrides are not NULL, bindingCount must be greater than 0 (https://vulkan.lunarg.com/

[2022-07-11 17:01] Tony-LunarG opened #4296 "Most ray tracing tests are being skipped when they could run"
InitFrameworkForRayTracingTest incorrectly checks for enabled extensions before calling InitFramework, which results in skipping the test when it really could have run.  Fixing this causes several tests to start running, but they have validation errors which cause them to fail.

The validation errors found in a quick look appear to be:
- The buffer device address feature needs to be enabled
- Buff

[2022-07-12 09:47] sjfricke opened #4299 "Detect required API version for tests using extensions with api version requirements"
[code]

Will crash on a 1.3 device because in [the spec for VK_KHR_maintenance4](https://www.khronos.org/registry/vulkan/specs/1.3-extensions/html/vkspec.html#VK_KHR_maintenance4) it says

I don't think the test framework has to be super smart and try setting the target API when an extension like `VK_KHR_maintenance4` is used, but for the future test writers out there we should have a better messa

[2022-07-12 13:04] BestYeen commented on #3681
A few months later now, I've discovered that some of my samples in question subtly over-allocated from descriptor pools.
It mostly worked fine on a very forgiving Nvidia driver but crashed instantly on an Intel UHD system with no discrete graphics card.
I don't know if it was the reason for all that, but it's a good candidate for causing crashes - and also for validation by the SDK tools. :)

[2022-07-13 19:33] JoergArm opened #4305 "Validation of VUID-VkImageViewCreateInfo-image-01586 is too strict"
**Describe the Issue**
While we have Conformance tests which rely on view-format-compatibility of aspects of mutable multi-planar images the VL is only allowing the usage of view formats which are precisely enumerated in the referenced table. Transitive compatibility (using the table's entry as an exemplary format for all covered by the MUTABLE property) is not permitted by the VL.

**Valid Usage

[2022-07-14 05:30] sjfricke commented on #4305
So I think the simple fix here is

[code]

Re-re-re-reading the VUID, I see it does talk about how it needs to be "Compatible" with the format returned from the Table mapping

(will also need to fix `MultiplaneIncompatibleViewFormat` test as well

[2022-07-14 06:23] JoergArm commented on #4305
Thanks - this fixes the problem with the CTS.

[2022-07-14 08:04] glebov-andrey opened #4308 "False positives after concurrently waiting for a timeline semaphore"
Sometimes, after multiple threads wait for (or check the value of) a timeline semaphore, one of the threads gets false positive errors, e.g. `VUID-vkDestroyBuffer-buffer-00922` (*All submitted commands that refer to buffer, either directly or via a `VkBufferView`, **must** have completed execution*).

This issue seems similar to #4271, but this case does not involve a fence, #4281 does not fix it,

[2022-07-14 11:32] llandwerlin-intel opened #4309 "Missing validation on usage of VK_IMAGE_LAYOUT_PRESENT_SRC_KHR"
Issue description:

I found an application transitioning a depth image view in a render pass to layout `VK_IMAGE_LAYOUT_PRESENT_SRC_KHR`
https://www.khronos.org/registry/vulkan/specs/1.3-extensions/man/html/VkImageLayout.html says that `VK_IMAGE_LAYOUT_PRESENT_SRC_KHR must only be used for presenting a presentable image for display` and I know our implementation (Intel/Mesa) doesn't allow creation

[2022-07-14 14:59] jeremyg-lunarg commented on #4308
Thanks for the detailed report. I should be able to recreate the problem from what you've provided.

[2022-07-14 16:56] mikes-lunarg opened #4310 "Update validation for pipeline shader stages"
New VUIDs for validating pipline shader stages added to the spec here:
https://gitlab.khronos.org/vulkan/vulkan/-/merge_requests/5261

This includes the removal/enhancement of the currently implemented `VUID-VkGraphicsPipelineCreateInfo-stage-00728`

[2022-07-14 17:00] ncesario-lunarg commented on #4310
👍 been waiting for this one. This has already been released, but VVL hasn't been updated with these headers, correct?

[2022-07-14 17:03] mikes-lunarg opened #4312 "Update descriptor/render pass layout validation"
The following VUIDs are no longer in the spec and should be updated in validation:
[code]

This looks like it comes from fairly large valid usage refactor in this spec MR: https://gitlab.khronos.org/vulkan/vulkan/-/merge_requests/4686

[2022-07-14 17:11] mikes-lunarg opened #4313 "Fix depth/stencil layout validation"
The following VUIDs are removed and need to be updated
[code]
Spec MR: https://gitlab.khronos.org/vulkan/vulkan/-/merge_requests/5233

From reading the linked issue, this will involve moving the validation from pipeline creation to draw time.

[2022-07-14 17:17] ziga-lunarg commented on #4313
Have a PR to remove these in #4306
They caused some issues in CTS

[2022-07-14 17:29] mikes-lunarg commented on #4310
Header PR is up now. Last week's update was "overcome by events" so I just rolled to the 221 update.

[2022-07-14 22:16] #3048 closed

[2022-07-15 15:11] Tony-LunarG commented on #4296
Fixed in #4315

[2022-07-15 15:11] #4296 closed

[2022-07-15 18:58] dgkoch commented on #4278
Spec fix released in VK 1.3.221

[2022-07-17 17:03] RandomMan123 opened #4321 "False positive when creating a descriptor set binding containing multiple different image view types"
**Describe the Issue**
I have a descriptor set with a single binding that contains several image descriptors in it. some of these descriptors have image view type 2D, and others have image view type 2D array. On program startup, I update all these descriptor sets so everything is bound by the time the rendering starts.
Here is the starting shader code that triggers this error: `Descriptor in bindi

[2022-07-18 10:00] janharaldfredriksen-arm opened #4322 "Check for VUID 00017 should use the render pass instance layercount"
**Describe the Issue**
The VU says:

[code]

The "contained within" statement here is intended to refer to the number of layers in the _attachment_ (i.e. the render pass instance). Currently, the validation layers check against the number of layers in the attachment's _image view_.

The Vulkan WG will clarify this (internal issue 3157).

**Valid Usage ID**
00017 (potentially it gets a new number a

[2022-07-18 20:30] ncesario-lunarg commented on #4293
Yep, that indeed does not look right. Looks like we need to do something like store _type_ (device or instance) information in [DeprecationData](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/73388b3fb9b7de3cd4266a6dc6ab59d115f86a23/layers/best_practices_validation.h#L109) and check against that before calling into `BestPractices::ValidateDeprecatedExtensions`.

[2022-07-18 20:56] spnda commented on #4293
Yes there's obviously a validation error about the instance version being higher than the device version:
[code]

This was talked about in the discussion on Discord and there has been a comment on https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/3771#issuecomment-1179595777 regarding this.

[2022-07-18 21:54] ncesario-lunarg commented on #4293
I'm not sure I completely agree with @charles-lunarg's comment in 3771, but that's somewhat suggestive :) ; warning if you request version A.B, but your device only supports X.Y seems like a perfectly good _warning_ (i.e., **not** an _error_) to me, but that is a different warning and issue than what's going on here.

I'm pretty sure the problem here is that we are checking device extensions again

[2022-07-18 21:56] paul-lunarg opened #4325 "Add check for VUID-vkCmdBeginRenderPass-initialLayout-00900"
There currently is no check for VUID-vkCmdBeginRenderPass-initialLayout-00900
which states:
"If the initialLayout member of any of the VkAttachmentDescription structures specified when creating the render pass specified in the renderPass member of pRenderPassBegin is not VK_IMAGE_LAYOUT_UNDEFINED, then each such initialLayout must be equal to the current layout of the corresponding attachment imag

[2022-07-18 21:57] paul-lunarg commented on #4325
@jeremyg-lunarg

[2022-07-19 04:46] sjfricke commented on #4278
Pulled in and should be good now https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/4314/files#diff-7d48a2b188a782c63658a6716d3b99ded72d38c774bbc647272646552d4e198e

@ncesario-lunarg we can close this issue now

[2022-07-19 05:52] sjfricke commented on #4321
The spec in the [Instruction/Sampler/Image View Validation](https://registry.khronos.org/vulkan/specs/1.3-extensions/html/vkspec.html#textures-operation-validation) section describes this

And the only difference between `sampler2D` and `sampler2DArray` in GLSL is it will produce `OpTypeImage` with `Arrayed` as `0` or `1` respectfully

You also have both the binding the same (`binding = 1`) so I a

[2022-07-19 07:45] MarijnS95 commented on #4278
Thanks a lot! I'll test this out in the coming days.

[2022-07-19 07:45] #4278 closed

[2022-07-19 14:37] jeremyg-lunarg commented on #4239
#4126 is merged, so this should be fixed. Please reopen if you're still seeing it.

[2022-07-19 16:54] charles-lunarg commented on #3771
Upon further discussion, I believe this should instead be downgraded to INFO level, not warning.
It *is* useful to know that the created instance has a higher instance version than what the device supports. When debugging 'what version does my app have' is not always straightforward, especially to developers who don't realize that the apiVersion set in instance creation isn't the *device* version

[2022-07-19 21:20] jeremyg-lunarg commented on #4308
@glebov-andrey I haven't yet been able to reproduce this problem. Does the test in #4328 look like what your application does or am I missing something? I do agree that this is almost certainly a bug but I don't want to fix it without having a regression test in place. Thanks!

[2022-07-19 21:45] #4310 closed

[2022-07-19 22:41] sjfricke opened #4329 "Add new VK_EXT_pipeline_robustness VUID"
**Issue description**
VK_EXT_pipeline_robustness was added in Vulkan 1.3.221

**Valid Usage IDs requested**
VUID-\*-uniformBuffers-06935
VUID-\*-storageBuffers-06936
VUID-VkPipelineRobustnessCreateInfoEXT-\*

**Additional Context**
Both `VUID-*-None-02705` and `VUID-*-None-02706` are now `06935`/`06936` but only when the extension is enabled

[2022-07-20 06:38] glebov-andrey commented on #4308
@jeremyg-lunarg It looks close enough, but as far as I can tell, #4328 never actually submits the command buffer - it only ever fills  the semaphore to signal in `submit_info`.

[2022-07-20 14:23] jeremyg-lunarg commented on #4308
Doh! I bet that is why it doesn't reproduce the problem.  This test is based on the other test, and I didn't completely update it. Thank you for reviewing!

[2022-07-20 16:17] romanl-g opened #4333 "Linux CFI failures caused by recent changes"
**Describe the Issue**
Hi, we ran into CFI failures on Linux in Chromium testing ANGLE, very similarly to this previous report: https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2825

It started happening as our bots tried rolling these changes:

[code]

@jeremyg-lunarg

I'm trying to narrow it down further but we're missing symbols for some reason, all I have for now is this error in

[2022-07-20 16:18] #3282 closed

[2022-07-20 16:19] jeremyg-lunarg commented on #4333
Do you know which ANGLE test(s) hit this error?

[2022-07-20 16:20] #4215 closed

[2022-07-20 16:23] romanl-g commented on #4333
We don't have CFI enabled in ANGLE and only caught it in Chromium tests:
https://ci.chromium.org/ui/p/chromium/builders/try/linux_chromium_cfi_rel_ng/b8808185468249055249/test-results

I'm trying to repro in ANGLE standalone but CFI builds are very slow.

[2022-07-20 16:23] jeremyg-lunarg commented on #4333
Also, the specific error is in code added by:
[code]
It looks like it can be reverted without breaking the rest of the commits. I'm not sure yet if that'll make the error go away or just change how it shows up.

[2022-07-20 16:53] jeremyg-lunarg commented on #4333
@romanl-g, I found a bug in commit 7b963d8 which I think could be causing the error, which is in PR #4334. If that doesn't fix the issue I can revert commit 7b963d8.  I'll try to set up a CFI build locally, based on the number of errors in your test report and how often this part of validation should get used, I think it should be reproducible with our unit tests with CFI on.  Running with ASAN on

[2022-07-20 19:50] romanl-g commented on #4333
Phew. Finally repro'd in a Chromium checkout.

Checking out 6ba1d90fca391838b32edc0c6c615d5198d133d8 above, I'm seeing a similar error but for ImageSamplerDescriptor:

[code]

When I checkout before this change, issues seem to go away:
94b7c2f layers: Use small_vector for storing Descriptors.

Could it be something about small_vector that is now used in other places? Maybe something wrong with thi

[2022-07-20 20:35] ncesario-lunarg commented on #4321
I'm pretty sure @sjfricke is correct and I don't think there is a VVL bug. I'm a little confused by the second shader that does not produce any validation error, which does not seem to be equivalent (functionally) to the first, and has the "dual binding" that I don't quite understand that Spencer mentioned.

If the shader is meant to consume an array of 2D _arrayed_ image views, then you must use

[2022-07-20 20:35] #4321 closed

[2022-07-20 20:46] jeremyg-lunarg commented on #4333
Reverting the small_vector commit as well. Fixing these errors in a way where there won't be landmines left for the next person to touch them will require more thought and review.

[2022-07-20 21:39] romanl-g commented on #4333
thanks for digging into this, Jeremy

[2022-07-20 22:43] jeremyg-lunarg commented on #4333
Should be fixed now that #4336 is merged, please close when you've confirmed it is gone on your side.

[2022-07-21 14:45] romanl-g commented on #4333
081e14d462a9bfd4aa3fc5cff0387608911f1b3b does fix the test I used to repro. Infra still stuck on running all other tests, I'll close tentatively and get back to you if it turns out there is another special case. Thanks!

[2022-07-21 14:45] #4333 closed

[2022-07-21 16:00] dj2 opened #4340 "ASAN container-overflow issue from #4126"
There is an ASAN container-overflow triggered in the code from #4126. In the PR we `reserve` size for the `bindings_store_`, grab the `data` pointer and then start writing. This isn't valid as per the spec as it's outside the valid data. It triggers the container-overflow because it is writing outside begin + size.

The other issue is the size of the vector will still be `0` at the end as `reserve

[2022-07-21 16:22] jeremyg-lunarg commented on #4340
The code that had that bug got reverted yesterday in response to https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/4333 . I did spot the reserve/resize bug while investigating that issue. But there were other things in the code that made Control Flow Integrity unhappy so 2 commits were reverted.   Which compiler are you using? I don't think I was able to detect it with gcc 11's ASAN.

[2022-07-21 16:32] dj2 commented on #4340
In this case it was found with Clang. https://github.com/google/sanitizers/wiki/AddressSanitizerContainerOverflow is the documentation for the container-overflow check.

[2022-07-21 17:12] jeremyg-lunarg commented on #4340
Thanks! I'm closing the issue since the offending code has been reverted. If/when it comes back I will make sure to check with clang ASAN and CFI.

[2022-07-21 17:22] RandomMan123 commented on #4321
Thank you both for the answers. While the problem is a bit clearer to me now, I unfortunately do not see the solution. I have posted the shortened/relevant Vulkan code below. Note the mismatch of the image views in `vkUpdateDescriptorSets`. It is perfectly legal to do this, but every time a shader reads from only one of the image views in the binding instead of both, there is a validation error.

[2022-07-21 19:17] mikes-lunarg commented on #4322
New VUID is `VUID-vkCmdClearAttachments-pRects-06937` in #4341

[2022-07-22 12:08] deprilula28 opened #4343 "Clarification about (or possible validation bug) with VkImageSwapchainCreateInfoKHR"
**Describe the Issue**
When switching from using `vkGetSwapchainImagesKHR` into a `vkCreateImage` with `VkImageSwapchainCreateInfoKHR` and `vkBindImageMemory2` with `VkBindImageMemorySwapchainInfoKHR`, with no other changes (the referred to images should be the same), the observable behaviour matches, however, a new validation error is reported:
[code]

- The image acquision is working the exact s

[2022-07-22 12:17] devshgraphicsprogramming commented on #4343
@deprilula28 maybe link them a diff between two commits of the code changes you did?

[2022-07-22 12:19] deprilula28 commented on #4343
https://github.com/Devsh-Graphics-Programming/Nabla/pull/396/commits/fea6c07ebad3b4728963a2f32b7ecadbf1b6b1a6

[2022-07-22 22:41] Simoncl opened #4345 "Image view with multiple layers validation Error"
Building an image view with multiple layers. Setting the view to VK_IMAGE_VIEW_TYPE_2D_ARRAY and also tried imageViewCI.subresourceRange.layerCount = VK_REMAINING_ARRAY_LAYERS but still getting a validation error. This was not the case with Vulkan  1.2.170.0

validation layer: Validation Error: [ VUID-VkImageViewCreateInfo-imageViewType-04973 ] Object 0: handle = 0xd10d270000000018, type = VK_OBJE

[2022-07-23 01:19] sjfricke commented on #4345
The error says

So it seems like you might not have actually been setting it to `VK_IMAGE_VIEW_TYPE_2D_ARRAY` like you think

[2022-07-23 01:23] sjfricke commented on #4343
So due to the way the Vulkan spec VUID system [works with extensions ](https://github.com/KhronosGroup/Vulkan-Guide/blob/master/chapters/validation_overview.adoc#multiple-vuids) this VU is also `VUID-VkPresentInfoKHR-pImageIndices-01430` but because your app didn't enable `VK_KHR_shared_presentable_image` it reports it as `VUID-VkPresentInfoKHR-pImageIndices-01296`

[2022-07-23 01:50] Simoncl commented on #4345
I can replicate this validation error with a very simple set up too

[2022-07-23 01:54] sjfricke commented on #4345
here is [where it is checked](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/bbff1dc59468540736f2535cdfbad3ff436e26ec/layers/buffer_validation.cpp#L6085) and `string_VkImageViewType(view_type)` [is correct](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/bbff1dc59468540736f2535cdfbad3ff436e26ec/layers/generated/vk_enum_string_helper.h#L3493) so the fact it says `VK_IMAGE

[2022-07-23 01:57] sjfricke commented on #4345
When a validation error is broken it is `undefined behavior` so yes there is a chance it might "still work" but also a chance it might crash on another GPU

[2022-07-23 02:37] Simoncl commented on #4345
So shall I upload a code example that exhibits this issue?

[2022-07-23 02:40] sjfricke commented on #4345
If you have an [API dump](https://vulkan.lunarg.com/doc/view/1.2.148.1/windows/api_dump_layer.html)  of the VkImage and VkImageView creation that would be enough for me to write an internal test in the VVL code for you

[2022-07-23 03:36] Simoncl commented on #4345
[apiDump.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/9173018/apiDump.txt)

[2022-07-23 03:37] Simoncl commented on #4345
I have uploaded the api dump around the  VkImage and VkImageView creation

[2022-07-23 04:00] Simoncl commented on #4345
Apologies for wasting your time.  I have found MY bug:(((

[2022-07-23 04:01] sjfricke commented on #4345
The `VkImage` that is the issue is not in this API dump, not the validation warning says `Object 0: handle = 0xd10d270000000018` but the VkImage handle is `0x00000175041C7070`

Also the error also says

But the `VkImageView` here is `VK_REMAINING_ARRAY_LAYERS`

Also not sure why it is printing the error after `vkGetPhysicalDeviceFormatProperties2`

[2022-07-23 04:06] Simoncl commented on #4345
Yeah apologies again. The attachment I thought was the issue gets passed to a render pass node in my build graph that optionally adds a depth attachment,  it's this attachment that had the wrong image view type . Interestingly Vulkan 1.2.170.0  was not giving me an error. So that's cool 1.3 has picked it up:))

[2022-07-23 04:12] sjfricke commented on #4345
Happy to help, and glad the new updates to the layer caught a new bug!

[2022-07-23 06:01] ncesario-lunarg commented on #4345
Sounds like this issue can be closed @Simoncl?

[2022-07-23 10:21] martty opened #4346 "READ_AFTER_WRITE syncval error on memory barriers, but only for certain ordering"
**Describe the Issue**
In one trace I do cmdcopy indices -> memory barrier for index reads -> cmdcopy vertices -> memory barrier for vertex reads.
The other trace I do cmdcopy vertices -> memory barrier for vertex reads -> cmdcopy indices -> memory barrier for index reads.

First trace is no error, but the second one gives:
Validation Error: [ SYNC-HAZARD-READ_AFTER_WRITE ] Object 0: handle = 0x1d

[2022-07-23 22:45] Simoncl commented on #4345
yep Thank you again for our time.

[2022-07-24 02:26] #4345 closed

[2022-07-24 02:38] Valakor commented on #4256
I'm also seeing this error, though I get it without having to ever retrieve the image views from the swapchain. I sporadically receive the "Couldn't find VkImage Object" error from the validation layers when destroying an old swapchain after creating a new one (e.g. after resizing my application window). This occurs regardless of whether or not I have fine-grained locking enabled as well.

**Envir

[2022-07-24 08:44] CarloWood opened #4347 "Hard to understand grammar mistake in validation error."
I am getting the following validation error:

"Validation Error: [ VUID-vkCmdDraw-None-02697 ] Object 0: handle = 0x89e60f0000000042, name = pipeline [0x555557093790], type = VK_OBJECT_TYPE_PIPELINE; Object 1: handle = 0x2e2cd000000002b, name = m_pipeline_layout2 [0x555557093790], type = VK_OBJECT_TYPE_PIPELINE_LAYOUT; Object 2: handle = 0xba7514000000002a, name = m_pipeline_layout1 [0x55555709379

[2022-07-25 16:21] charles-lunarg opened #4349 "vkGetDeviceProcAddr called with non-device functions doesn't emit validation"
**Describe the situation in which you encountered the missing validation**
Validation layers do not emit anything when a user attempts to load an instance/physical device function from `vkGetDeviceProcAddr`. This is not allowed by the spec, yet some drivers seem to allow it. While VVL cannot (easily) enforce correct behavior, it can at least emit a validation error.

**Valid Usage IDs requested**

[2022-07-25 18:47] natevm opened #4350 "Debug printf reports "Mixed stage shader module not supported""
**Describe the Issue**

I am trying to compile a collection of ray tracing entry points all from one .hlsl file into one .spv file, which I currently can do through the DXC compiler. I would also like to use "printf" for debugging. If I could do this, I could very closely mimic our current CUDA/OptiX workflow, but with Vulkan, and in a much more device-agnostic setup.

Unfortunately, when I try to

[2022-07-25 21:06] greg-lunarg commented on #4350
I am fairly certain this restriction can be lifted fairly easily. I think we only put this restriction in because we weren't certain this capability (multiple stages in a single module) would be used and so didn't want to spend the effort making sure it worked.

I will take a look and report back.

[2022-07-25 21:24] ncesario-lunarg commented on #4350
Aside from debug printf, please keep in mind that there are currently known holes in general shader validation when it comes to multiple entry points, particularly with respect to [push constants](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/5be968397f1ad39d6925fea3cddbca0d959eb621/layers/shader_validation.cpp#L388) and [transform feedback](https://github.com/KhronosGroup/Vulkan-Va

[2022-07-25 22:26] natevm commented on #4350
That's good to hear, and thanks for the heads up about push constants and transform feedback.

For what it's worth, it seems I can use a regex to remove all lines starting with "OpEntryPoint" that aren't used by the current shader module, and then use the assembler in SPIRV tools to get a program that works---or at least, the validation layers don't report the above error anymore.

It would be nic

[2022-07-25 22:48] greg-lunarg commented on #4350
OK. After reviewing the code, I now remember the reason for this restriction.

As I said earlier, multi-stage modules can be supported, but they will require additional handling/logic.

The issue is that, for the general instrumentation support which printf is built on, there is stage-specific info that is written out.

So if there are any functions which are shared between call trees of two entry

[2022-07-25 22:58] natevm commented on #4350
One of the motivating reasons we have for including multiple entry points within one program is that entry points can share common functions. For example, we might use the same quad software intersection test in a ray tracing intersection program as we do in a ray generation program for handling analytical light sources, and we'll share more general shading code is across closest hit programs for

[2022-07-26 00:19] ncesario-lunarg commented on #4350
If avoiding code duplication is the main goal, could using `#include` directives (I think DXC supports this?) be a short term solution (e.g., putting your intersection and generation programs in separate files, but including a "common.hlsl" file)?

[2022-07-26 00:43] natevm commented on #4350
A common HLSL file would help yes, but code de-duplication isn’t the main goal.

The real goal is to replicate our current OptiX workflow as much as possible, where nvcc compiles all ray tracing shader entry points into one single PTX output, and printf’s can be used throughout the device code. I’m close to having this work by substituting nvcc for dxc and using the debug printf extension. This is

[2022-07-26 06:30] archimedus opened #4351 "VUID-vkCreatePrivateDataSlot-privateData-04564 check is present, but not trigger"
**Describe the situation in which you encountered the missing validation**
Issue description:

For the extension VK_EXT_private_data additional validation is desirable.
Following extension functions should produce a validation error:

    vkCreatePrivateDataSlotEXT
    vkDestroyPrivateDataSlotEXT
    vkGetPrivateDataEXT
    vkSetPrivateDataEXT

if private data feature is not enabled during VkDevic

[2022-07-26 07:13] #4347 closed

[2022-07-26 12:58] danginsburg opened #4352 "VUID_Core_Shader_OutputNotConsumed incorrectly reported as error?"
**Describe the Issue**
Starting with 43c84ca0466d21c9fb21d8364275dffe6095336e if VK_KHR_maintenance4 is not enabled, outputs not being consumed by a shader stage was changed from a performance warning into an error.  I'm not sure what the basis of this change was according to the specification.

Since at least Vulkan 1.0.22 the specification has had language in section 15.1.3 Interface matching th

[2022-07-26 13:09] Tony-LunarG commented on #4351
There's a test in tests\vklayertests_others.cpp for that VUID.  It's called PrivateDataFeature and you can run it (after building tests) by exporting VK_LAYER_PATH to your layers build directory and running
vk_layer_validation_tests.exe --gtest_filter=VkLayerTest.PrivateDataFeature

Does that test pass for you?  If so, what could you be doing or not doing that the test is doing or not doing.  If n

[2022-07-26 14:38] natevm commented on #4350
Quick update, unfortunately it seems my workaround of removing unnecessary  OpEntryPoint instructions doesn’t work. My modified SPIRV passes validation with SPIRV Tools, but then attempting to create the shader module from the modified IR causes an access violation somewhere in the driver.

So I’m a bit back to square one… If we can get this issue fixed that would be really helpful. At the moment

[2022-07-26 17:24] ncesario-lunarg commented on #4352
I vaguely recall some confusion when this was turned into an error, and thought part of that stemmed from https://github.com/KhronosGroup/Vulkan-Docs/pull/1860, but can't recall the details. In any case, this this looks valid and the spec seems pretty clear. I'm guessing our current check catches both the case where
1. an output variable has more components than an input variable (which _is_ a val

[2022-07-26 22:17] sjfricke commented on #4148
can this be closed @stedob02 ?

[2022-07-26 22:32] sjfricke commented on #4352
The warning --to--> error was added by @stedob02 in https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/4163

So **to my knowledge** (might need someone internally with Gitlab access to research/remind why it was added to `VK_KHR_maintenance4`), the idea of the change in `VK_KHR_maintenance4` was because a vendor was not able to properly handle the interface mismatch and by supporting `VK

[2022-07-27 07:13] lxrui opened #4354 "vkEnumeratePhysicalDevices get incorrect device info on win10"
**Describe the Issue**
vkEnumeratePhysicalDevices() get 5 physical device(intel630 + 1080x2 + 3090x2) on Alienware laptop with intel630 + 1080 (embedded) + 3090(Alienware Graphic AmPlifier) actually.
Whether I create vkDevice on 1080 or 3090, the program will crash on glActiveTexture().
Only if I disable the 3090 in the Device Manager, vkEnumeratePhysicalDevices() can get correct result and the pr

[2022-07-27 10:34] sjfricke commented on #4321
sorry for the delayed reply, so there are 2 ways to "texture array" essentially

1. Use multiple `VK_IMAGE_VIEW_TYPE_2D` image view and `descriptorCount > 1` like

[code]
and in your shader you go

[code]

2. Use multiple `VK_IMAGE_VIEW_TYPE_2D_ARRAY` image view and `descriptorCount == 1` like

[code]
and in your shader you go

[code]

------------

A few other things

1. `layout(binding = 1) unif

[2022-07-27 12:14] danginsburg commented on #4352
According to @Tobski in this comment the scenario I mention above (fragment shader having only user-defined input with location 1 while VS outputs 0/1) is allowed: https://github.com/KhronosGroup/Vulkan-Docs/issues/666#issuecomment-869491481

That issue was linked to from Khronos internal gitlab on the MR that was part of VK_KHR_maintenance4 that rewrote the interface matching section.  I think it

[2022-07-27 14:34] jeremyg-lunarg commented on #4354
Are you running the validation layer when this happens? If not this should probably be a [Vulkan-Loader](https://github.com/KhronosGroup/Vulkan-Loader) issue.

[2022-07-27 15:08] aitor-lunarg opened #4355 "Descriptor validation for OpTypeImage prematurely checks signedness"
**Describe the Issue**
As stated in the title, if we have an OpTypeImage (https://registry.khronos.org/SPIR-V/specs/unified1/SPIRV.html#OpTypeImage) with a mismatching `Sampled Type` of the bound image we will get `VUID-vkCmdDispatch-None-02699` even if the access respects `Image Format`'s signedness.

The spec (https://registry.khronos.org/vulkan/specs/1.3-extensions/html/vkspec.html#spirvenv-for

[2022-07-27 19:20] zmike commented on #4352
The other (related) issue is that this error still prints if `VK_KHR_maintenance4` (the extension) is enabled.

[2022-07-27 19:53] ncesario-lunarg commented on #4352
@Tobski's comment would seem to confirm my assumption, though I've yet to look at that check in more detail.

@zmike the error printing when maintenance4 is enabled sounds like a straight up bug in validation, but I think we're testing that case. Is the maintenance4 feature enabled?

[2022-07-27 20:00] greg-lunarg commented on #4350
I am glad you figured out a workaround. But there appears to be a need for the printf capability to be enhanced in terms of shaders that are supported.

From your reply, it appears that we should at least check for and handle the case where there is no shared functions between entry points. This condition can be accomplished with spirv-opt inlining.

The other option is to create a stage-agnostic

[2022-07-27 20:13] zmike commented on #4352
@ncesario-lunarg ignore me, I forgot there was a feature bit for this one :grimacing:

[2022-07-27 22:28] ncesario-lunarg commented on #4355
I feel like this has been reported elsewhere as well, but can't find it at the moment, but yeah, pretty sure this is a known problem unfortunately  :/

[2022-07-28 01:18] ziga-lunarg commented on #4355
@ncesario-lunarg I've asked this in the chat about a week ago, maybe that's what you're thinking of.

[2022-07-28 02:17] lxrui commented on #4354
Thank for your hint, I will move it to Vulkan-Loader. And do you have any ideal about this issue?

[2022-07-28 02:19] #4354 closed

[2022-07-28 02:19] lxrui commented on #4354
move to vulkan-loader: https://github.com/KhronosGroup/Vulkan-Loader/issues/986

[2022-07-28 15:27] ncesario-lunarg commented on #4355
Yep @ziga-lunarg, that's what I was thinking of, just completely forgot where I saw it :)

[2022-07-28 17:34] natevm commented on #4350
Agreed. I would gladly test this change too. spirv-opt inlining is completely fine with me. It seems like that wouldn't be too much work, though I'm unfamiliar with what's happening under the hood.

Long term, I suspect the stage-agnostic approach will scale better.

[2022-07-29 20:04] #4352 closed

[2022-08-01 17:18] greg-lunarg commented on #4350
Looking more at the stage-agnostic solution, I believe this is not a good solution as I believe there is a good reason to keep the stage specificity.

Since we possibly/likely are generating multiple printf statements, the printf instrumentation adds information to each message stating the stage and the instance of the stage that generated that message.

This was initially something that was done

[2022-08-01 17:59] natevm commented on #4350
That partially makes sense, but from the outside I'm still a bit confused... Just to clarify, why is it an issue for printf that multiple entry points share common functions? I get why printf might want to know which entry point called that printf. What I don't understand is why shared functions prevent this metadata from being attached to the printf.

Perhaps you could just enable the printf's me

[2022-08-01 18:24] greg-lunarg commented on #4350
Debug printf is built on instrumentation code that is stage-specific.

We could possibly re-design the instrumentation to not be stage-specific, but it would add to size, speed and complexity for GPU-assisted validation and debug printf for the majority of codes out there. And it would be costly and disruptive.

At the time the instrumentation was designed, and even today, stage-specificity is not

[2022-08-01 18:30] versalinyaa opened #4366 "Missing VUID-VkGraphicsPipelineCreateInfo-pViewportState-04892"
**Describe the situation in which you encountered the missing validation**
Found by code inspection while debugging a Mesa driver.

**Valid Usage IDs requested**
`VUID-VkGraphicsPipelineCreateInfo-pViewportState-04892`

**Additional Context**
The missing VUID is a sibling of `VUID-VkGraphicsPipelineCreateInfo-rasterizerDiscardEnable-00750`, which is handled correctly.

[2022-08-01 18:34] natevm commented on #4350
Hm, ok, just to clarify,
If I have two stages and a common function between them:

[code]

That common function needs to be inlined so that the printf has context as to which shader stage is calling it?

[2022-08-01 21:33] greg-lunarg commented on #4350
Yes, commonFunction() would need to be inlined. This can be easily (?) done with spirv-opt --eliminate-dead-code-aggressive. The ? suggests it is possible that this inlining might not work due to some restriction, but fairly unlikely as it has been pretty well tested and generally works.

We would still need to add logic to the debugPrintf pass to allow for multi-stage when no common function exis

[2022-08-01 23:20] ncesario-lunarg commented on #4343
@deprilula28 sorry for the late reply, do you happen to have a trace or other means of reproducing this? I see the swapchain image creation you've referenced, but this error is triggered at present time and has to do with `vkAcquireNextImageKHR`. If there was no validation error during swapchain image creation, there probably isn't a problem there.

[2022-08-01 23:29] greg-lunarg commented on #4350
Sorry. Must have had a case of the Monday brain cramps. Meant to say:

This can be easily (?) done with `spirv-opt --inline-entry-points-exhaustive ...`

[2022-08-02 22:06] natevm commented on #4350
Sounds like a plan! :)

Could this inlining be done with the dxc compiler? At the moment, I'm using dxc to compile multiple entry points into one .spv file, and then I use SPIR-V tools to tweak the final spv. Ideally I could drop SPIR-V tools from my repo and just use the output from dxc directly. Wondering if it's possible somehow to use "--inline-entry-points-exhaustive" with dxc then.

[2022-08-04 02:22] TheRealMJP opened #4376 "Deadlock/hang on Windows when unbinding resources during vkRenderPassBegin"
**Describe the Issue**
Hello, our engine has encountered an issue where the validation layer deadlocks while trying to take out an exclusive write lock after a specific series of commands. What seems to be happening is that `CMD_BUFFER_STATE::lock` is locked exclusively for writing in `ValidationStateTracker::PreCallRecordCmdBeginRenderPass`, but then the call to `CMD_BUFFER_STATE::UnbindResources

[2022-08-04 15:41] jeremyg-lunarg commented on #4376
@TheRealMJP , thanks for including the stack trace in your report. That made it easy to figure out what was happening. I've uploaded a possible fix but haven't reproduced the deadlock locally yet. Can you give it a try? Also any chance you can send an api dump or gfxrecon trace that shows the problem? I'd really like to make a unit test that covers this. Thanks!

[2022-08-04 21:40] TheRealMJP commented on #4376
Hi @jeremyg-lunarg, thanks for replying so quickly! I've uploaded the apitrace for a full frame, which I captured without the validation layer enabled since it of course hangs. The hang occurs on the second call to vkCmdBeginRenderPass in the frame (there are 3 render passes in that capture).

Thanks again, and please let me know if you need anything else!

[vk_validation_hang_apitrace.txt](https:

[2022-08-05 19:44] csmartdalton opened #4387 "SYNC-HAZARD-READ_AFTER_WRITE: false positive with VK_EXT_fragment_shader_interlock"
**Describe the Issue**

I'm hitting SYNC-HAZARD-READ_AFTER_WRITE in the validation layers for VK_LAYER_KHRONOS_validation, while using the [VK_EXT_fragment_shader_interlock](https://registry.khronos.org/vulkan/specs/1.3-extensions/man/html/VK_EXT_fragment_shader_interlock.html) interlock extension.

**Specific use case:**

1. Issue a draw that stores to an image from inside the interlock
2. Issue

[2022-08-05 22:02] Tony-LunarG commented on #4267
Still needs validation for VUID-VkMultisampledRenderToSingleSampledInfoEXT-pNext-06879
which is under question here https://gitlab.khronos.org/vulkan/vulkan/-/issues/3169

[2022-08-08 05:50] martty opened #4388 "Missing validation for simultaneous use of parameters for vkQueuePresentKHR"
**Describe the situation in which you encountered the missing validation**
Issue description: vkQueuePresentKHR has some externally synchronized parameters, most importantly the swapchain, which is not validated.

**Valid Usage IDs requested**
Please include the valid usage IDs for the checks you are requesting: external synchronization

**Additional Context**
Any additional information:

[2022-08-08 08:13] sjfricke commented on #4388
all the externally synchronized parameters should be done in `layers/generated/thread_safty.cpp` but looking at the spec there are a few parameters that are arrays (`pWaitSemaphores` and `pSwapchains` for `vkQueuePresentKHR`)

`vkResetFences`, `vkFreeDescriptorSets`, `vkFreeCommandBuffers`, and `vkCreateSharedSwapchainsKHR` seem to be doing it correctly for their array parameters, but there is not

[2022-08-08 21:15] jimblandy opened #4391 "Occasional crash in `GetLayerDataPtr<ValidationObject>`"
In about one run in fifty, I get a crash running the `wgpu` crate's `wgpu-tests` test suite (for details, see gfx-rs/wgpu#2949) where `vulkan_layer_chassis::BindImageMemory` calls `GetLayerDataPtr` and things go awry.

**Environment:**
 - OS: Linux
 - GPU: AMD RADV POLARIS12
 - SDK or header version if building from repo: Fedora package vulkan-validation-layers-1.3.204.0-1.fc36.x86_64
 - Options e

[2022-08-09 17:46] #4376 closed

[2022-08-10 12:33] PixelyIon opened #4400 "No checks during `vkAllocateDescriptorSets` for push-descriptor descriptor layouts"
**Describe the situation in which you encountered the missing validation**
There's no validation error when a `VkDescriptorSetLayout` that was created with the `VK_DESCRIPTOR_SET_LAYOUT_CREATE_PUSH_DESCRIPTOR_BIT_KHR` flag is passed into `vkAllocateDescriptorSets`.

**Valid Usage IDs requested**
[`VUID-VkDescriptorSetAllocateInfo-pSetLayouts-00308`](https://registry.khronos.org/vulkan/specs/1.3-ex

[2022-08-10 15:46] sjfricke commented on #4400
This is being validated
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/5bd80db8bd3f06d20e6aac389f841742839f8cfc/layers/descriptor_validation.cpp#L2855

1. What version of the Validation layers (or SDK) are you using?
2. You have an [API dump](https://vulkan.lunarg.com/doc/view/latest/windows/api_dump_layer.html) of the section or another way to reproduce this as there already is a te

[2022-08-10 21:41] karl-lunarg commented on #2723
Upvoting.   Could have possibly helped in this [situation](https://stackoverflow.com/questions/58683979/why-some-pixels-sample-wrong-texture-in-fragment-shader), with the additional decoration of the index in the shader.

[2022-08-10 23:49] zhangyiwei opened #4402 "Potential race for sync fd fence export and retire"
**Describe the Issue**
sync_fd external fence export implies a fence reset operation, which has been reflected by `PostCallRecordGetFenceFdKHR`. However, it misses to remove this exported sync_fd fence from the associated submission. If there's another fence been waited, the prior submissions will be processed and the associated fence will be set to retired. Then the below VU violation shows up up

[2022-08-11 00:01] zhangyiwei commented on #4402
Hmmm, https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/4281 might have just fixed this external sync_fd fence issue as well with the additional condition of `state_ == FENCE_INFLIGHT` before retiring the fence. Let me build the tot to check.

[2022-08-11 16:20] ncesario-lunarg commented on #4148
Going to close this out, but please re-open if you're still encountering issues.

[2022-08-11 16:20] #4148 closed

[2022-08-12 14:15] oddhack opened #4411 "Does VVL use the XML 'extension' attribute on <requires> tags?"
We need to make a schema update to allow greater flexibility in describing extension dependencies of APIs, but I don't know if that change would have downstream impacts - checking here as a first step. See internal issue 2922 in the vulkan repo for more context.

[2022-08-12 17:00] ncesario-lunarg commented on #4411
I would say yes: https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/20f4a87be1735a6aa6506388e51f3e1b5f07d0c5/scripts/parameter_validation_generator.py#L655

I'm pretty sure this is used to generate code for making sure dependent extensions are enabled, but there are probably other purposes. @mikes-lunarg may have some additional context.

[2022-08-12 19:06] zhangyiwei commented on #4402
No matter this gets luckily fixed by #4281 or not, I still encourage an explicit path for sync_fd specialty to avoid future regressions ; )

ps: sorry i haven't gotten time to test against tot yet

[2022-08-12 19:10] jeremyg-lunarg commented on #4402
Can you provide any code or just a list of API calls that would be a good starting point for a test case for this?

[2022-08-12 19:49] ShabbyX opened #4413 "Primitive restart check for lists without VK_EXT_primitive_topology_list_restart doesn't take dynamic state into account"
To repro:

- Create a pipeline with `primitiveRestartEnable=0`, but with `VK_DYNAMIC_STATE_PRIMITIVE_RESTART_ENABLE`. Use a list topology
- Set `vkCmdSetPrimitiveRestartEnable(1)`
- Observe that no error is produced

Expected behavior: `VUID-VkPipelineInputAssemblyStateCreateInfo-topology-00428` should be produced

[2022-08-12 21:36] mikes-lunarg commented on #4411
@ncesario-lunarg That's really all we use it for. Currently, this extension check is only done for entry points so the proposed change from internal MR 5355 won't cause any problems right away (though it would still be a good idea to implement the expanded schema). Supporting logical ORs in the list of extension dependencies will take some rework as well.

[2022-08-12 21:49] ncesario-lunarg commented on #2723
@karl-lunarg found the corresponding [VUID](https://registry.khronos.org/vulkan/specs/1.3-extensions/html/chap46.html#VUID-RuntimeSpirv-NonUniform-06274) for this, but after some discussions with @jeremy-lunarg, I don't think it's possible for us to enforce this, at least not as an error. The problem is the _dynamic_ part of "_dynamically_ uniform." While we can check whether or not a variable in

[2022-08-12 23:47] zhangyiwei commented on #4402
Setup
- 1 queue
- 2 native fences created with signaled states
- 1 sync_fd external fence

A sequence would be:
- reset native fence 1
- submit native fence 1
- wait native fence 2
- submit sync_fd fence
- export sync_fd fence
- reset native fence 2
- submit native fence 2
- wait native fence 1
- submit sync_fd fence <= seeing `VUID-vkQueueSubmit-fence-00063` violation
- export sync_fd fence
- kee

[2022-08-13 13:35] Cyphall opened #4414 "Validation error regarding VkPipelineLayout lifetime"
**Describe the Issue**
The Vulkan specification says :

If I understand this correctly, it means that when I create a `VkPipeline` using a `VkPipelineLayout`, once the call to `vkCreateGraphicsPipelines()` returns, the `VkPipelineLayout` can be safely destroyed.
However, the validation message I recieved tells me that I am supposed to keep the `VkPipelineLayout` object alive for the lifetime of th

[2022-08-13 17:27] Rua opened #4415 "Flags or enum bits are not validated against the instance or device support"
For any flag or enum bit anywhere in the API, if that bit is only available from a certain API version onwards, or only with a particular extension, then there is no validation error for using that bit without the necessary version and/or enabled extension. For example, `VK_IMAGE_LAYOUT_PRESENT_SRC_KHR` is only available in the `VK_KHR_swapchain` extension. If this extension is not enabled, but th

[2022-08-14 04:53] sjfricke commented on #4415
I think this might be a duplicate of https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2787

[2022-08-14 05:03] sjfricke commented on #4413
So if you go

[code]

I would assume would still be allowed to be valid, so I do agree validation is missing, but disagree it would be expected to have `VUID-VkPipelineInputAssemblyStateCreateInfo-topology-00428` and instead it seems there needs to be a new VUID added to the spec at draw time to check for this.

(most likly in `chapters/commonvalidity/draw_vertex_binding.txt` under `VUID-vkCmdDraw

[2022-08-14 15:23] procedural opened #4416 "AHardwareBuffer_describe symbol missing in latest release, again"
Is Android 24 still supported? I currently get the same error
[code]
as https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/2287 from 2 years ago, on Android 24.

[2022-08-14 15:24] procedural commented on #4416
The latest release I use: https://github.com/KhronosGroup/Vulkan-ValidationLayers/releases/tag/sdk-1.3.216.0

[2022-08-14 15:29] procedural commented on #4416
Yea, [PR_build.zip](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/5489680/PR_build.zip) from https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2294 works on Android 24, while [the latest one](https://github.com/KhronosGroup/Vulkan-ValidationLayers/releases/tag/sdk-1.3.216.0) doesn't, so I assume the support for Android 24 was dropped? Accidentally, I assume?

[2022-08-14 15:41] procedural commented on #4416
Oh, the release builds assume Android 26, to make it work on Android 24 one has to build it himself/herself. Ugh. 😁 Fine. Closing.
https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/2294/files#diff-40f60e1037245d7b8a98a7325d53890a717da9979adeb54a61a795c4ba07f9c9R660

[2022-08-14 15:41] #4416 closed

[2022-08-15 15:32] ncesario-lunarg commented on #4415
I believe @sjfricke is correct. @paul-lunarg if you'd like to take this, I have a prototype [here](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/4228), but haven't had a chance to finish it yet.

[2022-08-15 19:33] ncesario-lunarg commented on #4387
@jeremyg-lunarg @jzulauf-lunarg any thoughts? I don't have a good grasp as to why this modification to the shader would have this effect. I also didn't realize sync validation was hooking into the shader module state at all?

[2022-08-16 02:31] ShabbyX commented on #4413
Yes should be. You're right the VUID is probably not the same, hadn't checked that.

[2022-08-16 16:58] McFlyboy opened #4422 "Validation errors from presentation only appear if I create semaphores after creating the swapchain"
**Describe the Issue**
I have set up a render loop using the Vulkan-Hpp raii headers with validation layers enabled. So far I'm only using a renderpass to clear the images before presentation. No pipelines or draw commands are being called.
As I'm just starting out I have been using `device.waitIdle()` for synchronization instead of using semaphores and fences.
However, the first two times I try t

[2022-08-16 20:27] lunarpapillo opened #4425 "Pixel 6 crashes and failures"
We're preparing to add the Goole **Pixel_6** to CI.  Running VVL on a **Pixel_6** with the July 15, 2022 Google system update:
[code]
provokes 13 crashes and 16 failures.  These are being removed from CI testing until VVL engineers have opportunity to address them.  When the issues have all been addressed, please assign this back to the originator, to remove the CI blacklist.

#### 13 crashing tes

[2022-08-16 20:28] lunarpapillo commented on #4425
This output might help provide more information about the failures (but not about the crashes):
[blacklist.txt](https://github.com/KhronosGroup/Vulkan-ValidationLayers/files/9354476/blacklist.txt)

[2022-08-17 00:37] saran-t opened #4427 "`VkImageMemoryBarrier-image-00004` doesn't take timeline semaphores into account"
**Describe the Issue**
I have a `VkImage` that is used as a color attachment output on the graphics queue family and as a transfer source on the dedicated transfer queue family. The command buffer on the graphics queue consists of a render pass followed by an image release barrier. The command buffer on the transfer queue consists of an image acquire barrier followed by a `vkCmdCopyImageToBuffer`.

[2022-08-17 02:13] drewcrawford opened #4428 "spurious VUID-vkDestroySemaphore-semaphore-01137?"
**Describe the Issue**
I am attempting to track down a (spurious?) VUID-vkDestroySemaphore-semaphore-01137 in my application.

I have tracked it down to [this reproducer](https://github.com/drewcrawford/semaphore-repro), on my system this reproduces in a few seconds on 3 out of 5 attempts.

[code]

I will briefly summarize the access pattern in the reproducer:
1.  In a frame-paced loop, empty comm

[2022-08-17 05:42] sjfricke commented on #4425
- `CreatePipelineLayoutExcessPerStageDescriptors`
- `CreatePipelineLayoutExcessDescriptorsOverall`
- `DrawIndirectByteCountEXT`
- `ImageDrmFormatModifer`

 are failing from the

error that we have seen before. The fix is to either make sure to call `SetTargetApiVersion(VK_API_VERSION_1_1);` or use the new `VkLayerTest::GetPhysicalDevice(Features|Properties)2` Nate added which I purpose doing (and

[2022-08-17 05:45] sjfricke commented on #4425
also related issue (might be some overlap) https://github.com/KhronosGroup/Vulkan-ValidationLayers/issues/4273

[2022-08-17 05:52] sjfricke commented on #4425
The `VkGpuAssistedLayerTest` tests seem to be failing because you must have a [Mali GPU Pixel 6](https://vulkan.gpuinfo.org/displayreport.php?id=15551#features) which doesn't support `vertexPipelineStoresAndAtomics` like the [Adreno GPU Pixel 6](https://vulkan.gpuinfo.org/displayreport.php?id=15189#features)... the fix would to properly check for the required features needed for all the `VkGpuAssi

[2022-08-17 13:51] jeremyg-lunarg commented on #4427
This is a duplicate of #2441. The validation for the above error occurs at submission time but it really should occur at execution time. Fixing this problem requires quite a bit of rearranging but we are slowly getting to the point where it can be fixed.

[2022-08-17 13:51] #4427 closed

[2022-08-17 22:08] lunarpapillo opened #4433 "Crashes and failures on Linux AMD Radeon RX 6800 XT (RADV NAVI21)"
We've updated our **Ubuntu Mesa RADV** to a **Radeon RX 6800 XT**.
#### Crashes: 7
- `VkLayerTest.TransformFeedbackCmdBindTransformFeedbackBuffersEXT`
- `VkLayerTest.TransformFeedbackCmdBeginTransformFeedbackEXT`
- `VkLayerTest.TransformFeedbackCmdEndTransformFeedbackEXT`
- `VkLayerTest.BindImageMemorySwapchain`
- `VkPositiveLayerTest.CmdClearAttachmentTestsDynamicRendering`
- `VkPositiveLayerTest

[2022-08-17 23:52] lunarpapillo commented on #4425
Correct - this one is a Mali-G78, but I think its proper gpuinfo link is: https://vulkan.gpuinfo.org/displayreport.php?id=12851

Hmmm, I wasn't even aware there were flavors of **Pixel 6**...

[2022-08-17 23:55] ncesario-lunarg opened #4435 "Code-generate allowed DRM modifier structs in VkImageCreateInfo for 02251 validation"
When checking the formats in a `VkImageDrmFormatModifierListCreateInfoEXT` at image creation time, we need to ensure that all structs that extend from `VkPhysicalDeviceImageFormatInfo2` and `VkImageCreateInfo` are added to the `VkPhysicalDeviceImageFormatInfo2` at https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/21624bdccce73eee8680bd9fe7892e9128b3ce85/layers/buffer_validation.cpp#L182

[2022-08-18 12:14] oddhack commented on #4411
OK, the internal MR is ready now - I pinged @mikes-lunarg there to ask if VVL could check out the XML change and see if it causes issues. If not, your signoff on the MR would be welcome.

[2022-08-18 12:17] pascal-gw commented on #3672
Hi,

With the version 1.3.216.0 the same test is now crashing.

In `shader_validation.cpp` we have
[code]

When a pipeline is created with its `stageCount` set to `0` and its `pStages` set to `nullptr` (relying on the stages from the pipeline libraries). Then `stages` (from the previous code block) is empty and it crashes there
[code]

Cheers,
Pascal.

[2022-08-18 14:13] sugoi1 opened #4440 "`assert(VendorCheckEnabled(kBPVendorNVIDIA));` getting hit in Debug"
We're seeing asserts in Debug builds on all platforms in "BestPractices::RecordResetZcullDirection" when not using the NVidia driver here:
[Vulkan-ValidationLayers/layers/best_practices_utils.cpp](https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/27f1e075c41daf1b3c229b48f913eb5649b28530/layers/best_practices_utils.cpp#L2055)

`assert(VendorCheckEnabled(kBPVendorNVIDIA));` is getting hit

[2022-08-18 14:15] sugoi1 commented on #4440
@rlocatti-nv @ncesario-lunarg PTAL

[2022-08-18 17:04] rlocatti-nv commented on #4440
`PreCallRecordCmdClearDepthStencilImage` doesn't have a vendor check guard. Working on a fix.

[2022-08-18 17:07] jzulauf-lunarg commented on #4387
Sync Val is labeled as "limited extension support"... add this to the list of extension needing support.

[2022-08-18 18:08] ncesario-lunarg commented on #4387
Thanks for taking a look @jzulauf-lunarg, are we tracking this somewhere already (i.e., "missing extension support in sync validation")? I wasn't able to find a related issue or project.

[2022-08-18 19:17] jzulauf-lunarg commented on #4387
It would probably be easier list what we *do* support than what we don't.  I don't see a clear list of it anywhere.

[2022-08-18 19:20] mikes-lunarg commented on #4411
I gave a thumbs up on the internal MR, will close this now

[2022-08-18 19:20] #4411 closed

[2022-08-18 19:22] #4440 closed

[2022-08-19 23:27] jeremyg-lunarg opened #4449 "tests: SetTargetApiVersion() should return void"
This function returns the minimum of the requested version and the version supported by the instance. Sometimes it is used to skip tests that require a version. But this is incorrect.  We also need the physical device version to meet the requirement.

So... this function should return void and DeviceValidationVersion() should be checked instead.

For even more fun, can we make InitState() return a

[2022-08-22 23:20] MarkY-LunarG commented on #4312
I found some additional info while working on this:

Removed (mentioned above):
[code]

Additional Remove (not mentioned above):
[code]

Changed:
[code]

New:
[code]

[2022-08-22 23:42] laurelkeys opened #4456 "Access violation with NVIDIA Best Practices enabled"
**Describe the Issue**
When testing the new NVIDIA Best Practices validation, an "**access violation writing location**" exception is thrown at `tree.GetState(layer, level)`:
https://github.com/KhronosGroup/Vulkan-ValidationLayers/blob/ac04e812d469b459358675a7249f10094591f915/layers/best_practices_utils.cpp#L2099-L2107

This happens because the `subresource_range` is using the following two [speci

[2022-08-23 00:31] laurelkeys opened #4457 "Incorrect ONE_TIME_SUBMIT warning with NVIDIA Best Practices enabled"
**Describe the Issue**
Enabling the new NVIDIA Best Practices validation incorrectly reports the following **Validation Performance Warning** (line 1514):
`[NVIDIA] vkBeginCommandBuffer(): VK_COMMAND_BUFFER_USAGE_ONE_TIME_SUBMIT_BIT was not set and the command buffer has only been submitted once. For best performance on NVIDIA GPUs, use ONE_TIME_SUBMIT.` even though `pBeginInfo->flags` = `VK_COMMA

[2022-08-23 00:47] laurelkeys commented on #4456
Side note: besides `RecordSetZcullDirection()` from the snippet above, [NVIDIA Best Practices](https://github.com/KhronosGroup/Vulkan-ValidationLayers/pull/4353) also added `RecordResetZcullDirection()` and `ValidateZcull()` and both have for-loops over `.layerCount` and `.levelCount` without checking for `~0U`.